Repository langflow-ai/langflow, pull requests merged in 2023-12, with the labels that each got.

#1169 Fix embedding function name in FAISS and update dependencies
  poetry.lock
  pyproject.toml
  src/backend/langflow/interface/initialize/vector_store.py
Labels: Release

#1172 Ignore "repr" key in process_inputs
  pyproject.toml
  src/backend/langflow/processing/process.py
Labels: Release

#1176 Pin bcrypt version and update package version
  poetry.lock
  pyproject.toml
  src/backend/langflow/components/vectorstores/Faiss.py
  src/backend/langflow/config.yaml
Labels: Release

#1203 Hotfix: 0.6.1
  poetry.lock
  pyproject.toml
  src/backend/langflow/api/v1/chat.py
  src/backend/langflow/graph/graph/base.py
  src/backend/langflow/graph/graph/constants.py
Labels: Release, size:M

#1204 Add unique constraints to tables
  .gitignore
  pyproject.toml
  src/backend/langflow/alembic/versions/006b3990db50_add_unique_constraints.py
  src/backend/langflow/api/v1/chat.py
  src/backend/langflow/services/cache/factory.py
  src/backend/langflow/services/database/service.py
  src/backend/langflow/template/field/base.py
Labels: Release, size:M

#1205 feat(pageLayout): add support for displaying a beta icon in the page …
  src/frontend/src/components/pageLayout/index.tsx
  src/frontend/src/pages/StorePage/index.tsx
  src/frontend/src/style/applies.css
Labels: size:S

#1206 refactor(GenericNode): simplify conditional class assignment for the …
  src/frontend/src/CustomNodes/GenericNode/index.tsx
Labels: size:XS

#1207 Adds Google Generative AI Component and other small bugfixes
  .dockerignore
  .github/stale.yml
  .github/workflows/ci.yml
  README.md
  cdk.Dockerfile
  container-cmd-cdk.sh
  docker-compose.yml
  poetry.lock
  pyproject.toml
  scripts/aws/.env.example
  scripts/aws/.gitignore
  scripts/aws/.npmignore
  scripts/aws/README.ja.md
  scripts/aws/README.md
  scripts/aws/bin/cdk.ts
  scripts/aws/cdk.json
  scripts/aws/delete-docker-images.sh
  scripts/aws/delete-resources.sh
  scripts/aws/img/langflow-archi.png
  scripts/aws/img/langflow-cfn.png
  scripts/aws/img/langflow-cloud9-en.png
  scripts/aws/img/langflow-signin.png
  scripts/aws/jest.config.js
  scripts/aws/lib/cdk-stack.ts
  scripts/aws/lib/construct/backend.ts
  scripts/aws/lib/construct/db.ts
  scripts/aws/lib/construct/ecr.ts
  scripts/aws/lib/construct/frontend.ts
  scripts/aws/lib/construct/iam.ts
  scripts/aws/lib/construct/index.ts
  scripts/aws/lib/construct/network.ts
  scripts/aws/package-lock.json
  scripts/aws/package.json
  scripts/aws/test/cdk.test.ts
  src/backend/langflow/components/llms/GoogleGenerativeAI.py
  src/backend/langflow/interface/initialize/utils.py
  src/backend/langflow/settings.py
  src/frontend/cdk.Dockerfile
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/components/pageLayout/index.tsx
  src/frontend/src/modals/formModal/index.tsx
  src/frontend/src/pages/StorePage/index.tsx
  src/frontend/src/style/applies.css
Labels: size:XL

#1211 Update version to 0.6.3a0 in pyproject.toml
  pyproject.toml
Labels: pre-release, size:XS

#1212 Update version to 0.6.3a1 in pyproject.toml
  pyproject.toml
Labels: pre-release, size:XS

#1225 Update version to 0.6.3a2 in pyproject.toml
  pyproject.toml
Labels: pre-release, size:XS

#1226 Migrate Weaviate to CustomComponent
  src/backend/langflow/components/vectorstores/Weaviate.py
  src/backend/langflow/config.yaml
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, python, size:M

#1230 Update version to 0.6.3a3 in pyproject.toml
  pyproject.toml
Labels: pre-release, size:XS

#1232 Update version to 0.6.3a4 in pyproject.toml
  pyproject.toml
Labels: pre-release, size:XS

#1234 Update type hints and refactor result handling in process.py
  pyproject.toml
  src/backend/langflow/api/v1/endpoints.py
  src/backend/langflow/processing/process.py
Labels: pre-release, size:M

#1229 Cleanup AgentInitializer component
  src/backend/langflow/custom/customs.py
  src/backend/langflow/interface/agents/custom.py
  src/backend/langflow/template/frontend_node/agents.py
Labels: python, size:M

#1233 Added AzureChatOpenAI Custom Component
  src/backend/langflow/components/llms/AzureChatOpenAI.py
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, javascript, python, size:M

#1237 BUGFIX: Issue GITHUB #1227
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/index.tsx
Labels: bug, javascript, size:XS

#1241 Refactor code and update dependencies
  poetry.lock
  pyproject.toml
  src/backend/langflow/api/v1/chat.py
  src/backend/langflow/api/v1/endpoints.py
  src/backend/langflow/components/agents/AgentInitializer.py
  src/backend/langflow/components/llms/AzureChatOpenAI.py
  src/backend/langflow/components/vectorstores/Weaviate.py
  src/backend/langflow/interface/agents/custom.py
  src/backend/langflow/interface/custom/code_parser/code_parser.py
  src/backend/langflow/interface/custom/code_parser/utils.py
  src/backend/langflow/interface/custom/custom_component/custom_component.py
  src/backend/langflow/interface/custom/directory_reader/directory_reader.py
  src/backend/langflow/interface/custom/directory_reader/utils.py
  src/backend/langflow/interface/custom/utils.py
  src/backend/langflow/interface/types.py
  src/backend/langflow/processing/process.py
  src/backend/langflow/utils/validate.py
  src/backend/langflow/worker.py
  src/frontend/src/utils/styleUtils.ts
  src/frontend/tests/onlyFront/assets/flowtest.json
  tests/test_custom_component.py
Labels: pre-release, size:L

#1242 Update version to 0.6.3a7 in pyproject.toml
  pyproject.toml
Labels: pre-release, size:XS

#1219 Vectara Component Update - feature enhancement
  src/backend/langflow/components/vectorstores/Vectara.py
  tests/test_endpoints.py
Labels: enhancement, python, size:M

#1260 BUGFIXES
  src/frontend/src/components/dropdownComponent/index.tsx
  src/frontend/src/modals/formModal/chatInput/index.tsx
  src/frontend/src/modals/formModal/chatMessage/index.tsx
  src/frontend/src/modals/formModal/index.tsx
  src/frontend/src/modals/genericModal/index.tsx
Labels: bug, javascript, size:L

#1263 Release 0.6.4a0
  pyproject.toml
Labels: pre-release

#1266 Update bcrypt version to 4.0.1 and add .dockerignore entries for node_modules and dist directories
  .dockerignore
  poetry.lock
  pyproject.toml
Labels: enhancement, pre-release, size:XS

#1267 Update .dockerignore file and add QEMU, Docker Buildx, and Docker Hub integration
  .dockerignore
  .github/workflows/release.yml
Labels: enhancement, size:S

#1249 Adding Vectara Self Query Retriever - feature request
  src/backend/langflow/components/retrievers/VectaraSelfQueryRetriver.py
Labels: enhancement, python, size:M

#1235 add ChatOllama LLM
  src/backend/langflow/components/llms/ChatOllamaEndpoint.py
  src/backend/langflow/components/llms/OllamaLLM.py
Labels: enhancement, python, size:L

#1268 Release 0.6.4
  .dockerignore
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  build_and_push.Dockerfile
  poetry.lock
  pyproject.toml
  src/backend/langflow/components/llms/ChatOllamaEndpoint.py
  src/backend/langflow/components/llms/OllamaLLM.py
  src/backend/langflow/components/retrievers/VectaraSelfQueryRetriver.py
  src/backend/langflow/components/vectorstores/Vectara.py
  src/backend/langflow/graph/vertex/base.py
  src/frontend/src/components/dropdownComponent/index.tsx
  src/frontend/src/modals/formModal/chatInput/index.tsx
  src/frontend/src/modals/formModal/chatMessage/index.tsx
  src/frontend/src/modals/formModal/index.tsx
  src/frontend/src/modals/genericModal/index.tsx
  tests/test_endpoints.py
Labels: bug, enhancement, Release, javascript, python, size:XXL
