Repository langflow-ai/langflow, pull requests merged in 2024-12, with the labels that each got.

#4994 feat: add NvidiaIcon component to support dark mode
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/components/popover/index.tsx
  src/frontend/src/icons/Nvidia/index.tsx
  src/frontend/src/icons/Nvidia/nvidia.jsx
  src/frontend/tests/extended/integrations/youtube-transcripts.spec.ts
Labels: enhancement, size:S, lgtm

#4995 allowing Server File Path to be Message or Data
  src/backend/base/langflow/base/data/base_file.py
  src/backend/base/langflow/components/tools/youtube_transcripts.py
Labels: size:L, lgtm

#4869 feat: Support for Autodetect in AstraDBVectorStore settings
  src/backend/base/langflow/components/vectorstores/__init__.py
  src/backend/base/langflow/components/vectorstores/astradb.py
  src/backend/base/langflow/components/vectorstores/astradb_graph.py
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/vector_store_rag.py
  src/backend/tests/integration/components/astra/test_astra_component.py
  src/backend/tests/unit/initial_setup/starter_projects/test_vector_store_rag.py
Labels: enhancement, size:L, lgtm, DO NOT MERGE

#4878 docs: update docs for global variables page and security
  docs/docs/Configuration/configuration-global-variables.md
  docs/docs/Configuration/configuration-security-best-practices.md
  docs/sidebars.js
Labels: documentation, size:L, lgtm, docs

#5006 fix: update vector RAG flow for Astra DB comp changes
  src/backend/base/langflow/components/vectorstores/astradb.py
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: bug, size:S, lgtm

#5014 fix: Update components-loaders.md for accuracy with Unstructured
  docs/docs/Components/components-loaders.md
Labels: bug, size:XS, lgtm

#5011 docs: add uv installation
  README.md
  docs/docs/Get-Started/get-started-installation.md
  docs/docs/Get-Started/get-started-quickstart.md
Labels: documentation, size:M, lgtm

#5002 fix: sambanova streaming
  pyproject.toml
  uv.lock
Labels: bug, size:XS, lgtm

#5016 Track caller versions in Astra DB, fix dynamic inputs
  src/backend/base/langflow/components/vectorstores/astradb.py
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: enhancement, size:L, lgtm

#4744 refactor: Improve Timeout Handling, Simplify Link Logic, and Enhance Cleanup
  src/frontend/src/alerts/notice/index.tsx
  src/frontend/src/types/alerts/index.ts
Labels: size:M, lgtm, refactor

#4993 fix: add padding to search bar for it to align with images on templates screen
  src/frontend/src/modals/templatesModal/components/TemplateContentComponent/index.tsx
Labels: bug, size:XS, lgtm

#5015 fix: correct param for TableInput value
  src/backend/base/langflow/components/helpers/structured_output.py
Labels: bug, size:XS, lgtm

#4916 Refactor: Update shortcut for minimizing component
  src/frontend/src/constants/constants.ts
  src/frontend/src/stores/shortcuts.ts
Labels: enhancement, size:XS, lgtm

#4979 remove retriever component and outputs
  src/backend/base/langflow/base/vectorstores/model.py
  src/backend/base/langflow/components/tools/__init__.py
  src/backend/base/langflow/components/tools/retriever.py
  src/backend/tests/integration/components/astra/test_astra_component.py
  src/backend/tests/unit/initial_setup/starter_projects/test_vector_store_rag.py
Labels: size:M, lgtm

#4978 remove unnecessary function from youtube transcript
  src/backend/base/langflow/components/tools/youtube_transcripts.py
Labels: size:M, lgtm

#4940 Refactor: Update toTitleCase function and CrashErrorComponent
  src/frontend/src/components/common/crashErrorComponent/index.tsx
  src/frontend/src/components/ui/button.tsx
Labels: size:XS, lgtm

#5030 fix: handle incorrect token in AstraDB
  src/backend/base/langflow/components/vectorstores/astradb.py
Labels: bug, size:M, lgtm

#4990 fix: remove "content" from "download content" on folder menu
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
Labels: bug, size:XS, lgtm

#5003 refactor: Move RetrieverToolComponent to langchain_utilities and add legacy support
  src/backend/base/langflow/components/langchain_utilities/__init__.py
  src/backend/base/langflow/components/langchain_utilities/retriever.py
  src/frontend/tests/extended/features/twoEdges.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-12.spec.ts
Labels: size:M, lgtm, refactor

#5001 refactor: Update true/false response methods to return None
  src/backend/base/langflow/components/logic/conditional_router.py
Labels: size:XS, lgtm, refactor

#5024 refactor: migrate flow handling hooks and clean up component code
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/controllers/API/queries/flows/use-get-flow.ts
  src/frontend/src/controllers/API/queries/flows/use-get-refresh-flows-query.ts
  src/frontend/src/controllers/API/queries/flows/use-post-add-flow.ts
  src/frontend/src/controllers/API/queries/folders/use-get-folders.ts
  src/frontend/src/hooks/flows/use-add-flow.ts
  src/frontend/src/hooks/flows/use-upload-flow.ts
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/pages/MainPage/components/dropdown/index.tsx
  src/frontend/src/pages/MainPage/components/grid/index.tsx
  src/frontend/src/pages/MainPage/components/list/index.tsx
  src/frontend/src/pages/MainPage/hooks/use-description-modal.tsx
  src/frontend/src/pages/MainPage/hooks/use-filtered-flows.tsx
  src/frontend/src/pages/MainPage/hooks/use-handle-duplicate.tsx
  src/frontend/src/pages/MainPage/hooks/use-handle-select-all.tsx
  src/frontend/src/pages/MainPage/hooks/use-select-options-change.tsx
  src/frontend/src/pages/MainPage/hooks/use-selected-flows.tsx
  src/frontend/src/pages/MainPage/oldComponents/componentsComponent/hooks/use-handle-duplicate.tsx
  src/frontend/src/pages/MainPage/oldComponents/componentsComponent/index.tsx
  src/frontend/src/pages/ViewPage/index.tsx
Labels: size:L, lgtm, refactor

#5000 refactor: Split folderSidebarComponent into modular components
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/add-folder-button.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/folder-select-item.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/header-buttons.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/input-edit-folder-name.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/select-options.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/upload-folder-button.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/helpers/handle-select-change.ts
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
Labels: javascript, size:XL, lgtm, refactor

#5035 fix: uncentered tweaks tables text and removed notes from tweaks
  src/frontend/src/modals/apiModal/utils/get-nodes-with-default-value.ts
  src/frontend/src/style/applies.css
Labels: bug, size:XS, lgtm

#5034 fix: auto fill chat input on new sessions
  src/frontend/src/modals/IOModal/components/chatView/newChatView.tsx
  src/frontend/src/modals/IOModal/newModal.tsx
Labels: bug, javascript, size:L, lgtm

#4958 fix: prevent inconsistent scroll behavior
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/components/popover/index.tsx
  src/frontend/src/components/ui/button.tsx
Labels: bug, size:XS, lgtm

#5027 refactor: Simplify ContentDisplay component
  src/frontend/src/components/core/chatComponents/ContentDisplay.tsx
Labels: size:XS, lgtm, refactor

#4936 fix: Support Ollama models in CrewAI Components
  src/backend/base/langflow/base/agents/crewai/crew.py
Labels: bug, size:XS, lgtm

#5004 feature: Update HandleTooltipComponent text from "Select" to "Click" for better clarity
  src/frontend/src/CustomNodes/GenericNode/components/HandleTooltipComponent/index.tsx
  src/frontend/tests/core/features/filterEdge-shard-0.spec.ts
Labels: size:S, lgtm

#5032 fix: use cn utility for className assignment
  src/frontend/src/CustomNodes/GenericNode/components/NodeName/index.tsx
Labels: bug, size:XS, lgtm

#5040 fix: adjust GitLoader to work in a hosted environment
  docker/build_and_push.Dockerfile
  docker/build_and_push_base.Dockerfile
  docker/build_and_push_ep.Dockerfile
  src/backend/base/langflow/components/git/git.py
Labels: bug, size:XS, lgtm

#4650 fix: Use AsyncSession in some API endpoints
  src/backend/base/langflow/api/health_check_router.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/users.py
  src/backend/base/langflow/services/socket/utils.py
Labels: bug, size:M, lgtm

#5056 fix: support Astra Enhanced flag in new component
  src/backend/base/langflow/components/vectorstores/astradb.py
Labels: bug, size:XS, lgtm

#4948 test: Enhance frontend testability with data attributes and integration tests
  .github/workflows/ci.yml
  .github/workflows/nightly_build.yml
  .github/workflows/typescript_test.yml
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/components/core/codeTabsComponent/ChatCodeTabComponent.tsx
  src/frontend/src/modals/templatesModal/components/TemplateCardComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/UpdateAllComponents/index.tsx
  src/frontend/tests/core/integrations/Custom Component Generator.spec.ts
  src/frontend/tests/core/integrations/Image Sentiment Analysis.spec.ts
  src/frontend/tests/core/integrations/Instagram Copywriter.spec.ts
  src/frontend/tests/core/integrations/Market Research.spec.ts
  src/frontend/tests/core/integrations/Prompt Chaining.spec.ts
  src/frontend/tests/core/integrations/SEO Keyword Generator.spec.ts
  src/frontend/tests/core/integrations/SaaS Pricing.spec.ts
  src/frontend/tests/core/integrations/Travel Planning Agent.spec.ts
  src/frontend/tests/core/integrations/Twitter Thread Generator.spec.ts
  src/frontend/tests/utils/add-new-api-keys.ts
  src/frontend/tests/utils/adjust-screen-view.ts
  src/frontend/tests/utils/await-bootstrap-test.ts
  src/frontend/tests/utils/build-data-transfer.ts
  src/frontend/tests/utils/get-all-response-message.ts
  src/frontend/tests/utils/initialGPTsetup.ts
  src/frontend/tests/utils/remove-old-api-keys.ts
  src/frontend/tests/utils/select-gpt-model.ts
  src/frontend/tests/utils/update-old-components.ts
  src/frontend/tests/utils/wait-for-open-modal.ts
Labels: size:XL, lgtm, test

#5060 Fix: update broken test generalBugs-shard-12.spec
  src/frontend/tests/extended/regression/generalBugs-shard-12.spec.ts
Labels: bug, size:M, lgtm

#5067 fix: validate 'streaming' vertex connections in graph
  src/backend/base/langflow/graph/graph/base.py
Labels: bug, size:S, lgtm

#4961 feat: Table Input for tools metadata (tool name and description) in component as tools
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/base/tools/component_tool.py
  src/backend/base/langflow/base/tools/constants.py
  src/backend/base/langflow/custom/custom_component/component.py
Labels: enhancement, size:M, lgtm

#5048 fix: update drag and drop test
  src/frontend/src/hooks/flows/use-upload-flow.ts
  src/frontend/src/pages/MainPage/hooks/use-on-file-drop.tsx
  src/frontend/tests/assets/flow_test_drag_and_drop.json
  src/frontend/tests/extended/features/dragAndDrop.spec.ts
  src/frontend/tests/utils/simulate-drag-and-drop.ts
Labels: bug, size:XXL, lgtm

#4999 fix: add hover state on folder button when moving flow to it
  src/backend/base/langflow/api/v1/flows.py
  src/frontend/src/components/core/folderSidebarComponent/hooks/use-on-file-drop.tsx
  src/frontend/src/types/zustand/folders/index.ts
Labels: bug, size:S, lgtm

#5038 Refactor: update NoteNode inputClassName to remove unnecessary ring and focus styles
  src/frontend/src/CustomNodes/NoteNode/index.tsx
Labels: size:XS, lgtm

#5054 fix: Fix test_get_and_cache_all_types_dict
  pyproject.toml
  src/backend/base/langflow/main.py
  src/backend/tests/conftest.py
  src/backend/tests/performance/test_server_init.py
  uv.lock
Labels: bug, size:S, lgtm

#5058 feat: Enhance Observability with ArizePhoenixTracer Integration
  pyproject.toml
  src/backend/base/langflow/services/tracing/arize_phoenix.py
  src/backend/base/langflow/services/tracing/service.py
  src/frontend/src/icons/Arize/Arize.jsx
  src/frontend/src/icons/Arize/arize.svg
  src/frontend/src/icons/Arize/index.tsx
  src/frontend/src/utils/styleUtils.ts
  uv.lock
Labels: enhancement, size:L, lgtm

#5036 refactor: Remove footer from TableModal component
  src/frontend/src/modals/tableModal/index.tsx
Labels: size:XS, lgtm, refactor

#5046 Refactor: update curlApiGeneration test
  src/frontend/tests/extended/features/curlApiGeneration.spec.ts
Labels: size:XS, lgtm

#4955 Refactor: Remove unnecessary value rendering in EmptyParameterComponent
  src/frontend/src/components/core/parameterRenderComponent/components/emptyParameterComponent/index.tsx
Labels: size:XS, lgtm

#4459 feat: Persist locked state for flows
  src/backend/base/langflow/alembic/versions/e3162c1804e6_add_persistent_locked_state.py
  src/backend/base/langflow/services/database/models/flow/model.py
  src/frontend/src/components/core/canvasControlsComponent/index.tsx
  src/frontend/src/components/ui/popover.tsx
  src/frontend/src/controllers/API/queries/flows/use-patch-update-flow.ts
  src/frontend/src/hooks/flows/use-save-flow.ts
  src/frontend/src/types/flow/index.ts
  src/frontend/tests/extended/features/lock-flow.spec.ts
Labels: enhancement, size:L, lgtm, DO NOT MERGE

#5043 Refactor actionsMainPage-shard-0.spec.ts
  src/frontend/tests/extended/features/actionsMainPage-shard-0.spec.ts
Labels: size:M, lgtm

#5064 fix: Fix: improve error in InputFileComponent when displaying invalid file types
  src/frontend/src/components/core/parameterRenderComponent/components/inputFileComponent/index.tsx
Labels: bug, size:XS, lgtm

#5044 refactor: Improve wait times and visibility checks in auto-save-off tests
  src/frontend/tests/extended/features/auto-save-off.spec.ts
Labels: size:M, lgtm, refactor

#5045 Refactor: update autoLogin.spec.ts to use waitForSelector
  src/frontend/tests/extended/features/autoLogin.spec.ts
Labels: size:S, lgtm

#5096 feat: improve whitespace handling in NodeDescription component
  src/frontend/src/CustomNodes/GenericNode/components/NodeDescription/index.tsx
Labels: enhancement, size:XS, lgtm

#5097 refactor: use Inspector for column checks in locked state migration
  src/backend/base/langflow/alembic/versions/e3162c1804e6_add_persistent_locked_state.py
Labels: size:S, lgtm, refactor

#4992 fix: changed parameter name of agent component
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents .json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
Labels: size:XXL, lgtm

#5066 fix: re-activated playground page and made it full screen
  src/frontend/src/modals/IOModal/newModal.tsx
  src/frontend/src/modals/baseModal/index.tsx
  src/frontend/src/pages/AppWrapperPage/index.tsx
  src/frontend/src/routes.tsx
Labels: size:M, lgtm

#5031 fix: apply variables to fields automatically, remove password truncation from variable fields
  src/frontend/src/components/core/GlobalVariableModal/GlobalVariableModal.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/components/popover/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputGlobalComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/strRenderComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/types.ts
  src/frontend/src/hooks/flows/use-add-flow.ts
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/utils/reactflowUtils.ts
Labels: bug, javascript, size:L, lgtm

#5071 fix: clear chat input when sending from play button
  src/frontend/src/modals/IOModal/components/chatView/newChatView.tsx
Labels: bug, size:XS, lgtm

#5068 fix: update all naming to be plural sensitive
  src/frontend/src/pages/FlowPage/components/UpdateAllComponents/index.tsx
Labels: bug, size:XS, lgtm

#5069 fix: changed advanced settings to controls
  src/frontend/src/constants/constants.ts
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/shortcutDisplay/index.tsx
  src/frontend/src/pages/SettingsPage/pages/ShortcutsPage/index.tsx
  src/frontend/src/types/store/index.ts
  src/frontend/tests/extended/features/userSettings.spec.ts
Labels: bug, javascript, size:M, lgtm

#5092 fix: allow passing curly braces in system instructions to the Agent component
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/components/langchain_utilities/tool_calling.py
Labels: bug, size:XS, lgtm

#5072 refactor: Enhance flowSettings.spec.ts with improved element selectors and timeouts
  src/frontend/tests/extended/features/flowSettings.spec.ts
Labels: size:XS, lgtm, refactor

#5070 refactor: Improve reliability of flowPage.spec.ts test
  src/frontend/tests/extended/features/flowPage.spec.ts
Labels: size:S, lgtm, refactor

#5077 Refactor: update wait timeouts in minimize.spec.ts
  src/frontend/tests/extended/features/minimize.spec.ts
Labels: size:M, lgtm

#5076 Refactor: Remove unnecessary wait timeouts in limit-file-size-upload test
  src/frontend/tests/extended/features/limit-file-size-upload.spec.ts
Labels: size:S, lgtm

#5074 Refactor: Improve performance on test
  src/frontend/tests/extended/features/langflowShortcuts.spec.ts
Labels: size:XS, lgtm

#5078 Refactor: Update wait selectors in outdated-actions.spec.ts
  src/frontend/tests/extended/features/outdated-actions.spec.ts
Labels: size:S, lgtm

#5080 improve: improve pythonGenerationCodeAPI
  src/frontend/tests/extended/features/pythonApiGeneration.spec.ts
Labels: size:XS, lgtm

#5094 chore: update import paths and button icon styles in table component
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/components/ResetColumns/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/components/TableOptions/index.tsx
Labels: size:XS, lgtm, ignore-for-release

#5065 feat: enhance slider component with labels and improved input handling
  src/backend/base/langflow/components/models/openai.py
  src/frontend/src/App.css
  src/frontend/src/components/core/parameterRenderComponent/components/sliderComponent/components/slider-labels.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/sliderComponent/helpers/build-color-by-name.ts
  src/frontend/src/components/core/parameterRenderComponent/components/sliderComponent/helpers/get-min-max-value.ts
  src/frontend/src/components/core/parameterRenderComponent/components/sliderComponent/index.tsx
  src/frontend/src/style/applies.css
  src/frontend/src/style/index.css
  src/frontend/tailwind.config.mjs
Labels: enhancement, size:L, lgtm

#5102 fix: redirect to previous page after login
  src/frontend/src/components/authorization/authGuard/index.tsx
  src/frontend/src/components/authorization/authLoginGuard/index.tsx
  src/frontend/src/controllers/API/queries/auth/use-get-autologin.ts
Labels: bug, size:M, lgtm

#4665 fix: Use AsyncSession in memory
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/base/agents/events.py
  src/backend/base/langflow/base/io/chat.py
  src/backend/base/langflow/base/tools/component_tool.py
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/components/deactivated/store_message.py
  src/backend/base/langflow/components/helpers/memory.py
  src/backend/base/langflow/components/helpers/store_message.py
  src/backend/base/langflow/components/inputs/chat.py
  src/backend/base/langflow/components/outputs/chat.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/graph/vertex/types.py
  src/backend/base/langflow/memory.py
  src/backend/base/langflow/schema/log.py
  src/backend/base/langflow/schema/message.py
  src/backend/tests/conftest.py
  src/backend/tests/integration/components/inputs/test_chat_input.py
  src/backend/tests/integration/components/outputs/test_chat_output.py
  src/backend/tests/unit/components/agents/test_agent_events.py
  src/backend/tests/unit/components/inputs/test_input_components.py
  src/backend/tests/unit/custom/custom_component/test_component_events.py
  src/backend/tests/unit/graph/graph/test_base.py
  src/backend/tests/unit/graph/graph/test_graph_state_model.py
  src/backend/tests/unit/test_chat_endpoint.py
  src/backend/tests/unit/test_messages.py
  src/backend/tests/unit/test_messages_endpoints.py
Labels: bug, size:XL, lgtm

#5121 fix: improve vector store test
  .github/changes-filter.yaml
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/components/popover/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputFileComponent/index.tsx
  src/frontend/tests/core/integrations/Vector Store.spec.ts
Labels: bug, size:S, lgtm

#5113 feat: Add tool mode to the prompt component
  src/backend/base/langflow/components/prompts/prompt.py
Labels: enhancement, size:XS, lgtm

#5010 feat(components): Add Webhook Icon to Component Definition
  src/backend/base/langflow/components/data/webhook.py
Labels: enhancement, size:XS, lgtm

#4745 docs: enhance Google Cloud Vertex AI setup guide for Langflow
  docs/docs/Integrations/Google/integrations-setup-google-cloud-vertex-ai-langflow.md
  docs/sidebars.js
  docs/static/img/google/configure-vertex-ai-credentials-in-langflow.gif
Labels: documentation, size:M, lgtm

#5126 refactor: Remove unnecessary wait timeouts in chatInputOutputUser-shard-1.spec.ts
  src/frontend/tests/extended/integrations/chatInputOutputUser-shard-1.spec.ts
Labels: size:XS, lgtm, refactor

#5133 Refactor: remove unnecessary wait timeouts in regression test
  src/frontend/tests/extended/regression/general-bugs-shard-3909.spec.ts
Labels: size:M, lgtm

#5130 Refactor: remove unnecessary wait in component-as-tool-shortcut test
  src/frontend/tests/extended/regression/general-bugs-component-as-tool-shortcut.spec.ts
Labels: size:XS, lgtm

#5122 feature: Add interactive reader to dictAreaModal
  src/frontend/src/modals/dictAreaModal/index.tsx
Labels: enhancement, size:M, lgtm

#5128 refactor: Improve page loading and element selection in DuckDuckGo integration test
  src/frontend/tests/extended/integrations/duckduckgo.spec.ts
Labels: size:S, lgtm, refactor

#5142 fix: Improve test and add improve timeouts
  src/frontend/tests/extended/regression/generalBugs-shard-13.spec.ts
Labels: bug, size:M, lgtm

#5132 Refactor: update remove unnecessary wait timeouts in regression test
  src/frontend/tests/extended/regression/general-bugs-shard-3836.spec.ts
Labels: size:S, lgtm

#5098 Refactor: improve starter project modal test
  src/frontend/src/modals/templatesModal/components/TemplateContentComponent/index.tsx
  src/frontend/tests/extended/features/starter-projects.spec.ts
Labels: size:M, lgtm

#5104 Refactor: Improve wait times and visibility checks in stop-button-playground.spec.ts
  src/frontend/tests/extended/features/stop-button-playground.spec.ts
Labels: size:S, lgtm

#5139 refactor: Improve flow creation and search performance in test
  src/frontend/tests/extended/regression/generalBugs-shard-8.spec.ts
Labels: size:XS, lgtm, refactor

#5135 Refactor: Improve test stability and reliability
  src/frontend/tests/extended/regression/generalBugs-shard-2.spec.ts
Labels: size:S, lgtm

#5129 Refactor: improve YouTube Transcripts integration tests
  src/frontend/tests/extended/integrations/youtube-transcripts.spec.ts
Labels: size:S, lgtm

#5136 refactor: Improve page loading and element visibility in regression tests
  src/frontend/tests/extended/regression/generalBugs-shard-3.spec.ts
Labels: size:M, lgtm, refactor

#5143 refactor: Remove unnecessary wait for timeout in Travel Planning Agent test
  src/frontend/tests/core/integrations/Travel Planning Agent.spec.ts
Labels: size:XS, lgtm, refactor

#5140 Refactor: remove timeouts from generalbugs-shard10
  src/frontend/tests/extended/regression/generalBugs-shard-10.spec.ts
Labels: size:S, lgtm

#5127 refactor: Remove unnecessary wait timeouts in chatInputOutputUser-shard-2.spec.ts
  src/frontend/tests/extended/integrations/chatInputOutputUser-shard-2.spec.ts
Labels: size:XS, lgtm, refactor

#5137 Refactor: Improve wait times in regression test
  src/frontend/tests/extended/regression/generalBugs-shard-6.spec.ts
Labels: size:S, lgtm

#5109 Refactor: Improve wait times and visibility checks in twoEdges.spec.ts
  src/frontend/tests/extended/features/twoEdges.spec.ts
Labels: size:XS, lgtm

#5108 Refactor: Improve wait times and visibility checks in store-shard-3.spec.ts
  src/frontend/tests/extended/features/store-shard-3.spec.ts
Labels: size:M, lgtm

#5151 ref: Use AsyncSession in some tests
  src/backend/base/langflow/services/database/utils.py
  src/backend/tests/conftest.py
  src/backend/tests/unit/services/variable/test_service.py
  src/backend/tests/unit/test_database.py
  src/backend/tests/unit/test_initial_setup.py
  src/backend/tests/unit/test_login.py
  src/backend/tests/unit/test_user.py
Labels: size:L, lgtm

#5105 Refactor: Remove unnecessary wait times in store-shard-0.spec.ts
  src/frontend/tests/extended/features/store-shard-0.spec.ts
Labels: size:XS, lgtm

#5146 ref: Remove sync get_session and DbSession
  src/backend/base/langflow/api/health_check_router.py
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/api/v1/api_key.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/files.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/folders.py
  src/backend/base/langflow/api/v1/login.py
  src/backend/base/langflow/api/v1/monitor.py
  src/backend/base/langflow/api/v1/users.py
  src/backend/base/langflow/api/v1/variable.py
  src/backend/base/langflow/services/auth/utils.py
  src/backend/base/langflow/services/database/models/flow/utils.py
  src/backend/base/langflow/services/deps.py
  src/backend/base/langflow/services/socket/utils.py
Labels: size:L, lgtm

#5093 ref: Apply ruff rules FURB110 and RUF046
  src/backend/base/langflow/components/logic/flow_tool.py
  src/backend/base/langflow/graph/graph/ascii.py
Labels: size:S, lgtm

#5087 ref: Bump ruff version to 0.8
  pyproject.toml
  scripts/factory_restart_space.py
  src/backend/base/langflow/base/tools/flow_tool.py
  src/backend/base/langflow/components/langchain_utilities/__init__.py
  src/backend/base/langflow/components/models/__init__.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/inputs/__init__.py
  src/backend/base/langflow/io/__init__.py
  src/backend/base/langflow/schema/__init__.py
  src/backend/base/langflow/schema/message.py
  src/backend/tests/locust/locustfile.py
  uv.lock
Labels: size:S, lgtm

#5088 ref: Apply ruff rule TC006
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/base/agents/crewai/crew.py
  src/backend/base/langflow/base/io/chat.py
  src/backend/base/langflow/components/cohere/cohere_rerank.py
  src/backend/base/langflow/components/helpers/structured_output.py
  src/backend/base/langflow/components/models/vertexai.py
  src/backend/base/langflow/components/nvidia/nvidia_rerank.py
  src/backend/base/langflow/components/retrievers/amazon_kendra.py
  src/backend/base/langflow/components/retrievers/metal.py
  src/backend/base/langflow/components/tools/bing_search_api.py
  src/backend/base/langflow/components/tools/wikipedia_api.py
  src/backend/base/langflow/components/vectorstores/vectara_self_query.py
  src/backend/base/langflow/graph/edge/base.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/vertex/types.py
  src/backend/base/langflow/helpers/flow.py
  src/backend/base/langflow/processing/process.py
  src/backend/base/langflow/schema/data.py
  src/backend/base/langflow/schema/dataframe.py
  src/backend/base/langflow/services/tracing/langwatch.py
  src/backend/base/langflow/template/template/base.py
Labels: size:M, lgtm

#5089 ref: Apply ruff rule RUF052
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/variable.py
  src/backend/base/langflow/base/agents/crewai/crew.py
  src/backend/base/langflow/base/data/utils.py
  src/backend/base/langflow/base/io/chat.py
  src/backend/base/langflow/base/tools/component_tool.py
  src/backend/base/langflow/components/helpers/structured_output.py
  src/backend/base/langflow/components/inputs/chat.py
  src/backend/base/langflow/components/langchain_utilities/runnable_executor.py
  src/backend/base/langflow/components/outputs/chat.py
  src/backend/base/langflow/components/processing/create_data.py
  src/backend/base/langflow/components/tools/astradb.py
  src/backend/base/langflow/components/tools/python_code_structured_tool.py
  src/backend/base/langflow/components/tools/python_repl.py
  src/backend/base/langflow/components/tools/searxng.py
  src/backend/base/langflow/components/vectorstores/chroma.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/custom/directory_reader/directory_reader.py
  src/backend/base/langflow/custom/utils.py
  src/backend/base/langflow/events/event_manager.py
  src/backend/base/langflow/graph/edge/schema.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/utils.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/graph/vertex/types.py
  src/backend/base/langflow/helpers/data.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/inputs/inputs.py
  src/backend/base/langflow/interface/utils.py
  src/backend/base/langflow/processing/process.py
  src/backend/base/langflow/schema/artifact.py
  src/backend/base/langflow/schema/schema.py
  src/backend/base/langflow/services/chat/cache.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/langflow/services/settings/manager.py
  src/backend/base/langflow/services/tracing/arize_phoenix.py
  src/backend/base/langflow/services/tracing/langfuse.py
  src/backend/base/langflow/services/tracing/langsmith.py
  src/backend/base/langflow/services/tracing/langwatch.py
  src/backend/base/langflow/services/tracing/utils.py
  src/backend/base/langflow/services/variable/base.py
  src/backend/base/langflow/services/variable/kubernetes.py
  src/backend/base/langflow/services/variable/kubernetes_secrets.py
  src/backend/base/langflow/services/variable/service.py
  src/backend/base/langflow/template/field/base.py
  src/backend/base/langflow/template/template/base.py
  src/backend/base/langflow/type_extraction/type_extraction.py
  src/backend/base/langflow/utils/schemas.py
  src/backend/base/langflow/utils/util.py
  src/backend/langflow/version/version.py
  src/backend/tests/conftest.py
  src/backend/tests/unit/api/v1/test_api_key.py
  src/backend/tests/unit/api/v1/test_flows.py
  src/backend/tests/unit/api/v1/test_folders.py
  src/backend/tests/unit/api/v1/test_users.py
  src/backend/tests/unit/services/variable/test_service.py
  src/backend/tests/unit/test_data_components.py
Labels: size:L, lgtm

#5149 ref: Remove some useless asyncio.to_thread
  pyproject.toml
  src/backend/base/langflow/base/io/chat.py
  src/backend/base/langflow/custom/directory_reader/directory_reader.py
  src/backend/base/langflow/services/tracing/service.py
  src/backend/tests/conftest.py
  src/backend/tests/unit/api/v1/test_endpoints.py
  src/backend/tests/unit/components/inputs/test_input_components.py
  src/backend/tests/unit/graph/graph/test_base.py
  src/backend/tests/unit/test_process.py
  uv.lock
Labels: size:L, lgtm

#4376 feat: Add sqlite to blocking call detection
  src/backend/tests/conftest.py
  src/backend/tests/unit/test_login.py
  src/backend/tests/unit/test_messages.py
Labels: enhancement, size:S, lgtm

#5116 fix: Fix to_frontend_node modifying input components
  src/backend/base/langflow/template/frontend_node/base.py
Labels: bug, size:S, lgtm

#5141 refactor: Improve wait time for modals and elements in regression tests
  src/frontend/tests/extended/regression/generalBugs-shard-11.spec.ts
Labels: size:M, lgtm, refactor

#5159 fix(Dockerfile): standardize casing for 'FROM' and 'AS' keywords
  docker/frontend/build_and_push_frontend.Dockerfile
Labels: bug, size:XS, lgtm

#5157 feat: Activate blockbuster Lock.aquire detection
  src/backend/tests/conftest.py
Labels: enhancement, size:XS, lgtm

#5073 Refactor: Remove unnecessary code and comments in integration-side-bar.spec.ts
  src/frontend/tests/extended/features/integration-side-bar.spec.ts
Labels: size:M, lgtm

#5041 refactor: Remove unnecessary code for handling Enter
  src/frontend/src/CustomNodes/GenericNode/components/NodeDescription/index.tsx
Labels: size:XS, lgtm, refactor

#5037 Refactor: update NodeDescription component to conditionally render character limit message
  src/frontend/src/CustomNodes/GenericNode/components/NodeDescription/index.tsx
  src/frontend/src/CustomNodes/NoteNode/index.tsx
Labels: size:XS, lgtm

#5100 Refactor: Improve wait times and selectors in sticky-notes.spec.ts
  src/frontend/tests/extended/features/sticky-notes.spec.ts
Labels: size:S, lgtm

#5134 refactor: Improve page loading and element visibility in regression tests
  src/frontend/tests/extended/regression/generalBugs-shard-1.spec.ts
Labels: size:S, lgtm, refactor

#5150 fix: Execute event manager callbacks in asyncio thread
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/base/tools/component_tool.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/tests/unit/custom/custom_component/test_component_events.py
Labels: bug, size:M, lgtm

#5138 Refactor: add data test id and improve wait times for element selectors in regression tests
  src/frontend/src/modals/editNodeModal/index.tsx
  src/frontend/tests/extended/regression/generalBugs-shard-7.spec.ts
Labels: size:S, lgtm

#5117 fix: make chatinput text appear on playground only if no sessions are present
  src/frontend/src/modals/IOModal/components/chatView/newChatView.tsx
Labels: bug, javascript, size:XS, lgtm

#5103 fix: make sending a message not change the value of chatinput node
  src/frontend/src/modals/IOModal/newModal.tsx
Labels: bug, size:S, lgtm

#5162 chore(ui): add text-foreground class to NodeStatus build element
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/components/build-status-display.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/index.tsx
Labels: size:L, lgtm, ignore-for-release

#5075 feat: add tool mode to AstraDB search input and enable AstraDB as a vector search Tool
  src/backend/base/langflow/components/vectorstores/astradb.py
Labels: enhancement, size:XS, lgtm

#5170 fix: add load_from_db to all agents
  docs/docs/Integrations/Notion/Conversational_Notion_Agent.json
  docs/docs/Integrations/Notion/Meeting_Notes_Agent.json
  docs/static/files/Google_Drive_Docs_Translations_Example.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents .json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: bug, size:XL, lgtm

#5167 fix: Use anyio for file operations in a few places
  src/backend/base/langflow/components/data/api_request.py
  src/backend/base/langflow/custom/directory_reader/directory_reader.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/storage/local.py
  src/backend/tests/conftest.py
  src/backend/tests/unit/api/v1/test_files.py
  src/backend/tests/unit/test_initial_setup.py
  src/backend/tests/unit/test_webhook.py
Labels: bug, size:M, lgtm

#5163 ref: Make initialize_database async
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/graph/utils.py
  src/backend/base/langflow/services/database/models/api_key/crud.py
  src/backend/base/langflow/services/database/models/message/crud.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/database/utils.py
  src/backend/base/langflow/services/utils.py
  src/backend/tests/conftest.py
  src/backend/tests/unit/test_database.py
  src/backend/tests/unit/test_user.py
Labels: size:L, lgtm

#5165 ref: Make create_or_update_starter_projects async
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/main.py
  src/backend/tests/integration/test_misc.py
  src/backend/tests/performance/test_server_init.py
  src/backend/tests/unit/graph/test_graph.py
  src/backend/tests/unit/test_database.py
  src/backend/tests/unit/test_initial_setup.py
  src/backend/tests/unit/test_loading.py
Labels: size:L, lgtm

#5005 fix: narrow version ranges for project dependencies
  pyproject.toml
  uv.lock
Labels: bug, size:L, lgtm

#5171 refactor(openai): Remove deprecated parameters from OpenAI component
  src/backend/base/langflow/components/models/openai.py
Labels: size:M, lgtm

#5186 test: enhance drag-and-drop reliability and update test asset paths
  src/frontend/tests/extended/features/dragAndDrop.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-12.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-3.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-7.spec.ts
Labels: size:M, lgtm, test

#5106 fix: changed truncation style for big folder and flow names on header
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/index.tsx
Labels: bug, size:XS, lgtm

#5188 test: Add test IDs and improve UI wait handling in frontend tests
  src/frontend/src/pages/MainPage/components/header/index.tsx
  src/frontend/tests/extended/features/dragAndDrop.spec.ts
  src/frontend/tests/extended/features/lock-flow.spec.ts
Labels: size:M, lgtm, test

#5193 feat: add optional env var to skip starter project updates
  src/backend/base/langflow/initial_setup/setup.py
Labels: enhancement, size:S, lgtm

#5156 ref: Fix some ruff preview rules
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/base/curl/parse.py
  src/backend/base/langflow/base/data/base_file.py
  src/backend/base/langflow/components/composio/composio_api.py
  src/backend/base/langflow/components/deactivated/merge_data.py
  src/backend/base/langflow/components/helpers/structured_output.py
  src/backend/base/langflow/components/processing/merge_data.py
  src/backend/base/langflow/components/processing/update_data.py
  src/backend/base/langflow/components/tools/astradb_cql.py
  src/backend/base/langflow/components/tools/youtube_transcripts.py
  src/backend/base/langflow/components/unstructured/unstructured.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/custom/directory_reader/directory_reader.py
  src/backend/base/langflow/logging/logger.py
  src/backend/base/langflow/services/tracing/arize_phoenix.py
  src/backend/tests/unit/components/helpers/test_structured_output_component.py
  src/backend/tests/unit/initial_setup/starter_projects/test_vector_store_rag.py
Labels: size:M, lgtm

#5062 refactor: Add displayLoadingMessage flag to MessagesStoreType and adjust chat view layout
  src/frontend/src/modals/IOModal/components/chatView/newChatView.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/stores/messagesStore.ts
  src/frontend/src/types/zustand/messages/index.ts
Labels: size:S, lgtm, refactor

#5203 feat: Activate sqlite blocking detection again
  src/backend/tests/conftest.py
Labels: enhancement, size:XS, lgtm

#5201 docs: Swap pip and uv installation instructions in README and install
  README.md
  docs/docs/Get-Started/get-started-installation.md
Labels: documentation, size:M, lgtm

#5202 docs: fix typos in documentation files
  docs/docs/Components/components-custom-components.md
  docs/docs/Configuration/configuration-api-keys.md
  docs/docs/Guides/guides-chat-memory.md
Labels: documentation, size:XS, lgtm

#5205 fix: Resolve DOM validation & React lifecycle warnings
  src/frontend/src/alerts/alertDropDown/index.tsx
  src/frontend/src/components/common/shadTooltipComponent/index.tsx
  src/frontend/src/components/core/appHeaderComponent/index.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/select-options.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/icons/AWS/AWS.jsx
  src/frontend/src/icons/AWS/index.tsx
  src/frontend/src/icons/AstraDB/AstraDB.jsx
  src/frontend/src/icons/AstraDB/index.tsx
  src/frontend/src/icons/Cassandra/Cassandra.jsx
  src/frontend/src/icons/CrewAI/CrewAiIcon.jsx
  src/frontend/src/icons/Glean/Glean.jsx
  src/frontend/src/icons/GoogleGenerativeAI/GoogleGemini.jsx
  src/frontend/src/icons/HCD/HCD.jsx
  src/frontend/src/icons/HCD/index.tsx
  src/frontend/src/icons/Langwatch/langwatch.jsx
  src/frontend/src/icons/Mem0/SvgMem.jsx
  src/frontend/src/icons/Mem0/index.tsx
  src/frontend/src/icons/Nvidia/index.tsx
  src/frontend/src/icons/Nvidia/nvidia.jsx
  src/frontend/src/icons/Python/Python.jsx
  src/frontend/src/icons/Youtube/youtube.jsx
  src/frontend/src/icons/ZepMemory/ZepMemory.jsx
  src/frontend/src/utils/utils.ts
Labels: bug, javascript, size:XXL, lgtm

#5208 test: increase timeout in Market Research tests
  src/frontend/tests/core/integrations/Market Research.spec.ts
Labels: size:XS, lgtm, test

#5192 fix: Update Search API component to latest version from Travel Planning Agents template
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
Labels: bug, size:L, lgtm

#5207 Docs: update quickstart
  docs/docs/Get-Started/get-started-quickstart.md
  docs/static/img/quickstart-add-document-ingestion.png
  docs/static/img/quickstart-basic-prompt-no-connections.png
  docs/static/img/starter-flow-basic-prompting.png
Labels: documentation, size:L, lgtm

#5111 docs: composio component
  docs/docs/Integrations/Composio/integrations-composio.md
  docs/sidebars.js
  docs/static/img/composio/composio-create-flow.png
Labels: documentation, size:L, lgtm

#5195 ci: script and workflow to update starter projects
  .github/workflows/py_autofix.yml
  .github/workflows/style-check-py.yml
  scripts/ci/update_starter_projects.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents .json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/services/tracing/arize_phoenix.py
  uv.lock
Labels: size:XL, lgtm

#5200 fix: use SecretStr get_secret_value for LMStudio API key handling
  src/backend/base/langflow/components/models/lmstudiomodel.py
Labels: bug, size:XS, lgtm

#5220 docs: fix typos Update integrations-assemblyai.md
  docs/docs/Integrations/integrations-assemblyai.md
Labels: documentation, size:XS, lgtm

#4891 feat: Update SQLModel dependency and improve UUID handling
  src/backend/base/langflow/alembic/versions/006b3990db50_add_unique_constraints.py
  src/backend/base/langflow/alembic/versions/012fb73ac359_add_folder_table.py
  src/backend/base/langflow/alembic/versions/0ae3a2674f32_update_the_columns_that_need_to_change_.py
  src/backend/base/langflow/alembic/versions/0b8757876a7c_.py
  src/backend/base/langflow/alembic/versions/0d60fcbd4e8e_create_vertex_builds_table.py
  src/backend/base/langflow/alembic/versions/1a110b568907_replace_credential_table_with_variable.py
  src/backend/base/langflow/alembic/versions/1c79524817ed_add_unique_constraints_per_user_in_.py
  src/backend/base/langflow/alembic/versions/1d90f8a0efe1_update_description_columns_type.py
  src/backend/base/langflow/alembic/versions/1eab2c3eb45e_event_error.py
  src/backend/base/langflow/alembic/versions/1ef9c4f3765d_.py
  src/backend/base/langflow/alembic/versions/1f4d6df60295_add_default_fields_column.py
  src/backend/base/langflow/alembic/versions/260dbcc8b680_adds_tables.py
  src/backend/base/langflow/alembic/versions/29fe8f1f806b_add_missing_index.py
  src/backend/base/langflow/alembic/versions/2ac71eb9c3ae_adds_credential_table.py
  src/backend/base/langflow/alembic/versions/3bb0ddf32dfb_add_unique_constraints_per_user_in_flow_.py
  src/backend/base/langflow/alembic/versions/4e5980a44eaa_fix_date_times_again.py
  src/backend/base/langflow/alembic/versions/58b28437a398_modify_nullable.py
  src/backend/base/langflow/alembic/versions/631faacf5da2_add_webhook_columns.py
  src/backend/base/langflow/alembic/versions/63b9c451fd30_add_icon_and_icon_bg_color_to_flow.py
  src/backend/base/langflow/alembic/versions/67cc006d50bf_add_profile_image_column.py
  src/backend/base/langflow/alembic/versions/6e7b581b5648_fix_nullable.py
  src/backend/base/langflow/alembic/versions/7843803a87b5_store_updates.py
  src/backend/base/langflow/alembic/versions/79e675cb6752_change_datetime_type.py
  src/backend/base/langflow/alembic/versions/7d2162acc8b2_adds_updated_at_and_folder_cols.py
  src/backend/base/langflow/alembic/versions/90be8e2ed91e_create_transactions_table.py
  src/backend/base/langflow/alembic/versions/a72f5cf9c2f9_add_endpoint_name_col.py
  src/backend/base/langflow/alembic/versions/b2fa308044b5_add_unique_constraints.py
  src/backend/base/langflow/alembic/versions/bc2f01c40e4a_new_fixes.py
  src/backend/base/langflow/alembic/versions/c153816fd85f_set_name_and_value_to_not_nullable.py
  src/backend/base/langflow/alembic/versions/d066bfd22890_add_message_table.py
  src/backend/base/langflow/alembic/versions/e3bc869fa272_fix_nullable.py
  src/backend/base/langflow/alembic/versions/e5a65ecff2cd_nullable_in_vertex_build.py
  src/backend/base/langflow/alembic/versions/eb5e72293a8e_add_error_and_edit_flags_to_message.py
  src/backend/base/langflow/alembic/versions/fd531f8868b1_fix_credential_table.py
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/files.py
  src/backend/base/langflow/api/v1/folders.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/helpers/flow.py
  src/backend/base/langflow/memory.py
  src/backend/base/langflow/schema/message.py
  src/backend/base/langflow/schema/serialize.py
  src/backend/base/langflow/services/database/models/api_key/model.py
  src/backend/base/langflow/services/database/models/message/model.py
  src/backend/base/langflow/services/database/models/user/crud.py
  src/backend/base/langflow/services/database/models/user/model.py
  src/backend/base/langflow/services/storage/local.py
  src/backend/base/langflow/utils/migration.py
  src/backend/base/pyproject.toml
  src/backend/tests/.test_durations
  src/backend/tests/unit/base/tools/test_component_toolkit.py
  src/backend/tests/unit/custom/custom_component/test_component_events.py
  src/backend/tests/unit/schema/test_schema_message.py
  uv.lock
Labels: enhancement, size:L, lgtm

#5230 fix: improve UUID handling in custom component variables
  src/backend/base/langflow/custom/custom_component/custom_component.py
Labels: bug, size:XS, lgtm

#5176 feat: add README.FR.md for French speakers
  CODE_OF_CONDUCT.FR.md
  CONTRIBUTING.FR.md
  README.ES.md
  README.FR.md
  README.KR.md
  README.PT.md
  README.ja.md
  README.md
  README.zh_CN.md
Labels: enhancement, size:L, lgtm

#5231 Revert "feat: add README.FR.md for French speakers"
  CODE_OF_CONDUCT.FR.md
  CONTRIBUTING.FR.md
  README.ES.md
  README.FR.md
  README.KR.md
  README.PT.md
  README.ja.md
  README.md
  README.zh_CN.md
Labels: size:L

#5227 fix: remove unused import and simplify key generation in SideBarFoldersButtonsComponent
  .github/changes-filter.yaml
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/select-options.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
Labels: bug, size:L, lgtm

#5222 ref: Make list_flows async
  src/backend/base/langflow/components/deactivated/list_flows.py
  src/backend/base/langflow/components/deactivated/sub_flow.py
  src/backend/base/langflow/components/logic/flow_tool.py
  src/backend/base/langflow/components/logic/run_flow.py
  src/backend/base/langflow/components/logic/sub_flow.py
  src/backend/base/langflow/custom/custom_component/custom_component.py
  src/backend/base/langflow/helpers/flow.py
  src/backend/tests/unit/test_custom_component_with_client.py
Labels: size:M, lgtm

#5012 feat(component): implement directory component enhancements
  src/backend/base/langflow/components/data/directory.py
Labels: enhancement, size:S, lgtm

#5099 fix: have defaults for the table schema
  src/backend/base/langflow/components/helpers/structured_output.py
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
Labels: bug, size:XS, lgtm

#5236 fix: make user_id variable valid and fix type signature in messages endpoints
  src/backend/base/langflow/api/v1/monitor.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/custom/custom_component/custom_component.py
  src/backend/base/langflow/memory.py
Labels: bug, size:S, lgtm

#5189 fix: Refactor JSON serialization in build_flow and log_vertex_build
  src/backend/base/langflow/graph/utils.py
  src/backend/base/langflow/services/tracing/schema.py
Labels: bug, size:XS, lgtm

#5233 fix: Do a better job of mapping Langchain to LiteLLM
  src/backend/base/langflow/base/agents/crewai/crew.py
Labels: bug, size:S, lgtm
