Repository langflow-ai/langflow, pull requests merged in 2024-10, with the labels that each got.

#3960 feat: Add pre-commit hook for ruff
  .pre-commit-config.yaml
Labels: enhancement, size:S, lgtm

#3967 fix: consider remove_example_flows param on query on GET flows endpoint
  src/backend/base/langflow/api/v1/flows.py
Labels: bug, size:XS, lgtm

#3974 feat: Add various ruff rules
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/base/data/utils.py
  src/backend/base/langflow/base/document_transformers/model.py
  src/backend/base/langflow/base/langchain_utilities/model.py
  src/backend/base/langflow/base/textsplitters/model.py
  src/backend/base/langflow/components/chains/RetrievalQA.py
  src/backend/base/langflow/custom/code_parser/code_parser.py
  src/backend/base/langflow/custom/utils.py
  src/backend/base/langflow/initial_setup/starter_projects/hierarchical_tasks_agent.py
  src/backend/base/langflow/inputs/input_mixin.py
  src/backend/base/langflow/services/storage/local.py
  src/backend/base/langflow/services/storage/s3.py
  src/backend/base/langflow/services/store/service.py
  src/backend/base/pyproject.toml
Labels: enhancement, size:M, lgtm

#3968 fix: Only show error state on components w/ errors for node validation
  src/frontend/src/utils/reactflowUtils.ts
Labels: bug, size:XS, lgtm

#3861 docs: add notes to flows
  src/backend/base/langflow/base/constants.py
  src/backend/base/langflow/components/vectorstores/AstraDB.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, World).json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/frontend/tests/core/features/chatInputOutputUser-shard-0.spec.ts
  src/frontend/tests/core/integrations/Basic Prompting.spec.ts
  src/frontend/tests/core/integrations/Blog Writer.spec.ts
  src/frontend/tests/core/integrations/Document QA.spec.ts
  src/frontend/tests/core/integrations/Dynamic Agent.spec.ts
  src/frontend/tests/core/integrations/Memory Chatbot.spec.ts
  src/frontend/tests/core/integrations/Simple Agent.spec.ts
  src/frontend/tests/core/integrations/Travel Planning Agent.spec.ts
  src/frontend/tests/core/integrations/Vector Store.spec.ts
  src/frontend/tests/core/integrations/decisionFlow.spec.ts
  src/frontend/tests/core/integrations/similarity.spec.ts
  src/frontend/tests/core/integrations/textInputOutput.spec.ts
  src/frontend/tests/core/regression/generalBugs-shard-9.spec.ts
  src/frontend/tests/core/unit/chatInputOutput.spec.ts
  src/frontend/tests/core/unit/fileUploadComponent.spec.ts
  src/frontend/tests/extended/features/limit-file-size-upload.spec.ts
  src/frontend/tests/extended/features/stop-button-playground.spec.ts
  src/frontend/tests/extended/integrations/chatInputOutputUser-shard-2.spec.ts
  src/frontend/tests/extended/regression/general-bugs-shard-3836.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-0.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-3.spec.ts
Labels: documentation, size:L, lgtm

#3963 ref: refactor csv output parser to dynamic single component
  src/backend/base/langflow/components/output_parsers/CSVOutputParser.py
  src/backend/base/langflow/components/output_parsers/OutputParser.py
  src/backend/base/langflow/components/output_parsers/__init__.py
  src/backend/tests/integration/components/output_parsers/test_output_parser.py
Labels: python, size:M, lgtm

#3985 chore: Refactor error handling in OutputParser for improved readability
  src/backend/base/langflow/components/output_parsers/OutputParser.py
Labels: python, size:XS, lgtm, ignore-for-release

#3946 feat: add endpoint and tests for updating session ID in messages
  src/backend/base/langflow/api/v1/monitor.py
  src/backend/tests/unit/test_messages_endpoints.py
Labels: enhancement, size:M, lgtm

#3662 refactor: enhance tool creation logic and add FeatureFlags
  src/backend/base/langflow/base/tools/component_tool.py
  src/backend/base/langflow/base/tools/constants.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/custom/tree_visitor.py
  src/backend/base/langflow/graph/vertex/types.py
  src/backend/base/langflow/initial_setup/starter_projects/Agent Flow.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, World).json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Complex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Hierarchical Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/inputs/utils.py
  src/backend/base/langflow/io/schema.py
  src/backend/base/langflow/services/settings/feature_flags.py
  src/backend/base/langflow/template/field/base.py
  src/backend/base/langflow/template/template/base.py
  src/backend/tests/conftest.py
  src/backend/tests/unit/base/tools/test_component_tool.py
  src/backend/tests/unit/base/tools/test_component_toolkit.py
  src/backend/tests/unit/custom/component/test_component_to_tool.py
  src/backend/tests/unit/custom/custom_component/test_component.py
  src/backend/tests/unit/graph/graph/test_base.py
  src/backend/tests/unit/inputs/test_inputs.py
  src/backend/tests/unit/io/test_io_schema.py
  src/backend/tests/unit/test_custom_component.py
Labels: size:XL, lgtm, refactor

#3944 feat: add 'gradient' column to Flow model and database schema
  src/backend/base/langflow/alembic/versions/d3dbf656a499_add_gradient_column_in_flow.py
  src/backend/base/langflow/services/database/models/flow/model.py
Labels: enhancement, size:M, lgtm

#3799 feat: Add OpenSearch VectorStore Component with Ingest and Search Capabilities
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/components/vectorstores/OpenSearch.py
  src/frontend/src/icons/OpenSearch/OpenSearch.jsx
  src/frontend/src/icons/OpenSearch/index.tsx
  src/frontend/src/icons/OpenSearch/opensearch.svg
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, size:L, lgtm

#3938 feat: improve notes design
  src/frontend/src/CustomNodes/GenericNode/components/NodeDescription/index.tsx
  src/frontend/src/CustomNodes/NoteNode/index.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/style/index.css
  src/frontend/tailwind.config.mjs
  src/frontend/tests/extended/features/sticky-notes.spec.ts
Labels: enhancement, size:L, lgtm

#3993 ci: small nightly fixes
  .github/workflows/nightly_build.yml
  .github/workflows/python_test.yml
  .github/workflows/release.yml
  .github/workflows/release_nightly.yml
  .github/workflows/style-check-py.yml
Labels: size:S, lgtm

#3984 tests: update tests to use httpx.AsyncClient
  pyproject.toml
  src/backend/base/langflow/utils/validate.py
  src/backend/base/pyproject.toml
  src/backend/tests/conftest.py
  src/backend/tests/integration/components/assistants/test_assistants_components.py
  src/backend/tests/integration/test_misc.py
  src/backend/tests/unit/api/v1/test_variable.py
  src/backend/tests/unit/test_api_key.py
  src/backend/tests/unit/test_chat_endpoint.py
  src/backend/tests/unit/test_cli.py
  src/backend/tests/unit/test_database.py
  src/backend/tests/unit/test_endpoints.py
  src/backend/tests/unit/test_files.py
  src/backend/tests/unit/test_login.py
  src/backend/tests/unit/test_messages_endpoints.py
  src/backend/tests/unit/test_process.py
  src/backend/tests/unit/test_user.py
  src/backend/tests/unit/test_webhook.py
  uv.lock
Labels: python, size:XL, lgtm

#3694 refactor: deactivate caching if a component is part of a cycle
  src/backend/base/langflow/graph/edge/base.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/utils.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/graph/vertex/types.py
  src/backend/base/langflow/initial_setup/starter_projects/Agent Flow.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, World).json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Complex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Hierarchical Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/tests/conftest.py
  src/backend/tests/unit/graph/graph/test_cycles.py
  src/backend/tests/unit/graph/graph/test_utils.py
  src/backend/tests/unit/graph/test_graph.py
  src/backend/tests/unit/test_endpoints.py
  src/backend/tests/unit/test_loading.py
  src/backend/tests/unit/test_process.py
Labels: enhancement, size:XL, lgtm, refactor

#3987 fix: message list order
  src/backend/base/langflow/base/models/model.py
Labels: bug, size:XS, lgtm

#3891 fix: make streaming work in JS code example
  src/frontend/src/modals/apiModal/utils/get-js-api-code.tsx
  src/frontend/tests/extended/regression/generalBugs-shard-12.spec.ts
Labels: bug, javascript, size:M, lgtm

#3994 ref: Add more ruff rules
  src/backend/base/langflow/__init__.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/base/curl/parse.py
  src/backend/base/langflow/components/assemblyai/__init__.py
  src/backend/base/langflow/components/deactivated/ChatLiteLLMModel.py
  src/backend/base/langflow/components/langchain_utilities/FirecrawlCrawlApi.py
  src/backend/base/langflow/components/langchain_utilities/FirecrawlScrapeApi.py
  src/backend/base/langflow/components/memories/CassandraChatMemory.py
  src/backend/base/langflow/components/memories/ZepChatMemory.py
  src/backend/base/langflow/components/prototypes/JSONCleaner.py
  src/backend/base/langflow/components/vectorstores/Cassandra.py
  src/backend/base/langflow/components/vectorstores/CassandraGraph.py
  src/backend/base/langflow/components/vectorstores/Chroma.py
  src/backend/base/langflow/components/vectorstores/HCD.py
  src/backend/base/langflow/components/vectorstores/Milvus.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/graph/edge/base.py
  src/backend/base/pyproject.toml
Labels: size:L, lgtm

#4003 ref: Add ruff rules for datetime (DTZ)
  src/backend/base/langflow/api/v1/files.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/schema/message.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/tracing/langfuse.py
  src/backend/base/pyproject.toml
Labels: size:M, lgtm

#4004 ref: Add ruff rules for builtins (A)
  src/backend/base/langflow/base/tools/component_tool.py
  src/backend/base/langflow/components/prototypes/RunnableExecutor.py
  src/backend/base/langflow/services/database/models/user/crud.py
  src/backend/base/langflow/services/telemetry/opentelemetry.py
  src/backend/base/langflow/services/variable/kubernetes_secrets.py
  src/backend/base/langflow/utils/util.py
  src/backend/base/pyproject.toml
Labels: enhancement, size:M, lgtm

#3738 feat(YahooFinanceTool): enhance tool with new inputs for data retrieval methods
  src/backend/base/langflow/components/tools/YfinanceTool.py
  src/backend/tests/unit/components/tools/test_yfinance_tool.py
Labels: enhancement, size:L, lgtm

#3899 feat: Add Elasticsearch VectorStore Component with Ingest and Advanced Search Capabilities
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/components/vectorstores/Elasticsearch.py
  uv.lock
Labels: enhancement, size:L, lgtm

#3989 fix: Add `session_id` Parameter to `run_flow_from_json` Function
  src/backend/base/langflow/load/load.py
  src/backend/base/langflow/processing/process.py
  src/backend/tests/unit/base/load/test_load.py
  src/frontend/src/modals/apiModal/utils/get-python-code.tsx
Labels: bug, size:M, lgtm

#3776 feat: Add new Data utility components for CSV/JSON parsing, routing, and filtering
  src/backend/base/langflow/components/helpers/CSVtoData.py
  src/backend/base/langflow/components/helpers/CurrentDate.py
  src/backend/base/langflow/components/helpers/DataConditionalRouter.py
  src/backend/base/langflow/components/helpers/ExtractKey.py
  src/backend/base/langflow/components/helpers/FilterDataValues.py
  src/backend/base/langflow/components/helpers/JSONtoData.py
  src/backend/base/langflow/components/helpers/MessageToData.py
Labels: enhancement, python, size:XL, lgtm

#4006 chore: Add 'types' field to pre-commit hooks for ruff check and format
  .pre-commit-config.yaml
Labels: size:XS, lgtm, ignore-for-release

#3751 fix: modified QdrantVectorStoreComponent to use server_kwargs correctly
  src/backend/base/langflow/components/vectorstores/Qdrant.py
Labels: bug, size:XS, lgtm

#4009 chore: Update zep-python dependency to stable version 2.0.0 in pyproject.toml
  pyproject.toml
  uv.lock
Labels: size:XS, lgtm, ignore-for-release

#3774 feat(tools): add TavilyAI search tool for enhanced LLM search results
  src/backend/base/langflow/components/tools/TavilyAISearch.py
  src/frontend/src/icons/Tavily/Tavily.jsx
  src/frontend/src/icons/Tavily/index.tsx
  src/frontend/src/icons/Tavily/tavily.svg
  src/frontend/src/utils/styleUtils.ts
Labels: size:L, lgtm

#4011 chore: Add type annotation for 'status' and format multiline string in TavilyAISearch tool
  src/backend/base/langflow/components/tools/TavilyAISearch.py
Labels: python, size:XS, lgtm, ignore-for-release

#4016 fix: add user_id to component parameters to fix build
  src/backend/base/langflow/api/v1/chat.py
Labels: bug, size:XS, lgtm

#4007 feature: Add cursor highlight feature in canvas page
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
Labels: enhancement, size:M, lgtm

#3999 Add ruff rules for TYPE_CHECKING (TCH)
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/base/tools/component_tool.py
  src/backend/base/langflow/base/tools/flow_tool.py
  src/backend/base/langflow/base/vectorstores/model.py
  src/backend/base/langflow/components/chains/SQLGenerator.py
  src/backend/base/langflow/components/deactivated/SubFlow.py
  src/backend/base/langflow/components/embeddings/TextEmbedder.py
  src/backend/base/langflow/components/prototypes/RunFlow.py
  src/backend/base/langflow/components/vectorstores/Chroma.py
  src/backend/base/langflow/components/vectorstores/OpenSearch.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/custom/custom_component/custom_component.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/schema.py
  src/backend/base/langflow/graph/graph/state_manager.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/graph/vertex/types.py
  src/backend/base/langflow/helpers/flow.py
  src/backend/base/langflow/interface/initialize/loading.py
  src/backend/base/langflow/interface/types.py
  src/backend/base/langflow/processing/base.py
  src/backend/base/langflow/processing/process.py
  src/backend/base/langflow/schema/data.py
  src/backend/base/langflow/schema/message.py
  src/backend/base/langflow/services/database/models/api_key/crud.py
  src/backend/base/langflow/services/database/models/flow/model.py
  src/backend/base/langflow/services/database/models/folder/model.py
  src/backend/base/langflow/services/database/models/folder/utils.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/deps.py
  src/backend/base/langflow/services/factory.py
  src/backend/base/langflow/services/session/service.py
  src/backend/base/langflow/services/task/backends/celery.py
  src/backend/base/langflow/services/task/service.py
  src/backend/base/langflow/services/task/utils.py
  src/backend/base/langflow/services/telemetry/service.py
  src/backend/base/langflow/services/tracing/base.py
  src/backend/base/langflow/services/tracing/langfuse.py
  src/backend/base/langflow/services/tracing/langsmith.py
  src/backend/base/langflow/services/tracing/langwatch.py
  src/backend/base/langflow/services/tracing/service.py
  src/backend/base/langflow/services/variable/kubernetes.py
  src/backend/base/langflow/services/variable/service.py
  src/backend/base/pyproject.toml
Labels: python, size:L, lgtm

#3832 feat: Add Redis Chat Memory
  src/backend/base/langflow/components/memories/RedisChatMemory.py
Labels: enhancement, python, size:M, lgtm

#4018 fix: set folder id on flows imported on startup
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/services/database/models/folder/utils.py
  src/backend/tests/unit/test_database.py
Labels: bug, size:M, lgtm

#4019 chore: removes Poetry references from pyproject.toml and updates the project metadata
  .github/workflows/docker-build.yml
  .github/workflows/integration_tests.yml
  .github/workflows/typescript_test.yml
  Makefile
  pyproject.toml
  scripts/factory_restart_space.py
  src/backend/base/pyproject.toml
  src/frontend/playwright.config.ts
Labels: size:L, lgtm, ignore-for-release

#4025 fix: remove truncate to save data on DB
  src/backend/base/langflow/services/database/models/transactions/model.py
  src/backend/base/langflow/services/database/models/vertex_builds/model.py
Labels: bug, size:S, lgtm

#4022 fix: update variable fields
  src/backend/base/langflow/services/variable/service.py
  src/backend/tests/unit/services/variable/test_service.py
Labels: bug, size:S, lgtm

#4029 release: bump main 1.0.19 and base 0.0.97
  pyproject.toml
  src/backend/base/pyproject.toml
  uv.lock
Labels: size:XS

#4017 fix: modified DirectoryDataComponent to support user defined custom file types
  src/backend/base/langflow/components/data/Directory.py
  src/backend/tests/unit/test_data_components.py
Labels: bug, size:S, lgtm

#4030 ref: Propagate traceback in exception logs
  src/backend/base/langflow/alembic/env.py
  src/backend/base/langflow/api/v1/callback.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/starter_projects.py
  src/backend/base/langflow/api/v1/store.py
  src/backend/base/langflow/base/prompts/api_utils.py
  src/backend/base/langflow/base/tools/flow_tool.py
  src/backend/base/langflow/components/Notion/update_page_property.py
  src/backend/base/langflow/components/data/APIRequest.py
  src/backend/base/langflow/components/deactivated/SubFlow.py
  src/backend/base/langflow/components/embeddings/util/AIMLEmbeddingsImpl.py
  src/backend/base/langflow/components/prototypes/FlowTool.py
  src/backend/base/langflow/components/prototypes/SubFlow.py
  src/backend/base/langflow/components/toolkits/ComposioAPI.py
  src/backend/base/langflow/components/vectorstores/Elasticsearch.py
  src/backend/base/langflow/components/vectorstores/OpenSearch.py
  src/backend/base/langflow/custom/code_parser/code_parser.py
  src/backend/base/langflow/custom/directory_reader/directory_reader.py
  src/backend/base/langflow/custom/directory_reader/utils.py
  src/backend/base/langflow/custom/utils.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/state_manager.py
  src/backend/base/langflow/graph/utils.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/interface/initialize/loading.py
  src/backend/base/langflow/interface/utils.py
  src/backend/base/langflow/load/load.py
  src/backend/base/langflow/logging/logger.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/processing/base.py
  src/backend/base/langflow/services/auth/utils.py
  src/backend/base/langflow/services/cache/service.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/database/utils.py
  src/backend/base/langflow/services/deps.py
  src/backend/base/langflow/services/manager.py
  src/backend/base/langflow/services/plugins/langfuse_plugin.py
  src/backend/base/langflow/services/plugins/service.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/langflow/services/settings/utils.py
  src/backend/base/langflow/services/state/service.py
  src/backend/base/langflow/services/storage/local.py
  src/backend/base/langflow/services/storage/s3.py
  src/backend/base/langflow/services/store/service.py
  src/backend/base/langflow/services/task/backends/anyio.py
  src/backend/base/langflow/services/task/service.py
  src/backend/base/langflow/services/telemetry/service.py
  src/backend/base/langflow/services/tracing/langfuse.py
  src/backend/base/langflow/services/tracing/langsmith.py
  src/backend/base/langflow/services/tracing/langwatch.py
  src/backend/base/langflow/services/tracing/service.py
  src/backend/base/langflow/services/utils.py
  src/backend/base/langflow/services/variable/kubernetes.py
  src/backend/base/langflow/services/variable/kubernetes_secrets.py
  src/backend/base/langflow/services/variable/service.py
Labels: size:L, lgtm

#4035 ref: Add ruff rules for Pathlib (PTH)
  src/backend/base/langflow/base/data/utils.py
  src/backend/base/langflow/components/agents/JsonAgent.py
  src/backend/base/langflow/components/agents/OpenAPIAgent.py
  src/backend/base/langflow/components/assemblyai/AssemblyAIStartTranscript.py
  src/backend/base/langflow/components/documentloaders/GitLoader.py
  src/backend/base/langflow/components/helpers/CSVtoData.py
  src/backend/base/langflow/components/helpers/JSONtoData.py
  src/backend/base/langflow/components/vectorstores/Redis.py
  src/backend/base/langflow/custom/code_parser/code_parser.py
  src/backend/base/langflow/custom/directory_reader/directory_reader.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/interface/utils.py
  src/backend/base/langflow/load/load.py
  src/backend/base/langflow/load/utils.py
  src/backend/base/langflow/services/cache/utils.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/plugins/service.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/langflow/services/settings/manager.py
  src/backend/base/langflow/services/settings/utils.py
  src/backend/base/langflow/services/storage/local.py
  src/backend/base/pyproject.toml
Labels: python, size:L, lgtm

#4044 Revert "release: bump main 1.0.19 and base 0.0.97"
  pyproject.toml
  src/backend/base/pyproject.toml
  uv.lock
Labels: size:XS

#4054 fix: NameError for Vertex and Graph Imports in Flow Tool
  src/backend/base/langflow/base/tools/flow_tool.py
Labels: bug, size:XS, lgtm

#4056 chore: update duckduckgo-search to the 6.3.0
  pyproject.toml
  uv.lock
Labels: size:XS, lgtm, ignore-for-release

#4055 FIX: don't error in Langchain Hub Component when adding to canvas
  src/backend/base/langflow/components/prompts/LangChainHubPrompt.py
Labels: bug, size:L, lgtm

#4057 fix: prevent langfuse initialization
  src/backend/base/langflow/services/tracing/langfuse.py
Labels: bug, size:S, lgtm

#4041 fix: missing 'field' argument in get_variable
  src/backend/base/langflow/components/models/OllamaModel.py
Labels: bug, size:XS, lgtm

#4058 fix: Add useUpdateNodeInternals hook to handle node class changes
  src/frontend/src/CustomNodes/hooks/use-handle-node-class.tsx
Labels: bug, size:XS, lgtm

#4047 ref: Add ruff rules for perf (PERF)
  src/backend/base/langflow/base/vectorstores/utils.py
  src/backend/base/langflow/components/deactivated/SplitText.py
  src/backend/base/langflow/components/helpers/CSVtoData.py
  src/backend/base/langflow/components/helpers/SplitText.py
  src/backend/base/langflow/components/prompts/LangChainHubPrompt.py
  src/backend/base/langflow/components/tools/GleanSearchAPI.py
  src/backend/base/langflow/components/tools/PythonCodeStructuredTool.py
  src/backend/base/langflow/components/tools/SearXNGTool.py
  src/backend/base/langflow/custom/code_parser/code_parser.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/custom/utils.py
  src/backend/base/langflow/graph/graph/utils.py
  src/backend/base/langflow/helpers/flow.py
  src/backend/base/langflow/logging/logger.py
  src/backend/base/langflow/memory.py
  src/backend/base/langflow/services/factory.py
  src/backend/base/pyproject.toml
Labels: size:L, lgtm

#4061 fix: add range_spec to AssemblyAITranscriptionJobPoller
  src/backend/base/langflow/components/assemblyai/AssemblyAIPollTranscript.py
Labels: bug, size:XS, lgtm

#4052 Feat: Shared Component Cache Service
  pyproject.toml
  src/backend/base/langflow/components/astra_assistants/__init__.py
  src/backend/base/langflow/components/astra_assistants/astra_assistant_manager.py
  src/backend/base/langflow/components/astra_assistants/create_assistant.py
  src/backend/base/langflow/components/astra_assistants/create_thread.py
  src/backend/base/langflow/components/astra_assistants/get_assistant.py
  src/backend/base/langflow/components/astra_assistants/list_assistants.py
  src/backend/base/langflow/components/astra_assistants/run.py
  src/backend/base/langflow/components/astra_assistants/util.py
  src/backend/base/langflow/custom/custom_component/component_with_cache.py
  src/backend/base/langflow/services/deps.py
  src/backend/base/langflow/services/schema.py
  src/backend/base/langflow/services/shared_component_cache/__init__.py
  src/backend/base/langflow/services/shared_component_cache/factory.py
  src/backend/base/langflow/services/shared_component_cache/service.py
  uv.lock
Labels: enhancement, size:L, lgtm

#4026 fix: Update the columns that need to change their type to text (MySQL e MariaDB)
  src/backend/base/langflow/alembic/versions/0ae3a2674f32_update_the_columns_that_need_to_change_.py
  src/backend/base/langflow/services/database/models/message/model.py
  src/backend/base/langflow/services/database/models/vertex_builds/model.py
Labels: bug, size:M, lgtm

#4067 refactor: change model name extraction to use list comprehension
  src/backend/base/langflow/components/astra_assistants/util.py
Labels: size:XS, lgtm

#4045 ref: Use TypeError instead of ValueError when relevant (TRY004)
  src/backend/base/langflow/base/io/chat.py
  src/backend/base/langflow/components/helpers/MessageToData.py
  src/backend/base/langflow/components/prototypes/RunnableExecutor.py
  src/backend/base/langflow/components/retrievers/SelfQueryRetriever.py
  src/backend/base/langflow/components/tools/PythonREPLTool.py
  src/backend/base/langflow/components/vectorstores/AstraDB.py
  src/backend/base/langflow/components/vectorstores/Chroma.py
  src/backend/base/langflow/components/vectorstores/Elasticsearch.py
  src/backend/base/langflow/components/vectorstores/HCD.py
  src/backend/base/langflow/components/vectorstores/OpenSearch.py
  src/backend/base/langflow/components/vectorstores/Qdrant.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/custom/custom_component/custom_component.py
  src/backend/base/langflow/custom/utils.py
  src/backend/base/langflow/events/event_manager.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/state/model.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/graph/vertex/types.py
  src/backend/base/langflow/helpers/data.py
  src/backend/base/langflow/inputs/input_mixin.py
  src/backend/base/langflow/inputs/inputs.py
  src/backend/base/langflow/io/schema.py
  src/backend/base/langflow/load/utils.py
  src/backend/base/langflow/processing/process.py
  src/backend/base/langflow/schema/data.py
  src/backend/base/langflow/services/chat/cache.py
  src/backend/base/langflow/services/database/models/flow/model.py
  src/backend/base/langflow/services/telemetry/opentelemetry.py
  src/backend/base/langflow/template/field/base.py
  src/backend/base/langflow/utils/schemas.py
  src/backend/base/pyproject.toml
  src/backend/tests/unit/graph/graph/state/test_state_model.py
  src/backend/tests/unit/test_telemetry.py
Labels: size:M, lgtm

#4059 fix: refactoring Merge Data component
  src/backend/base/langflow/components/deactivated/MergeData.py
  src/backend/base/langflow/components/helpers/MergeData.py
Labels: bug, size:L, lgtm

#4074 feature: Hide integrations
  src/frontend/src/customization/feature-flags.ts
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/index.tsx
  src/frontend/tests/extended/regression/generalBugs-shard-12.spec.ts
Labels: enhancement, size:S, lgtm

#4077 ref: Add ruff rules for TRY2 and TRY002
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/login.py
  src/backend/base/langflow/api/v1/monitor.py
  src/backend/base/langflow/api/v1/variable.py
  src/backend/base/langflow/base/models/model.py
  src/backend/base/langflow/components/astra_assistants/getenvvar.py
  src/backend/base/langflow/components/astra_assistants/run.py
  src/backend/base/langflow/components/data/Gmail.py
  src/backend/base/langflow/components/deactivated/ChatLiteLLMModel.py
  src/backend/base/langflow/components/deactivated/MergeData.py
  src/backend/base/langflow/components/helpers/MergeData.py
  src/backend/base/langflow/components/langchain_utilities/SpiderTool.py
  src/backend/base/langflow/components/prototypes/SQLExecutor.py
  src/backend/base/langflow/components/retrievers/VectaraSelfQueryRetriver.py
  src/backend/base/langflow/components/tools/PythonCodeStructuredTool.py
  src/backend/base/langflow/components/vectorstores/Cassandra.py
  src/backend/base/langflow/components/vectorstores/CassandraGraph.py
  src/backend/base/langflow/custom/code_parser/code_parser.py
  src/backend/base/langflow/custom/utils.py
  src/backend/base/langflow/graph/edge/base.py
  src/backend/base/langflow/graph/state/model.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/interface/initialize/loading.py
  src/backend/base/langflow/load/utils.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/memory.py
  src/backend/base/langflow/services/database/models/transactions/crud.py
  src/backend/base/langflow/services/database/models/vertex_builds/crud.py
  src/backend/base/langflow/services/database/utils.py
  src/backend/base/langflow/services/store/service.py
  src/backend/base/langflow/services/tracing/service.py
  src/backend/base/langflow/services/utils.py
  src/backend/base/pyproject.toml
Labels: python, size:L, lgtm

#4081 chore: Add 'unsafe_fix' target to Makefile
  Makefile
Labels: size:XS, lgtm, ignore-for-release

#3969 Docs: add agent starter flows
  docs/docs/Components/components-agents.md
  docs/docs/Starter-Projects/starter-flow-simple-agent.png
  docs/docs/Starter-Projects/starter-flow-travel-planning-agent.png
  docs/docs/Starter-Projects/starter-projects-dynamic-agent.md
  docs/docs/Starter-Projects/starter-projects-simple-agent.md
  docs/docs/Starter-Projects/starter-projects-travel-planning-agent.md
Labels: documentation, size:L, lgtm

#4069 fix: alembic revision autogenerate script
  src/backend/base/langflow/alembic/versions/5ace73a7f223_new_remove_table_upgrade_op.py
Labels: bug, size:M, lgtm

#4078 fix: rollback truncate values on transaction/vertex tables
  src/backend/base/langflow/services/database/models/transactions/model.py
  src/backend/base/langflow/services/database/models/vertex_builds/model.py
Labels: bug, size:S, lgtm

#4043 feat: Add default value support for table columns
  src/backend/base/langflow/schema/table.py
  src/backend/tests/unit/io/test_table_schema.py
  src/frontend/src/components/parameterRenderComponent/components/TableNodeComponent/index.tsx
  src/frontend/src/types/utils/functions.ts
  src/frontend/src/utils/utils.ts
Labels: enhancement, size:L, lgtm

#4027 refactor: tracking updates for deleted nodes
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/stores/flowStore.ts
Labels: size:M, lgtm

#4071 fix: Refactor import statements and enhance error logging
  src/backend/base/langflow/base/astra_assistants/__init__.py
  src/backend/base/langflow/base/astra_assistants/util.py
  src/backend/base/langflow/components/astra_assistants/astra_assistant_manager.py
  src/backend/base/langflow/components/astra_assistants/create_assistant.py
  src/backend/base/langflow/components/astra_assistants/create_thread.py
  src/backend/base/langflow/components/astra_assistants/get_assistant.py
  src/backend/base/langflow/components/astra_assistants/list_assistants.py
  src/backend/base/langflow/components/astra_assistants/run.py
  src/backend/base/langflow/components/langchain_utilities/SpiderTool.py
  src/backend/base/langflow/components/toolkits/Metaphor.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/custom/directory_reader/directory_reader.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/initial_setup/starter_projects/Agent Flow.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, World).json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Complex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Hierarchical Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/utils/validate.py
Labels: bug, size:L, lgtm

#4087 fix: exception locations in component classes
  src/backend/base/langflow/components/astra_assistants/run.py
  src/backend/base/langflow/components/langchain_utilities/SpiderTool.py
Labels: bug, size:M, lgtm

#4079 ref: Add ruff rules for asyncio tasks references (RUF006)
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/graph/vertex/types.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/telemetry/service.py
  src/backend/base/langflow/services/tracing/base.py
  src/backend/base/langflow/services/tracing/service.py
  src/backend/base/pyproject.toml
Labels: size:L, lgtm

#4082 ref: Add ruff rules for print (T20)
  src/backend/base/langflow/components/assemblyai/AssemblyAILeMUR.py
  src/backend/base/langflow/components/astra_assistants/astra_assistant_manager.py
  src/backend/base/langflow/components/astra_assistants/create_assistant.py
  src/backend/base/langflow/components/data/Gmail.py
  src/backend/base/langflow/components/helpers/ParseJSONData.py
  src/backend/base/langflow/graph/graph/ascii.py
  src/backend/base/langflow/services/settings/utils.py
  src/backend/base/pyproject.toml
Labels: size:S, lgtm

#3654 tests: update env.py and conftest so tests use unique databases
  src/backend/base/langflow/alembic/env.py
  src/backend/base/langflow/graph/utils.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/telemetry/opentelemetry.py
  src/backend/tests/conftest.py
  src/backend/tests/unit/test_cli.py
  src/backend/tests/unit/test_custom_component.py
  src/backend/tests/unit/test_custom_component_with_client.py
  src/backend/tests/unit/test_user.py
Labels: size:L, lgtm

#4083 chore:Add Alembic Commands to Makefile
  Makefile
Labels: enhancement, size:M, lgtm

#4102 docs: remove old examples
  docs/docs/Starter-Projects/starter-projects-complex-agent.md
  docs/docs/Starter-Projects/starter-projects-hierarchical-crew.md
  docs/docs/Starter-Projects/starter-projects-sequential-crew.md
Labels: documentation, size:L, lgtm

#4088 fix: network error handling and build errors
  src/frontend/src/controllers/API/api.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/utils/buildUtils.ts
Labels: bug, size:M, lgtm

#4103 fix: store api key pydantic error
  src/backend/base/langflow/services/database/models/user/model.py
Labels: bug, size:XS, lgtm

#4104 version: upgrade to 1.0.19 and 0.0.97
  pyproject.toml
  src/backend/base/pyproject.toml
  uv.lock
Labels: size:XS

#4105 build: add readme to dockerfile
  docker/build_and_push.Dockerfile
Labels: size:XS

#4099 feat: Add traceback to fastapi exception handler logs
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/starter_projects.py
  src/backend/base/langflow/api/v1/validate.py
  src/backend/base/langflow/base/prompts/api_utils.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/main.py
Labels: enhancement, size:S, lgtm

#4114 fix: prevent possible race condition on upload flows/folders
  src/frontend/src/helpers/create-file-upload.ts
Labels: bug, size:M, lgtm

#4118 fix: truncate "params" column on vertex_build table to prevent memory heap on database
  src/backend/base/langflow/services/database/models/vertex_builds/model.py
  src/backend/base/langflow/utils/util_strings.py
  src/backend/tests/unit/utils/test_truncate_long_strings.py
  src/backend/tests/unit/utils/test_truncate_long_strings_on_objects.py
Labels: bug, size:M, lgtm

#4132 fix: enhance recursive_serialize_or_str to handle BaseModelV1 and improve exception logging
  src/backend/base/langflow/schema/schema.py
Labels: bug, size:XS, lgtm

#4097 fix: name/description bug in "Flow as Tool"
  src/backend/base/langflow/components/prototypes/FlowTool.py
Labels: bug, size:XS, lgtm

#4134 chore: add opensearch-py dependency
  pyproject.toml
  uv.lock
Labels: size:XS, lgtm, ignore-for-release

#4098 ref: Add ruff rules TRY3xx
  src/backend/base/langflow/api/v1/api_key.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/files.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/folders.py
  src/backend/base/langflow/api/v1/monitor.py
  src/backend/base/langflow/api/v1/variable.py
  src/backend/base/langflow/base/models/model.py
  src/backend/base/langflow/components/Notion/add_content_to_page.py
  src/backend/base/langflow/components/Notion/update_page_property.py
  src/backend/base/langflow/components/assemblyai/AssemblyAILeMUR.py
  src/backend/base/langflow/components/assemblyai/AssemblyAIListTranscripts.py
  src/backend/base/langflow/components/assemblyai/AssemblyAIStartTranscript.py
  src/backend/base/langflow/components/deactivated/MergeData.py
  src/backend/base/langflow/components/deactivated/SubFlow.py
  src/backend/base/langflow/components/helpers/CSVtoData.py
  src/backend/base/langflow/components/helpers/JSONtoData.py
  src/backend/base/langflow/components/helpers/MergeData.py
  src/backend/base/langflow/components/helpers/MessageToData.py
  src/backend/base/langflow/components/prototypes/JSONCleaner.py
  src/backend/base/langflow/components/prototypes/SubFlow.py
  src/backend/base/langflow/components/toolkits/ComposioAPI.py
  src/backend/base/langflow/components/tools/Calculator.py
  src/backend/base/langflow/components/tools/SerpAPI.py
  src/backend/base/langflow/components/tools/TavilyAISearch.py
  src/backend/base/langflow/components/tools/YfinanceTool.py
  src/backend/base/langflow/components/vectorstores/Elasticsearch.py
  src/backend/base/langflow/components/vectorstores/OpenSearch.py
  src/backend/base/langflow/custom/directory_reader/directory_reader.py
  src/backend/base/langflow/custom/utils.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/interface/initialize/loading.py
  src/backend/base/langflow/load/utils.py
  src/backend/base/langflow/memory.py
  src/backend/base/langflow/schema/dotdict.py
  src/backend/base/langflow/schema/image.py
  src/backend/base/langflow/schema/message.py
  src/backend/base/langflow/services/cache/service.py
  src/backend/base/langflow/services/database/models/transactions/crud.py
  src/backend/base/langflow/services/database/models/vertex_builds/crud.py
  src/backend/base/langflow/services/storage/s3.py
  src/backend/base/langflow/services/task/backends/anyio.py
  src/backend/base/langflow/services/utils.py
  src/backend/base/langflow/utils/version.py
  src/backend/base/langflow/worker.py
  src/backend/base/pyproject.toml
Labels: python, size:XXL, lgtm

#4131 ref: Some ruff rule fixes from preview mode
  src/backend/base/langflow/api/v1/folders.py
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/langflow/base/curl/parse.py
  src/backend/base/langflow/base/data/utils.py
  src/backend/base/langflow/base/models/model.py
  src/backend/base/langflow/components/Notion/add_content_to_page.py
  src/backend/base/langflow/components/Notion/page_content_viewer.py
  src/backend/base/langflow/components/astra_assistants/__init__.py
  src/backend/base/langflow/components/data/APIRequest.py
  src/backend/base/langflow/components/deactivated/ShouldRunNext.py
  src/backend/base/langflow/components/deactivated/SubFlow.py
  src/backend/base/langflow/components/helpers/DataConditionalRouter.py
  src/backend/base/langflow/components/models/GroqModel.py
  src/backend/base/langflow/components/prompts/LangChainHubPrompt.py
  src/backend/base/langflow/components/prototypes/SubFlow.py
  src/backend/base/langflow/components/tools/PythonCodeStructuredTool.py
  src/backend/base/langflow/components/vectorstores/Redis.py
  src/backend/base/langflow/custom/code_parser/code_parser.py
  src/backend/base/langflow/custom/utils.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/utils.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/interface/run.py
  src/backend/base/langflow/load/utils.py
  src/backend/base/langflow/schema/table.py
  src/backend/base/langflow/services/plugins/service.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/langflow/services/settings/utils.py
  src/backend/base/langflow/services/store/service.py
  src/backend/base/langflow/template/field/base.py
  src/backend/base/langflow/type_extraction/type_extraction.py
  src/backend/base/langflow/utils/util.py
  src/backend/base/langflow/utils/version.py
Labels: size:L, lgtm

#4123 ref: Add ruff rules for arguments (ARG)
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/api/v1/api_key.py
  src/backend/base/langflow/api/v1/callback.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/monitor.py
  src/backend/base/langflow/api/v1/starter_projects.py
  src/backend/base/langflow/api/v1/variable.py
  src/backend/base/langflow/base/agents/utils.py
  src/backend/base/langflow/base/flow_processing/utils.py
  src/backend/base/langflow/base/tools/flow_tool.py
  src/backend/base/langflow/components/deactivated/SubFlow.py
  src/backend/base/langflow/components/embeddings/GoogleGenerativeAIEmbeddings.py
  src/backend/base/langflow/components/helpers/IDGenerator.py
  src/backend/base/langflow/components/models/GroqModel.py
  src/backend/base/langflow/components/models/HuggingFaceModel.py
  src/backend/base/langflow/components/prototypes/FlowTool.py
  src/backend/base/langflow/components/prototypes/RunFlow.py
  src/backend/base/langflow/components/toolkits/ComposioAPI.py
  src/backend/base/langflow/components/tools/PythonCodeStructuredTool.py
  src/backend/base/langflow/custom/attributes.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/custom/utils.py
  src/backend/base/langflow/field_typing/range_spec.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/utils.py
  src/backend/base/langflow/graph/state/model.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/helpers/flow.py
  src/backend/base/langflow/interface/types.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/processing/base.py
  src/backend/base/langflow/services/cache/service.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/plugins/factory.py
  src/backend/base/langflow/services/plugins/service.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/langflow/services/socket/service.py
  src/backend/base/langflow/services/socket/utils.py
  src/backend/base/langflow/services/telemetry/opentelemetry.py
  src/backend/base/langflow/services/tracing/langfuse.py
  src/backend/base/langflow/services/tracing/langsmith.py
  src/backend/base/langflow/services/tracing/langwatch.py
  src/backend/base/langflow/services/utils.py
  src/backend/base/langflow/services/variable/kubernetes.py
  src/backend/base/langflow/services/variable/kubernetes_secrets.py
  src/backend/base/langflow/worker.py
  src/backend/base/pyproject.toml
  src/backend/tests/unit/graph/test_graph.py
Labels: size:L, lgtm

#4126 ref: Add ruff rules for boolean trap (FBT)
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/store.py
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/base/data/utils.py
  src/backend/base/langflow/base/io/chat.py
  src/backend/base/langflow/base/models/model.py
  src/backend/base/langflow/base/prompts/api_utils.py
  src/backend/base/langflow/components/chains/RetrievalQA.py
  src/backend/base/langflow/components/data/Directory.py
  src/backend/base/langflow/components/data/File.py
  src/backend/base/langflow/components/data/Gmail.py
  src/backend/base/langflow/components/deactivated/ExtractKeyFromData.py
  src/backend/base/langflow/components/deactivated/SelectivePassThrough.py
  src/backend/base/langflow/components/langchain_utilities/FirecrawlCrawlApi.py
  src/backend/base/langflow/components/prototypes/ConditionalRouter.py
  src/backend/base/langflow/components/prototypes/Notify.py
  src/backend/base/langflow/components/prototypes/SQLExecutor.py
  src/backend/base/langflow/components/tools/TavilyAISearch.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/custom/custom_component/custom_component.py
  src/backend/base/langflow/custom/directory_reader/directory_reader.py
  src/backend/base/langflow/custom/directory_reader/utils.py
  src/backend/base/langflow/custom/utils.py
  src/backend/base/langflow/graph/graph/ascii.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/runnable_vertices_manager.py
  src/backend/base/langflow/graph/graph/utils.py
  src/backend/base/langflow/graph/state/model.py
  src/backend/base/langflow/graph/utils.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/inputs/validators.py
  src/backend/base/langflow/interface/initialize/loading.py
  src/backend/base/langflow/interface/types.py
  src/backend/base/langflow/load/load.py
  src/backend/base/langflow/logging/logger.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/processing/process.py
  src/backend/base/langflow/schema/image.py
  src/backend/base/langflow/services/auth/utils.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/database/utils.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/langflow/services/store/service.py
  src/backend/base/langflow/services/store/utils.py
  src/backend/base/langflow/services/telemetry/opentelemetry.py
  src/backend/base/langflow/services/utils.py
  src/backend/base/langflow/template/frontend_node/base.py
  src/backend/base/langflow/utils/util.py
  src/backend/base/langflow/utils/version.py
  src/backend/base/langflow/worker.py
  src/backend/base/pyproject.toml
  src/backend/tests/unit/base/load/test_load.py
  src/backend/tests/unit/graph/graph/test_runnable_vertices_manager.py
  src/backend/tests/unit/test_data_components.py
Labels: size:L, lgtm

#4084 feat: update theme
  src/frontend/src/CustomNodes/GenericNode/components/NodeInputField/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputfield/index.tsx
  src/frontend/src/icons/AstraDB/AstraDB.jsx
  src/frontend/src/style/applies.css
  src/frontend/src/style/index.css
Labels: enhancement, size:L, lgtm

#4142 fix: border and editor display issues
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/textAreaWrapper/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/helpers/get-class-file-preview.ts
  src/frontend/src/modals/codeAreaModal/index.tsx
  src/frontend/src/style/applies.css
Labels: bug, size:S, lgtm

#4137 fix: Union type on components
  src/backend/base/langflow/type_extraction/type_extraction.py
  src/backend/tests/unit/test_schema.py
Labels: bug, size:M, lgtm

#4156 ref: Fix unused args in tests
  src/backend/tests/unit/api/v1/test_variable.py
  src/backend/tests/unit/base/tools/test_component_toolkit.py
  src/backend/tests/unit/components/models/test_ChatOllama_component.py
  src/backend/tests/unit/graph/edge/test_edge_base.py
  src/backend/tests/unit/graph/graph/test_callback_graph.py
  src/backend/tests/unit/test_api_key.py
  src/backend/tests/unit/test_cli.py
  src/backend/tests/unit/test_database.py
  src/backend/tests/unit/test_files.py
  src/backend/tests/unit/test_frontend_nodes.py
  src/backend/tests/unit/test_messages_endpoints.py
  src/backend/tests/unit/test_process.py
  src/backend/tests/unit/test_user.py
Labels: size:L, lgtm

#4159 ref: Use pathlib in tests
  scripts/ci/update_lf_base_dependency.py
  scripts/ci/update_pyproject_name.py
  scripts/ci/update_pyproject_version.py
  scripts/ci/update_uv_dependency.py
  src/backend/tests/conftest.py
  src/backend/tests/locust/locustfile.py
  src/backend/tests/unit/test_custom_component.py
  src/backend/tests/unit/test_custom_component_with_client.py
  src/backend/tests/unit/test_data_components.py
  src/backend/tests/unit/test_files.py
  src/backend/tests/unit/test_helper_components.py
Labels: size:L, lgtm

#3911 feat: Add Astra DB Tool components for use with Tool Agents
  .gitignore
  docs/docs/Components/components-tools.md
  scripts/setup/check_env.sh
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/components/tools/AstraDBCQLTool.py
  src/backend/base/langflow/components/tools/AstraDBTool.py
  src/backend/base/langflow/components/tools/__init__.py
  src/backend/base/langflow/initial_setup/starter_projects/Agent Flow.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, World).json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Complex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Hierarchical Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/frontend/package-lock.json
Labels: enhancement, size:XL, lgtm

#3874 feature: get messages from messages table for the playground
  pyproject.toml
  src/backend/base/langflow/alembic/versions/eb5e72293a8e_add_error_and_edit_flags_to_message.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/monitor.py
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/langflow/base/astra_assistants/util.py
  src/backend/base/langflow/base/io/chat.py
  src/backend/base/langflow/components/inputs/ChatInput.py
  src/backend/base/langflow/components/outputs/ChatOutput.py
  src/backend/base/langflow/events/event_manager.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/initial_setup/starter_projects/Agent Flow.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, World).json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Complex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Hierarchical Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/memory.py
  src/backend/base/langflow/schema/message.py
  src/backend/base/langflow/services/database/models/message/crud.py
  src/backend/base/langflow/services/database/models/message/model.py
  src/frontend/src/components/renderIconComponent/index.tsx
  src/frontend/src/controllers/API/queries/messages/use-get-messages.ts
  src/frontend/src/controllers/API/queries/messages/use-put-update-messages.ts
  src/frontend/src/controllers/API/queries/messages/use-rename-session.ts
  src/frontend/src/modals/IOModal/components/IOFieldView/components/sessionSelector/index.tsx
  src/frontend/src/modals/IOModal/components/SessionView/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/uploadFileButton/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/components/editMessageButton/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/components/editMessageField/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/components/fileCardWrapper/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/index.tsx
  src/frontend/src/modals/IOModal/index.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/stores/messagesStore.ts
  src/frontend/src/types/chat/index.ts
  src/frontend/src/types/components/index.ts
  src/frontend/src/types/messages/index.ts
  src/frontend/src/types/zustand/flow/index.ts
  src/frontend/src/types/zustand/messages/index.ts
  src/frontend/src/utils/buildUtils.ts
  src/frontend/src/utils/reactflowUtils.ts
  src/frontend/src/utils/utils.ts
  src/frontend/tests/core/features/freeze.spec.ts
  src/frontend/tests/core/features/playground.spec.ts
  src/frontend/tests/core/integrations/Basic Prompting.spec.ts
  src/frontend/tests/core/integrations/Document QA.spec.ts
  src/frontend/tests/core/integrations/Memory Chatbot.spec.ts
  src/frontend/tests/core/integrations/Vector Store.spec.ts
  src/frontend/tests/core/unit/chatInputOutput.spec.ts
  src/frontend/tests/extended/integrations/duckduckgo.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-0.spec.ts
  uv.lock
Labels: enhancement, size:XXL, lgtm

#4167 fix: batch updates and scrolling issues
  src/frontend/package-lock.json
  src/frontend/src/components/dateReaderComponent/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/index.tsx
  src/frontend/src/modals/IOModal/index.tsx
  src/frontend/src/stores/messagesStore.ts
  src/frontend/src/utils/buildUtils.ts
Labels: bug, size:M, lgtm

#4024 feat: add StructuredOutput component
  src/backend/base/langflow/base/models/chat_result.py
  src/backend/base/langflow/components/helpers/structured_output.py
  src/backend/base/langflow/components/models/OpenAIModel.py
  src/backend/base/langflow/helpers/base_model.py
  src/backend/base/langflow/initial_setup/starter_projects/Agent Flow.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, World).json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Complex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Hierarchical Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/inputs/inputs.py
  src/backend/base/langflow/schema/table.py
  src/backend/base/langflow/utils/constants.py
  src/backend/tests/unit/components/helpers/test_structured_output_component.py
  src/backend/tests/unit/helpers/test_base_model_from_schema.py
Labels: enhancement, size:XL, lgtm

#4162 fix: StoreMessage.py to prevent errors on Component
  src/backend/base/langflow/components/helpers/StoreMessage.py
Labels: bug, size:XS, lgtm

#4141 feat: change the Tools color to improve user experience
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, size:XS, lgtm

#4169 fix: toggle and row hover colors
  src/frontend/src/components/ui/switch.tsx
  src/frontend/src/style/ag-theme-shadcn.css
Labels: bug, size:XS, lgtm

#4168 fix: environment variable loading and improve error handling in DB retrieval
  src/backend/base/langflow/interface/initialize/loading.py
  src/backend/base/langflow/services/variable/service.py
  src/backend/tests/unit/services/variable/test_service.py
Labels: bug, size:L, lgtm

#4150 fix: update assistants client import
  pyproject.toml
  src/backend/base/langflow/base/astra_assistants/util.py
  uv.lock
Labels: bug, size:XS, lgtm

#4143 tests: fix decision flow test
  src/frontend/tests/core/integrations/decisionFlow.spec.ts
Labels: size:XL, lgtm

#4062 build: dockerfile with entrypoint
  .github/workflows/docker-build.yml
  .github/workflows/release.yml
  .github/workflows/release_nightly.yml
  docker/build_and_push_ep.Dockerfile
Labels: size:L, lgtm, build

#4184 feat: add new categories endpoint
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/langflow/utils/constants.py
Labels: enhancement, size:L, lgtm

#4176 chore: use ~= for assistants dependency
  pyproject.toml
Labels: size:XS, lgtm, ignore-for-release

#4180 ref: Add missing __init__.py files in tests
  scripts/__init__.py
  scripts/ci/__init__.py
  src/backend/tests/data/__init__.py
  src/backend/tests/integration/backward_compatibility/__init__.py
  src/backend/tests/integration/components/__init__.py
  src/backend/tests/integration/components/assistants/__init__.py
  src/backend/tests/integration/components/output_parsers/test_output_parser.py
  src/backend/tests/integration/flows/__init__.py
  src/backend/tests/locust/__init__.py
  src/backend/tests/unit/api/__init__.py
  src/backend/tests/unit/api/v1/__init__.py
  src/backend/tests/unit/base/__init__.py
  src/backend/tests/unit/base/load/__init__.py
  src/backend/tests/unit/base/tools/__init__.py
  src/backend/tests/unit/components/__init__.py
  src/backend/tests/unit/components/helpers/__init__.py
  src/backend/tests/unit/components/models/__init__.py
  src/backend/tests/unit/components/prompts/__init__.py
  src/backend/tests/unit/components/prototypes/__init__.py
  src/backend/tests/unit/components/tools/__init__.py
  src/backend/tests/unit/custom/__init__.py
  src/backend/tests/unit/custom/component/__init__.py
  src/backend/tests/unit/custom/custom_component/__init__.py
  src/backend/tests/unit/events/__init__.py
  src/backend/tests/unit/exceptions/__init__.py
  src/backend/tests/unit/graph/__init__.py
  src/backend/tests/unit/graph/edge/__init__.py
  src/backend/tests/unit/graph/graph/__init__.py
  src/backend/tests/unit/graph/graph/state/__init__.py
  src/backend/tests/unit/helpers/__init__.py
  src/backend/tests/unit/initial_setup/__init__.py
  src/backend/tests/unit/initial_setup/starter_projects/__init__.py
  src/backend/tests/unit/inputs/__init__.py
  src/backend/tests/unit/io/__init__.py
  src/backend/tests/unit/schema/__init__.py
  src/backend/tests/unit/services/__init__.py
  src/backend/tests/unit/services/variable/__init__.py
  src/backend/tests/unit/utils/__init__.py
Labels: size:XS, lgtm

#4194 fix: add memo to deepcopy call to avoid recursion error
  src/backend/base/langflow/custom/custom_component/component.py
  uv.lock
Labels: bug, size:XS, lgtm

#4201 fix: fix retrieverTool component
  src/backend/base/langflow/components/tools/RetrieverTool.py
Labels: bug, size:XS, lgtm

#4202 feat: remove beta tag from categories endpoint
  src/backend/base/langflow/utils/constants.py
Labels: enhancement, size:L, lgtm

#4205 fix: override modal not exiting
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
Labels: bug, size:XS, lgtm

#4200 fix: object has no attribute 'set_event_manager'
  src/backend/base/langflow/graph/vertex/base.py
Labels: bug, size:XS, lgtm

#4122 feat: Folders Design Uplift
  src/frontend/src/components/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/components/horizontalScrollFadeComponent/index.tsx
  src/frontend/src/components/pageLayout/index.tsx
  src/frontend/src/pages/MainPage/pages/mainPage/index.tsx
  src/frontend/tests/core/features/folders.spec.ts
  src/frontend/tests/core/regression/generalBugs-shard-4.spec.ts
Labels: enhancement, size:L, lgtm

#4208 Refactor: Eliminate Global Variables for Improved Code Maintainability_fix_release
  src/backend/base/langflow/components/prototypes/CreateData.py
Labels: enhancement, size:S, lgtm

#4204 fix: Update example
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
Labels: bug, size:L, lgtm

#4203 fix: avoids error NameError: name 'MAX_NUMBER_OF_FIELDS' is not defin…
  src/backend/base/langflow/components/prototypes/UpdateData.py
Labels: bug, size:L, lgtm

#4175 fix: update regex to get supported python versions
  Makefile
  scripts/setup/check_env.sh
Labels: bug, size:M, lgtm

#4209 fix: Fix add_extra_fields()
  src/backend/base/langflow/custom/utils.py
Labels: bug, size:S, lgtm

#4187 ref: Add ruff rules for naming (N)
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/files.py
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/langflow/api/v1/store.py
  src/backend/base/langflow/components/langchain_utilities/FirecrawlCrawlApi.py
  src/backend/base/langflow/components/langchain_utilities/FirecrawlScrapeApi.py
  src/backend/base/langflow/components/tools/AstraDBCQLTool.py
  src/backend/base/langflow/components/tools/PythonCodeStructuredTool.py
  src/backend/base/langflow/components/tools/SearXNGTool.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/custom/tree_visitor.py
  src/backend/base/langflow/exceptions/api.py
  src/backend/base/langflow/exceptions/component.py
  src/backend/base/langflow/graph/graph/ascii.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/constants.py
  src/backend/base/langflow/graph/schema.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/graph/vertex/exceptions.py
  src/backend/base/langflow/graph/vertex/types.py
  src/backend/base/langflow/inputs/utils.py
  src/backend/base/langflow/interface/listing.py
  src/backend/base/langflow/schema/dotdict.py
  src/backend/base/langflow/schema/message.py
  src/backend/base/langflow/services/auth/utils.py
  src/backend/base/langflow/services/database/models/flow/model.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/langflow/services/store/exceptions.py
  src/backend/base/langflow/services/task/service.py
  src/backend/base/langflow/services/telemetry/schema.py
  src/backend/base/langflow/services/telemetry/service.py
  src/backend/base/langflow/template/field/base.py
  src/backend/base/langflow/utils/schemas.py
  src/backend/base/pyproject.toml
Labels: size:L, lgtm

#4177 ref: Use pathlib read/write functions
  src/backend/base/langflow/base/data/utils.py
  src/backend/base/langflow/components/agents/JsonAgent.py
  src/backend/base/langflow/components/agents/OpenAPIAgent.py
  src/backend/base/langflow/components/documentloaders/GitLoader.py
  src/backend/base/langflow/components/helpers/JSONtoData.py
  src/backend/base/langflow/components/vectorstores/Redis.py
  src/backend/base/langflow/custom/code_parser/code_parser.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/interface/utils.py
  src/backend/base/langflow/services/cache/utils.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/langflow/services/settings/manager.py
  src/backend/base/langflow/services/settings/utils.py
  src/backend/base/langflow/services/storage/local.py
Labels: python, size:L, lgtm

#4213 fix: Fix some tests missing client fixture
  src/backend/tests/unit/components/models/test_chatollama_component.py
  src/backend/tests/unit/test_cli.py
  src/backend/tests/unit/test_database.py
Labels: bug, size:XS, lgtm

#4211 feat: concat default variables with env values
  src/backend/base/langflow/services/settings/base.py
Labels: enhancement, size:XS, lgtm

#4163 feat: pagination improvements + tests
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/folders.py
  src/backend/base/langflow/services/database/models/flow/model.py
  src/backend/tests/unit/test_database.py
Labels: enhancement, size:L, lgtm

#4214 fix: Update header button variant based on the active route (#4207)
  src/frontend/src/components/headerComponent/index.tsx
Labels: bug, size:XS, lgtm

#4230 fix: unexpected keyword argument 'code' -> SQLExecutor and SQLDatabase
  src/backend/base/langflow/components/langchain_utilities/SQLDatabase.py
  src/backend/base/langflow/components/prototypes/SQLExecutor.py
Labels: bug, size:XS, lgtm

#4188 docs: Update global variable documentation
  docs/docs/Settings/418277339.png
  docs/docs/Settings/settings-global-variables.md
Labels: documentation, size:L, lgtm

#4189 feat: app Header Update
  src/frontend/src/components/appHeaderComponent/assets/ChainIcon.svg
  src/frontend/src/components/appHeaderComponent/assets/ExpandMoreIcon.svg
  src/frontend/src/components/appHeaderComponent/assets/FeedbackIcon.svg
  src/frontend/src/components/appHeaderComponent/assets/OrgSelectorIcon.svg
  src/frontend/src/components/appHeaderComponent/assets/ScienceOutlinedIcon.svg
  src/frontend/src/components/appHeaderComponent/assets/ShortDataStaxLogo.svg
  src/frontend/src/components/appHeaderComponent/assets/ShortLangFlowIcon.svg
  src/frontend/src/components/appHeaderComponent/components/AccountMenu/index.tsx
  src/frontend/src/components/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/components/appHeaderComponent/components/GithubStarButton/index.tsx
  src/frontend/src/components/appHeaderComponent/components/HeaderMenu/index.tsx
  src/frontend/src/components/appHeaderComponent/components/ProfileIcon/index.tsx
  src/frontend/src/components/appHeaderComponent/components/ThemeButtons/index.tsx
  src/frontend/src/components/appHeaderComponent/index.tsx
  src/frontend/src/components/headerComponent/index.tsx
  src/frontend/src/components/pageLayout/index.tsx
  src/frontend/src/components/ui/separator.tsx
  src/frontend/src/customization/components/custom-feedback-dialog.tsx
  src/frontend/src/customization/components/custom-header-menu-items-title.tsx
  src/frontend/src/customization/components/custom-org-selector.tsx
  src/frontend/src/customization/components/custom-product-selector.tsx
  src/frontend/src/customization/components/custom-profile-icon.tsx
  src/frontend/src/customization/feature-flags.ts
  src/frontend/src/customization/hooks/use-custom-theme.ts
  src/frontend/src/pages/DashboardWrapperPage/index.tsx
  src/frontend/src/pages/SettingsPage/index.tsx
  src/frontend/src/style/applies.css
  src/frontend/tests/core/features/auto-login-off.spec.ts
  src/frontend/tests/core/features/folders.spec.ts
  src/frontend/tests/core/features/freeze.spec.ts
  src/frontend/tests/core/features/store-shard-2.spec.ts
  src/frontend/tests/core/integrations/decisionFlow.spec.ts
  src/frontend/tests/extended/features/deleteComponents.spec.ts
  src/frontend/tests/extended/features/deleteFlows.spec.ts
  src/frontend/tests/extended/features/sticky-notes.spec.ts
  src/frontend/tests/extended/features/store-shard-1.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-1.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-13.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-3.spec.ts
Labels: enhancement, javascript, size:XXL, lgtm

#4217 ref: Remove useless fastapi Depends
  src/backend/base/langflow/services/auth/utils.py
  src/backend/base/langflow/services/database/models/user/crud.py
  src/backend/base/langflow/services/variable/base.py
  src/backend/base/langflow/services/variable/kubernetes.py
  src/backend/base/langflow/services/variable/service.py
Labels: python, size:M, lgtm

#4231 fix: Use an async client for Redis cache
  src/backend/base/langflow/services/cache/service.py
Labels: bug, size:M, lgtm

#4216 ref: Move get services out of API methods
  src/backend/base/langflow/api/health_check_router.py
  src/backend/base/langflow/api/v1/api_key.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/files.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/login.py
  src/backend/base/langflow/api/v1/monitor.py
  src/backend/base/langflow/api/v1/starter_projects.py
  src/backend/base/langflow/api/v1/store.py
  src/backend/base/langflow/api/v1/users.py
  src/backend/base/langflow/api/v1/validate.py
  src/backend/base/langflow/api/v1/variable.py
  src/backend/tests/conftest.py
Labels: size:L, lgtm

#4197 ref: Some fixes for ruff rules preview mode
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/api/health_check_router.py
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/api/v1/api_key.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/files.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/folders.py
  src/backend/base/langflow/api/v1/login.py
  src/backend/base/langflow/api/v1/monitor.py
  src/backend/base/langflow/api/v1/store.py
  src/backend/base/langflow/api/v1/users.py
  src/backend/base/langflow/api/v1/variable.py
  src/backend/base/langflow/base/models/chat_result.py
  src/backend/base/langflow/components/astra_assistants/astra_assistant_manager.py
  src/backend/base/langflow/components/memories/RedisChatMemory.py
  src/backend/base/langflow/components/tools/AstraDBCQLTool.py
  src/backend/base/langflow/components/tools/PythonCodeStructuredTool.py
  src/backend/base/langflow/components/tools/__init__.py
  src/backend/base/langflow/components/vectorstores/Elasticsearch.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/graph/vertex/types.py
  src/backend/base/langflow/inputs/__init__.py
  src/backend/base/langflow/io/__init__.py
  src/backend/base/langflow/services/auth/utils.py
  src/backend/base/langflow/services/database/models/flow/utils.py
Labels: size:L, lgtm

#4174 fix: logger config and env file loading
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/logging/logger.py
Labels: bug, size:S, lgtm

#4238 chore: apply changes to pyproject.toml from v1.0.19.1
  pyproject.toml
  uv.lock
Labels: size:S, lgtm, ignore-for-release

#4237 fix: sidebar_categories route
  src/backend/base/langflow/api/v1/schemas.py
Labels: bug, size:XS, lgtm

#4232 fix: Update Azure OpenAI API versions and improve version selection
  src/backend/base/langflow/components/models/azure_openai.py
Labels: bug, size:S, lgtm

#4229 FEAT: Upgrade langchain (0.3.x) and associated packages including langchain-astradb
  pyproject.toml
  src/backend/base/pyproject.toml
  uv.lock
Labels: size:S, lgtm

#4111 ref: Add ruff rules for bandit (S)
  src/backend/base/langflow/base/astra_assistants/util.py
  src/backend/base/langflow/base/curl/parse.py
  src/backend/base/langflow/base/data/utils.py
  src/backend/base/langflow/components/Notion/add_content_to_page.py
  src/backend/base/langflow/components/Notion/create_page.py
  src/backend/base/langflow/components/Notion/list_database_properties.py
  src/backend/base/langflow/components/Notion/list_pages.py
  src/backend/base/langflow/components/Notion/list_users.py
  src/backend/base/langflow/components/Notion/page_content_viewer.py
  src/backend/base/langflow/components/Notion/search.py
  src/backend/base/langflow/components/Notion/update_page_property.py
  src/backend/base/langflow/components/agents/json.py
  src/backend/base/langflow/components/agents/openapi.py
  src/backend/base/langflow/components/data/google_drive.py
  src/backend/base/langflow/components/embeddings/similarity.py
  src/backend/base/langflow/components/embeddings/util/aiml.py
  src/backend/base/langflow/components/models/groq.py
  src/backend/base/langflow/components/tools/astradb_cql.py
  src/backend/base/langflow/components/tools/searxng.py
  src/backend/base/langflow/custom/code_parser/code_parser.py
  src/backend/base/langflow/graph/graph/ascii.py
  src/backend/base/langflow/helpers/flow.py
  src/backend/base/langflow/inputs/input_mixin.py
  src/backend/base/langflow/io/schema.py
  src/backend/base/langflow/services/settings/constants.py
  src/backend/base/langflow/services/variable/kubernetes_secrets.py
  src/backend/base/pyproject.toml
  uv.lock
Labels: size:L, lgtm

#4139 ref: Fix some ruff rules for private access (SLF)
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/base/io/chat.py
  src/backend/base/langflow/base/vectorstores/model.py
  src/backend/base/langflow/graph/edge/base.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/state_model.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/graph/vertex/types.py
  src/backend/base/langflow/services/chat/service.py
  src/backend/base/langflow/services/socket/utils.py
  src/backend/base/langflow/services/store/service.py
  src/backend/base/pyproject.toml
  src/backend/tests/integration/utils.py
  src/backend/tests/unit/graph/graph/test_cycles.py
Labels: size:L, lgtm

#4243 fix: updating components to access secret key with new method get_secret_value()
  src/backend/base/langflow/components/embeddings/huggingface_inference_api.py
  src/backend/base/langflow/components/embeddings/mistral.py
  src/backend/base/langflow/components/embeddings/text_embedder.py
  src/backend/base/langflow/components/models/anthropic.py
  src/backend/base/langflow/components/models/baidu_qianfan_chat.py
  src/backend/base/langflow/components/models/cohere.py
  src/backend/base/langflow/components/models/google_generative_ai.py
  src/backend/base/langflow/components/models/groq.py
  src/backend/base/langflow/components/models/mistral.py
  src/backend/base/langflow/components/models/openai.py
  src/backend/base/langflow/initial_setup/starter_projects/Agent Flow.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, World).json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Complex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Hierarchical Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/services/settings/auth.py
  src/frontend/package-lock.json
  src/frontend/tests/core/integrations/similarity.spec.ts
Labels: bug, size:L, lgtm

#4173 chore: update dependencies and enable HTTP/2 support for AsyncClient in tests
  src/backend/base/pyproject.toml
  src/backend/tests/conftest.py
  uv.lock
Labels: size:S, lgtm, ignore-for-release

#4248 feat: Add AstraGraphVectorStoreComponent
  src/backend/base/langflow/components/vectorstores/astradb_graph.py
Labels: enhancement, python, size:L, lgtm

#4256 feat: theme color updates
  src/frontend/src/style/index.css
  src/frontend/tailwind.config.mjs
Labels: enhancement, size:L, lgtm

#4257 fix: restore radius
  src/frontend/src/style/index.css
Labels: bug, size:XS, lgtm

#4021 feat: Add LM Studio Model and Embeddings Component
  src/backend/base/langflow/components/embeddings/lmstudioembeddings.py
  src/backend/base/langflow/components/models/lmstudiomodel.py
  src/frontend/src/icons/LMStudio/LMStudioIcon.jsx
  src/frontend/src/icons/LMStudio/index.tsx
  src/frontend/src/icons/LMStudio/lmstudio-icon.svg
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, size:L, lgtm

#4245 docs: Langfuse integration
  docs/docs/Integrations/Notion/_category_.json
  docs/docs/Integrations/integrations-assemblyai.md
  docs/docs/Integrations/integrations-langfuse.md
  docs/docs/Integrations/integrations-langsmith.md
  docs/docs/Integrations/integrations-langwatch.md
Labels: documentation, size:M, lgtm

#4269 fix: make sure data is json serializable
  src/backend/base/langflow/schema/artifact.py
  src/backend/base/langflow/schema/data.py
  src/backend/base/langflow/schema/schema.py
  src/backend/base/langflow/schema/serialize.py
Labels: bug, size:M, lgtm

#4258 fix: Solves Issues with Set Function in Component Class and Enhance Input Handling
  src/backend/base/langflow/base/tools/component_tool.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/tests/unit/custom/component/test_componet_set_functionality.py
Labels: bug, size:M, lgtm

#4277 fix: refine subflow field filtering to include '|' character check
  src/backend/base/langflow/components/prototypes/sub_flow.py
  src/backend/tests/.test_durations
  src/backend/tests/unit/test_cli.py
Labels: bug, size:XS, lgtm

#4278 fix: assistants optional dependencies
  pyproject.toml
  uv.lock
Labels: bug, size:XS, lgtm

#4265 fix: Fix async cache
  src/backend/base/langflow/services/cache/base.py
  src/backend/base/langflow/services/cache/disk.py
  src/backend/base/langflow/services/cache/service.py
  src/backend/base/langflow/services/chat/service.py
  src/backend/base/langflow/services/deps.py
  src/backend/base/langflow/services/session/service.py
  src/backend/base/langflow/services/socket/service.py
  src/backend/base/langflow/services/socket/utils.py
Labels: bug, size:L, lgtm

#4255 fix: Fix Astra DB collection indexing params
  src/backend/base/langflow/components/vectorstores/astradb.py
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: bug, size:M, lgtm

#4283 refactor: remove unnecessary 'client' fixture and update test durations
  src/backend/tests/.test_durations
  src/backend/tests/unit/base/tools/test_component_toolkit.py
  src/backend/tests/unit/graph/edge/test_edge_base.py
  src/backend/tests/unit/initial_setup/starter_projects/test_memory_chatbot.py
  src/backend/tests/unit/test_cli.py
  src/backend/tests/unit/test_database.py
Labels: size:XS, lgtm, refactor

#4296 fix: Fix issues with use of async
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/base/astra_assistants/util.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/services/cache/base.py
  src/backend/base/langflow/services/cache/disk.py
  src/backend/base/langflow/services/cache/service.py
  src/backend/base/langflow/services/chat/service.py
  src/backend/base/langflow/services/manager.py
  src/backend/base/langflow/services/session/service.py
Labels: bug, size:L, lgtm

#4287 fix: Remove sync Graph.run()
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/load/load.py
  src/backend/base/langflow/processing/process.py
Labels: bug, size:L, lgtm
