Repository langflow-ai/langflow, pull requests merged in 2024-02, with the labels that each got.

#1339 chat websocket api support param token and x-api-key
  src/backend/langflow/api/v1/chat.py
  src/backend/langflow/services/auth/utils.py
Labels: enhancement, python, size:S

#1301 Fix AgentInitializer to has last statement of returning base class
  src/backend/langflow/components/agents/AgentInitializer.py
Labels: python, size:S

#1365 Update buffer-memory.mdx
  docs/docs/examples/buffer-memory.mdx
Labels: documentation, size:XS, lgtm

#1292 Fix vectorstores/Redis to support output component "Chains"
  src/backend/langflow/components/vectorstores/Redis.py
Labels: bug, python, size:XS, lgtm

#1296 Fix vectorstores/PGVector missing output issue.
  src/backend/langflow/components/vectorstores/pgvector.py
Labels: bug, python, size:S

#1389 add vectara icon
  src/backend/langflow/components/vectorstores/Vectara.py
  src/backend/langflow/interface/custom/directory_reader/directory_reader.py
  src/backend/langflow/interface/custom/utils.py
  src/frontend/src/icons/VectaraIcon/Vectara.jsx
  src/frontend/src/icons/VectaraIcon/index.tsx
  src/frontend/src/icons/VectaraIcon/vectara.svg
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, javascript, python, size:M, lgtm

#1400 Release 0.6.5
  pyproject.toml
  src/frontend/src/CustomNodes/GenericNode/index.tsx
Labels: enhancement, Release, javascript, size:XS

#1410 Fix disallowed_special parameter and refactor CharacterTextSplitterComponent
  pyproject.toml
  src/backend/langflow/components/embeddings/OpenAIEmbeddings.py
  src/backend/langflow/components/textsplitters/CharacterTextSplitter.py
  src/backend/langflow/components/vectorstores/Chroma.py
Labels: pre-release, size:S

#1408 Refactor: make new flow create as "Untitled document" instead of random name
  src/frontend/src/components/headerComponent/components/menuBar/index.tsx
  src/frontend/src/components/headerComponent/index.tsx
  src/frontend/src/utils/reactflowUtils.ts
Labels: enhancement, javascript, size:M

#1413 Refactor langflow processing and langfuse callback initialization
  pyproject.toml
  src/backend/langflow/processing/base.py
  src/backend/langflow/services/plugins/langfuse_plugin.py
Labels: enhancement, python, pre-release, size:S

#1416 Add dependabot.yml
  .github/dependabot.yml
Labels: enhancement, size:S, lgtm

#1431 Add HuggingFaceInferenceAPIEmbeddingsComponent class
  src/backend/langflow/components/embeddings/HuggingFaceInferenceAPIEmbeddings.py
  src/backend/langflow/components/vectorstores/Qdrant.py
Labels: enhancement, python, size:L, lgtm

#1328 Update docker-compose.yml
  docker-compose.yml
Labels: bug, size:XS, lgtm

#1435 Update dependencies and refactor import statements
  .github/workflows/lint.yml
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
  src/backend/langflow/api/v1/callback.py
  src/backend/langflow/components/chains/LLMCheckerChain.py
  src/backend/langflow/components/documentloaders/DirectoryLoader.py
  src/backend/langflow/components/embeddings/HuggingFaceInferenceAPIEmbeddings.py
  src/backend/langflow/components/embeddings/OpenAIEmbeddings.py
  src/backend/langflow/components/llms/ChatAnthropic.py
  src/backend/langflow/components/llms/GoogleGenerativeAI.py
  src/backend/langflow/components/toolkits/OpenAPIToolkit.py
  src/backend/langflow/components/utilities/GoogleSearchAPIWrapper.py
  src/backend/langflow/components/utilities/GoogleSerperAPIWrapper.py
  src/backend/langflow/components/vectorstores/Pinecone.py
  src/backend/langflow/components/vectorstores/Qdrant.py
  src/backend/langflow/components/vectorstores/Redis.py
  src/backend/langflow/components/vectorstores/Vectara.py
  src/backend/langflow/components/vectorstores/pgvector.py
  src/backend/langflow/interface/custom/custom_component/component.py
  src/backend/langflow/processing/base.py
  src/frontend/src/components/headerComponent/components/menuBar/index.tsx
  src/frontend/src/components/headerComponent/index.tsx
  src/frontend/src/utils/reactflowUtils.ts
  tests/test_endpoints.py
Labels: enhancement, python, size:L

#1434 Fix: Bring back loading to avoid white page error
  src/frontend/src/App.tsx
  src/frontend/src/pages/MainPage/components/components/index.tsx
  src/frontend/src/stores/flowsManagerStore.ts
  src/frontend/src/stores/typesStore.ts
Labels: bug, javascript, size:S

#1433 Feature Enhancement: Enable Icon Integration for Custom Components
  src/backend/langflow/interface/custom/custom_component/component.py
  src/frontend/src/CustomNodes/GenericNode/index.tsx
Labels: enhancement, javascript, python, size:M, lgtm

#1425 Update prompts.mdx
  docs/docs/components/prompts.mdx
Labels: documentation, size:XS, lgtm

#1441 Url twitter update
  docs/docs/contributing/community.md
  docs/docusaurus.config.js
  src/frontend/src/components/headerComponent/index.tsx
Labels: documentation, javascript, size:XS, lgtm

#1440 Add LiteLLM support
  src/backend/langflow/components/llms/ChatLiteLLM.py
Labels: enhancement, python, size:L, lgtm

#1438 Add controlX Feature on Flow
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/types/zustand/flow/index.ts
Labels: enhancement, javascript, size:M, lgtm

#1444 Hf fix
  docs/docs/contributing/community.md
  docs/docusaurus.config.js
  src/backend/langflow/api/v1/login.py
  src/backend/langflow/services/settings/auth.py
  src/frontend/src/components/headerComponent/index.tsx
Labels: bug, documentation, javascript, python, size:M

#1445 Update version to 0.6.7a3 and fix formatting and import issues
  pyproject.toml
  src/backend/langflow/api/v1/login.py
  src/backend/langflow/components/llms/ChatLiteLLM.py
  src/backend/langflow/interface/custom/custom_component/component.py
  src/backend/langflow/services/settings/auth.py
  src/frontend/src/stores/typesStore.ts
Labels: javascript, python, pre-release, size:M

#1446 Update version to 0.6.7a4 and fix formatting and import issues
  pyproject.toml
  src/backend/langflow/api/v1/login.py
Labels: javascript, python, size:XS

#1448 Fix broken link in prompts.mdx
  docs/docs/components/prompts.mdx
Labels: documentation, size:XS

#1437 New llms
  src/backend/langflow/components/llms/GoogleGenerativeAI.py
  src/backend/langflow/components/models/AmazonBedrock.py
  src/backend/langflow/components/models/Anthropic.py
  src/backend/langflow/components/models/AzureOpenAI.py
  src/backend/langflow/components/models/BaiduQianfanChat.py
  src/backend/langflow/components/models/CTransformers.py
  src/backend/langflow/components/models/Cohere.py
  src/backend/langflow/components/models/GoogleGenerativeAI.py
  src/backend/langflow/components/models/HuggingFace.py
  src/backend/langflow/components/models/LlamaCpp.py
  src/backend/langflow/components/models/Ollama.py
  src/backend/langflow/components/models/OpenAI.py
  src/backend/langflow/components/models/VertexAi.py
Labels: enhancement, python, size:XXL, lgtm

#1424 Add field_order property to CustomComponent
  docs/docs/components/custom.mdx
  src/backend/langflow/interface/custom/custom_component/custom_component.py
  src/backend/langflow/interface/custom/utils.py
  src/backend/langflow/template/template/base.py
Labels: documentation, enhancement, python, size:M

#1450 Update Twitter handle in community.md
  docs/docs/contributing/community.md
Labels: documentation, size:XS, lgtm

#1451 Bugfix: add build status on backend shutdown
  src/backend/langflow/api/v1/chat.py
  src/backend/langflow/api/v1/schemas.py
  src/backend/langflow/graph/graph/base.py
  src/backend/langflow/graph/vertex/base.py
  src/backend/langflow/services/monitor/utils.py
  src/backend/langflow/services/socket/utils.py
  src/frontend/src/controllers/API/api.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/types/zustand/flow/index.ts
  src/frontend/src/utils/buildUtils.ts
Labels: enhancement, javascript, python, size:L

#1456 Update Langflow README
  README.md
Labels: documentation, size:M, lgtm

#1478 Add linting and testing workflows for backend code
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: enhancement, python, size:S

#1475 Fix vectara resolution error
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/icons/VectaraIcon/Vectara.jsx
  src/frontend/src/icons/VectaraIcon/vectara.svg
Labels: bug, javascript, size:XS, lgtm

#1474 Remove unused chat and prompt classes
  src/backend/langflow/utils/chat.py
  src/backend/langflow/utils/prompt.py
Labels: python, size:M

#1473 Change the color on str output, change X icon on Notification tab, change the icon on nodeToolbar (Code)
  src/frontend/src/alerts/alertDropDown/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/utils/styleUtils.ts
Labels: bug, javascript, size:M

#1479 Fix autologin = false loading loop
  src/frontend/src/contexts/authContext.tsx
  src/frontend/src/stores/typesStore.ts
Labels: bug, javascript, size:XS, lgtm

#1480 Release 0.6.8
  .github/workflows/lint.yml
  .github/workflows/test.yml
  docs/docs/components/tools.mdx
  docs/docs/examples/searchapi-tool.mdx
  docs/sidebars.js
  docs/static/img/searchapi-tool.png
  docs/static/json_files/SearchApi_Tool.json
  poetry.lock
  pyproject.toml
  src/backend/langflow/api/v1/callback.py
  src/backend/langflow/components/tools/SearchApi.py
  src/backend/langflow/services/chat/utils.py
  src/backend/langflow/utils/chat.py
  src/backend/langflow/utils/prompt.py
  src/frontend/src/App.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/contexts/authContext.tsx
  src/frontend/src/icons/VectaraIcon/Vectara.jsx
  src/frontend/src/icons/VectaraIcon/vectara.svg
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/pages/StorePage/index.tsx
  src/frontend/src/stores/storeStore.tsx
  src/frontend/src/stores/typesStore.ts
  src/frontend/src/types/zustand/store/index.ts
  tests/test_prompts_template.py
Labels: documentation, enhancement, Release, javascript, python, size:L

#1443 Refactor of Error Page Layout
  src/frontend/src/components/CrashErrorComponent/index.tsx
Labels: enhancement, javascript, size:M

#1484 Refactor code and fix database issues
  .githooks/pre-commit
  src/backend/langflow/__main__.py
  src/backend/langflow/alembic.ini
  src/backend/langflow/alembic/env.py
  src/backend/langflow/alembic/script.py.mako
  src/backend/langflow/alembic/versions/006b3990db50_add_unique_constraints.py
  src/backend/langflow/alembic/versions/0b8757876a7c_.py
  src/backend/langflow/alembic/versions/1ef9c4f3765d_.py
  src/backend/langflow/alembic/versions/260dbcc8b680_adds_tables.py
  src/backend/langflow/alembic/versions/2ac71eb9c3ae_adds_credential_table.py
  src/backend/langflow/alembic/versions/67cc006d50bf_add_profile_image_column.py
  src/backend/langflow/alembic/versions/7843803a87b5_store_updates.py
  src/backend/langflow/alembic/versions/7d2162acc8b2_adds_updated_at_and_folder_cols.py
  src/backend/langflow/alembic/versions/b2fa308044b5_add_unique_constraints.py
  src/backend/langflow/alembic/versions/bc2f01c40e4a_new_fixes.py
  src/backend/langflow/alembic/versions/eb5866d51fd2_change_columns_to_be_nullable.py
  src/backend/langflow/alembic/versions/f5ee9749d1a6_user_id_can_be_null_in_flow.py
  src/backend/langflow/alembic/versions/fd531f8868b1_fix_credential_table.py
  src/backend/langflow/api/v1/chat.py
  src/backend/langflow/services/database/service.py
  src/backend/langflow/services/utils.py
  src/frontend/src/App.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/pages/StorePage/index.tsx
  src/frontend/src/stores/storeStore.tsx
  tests/test_endpoints.py
Labels: enhancement, javascript, python, size:XL

#1485 Refactor error page layout and fixes migration scripts
  .githooks/pre-commit
  pyproject.toml
  src/backend/langflow/__main__.py
  src/backend/langflow/alembic.ini
  src/backend/langflow/alembic/env.py
  src/backend/langflow/alembic/script.py.mako
  src/backend/langflow/alembic/versions/006b3990db50_add_unique_constraints.py
  src/backend/langflow/alembic/versions/0b8757876a7c_.py
  src/backend/langflow/alembic/versions/1ef9c4f3765d_.py
  src/backend/langflow/alembic/versions/260dbcc8b680_adds_tables.py
  src/backend/langflow/alembic/versions/2ac71eb9c3ae_adds_credential_table.py
  src/backend/langflow/alembic/versions/67cc006d50bf_add_profile_image_column.py
  src/backend/langflow/alembic/versions/7843803a87b5_store_updates.py
  src/backend/langflow/alembic/versions/7d2162acc8b2_adds_updated_at_and_folder_cols.py
  src/backend/langflow/alembic/versions/b2fa308044b5_add_unique_constraints.py
  src/backend/langflow/alembic/versions/bc2f01c40e4a_new_fixes.py
  src/backend/langflow/alembic/versions/eb5866d51fd2_change_columns_to_be_nullable.py
  src/backend/langflow/alembic/versions/f5ee9749d1a6_user_id_can_be_null_in_flow.py
  src/backend/langflow/alembic/versions/fd531f8868b1_fix_credential_table.py
  src/backend/langflow/api/v1/chat.py
  src/backend/langflow/services/database/service.py
  src/backend/langflow/services/utils.py
  src/frontend/src/App.tsx
  src/frontend/src/components/CrashErrorComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/pages/StorePage/index.tsx
  src/frontend/src/stores/storeStore.tsx
  tests/test_endpoints.py
Labels: Release, size:XL

#1481 Add new Icons - Postgres, Redis, Azure IA, Ollama
  src/backend/langflow/components/embeddings/AzureOpenAIEmbeddings.py
  src/backend/langflow/components/model_specs/AzureChatOpenAISpecs.py
  src/frontend/src/icons/Azure/Azure.jsx
  src/frontend/src/icons/Azure/index.tsx
  src/frontend/src/icons/Ollama/Ollama.jsx
  src/frontend/src/icons/Ollama/Ollama.svg
  src/frontend/src/icons/Ollama/index.tsx
  src/frontend/src/icons/Postgres/Postgres.jsx
  src/frontend/src/icons/Postgres/Postgres.svg
  src/frontend/src/icons/Postgres/index.tsx
  src/frontend/src/icons/Redis/Redis.jsx
  src/frontend/src/icons/Redis/Redis.svg
  src/frontend/src/icons/Redis/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, javascript, size:M
