Repository langflow-ai/langflow, pull requests merged in 2024-01, with the labels that each got.

#1271 Fix gcp walkthrough tutorial button on README.md
  README.md
Labels: documentation, size:XS

#1270 Update .gitignore for Pycharm
  .gitignore
Labels: enhancement, size:XS

#1279 Adds ChatDefinition utility
  poetry.lock
  pyproject.toml
  src/backend/langflow/components/llms/AmazonBedrock.py
  src/backend/langflow/services/chat/service.py
  src/backend/langflow/services/chat/utils.py
  src/backend/langflow/utils/chat.py
  src/backend/langflow/utils/prompt.py
Labels: enhancement, python, size:L

#1286 Added Elasticsearch Vector Store
  poetry.lock
  pyproject.toml
  src/backend/langflow/config.yaml
  src/backend/langflow/interface/initialize/vector_store.py
  src/backend/langflow/template/frontend_node/vectorstores.py
  src/frontend/src/icons/ElasticsearchStore/ElasticsearchLogo.jsx
  src/frontend/src/icons/ElasticsearchStore/ElasticsearchLogo.svg
  src/frontend/src/icons/ElasticsearchStore/index.tsx
  src/frontend/src/utils/styleUtils.ts
  tests/test_endpoints.py
Labels: enhancement, javascript, python, size:M

#1288 Update AzrueChatOpenAI component. Change api_version to option field …
  src/backend/langflow/components/llms/AzureChatOpenAI.py
Labels: enhancement, python, size:M, lgtm

#1293 Added AzureOpenAIEmbeddings component
  src/backend/langflow/components/embeddings/AzureOpenAIEmbeddings.py
Labels: enhancement, python, size:M, lgtm

#1331 Add experimental preload endpoint
  src/backend/langflow/__main__.py
  src/backend/langflow/api/v1/endpoints.py
  src/backend/langflow/api/v1/schemas.py
  src/backend/langflow/main.py
  src/backend/langflow/processing/process.py
  src/backend/langflow/server.py
  src/backend/langflow/services/session/service.py
Labels: enhancement, python, size:L

#1332 Bump version to 0.6.5a0 in pyproject.toml
  pyproject.toml
Labels: pre-release, size:XS

#1333 Add support for running on Linux using gunicorn
  pyproject.toml
  src/backend/langflow/__main__.py
Labels: pre-release, size:S

#1334 Fix memory inputs and update function arguments
  pyproject.toml
  src/backend/langflow/processing/process.py
Labels: pre-release, size:XS

#1335 Refactor run_on_mac_or_linux function and remove unused imports
  pyproject.toml
  src/backend/langflow/__main__.py
Labels: pre-release, size:M

#1341 Update create_engine method to include max_overflow parameter
  poetry.lock
  pyproject.toml
  src/backend/langflow/services/database/service.py
Labels: pre-release, size:S

#1342 Fix LangflowApplication initialization and update cohere version
  poetry.lock
  pyproject.toml
  src/backend/langflow/__main__.py
  src/backend/langflow/server.py
Labels: pre-release, size:XS

#1343 Update version to 0.6.5a5 in pyproject.toml
  pyproject.toml
Labels: python, pre-release, size:XS

#1347 Add primary key and unique constraints to user, apikey, and flow tables
  pyproject.toml
  src/backend/langflow/alembic/versions/260dbcc8b680_adds_tables.py
  src/backend/langflow/alembic/versions/2ac71eb9c3ae_adds_credential_table.py
  src/backend/langflow/alembic/versions/7d2162acc8b2_adds_updated_at_and_folder_cols.py
  src/backend/langflow/alembic/versions/eb5866d51fd2_change_columns_to_be_nullable.py
Labels: pre-release, size:M

#1348 Fix unique constraints and column nullability
  pyproject.toml
  src/backend/langflow/alembic/versions/006b3990db50_add_unique_constraints.py
  src/backend/langflow/alembic/versions/2ac71eb9c3ae_adds_credential_table.py
  src/backend/langflow/alembic/versions/7843803a87b5_store_updates.py
  src/backend/langflow/alembic/versions/7d2162acc8b2_adds_updated_at_and_folder_cols.py
  src/backend/langflow/alembic/versions/eb5866d51fd2_change_columns_to_be_nullable.py
  src/backend/langflow/alembic/versions/f5ee9749d1a6_user_id_can_be_null_in_flow.py
  src/backend/langflow/alembic/versions/fd531f8868b1_fix_credential_table.py
Labels: python, pre-release, size:M

#1349 Add indexes to tables apikey, flow, and user
  pyproject.toml
  src/backend/langflow/alembic/versions/0b8757876a7c_.py
Labels: pre-release, size:M

#1356 Update AzureChatOpenAI.py
  src/backend/langflow/components/llms/AzureChatOpenAI.py
Labels: enhancement, python, size:XS, lgtm

#1368 Add unique constraints and new fixes
  pyproject.toml
  src/backend/langflow/alembic/versions/b2fa308044b5_add_unique_constraints.py
  src/backend/langflow/alembic/versions/bc2f01c40e4a_new_fixes.py
Labels: pre-release, size:L

#1370 Refactor import order and remove unnecessary samesite attribute in set_cookie() calls
  pyproject.toml
  src/backend/langflow/api/v1/login.py
Labels: pre-release, size:XS

#1371 Update cookie settings in login.py
  pyproject.toml
  src/backend/langflow/api/v1/login.py
Labels: python, pre-release, size:S
