Repository langflow-ai/langflow, pull requests merged in 2024-07, with the labels that each got.

#2433 Update to render.yaml and render.Dockerfile for fix deployment on render platform
  docker/render.Dockerfile
  render.yaml
Labels: bug, size:S, lgtm

#2443 chore: Refactor authentication key generation
  src/backend/base/langflow/services/auth/utils.py
Labels: enhancement, python, size:S

#2434 fix name on EditNodeModal
  src/frontend/src/modals/editNodeModal/index.tsx
Labels: bug, javascript, size:XS, lgtm

#2417 fix playground button on store
  src/frontend/src/components/cardComponent/index.tsx
Labels: bug, javascript, size:S, lgtm

#2410 fix: Add LanguageModel to field_typing module
  src/backend/base/langflow/base/models/model.py
  src/backend/base/langflow/components/deactivated/ChatLiteLLMModel.py
  src/backend/base/langflow/components/models/AmazonBedrockModel.py
  src/backend/base/langflow/components/models/AnthropicModel.py
  src/backend/base/langflow/components/models/AzureOpenAIModel.py
  src/backend/base/langflow/components/models/CohereModel.py
  src/backend/base/langflow/components/models/GoogleGenerativeAIModel.py
  src/backend/base/langflow/components/models/GroqModel.py
  src/backend/base/langflow/components/models/HuggingFaceModel.py
  src/backend/base/langflow/components/models/MistralModel.py
  src/backend/base/langflow/components/models/OllamaModel.py
  src/backend/base/langflow/components/models/OpenAIModel.py
  src/backend/base/langflow/components/models/VertexAiModel.py
  src/backend/base/langflow/field_typing/__init__.py
Labels: bug, size:M, lgtm

#2430 Fix Global Variables
  src/backend/base/langflow/components/embeddings/OpenAIEmbeddings.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, World).json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/frontend/src/CustomNodes/GenericNode/components/parameterComponent/index.tsx
  src/frontend/src/CustomNodes/hooks/use-handle-new-value.tsx
  src/frontend/src/components/addNewVariableButtonComponent/addNewVariableButton.tsx
  src/frontend/src/components/codeAreaComponent/index.tsx
  src/frontend/src/components/floatComponent/index.tsx
  src/frontend/src/components/inputFileComponent/index.tsx
  src/frontend/src/components/inputGlobalComponent/index.tsx
  src/frontend/src/components/intComponent/index.tsx
  src/frontend/src/components/promptComponent/index.tsx
  src/frontend/src/components/tableComponent/components/tableNodeCellRender/index.tsx
  src/frontend/src/components/textAreaComponent/index.tsx
  src/frontend/src/modals/editNodeModal/hooks/use-column-defs.tsx
  src/frontend/src/modals/editNodeModal/index.tsx
  src/frontend/src/modals/newFlowModal/index.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/stores/flowsManagerStore.ts
  src/frontend/src/stores/globalVariablesStore/globalVariables.ts
  src/frontend/src/types/components/index.ts
  src/frontend/src/types/zustand/globalVariables/index.ts
  src/frontend/src/utils/reactflowUtils.ts
Labels: bug, javascript, python, size:XL, lgtm

#2415 loguru support standout logging with json and csv
  src/backend/base/langflow/utils/logger.py
Labels: enhancement, size:M, lgtm

#2456 add a new test for a huge flow -> decisionFlow
  src/frontend/tests/end-to-end/decisionFlow.spec.ts
Labels: javascript, size:XL

#2416 (fix) Add gpt4 to openai_constants.py
  src/backend/base/langflow/base/models/openai_constants.py
Labels: bug, size:XS, lgtm

#2461 chore: Update ruff command in py_autofix.yml to use 'ruff check' before 'ruff --fix-only'
  .github/workflows/py_autofix.yml
Labels: size:XS

#2459 removing duplicate tests from frontend
  src/frontend/tests/end-to-end/chatInputOutputUser - Images.spec.ts
  src/frontend/tests/end-to-end/chatInputOutputUser - Inspection.spec.ts
  src/frontend/tests/end-to-end/chatInputOutputUser - Interact.spec.ts
Labels: size:L, lgtm

#2462 bugfix: fix crashing langflow when keypairlistcomponent advanced opens
  src/frontend/src/components/tableComponent/components/tableNodeCellRender/index.tsx
Labels: bug, size:XS, lgtm

#2463 ci: add lint commit workflow for pull requests
  .github/dependabot.yml
  .github/semantic.yml
  .github/workflows/pr-checker.yml
Labels: enhancement, size:M, lgtm

#2452 docs: add datastax hosted langflow
  README.md
Labels: documentation, size:XS, lgtm

#2431 ci: fix mypy checks
  .github/workflows/typescript_test.yml
  src/backend/base/langflow/components/langchain_utilities/FirecrawlCrawlApi.py
  src/backend/base/langflow/components/langchain_utilities/FirecrawlScrapeApi.py
  src/backend/base/langflow/components/langchain_utilities/__init__.py
  src/backend/base/langflow/components/vectorstores/Cassandra.py
Labels: bug, size:S, lgtm

#2467 ci: remove merge_group from workflows
  .github/workflows/docs_test.yml
  .github/workflows/lint-js.yml
  .github/workflows/lint-py.yml
  .github/workflows/python_test.yml
  .github/workflows/style-check-py.yml
  .github/workflows/typescript_test.yml
Labels: size:S

#2469 refactor: move langflow api tests into integration tests
  tests/integration/langflow.py
  tests/test_endpoints.py
  tests/unit/test_loading.py
Labels: size:L

#2471 ci: add auto_merge_enabled to PR activity types and concurrency settings
  .github/workflows/auto-update.yml
  .github/workflows/js_autofix.yml
  .github/workflows/lint-js.yml
  .github/workflows/lint-py.yml
  .github/workflows/py_autofix.yml
  .github/workflows/python_test.yml
  .github/workflows/style-check-py.yml
  .github/workflows/typescript_test.yml
Labels: size:M

#2358 fix: ctrl f overriding browser ctrl f when editing node
  src/frontend/src/CustomNodes/GenericNode/components/OutputComponent/index.tsx
  src/frontend/src/alerts/alertDropDown/components/singleAlertComponent/index.tsx
  src/frontend/src/alerts/alertDropDown/index.tsx
  src/frontend/src/alerts/error/index.tsx
  src/frontend/src/alerts/notice/index.tsx
  src/frontend/src/alerts/success/index.tsx
  src/frontend/src/components/dropdownComponent/index.tsx
  src/frontend/src/components/editFlowSettingsComponent/index.tsx
  src/frontend/src/components/inputComponent/components/popover/index.tsx
  src/frontend/src/components/inputComponent/components/popoverObject/index.tsx
  src/frontend/src/components/ui/button.tsx
  src/frontend/src/components/ui/dialog-with-no-close.tsx
  src/frontend/src/components/ui/dialog.tsx
  src/frontend/src/components/ui/input.tsx
  src/frontend/src/components/ui/rename-label.tsx
  src/frontend/src/components/ui/textarea.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
Labels: bug, size:M, lgtm

#2455 fix (astra/cassandra): avoid duplicated ingestion
  src/backend/base/langflow/components/vectorstores/AstraDB.py
  src/backend/base/langflow/components/vectorstores/Cassandra.py
Labels: size:M, lgtm

#2428 fix(astradb): make fields required
  src/backend/base/langflow/components/vectorstores/AstraDB.py
Labels: size:XS, lgtm

#2426 fix: azure openai model component: resource not found
  src/backend/base/langflow/base/models/model.py
  src/backend/base/langflow/components/models/AnthropicModel.py
  src/backend/base/langflow/components/models/AzureOpenAIModel.py
  src/backend/base/langflow/components/models/BaiduQianfanChatModel.py
  src/backend/base/langflow/components/models/CohereModel.py
  src/backend/base/langflow/components/models/HuggingFaceModel.py
  src/backend/base/langflow/components/models/MistralModel.py
  src/backend/base/langflow/components/models/OllamaModel.py
  src/backend/base/langflow/components/models/VertexAiModel.py
Labels: bug, size:M, lgtm

#2423 fix(bedrock): fix error 'Key cache already exists'
  src/backend/base/langflow/components/models/AmazonBedrockModel.py
  src/backend/base/langflow/custom/custom_component/component.py
Labels: bug, size:S, lgtm

#2424 fix(frontend): do not use backend url in <img>
  src/frontend/src/components/headerComponent/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/fileComponent/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/fileComponent/utils/handle-download.tsx
  src/frontend/src/pages/SettingsPage/pages/GeneralPage/components/ProfilePictureForm/components/profilePictureChooserComponent/hooks/use-preload-images.tsx
  src/frontend/src/pages/SettingsPage/pages/GeneralPage/components/ProfilePictureForm/components/profilePictureChooserComponent/index.tsx
Labels: javascript, size:M, lgtm

#2477 ci: skip tests with openai key required
  .github/workflows/python_test.yml
  src/frontend/tests/end-to-end/Basic Prompting.spec.ts
  src/frontend/tests/end-to-end/Blog Writer.spec.ts
  src/frontend/tests/end-to-end/Document QA.spec.ts
  src/frontend/tests/end-to-end/Memory Chatbot.spec.ts
  src/frontend/tests/end-to-end/chatInputOutputUser-shard-0.spec.ts
  src/frontend/tests/end-to-end/chatInputOutputUser-shard-1.spec.ts
  src/frontend/tests/end-to-end/chatInputOutputUser-shard-2.spec.ts
  src/frontend/tests/end-to-end/decisionFlow.spec.ts
  src/frontend/tests/end-to-end/generalBugs-shard-0.spec.ts
  src/frontend/tests/end-to-end/generalBugs-shard-1.spec.ts
  src/frontend/tests/end-to-end/generalBugs-shard-2.spec.ts
  src/frontend/tests/end-to-end/generalBugs-shard-3.spec.ts
  src/frontend/tests/end-to-end/textInputOutput.spec.ts
  tests/test_endpoints.py
Labels: size:L

#2339 fix: resolve Model Issues and add huggingface dependency
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/components/deactivated/ChatLiteLLMModel.py
  src/backend/base/langflow/components/models/AmazonBedrockModel.py
  src/backend/base/langflow/components/models/HuggingFaceModel.py
Labels: bug, enhancement, python, size:M, lgtm

#2396 feat(cassandra/astradb): hybrid search support
  src/backend/base/langflow/base/vectorstores/model.py
  src/backend/base/langflow/components/vectorstores/AstraDB.py
  src/backend/base/langflow/components/vectorstores/Cassandra.py
Labels: python, size:L, lgtm

#2476 fix(security): require langchain-experimental>=0.0.61
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
Labels: size:XS, lgtm

#2484 fix(tracing_service): use correct trace name and attribute name
  src/backend/base/langflow/base/models/model.py
  src/backend/base/langflow/components/models/CohereModel.py
  src/backend/base/langflow/components/vectorstores/AstraDB.py
  src/backend/base/langflow/components/vectorstores/Cassandra.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/custom/custom_component/custom_component.py
  src/backend/base/langflow/interface/initialize/loading.py
  src/backend/base/langflow/services/tracing/service.py
Labels: bug, size:L

#2480 chore: update targetUrl in semantic.yml
  .github/semantic.yml
Labels: size:XS

#2485 fix: run_flow_from_json circular dependency
  src/backend/base/langflow/api/v1/base.py
  src/backend/base/langflow/base/prompts/api_utils.py
Labels: bug, size:L, lgtm

#2481 fix(service.py): improve handling of environment variables in DatabaseVariableService to update or create variables based on changes in secret_key
  src/backend/base/langflow/services/variable/service.py
Labels: bug, python, size:S, lgtm

#2483 fix: create data component not saving old values on check and save
  src/backend/base/langflow/components/prototypes/CreateData.py
Labels: bug, python, size:M, lgtm

#2489 ci: add 'test' job to run Typescript and Python tests
  .github/workflows/python_test.yml
  .github/workflows/release.yml
  .github/workflows/typescript_test.yml
Labels: size:S

#2479 feat(pyproject.toml): update package versions to 1.0.6 for langflow and 0.0.82 for langflow-base to reflect latest changes and improvements
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/components/models/GroqModel.py
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
Labels: size:XS

#2490 ci: update test job in release.yml to include both Typescript and Python tests
  .github/workflows/release.yml
Labels: size:S

#2491 feat(utils.py): add error handling for missing template_config in build_custom_component_template
  src/backend/base/langflow/custom/utils.py
Labels: enhancement, python, size:S

#2494 fix: improve handling of ToolCallingAgent output in ToolCallingAgentComponent
  src/backend/base/langflow/components/agents/ToolCallingAgent.py
Labels: python, size:XS

#2504 fix(base.py): update get_successors function call to include 'recursive=False' parameter
  src/backend/base/langflow/graph/graph/base.py
Labels: bug, size:XS

#2498 ci: update CI workflows and add CI workflow
  .github/workflows/ci.yml
  .github/workflows/docs_test.yml
  .github/workflows/js_autofix.yml
  .github/workflows/lint-js.yml
  .github/workflows/lint-py.yml
  .github/workflows/python_test.yml
  .github/workflows/release.yml
  .github/workflows/style-check-py.yml
  .github/workflows/typescript_test.yml
  src/frontend/tests/end-to-end/deleteComponents.spec.ts
  src/frontend/tests/end-to-end/deleteFlows.spec.ts
  src/frontend/tests/end-to-end/logs.spec.ts
  src/frontend/tests/end-to-end/store-shard-1.spec.ts
  src/frontend/tests/end-to-end/store-shard-2.spec.ts
  src/frontend/tests/end-to-end/store-shard-3.spec.ts
  src/frontend/tsconfig.json
Labels: size:L, lgtm

#2505 fix: restore button for all native components
  src/frontend/src/constants/constants.ts
Labels: bug, size:S, lgtm

#2509 fix: memory chat bot name
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, World).json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/frontend/tests/end-to-end/actionsMainPage-shard-0.spec.ts
  src/frontend/tests/end-to-end/actionsMainPage-shard-1.spec.ts
  src/frontend/tests/end-to-end/folders.spec.ts
Labels: size:XXL

#2488 fix: prompt template not being saved on advanced modal
  src/frontend/src/components/tableComponent/components/tableNodeCellRender/index.tsx
  src/frontend/src/modals/editNodeModal/hooks/use-column-defs.tsx
  src/frontend/src/modals/editNodeModal/hooks/use-handle-change-advanced.tsx
  src/frontend/src/modals/editNodeModal/hooks/use-handle-new-value.tsx
  src/frontend/src/modals/editNodeModal/hooks/use-handle-node-class.tsx
  src/frontend/src/modals/editNodeModal/hooks/use-row-data.tsx
  src/frontend/src/modals/editNodeModal/index.tsx
  src/frontend/tests/end-to-end/chatInputOutputUser-shard-0.spec.ts
  src/frontend/tests/end-to-end/chatInputOutputUser-shard-2.spec.ts
  src/frontend/tests/end-to-end/decisionFlow.spec.ts
  src/frontend/tests/end-to-end/dropdownComponent.spec.ts
  src/frontend/tests/end-to-end/floatComponent.spec.ts
  src/frontend/tests/end-to-end/inputComponent.spec.ts
  src/frontend/tests/end-to-end/inputListComponent.spec.ts
  src/frontend/tests/end-to-end/intComponent.spec.ts
  src/frontend/tests/end-to-end/keyPairListComponent.spec.ts
  src/frontend/tests/end-to-end/langflowShortcuts.spec.ts
  src/frontend/tests/end-to-end/nestedComponent.spec.ts
  src/frontend/tests/end-to-end/promptModalComponent.spec.ts
  src/frontend/tests/end-to-end/toggleComponent.spec.ts
Labels: bug, javascript, size:L, lgtm

#2510 feat: key components health check
  src/backend/base/langflow/api/__init__.py
  src/backend/base/langflow/api/health_check_router.py
  src/backend/base/langflow/main.py
Labels: enhancement, size:L, lgtm

#2482 chore: update langflow-embedded-chat script URL to v1.0.3
  src/frontend/src/modals/apiModal/utils/get-widget-code.tsx
Labels: size:XS, lgtm

#2512 feat: POC of useQuery -> mutation and query
  src/frontend/index.html
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/App.tsx
  src/frontend/src/controllers/API/helpers/constants.ts
  src/frontend/src/controllers/API/queries/api-keys/index.ts
  src/frontend/src/controllers/API/queries/api-keys/use-post-add-api-key.ts
  src/frontend/src/controllers/API/queries/transactions/index.ts
  src/frontend/src/controllers/API/queries/transactions/use-get-transactions.ts
  src/frontend/src/controllers/API/services/request-processor.ts
  src/frontend/src/modals/flowLogsModal/index.tsx
  src/frontend/src/pages/SettingsPage/pages/GeneralPage/index.tsx
  src/frontend/src/pages/SettingsPage/pages/hooks/use-save-key.tsx
  src/frontend/src/types/api/index.ts
  src/frontend/tsconfig.json
  src/frontend/vite.config.mts
Labels: enhancement, size:L, lgtm

#2295 fix: fixes react key error in browser on flow page for extra sidebar disclosure components
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/index.tsx
Labels: bug, size:L, lgtm

#2514 fix: spec files cant find .env variable on CI
  .github/workflows/ci.yml
  .github/workflows/typescript_test.yml
  src/frontend/tests/end-to-end/Basic Prompting.spec.ts
  src/frontend/tests/end-to-end/Blog Writer.spec.ts
  src/frontend/tests/end-to-end/Document QA.spec.ts
  src/frontend/tests/end-to-end/Memory Chatbot.spec.ts
  src/frontend/tests/end-to-end/chatInputOutputUser-shard-0.spec.ts
  src/frontend/tests/end-to-end/chatInputOutputUser-shard-1.spec.ts
  src/frontend/tests/end-to-end/chatInputOutputUser-shard-2.spec.ts
  src/frontend/tests/end-to-end/decisionFlow.spec.ts
  src/frontend/tests/end-to-end/deleteComponents.spec.ts
  src/frontend/tests/end-to-end/deleteFlows.spec.ts
  src/frontend/tests/end-to-end/generalBugs-shard-0.spec.ts
  src/frontend/tests/end-to-end/generalBugs-shard-1.spec.ts
  src/frontend/tests/end-to-end/generalBugs-shard-2.spec.ts
  src/frontend/tests/end-to-end/generalBugs-shard-3.spec.ts
  src/frontend/tests/end-to-end/logs.spec.ts
  src/frontend/tests/end-to-end/store-shard-1.spec.ts
  src/frontend/tests/end-to-end/store-shard-2.spec.ts
  src/frontend/tests/end-to-end/store-shard-3.spec.ts
  src/frontend/tests/end-to-end/textInputOutput.spec.ts
Labels: bug, size:L, lgtm

#2470 fix: fixes api request custom component
  .github/workflows/auto-update.yml
  .github/workflows/docs_test.yml
  .github/workflows/js_autofix.yml
  .github/workflows/lint-js.yml
  .github/workflows/py_autofix.yml
  .github/workflows/style-check-py.yml
  README.md
  src/backend/base/langflow/components/data/APIRequest.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/inputs/inputs.py
Labels: bug, size:M

#2527 fix: handle unknown artifact type in post_process_raw function
  src/backend/base/langflow/schema/artifact.py
Labels: bug, size:XS, lgtm

#2521 ci: update autofix workflows
  .github/workflows/js_autofix.yml
  .github/workflows/py_autofix.yml
Labels: size:S, lgtm

#2516 fix: make end_all_traces be called at the correct moment
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/services/telemetry/service.py
  src/backend/base/langflow/services/tracing/service.py
Labels: bug, size:S

#2513 fix(base.py): only add successors if is_start
  src/backend/base/langflow/graph/graph/base.py
Labels: bug, size:XS

#2522 ci: add GitHub Actions workflow for labeling PRs with Conventional Commits
  .github/release.yml
  .github/workflows/conventional-labels.yml
Labels: enhancement, size:M

#2526 chore: simplify docker
  Makefile
  docker/build_and_push.Dockerfile
  docker/build_and_push_backend.Dockerfile
  docker/build_and_push_base.Dockerfile
  docker_example/docker-compose.yml
Labels: enhancement, size:M, lgtm, conventional: chore

#2532 feat(PR): add conditions to label pr
  .github/release.yml
  .github/workflows/conventional-labels.yml
Labels: size:S

#2535 chore: remove unnecessary output in validate-pr job
  .github/workflows/conventional-labels.yml
Labels: size:XS

#2534 feat: refactor version api
  src/frontend/src/App.tsx
  src/frontend/src/contexts/index.tsx
  src/frontend/src/controllers/API/helpers/constants.ts
  src/frontend/src/controllers/API/queries/version/index.ts
  src/frontend/src/controllers/API/queries/version/use-get-version.ts
  src/frontend/src/stores/darkStore.ts
  src/frontend/src/types/api/index.ts
  src/frontend/src/types/zustand/dark/index.ts
Labels: enhancement, size:L, lgtm

#2536 refactor: add types to constant on IO
  src/frontend/src/constants/enums.ts
  src/frontend/src/modals/IOModal/components/IOFieldView/index.tsx
Labels: enhancement, size:M, lgtm

#2530 feat: migrate text splitters to Component syntax
  src/backend/base/langflow/base/textsplitters/__init__.py
  src/backend/base/langflow/base/textsplitters/model.py
  src/backend/base/langflow/components/textsplitters/CharacterTextSplitter.py
  src/backend/base/langflow/components/textsplitters/LanguageRecursiveTextSplitter.py
  src/backend/base/langflow/components/textsplitters/RecursiveCharacterTextSplitter.py
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: enhancement, python, size:XXL, lgtm, conventional: enhancement

#2539 feat: add auto_merge_enabled to pull_request_target types in conventional-labels.yml
  .github/workflows/conventional-labels.yml
Labels: enhancement, size:XS

#2497 docs: small updates to astra vectorize docs
  src/backend/base/langflow/components/embeddings/AstraVectorize.py
  src/backend/base/langflow/components/vectorstores/AstraDB.py
Labels: documentation, size:M, lgtm

#2538 test: fix test after changes on LLMs components
  src/frontend/tests/end-to-end/filterEdge-shard-0.spec.ts
  src/frontend/tests/end-to-end/filterEdge-shard-1.spec.ts
  src/frontend/tests/end-to-end/filterSidebar.spec.ts
Labels: javascript, size:S, lgtm, test

#2540 fix: remove uneceessary logic to disable button on search components/flows
  src/frontend/src/pages/MainPage/components/myCollectionComponent/components/inputSearchComponent/index.tsx
Labels: bug, javascript, size:XS, lgtm

#2533 refactor: add new use-query endpoint of upload files
  src/frontend/src/App.tsx
  src/frontend/src/components/inputFileComponent/index.tsx
  src/frontend/src/controllers/API/helpers/constants.ts
  src/frontend/src/controllers/API/queries/api-keys/use-post-add-api-key.ts
  src/frontend/src/controllers/API/queries/files/index.ts
  src/frontend/src/controllers/API/queries/files/use-get-download-images.ts
  src/frontend/src/controllers/API/queries/files/use-get-profile-pictures.ts
  src/frontend/src/controllers/API/queries/files/use-post-upload-file.ts
  src/frontend/src/controllers/API/queries/transactions/use-get-transactions.ts
  src/frontend/src/controllers/API/services/request-processor.ts
  src/frontend/src/modals/IOModal/components/IOFieldView/components/FileInput/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/hooks/use-drag-and-drop.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/hooks/use-file-upload.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/hooks/use-handle-file-change.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/hooks/use-upload.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/index.tsx
  src/frontend/src/pages/SettingsPage/pages/GeneralPage/components/ProfilePictureForm/index.tsx
  src/frontend/src/pages/SettingsPage/pages/GeneralPage/index.tsx
  src/frontend/src/types/api/index.ts
Labels: javascript, size:XL, lgtm, refactor

#2541 ci: add outputs and conditional step to TypeScript test workflow
  .github/workflows/typescript_test.yml
Labels: enhancement, size:S, lgtm

#2545 refactor: change node to component on FE constants
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/utils/buildUtils.ts
  src/frontend/src/utils/parameterUtils.ts
  src/frontend/src/utils/reactflowUtils.ts
Labels: javascript, size:S, lgtm, refactor

#2544 fix: refactor of api structure
  src/frontend/src/App.tsx
  src/frontend/src/controllers/API/queries/api-keys/use-post-add-api-key.ts
  src/frontend/src/controllers/API/queries/files/use-get-download-images.ts
  src/frontend/src/controllers/API/queries/transactions/use-get-transactions.ts
  src/frontend/src/controllers/API/queries/version/use-get-version.ts
  src/frontend/src/modals/flowLogsModal/index.tsx
  src/frontend/src/types/api/index.ts
Labels: bug, javascript, size:L, lgtm

#2543 feat: opentelemetry and prometheus
  poetry.lock
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/langflow/services/telemetry/opentelemetry.py
  src/backend/base/langflow/services/telemetry/service.py
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
Labels: enhancement, python, size:M, lgtm

#2553 fix: update use-get-health.ts
  src/frontend/src/controllers/API/queries/health/use-get-health.ts
Labels: bug, size:S, lgtm

#2554 fix(ordering): correctly remove vertex from list of runnable vertices
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/graph/graph/runnable_vertices_manager.py
Labels: bug, size:XS, lgtm

#2555 fix: version display
  src/frontend/src/App.tsx
Labels: bug, size:XS, lgtm

#2542 ci: add delete-reports job to delete if all jobs succeed
  .github/workflows/typescript_test.yml
Labels: size:S

#2548 fix: pasting files not working
  src/frontend/src/components/inputFileComponent/index.tsx
  src/frontend/src/modals/IOModal/components/IOFieldView/components/FileInput/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/index.tsx
Labels: bug, javascript, size:M, lgtm

#2551 fix(langflow): handle KeyboardInterrupt and terminate process in run function for graceful shutdown
  src/backend/base/langflow/__main__.py
Labels: bug, size:M, lgtm

#2468 chore: add `--ignore=tests/integration` flag from pytest command in pyproject.toml and remove unit
  pyproject.toml
Labels: size:XS, lgtm

#2557 fix: make sure old secret keys are handled as before
  src/backend/base/langflow/services/auth/utils.py
Labels: bug, size:S, lgtm

#2528 feat: migrate chains and memories to Component syntax
  src/backend/base/langflow/base/chains/__init__.py
  src/backend/base/langflow/base/chains/model.py
  src/backend/base/langflow/base/memory/model.py
  src/backend/base/langflow/components/chains/ConversationChain.py
  src/backend/base/langflow/components/chains/LLMChain.py
  src/backend/base/langflow/components/chains/LLMCheckerChain.py
  src/backend/base/langflow/components/chains/LLMMathChain.py
  src/backend/base/langflow/components/chains/RetrievalQA.py
  src/backend/base/langflow/components/chains/RetrievalQAWithSourcesChain.py
  src/backend/base/langflow/components/chains/SQLGenerator.py
  src/backend/base/langflow/components/chains/__init__.py
  src/backend/base/langflow/components/memories/AstraDBChatMemory.py
  src/backend/base/langflow/components/memories/AstraDBMessageReader.py
  src/backend/base/langflow/components/memories/AstraDBMessageWriter.py
  src/backend/base/langflow/components/memories/CassandraChatMemory.py
  src/backend/base/langflow/components/memories/CassandraMessageReader.py
  src/backend/base/langflow/components/memories/CassandraMessageWriter.py
  src/backend/base/langflow/components/memories/ZepChatMemory.py
  src/backend/base/langflow/components/memories/ZepMessageReader.py
  src/backend/base/langflow/components/memories/ZepMessageWriter.py
  src/backend/base/langflow/field_typing/constants.py
  src/frontend/tests/end-to-end/filterEdge-shard-0.spec.ts
  src/frontend/tests/end-to-end/filterEdge-shard-1.spec.ts
  src/frontend/tests/end-to-end/filterSidebar.spec.ts
Labels: enhancement, size:XXL, lgtm

#2558 fix: add click event on button to retry check connection to backend
  src/frontend/src/App.tsx
  src/frontend/src/components/fetchErrorComponent/index.tsx
Labels: bug

#2564 fix: add user to database if not present in health_check
  src/backend/base/langflow/api/health_check_router.py
Labels: bug, python, size:S, lgtm

#2562 chore: update version to 1.0.7 in pyproject.toml
  poetry.lock
  pyproject.toml
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
Labels: size:XS, ignore-for-release

#2518 fix(QDrant): Resolve bug in document search functionality
  src/backend/base/langflow/components/vectorstores/Qdrant.py
Labels: bug, size:S, lgtm

#2560 fix: update run_manager on state changes
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/runnable_vertices_manager.py
  src/frontend/src/components/headerComponent/components/menuBar/index.tsx
Labels: bug, size:M

#2496 feat: inmemory and async cache expire configurable
  src/backend/base/langflow/services/cache/factory.py
  src/backend/base/langflow/services/settings/base.py
Labels: enhancement, size:S

#2571 fix: remove redundant and incorrect health check
  src/backend/base/langflow/api/health_check_router.py
Labels: bug, size:M, lgtm

#2573 fix: astradb ingests twice
  src/backend/base/langflow/components/vectorstores/AstraDB.py
Labels: bug, size:S, lgtm

#2581 fix: outdated code conditions and global variable
  src/backend/base/langflow/components/prompts/Prompt.py
  src/backend/base/langflow/template/utils.py
  src/frontend/src/CustomNodes/hooks/use-check-code-validity.tsx
Labels: bug, javascript, python, size:M, lgtm

#2572 fix: the pythonfunction test error
  src/backend/base/langflow/components/__init__.py
  tests/unit/text_experimental_components.py
Labels: bug, python, size:XS, lgtm

#2582 fix: remove redundant superuser only if it has never logged in
  src/backend/base/langflow/services/utils.py
  src/frontend/src/controllers/API/api.tsx
  src/frontend/src/stores/foldersStore.tsx
Labels: bug, python, size:S, lgtm

#2578 test(test_webhook): change component in webhook test to be async
  poetry.lock
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
  tests/data/WebhookTest.json
  tests/integration/astra/test_astra_component.py
Labels: size:XL, test

#2586 feat: Add Gemma 2 to Groq model list
  src/backend/base/langflow/base/models/groq_constants.py
Labels: python, size:XS, lgtm

#2589 feat: add vertices_being_run set to RunnableVerticesManager
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/runnable_vertices_manager.py
Labels: enhancement, size:M, lgtm

#2577 fix: Refactor messages API and session view
  src/frontend/src/controllers/API/helpers/constants.ts
  src/frontend/src/controllers/API/index.ts
  src/frontend/src/controllers/API/queries/messages/index.ts
  src/frontend/src/controllers/API/queries/messages/use-delete-messages.ts
  src/frontend/src/controllers/API/queries/messages/use-get-messages.ts
  src/frontend/src/controllers/API/queries/messages/use-update-messages.ts
  src/frontend/src/modals/IOModal/components/SessionView/index.tsx
  src/frontend/src/modals/IOModal/index.tsx
  src/frontend/src/pages/SettingsPage/pages/messagesPage/hooks/use-messages-table.tsx
  src/frontend/src/pages/SettingsPage/pages/messagesPage/index.tsx
Labels: bug, javascript, size:L, lgtm

#2587 fix: Qdrant shows Qdrant.from_documents() missing 1 required positional argument: ‘embedding’
  src/backend/base/langflow/components/vectorstores/Qdrant.py
Labels: bug, size:XS, lgtm

#2588 feat: update dependencies to add crewai
  poetry.lock
  pyproject.toml
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
Labels: enhancement, size:XS

#2592 fix: make chat lock when building
  src/frontend/src/stores/flowStore.ts
Labels: bug, size:XS

#2593 fix(runnable_vertices_manager.py): add recursive function to find predecessors
  src/backend/base/langflow/graph/graph/runnable_vertices_manager.py
Labels: bug, python, size:S, lgtm

#2590 feat: exception and error middleware
  src/backend/base/langflow/main.py
Labels: enhancement, size:S, lgtm

#2602 fix: stream option is not working with tracing enabled
  src/backend/base/langflow/schema/message.py
  src/backend/base/langflow/services/tracing/service.py
  tests/conftest.py
  tests/unit/test_messages.py
Labels: bug, size:M, lgtm

#2594 fix: add vertices in the first layer to the vertices being run
  src/backend/base/langflow/api/v1/chat.py
Labels: bug, size:XS

#2605 fix: update test_create_function to use pathlib.Path
  tests/unit/test_validate_code.py
Labels: bug, python, size:S

#2606 fix: astra vectorize auth error
  src/backend/base/langflow/components/vectorstores/AstraDB.py
Labels: bug, size:XS, lgtm

#2519 Add CrewAI Component Documentation
  docs/docs/integrations/crewai/agent.md
  docs/docs/integrations/crewai/crew.md
  docs/docs/integrations/crewai/intro.md
  docs/docs/integrations/crewai/setup.md
  docs/docs/integrations/crewai/task.md
  docs/sidebars.js
  docs/static/img/crewai/CrewAIAgent_flow_example.png
  docs/static/img/crewai/CrewAIAgent_flow_example_dark.png
  docs/static/img/crewai/CrewAICrew_flow_example.png
  docs/static/img/crewai/CrewAICrew_flow_example_dark.png
  docs/static/img/crewai/CrewAITask_flow_example.png
  docs/static/img/crewai/CrewAITask_flow_example_dark.png
  docs/static/img/crewai/crewai_bundle.jpg
  docs/static/json_files/CrewAI_Components_bundle.json
Labels: documentation, size:XXL, lgtm

#2607 feat: update custom component attributes on /update endpoint
  src/backend/base/langflow/api/v1/endpoints.py
Labels: enhancement, size:S, lgtm

#2610 fix: re-implement logic to correctly save or update flow in the appropriate folder on autologin = false
  src/frontend/src/components/cardComponent/index.tsx
  src/frontend/src/contexts/authContext.tsx
  src/frontend/src/modals/newFlowModal/components/undrawCards/index.tsx
  src/frontend/src/pages/MainPage/components/componentsComponent/components/collectionCard/index.tsx
  src/frontend/src/pages/MainPage/components/componentsComponent/hooks/use-delete-multiple.tsx
  src/frontend/src/pages/MainPage/components/componentsComponent/index.tsx
  src/frontend/src/pages/MainPage/components/myCollectionComponent/components/tabsComponent/index.tsx
  src/frontend/src/stores/flowsManagerStore.ts
  src/frontend/src/stores/foldersStore.tsx
  src/frontend/src/types/zustand/flowsManager/index.ts
  src/frontend/src/types/zustand/folders/index.ts
Labels: bug, size:M, lgtm

#2609 fix: show loading component state while images arent fully loaded
  src/frontend/src/controllers/API/queries/files/use-get-profile-pictures.ts
  src/frontend/src/pages/SettingsPage/pages/GeneralPage/components/ProfilePictureForm/components/profilePictureChooserComponent/hooks/use-preload-images.tsx
  src/frontend/src/pages/SettingsPage/pages/GeneralPage/components/ProfilePictureForm/components/profilePictureChooserComponent/index.tsx
  src/frontend/src/pages/SettingsPage/pages/GeneralPage/components/ProfilePictureForm/index.tsx
Labels: bug, javascript, size:M, lgtm

#2613 fix: add timeout for unit tests workflows
  .github/workflows/python_test.yml
  .github/workflows/typescript_test.yml
Labels: python, size:XS

#2616 tests: fix up the astra integ tests and add vectorize tests
  src/backend/base/langflow/base/vectorstores/model.py
  src/backend/base/langflow/components/embeddings/AstraVectorize.py
  src/backend/base/langflow/components/embeddings/__init__.py
  tests/integration/astra/test_astra_component.py
Labels: bug, size:L, lgtm

#2612 fix: Improve vertex filtering and update is_vertex_runnable logic
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/runnable_vertices_manager.py
  src/backend/base/langflow/graph/vertex/base.py
  src/frontend/src/stores/flowStore.ts
  tests/unit/test_validate_code.py
Labels: bug, javascript, python, size:M

#2604 fixing ThreadingInMemoryCache usage
  .env.example
  .gitignore
  .vscode/launch.json
  README.md
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/interface/types.py
  src/backend/base/langflow/services/chat/service.py
Labels: bug, documentation, size:L, lgtm

#2619 fix: azure embeddings models with fixed dimensions fail
  src/backend/base/langflow/components/embeddings/AzureOpenAIEmbeddings.py
  src/backend/base/langflow/components/embeddings/OpenAIEmbeddings.py
Labels: bug, python, size:S, lgtm

#2595 feat: add Maritalk model component
  src/backend/base/langflow/components/models/Maritalk.py
  src/frontend/src/icons/Maritalk/MaritalkIcon.jsx
  src/frontend/src/icons/Maritalk/index.tsx
  src/frontend/src/icons/Maritalk/maritalk-icon.svg
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, size:L

#2583 feat: refactor graph vertex sorting
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/utils.py
  tests/unit/graph/graph/test_utils.py
Labels: enhancement, size:L, lgtm

#2623 fix: issue with freeze value on page refresh
  src/frontend/src/CustomNodes/GenericNode/components/parameterComponent/index.tsx
Labels: bug, javascript, size:XS, lgtm

#2570 feat: add opentelemetry utility functions and unit tests
  .vscode/launch.json
  src/backend/base/langflow/services/telemetry/opentelemetry.py
  tests/unit/test_telemetry.py
Labels: enhancement, python, size:L, lgtm

#2630 feat: update starter projects
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, World).json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
Labels: enhancement, size:XL, lgtm

#2633 perf: improve /logs concurrent access
  src/backend/base/langflow/api/log_router.py
  src/backend/base/langflow/utils/logger.py
  tests/unit/test_logger.py
Labels: python, size:L, lgtm, performance

#2626 feat: update dependencies for Google Authentication Library and Google Calendar API
  poetry.lock
  pyproject.toml
Labels: enhancement, size:XS, lgtm

#2636 fix: qdrant with ingest not working
  src/backend/base/langflow/components/vectorstores/Qdrant.py
Labels: bug, size:XS, lgtm

#2405 Frontend Feature: Multiselect ui-component and merge refs hook
  src/backend/base/langflow/custom/utils.py
  src/backend/base/langflow/inputs/__init__.py
  src/backend/base/langflow/inputs/inputs.py
  src/backend/base/langflow/io/__init__.py
  src/frontend/src/CustomNodes/GenericNode/components/parameterComponent/index.tsx
  src/frontend/src/CustomNodes/hooks/use-merge-refs.tsx
  src/frontend/src/components/multiselectComponent/index.tsx
  src/frontend/src/components/tableComponent/components/tableNodeCellRender/cellTypeStr.tsx
  src/frontend/src/components/tableComponent/components/tableNodeCellRender/index.tsx
  src/frontend/src/style/applies.css
Labels: enhancement, javascript, size:XL

#2638 chore: update dependencies for langflow and langflow-base packages
  poetry.lock
  pyproject.toml
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
Labels: size:XS, ignore-for-release

#2641 fix: remove unnecessary encode from API key decryption
  src/backend/base/langflow/services/auth/utils.py
Labels: bug, python, size:XS, lgtm

#2640 fix: update Multiselect component to use 'values' prop instead of 'value'
  src/backend/base/langflow/inputs/inputs.py
  src/frontend/src/CustomNodes/GenericNode/components/parameterComponent/index.tsx
  src/frontend/src/components/multiselectComponent/index.tsx
Labels: bug, size:S

#2642 fix: enable copy when dict is disabled
  src/frontend/src/modals/dictAreaModal/index.tsx
Labels: bug, javascript, size:XS, lgtm

#2649 chore: update HuggingFace Spaces build script to use correct space name
  .github/workflows/docker-build.yml
Labels: size:XS, ignore-for-release

#2653 fix: handle sender_name passed as data or message
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/graph/vertex/types.py
Labels: bug, size:M

#2627 fix: fix bug on row selection at IO modal
  src/frontend/src/modals/IOModal/components/SessionView/index.tsx
Labels: bug, javascript, size:S, lgtm

#2660 fix: add try catch on fenet decrypt to prevent errors
  src/backend/base/langflow/services/auth/utils.py
Labels: bug, python, size:XS, lgtm

#2584 feat: Add JSON Cleaner Component
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/components/prototypes/JSONCleaner.py
Labels: enhancement, python, size:M, lgtm

#2654 fix: fix docker compose and add instructions
  deploy/.env.example
  deploy/README.md
  deploy/docker-compose.override.yml
  deploy/docker-compose.with_tests.yml
  deploy/docker-compose.yml
  deploy/startup-backend.sh
Labels: bug, size:L, lgtm

#2655 fix: coroutine is not iterable when using redis
  src/backend/base/langflow/interface/types.py
Labels: bug, size:XS, lgtm

#2621 feat: refactor memories
  src/backend/base/langflow/base/io/chat.py
  src/backend/base/langflow/base/memory/model.py
  src/backend/base/langflow/components/helpers/Memory.py
  src/backend/base/langflow/components/helpers/StoreMessage.py
  src/backend/base/langflow/components/inputs/ChatInput.py
  src/backend/base/langflow/components/outputs/ChatOutput.py
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/memory.py
  src/backend/base/langflow/schema/message.py
Labels: enhancement, python, size:XXL, lgtm

#2662 fix: optimize filtering of vertices in useFlowStore
  src/frontend/src/stores/flowStore.ts
Labels: bug, size:S, lgtm

#2645 fix: adjust function that add incremental name on flows that already exists + tests
  src/frontend/src/components/headerComponent/components/menuBar/index.tsx
  src/frontend/src/components/sidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/utils/reactflowUtils.ts
  src/frontend/tests/end-to-end/folders.spec.ts
  src/frontend/tests/end-to-end/generalBugs-shard-4.spec.ts
Labels: bug, size:L, lgtm

#2663 chore: update package versions
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
Labels: size:XXL, lgtm, ignore-for-release

#2658 fix: prevent to loop on keys of object profile pictures when It's not loaded yet
  src/frontend/src/pages/SettingsPage/pages/GeneralPage/components/ProfilePictureForm/components/profilePictureChooserComponent/hooks/use-preload-images.tsx
Labels: bug, size:XS, lgtm

#2664 feat: add payload validation, update Simple API Test fixture, run tests
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/langflow/components/inputs/ChatInput.py
  src/backend/base/langflow/components/outputs/ChatOutput.py
  src/backend/base/langflow/exceptions/api.py
  tests/conftest.py
  tests/data/SimpleAPITest.json
  tests/test_endpoints.py
Labels: enhancement, python, size:XL, lgtm

#2665 fix: update starter projects
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, World).json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: bug, size:XL, lgtm

#2634 feat: Add milvus vector store
  docs/docs/components/vector-stores.mdx
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/components/vectorstores/Milvus.py
Labels: enhancement, python, size:L, lgtm

#2667 test: Add Test to Prevent Bug on Output Inspection for Grouped Components
  .github/workflows/typescript_test.yml
  src/frontend/src/CustomNodes/GenericNode/components/parameterComponent/index.tsx
  src/frontend/src/pages/MainPage/components/componentsComponent/index.tsx
  src/frontend/tests/end-to-end/assets/group_test_iadevs.json
  src/frontend/tests/end-to-end/dragAndDrop.spec.ts
  src/frontend/tests/end-to-end/generalBugs-shard-5.spec.ts
  src/frontend/tests/end-to-end/twoEdges.spec.ts
Labels: bug, javascript, size:L, lgtm

#2668 fix: check if vertex is in vertices_being_run to check if it is runnable
  src/backend/base/langflow/graph/graph/runnable_vertices_manager.py
Labels: bug, size:XS, lgtm

#2661 refactor: store likes API
  src/frontend/src/components/cardComponent/hooks/use-handle-like.tsx
  src/frontend/src/components/cardComponent/index.tsx
  src/frontend/src/controllers/API/helpers/constants.ts
  src/frontend/src/controllers/API/queries/store/index.ts
  src/frontend/src/controllers/API/queries/store/use-post-like-component.ts
Labels: size:L, lgtm, refactor

#2671 chore: add path for deploying documentation updates
  .github/workflows/deploy_gh-pages.yml
Labels: size:XS, lgtm, ignore-for-release

#2669 feat: Add the ability to hide/show components without input/output (I/O).
  src/frontend/src/modals/editNodeModal/hooks/use-row-data.tsx
Labels: enhancement, javascript, size:XS, lgtm

#2675 docs: api page fix and workflow run fix
  .github/workflows/fetch_docs_notion.yml
  docs/docs/Settings/settings-global-variables.md
  docs/docs/What’s-New/1019037178.webp
  docs/docs/What’s-New/1143907392.png
  docs/docs/What’s-New/1285484510.webp
  docs/docs/What’s-New/1528084074.jpg
  docs/docs/What’s-New/17412613.png
  docs/docs/What’s-New/2087505425.png
  docs/docs/What’s-New/225113267.png
  docs/docs/What’s-New/543968297.webp
  docs/docs/What’s-New/82097598.webp
  docs/docs/What’s-New/whats-new-a-new-chapter-langflow.md
  docs/docs/Workspace/1862729633.png
  docs/docs/Workspace/workspace-api.md
  docs/docs/Workspace/workspace-playground.md
Labels: documentation, size:M, lgtm

#2676 docs: fix gh workflow date step
  .github/workflows/fetch_docs_notion.yml
Labels: bug, size:XS, lgtm

#2677 docs: fix gh workflow date step bad character
  .github/workflows/fetch_docs_notion.yml
Labels: size:XS

#2679 fix: git workflow commands to push to repository
  .github/workflows/fetch_docs_notion.yml
Labels: bug, size:XS

#2680 fix: fetch notion docs workflow origin on push
  .github/workflows/fetch_docs_notion.yml
Labels: bug, size:XS

#2681 fix: date on push command on fetch notion workflow
  .github/workflows/fetch_docs_notion.yml
Labels: bug, size:XS
