Repository langflow-ai/langflow, pull requests merged in 2024-06, with the labels that each got.

#2062 [Docs] - Update gif
  docs/docs/index.mdx
Labels: documentation, size:XS

#2063 (refactor) Update pytest arguments in Makefile for better test execution
  Makefile
  pyproject.toml
  tests/test_endpoints.py
Labels: size:S

#2058 setting fallback_to_env_var should be respected in api calls
  src/backend/base/langflow/helpers/flow.py
  src/backend/base/langflow/processing/process.py
  src/backend/base/langflow/services/settings/base.py
Labels: python, size:S, lgtm

#2050 Add lazy load on router to improve bootstrap application performance
  src/frontend/src/routes.tsx
Labels: enhancement, size:L

#2073 Upgrade couchbase dependency to version 4.2.1 with extras and make it optional
  poetry.lock
  pyproject.toml
  src/backend/base/poetry.lock
Labels: size:XS

#2071 docker: improve image layout and backend-only/frontend-only images
  .github/workflows/docker-build.yml
  .github/workflows/docker_test.yml
  .github/workflows/pre-release-langflow.yml
  .github/workflows/release.yml
  docker/build_and_push.Dockerfile
  docker/build_and_push_backend.Dockerfile
  docker/frontend/build_and_push_frontend.Dockerfile
  docker/frontend/nginx.conf
  docker/frontend/start-nginx.sh
Labels: enhancement, size:L, lgtm

#2072 Correctly Handle Text File Encoding to Avoid 'GBK' Codec Errors
  src/backend/base/langflow/base/data/utils.py
Labels: bug, size:XS, lgtm

#2069 Add chinese README and language type navigation to the main README.
  README.md
  README.zh_CN.md
Labels: documentation, size:L

#2075 📝 (utils.py): Add get_flow function and update Python API code
  src/backend/base/langflow/load/__init__.py
  src/backend/base/langflow/load/utils.py
  src/backend/base/langflow/services/database/models/flow/model.py
  src/frontend/src/modals/apiModal/utils/get-python-api-code.tsx
  src/frontend/src/modals/apiModal/views/index.tsx
Labels: python, size:L

#2047 Remove commented out code
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
Labels: javascript, size:S, lgtm

#2074 chore: Update poetry installation to use environment variable for version
  .github/actions/poetry_caching/action.yml
  .github/workflows/create-release.yml
  .github/workflows/pre-release-base.yml
  .github/workflows/pre-release-langflow.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Labels: size:S

#2029 feat: Refactor delete_multiple_flows endpoint to use DELETE method
  src/backend/base/langflow/api/v1/flows.py
  src/frontend/src/constants/constants.ts
  src/frontend/src/controllers/API/index.ts
  tests/test_database.py
Labels: enhancement, python, size:L

#2079 Docs - Update README.md
  README.md
  docs/docs/integrations/notion/add-content-to-page.md
  docs/docs/integrations/notion/list-users.md
Labels: documentation, size:S

#2082 Update README.md
  README.md
Labels: documentation, size:XS

#2081 Update README.PT.md
  README.PT.md
  README.md
Labels: size:XS

#2095 📝 (parse.py): Update parse_context function to use the new ParsedArgs namedtuple for better code organization and clarity
  src/backend/base/langflow/base/curl/parse.py
Labels: size:L

#2080 [Docs] CLI Commands, deployments, x logo
  docs/docs/administration/api.mdx
  docs/docs/administration/cli.mdx
  docs/docs/contributing/community.md
  docs/docs/deployment/backend-only.md
  docs/docs/deployment/docker.md
  docs/docs/deployment/jina-deployment.md
  docs/sidebars.js
  docs/static/logos/twitter.svg
Labels: documentation, size:L, lgtm

#2101 Update dependencies and fix import paths
  docker/build_and_push.Dockerfile
  src/backend/base/langflow/components/vectorsearch/__init__.py
  src/frontend/src/customNodes/genericNode/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/utils/reactflowUtils.ts
Labels: javascript, python, size:M

#2099 Feature Enhancements and Bug Fixes
  src/frontend/package-lock.json
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/alerts/error/index.tsx
  src/frontend/src/alerts/notice/index.tsx
  src/frontend/src/alerts/success/index.tsx
  src/frontend/src/components/headerComponent/index.tsx
  src/frontend/src/components/sidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/modals/exportModal/index.tsx
  src/frontend/src/pages/MainPage/components/componentsComponent/index.tsx
  src/frontend/src/pages/MainPage/components/emptyComponent/index.tsx
  src/frontend/src/pages/MainPage/components/headerComponent/index.tsx
  src/frontend/src/pages/SettingsPage/index.tsx
  src/frontend/src/pages/SettingsPage/pages/ApiKeysPage/index.tsx
  src/frontend/src/pages/SettingsPage/pages/GlobalVariablesPage/index.tsx
  src/frontend/src/pages/SettingsPage/pages/ShortcutsPage/index.tsx
  src/frontend/src/pages/SettingsPage/pages/messagesPage/index.tsx
  src/frontend/src/stores/foldersStore.tsx
  src/frontend/src/types/zustand/folders/index.ts
  src/frontend/src/utils/styleUtils.ts
Labels: bug, enhancement, size:XL

#2109 fix: :bug: replaced debounce-promise with pdebounce
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/stores/flowsManagerStore.ts
Labels: size:XS

#2102 [Docs] - Playground I/O, New Project button, and Python version
  docs/docs/administration/playground.mdx
  docs/docs/getting-started/install-langflow.mdx
  docs/docs/getting-started/quickstart.mdx
  docs/docs/tutorials/rag-with-astradb.mdx
Labels: documentation, size:M

#2110 [Docs] - Resize Images and Cleanup
  docs/docs/administration/chat-widget.mdx
  docs/docs/administration/login.mdx
  docs/docs/administration/playground.mdx
  docs/docs/components/agents.mdx
  docs/docs/components/chains.mdx
  docs/docs/components/custom.mdx
  docs/docs/components/experimental.mdx
  docs/docs/components/inputs-and-outputs.mdx
  docs/docs/components/model_specs.mdx
  docs/docs/components/models.mdx
  docs/docs/components/retrievers.mdx
  docs/docs/components/text-splitters.mdx
  docs/docs/components/tools.mdx
  docs/docs/components/utilities.mdx
  docs/docs/contributing/how-contribute.md
  docs/docs/getting-started/canvas.mdx
  docs/docs/getting-started/install-langflow.mdx
  docs/docs/starter-projects/document-qa.mdx
  docs/docs/tutorials/custom_components.mdx
  docs/docs/whats-new/customization-control.mdx
  docs/docs/whats-new/debugging-reimagined.mdx
  docs/docs/whats-new/simplification-standardization.mdx
  docs/sidebars.js
Labels: documentation, size:L

#2114 [Docs] - Style Guide Edits
  docs/docs/administration/api.mdx
  docs/docs/administration/chat-interface.mdx
  docs/docs/administration/chat-widget.mdx
  docs/docs/administration/cli.mdx
  docs/docs/administration/collection.mdx
  docs/docs/administration/components.mdx
  docs/docs/administration/features.mdx
  docs/docs/administration/global-env.mdx
  docs/docs/administration/login.mdx
  docs/docs/administration/playground.mdx
  docs/docs/components/inputs-and-outputs.mdx
  docs/docs/deployment/docker.md
  docs/docs/getting-started/flows-components-collections.mdx
  docs/docs/migration/migrating-to-one-point-zero.mdx
  docs/docs/migration/possible-installation-issues.mdx
  docs/docs/tutorials/chatprompttemplate_guide.mdx
  docs/docs/tutorials/custom_components.mdx
  docs/docs/tutorials/loading_document.mdx
Labels: documentation, size:L

#2117 fix lint - type mismatch
  src/backend/base/langflow/base/curl/parse.py
  src/backend/base/langflow/services/monitor/service.py
Labels: bug, size:S, lgtm

#2091 openai model spec openai_api_base should be an advanced option
  src/backend/base/langflow/components/model_specs/ChatOpenAISpecs.py
Labels: python, size:XS, lgtm

#1830 Feat: Implement Shortcut Settings Page
  docs/docs/components/agents.mdx
  docs/docs/components/chains.mdx
  docs/docs/components/data.mdx
  docs/docs/components/embeddings.mdx
  docs/docs/components/experimental.mdx
  docs/docs/components/helpers.mdx
  docs/docs/components/memories.mdx
  docs/docs/components/model_specs.mdx
  docs/docs/components/retrievers.mdx
  docs/docs/components/tools.mdx
  docs/docs/components/utilities.mdx
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/components/chatComponent/index.tsx
  src/frontend/src/components/headerComponent/components/menuBar/index.tsx
  src/frontend/src/components/renderIconComponent/index.tsx
  src/frontend/src/components/ui/select-custom.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/icons/Groq/index.tsx
  src/frontend/src/modals/apiModal/index.tsx
  src/frontend/src/modals/apiModal/utils/get-python-code.tsx
  src/frontend/src/modals/apiModal/views/index.tsx
  src/frontend/src/modals/editNodeModal/index.tsx
  src/frontend/src/modals/genericModal/index.tsx
  src/frontend/src/modals/shareModal/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/toolbarSelectItem/index.tsx
  src/frontend/src/pages/MainPage/services/index.ts
  src/frontend/src/pages/SettingsPage/pages/ShortcutsPage/EditShortcutButton/index.tsx
  src/frontend/src/pages/SettingsPage/pages/ShortcutsPage/index.tsx
  src/frontend/src/stores/shortcuts.ts
  src/frontend/src/style/applies.css
  src/frontend/src/style/classes.css
  src/frontend/src/style/index.css
  src/frontend/src/types/components/index.ts
  src/frontend/src/types/store/index.ts
  src/frontend/src/utils/reactflowUtils.ts
  src/frontend/src/utils/styleUtils.ts
  src/frontend/src/utils/utils.ts
  test-results/.last-run.json
Labels: enhancement, size:XXL

#2122 Minor UI Adjustments
  src/frontend/src/components/codeTabsComponent/index.tsx
  src/frontend/src/style/applies.css
  src/frontend/tailwind.config.js
Labels: size:M

#2124 docker: add curl to the image
  docker/build_and_push.Dockerfile
Labels: enhancement, size:XS, lgtm

#2056 feat: add cassandra components
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/components/memories/AstraDBMessageReader.py
  src/backend/base/langflow/components/memories/AstraDBMessageWriter.py
  src/backend/base/langflow/components/memories/CassandraMessageReader.py
  src/backend/base/langflow/components/memories/CassandraMessageWriter.py
  src/backend/base/langflow/components/vectorsearch/CassandraSearch.py
  src/backend/base/langflow/components/vectorstores/AstraDB.py
  src/backend/base/langflow/components/vectorstores/Cassandra.py
  src/frontend/package-lock.json
  src/frontend/src/icons/Cassandra/Cassandra.jsx
  src/frontend/src/icons/Cassandra/cassandra.svg
  src/frontend/src/icons/Cassandra/index.tsx
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, size:XL

#2130 Update get-python-api-code.tsx
  src/frontend/src/modals/apiModal/utils/get-python-api-code.tsx
Labels: bug, javascript, size:XS, lgtm

#2123 feat: multi arch docker images
  .github/workflows/docker-build.yml
  .github/workflows/docker_test.yml
  .github/workflows/pre-release-base.yml
  .github/workflows/pre-release-langflow.yml
  .github/workflows/release.yml
  docker/build_and_push.Dockerfile
  docker/frontend/build_and_push_frontend.Dockerfile
Labels: enhancement, size:M, lgtm

#2134 fix: ensure tweaks object exists
  src/frontend/src/modals/apiModal/utils/get-python-api-code.tsx
  src/frontend/src/modals/apiModal/utils/get-python-code.tsx
Labels: bug, size:M

#2111 Improve SQLite performance
  src/backend/base/langflow/services/database/service.py
Labels: enhancement, size:S, lgtm

#2140 Update .gitignore and refactor ChatInput and ChatOutput
  .gitignore
  src/backend/base/langflow/base/io/chat.py
  src/backend/base/langflow/components/inputs/ChatInput.py
  src/backend/base/langflow/components/outputs/ChatOutput.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, world!).json
  src/backend/base/langflow/initial_setup/starter_projects/Langflow Blog Writter.json
  src/backend/base/langflow/initial_setup/starter_projects/Langflow Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Langflow Memory Conversation.json
  src/backend/base/langflow/initial_setup/starter_projects/Langflow Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/VectorStore-RAG-Flows.json
  tests/test_endpoints.py
Labels: size:XXL

#2143 use Astra DB Application Token for all Astra token's display_name
  src/backend/base/langflow/components/vectorsearch/AstraDBSearch.py
  src/backend/base/langflow/components/vectorstores/AstraDB.py
Labels: python, size:XS, lgtm

#2147 docker: add customizable port for frontend image
  docker/frontend/nginx.conf
  docker/frontend/start-nginx.sh
Labels: enhancement, size:S

#2148 docker: force python version to 3.12.3
  .github/workflows/docker_test.yml
  docker/build_and_push.Dockerfile
  docker/build_and_push_base.Dockerfile
  docker/frontend/build_and_push_frontend.Dockerfile
Labels: bug, python, size:M, lgtm

#2144 Refactor chatView component and improve error handling
  .langchain.db-shm
  .langchain.db-wal
  src/backend/base/langflow/components/inputs/ChatInput.py
  src/backend/base/langflow/graph/vertex/types.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, world!).json
  src/backend/base/langflow/langflow-pre.db-shm
  src/backend/base/langflow/langflow-pre.db-wal
  src/frontend/package-lock.json
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/CustomNodes/hooks/use-fetch-data-on-mount.tsx
  src/frontend/src/CustomNodes/hooks/use-handle-new-value.tsx
  src/frontend/src/CustomNodes/hooks/use-handle-refresh-buttons.tsx
  src/frontend/src/components/addNewVariableButtonComponent/addNewVariableButton.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/modals/IOModal/components/chatView/index.tsx
  src/frontend/src/modals/apiModal/utils/get-nodes-with-default-value.ts
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/types/api/index.ts
  src/frontend/src/utils/buildUtils.ts
  src/frontend/src/utils/utils.ts
  src/frontend/tests/end-to-end/chatInputOutput.spec.ts
  src/frontend/tests/end-to-end/chatInputOutputUser.spec.ts
  src/frontend/tests/end-to-end/codeAreaModalComponent.spec.ts
Labels: bug, enhancement, size:XL

#2141 Improve makefile [edited]
  .gitignore
  Makefile
  poetry.lock
Labels: enhancement, size:M

#2146 [feat] add embedding dimensions parameters to openai models
  src/backend/base/langflow/components/embeddings/AzureOpenAIEmbeddings.py
  src/backend/base/langflow/components/embeddings/OpenAIEmbeddings.py
Labels: enhancement, size:S, lgtm

#2157 chore: Update persist_directory parameter to handle None value in ChromaSearch and Chroma components
  src/backend/base/langflow/components/vectorsearch/ChromaSearch.py
  src/backend/base/langflow/components/vectorstores/Chroma.py
  tests/test_endpoints.py
Labels: python, size:S

#2158 chore: Update duckdb dependency to version 1.0.0 and improve MonitorService code
  poetry.lock
  src/backend/base/langflow/services/monitor/service.py
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
Labels: python, size:S

#2159 chore: Update schema.py and service.py to handle file serialization and deserialization
  src/backend/base/langflow/services/monitor/schema.py
  src/backend/base/langflow/services/monitor/service.py
Labels: python, size:S

#2161 🐛 (service.py): Fix handling of postgres dialect in database URL to prevent NoSuchModuleError and provide a warning message for users to update the database URL.
  src/backend/base/langflow/services/database/service.py
Labels: bug, size:M

#2165 Improve error handling and logging in get_current_user_by_jwt function
  src/backend/base/langflow/services/auth/utils.py
  tests/test_user.py
Labels: enhancement, size:M

#2171 Update linting workflows for frontend and Python code
  .github/workflows/lint-js.yml
  .github/workflows/lint-py.yml
  .github/workflows/matchers/ruff.json
  .github/workflows/style-check-py.yml
  .pre-commit-config.yaml
Labels: javascript, python, size:L

#2164 Fix error on React Flow with Auto Login = False
  src/frontend/src/App.tsx
  src/frontend/src/components/sidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/components/sidebarComponent/hooks/use-on-file-drop.tsx
  src/frontend/src/components/sidebarComponent/index.tsx
  src/frontend/src/components/tableComponent/index.tsx
  src/frontend/src/contexts/authContext.tsx
  src/frontend/src/controllers/API/api.tsx
  src/frontend/src/controllers/API/helpers/check-duplicate-requests.ts
  src/frontend/src/controllers/API/index.ts
  src/frontend/src/pages/AdminPage/LoginPage/index.tsx
  src/frontend/src/pages/LoginPage/index.tsx
  src/frontend/src/pages/MainPage/components/myCollectionComponent/components/headerTabsSearchComponent/index.tsx
  src/frontend/src/pages/MainPage/hooks/use-delete-folder.tsx
  src/frontend/src/pages/MainPage/pages/mainPage/index.tsx
  src/frontend/src/stores/foldersStore.tsx
  src/frontend/src/types/zustand/folders/index.ts
Labels: bug, size:L

#2173 Refactor CustomComponent repr_value handling
  src/backend/base/langflow/custom/custom_component/custom_component.py
Labels: size:S

#2172 Sentry integration
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
Labels: enhancement, size:S, lgtm

#2176 Fix: General UI Bugs
  src/frontend/src/CustomNodes/GenericNode/components/parameterComponent/index.tsx
  src/frontend/src/alerts/alertDropDown/components/singleAlertComponent/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/index.tsx
  src/frontend/src/modals/codeAreaModal/index.tsx
  src/frontend/src/modals/editNodeModal/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/style/applies.css
  src/frontend/src/style/classes.css
  src/frontend/src/style/index.css
  src/frontend/tailwind.config.js
  src/frontend/tests/end-to-end/actionsMainPage.spec.ts
  src/frontend/tests/end-to-end/chatInputOutput.spec.ts
  src/frontend/tests/end-to-end/chatInputOutputUser.spec.ts
  src/frontend/tests/end-to-end/generalBugs.spec.ts
  src/frontend/tests/end-to-end/group.spec.ts
  src/frontend/tests/end-to-end/logs.spec.ts
Labels: bug, size:L

#2178 Refactor: Remove blue border when agGrid input are focused
  src/frontend/src/style/classes.css
Labels: size:M, lgtm

#2180 Refactor endpoints.py to improve code handling and remove caching
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/custom/custom_component/custom_component.py
  src/backend/base/langflow/processing/process.py
  tests/test_endpoints.py
Labels: size:L

#2185 Update dependencies and workflows
  .github/workflows/docker-build.yml
  .github/workflows/pre-release.yml
  poetry.lock
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
Labels: size:M

#2186 Update dependencies and fix docs
  .github/workflows/lint-js.yml
  docs/docs/tutorials/rag-with-astradb.mdx
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: javascript, size:S

#2177 Support returning sub flow outputs
  src/backend/base/langflow/base/flow_processing/utils.py
  src/backend/base/langflow/graph/schema.py
Labels: enhancement, size:S, lgtm

#2163 [Docs] - Link to new features from migration page
  docs/docs/getting-started/canvas.mdx
  docs/docs/migration/migrating-to-one-point-zero.mdx
Labels: documentation, size:M, lgtm

#2181 feat: Add cache parameter to RunnableVerticesManager
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/runnable_vertices_manager.py
Labels: enhancement, python, size:M

#2088 Minor documentation update and exception message fix to avoid confusion with Google Vertex
  docs/docs/contributing/how-contribute.md
  docs/docs/tutorials/rag-with-astradb.mdx
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/vertex/base.py
Labels: documentation, python, size:S, lgtm

#2189 test: add astra integration test
  .github/workflows/python_test.yml
  Makefile
  poetry.lock
  src/backend/base/langflow/components/memories/AstraDBMessageWriter.py
  src/backend/base/langflow/components/vectorstores/AstraDB.py
  src/backend/base/langflow/services/monitor/service.py
  tests/integration/__init__.py
  tests/integration/astra/__init__.py
  tests/integration/astra/test_astra_component.py
  tests/integration/utils.py
  tests/unit/__init__.py
  tests/unit/conftest.py
  tests/unit/test_api_key.py
  tests/unit/test_cache.py
  tests/unit/test_cli.py
  tests/unit/test_custom_component.py
  tests/unit/test_data_components.py
  tests/unit/test_database.py
  tests/unit/test_files.py
  tests/unit/test_frontend_nodes.py
  tests/unit/test_graph.py
  tests/unit/test_helper_components.py
  tests/unit/test_initial_setup.py
  tests/unit/test_loading.py
  tests/unit/test_login.py
  tests/unit/test_process.py
  tests/unit/test_record.py
  tests/unit/test_setup_superuser.py
  tests/unit/test_template.py
  tests/unit/test_validate_code.py
  tests/unit/text_experimental_components.py
Labels: size:L, lgtm

#2196 fix docker tags on release process
  .github/workflows/docker-build.yml
Labels: bug, size:S, lgtm

#2201 fix path to the unit test data folder
  tests/unit/conftest.py
Labels: bug, size:XS, lgtm

#2198 remove the default logging use loguru
  src/backend/base/langflow/initial_setup/setup.py
Labels: python, size:XS, lgtm

#2204 Fix mypy
  .github/workflows/lint-py.yml
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/files.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/monitor.py
  src/backend/base/langflow/base/flow_processing/utils.py
  src/backend/base/langflow/base/io/chat.py
  src/backend/base/langflow/base/models/model.py
  src/backend/base/langflow/components/experimental/Embed.py
  src/backend/base/langflow/components/helpers/MemoryComponent.py
  src/backend/base/langflow/components/inputs/Prompt.py
  src/backend/base/langflow/components/retrievers/SelfQueryRetriever.py
  src/backend/base/langflow/field_typing/prompt.py
  src/backend/base/langflow/graph/edge/base.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/schema/message.py
  src/backend/base/langflow/schema/record.py
  src/backend/base/langflow/services/auth/utils.py
  src/backend/base/langflow/services/variable/service.py
  src/backend/base/langflow/utils/schemas.py
Labels: size:M, lgtm

#2223 fix test: test_data_components.test_directory_without_mocks
  tests/unit/test_data_components.py
Labels: bug, python, size:XS, lgtm

#2219 fix: graph could re-run input vertices twice and override the input value
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/runnable_vertices_manager.py
  src/backend/base/langflow/initial_setup/setup.py
Labels: bug, size:M, lgtm

#2227 ci: skip test run_flow_from_json_object
  tests/unit/conftest.py
  tests/unit/test_loading.py
Labels: bug, size:XS, lgtm

#2228 fix: got unexpected 'lock'
  src/backend/base/langflow/api/v1/chat.py
Labels: bug, size:XS

#2225 fix: graph process should raise the actual error when failing
  tests/unit/conftest.py
Labels: bug, size:XS, lgtm

#2220 fix: do not open browser on backend_only mode
  src/backend/base/langflow/__main__.py
Labels: bug, size:XS, lgtm

#2221 fix: "Flow" object has no field "last_tested_version" when loading flows from dir
  src/backend/base/langflow/initial_setup/setup.py
  tests/data/basic_example.json
  tests/unit/test_database.py
Labels: bug, size:S, lgtm

#2232 ci pr-checker enforce meaningful pr title and description
  .github/workflows/pr-checker.yml
Labels: enhancement, size:S, lgtm

#2249 Two edges
  .env.example
  src/frontend/src/constants/constants.ts
  src/frontend/tests/end-to-end/chatInputOutputUser.spec.ts
  src/frontend/tests/end-to-end/generalBugs.spec.ts
  src/frontend/tests/end-to-end/textInputOutput.spec.ts
  src/frontend/vite.config.mts
Labels: size:M

#2241 Docs 1.0a changes
  docs/docs/administration/api.mdx
  docs/docs/administration/playground.mdx
  docs/docs/components/inputs-and-outputs.mdx
  docs/docs/getting-started/canvas.mdx
  docs/docs/getting-started/install-langflow.mdx
  docs/docs/getting-started/quickstart.mdx
  docs/docs/getting-started/rag-with-astradb.mdx
  docs/docs/starter-projects/basic-prompting.mdx
  docs/docs/starter-projects/blog-writer.mdx
  docs/docs/starter-projects/document-qa.mdx
  docs/docs/starter-projects/memory-chatbot.mdx
  docs/docs/starter-projects/vector-store-rag.mdx
  docs/docs/tutorials/custom_components.mdx
  docs/static/img/chat-input-dark.png
  docs/static/img/chat-input-light.png
  docs/static/img/playground-chat.png
  docs/static/img/project-options-menu-dark.png
  docs/static/img/project-options-menu-light.png
  docs/static/img/project-options-menu.png
  docs/static/img/single-component-dark.png
  docs/static/img/single-component-light.png
  docs/static/img/single-component.png
Labels: documentation, size:L

#2199 docker: make images arm64-compatible
  .github/workflows/docker-build.yml
  .github/workflows/pre-release-base.yml
  .github/workflows/pre-release-langflow.yml
  .github/workflows/release.yml
Labels: size:M, lgtm

#2254 fix: add trace_name parameter to method call
  src/backend/base/langflow/custom/custom_component/component.py
Labels: bug, size:XS, lgtm

#2256 [Docs] - Multiple outputs
  docs/docs/getting-started/canvas.mdx
  docs/static/img/multiple-outputs.png
Labels: documentation, size:S

#2257 [Docs] - Global and Project Settings
  docs/docs/administration/settings.mdx
  docs/sidebars.js
Labels: documentation, size:M

#2261 Fix optional import for variable service
  src/backend/base/langflow/services/variable/factory.py
Labels: bug, size:XS

#2262 Fix optional import and separate Variable services
  src/backend/base/langflow/services/variable/factory.py
  src/backend/base/langflow/services/variable/kubernetes.py
  src/backend/base/langflow/services/variable/service.py
Labels: bug, enhancement, python, size:L

#2270 prevent race condition on drop_and_create_table_if_schema_mismatch
  src/backend/base/langflow/services/monitor/utils.py
Labels: python, size:M, lgtm

#2275 update basic prompt example
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, world!).json
Labels: size:L, lgtm

#2269 Bugfix: Flows losing reference of folder when renaming current folder
  src/backend/base/langflow/api/v1/folders.py
  src/backend/base/langflow/helpers/folders.py
Labels: bug, size:S, lgtm

#2281 fix icons not displaying
  src/frontend/src/components/paginatorComponent/index.tsx
Labels: size:XS, lgtm

#2284 refactor: Skip deactivated files in directory_reader.py
  src/backend/base/langflow/custom/directory_reader/directory_reader.py
Labels: enhancement, python, size:XS

#2277 🔧 (config.yaml): Remove langflow config file as it is no longer needed in the project.
  src/backend/base/langflow/config.yaml
Labels: size:L

#2286 fix regex validation for url
  src/backend/base/langflow/components/data/URL.py
Labels: bug, python, size:S, lgtm

#2291 Reduce unnecessary backend calls when renaming folders
  src/frontend/src/components/sidebarComponent/components/sideBarFolderButtons/index.tsx
Labels: bug, size:XS, lgtm

#2265 Update getHealth function to handle connection timeouts
  src/frontend/src/controllers/API/index.ts
Labels: enhancement, javascript, size:XS, lgtm

#2293 Update MistralModel.py with default values for inputs
  src/backend/base/langflow/components/models/MistralModel.py
Labels: python, size:S, lgtm

#2289 Refactor VectaraVectorStoreComponent to handle embedding input and add documents to vector store
  src/backend/base/langflow/components/vectorstores/Vectara.py
Labels: enhancement, size:M

#2288 set default temperature value
  src/backend/base/langflow/components/embeddings/OllamaEmbeddings.py
Labels: enhancement, python, size:XS

#2301 Update project documentation URLs to use the main domain
  docs/static/data/AstraDB-RAG-Flows.json
  src/backend/base/langflow/initial_setup/starter_projects/VectorStore-RAG-Flows.json
  src/frontend/src/components/headerComponent/index.tsx
Labels: documentation, size:XS

#2306 refactor: Update LangSmithTracer initialization error handling
  src/backend/base/langflow/services/tracing/service.py
Labels: size:S

#2307 Merge dev and main
  src/backend/base/langflow/alembic/versions/bc804d8e7a18_fix_types.py
Labels: size:XS

#2309 Fix documentation build errors
  docs/docs/administration/prompt-customization.mdx
Labels: bug, size:XS

#2311 Update linting workflows to include dev branch in merge_group
  .github/workflows/lint-js.yml
  .github/workflows/lint-py.yml
  .github/workflows/python_test.yml
  .github/workflows/style-check-py.yml
Labels: size:S, lgtm

#2313 Fix starter projects that were overwritten by merge
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, World).json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/VectorStore-RAG-Flows.json
Labels: bug, size:XXL

#2316 Refactor "created_at" column type for consistency and fix cancel middleware
  README.md
  src/backend/base/langflow/alembic/versions/2ac71eb9c3ae_adds_credential_table.py
  src/backend/base/langflow/components/agents/ToolCallingAgent.py
  src/backend/base/langflow/main.py
  tests/unit/test_helper_components.py
Labels: python, size:M

#2337 deactivate stop button until we have a better solution
  src/backend/base/langflow/main.py
  src/frontend/src/components/headerComponent/components/menuBar/index.tsx
Labels: bug, size:M

#2328 [Fix] use consistent auth http error status code
  src/backend/base/langflow/services/auth/utils.py
Labels: bug, size:S, lgtm

#2326 [Fix] unhandled http errors in background tasks
  src/backend/base/langflow/api/v1/endpoints.py
Labels: bug, size:M, lgtm

#2251 Refactor model GoogleGenerativeAIModel
  src/backend/base/langflow/components/models/GoogleGenerativeAIModel.py
Labels: python, size:M, lgtm

#2341 Update GitHub Actions workflows and dependencies
  .github/workflows/docs_test.yml
  .github/workflows/python_test.yml
  .github/workflows/release.yml
  poetry.lock
  pyproject.toml
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
Labels: size:M

#2343 Fix user authentication and authorization issues
  tests/test_user.py
Labels: bug, size:S

#2342 Fixes CLI and server
  .github/workflows/docs_test.yml
  .github/workflows/python_test.yml
  .github/workflows/release.yml
  .vscode/launch.json
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/components/models/GoogleGenerativeAIModel.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/auth/utils.py
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
  src/frontend/src/App.tsx
  src/frontend/src/components/headerComponent/components/menuBar/index.tsx
  src/frontend/src/contexts/authContext.tsx
  tests/test_user.py
Labels: python, size:L

#2323 Fix lint error version of tailwind css plugin
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: javascript, size:XS, lgtm

#2319 Updating Tests and Fixing Related Bugs
  .github/workflows/typescript_test.yml
  src/backend/base/langflow/api/v1/flows.py
  src/frontend/src/components/tableComponent/components/tableNodeCellRender/index.tsx
  src/frontend/src/components/textAreaComponent/index.tsx
  src/frontend/src/modals/editNodeModal/index.tsx
  src/frontend/tests/end-to-end/basicExamples.spec.ts
  src/frontend/tests/end-to-end/chatInputOutput.spec.ts
  src/frontend/tests/end-to-end/chatInputOutputUser.spec.ts
  src/frontend/tests/end-to-end/codeAreaModalComponent.spec.ts
  src/frontend/tests/end-to-end/deleteComponentFlows.spec.ts
  src/frontend/tests/end-to-end/dragAndDrop.spec.ts
  src/frontend/tests/end-to-end/filterEdge.spec.ts
  src/frontend/tests/end-to-end/folders.spec.ts
  src/frontend/tests/end-to-end/generalBugs.spec.ts
  src/frontend/tests/end-to-end/inputListComponent.spec.ts
  src/frontend/tests/end-to-end/intComponent.spec.ts
  src/frontend/tests/end-to-end/keyPairListComponent.spec.ts
  src/frontend/tests/end-to-end/promptModalComponent.spec.ts
  src/frontend/tests/end-to-end/saveComponents.spec.ts
  src/frontend/tests/end-to-end/store.spec.ts
  src/frontend/tests/end-to-end/textAreaModalComponent.spec.ts
  src/frontend/tests/end-to-end/textInputOutput.spec.ts
  src/frontend/tests/end-to-end/toggleComponent.spec.ts
  src/frontend/tests/end-to-end/tweaks_test.spec.ts
  src/frontend/tests/end-to-end/twoEdges.spec.ts
  src/frontend/tests/end-to-end/userSettings.spec.ts
Labels: bug, enhancement, size:XL

#2347 Refactor telemetry service payload field names for consistency
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/services/telemetry/schema.py
Labels: enhancement, python, size:M

#2350 chore: Update release.yml to use the correct branch for the commit
  .github/workflows/release.yml
Labels: size:XS

#2353 Bug Fix: Correct Function to Increment Flow Names that Already Exist
  src/backend/base/langflow/api/v1/flows.py
Labels: bug, size:S, lgtm

#2355 Fix lint
  src/backend/base/langflow/api/v1/flows.py
Labels: bug, javascript, python, size:XS

#2359 Added Firecrawl integration
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/components/langchain_utilities/FirecrawlCrawlApi.py
  src/backend/base/langflow/components/langchain_utilities/FirecrawlScrapeApi.py
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
  src/frontend/src/icons/Firecrawl/FirecrawlLogo.jsx
  src/frontend/src/icons/Firecrawl/firecraw-logo.svg
  src/frontend/src/icons/Firecrawl/index.tsx
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, javascript, size:L

#2357 Add check-format script and update lint-js.yml
  .github/workflows/lint-js.yml
  src/frontend/package.json
Labels: javascript, size:S

#2365 Add Types & Refactor Card Components (useHooks)
  src/frontend/src/CustomNodes/hooks/use-fetch-data-on-mount.tsx
  src/frontend/src/CustomNodes/hooks/use-handle-new-value.tsx
  src/frontend/src/CustomNodes/hooks/use-handle-node-class.tsx
  src/frontend/src/CustomNodes/hooks/use-handle-refresh-buttons.tsx
  src/frontend/src/CustomNodes/hooks/use-update-validation-status.tsx
  src/frontend/src/CustomNodes/hooks/use-validation-status-string.tsx
  src/frontend/src/components/cardComponent/hooks/use-data-effect.tsx
  src/frontend/src/components/cardComponent/hooks/use-handle-install.tsx
  src/frontend/src/components/cardComponent/hooks/use-handle-like.tsx
  src/frontend/src/components/cardComponent/hooks/use-on-drag-start.tsx
  src/frontend/src/components/cardComponent/hooks/use-playground-effect.tsx
  src/frontend/src/components/cardComponent/index.tsx
  src/frontend/src/components/sidebarComponent/hooks/use-on-file-drop.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/hooks/use-auto-resize-text-area.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/hooks/use-drag-and-drop.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/hooks/use-focus-unlock.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/hooks/use-upload.tsx
  src/frontend/src/modals/editNodeModal/hooks/use-column-defs.tsx
  src/frontend/src/modals/editNodeModal/hooks/use-row-data.tsx
  src/frontend/src/modals/editNodeModal/index.tsx
  src/frontend/src/pages/MainPage/components/componentsComponent/components/collectionCard/index.tsx
  src/frontend/src/pages/MainPage/components/componentsComponent/hooks/use-delete-multiple.tsx
  src/frontend/src/pages/MainPage/components/componentsComponent/hooks/use-description-modal.tsx
  src/frontend/src/pages/MainPage/components/componentsComponent/hooks/use-filtered-flows.tsx
  src/frontend/src/pages/MainPage/components/componentsComponent/hooks/use-handle-duplicate.tsx
  src/frontend/src/pages/MainPage/components/componentsComponent/hooks/use-handle-export.tsx
  src/frontend/src/pages/MainPage/components/componentsComponent/hooks/use-handle-select-all.tsx
  src/frontend/src/pages/MainPage/components/componentsComponent/hooks/use-select-options-change.tsx
  src/frontend/src/pages/MainPage/components/componentsComponent/hooks/use-selected-flows.tsx
  src/frontend/src/pages/MainPage/components/componentsComponent/index.tsx
  src/frontend/src/pages/MainPage/hooks/use-delete-folder.tsx
  src/frontend/src/pages/MainPage/hooks/use-dropdown-options.tsx
  src/frontend/src/pages/SettingsPage/pages/ApiKeysPage/hooks/use-api-keys.tsx
  src/frontend/src/pages/SettingsPage/pages/ApiKeysPage/hooks/use-handle-delete-key.tsx
  src/frontend/src/pages/SettingsPage/pages/GeneralPage/components/ProfilePictureForm/components/profilePictureChooserComponent/hooks/use-preload-images.tsx
  src/frontend/src/pages/SettingsPage/pages/hooks/use-patch-password.tsx
  src/frontend/src/pages/SettingsPage/pages/hooks/use-patch-profile-picture.tsx
  src/frontend/src/pages/SettingsPage/pages/hooks/use-save-key.tsx
  src/frontend/src/pages/SettingsPage/pages/hooks/use-scroll-to-element.tsx
  src/frontend/src/pages/SettingsPage/pages/messagesPage/hooks/use-messages-table.tsx
  src/frontend/src/pages/SettingsPage/pages/messagesPage/hooks/use-remove-messages.tsx
  src/frontend/src/pages/SettingsPage/pages/messagesPage/hooks/use-updateMessage.tsx
Labels: enhancement, size:XL

#2290 Add message table and update message functionality
  .github/workflows/lint-js.yml
  .github/workflows/python_test.yml
  .github/workflows/release.yml
  src/backend/base/langflow/alembic/versions/d066bfd22890_add_message_table.py
  src/backend/base/langflow/api/v1/monitor.py
  src/backend/base/langflow/base/models/model.py
  src/backend/base/langflow/memory.py
  src/backend/base/langflow/schema/message.py
  src/backend/base/langflow/services/database/models/__init__.py
  src/backend/base/langflow/services/database/models/flow/model.py
  src/backend/base/langflow/services/database/models/message/__init__.py
  src/backend/base/langflow/services/database/models/message/model.py
  src/backend/base/langflow/services/monitor/schema.py
  src/backend/base/langflow/services/monitor/service.py
  tests/test_messages_endpoints.py
  tests/unit/test_messages.py
Labels: enhancement, size:XL, lgtm

#2363 Fix condition stop
  src/backend/base/langflow/custom/custom_component/custom_component.py
Labels: bug, size:XS, lgtm

#2362 Fix vertex_id assignment for group flows
  src/backend/base/langflow/graph/graph/base.py
Labels: bug, size:XS, lgtm

#2374 Rename Kubernetes deployment file to .md extension
  docs/docs/deployment/kubernetes.md
Labels: documentation, size:XS

#2375 Rename Kubernetes documentation file to use .md extension
  docs/docs/deployment/kubernetes.md
Labels: documentation, size:XS

#2370 components: simplify astra vectorize
  src/backend/base/langflow/components/embeddings/AstraVectorize.py
  src/backend/base/langflow/components/langchain_utilities/FirecrawlScrapeApi.py
Labels: python, size:M

#2380 Cassandra: support for non-AstraDB databases
  src/backend/base/langflow/components/vectorstores/Cassandra.py
Labels: enhancement, size:M

#2381 Add GitHub workflows for JavaScript and Python autofix
  .github/workflows/js_autofix.yml
  .github/workflows/py_autofix.yml
  .github/workflows/style-check-py.yml
Labels: javascript, python, size:M

#2376 chore: Add auto-update workflow
  .github/workflows/auto-update.yml
Labels: enhancement, size:S

#2360 Fix flow settings validation and save button
  src/backend/base/langflow/api/v1/flows.py
  src/frontend/src/components/editFlowSettingsComponent/index.tsx
  src/frontend/src/modals/flowSettingsModal/index.tsx
  src/frontend/src/types/components/index.ts
  src/frontend/src/types/flow/index.ts
  src/frontend/src/utils/utils.ts
Labels: bug, javascript, size:M, lgtm

#2387 chore: make calls to end_all_traces run concurrently
  src/backend/base/langflow/graph/graph/base.py
Labels: size:XS, lgtm

#2378 fix: Refactor RunnableVerticesManager to consider inactivated vertices in is_vertex_runnable and find_runnable_predecessors_for_successors
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/runnable_vertices_manager.py
Labels: bug, python, size:S, lgtm

#2384 Merge branch 'main' into dev
  .github/workflows/js_autofix.yml
  .github/workflows/py_autofix.yml
  .github/workflows/release.yml
  .github/workflows/style-check-py.yml
  docs/docs/deployment/kubernetes.md
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/components/embeddings/AstraVectorize.py
  src/backend/base/langflow/components/langchain_utilities/FirecrawlCrawlApi.py
  src/backend/base/langflow/components/langchain_utilities/FirecrawlScrapeApi.py
  src/backend/base/langflow/components/vectorstores/Cassandra.py
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
  src/frontend/src/icons/Firecrawl/FirecrawlLogo.jsx
  src/frontend/src/icons/Firecrawl/firecraw-logo.svg
  src/frontend/src/icons/Firecrawl/index.tsx
  src/frontend/src/modals/flowSettingsModal/index.tsx
  src/frontend/src/types/components/index.ts
  src/frontend/src/types/flow/index.ts
  src/frontend/src/utils/styleUtils.ts
Labels: javascript, python, size:L, lgtm

#2386 Add JSON Mode option to OpenAIModelComponent
  src/backend/base/langflow/components/models/OpenAIModel.py
Labels: enhancement, size:S

#2388 update message structure in frontend
  src/frontend/src/controllers/API/index.ts
  src/frontend/src/modals/IOModal/components/SessionView/hooks/index.tsx
  src/frontend/src/modals/IOModal/components/SessionView/index.tsx
  src/frontend/src/pages/SettingsPage/pages/messagesPage/hooks/use-remove-messages.tsx
  src/frontend/src/pages/SettingsPage/pages/messagesPage/index.tsx
  src/frontend/src/stores/messagesStore.ts
  src/frontend/src/types/messages/index.ts
  src/frontend/src/types/zustand/messages/index.ts
Labels: javascript, size:S, lgtm

#2382 Fix Image Display Issue on Windows by Setting a Static Path
  src/backend/base/langflow/api/v1/files.py
Labels: bug, size:XS, lgtm

#2361 update share modal style
  src/frontend/src/components/editFlowSettingsComponent/index.tsx
  src/frontend/src/modals/shareModal/index.tsx
Labels: bug, javascript, size:XS, lgtm

#2390 Fix webhook endpoint not receiving data that is not JSON
  src/backend/base/langflow/api/v1/endpoints.py
  tests/test_webhook.py
Labels: bug, python, size:S, lgtm

#2385 feat: add logic to migrate from duckdb table to database
  pyproject.toml
  src/backend/base/langflow/memory.py
  src/backend/base/langflow/schema/message.py
  src/backend/base/langflow/services/database/models/message/model.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/database/utils.py
  src/backend/base/langflow/services/monitor/schema.py
  src/backend/base/langflow/services/monitor/service.py
  tests/unit/test_messages.py
Labels: enhancement, python, size:L, lgtm

#2395 ci: always run required checks
  .github/workflows/lint-py.yml
  .github/workflows/python_test.yml
  .github/workflows/style-check-py.yml
Labels: python, size:S, lgtm

#2389 Update dockerfiles and docker-build.yml
  .github/workflows/docker-build.yml
  docker/build_and_push.Dockerfile
  docker/build_and_push_backend.Dockerfile
  docker/build_and_push_base.Dockerfile
  docker_example/docker-compose.yml
Labels: size:S, lgtm

#2400 Merge main into dev
  .github/workflows/lint-py.yml
  .github/workflows/python_test.yml
  .github/workflows/style-check-py.yml
  poetry.lock
Labels: size:S

#2366 feat: update tests to work on Github Actions CI
  .github/workflows/typescript_test.yml
  src/frontend/playwright.config.ts
  src/frontend/src/CustomNodes/GenericNode/components/handleRenderComponent/index.tsx
  src/frontend/src/components/cardComponent/index.tsx
  src/frontend/src/components/chatComponent/index.tsx
  src/frontend/src/logs.spec.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/textAreaWrapper/index.tsx
  src/frontend/tests/end-to-end/Basic Prompting.ts
  src/frontend/tests/end-to-end/Blog Writer.spec.ts
  src/frontend/tests/end-to-end/Document QA.spec.ts
  src/frontend/tests/end-to-end/Memory Chatbot.spec.ts
  src/frontend/tests/end-to-end/Vector Store.spec.ts
  src/frontend/tests/end-to-end/actionsMainPage.spec.ts
  src/frontend/tests/end-to-end/basicExamples.spec.ts
  src/frontend/tests/end-to-end/chatInputOutput.spec.ts
  src/frontend/tests/end-to-end/chatInputOutputUser - Images.spec.ts
  src/frontend/tests/end-to-end/chatInputOutputUser - Inspection.spec.ts
  src/frontend/tests/end-to-end/chatInputOutputUser - Interact.spec.ts
  src/frontend/tests/end-to-end/codeAreaModalComponent.spec.ts
  src/frontend/tests/end-to-end/curlApiGeneration.spec.ts
  src/frontend/tests/end-to-end/deleteComponentFlows.spec.ts
  src/frontend/tests/end-to-end/dropdownComponent.spec.ts
  src/frontend/tests/end-to-end/fileUploadComponent.spec.ts
  src/frontend/tests/end-to-end/filterSidebar.spec.ts
  src/frontend/tests/end-to-end/floatComponent.spec.ts
  src/frontend/tests/end-to-end/flowPage.spec.ts
  src/frontend/tests/end-to-end/folders.spec.ts
  src/frontend/tests/end-to-end/generalBugs.spec.ts
  src/frontend/tests/end-to-end/globalVariables.spec.ts
  src/frontend/tests/end-to-end/handleTooltipSuggestions.spec.ts
  src/frontend/tests/end-to-end/inputComponent.spec.ts
  src/frontend/tests/end-to-end/inputListComponent.spec.ts
  src/frontend/tests/end-to-end/intComponent.spec.ts
  src/frontend/tests/end-to-end/langflowShortcuts.spec.ts
  src/frontend/tests/end-to-end/nestedComponent.spec.ts
  src/frontend/tests/end-to-end/promptModalComponent.spec.ts
  src/frontend/tests/end-to-end/saveComponents.spec.ts
  src/frontend/tests/end-to-end/store.spec.ts
  src/frontend/tests/end-to-end/textAreaModalComponent.spec.ts
  src/frontend/tests/end-to-end/textInputOutput.spec.ts
  src/frontend/tests/end-to-end/toggleComponent.spec.ts
  src/frontend/tests/end-to-end/tweaks_test.spec.ts
  src/frontend/tsconfig.json
Labels: enhancement, javascript, size:XXL, lgtm

#2403 Reactivate frontend tests
  .github/workflows/typescript_test.yml
Labels: size:S, lgtm

#2393 Refactor: refactor apiModal tabs generation to prevent bugs and enhance reliability
  src/frontend/src/constants/constants.ts
  src/frontend/src/modals/apiModal/index.tsx
  src/frontend/src/modals/apiModal/utils/get-codes-obj.tsx
  src/frontend/src/modals/apiModal/utils/get-curl-code.tsx
  src/frontend/src/modals/apiModal/utils/get-js-api-code.tsx
  src/frontend/src/modals/apiModal/utils/get-python-api-code.tsx
  src/frontend/src/modals/apiModal/utils/get-tabs-order.tsx
  src/frontend/src/modals/apiModal/utils/tabs-array.tsx
  src/frontend/src/types/utils/functions.ts
Labels: size:L, lgtm

#2402 Add BaseTracer and refactor convert_to_langchain_types
  src/backend/base/langflow/custom/custom_component/custom_component.py
  src/backend/base/langflow/services/database/utils.py
  src/backend/base/langflow/services/tracing/base.py
  src/backend/base/langflow/services/tracing/service.py
  src/backend/base/langflow/services/tracing/utils.py
Labels: enhancement, size:M, lgtm

#2407 feat: add tests improvements to pipeline CI
  .github/workflows/typescript_test.yml
  src/frontend/src/CustomNodes/GenericNode/components/handleRenderComponent/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/parameterComponent/index.tsx
  src/frontend/src/modals/BundleModal/component/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/index.tsx
  src/frontend/tests/end-to-end/actionsMainPage-shard-0.spec.ts
  src/frontend/tests/end-to-end/actionsMainPage-shard-1.spec.ts
  src/frontend/tests/end-to-end/autoLogin.spec.ts
  src/frontend/tests/end-to-end/chatInputOutput.spec.ts
  src/frontend/tests/end-to-end/chatInputOutputUser-shard-0.spec.ts
  src/frontend/tests/end-to-end/chatInputOutputUser-shard-1.spec.ts
  src/frontend/tests/end-to-end/chatInputOutputUser-shard-2.spec.ts
  src/frontend/tests/end-to-end/codeAreaModalComponent.spec.ts
  src/frontend/tests/end-to-end/deleteComponentFlows.spec.ts
  src/frontend/tests/end-to-end/dropdownComponent.spec.ts
  src/frontend/tests/end-to-end/fileUploadComponent.spec.ts
  src/frontend/tests/end-to-end/filterEdge-shard-0.spec.ts
  src/frontend/tests/end-to-end/filterEdge-shard-1.spec.ts
  src/frontend/tests/end-to-end/floatComponent.spec.ts
  src/frontend/tests/end-to-end/flowPage.spec.ts
  src/frontend/tests/end-to-end/flowSettings.spec.ts
  src/frontend/tests/end-to-end/generalBugs.spec.ts
  src/frontend/tests/end-to-end/globalVariables.spec.ts
  src/frontend/tests/end-to-end/handleTooltipSuggestions.spec.ts
  src/frontend/tests/end-to-end/inputComponent.spec.ts
  src/frontend/tests/end-to-end/inputListComponent.spec.ts
  src/frontend/tests/end-to-end/intComponent.spec.ts
  src/frontend/tests/end-to-end/keyPairListComponent.spec.ts
  src/frontend/tests/end-to-end/langflowShortcuts.spec.ts
  src/frontend/tests/end-to-end/nestedComponent.spec.ts
  src/frontend/tests/end-to-end/promptModalComponent.spec.ts
  src/frontend/tests/end-to-end/pythonApiGeneration.spec.ts
  src/frontend/tests/end-to-end/saveComponents.spec.ts
  src/frontend/tests/end-to-end/store-shard-0.spec.ts
  src/frontend/tests/end-to-end/store-shard-1.spec.ts
  src/frontend/tests/end-to-end/store-shard-2.spec.ts
  src/frontend/tests/end-to-end/store-shard-3.spec.ts
  src/frontend/tests/end-to-end/store.spec.ts
  src/frontend/tests/end-to-end/textAreaModalComponent.spec.ts
  src/frontend/tests/end-to-end/textInputOutput.spec.ts
  src/frontend/tests/end-to-end/toggleComponent.spec.ts
  src/frontend/tests/end-to-end/tweaksTest.spec.ts
  src/frontend/tsconfig.json
Labels: size:XL, lgtm

#2411 Feat: Add types to functions, components and hooks that are missing it
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/CustomNodes/helpers/get-node-input-colors.ts
  src/frontend/src/CustomNodes/helpers/get-node-output-colors.ts
  src/frontend/src/components/ImageViewer/index.tsx
  src/frontend/src/components/horizontalScrollFadeComponent/index.tsx
  src/frontend/src/modals/BundleModal/hooks/submit-folder.tsx
  src/frontend/src/modals/foldersModal/hooks/submit-folder.tsx
Labels: javascript, size:M, lgtm

#2379 Updates PassMessage and StoreMessage components
  src/backend/base/langflow/components/helpers/CreateList.py
  src/backend/base/langflow/components/helpers/IDGenerator.py
  src/backend/base/langflow/components/helpers/StoreMessage.py
  src/backend/base/langflow/components/helpers/__init__.py
  src/backend/base/langflow/components/prototypes/ConditionalRouter.py
  src/backend/base/langflow/components/prototypes/Pass.py
  tests/unit/test_helper_components.py
Labels: enhancement, python, size:L, lgtm

#2436 Fix Endpoint to Properly Delete Messages from Database
  src/backend/base/langflow/api/v1/monitor.py
Labels: bug, size:XS, lgtm

#2437 Fix Build Status
  src/frontend/src/CustomNodes/hooks/use-icons-status.tsx
  src/frontend/src/utils/buildUtils.ts
Labels: bug, javascript, size:XS, lgtm

#2418 Fix: Ctrl + C not working on tooltips
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
Labels: bug, size:XS, lgtm

#2435 fix edit method on messages
  src/frontend/src/controllers/API/index.ts
  src/frontend/src/pages/SettingsPage/pages/messagesPage/index.tsx
  src/frontend/src/types/messages/index.ts
Labels: bug, size:XS, lgtm

#2412 Fix: Tweaks tab dissapearing with hook component
  src/frontend/src/components/codeTabsComponent/index.tsx
  src/frontend/src/modals/apiModal/index.tsx
  src/frontend/src/modals/apiModal/utils/get-tabs-order.tsx
  src/frontend/src/types/components/index.ts
Labels: bug, javascript, size:S, lgtm

#2364 Update proxy IDs on group node outputs
  src/frontend/src/utils/reactflowUtils.ts
Labels: javascript, size:S, lgtm

#2409 fix list display in output inspection
  src/frontend/src/components/dataOutputComponent/index.tsx
Labels: javascript, size:XS, lgtm
