Repository langflow-ai/langflow, pull requests merged in 2024-11, with the labels that each got.

#4347 fix:base-component-set-method
  src/backend/base/langflow/custom/custom_component/component.py
Labels: bug, size:XS, lgtm

#4351 test: fix decision flow test
  src/frontend/tests/core/integrations/decisionFlow.spec.ts
Labels: javascript, size:XL, lgtm, test

#4346 refactor: remove error handling for Graph loading in starter project setup
  src/backend/base/langflow/initial_setup/setup.py
Labels: size:XS, lgtm, refactor

#4334 refactor: dynamically retrieve maximum buffer size from environment in SizedLogBuffer
  src/backend/base/langflow/logging/logger.py
Labels: size:S, lgtm, refactor

#4341 feat: Add model_utils and model_constants intorducing `PROVIDER_NAMES` and `MODEL_INFO` variables for dynamic updation of model data
  src/backend/base/langflow/base/models/model.py
  src/backend/base/langflow/base/models/model_constants.py
  src/backend/base/langflow/base/models/model_utils.py
  src/backend/base/langflow/worker.py
  src/backend/tests/unit/base/models/__init__.py
  src/backend/tests/unit/base/models/test_model_constants.py
Labels: enhancement, size:L, lgtm

#4361 Bugfix langchain astradb metadata
  src/backend/base/langflow/components/vectorstores/astradb.py
Labels: bug, size:XS, lgtm

#4360 bugfix: Handle urls for unstructured #4359
  pyproject.toml
  uv.lock
Labels: bug, size:XS, lgtm

#4318 feat: Add SimpleAgentComponent and related pytests
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/initial_setup/starter_projects/Agent Flow.json
  src/backend/tests/unit/components/agents/__init__.py
  src/backend/tests/unit/components/agents/test_agent_component.py
  src/backend/tests/unit/components/agents/test_tool_calling_agent.py
  src/frontend/tests/core/integrations/Simple Agent.spec.ts
Labels: enhancement, size:XXL, lgtm

#4350 ci: add CodSpeed workflow and pytest-codspeed for performance testing
  .github/workflows/codspeed.yml
  pyproject.toml
  src/backend/base/pyproject.toml
  uv.lock
Labels: enhancement, size:M, lgtm

#4354 Docs: update api configuration
  docs/docs/Configuration/596474918.png
  docs/docs/Configuration/configuration-api-keys.md
Labels: documentation, size:L, lgtm

#4364 ref: Remove useless pytest.mark.asyncio
  src/backend/tests/integration/backward_compatibility/test_starter_projects.py
  src/backend/tests/integration/components/assistants/test_assistants_components.py
  src/backend/tests/integration/components/astra/test_astra_component.py
  src/backend/tests/integration/components/helpers/test_parse_json_data.py
  src/backend/tests/integration/components/inputs/test_chat_input.py
  src/backend/tests/integration/components/inputs/test_text_input.py
  src/backend/tests/integration/components/output_parsers/test_output_parser.py
  src/backend/tests/integration/components/outputs/test_chat_output.py
  src/backend/tests/integration/components/outputs/test_text_output.py
  src/backend/tests/integration/components/prompts/test_prompt.py
  src/backend/tests/integration/flows/test_basic_prompting.py
  src/backend/tests/unit/components/agents/test_agent_component.py
  src/backend/tests/unit/components/agents/test_tool_calling_agent.py
  src/backend/tests/unit/components/prototypes/test_create_data_component.py
  src/backend/tests/unit/components/prototypes/test_update_data_component.py
  src/backend/tests/unit/events/test_event_manager.py
  src/backend/tests/unit/graph/graph/test_base.py
  src/backend/tests/unit/schema/test_schema_message.py
  src/backend/tests/unit/test_data_components.py
  src/backend/tests/unit/test_database.py
  src/backend/tests/unit/test_initial_setup.py
  src/backend/tests/unit/test_process.py
Labels: size:M, lgtm

#4293 feat: Raise exception in tests when blocking code is called in event loop
  pyproject.toml
  src/backend/base/langflow/custom/directory_reader/directory_reader.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/telemetry/service.py
  src/backend/base/langflow/services/tracing/service.py
  src/backend/tests/blockbuster.py
  src/backend/tests/conftest.py
  src/backend/tests/unit/graph/graph/test_base.py
  src/backend/tests/unit/test_database.py
  src/backend/tests/unit/test_files.py
  src/backend/tests/unit/test_initial_setup.py
  src/backend/tests/unit/test_process.py
  uv.lock
Labels: enhancement, size:L, lgtm

#4358 Docs: Update GCP Deployment
  docs/docs/Deployment/cloud_deploy.svg
  docs/docs/Deployment/deployment-gcp.md
Labels: documentation, size:M, lgtm

#4344 chore: bump assistants and packaging to support e2b 1.0.1
  pyproject.toml
  uv.lock
Labels: size:XS, lgtm, ignore-for-release

#4366 ref: Remove some get_event_loop calls
  docs/docs/Integrations/AssemblyAI_Flow.json
  docs/docs/Integrations/Notion/Conversational_Notion_Agent.json
  docs/docs/Integrations/Notion/Meeting_Notes_Agent.json
  src/backend/base/langflow/components/prompts/langchain_hub.py
  src/backend/base/langflow/components/prompts/prompt.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, World).json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Complex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Hierarchical Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/schema/image.py
  src/backend/base/langflow/schema/message.py
  src/backend/base/langflow/services/storage/local.py
  src/backend/tests/data/MemoryChatbotNoLLM.json
  src/backend/tests/unit/events/test_event_manager.py
  src/backend/tests/unit/schema/test_schema_message.py
Labels: size:M, lgtm

#4368 ref: Make some functions that don't await non-async (RUF029)
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/folders.py
  src/backend/base/langflow/api/v1/store.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/interface/initialize/loading.py
  src/backend/base/langflow/services/auth/utils.py
  src/backend/tests/blockbuster.py
  src/backend/tests/unit/api/v1/test_variable.py
  src/backend/tests/unit/test_messages_endpoints.py
  src/backend/tests/unit/test_user.py
Labels: size:M, lgtm

#4192 fix: SQLDatabase has no attribute set_event_manager
  src/backend/base/langflow/components/langchain_utilities/sql_database.py
Labels: bug, size:S, lgtm

#4308 feat: add dynamic outputs to Component
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/custom/custom_component/custom_component.py
  src/backend/tests/data/dynamic_output_component.py
  src/backend/tests/unit/api/v1/test_endpoints.py
  src/frontend/src/CustomNodes/helpers/mutate-template.ts
  src/frontend/src/CustomNodes/hooks/use-fetch-data-on-mount.tsx
  src/frontend/src/CustomNodes/hooks/use-handle-new-value.tsx
  src/frontend/src/controllers/API/queries/nodes/use-post-template-value.ts
Labels: enhancement, size:L, lgtm

#4369 refactor: update Ollama components to use langchain-ollama integration
  pyproject.toml
  src/backend/base/langflow/components/embeddings/ollama.py
  src/backend/base/langflow/components/models/ollama.py
  src/backend/tests/unit/components/models/test_chatollama_component.py
  uv.lock
Labels: size:M, lgtm, refactor

#4380 fix: Add nodeStyle property to input element in GlobalVariableModal component
  src/frontend/src/components/GlobalVariableModal/GlobalVariableModal.tsx
Labels: bug, size:XS, lgtm

#4381 fix: Fix db session used in different threads
  src/backend/base/langflow/api/v1/login.py
  src/backend/base/langflow/services/auth/utils.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/utils.py
Labels: bug, size:M, lgtm

#4377 fix: stop taking zoom into account in tooltip render
  src/frontend/package-lock.json
  src/frontend/src/CustomNodes/GenericNode/components/handleRenderComponent/index.tsx
  src/frontend/tests/core/features/auto-login-off.spec.ts
  src/frontend/tests/core/features/store-shard-2.spec.ts
  src/frontend/tests/extended/features/deleteFlows.spec.ts
  src/frontend/tests/extended/features/store-shard-3.spec.ts
  src/frontend/tests/extended/features/userSettings.spec.ts
Labels: bug, javascript, size:L, lgtm

#4367 tests: Add performance benchmarks for database initialization and app startup
  .github/workflows/codspeed.yml
  src/backend/tests/performance/__init__.py
  src/backend/tests/performance/test_server_init.py
  src/backend/tests/unit/test_chat_endpoint.py
  src/backend/tests/unit/test_endpoints.py
Labels: size:M, lgtm

#4390 bugfix: Properly log and set metric to none by default in Astra DB Component
  src/backend/base/langflow/components/vectorstores/astradb.py
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: bug, size:S, lgtm

#4389 fix: Optimize Setting of Output Required Inputs
  src/backend/base/langflow/components/agents/__init__.py
  src/backend/base/langflow/components/models/openai.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/tests/unit/custom/custom_component/test_component.py
Labels: bug, size:M, lgtm

#4388 feat: add minimize and expand functionality for UI nodes
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/frontend/src/CustomNodes/GenericNode/components/NodeName/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputfield/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/handleRenderComponent/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/nodeIcon/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/style/applies.css
  src/frontend/src/style/classes.css
  src/frontend/tests/extended/features/minimize.spec.ts
Labels: enhancement, javascript, size:L, lgtm

#4384 tests: add decision flow test
  src/frontend/tests/core/integrations/decisionFlow.spec.ts
Labels: size:XL, lgtm

#4404 Revert "fix: Optimize Setting of Output Required Inputs"
  src/backend/base/langflow/components/agents/__init__.py
  src/backend/base/langflow/components/models/openai.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/tests/unit/custom/custom_component/test_component.py
Labels: size:M, lgtm

#4379 fix: sidebar animations, colors and minor design fixes
  src/frontend/src/components/flowToolbarComponent/index.tsx
  src/frontend/src/components/renderIconComponent/index.tsx
  src/frontend/src/components/ui/badge.tsx
  src/frontend/src/components/ui/sidebar.tsx
  src/frontend/src/icons/AWS/AWS.jsx
  src/frontend/src/icons/AWS/index.tsx
  src/frontend/src/icons/CrewAI/CrewAiIcon.jsx
  src/frontend/src/icons/CrewAI/crewai.svg
  src/frontend/src/icons/GradientSparkles/index.tsx
  src/frontend/src/icons/Redis/Redis.jsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/sidebarFilterComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarDraggableComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/shortcutDisplay/index.tsx
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/style/applies.css
  src/frontend/src/style/classes.css
  src/frontend/src/style/index.css
  src/frontend/src/utils/styleUtils.ts
  src/frontend/tests/core/features/filterSidebar.spec.ts
Labels: bug, javascript, size:XL, lgtm

#4338 feat: changes the ui and ux of the api dialog to improve usability
  src/frontend/src/components/codeTabsComponent/ChatCodeTabComponent.tsx
  src/frontend/src/components/codeTabsComponent/index.tsx
  src/frontend/src/components/shadTooltipComponent/index.tsx
  src/frontend/src/components/ui/dialog.tsx
  src/frontend/src/components/ui/tabs.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/codeBlock/index.tsx
  src/frontend/src/modals/apiModal/utils/tabs-array.tsx
  src/frontend/src/modals/baseModal/index.tsx
  src/frontend/src/style/applies.css
  src/frontend/src/style/index.css
  src/frontend/tailwind.config.mjs
Labels: enhancement, size:L, lgtm

#4409 fix: Minor fixes and feature flag removal
  src/frontend/src/App.css
  src/frontend/src/components/cardComponent/index.tsx
  src/frontend/src/components/flowToolbarComponent/index.tsx
  src/frontend/src/components/storeCardComponent/index.tsx
  src/frontend/src/components/ui/textAnimation.tsx
  src/frontend/src/customization/feature-flags.ts
  src/frontend/src/modals/IOModal/newModal.tsx
  src/frontend/src/pages/Playground/index.tsx
Labels: bug, size:S, lgtm

#4403 fix: server busy error even when the server is responding
  src/frontend/src/controllers/API/api.tsx
Labels: bug, size:S, lgtm

#4407 fix: center add and remove icon on button when is a inputList
  src/frontend/src/components/parameterRenderComponent/components/inputListComponent/index.tsx
Labels: bug, size:XS, lgtm

#4410 fix: Handle BYO Embeddings (#4387)
  src/backend/base/langflow/components/vectorstores/astradb.py
Labels: bug, size:XS, lgtm

#4417 feat: Change Beta Tag and UI Enhancements for Node Components
  src/frontend/src/CustomNodes/GenericNode/components/NodeName/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/style/index.css
Labels: enhancement, javascript, size:L, lgtm

#4362 fix: Fix Home Page Issues post Uplift
  src/frontend/src/components/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/pages/LoginPage/index.tsx
  src/frontend/src/pages/MainPage/components/grid/index.tsx
  src/frontend/src/pages/MainPage/components/list/index.tsx
  src/frontend/src/pages/MainPage/pages/emptyPage/index.tsx
  src/frontend/src/pages/MainPage/pages/homePage/index.tsx
  src/frontend/src/pages/MainPage/pages/index.tsx
  src/frontend/src/pages/MainPage/utils/get-template-style.ts
  src/frontend/src/routes.tsx
Labels: bug, size:M, lgtm

#4353 feat: Error handling and multi-file support in File Component
  pyproject.toml
  src/backend/base/langflow/components/data/file.py
  uv.lock
Labels: enhancement, size:L, lgtm

#4408 feat: Add AsyncSession support for non-blocking db operations
  pyproject.toml
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/api/v1/api_key.py
  src/backend/base/langflow/services/database/models/api_key/crud.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/deps.py
  uv.lock
Labels: enhancement, size:L, lgtm

#4312 fix: correct issue with handling float32
  src/backend/base/langflow/components/vectorstores/pinecone.py
Labels: bug, size:L, lgtm

#4412 ci: Update Codspeed workflow to exclude api_key_required tests and enable parallel execution
  .github/workflows/codspeed.yml
Labels: size:XS, lgtm

#4414 fix: improve notes functionality, update theme colors definition and resolve ui and ux small bugs
  src/frontend/index.html
  src/frontend/src/CustomNodes/GenericNode/components/NodeDescription/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeName/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/handleRenderComponent/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/CustomNodes/NoteNode/NoteToolbarComponent/index.tsx
  src/frontend/src/CustomNodes/NoteNode/index.tsx
  src/frontend/src/components/inputComponent/components/popover/index.tsx
  src/frontend/src/components/tableComponent/components/tableAutoCellRender/index.tsx
  src/frontend/src/components/ui/badge.tsx
  src/frontend/src/components/ui/dialog-with-no-close.tsx
  src/frontend/src/components/ui/dialog.tsx
  src/frontend/src/components/ui/sheet.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/modals/saveChangesModal/index.tsx
  src/frontend/src/modals/templatesModal/components/navComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/sidebarFilterComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarDraggableComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/shortcutDisplay/index.tsx
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/style/classes.css
  src/frontend/src/style/index.css
  src/frontend/tailwind.config.mjs
  src/frontend/tests/core/features/group.spec.ts
  src/frontend/tests/extended/features/sticky-notes.spec.ts
Labels: bug, javascript, size:XL, lgtm

#4418 refactor: Design tweaks canvas actions and templates based on uplift feedback
  src/frontend/src/components/canvasControlsComponent/index.tsx
  src/frontend/src/components/flowToolbarComponent/index.tsx
  src/frontend/src/modals/templatesModal/components/GetStartedComponent/index.tsx
  src/frontend/src/modals/templatesModal/components/navComponent/index.tsx
  src/frontend/src/modals/templatesModal/index.tsx
  src/frontend/tests/extended/features/starter-projects.spec.ts
  src/frontend/tests/extended/features/twoEdges.spec.ts
Labels: javascript, size:M, lgtm, refactor

#4416 feat: Add Multi-Model Provider Support to Agent Component
  src/backend/base/langflow/base/models/model_constants.py
  src/backend/base/langflow/base/models/model_input_constants.py
  src/backend/base/langflow/base/models/model_utils.py
  src/backend/base/langflow/components/agents/agent.py
  src/backend/tests/unit/base/models/__init__.py
  src/backend/tests/unit/base/models/test_model_constants.py
Labels: enhancement, python, size:L, lgtm

#4411 fix: General Fixes and Improvements from v1.0.19.2 Fixes Branch
  pyproject.toml
  src/backend/base/langflow/components/astra_assistants/run.py
  src/backend/base/langflow/components/prototypes/create_data.py
  src/backend/base/langflow/components/prototypes/sql_executor.py
  src/backend/base/langflow/components/prototypes/update_data.py
  src/backend/base/langflow/components/tools/retriever.py
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/tests/conftest.py
  src/backend/tests/unit/components/prototypes/test_create_data_component.py
  src/backend/tests/unit/components/prototypes/test_update_data_component.py
  uv.lock
Labels: bug, size:L, lgtm

#4427 fix: Refactor API key header and remove streaming
  src/frontend/src/modals/apiModal/utils/get-js-api-code.tsx
Labels: bug, javascript, size:M, lgtm

#4424 feat: Enhance UI Consistency and Refactor Color Naming Conventions for Improved UX
  src/frontend/src/CustomNodes/GenericNode/components/HandleTooltipComponent/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/handleRenderComponent/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/CustomNodes/helpers/get-class-from-build-status.ts
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/sidebarFilterComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/style/applies.css
  src/frontend/src/style/index.css
  src/frontend/tailwind.config.mjs
  src/frontend/tests/core/features/freeze-path.spec.ts
Labels: enhancement, javascript, size:L, lgtm

#4428 refactor: Design updates to Playground from uplift sweep
  src/frontend/src/components/ui/textAnimation.tsx
  src/frontend/src/modals/IOModal/components/IOFieldView/components/sessionSelector/newSessionSelector.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/newChatMessage.tsx
  src/frontend/src/modals/IOModal/newModal.tsx
Labels: javascript, size:M, lgtm, refactor

#4431 refactor: Design updates to API Dialog and Code Block for uplift sweep
  src/frontend/src/components/codeTabsComponent/ChatCodeTabComponent.tsx
  src/frontend/src/components/codeTabsComponent/index.tsx
  src/frontend/src/components/ui/tabs.tsx
Labels: javascript, size:S, lgtm, refactor

#4370 feat: add ContentBlock streaming visualization
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/base/agents/events.py
  src/backend/base/langflow/base/tools/component_tool.py
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/components/outputs/chat.py
  src/backend/base/langflow/components/tools/calculator.py
  src/backend/base/langflow/components/tools/python_repl.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/events/event_manager.py
  src/backend/base/langflow/initial_setup/starter_projects/Agent Flow.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, World).json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Complex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Hierarchical Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/inputs/inputs.py
  src/backend/base/langflow/processing/process.py
  src/backend/base/langflow/schema/content_block.py
  src/backend/base/langflow/schema/content_types.py
  src/backend/base/langflow/schema/log.py
  src/backend/base/langflow/schema/message.py
  src/backend/base/langflow/schema/playground_events.py
  src/backend/base/langflow/schema/properties.py
  src/backend/base/langflow/schema/validators.py
  src/backend/base/langflow/services/database/models/message/model.py
  src/backend/tests/.test_durations
  src/backend/tests/unit/components/agents/test_agent_events.py
  src/backend/tests/unit/graph/graph/state/test_state_model.py
  src/backend/tests/unit/graph/graph/test_callback_graph.py
  src/backend/tests/unit/graph/graph/test_cycles.py
  src/backend/tests/unit/test_loading.py
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/App.css
  src/frontend/src/components/animatedNumbers/index.tsx
  src/frontend/src/components/chatComponents/ContentBlockDisplay.tsx
  src/frontend/src/components/chatComponents/ContentDisplay.tsx
  src/frontend/src/components/chatComponents/DurationDisplay.tsx
  src/frontend/src/components/core/border-trail.tsx
  src/frontend/src/components/ui/TextShimmer.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/newChatMessage.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/stores/messagesStore.ts
  src/frontend/src/types/chat/index.ts
  src/frontend/src/utils/buildUtils.ts
  src/frontend/src/utils/reactflowUtils.ts
  src/frontend/tests/core/features/playground.spec.ts
  src/frontend/tests/core/unit/chatInputOutput.spec.ts
  src/frontend/tests/core/unit/sliderComponent.spec.ts
Labels: enhancement, size:XXL, lgtm

#4289 fix: resolve issue with adding global variable when input is connected
  src/frontend/src/components/GlobalVariableModal/GlobalVariableModal.tsx
  src/frontend/src/components/inputComponent/index.tsx
  src/frontend/src/components/parameterRenderComponent/components/inputGlobalComponent/index.tsx
Labels: bug, size:S, lgtm

#4435 Feat: Add Docusaurus redirect capability
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
Labels: enhancement, size:S, lgtm

#4445 fix: update error message structure in ChatMessage component
  src/backend/base/langflow/schema/message.py
  src/frontend/package-lock.json
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/newChatMessage.tsx
Labels: bug, size:M, lgtm

#4429 fix: Add Helper for Field Processing & Update Code Validation Logic
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/CustomNodes/helpers/process-node-advanced-fields.ts
Labels: bug, size:M, lgtm

#4444 feat: add cli option to display version
  src/backend/base/langflow/__main__.py
Labels: enhancement, size:S, lgtm

#4447 docs: replace --timeout with --worker-timeout
  README.ES.md
  README.KR.md
  README.PT.md
  README.ja.md
  README.zh_CN.md
Labels: documentation, size:S, lgtm

#4452 feat: Enhance sidebar components
  src/frontend/src/CustomNodes/GenericNode/components/NodeInputField/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/index.tsx
  src/frontend/src/components/pageLayout/index.tsx
  src/frontend/src/customization/components/custom-parameter.tsx
  src/frontend/src/pages/FlowPage/components/ParentDisclosureComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/emptySearchComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/featureTogglesComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarDraggableComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarFooterButtons/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarItemsList/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/helpers/apply-beta-filter.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/helpers/apply-edge-filter.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/helpers/apply-legacy-filter.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/helpers/combined-results.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/helpers/filtered-data.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/helpers/normalize-string.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/helpers/search-on-metadata.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/helpers/traditional-search-metadata.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
Labels: enhancement, javascript, size:XXL, lgtm

#4437 fix: removed Pytest that uses Add Tool Output
  src/backend/tests/unit/graph/graph/state/test_state_model.py
  src/backend/tests/unit/test_custom_component_with_client.py
Labels: size:M, lgtm

#4456 build: add curl to ep image
  docker/build_and_push_ep.Dockerfile
Labels: size:XS

#4457 buid: reduce number of layers in runtime env for langflow-ep build
  docker/build_and_push_ep.Dockerfile
Labels: size:S

#4430 fix: adding atlassian-python-api to support confluence components
  pyproject.toml
  uv.lock
Labels: bug, python, size:XS, lgtm

#4465 fix: component-set-handle-list-tools
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/tests/unit/components/agents/test_agent_component.py
Labels: bug, size:XS, lgtm

#4439 feat: add tool mode to components, Added current date tool to agent
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/components/custom_component/custom_component.py
  src/backend/base/langflow/components/data/api_request.py
  src/backend/base/langflow/components/data/url.py
  src/backend/base/langflow/components/helpers/current_date.py
  src/backend/base/langflow/components/tools/calculator.py
  src/backend/base/langflow/initial_setup/starter_projects/Agent Flow.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/inputs/inputs.py
  src/frontend/tests/core/features/stop-building.spec.ts
  src/frontend/tests/core/unit/linkComponent.spec.ts
Labels: enhancement, size:L, lgtm

#4466 ci: stop backend unit tests on first failure
  .github/workflows/python_test.yml
Labels: size:XS, lgtm

#4405 Docs: backend only mode
  docs/docs/Configuration/configuration-backend-only.md
Labels: documentation, size:L, lgtm

#4469 ci: Add temporary database setup for performance tests
  .github/workflows/codspeed.yml
  src/backend/tests/performance/test_server_init.py
  src/backend/tests/unit/custom/custom_component/test_component_events.py
Labels: size:M, lgtm

#4467 fix: remove use of ImagePromptTemplate in image handling and adds image utils
  poetry.lock
  src/backend/base/langflow/schema/data.py
  src/backend/base/langflow/schema/message.py
  src/backend/base/langflow/utils/image.py
  src/backend/base/pyproject.toml
  src/backend/tests/unit/schema/test_schema_data.py
  src/backend/tests/unit/schema/test_schema_message.py
  src/backend/tests/unit/utils/test_image_utils.py
  uv.lock
Labels: bug, size:L, lgtm

#4448 fix: pdf parsing, pass as str instead of posix path
  pyproject.toml
  src/backend/base/langflow/components/data/file.py
  src/backend/base/langflow/initial_setup/starter_projects/Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/pyproject.toml
  uv.lock
Labels: bug, size:L, lgtm

#4454 fix: update nav bar UI, changed user menu to use shadcn dropdown, fix responsivity issues
  src/frontend/src/components/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/components/appHeaderComponent/components/GithubStarButton/index.tsx
  src/frontend/src/components/appHeaderComponent/components/HeaderMenu/index.tsx
  src/frontend/src/components/appHeaderComponent/components/ThemeButtons/index.tsx
  src/frontend/src/components/appHeaderComponent/index.tsx
  src/frontend/src/components/ui/dropdown-menu.tsx
  src/frontend/src/pages/DashboardWrapperPage/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
  src/frontend/src/pages/MainPage/components/header/index.tsx
  src/frontend/src/style/applies.css
  src/frontend/src/style/index.css
  src/frontend/src/utils/styleUtils.ts
  src/frontend/tailwind.config.mjs
  src/frontend/tests/core/features/actionsMainPage-shard-1.spec.ts
  src/frontend/tests/core/features/auto-login-off.spec.ts
  src/frontend/tests/core/features/store-shard-2.spec.ts
  src/frontend/tests/core/regression/generalBugs-shard-4.spec.ts
  src/frontend/tests/extended/features/flowSettings.spec.ts
Labels: bug, javascript, size:L, lgtm

#4471 fix: Remove 'refresh_button' from DropdownInput in AgentComponent configuration
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/initial_setup/starter_projects/Agent Flow.json
Labels: bug, size:XS, lgtm

#4477 fix: refactor sidebar disposition for sidebar to not push main out of screen
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/pages/MainPage/pages/index.tsx
Labels: bug, size:XS, lgtm

#4286 feat: Enhance backend with context management, error handling, and refactored code
  src/backend/base/langflow/base/agents/context.py
  src/backend/base/langflow/base/embeddings/aiml_embeddings.py
  src/backend/base/langflow/components/embeddings/aiml.py
  src/backend/base/langflow/components/embeddings/util/__init__.py
  src/backend/base/langflow/components/prototypes/conditional_router.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/runnable_vertices_manager.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/services/tracing/langsmith.py
  src/backend/tests/unit/graph/graph/test_cycles.py
Labels: enhancement, size:L, lgtm

#4482 fix: changed component colors name to not override existing colors, fixed responsiveness issues on main, playground and nav
  src/frontend/src/App.css
  src/frontend/src/CustomNodes/GenericNode/components/NodeDescription/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputfield/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/handleRenderComponent/index.tsx
  src/frontend/src/components/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/components/appHeaderComponent/index.tsx
  src/frontend/src/modals/IOModal/newModal.tsx
  src/frontend/src/pages/FlowPage/components/ConnectionLineComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/sidebarFilterComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
  src/frontend/src/pages/MainPage/pages/emptyFolder/index.tsx
  src/frontend/src/style/applies.css
  src/frontend/src/style/classes.css
  src/frontend/src/style/index.css
  src/frontend/tailwind.config.mjs
Labels: javascript, size:XL, lgtm

#4476 Docs: Authentication
  docs/docs/Configuration/configuration-authentication.md
Labels: documentation, size:L, lgtm

#4479 fix: serialize BaseModel subclasses and avoid calling methods on types
  src/backend/base/langflow/schema/serialize.py
Labels: bug, size:S, lgtm

#4483 feat: Add 'isToolMode' prop for enhanced tool mode support
  src/frontend/src/CustomNodes/GenericNode/components/NodeInputField/index.tsx
  src/frontend/src/components/inputComponent/components/helpers/get-icon-name.ts
  src/frontend/src/components/inputComponent/index.tsx
  src/frontend/src/components/parameterRenderComponent/components/inputGlobalComponent/index.tsx
  src/frontend/src/components/parameterRenderComponent/components/strRenderComponent/index.tsx
  src/frontend/src/components/parameterRenderComponent/components/textAreaComponent/index.tsx
  src/frontend/src/components/parameterRenderComponent/index.tsx
  src/frontend/src/components/parameterRenderComponent/types.ts
  src/frontend/src/customization/components/custom-parameter.tsx
  src/frontend/src/types/components/index.ts
Labels: enhancement, javascript, size:M, lgtm

#4254 feat: Adding Semantic Text Splitter Component (Text Splitters)
  src/backend/base/langflow/components/textsplitters/__init__.py
  src/backend/base/langflow/components/textsplitters/language_semantic.py
Labels: enhancement, python, size:L, lgtm

#4492 fix: Enhance extract_class_name function to identify Component subclasses
  src/backend/base/langflow/utils/validate.py
Labels: bug, size:M, lgtm

#4339 Feat: Adding Mem0 Integration
  pyproject.toml
  src/backend/base/langflow/components/memories/mem0_chat_memory.py
  src/frontend/src/icons/Mem0/SvgMem.jsx
  src/frontend/src/icons/Mem0/index.tsx
  src/frontend/src/utils/styleUtils.ts
  uv.lock
Labels: enhancement, size:L, lgtm

#4487 refactor: Small improvements to sidebar, customParams, and flowToolbar for easier DSLF merges
  src/frontend/src/CustomNodes/GenericNode/components/NodeInputField/index.tsx
  src/frontend/src/components/flowToolbarComponent/index.tsx
  src/frontend/src/components/ui/popover.tsx
  src/frontend/src/components/ui/sidebar.tsx
  src/frontend/src/customization/components/custom-parameter.tsx
Labels: javascript, size:M, lgtm, refactor

#4496 fix: Simplify exception handling and refactor error messaging
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/base/agents/events.py
  src/backend/base/langflow/schema/message.py
Labels: bug, size:S, lgtm

#4481 feat: Enhance tool mapping and output rendering with animations
  src/backend/base/langflow/base/agents/events.py
  src/backend/base/langflow/utils/validate.py
  src/backend/tests/.test_durations
  src/backend/tests/unit/components/agents/test_agent_events.py
  src/frontend/src/components/chatComponents/ContentBlockDisplay.tsx
  src/frontend/src/components/chatComponents/ContentDisplay.tsx
  src/frontend/src/components/chatComponents/DurationDisplay.tsx
  src/frontend/src/components/core/border-trail.tsx
Labels: enhancement, size:L, lgtm

#4497 fix: add colors to the templates and main page cards
  src/frontend/src/modals/templatesModal/components/TemplateCardComponent/index.tsx
  src/frontend/src/pages/MainPage/components/grid/index.tsx
  src/frontend/src/pages/MainPage/components/list/index.tsx
  src/frontend/src/style/index.css
  src/frontend/src/utils/styleUtils.ts
  src/frontend/tailwind.config.mjs
Labels: bug, size:M, lgtm

#4494 chore: Add 'lf' and 'ff' options to Makefile for pytest configuration
  Makefile
Labels: size:M, lgtm, ignore-for-release

#4504 fix: Update duckduckgo-search to 6.3.4 and improve tests
  pyproject.toml
  src/frontend/tests/extended/integrations/duckduckgo.spec.ts
  uv.lock
Labels: bug, size:S, lgtm

#4507 fix: change input display name of Webhook component to "Payload"
  docs/docs/Components/components-data.md
  src/backend/base/langflow/components/data/webhook.py
Labels: size:L, lgtm

#4505 fix: prevent nested scrolling in markdown code blocks
  src/frontend/src/CustomNodes/GenericNode/components/NodeDescription/index.tsx
Labels: bug, size:XS, lgtm

#4503 fix: AWS Bedrock components
  src/backend/base/langflow/components/embeddings/amazon_bedrock.py
  src/backend/base/langflow/components/models/amazon_bedrock.py
Labels: bug, size:L, lgtm

#4511 FIX: Properly pass missing vectorize params in Astra DB
  src/backend/base/langflow/components/vectorstores/astradb.py
Labels: size:S, lgtm

#4357 fix: ParseJSONDataComponent prevent unnecessary array wrapping
  src/backend/base/langflow/components/processing/parse_json_data.py
  src/backend/tests/integration/components/helpers/test_parse_json_data.py
Labels: bug, size:M, lgtm

#4484 fix: Use AsyncSession in some non-blocking APIs
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/api/v1/files.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/folders.py
  src/backend/base/langflow/api/v1/monitor.py
  src/backend/base/langflow/helpers/flow.py
  src/backend/base/langflow/helpers/folders.py
  src/backend/base/langflow/services/database/models/transactions/crud.py
  src/backend/base/langflow/services/database/models/vertex_builds/crud.py
Labels: bug, size:L, lgtm

#4500 fix: Make from_template_and_variables async for backwards compatibility, add sync version, add tests and small fixes
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/components/langchain_utilities/langchain_hub.py
  src/backend/base/langflow/components/prompts/prompt.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/custom/custom_component/custom_component.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, World).json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Complex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Hierarchical Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/schema/message.py
  src/backend/tests/base.py
  src/backend/tests/constants.py
  src/backend/tests/data/MemoryChatbotNoLLM.json
  src/backend/tests/integration/utils.py
  src/backend/tests/unit/components/prompts/test_prompt_component.py
  src/backend/tests/unit/custom/custom_component/test_component_events.py
  src/backend/tests/unit/schema/test_schema_message.py
Labels: bug, size:XXL, lgtm

#4495 fix: adding info to Agent and related components
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/components/langchain_utilities/tool_calling.py
  src/backend/base/langflow/components/models/openai.py
Labels: bug, enhancement, size:M, lgtm

#4493 refactor: Enhance tools with enums and improved error handling
  src/backend/base/langflow/components/tools/duck_duck_go_search_run.py
  src/backend/base/langflow/components/tools/glean_search_api.py
  src/backend/base/langflow/components/tools/serp_api.py
  src/backend/base/langflow/components/tools/tavily_search.py
  src/backend/base/langflow/components/tools/yahoo_finance.py
Labels: size:L, lgtm, refactor

#4513 fix: Fix tweaks text color
  src/frontend/src/components/codeTabsComponent/components/tweakComponent/index.tsx
Labels: bug, size:XS, lgtm

#4508 refactor: Remove cursor highlighting feature
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
Labels: size:M, lgtm, refactor

#4510 fix: update SignUpPage component styling to use full screen height
  src/frontend/src/pages/SignUpPage/index.tsx
Labels: bug, size:XS, lgtm

#4502 feat: Add YouTube transcript extraction component and frontend integration
  src/backend/base/langflow/components/tools/__init__.py
  src/backend/base/langflow/components/tools/youtube_transcripts.py
  src/frontend/src/icons/Youtube/index.tsx
  src/frontend/src/icons/Youtube/youtube.jsx
  src/frontend/src/icons/Youtube/youtube.svg
  src/frontend/src/utils/styleUtils.ts
  src/frontend/tests/core/unit/codeAreaModalComponent.spec.ts
  src/frontend/tests/extended/integrations/youtube-transcripts.spec.ts
Labels: enhancement, size:L, lgtm

#4522 style: update border radius and add orange datatype color
  src/frontend/src/style/applies.css
  src/frontend/src/style/index.css
  src/frontend/src/utils/styleUtils.ts
  src/frontend/tests/extended/integrations/youtube-transcripts.spec.ts
Labels: size:S, lgtm, style

#4506 fix: update step duration display and logic
  src/backend/base/langflow/base/agents/events.py
  src/backend/base/langflow/schema/serialize.py
  src/frontend/src/components/chatComponents/ContentBlockDisplay.tsx
  src/frontend/src/components/chatComponents/ContentDisplay.tsx
  src/frontend/src/components/chatComponents/DurationDisplay.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/newChatMessage.tsx
  src/frontend/src/stores/durationStore.ts
Labels: bug, size:L, lgtm

#4514 fix: bedrock component handling AWS constants
  src/backend/base/langflow/base/models/aws_constants.py
  src/backend/base/langflow/components/embeddings/amazon_bedrock.py
  src/backend/base/langflow/components/models/amazon_bedrock.py
Labels: bug, size:L, lgtm

#4512 feat: Add a WikiData API Tool Component
  src/backend/base/langflow/components/tools/__init__.py
  src/backend/base/langflow/components/tools/wikidata_api.py
Labels: enhancement, size:L, lgtm

#4521 refactor: rename CSV component and update Google OAuth imports
  src/backend/base/langflow/components/data/csv_to_data.py
  src/backend/base/langflow/components/google/__init__.py
  src/backend/base/langflow/components/google/google_oauth_token.py
Labels: size:S, lgtm, refactor

#4425 Docs: Settings pages
  docs/docs/Components/components-overview.md
  docs/docs/Configuration/My-Collection.md
  docs/docs/Configuration/configuration-api-keys.md
  docs/docs/Configuration/configuration-backend-only.md
  docs/docs/Configuration/configuration-global-variables.md
  docs/docs/Configuration/environment-variables.md
  docs/docs/Getting-Started/👋 Welcome-to-Langflow.md
  docs/docs/Settings/_category_.json
  docs/docs/Settings/settings-project-general-settings.md
  docs/docs/Workspace/workspace-logs.md
  docs/docs/Workspace/workspace-overview.md
  docs/docs/Workspace/workspace-playground.md
  docs/docs/Workspace/workspace.md
  docs/docusaurus.config.js
Labels: documentation, size:L, lgtm

#4501 fix: upgraded agent tool mode switch ux, fixed icon color on main page, fixed pagination ui on main page
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/components/langchain_utilities/tool_calling.py
  src/backend/base/langflow/initial_setup/starter_projects/Agent Flow.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, World).json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Complex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Hierarchical Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputfield/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/nodeIcon/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/components/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/components/appHeaderComponent/index.tsx
  src/frontend/src/components/pageLayout/index.tsx
  src/frontend/src/components/paginatorComponent/index.tsx
  src/frontend/src/components/ui/button.tsx
  src/frontend/src/components/ui/select.tsx
  src/frontend/src/components/ui/switch.tsx
  src/frontend/src/pages/DashboardWrapperPage/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/pages/MainPage/components/grid/index.tsx
  src/frontend/src/pages/MainPage/oldComponents/componentsComponent/index.tsx
  src/frontend/src/pages/MainPage/pages/homePage/index.tsx
  src/frontend/src/pages/MainPage/pages/index.tsx
  src/frontend/src/pages/SettingsPage/index.tsx
  src/frontend/src/pages/StorePage/index.tsx
  src/frontend/src/style/applies.css
  src/frontend/src/style/index.css
  src/frontend/src/types/components/index.ts
  src/frontend/src/utils/styleUtils.ts
Labels: size:L, lgtm

#4415 Docs: Contributing folder
  docs/docs/Contributing/contributing-community.md
  docs/docs/Contributing/contributing-components.md
  docs/docs/Contributing/contributing-github-discussion-board.md
  docs/docs/Contributing/contributing-github-issues.md
  docs/docs/Contributing/contributing-how-to-contribute.md
  docs/docs/Contributing/contributing-telemetry.md
Labels: documentation, size:L, lgtm

#4533 fix: added new image to get started templates, fixed sidebar overlapping bug
  src/frontend/src/assets/artwork-spiral-1-def.svg
  src/frontend/src/assets/artwork-spiral-2-def.svg
  src/frontend/src/assets/artwork-spiral-3-def.svg
  src/frontend/src/assets/temp-pat-1.png
  src/frontend/src/assets/temp-pat-2.png
  src/frontend/src/assets/temp-pat-3.png
  src/frontend/src/assets/temp-pat-m-1.png
  src/frontend/src/assets/temp-pat-m-2.png
  src/frontend/src/assets/temp-pat-m-3.png
  src/frontend/src/components/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/components/ui/sidebar.tsx
  src/frontend/src/hooks/use-mobile.ts
  src/frontend/src/modals/baseModal/helpers/switch-case-size.ts
  src/frontend/src/modals/templatesModal/components/GetStartedComponent/index.tsx
  src/frontend/src/modals/templatesModal/components/TemplateGetStartedCardComponent/index.tsx
  src/frontend/src/pages/MainPage/components/header/index.tsx
  src/frontend/src/pages/MainPage/components/list/index.tsx
  src/frontend/src/style/applies.css
  src/frontend/src/types/templates/types.ts
Labels: bug, size:L, lgtm

#4538 fix: issue with dynamic inputs when selecting model
  src/backend/base/langflow/components/vectorstores/astradb.py
  src/backend/tests/integration/components/astra/test_astra_component.py
Labels: bug, size:L, lgtm

#4530 fix: KeyError in Langchain Hub component
  src/backend/base/langflow/components/langchain_utilities/langchain_hub.py
Labels: bug, size:XS, lgtm

#4458 feature: update firecrawl components
  pyproject.toml
  src/backend/base/langflow/components/firecrawl/firecrawl_crawl_api.py
  src/backend/base/langflow/components/firecrawl/firecrawl_scrape_api.py
  uv.lock
Labels: enhancement, size:L, lgtm

#4551 ci: Add concurrency control to Run benchmarks workflow
  .github/workflows/codspeed.yml
Labels: enhancement, size:XS, lgtm

#4515 feat: add aws bedrock to AgentComponent
  src/backend/base/langflow/base/models/model_input_constants.py
Labels: enhancement, size:S, lgtm

#4525 fix: tools as `requried=False` in Agents
  src/backend/base/langflow/base/agents/agent.py
  src/backend/tests/unit/custom/custom_component/test_component.py
Labels: bug, size:S, lgtm

#4547 Docs: New Getting Started
  docs/docs/Getting-Started/getting-started-common-installation-issues.md
  docs/docs/Getting-Started/getting-started-installation.md
  docs/docs/Getting-Started/getting-started-quickstart.md
  docs/docs/Getting-Started/welcome-to-langflow.md
  docs/docs/Getting-Started/👋 Welcome-to-Langflow.md
  docs/docs/Starter-Projects/starter-projects-dynamic-agent.md
  docs/docs/Starter-Projects/starter-projects-simple-agent.md
  docs/docs/Starter-Projects/starter-projects-travel-planning-agent.md
  docs/docs/What’s-New/1143907392.png
  docs/docs/What’s-New/_category_.json
  docs/docs/What’s-New/whats-new-a-new-chapter-langflow.md
  docs/docusaurus.config.js
Labels: documentation, size:L, lgtm

#4552 fix: Ensure ordering of astradb inputs
  src/backend/base/langflow/components/vectorstores/astradb.py
Labels: bug, size:S, lgtm

#4553 feat: update favicon
  src/frontend/favicon-new.ico
  src/frontend/favicon2.ico
  src/frontend/index.html
Labels: enhancement, size:XS, lgtm

#4549 fix: Fix header z-index issues
  src/frontend/src/components/appHeaderComponent/index.tsx
  src/frontend/tailwind.config.mjs
Labels: bug, size:S, lgtm

#4534 refactor: Update AccountMenu and HeaderMenu components
  src/frontend/src/components/appHeaderComponent/components/AccountMenu/index.tsx
  src/frontend/src/components/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/components/appHeaderComponent/components/HeaderMenu/index.tsx
  src/frontend/src/components/appHeaderComponent/index.tsx
  src/frontend/src/components/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/components/ui/dropdown-menu.tsx
  src/frontend/src/pages/MainPage/pages/emptyFolder/index.tsx
  src/frontend/src/pages/MainPage/pages/homePage/index.tsx
Labels: javascript, size:M, lgtm, refactor

#4537 fix: aws bedrock load db credentials issue
  src/backend/base/langflow/components/embeddings/amazon_bedrock.py
  src/backend/base/langflow/components/models/amazon_bedrock.py
Labels: bug, size:XS, lgtm

#4550 fix: ContentBlockDisplay styling for block titles
  src/frontend/src/components/chatComponents/ContentBlockDisplay.tsx
Labels: bug, size:XS, lgtm

#4544 feat(input): Add drag prevention to popover and improve icon fallback handling
  src/frontend/src/components/inputComponent/components/popover/index.tsx
  src/frontend/src/components/inputComponent/index.tsx
Labels: enhancement, size:S, lgtm

#4555 fix: Pass the OpenAI API Key to Crew()
  src/backend/base/langflow/components/crewai/hierarchical_crew.py
Labels: bug, size:S, lgtm

#4548 feat: add SIGTERM handling and update `typer` dependency
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/main.py
  src/backend/base/pyproject.toml
  uv.lock
Labels: enhancement, size:M, lgtm

#4536 fix: update error handling in request for litellm models
  src/backend/base/langflow/base/astra_assistants/util.py
Labels: bug, size:S, lgtm

#4532 fix: added model utils to get the model name
  src/backend/base/langflow/base/models/model_utils.py
  src/backend/base/langflow/components/agents/agent.py
Labels: bug, size:S, lgtm

#4554 fix: update tool mode toggle behavior in NodeToolbarComponent
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
Labels: bug, size:XS, lgtm

#4524 fix: Refactor DataFilterComponent inputs
  src/backend/base/langflow/components/processing/filter_data_values.py
Labels: bug, size:S, lgtm

#4546 refactor: increase search sensitivity and simplify metadata filtering in FlowSidebarComponent
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/helpers/traditional-search-metadata.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
Labels: javascript, size:XS, lgtm, refactor

#4545 fix: refactor settings page to use new sidebar and fix old bugs
  src/backend/base/langflow/initial_setup/starter_projects/Agent Flow.json
  src/backend/base/langflow/initial_setup/starter_projects/Complex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Hierarchical Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/frontend/package-lock.json
  src/frontend/src/components/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/components/folderSidebarComponent/index.tsx
  src/frontend/src/components/inputComponent/components/popover/index.tsx
  src/frontend/src/components/pageLayout/index.tsx
  src/frontend/src/components/sidebarComponent/components/sideBarButtons/index.tsx
  src/frontend/src/components/sidebarComponent/index.tsx
  src/frontend/src/components/ui/sidebar.tsx
  src/frontend/src/pages/MainPage/oldPages/mainPage/index.tsx
  src/frontend/src/pages/MainPage/pages/homePage/index.tsx
  src/frontend/src/pages/SettingsPage/index.tsx
  src/frontend/src/pages/SettingsPage/pages/GeneralPage/index.tsx
Labels: bug, javascript, size:L, lgtm

#4527 feat: Add option to deactivate tracing in service settings
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/langflow/services/tracing/service.py
  src/backend/tests/conftest.py
Labels: enhancement, size:S, lgtm

#4557 feat: add new starter projects and replace old ones
  src/backend/base/langflow/base/models/model.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Complex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Hierarchical Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents .json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent .json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/YouTube Transcript Q&A.json
  src/frontend/src/modals/templatesModal/components/GetStartedComponent/index.tsx
  src/frontend/src/modals/templatesModal/index.tsx
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, size:XXL, lgtm

#4535 fix: AccountMenu component to conditionally render logout button based on autoLogin status
  src/frontend/src/components/appHeaderComponent/components/AccountMenu/index.tsx
Labels: bug, size:XS, lgtm

#4556 fix: Agent Component update_build_config, Nvidia and other model dynamic parameter loading
  src/backend/base/langflow/base/models/model_input_constants.py
  src/backend/base/langflow/components/agents/agent.py
Labels: size:M, lgtm

#4523 fix: Update setup of templates to consider component type
  src/backend/base/langflow/base/constants.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents .json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent .json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/frontend/tests/core/integrations/Basic Prompting.spec.ts
  src/frontend/tests/core/integrations/Blog Writer.spec.ts
  src/frontend/tests/core/integrations/Document QA.spec.ts
  src/frontend/tests/core/integrations/Dynamic Agent.spec.ts
  src/frontend/tests/core/integrations/Hierarchical Agent.spec.ts
  src/frontend/tests/core/integrations/Memory Chatbot.spec.ts
  src/frontend/tests/core/integrations/Sequential Task Agent.spec.ts
  src/frontend/tests/core/integrations/Simple Agent.spec.ts
  src/frontend/tests/core/integrations/Travel Planning Agent.spec.ts
  src/frontend/tests/core/integrations/Vector Store.spec.ts
  src/frontend/tests/core/integrations/starter-projects.spec.ts
  src/frontend/tests/extended/features/starter-projects.spec.ts
Labels: bug, size:M, lgtm

#4529 refactor: reorganize memory components and enhance model inputs with improved documentation
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/components/data/csv_to_data.py
  src/backend/base/langflow/components/data/json_to_data.py
  src/backend/base/langflow/components/data/sql_executor.py
  src/backend/base/langflow/components/data/webhook.py
  src/backend/base/langflow/components/helpers/__init__.py
  src/backend/base/langflow/components/helpers/memory.py
  src/backend/base/langflow/components/helpers/output_parser.py
  src/backend/base/langflow/components/helpers/store_message.py
  src/backend/base/langflow/components/langchain_utilities/langchain_hub.py
  src/backend/base/langflow/components/logic/conditional_router.py
  src/backend/base/langflow/components/logic/data_conditional_router.py
  src/backend/base/langflow/components/logic/run_flow.py
  src/backend/base/langflow/components/mem0/__init__.py
  src/backend/base/langflow/components/memories/__init__.py
  src/backend/base/langflow/components/memories/mem0_chat_memory.py
  src/backend/base/langflow/components/models/ollama.py
  src/backend/base/langflow/components/processing/__init__.py
  src/backend/base/langflow/components/processing/create_data.py
  src/backend/base/langflow/components/processing/extract_key.py
  src/backend/base/langflow/components/processing/select_data.py
  src/backend/base/langflow/components/processing/split_text.py
  src/backend/base/langflow/components/tools/astradb.py
  src/backend/base/langflow/components/tools/astradb_cql.py
  src/backend/base/langflow/components/tools/python_code_structured_tool.py
  src/backend/base/langflow/components/tools/python_repl.py
  src/backend/base/langflow/components/tools/searxng.py
  src/backend/base/langflow/components/tools/wolfram_alpha_api.py
  src/backend/base/langflow/components/tools/yahoo_finance.py
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents .json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent .json
  src/backend/base/langflow/initial_setup/starter_projects/YouTube Transcript Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/memory_chatbot.py
  src/backend/base/langflow/initial_setup/starter_projects/vector_store_rag.py
  src/backend/tests/unit/graph/graph/test_graph_state_model.py
  src/backend/tests/unit/initial_setup/starter_projects/test_memory_chatbot.py
  src/backend/tests/unit/initial_setup/starter_projects/test_vector_store_rag.py
  src/frontend/src/components/genericIconComponent/index.tsx
  src/frontend/src/utils/styleUtils.ts
  src/frontend/tests/core/features/filterSidebar.spec.ts
  src/frontend/tests/core/features/freeze.spec.ts
  src/frontend/tests/core/features/stop-building.spec.ts
  src/frontend/tests/core/regression/generalBugs-shard-9.spec.ts
  src/frontend/tests/extended/features/filterEdge-shard-1.spec.ts
Labels: documentation, size:M, lgtm

#4563 refactor(NodeToolbar): Remove open prop from Select component
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
Labels: javascript, size:XS, lgtm, refactor

#4560 fix: aws components and model lists
  src/backend/base/langflow/base/models/aws_constants.py
  src/backend/base/langflow/components/embeddings/amazon_bedrock.py
Labels: bug, size:M, lgtm

#4565 refactor: update starter projects to newest version of Components
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents .json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent .json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/YouTube Transcript Q&A.json
Labels: size:M, lgtm, refactor

#4567 ci: Limit workflows to Python files and optimize environment setup
  .github/workflows/py_autofix.yml
  .github/workflows/style-check-py.yml
Labels: size:S, lgtm

#4569 fix: changes get started templates image, adds set color index to every starter template
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents .json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent .json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/YouTube Transcript Q&A.json
  src/frontend/src/assets/temp-pat-m-3.png
  src/frontend/src/controllers/API/queries/flows/use-post-add-flow.ts
  src/frontend/src/modals/templatesModal/components/TemplateCardComponent/index.tsx
  src/frontend/src/pages/MainPage/components/grid/index.tsx
  src/frontend/src/pages/MainPage/components/list/index.tsx
  src/frontend/src/utils/reactflowUtils.ts
  src/frontend/src/utils/utils.ts
Labels: bug, size:XXL, lgtm

#4566 test: Enhance test stability
  .github/workflows/typescript_test.yml
  src/frontend/package-lock.json
  src/frontend/src/components/appHeaderComponent/components/GithubStarButton/index.tsx
  src/frontend/src/components/genericIconComponent/index.tsx
  src/frontend/tests/core/features/actionsMainPage-shard-1.spec.ts
  src/frontend/tests/core/features/auto-login-off.spec.ts
  src/frontend/tests/core/features/freeze-path.spec.ts
  src/frontend/tests/core/features/freeze.spec.ts
  src/frontend/tests/core/features/playground.spec.ts
  src/frontend/tests/core/features/stop-building.spec.ts
  src/frontend/tests/core/integrations/Blog Writer.spec.ts
  src/frontend/tests/core/integrations/Dynamic Agent.spec.ts
  src/frontend/tests/core/integrations/Hierarchical Agent.spec.ts
  src/frontend/tests/core/integrations/Sequential Task Agent.spec.ts
  src/frontend/tests/core/integrations/Simple Agent.spec.ts
  src/frontend/tests/core/integrations/Travel Planning Agent.spec.ts
  src/frontend/tests/core/integrations/Vector Store.spec.ts
  src/frontend/tests/core/integrations/decisionFlow.spec.ts
  src/frontend/tests/core/integrations/similarity.spec.ts
  src/frontend/tests/core/integrations/textInputOutput.spec.ts
  src/frontend/tests/core/regression/generalBugs-shard-4.spec.ts
  src/frontend/tests/core/regression/generalBugs-shard-9.spec.ts
  src/frontend/tests/core/unit/chatInputOutput.spec.ts
  src/frontend/tests/core/unit/dropdownComponent.spec.ts
  src/frontend/tests/core/unit/fileUploadComponent.spec.ts
  src/frontend/tests/core/unit/linkComponent.spec.ts
  src/frontend/tests/core/unit/sliderComponent.spec.ts
  src/frontend/tests/core/unit/tableInputComponent.spec.ts
  src/frontend/tests/extended/features/deleteComponents.spec.ts
  src/frontend/tests/extended/features/deleteFlows.spec.ts
  src/frontend/tests/extended/features/langflowShortcuts.spec.ts
  src/frontend/tests/extended/features/starter-projects.spec.ts
  src/frontend/tests/extended/features/sticky-notes.spec.ts
  src/frontend/tests/extended/features/stop-button-playground.spec.ts
  src/frontend/tests/extended/features/store-shard-1.spec.ts
  src/frontend/tests/extended/features/store-shard-3.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-10.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-13.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-6.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-7.spec.ts
Labels: size:XL, lgtm, test

#4574 chore: Bump version to 1.1.0 and 0.1.0 for langflow and langflow-base
  pyproject.toml
  src/backend/base/pyproject.toml
  uv.lock
Labels: size:XS, lgtm, ignore-for-release

#4576 fix: process.py to use validate_and_repair_json from utils.py
  src/backend/base/langflow/processing/process.py
  src/backend/base/langflow/processing/utils.py
Labels: bug, size:M, lgtm

#4577 fix: improve js api code and fix tooltip z-index
  src/frontend/src/CustomNodes/GenericNode/components/NodeDescription/index.tsx
  src/frontend/src/components/shadTooltipComponent/index.tsx
  src/frontend/src/components/ui/sidebar.tsx
  src/frontend/src/components/ui/tooltip.tsx
  src/frontend/src/modals/apiModal/utils/get-js-api-code.tsx
  src/frontend/src/modals/templatesModal/components/navComponent/index.tsx
  src/frontend/src/stores/tweaksStore.ts
Labels: bug, javascript, size:L, lgtm

#4571 ci: Update CI path filters for frontend tests
  .github/changes-filter.yaml
  .github/workflows/ci.yml
Labels: size:S, lgtm

#4581 chore: Update langflow-base dependency to version 0.1.0
  .github/workflows/python_test.yml
  .github/workflows/release.yml
  .github/workflows/release_nightly.yml
  pyproject.toml
Labels: size:S, lgtm, ignore-for-release

#4584 ci: Strip 'v' prefix from version and remove obsolete release workflow
  .github/workflows/create-release.yml
  .github/workflows/release.yml
Labels: size:M, lgtm

#4585 ci: Add condition to PyPI publish step in release workflow
  .github/workflows/release.yml
Labels: size:XS

#4587 ci: Add GitHub Actions workflow for creating releases
  .github/workflows/create-release.yml
Labels: size:M

#4561 Docs: agents
  docs/docs/Agents/_category_.json
  docs/docs/Agents/agent-tool-calling-agent-component.md
  docs/docs/Agents/agents-overview.md
  docs/docs/Components/_category_.json
  docs/docs/Components/components-agents.md
  docs/docs/Components/components-logic.md
  docs/docs/Deployment/_category_.json
  docs/static/img/tool-calling-agent-add-chat.png
  docs/static/img/tool-calling-agent-add-tools.png
  docs/static/img/tool-calling-agent-as-tool.png
  docs/static/img/tool-calling-agent-component.png
Labels: documentation, size:L, lgtm

#4589 Fix: New Logo is not updated in README.md
  README.md
Labels: documentation, size:XS, lgtm
