Repository langflow-ai/langflow, pull requests merged in 2024-03, with the labels that each got.

#1493 Fix refresh http only variable
  src/backend/langflow/api/v1/login.py
Labels: bug, python, size:XS

#1494 Fix refresh http only variable (#1493)
  pyproject.toml
  src/backend/langflow/api/v1/login.py
Labels: Release, size:S

#1491 Fix bug in deployment procedure in AWS CDK and support HTTPS
  cdk.Dockerfile
  container-cmd-cdk.sh
  scripts/aws/README.ja.md
  scripts/aws/README.md
  scripts/aws/bin/cdk.ts
  scripts/aws/cdk.json
  scripts/aws/delete-resources.sh
  scripts/aws/img/langflow-archi.png
  scripts/aws/lib/cdk-stack.ts
  scripts/aws/lib/construct/backend.ts
  scripts/aws/lib/construct/ecr.ts
  scripts/aws/lib/construct/frontend.ts
  scripts/aws/lib/construct/iam.ts
  scripts/aws/lib/construct/index.ts
  scripts/aws/lib/construct/kendra.ts
  scripts/aws/lib/construct/network.ts
  scripts/aws/package-lock.json
  scripts/aws/package.json
Labels: bug, documentation, enhancement, size:XL, lgtm

#1501 Feat: Create flow toolbar and remove flow management buttons from sidebar
  src/frontend/src/App.css
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/components/IOview/index.tsx
  src/frontend/src/components/chatComponent/index.tsx
  src/frontend/src/components/headerComponent/components/menuBar/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/sideBarDraggableComponent/index.tsx
  src/frontend/src/style/applies.css
  src/frontend/src/style/index.css
  src/frontend/src/utils/styleUtils.ts
  src/frontend/tailwind.config.js
Labels: documentation, enhancement, python, size:L, lgtm

#1506 Update sidebar order
  src/backend/langflow/components/data/APIRequest.py
  src/backend/langflow/components/data/FileLoader.py
  src/backend/langflow/components/embeddings/AmazonBedrockEmbeddings.py
  src/backend/langflow/components/embeddings/OllamaEmbeddings.py
  src/backend/langflow/components/experimental/ClearMessageHistory.py
  src/backend/langflow/components/experimental/ExtractDataFromRecord.py
  src/backend/langflow/components/experimental/GetNotified.py
  src/backend/langflow/components/experimental/ListFlows.py
  src/backend/langflow/components/experimental/MergeRecords.py
  src/backend/langflow/components/experimental/MessageHistory.py
  src/backend/langflow/components/experimental/Notify.py
  src/backend/langflow/components/experimental/RunFlow.py
  src/backend/langflow/components/experimental/RunnableExecutor.py
  src/backend/langflow/components/experimental/SQLExecutor.py
  src/backend/langflow/components/experimental/TextToRecord.py
  src/backend/langflow/components/inputs/Prompt.py
  src/backend/langflow/components/langchain_utilities/JSONDocumentBuilder.py
  src/backend/langflow/components/retrievers/VectaraSelfQueryRetriver.py
  src/backend/langflow/components/vectorstores/Chroma.py
  src/backend/langflow/components/vectorstores/ChromaSearch.py
  src/backend/langflow/components/vectorstores/Redis.py
  src/backend/langflow/components/vectorstores/RedisSearch.py
  src/backend/langflow/components/vectorstores/Vectara.py
  src/backend/langflow/components/vectorstores/VectaraSearch.py
  src/backend/langflow/components/vectorstores/Weaviate.py
  src/backend/langflow/components/vectorstores/WeaviateSearch.py
  src/backend/langflow/components/vectorstores/base/model.py
  src/backend/langflow/template/frontend_node/custom_components.py
Labels: python, size:M, lgtm

#1489 Feat: Implement Multiple Shortcuts for Enhanced User Experience
  src/backend/langflow/api/v1/chat.py
  src/backend/langflow/graph/graph/base.py
  src/backend/langflow/graph/vertex/base.py
  src/backend/langflow/interface/custom/utils.py
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/assets/undraw_mobile_messages_re_yx8w.svg
  src/frontend/src/assets/undraw_real_time_analytics_re_yliv.svg
  src/frontend/src/assets/undraw_team_collaboration_re_ow29.svg
  src/frontend/src/components/headerComponent/components/menuBar/index.tsx
  src/frontend/src/components/ui/select-custom.tsx
  src/frontend/src/components/undrawCards/index.tsx
  src/frontend/src/modals/ConfirmationModal/index.tsx
  src/frontend/src/modals/codeAreaModal/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/stores/shortcuts.ts
  src/frontend/src/types/components/index.ts
  src/frontend/src/types/store/index.ts
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, javascript, size:L, lgtm

#1509 Add New Icons to New Components
  src/backend/langflow/components/experimental/ClearMessageHistory.py
  src/backend/langflow/components/experimental/ListFlows.py
  src/backend/langflow/components/experimental/Notify.py
  src/backend/langflow/components/helpers/PythonFunction.py
  src/backend/langflow/components/inputs/ChatInput.py
  src/backend/langflow/components/outputs/ChatOutput.py
  src/frontend/src/icons/BotMessageSquare/BotMessageSquare.jsx
  src/frontend/src/icons/BotMessageSquare/index.tsx
  src/frontend/src/icons/Python/Python.jsx
  src/frontend/src/icons/Python/Python.svg
  src/frontend/src/icons/Python/index.tsx
  src/frontend/src/icons/QianFanChat/QianFanChat.jsx
  src/frontend/src/icons/QianFanChat/QianFanChat.svg
  src/frontend/src/icons/QianFanChat/index.tsx
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, javascript, python, size:L, lgtm

#1511 Bugfix: Refresh Token Renovation
  src/backend/langflow/api/v1/login.py
  src/frontend/src/controllers/API/api.tsx
  src/frontend/src/pages/StorePage/index.tsx
Labels: bug, javascript, python, size:S, lgtm

#1512 Refactor cache service and fix async issues
  src/backend/langflow/api/utils.py
  src/backend/langflow/api/v1/chat.py
  src/backend/langflow/api/v1/login.py
  src/backend/langflow/base/data/utils.py
  src/backend/langflow/base/io/chat.py
  src/backend/langflow/components/agents/ReActAgent.py
  src/backend/langflow/components/data/APIRequest.py
  src/backend/langflow/components/experimental/__init__.py
  src/backend/langflow/components/helpers/__init__.py
  src/backend/langflow/components/models/CohereModel.py
  src/backend/langflow/graph/edge/base.py
  src/backend/langflow/graph/graph/base.py
  src/backend/langflow/graph/vertex/base.py
  src/backend/langflow/interface/initialize/loading.py
  src/backend/langflow/schema/schema.py
  src/backend/langflow/services/cache/__init__.py
  src/backend/langflow/services/cache/base.py
  src/backend/langflow/services/cache/factory.py
  src/backend/langflow/services/cache/service.py
  src/backend/langflow/services/chat/service.py
  src/backend/langflow/services/settings/base.py
  src/frontend/src/icons/BotMessageSquare/BotMessageSquare.jsx
  tests/test_cache.py
  tests/test_data_components.py
Labels: enhancement, javascript, python, size:XL

#1514 Title: Bugfix: Resolve Login Loop for Incorrect Username or Password
  src/frontend/src/controllers/API/api.tsx
Labels: bug, javascript, size:S, lgtm

#1524 Fix cURL on Api Modal
  src/frontend/src/utils/utils.ts
Labels: enhancement, javascript, size:S

#1525 Fix toolbar UI - Icons views
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/toolbarSelectItem/index.tsx
Labels: javascript, size:M, lgtm

#1510 Add tests to shortcuts
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/playwright.config.ts
  src/frontend/run-tests.sh
  src/frontend/src/components/NewFLowCard2/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/toolbarSelectItem/index.tsx
  src/frontend/src/types/components/index.ts
  src/frontend/tests/end-to-end/auto_login.spec.ts
  src/frontend/tests/end-to-end/codeAreaModalComponent.spec.ts
  src/frontend/tests/end-to-end/dragAndDrop.spec.ts
  src/frontend/tests/end-to-end/dropdownComponent.spec.ts
  src/frontend/tests/end-to-end/floatComponent.spec.ts
  src/frontend/tests/end-to-end/flowPage.spec.ts
  src/frontend/tests/end-to-end/group.spec.ts
  src/frontend/tests/end-to-end/inputComponent.spec.ts
  src/frontend/tests/end-to-end/intComponent.spec.ts
  src/frontend/tests/end-to-end/keyPairListComponent.spec.ts
  src/frontend/tests/end-to-end/langflowShortcuts.spec.ts
  src/frontend/tests/end-to-end/nestedComponent.spec.ts
  src/frontend/tests/end-to-end/promptModalComponent.spec.ts
  src/frontend/tests/end-to-end/saveComponents.spec.ts
  src/frontend/tests/end-to-end/toggleComponent.spec.ts
Labels: bug, enhancement, javascript, size:L, lgtm

#1527 Add the file on node to view on chat.
  src/backend/langflow/components/outputs/CSVOutput.py
  src/frontend/src/CustomNodes/GenericNode/components/parameterComponent/index.tsx
  src/frontend/src/components/IOOutputView/index.tsx
  src/frontend/src/components/IOview/index.tsx
  src/frontend/src/components/csvOutputComponent/helpers/convert-data-function.ts
  src/frontend/src/components/csvOutputComponent/index.tsx
  src/frontend/src/components/inputFileComponent/index.tsx
  src/frontend/src/components/ui/select.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/style/classes.css
  src/frontend/src/types/components/index.ts
  src/frontend/src/types/zustand/flow/index.ts
Labels: enhancement, javascript, size:L

#1538 Use MongoDB Altas without required Documents
  src/backend/langflow/components/retrievers/VectorStoreRetriever.py
  src/backend/langflow/components/tools/RetrieverTool.py
  src/backend/langflow/components/tools/__init__.py
  src/backend/langflow/components/vectorstores/MongoDBAtlasVectorSearch.py
Labels: enhancement, python, size:M, lgtm

#1540 Feat: Add image output component and handle images
  src/backend/langflow/components/outputs/ImageOutput.py
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/IOOutputView/index.tsx
  src/frontend/src/components/IOOutputView/mocks/image.png
  src/frontend/src/components/IOview/index.tsx
  src/frontend/src/components/ImageViewer/index.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, javascript, python, size:L

#1545 Feat: Add shortcut to group node (ctrl G)
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
Labels: enhancement, javascript, size:M

#1544 Prevent esc to close Code Modal
  src/frontend/src/modals/codeAreaModal/index.tsx
Labels: enhancement, javascript, size:L, lgtm

#1541 add duplicate flow functionality
  src/frontend/src/components/headerComponent/components/menuBar/index.tsx
Labels: enhancement, javascript, size:M

#1546 Update node and edge IDs, refactor node ID generation, and fix async bug in build_vertex_stream function
  src/backend/langflow/api/v1/chat.py
  src/backend/langflow/graph/graph/base.py
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/types/zustand/flow/index.ts
  src/frontend/src/utils/buildUtils.ts
  src/frontend/src/utils/reactflowUtils.ts
  src/frontend/src/utils/utils.ts
Labels: bug, enhancement, javascript, python, size:L

#1542 Add possibility to change csv separator on chat modal.
  src/frontend/src/components/IOOutputView/index.tsx
  src/frontend/src/components/IOview/index.tsx
  src/frontend/src/components/csvOutputComponent/index.tsx
  src/frontend/src/style/classes.css
Labels: enhancement, javascript, size:L, lgtm

#1535 fix init ChatMessagePromptTemplate error issue #1351
  src/backend/langflow/interface/initialize/utils.py
Labels: bug, python, size:XS, lgtm

#1551 Migrate to langchain_anthropic and add ChatAnthropic enhancements
  poetry.lock
  pyproject.toml
  src/backend/langflow/components/llms/ChatAnthropic.py
Labels: enhancement, python, size:M, lgtm

#1552 Fix unintended input submission during IME composition
  src/frontend/src/modals/formModal/chatInput/index.tsx
Labels: bug, javascript, size:XS, lgtm

#1554 Bugfixes and updates to Components
  .env.example
  cdk.Dockerfile
  container-cmd-cdk.sh
  poetry.lock
  pyproject.toml
  scripts/aws/README.ja.md
  scripts/aws/README.md
  scripts/aws/bin/cdk.ts
  scripts/aws/cdk.json
  scripts/aws/delete-resources.sh
  scripts/aws/img/langflow-archi.png
  scripts/aws/lib/cdk-stack.ts
  scripts/aws/lib/construct/backend.ts
  scripts/aws/lib/construct/ecr.ts
  scripts/aws/lib/construct/frontend.ts
  scripts/aws/lib/construct/iam.ts
  scripts/aws/lib/construct/index.ts
  scripts/aws/lib/construct/kendra.ts
  scripts/aws/lib/construct/network.ts
  scripts/aws/package-lock.json
  scripts/aws/package.json
  src/backend/langflow/components/embeddings/CohereEmbeddings.py
  src/backend/langflow/components/llms/ChatAnthropic.py
  src/backend/langflow/components/retrievers/VectorStoreRetriever.py
  src/backend/langflow/components/tools/RetrieverTool.py
  src/backend/langflow/components/tools/__init__.py
  src/backend/langflow/components/vectorstores/MongoDBAtlasVectorSearch.py
  src/backend/langflow/interface/custom/code_parser/code_parser.py
  src/backend/langflow/interface/initialize/utils.py
  src/backend/langflow/processing/process.py
  src/backend/langflow/services/auth/utils.py
  src/frontend/src/modals/formModal/chatInput/index.tsx
Labels: bug, enhancement, Release, javascript, python, size:XL

#1550 Add a new handle when the backend application is offline
  src/frontend/src/App.tsx
  src/frontend/src/components/fetchErrorComponent/index.tsx
  src/frontend/src/components/ui/dialog-with-no-close.tsx
  src/frontend/src/modals/baseModal/index.tsx
  src/frontend/src/stores/flowsManagerStore.ts
  src/frontend/src/stores/typesStore.ts
  src/frontend/src/types/components/index.ts
Labels: bug, documentation, enhancement, javascript, size:L, lgtm

#1560 Refactor ServiceFactory and Dependencies
  poetry.lock
  pyproject.toml
  src/backend/langflow/main.py
  src/backend/langflow/services/cache/base.py
  src/backend/langflow/services/cache/factory.py
  src/backend/langflow/services/cache/service.py
  src/backend/langflow/services/deps.py
  src/backend/langflow/services/factory.py
  src/backend/langflow/services/manager.py
  src/backend/langflow/services/monitor/factory.py
  src/backend/langflow/services/schema.py
  src/backend/langflow/services/session/factory.py
  src/backend/langflow/services/session/service.py
  src/backend/langflow/services/socket/factory.py
  src/backend/langflow/services/socket/service.py
  src/backend/langflow/services/storage/factory.py
  src/backend/langflow/services/utils.py
Labels: enhancement, python, size:L

#1567 Update docs
  docs/docs/components/models.mdx
  docs/docs/components/prompts.mdx
  docs/docs/components/vector-stores.mdx
  docs/docs/examples/flow-runner.mdx
  docs/docs/guidelines/features.mdx
  docs/docs/guides/compatibility.mdx
  docs/docs/guides/component-status-and-data-passing.mdx
  docs/docs/guides/connecting-output-components.mdx
  docs/docs/guides/custom-component.mdx
  docs/docs/guides/experimental-components.mdx
  docs/docs/guides/flow-of-data.mdx
  docs/docs/guides/global-variables.mdx
  docs/docs/guides/inputs-and-outputs.mdx
  docs/docs/guides/multiple-flows.mdx
  docs/docs/guides/new-categories-and-components.mdx
  docs/docs/guides/passing-tweaks-and-inputs.mdx
  docs/docs/guides/renaming-and-editing-components.mdx
  docs/docs/guides/run-flow.mdx
  docs/docs/guides/sidebar-and-interaction-panel.mdx
  docs/docs/guides/state-management.mdx
  docs/docs/guides/supported-frameworks.mdx
  docs/docs/guides/text-and-record.mdx
  docs/docs/whats-new/customization-control.mdx
  docs/docs/whats-new/debugging-reimagined.mdx
  docs/docs/whats-new/migrating-to-one-point-zero.mdx
  docs/docs/whats-new/simplification-standardization.mdx
  docs/package-lock.json
  docs/package.json
  docs/sidebars.js
  src/backend/base/langflow/components/experimental/Listen.py
  src/backend/base/langflow/components/experimental/__init__.py
  src/backend/base/langflow/services/manager.py
  src/backend/langflow/base/agents/__init__.py
  src/backend/langflow/base/agents/agent.py
  src/backend/langflow/base/models/__init__.py
  src/backend/langflow/base/models/model.py
  src/backend/langflow/components/experimental/FlowTool.py
  src/backend/langflow/components/tools/SearchAPITool.py
Labels: documentation, python, size:XXL

#1570 Update function signature, refactor code, add new langflow helper functions and files, and add version module
  .github/workflows/lint.yml
  .github/workflows/test.yml
  deploy/base.Dockerfile
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/alembic/helpers/flow.py
  src/backend/base/langflow/alembic/helpers/record.py
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/base/models/model.py
  src/backend/base/langflow/components/agents/XMLAgent.py
  src/backend/base/langflow/components/embeddings/CohereEmbeddings.py
  src/backend/base/langflow/components/embeddings/OpenAIEmbeddings.py
  src/backend/base/langflow/components/experimental/FlowTool.py
  src/backend/base/langflow/components/experimental/SubFlow.py
  src/backend/base/langflow/components/models/AzureOpenAIModel.py
  src/backend/base/langflow/components/models/base/__init__.py
  src/backend/base/langflow/components/tools/SearchAPITool.py
  src/backend/base/langflow/components/vectorstores/AstraDB.py
  src/backend/base/langflow/components/vectorstores/AstraDBSearch.py
  src/backend/base/langflow/components/vectorstores/MongoDBAtlasVectorSearch.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/runnable_vertices_manager.py
  src/backend/base/langflow/helpers/__init__.py
  src/backend/base/langflow/helpers/__init__py
  src/backend/base/langflow/helpers/flow.py
  src/backend/base/langflow/interface/custom/custom_component/custom_component.py
  src/backend/base/langflow/interface/initialize/loading.py
  src/backend/base/langflow/interface/tools/base.py
  src/backend/base/langflow/legacy_custom/customs.py
  src/backend/base/langflow/processing/process.py
  src/backend/base/langflow/services/factory.py
  src/backend/base/langflow/services/settings/auth.py
  src/backend/base/langflow/template/frontend_node/__init__.py
  src/backend/base/pyproject.toml
  src/backend/langflow/base/agents/__init__.py
  src/backend/langflow/base/agents/agent.py
  src/backend/langflow/base/models/__init__.py
  src/backend/langflow/base/models/model.py
  src/backend/langflow/components/experimental/FlowTool.py
  src/backend/langflow/components/experimental/Schema.py
  src/backend/langflow/components/tools/SearchAPITool.py
  src/backend/langflow/version/__init__.py
  src/backend/langflow/version/version.py
Labels: enhancement, size:L

#1569 Fix dropdown on nodes
  src/frontend/src/components/cardComponent/index.tsx
  src/frontend/src/components/codeTabsComponent/index.tsx
  src/frontend/src/components/dropdownComponent/index.tsx
  src/frontend/src/components/ui/button.tsx
  src/frontend/src/modals/ApiModal/index.tsx
  src/frontend/src/modals/EditNodeModal/index.tsx
  src/frontend/src/style/applies.css
  src/frontend/src/types/components/index.ts
Labels: bug, javascript, size:L, lgtm

#1579 Fix minimize
  src/frontend/src/CustomNodes/GenericNode/index.tsx
Labels: javascript, size:XS

#1583 Fix unique constraints for id column
  poetry.lock
  pyproject.toml
  src/backend/langflow/alembic/versions/006b3990db50_add_unique_constraints.py
Labels: bug, python, size:S

#1584 Fix unique constraints for id column
  poetry.lock
  pyproject.toml
  src/backend/langflow/alembic/versions/006b3990db50_add_unique_constraints.py
Labels: bug, Release, python, size:S
