Repository langflow-ai/langflow, pull requests merged in 2024-09, with the labels that each got.

#3628 fix: add tests to cycles in Graph and improve error handling
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/graph/vertex/types.py
  src/backend/tests/unit/graph/graph/test_cycles.py
  src/backend/tests/unit/initial_setup/starter_projects/test_memory_chatbot.py
  src/backend/tests/unit/initial_setup/starter_projects/test_vector_store_rag.py
Labels: bug, size:L, lgtm

#3460 feature: add flow notes
  poetry.lock
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/vertex/schema.py
  src/backend/base/langflow/main.py
  src/backend/tests/unit/graph/graph/test_graph_state_model.py
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/App.css
  src/frontend/src/CustomNodes/GenericNode/components/NodeDescription/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeName/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/CustomNodes/NoteNode/NoteToolbarComponent/index.tsx
  src/frontend/src/CustomNodes/NoteNode/index.tsx
  src/frontend/src/components/ui/textarea.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/controllers/API/api.tsx
  src/frontend/src/controllers/API/index.ts
  src/frontend/src/modals/codeAreaModal/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/sideBarNoteComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/hooks/use-shortcuts.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/style/applies.css
  src/frontend/src/style/index.css
  src/frontend/src/types/flow/index.ts
  src/frontend/src/utils/reactflowUtils.ts
  src/frontend/src/utils/styleUtils.ts
  src/frontend/src/utils/utils.ts
  src/frontend/tailwind.config.mjs
  src/frontend/tests/end-to-end/stop-building.spec.ts
  src/frontend/tests/scheduled-end-to-end/sticky-notes.spec.ts
Labels: enhancement, size:XL, lgtm

#3607 chore: refactor and add components integration tests
  .github/workflows/python_test.yml
  .github/workflows/scheduled_integration_test.yml
  Makefile
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/interface/initialize/loading.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/template/frontend_node/base.py
  src/backend/tests/__init__.py
  src/backend/tests/api_keys.py
  src/backend/tests/conftest.py
  src/backend/tests/integration/backward_compatibility/test_starter_projects.py
  src/backend/tests/integration/components/astra/__init__.py
  src/backend/tests/integration/components/astra/test_astra_component.py
  src/backend/tests/integration/components/inputs/__init__.py
  src/backend/tests/integration/components/inputs/test_chat_input.py
  src/backend/tests/integration/components/outputs/__init__.py
  src/backend/tests/integration/components/outputs/test_chat_output.py
  src/backend/tests/integration/components/prompts/__init__.py
  src/backend/tests/integration/components/prompts/test_prompt.py
  src/backend/tests/integration/flows/test_basic_prompting.py
  src/backend/tests/integration/test_misc.py
  src/backend/tests/integration/utils.py
  src/backend/tests/unit/graph/graph/test_base.py
  src/backend/tests/unit/initial_setup/starter_projects/test_vector_store_rag.py
  src/backend/tests/unit/test_endpoints.py
  src/backend/tests/unit/test_messages_endpoints.py
  src/backend/tests/unit/test_schema.py
  src/backend/tests/unit/test_user.py
  src/backend/tests/unit/test_webhook.py
Labels: size:XL, lgtm, ignore-for-release

#3634 fix: stop building with abort controller
  src/frontend/src/components/headerComponent/components/menuBar/index.tsx
  src/frontend/src/controllers/API/api.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/types/zustand/flow/index.ts
Labels: bug, size:S, lgtm

#3434 feat: add EventManager to centralize callbacks
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/base/io/chat.py
  src/backend/base/langflow/components/outputs/ChatOutput.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/custom/custom_component/custom_component.py
  src/backend/base/langflow/events/__init__.py
  src/backend/base/langflow/events/event_manager.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/schema.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/graph/vertex/types.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, World).json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Complex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Hierarchical Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/interface/initialize/loading.py
  src/backend/base/langflow/services/database/models/message/crud.py
  src/backend/base/langflow/services/database/models/message/model.py
  src/backend/tests/unit/events/test_event_manager.py
  src/backend/tests/unit/graph/graph/test_callback_graph.py
Labels: enhancement, size:XL, lgtm

#3649 ci: add tests for text input/output components
  src/backend/tests/integration/components/inputs/test_text_input.py
  src/backend/tests/integration/components/outputs/test_text_output.py
  src/backend/tests/integration/utils.py
Labels: python, size:M, lgtm

#3651 fix: update BUNDLES_SIDEBAR_FOLDER_NAMES constant to include "Notion"
  src/frontend/src/constants/constants.ts
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/index.tsx
  src/frontend/src/utils/styleUtils.ts
Labels: bug, javascript, size:S, lgtm

#3653 fix: update Self Query Retriever Component
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/components/retrievers/SelfQueryRetriever.py
Labels: bug, python, size:L, lgtm

#3659 fix: success dialog popping wrong
  src/frontend/src/components/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
Labels: bug, size:XS, lgtm

#3660 fix: console reported issues
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputfield/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/outputModal/index.tsx
  src/frontend/src/components/sidebarComponent/components/sideBarButtons/index.tsx
  src/frontend/src/components/tableComponent/index.tsx
  src/frontend/src/icons/AstraDB/AstraDB.jsx
  src/frontend/src/icons/Unstructured/Unstructured.jsx
  src/frontend/src/modals/secretKeyModal/index.tsx
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/SidebarCategoryComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/index.tsx
  src/frontend/src/pages/MainPage/components/myCollectionComponent/components/tabsComponent/index.tsx
  src/frontend/src/pages/SettingsPage/pages/ApiKeysPage/components/ApiKeyHeader/index.tsx
  src/frontend/src/pages/SettingsPage/pages/GeneralPage/components/ProfilePictureForm/components/profilePictureChooserComponent/index.tsx
  src/frontend/src/pages/SettingsPage/pages/GlobalVariablesPage/index.tsx
  src/frontend/src/pages/SettingsPage/pages/ShortcutsPage/index.tsx
Labels: bug, size:L, lgtm

#3655 chore: add migration to enforce non-nullable 'id' in 'vertex_build' table
  src/backend/base/langflow/alembic/versions/e5a65ecff2cd_nullable_in_vertex_build.py
Labels: size:M, lgtm, ignore-for-release

#3667 fix: selected node and edge color and width
  src/frontend/src/App.css
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/index.tsx
Labels: bug, size:XS, lgtm

#3614 refactor: conditionally disable reload and workers in Makefile based on the presence of the workers variable
  Makefile
Labels: size:XS, lgtm, refactor

#3167 feat: add Parse JSON component
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/components/helpers/ParseJSONData.py
  src/backend/base/langflow/initial_setup/starter_projects/Agent Flow.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/tests/integration/components/astra/test_astra_component.py
  src/backend/tests/integration/components/helpers/__init__.py
  src/backend/tests/integration/components/helpers/test_parse_json_data.py
  src/backend/tests/integration/components/mock_components.py
Labels: enhancement, size:L, lgtm

#3661 fix: iomodal and folders api calls
  src/frontend/src/modals/IOModal/components/SessionView/index.tsx
  src/frontend/src/modals/IOModal/index.tsx
  src/frontend/src/pages/MainPage/components/myCollectionComponent/index.tsx
  src/frontend/tests/end-to-end/auto-login-off.spec.ts
Labels: bug, javascript, size:M, lgtm

#3658 fix: folders call when saving flow
  src/frontend/src/controllers/API/queries/flows/use-patch-update-flow.ts
  src/frontend/src/controllers/API/queries/folders/use-get-download-folders.ts
  src/frontend/src/pages/MainPage/components/componentsComponent/index.tsx
  src/frontend/src/pages/MainPage/components/myCollectionComponent/index.tsx
Labels: bug, size:S, lgtm

#3663 add text embedder component
  src/backend/base/langflow/components/embeddings/EmbeddingSimilarity.py
  src/backend/base/langflow/components/embeddings/GoogleGenerativeAIEmbeddings.py
  src/backend/base/langflow/components/embeddings/TextEmbedder.py
  src/frontend/tests/end-to-end/similarity.spec.ts
Labels: enhancement, size:L, lgtm

#3675 fix: update Makefile to conditionally enable --reload based on worker count
  Makefile
Labels: bug, size:XS, lgtm

#3669 feat: renaming Langchain Hub component
  src/backend/base/langflow/components/prompts/LangChainHubPrompt.py
Labels: enhancement, python, size:XS, lgtm

#3657 feat: add component clickhouse for vector database
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/components/vectorstores/Clickhouse.py
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
  src/frontend/src/icons/Clickhouse/Clickhouse.jsx
  src/frontend/src/icons/Clickhouse/clickhouse.svg
  src/frontend/src/icons/Clickhouse/index.tsx
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, size:L, lgtm

#3671 feat: Switch to API for Unstructured Component
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/components/documentloaders/Unstructured.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/main.py
Labels: enhancement, size:M, lgtm

#3681 fix: getall is being called unnecessarily every time the user accesses the My Collection page
  src/frontend/src/controllers/API/queries/folders/use-get-folders.ts
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/pages/Playground/index.tsx
  src/frontend/src/pages/ViewPage/index.tsx
  src/frontend/src/stores/typesStore.ts
Labels: bug, size:S, lgtm

#3664 chore: update TextInput and TextOutput components to use MultilineInput
  src/backend/base/langflow/components/inputs/TextInput.py
  src/backend/base/langflow/components/outputs/TextOutput.py
  src/frontend/package-lock.json
  src/frontend/tests/end-to-end/Blog Writer.spec.ts
  src/frontend/tests/end-to-end/freeze.spec.ts
  src/frontend/tests/end-to-end/generalBugs-shard-5.spec.ts
  src/frontend/tests/end-to-end/stop-building.spec.ts
  src/frontend/tests/end-to-end/textInputOutput.spec.ts
Labels: python, size:M, lgtm, ignore-for-release

#3689 fix: remove edges glitch
  src/frontend/src/App.css
Labels: bug, size:XS, lgtm

#3684 refactor: replace get_actions call with get_tools in Composio Component
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/components/toolkits/ComposioAPI.py
  src/backend/tests/unit/test_custom_component.py
Labels: size:XS, lgtm, refactor

#3686 fix: Delete folder from cache after successful deletion
  src/frontend/src/controllers/API/queries/folders/use-delete-folders.ts
Labels: bug, size:XS, lgtm

#3685 fix: add user dependency to webhook endpoint for flow execution
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/helpers/user.py
Labels: bug, size:M, lgtm

#3695 feat: add build in progress modal when trying to exit
  src/frontend/src/modals/buildInProgressModal/index.tsx
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/stores/flowStore.ts
Labels: enhancement, size:L, lgtm

#3699 fix: set refetch on window focus to false for all queries on flow page
  src/frontend/src/controllers/API/queries/auth/use-get-autologin.ts
  src/frontend/src/controllers/API/queries/config/use-get-config.ts
  src/frontend/src/controllers/API/queries/health/use-get-health.ts
  src/frontend/src/controllers/API/queries/store/use-get-tags.ts
  src/frontend/src/controllers/API/queries/transactions/use-get-transactions.ts
  src/frontend/src/controllers/API/queries/variables/use-get-global-variables.ts
  src/frontend/src/controllers/API/queries/version/use-get-version.ts
Labels: bug, javascript, size:S, lgtm

#3696 fix: remove saving on flow pan and add fit view to reactflow
  src/frontend/src/components/headerComponent/components/menuBar/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/stores/flowStore.ts
Labels: bug, javascript, size:M, lgtm

#3673 fix: update saving behavior when exiting flow
  src/frontend/src/components/authGuard/index.tsx
  src/frontend/src/controllers/API/api.tsx
  src/frontend/src/hooks/flows/use-save-flow.ts
  src/frontend/src/modals/buildInProgressModal/index.tsx
  src/frontend/src/modals/confirmationModal/index.tsx
  src/frontend/src/modals/saveChangesModal/index.tsx
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/types/components/index.ts
Labels: bug, size:L, lgtm

#3702 tests: fix decision flow tests - conditional router component
  src/frontend/tests/end-to-end/decisionFlow.spec.ts
Labels: size:M, lgtm

#3698 fix: deepcopy component output to avoid overriding previous outputs
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/template/field/base.py
  src/backend/tests/unit/test_custom_component.py
  src/backend/tests/unit/test_database.py
Labels: bug, size:M, lgtm

#3688 docs: add new starter flows
  docs/docs/Starter-Projects/starter-projects-complex-agent.md
  docs/docs/Starter-Projects/starter-projects-hierarchical-crew.md
  docs/docs/Starter-Projects/starter-projects-sequential-crew.md
Labels: documentation, size:L, lgtm

#3711 fix: use permanent cache for all types dict and build only once
  src/backend/base/langflow/interface/types.py
Labels: bug, size:M, lgtm

#3693 feat: add pull_policy to Docker compose example
  docker_example/docker-compose.yml
Labels: enhancement, size:XS, lgtm

#3680 feat: add a better scroll behave on playground's chat
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/index.tsx
  src/frontend/src/modals/IOModal/index.tsx
  src/frontend/src/stores/utilityStore.ts
  src/frontend/src/types/components/index.ts
  src/frontend/src/types/zustand/utility/index.ts
Labels: enhancement, size:M, lgtm

#3714 refactor: improve readability of several components
  src/frontend/src/components/cardComponent/index.tsx
  src/frontend/src/components/codeAreaComponent/index.tsx
  src/frontend/src/components/dropdownComponent/index.tsx
  src/frontend/src/components/floatComponent/index.tsx
  src/frontend/src/components/inputListComponent/index.tsx
  src/frontend/src/components/intComponent/index.tsx
  src/frontend/src/components/keypairListComponent/index.tsx
  src/frontend/src/components/multiselectComponent/index.tsx
  src/frontend/src/components/promptComponent/index.tsx
  src/frontend/src/components/textAreaComponent/index.tsx
  src/frontend/src/components/ui/rename-label.tsx
  src/frontend/src/modals/dictAreaModal/index.tsx
  src/frontend/tests/end-to-end/auto-login-off.spec.ts
Labels: javascript, size:XXL, lgtm, refactor

#3710 feat: Add x-large size option to baseModal and various modals resizes
  src/frontend/src/modals/IOModal/index.tsx
  src/frontend/src/modals/apiModal/index.tsx
  src/frontend/src/modals/baseModal/helpers/switch-case-size.ts
  src/frontend/src/modals/baseModal/index.tsx
  src/frontend/src/modals/codeAreaModal/index.tsx
  src/frontend/src/modals/editNodeModal/index.tsx
  src/frontend/src/modals/flowLogsModal/index.tsx
  src/frontend/src/modals/promptModal/index.tsx
  src/frontend/src/modals/textAreaModal/index.tsx
  src/frontend/src/style/applies.css
Labels: enhancement, size:S, lgtm

#3704 feat: add stop button on Playground Chat
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/buttonSendWrapper/index.tsx
  src/frontend/tests/scheduled-end-to-end/stop-button-playground.spec.ts
Labels: enhancement, size:L, lgtm

#3713 tests: optimize test durations and refactor test fixtures
  Makefile
  src/backend/tests/.test_durations
  src/backend/tests/conftest.py
  src/backend/tests/unit/components/models/test_ChatOllama_component.py
  src/backend/tests/unit/graph/graph/test_callback_graph.py
  src/backend/tests/unit/graph/test_graph.py
Labels: size:XL, lgtm

#3708 refactor: update test cases to use unique flow names with UUIDs
  src/backend/tests/unit/test_database.py
Labels: size:S, lgtm, refactor

#3728 feat: add support for DataStax HCD vector store
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/components/vectorstores/HCD.py
  src/frontend/src/icons/HCD/Favicon.svg
  src/frontend/src/icons/HCD/HCD.jsx
  src/frontend/src/icons/HCD/index.tsx
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, size:L, lgtm

#3676 feature: Add scroll detection for NodeDescription overflow and remove feature flag
  src/frontend/src/CustomNodes/GenericNode/components/NodeDescription/index.tsx
  src/frontend/src/CustomNodes/NoteNode/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/index.tsx
  src/frontend/src/style/classes.css
  src/frontend/tests/scheduled-end-to-end/sticky-notes.spec.ts
Labels: enhancement, size:L, lgtm

#3733 docs: update-session-id
  docs/docs/Workspace/workspace-playground.md
Labels: documentation, size:M, lgtm

#3737 fix: node status display when node minimized
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputfield/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/types/components/index.ts
Labels: bug, javascript, size:M, lgtm

#3709 refactor: update ATTR_FUNC_MAPPING and tools to match other tools
  src/backend/base/langflow/components/tools/PythonREPLTool.py
  src/backend/base/langflow/components/tools/YfinanceTool.py
  src/backend/base/langflow/custom/attributes.py
  src/backend/base/langflow/graph/edge/base.py
  src/backend/base/langflow/initial_setup/starter_projects/Agent Flow.json
  src/backend/base/langflow/initial_setup/starter_projects/Complex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Agent.json
  src/backend/base/langflow/template/frontend_node/base.py
  src/backend/tests/unit/components/tools/test_python_repl_tool.py
  src/backend/tests/unit/components/tools/test_yfinance_tool.py
  src/backend/tests/unit/graph/graph/test_base.py
  src/backend/tests/unit/test_custom_component.py
Labels: python, size:L, lgtm

#3740 fix: url component output types and id generator component
  src/backend/base/langflow/components/data/URL.py
  src/backend/base/langflow/components/helpers/IDGenerator.py
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/tests/unit/test_helper_components.py
Labels: bug, size:M, lgtm

#3741 fix: Refactor PythonREPLToolComponent, update template, and add support for None value on secretStrInput
  src/backend/base/langflow/inputs/inputs.py
Labels: bug, python, size:XS, lgtm

#3745 fix: disables langfuse_plugin code
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/settings/base.py
Labels: bug, size:XS, lgtm

#3747 fix: pythonfunction component execution
  src/backend/base/langflow/components/prototypes/PythonFunction.py
  src/backend/base/langflow/inputs/__init__.py
  src/backend/base/langflow/inputs/input_mixin.py
  src/backend/base/langflow/inputs/inputs.py
  src/backend/base/langflow/io/__init__.py
  src/backend/tests/unit/inputs/test_inputs.py
  src/backend/tests/unit/test_experimental_components.py
Labels: bug, python, size:L, lgtm

#3739 fix: textarea with password visual bug
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/template/field/base.py
  src/backend/tests/unit/test_frontend_nodes.py
  src/backend/tests/unit/test_schema.py
  src/frontend/src/components/sanitizedHTMLWrapper/index.tsx
  src/frontend/src/components/textAreaComponent/index.tsx
  src/frontend/src/modals/promptModal/index.tsx
  src/frontend/src/types/components/index.ts
Labels: bug, javascript, size:L, lgtm

#3753 tests: update astraDB integration test
  src/frontend/tests/core/integrations/Vector Store.spec.ts
Labels: enhancement, javascript, size:L, lgtm

#3687 feat: improve user chat input to display spacements
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/index.tsx
Labels: enhancement, size:M, lgtm

#3734 fix: disable add new folder button when isLoading
  src/frontend/src/components/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
Labels: bug, javascript, size:M, lgtm

#3736 fix: Refactor usePatchUpdateFlow mutation to include refetchQueries
  src/frontend/src/controllers/API/queries/flows/use-patch-update-flow.ts
Labels: bug, size:XS, lgtm

#3754 tests: update astraDB test to ensure will run dev mode only when necessary
  src/frontend/tests/core/integrations/Vector Store.spec.ts
Labels: size:L, lgtm

#3757 feat: Add CassandraGraphVectorStoreComponent and HtmlLinkExtractorComponent
  .github/workflows/py_autofix.yml
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/base/document_transformers/__init__.py
  src/backend/base/langflow/base/document_transformers/model.py
  src/backend/base/langflow/base/textsplitters/model.py
  src/backend/base/langflow/components/__init__.py
  src/backend/base/langflow/components/link_extractors/HtmlLinkExtractor.py
  src/backend/base/langflow/components/link_extractors/__init__.py
  src/backend/base/langflow/components/vectorstores/CassandraGraph.py
  src/frontend/src/utils/styleUtils.ts
  src/frontend/tests/core/features/filterSidebar.spec.ts
Labels: enhancement, size:L, lgtm

#3775 fix: bug langchain await
  src/backend/base/langflow/base/agents/agent.py
  src/frontend/tests/extended/regression/generalBugs-shard-1.spec.ts
Labels: bug, size:XS, lgtm

#3769 fix: Update @radix-ui/react-dialog to version 1.1.1
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: bug, size:XS, lgtm

#3770 fix: share button not working on canvas
  src/backend/base/langflow/api/utils.py
  src/frontend/src/modals/shareModal/index.tsx
  src/frontend/tests/extended/regression/generalBugs-shard-13.spec.ts
Labels: bug, size:M, lgtm

#3772 featur: Add CalculatorToolComponent
  poetry.lock
  src/backend/base/langflow/components/tools/Calculator.py
  src/backend/base/langflow/components/tools/__init__.py
  src/backend/base/langflow/initial_setup/starter_projects/Agent Flow.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
Labels: enhancement, size:L, lgtm

#3771 fix: change the default value of inputComponent on Simple Agent
  src/backend/base/langflow/initial_setup/starter_projects/Agent Flow.json
Labels: bug, size:XS, lgtm

#3765 chore: bump langflow versions
  poetry.lock
  pyproject.toml
  src/backend/base/pyproject.toml
Labels: size:XS, lgtm, ignore-for-release

#3780 Docs: Update getting-started-quickstart.md
  docs/docs/Getting-Started/getting-started-quickstart.md
Labels: documentation, size:XS, lgtm

#3779 ci: adds step to push to ghcr
  .github/workflows/docker-build.yml
  .github/workflows/release_nightly.yml
Labels: enhancement, size:M, lgtm

#3785 fix: update flow name validation and label
  src/frontend/src/components/editFlowSettingsComponent/index.tsx
  src/frontend/src/modals/flowSettingsModal/index.tsx
  src/frontend/tests/extended/regression/generalBugs-shard-13.spec.ts
Labels: bug, size:M, lgtm

#3758 feat: Enhance HuggingFace Embeddings Inference component
  src/backend/base/langflow/components/embeddings/HuggingFaceInferenceAPIEmbeddings.py
Labels: enhancement, size:M, lgtm

#3789 fix: adjust invoke agent to work sync
  src/backend/base/langflow/base/agents/agent.py
Labels: bug, python, size:XS, lgtm

#3790 fix: update csvAgent to work as expected
  src/backend/base/langflow/components/agents/CSVAgent.py
Labels: bug, size:M, lgtm

#3792 fix: JSONViewer component style update to fits on dark and light mode
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/modals/dictAreaModal/index.tsx
  src/frontend/src/style/classes.css
  src/frontend/tests/extended/regression/generalBugs-shard-13.spec.ts
Labels: bug, javascript, size:S, lgtm

#3801 fix: frozen border
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/index.tsx
  src/frontend/src/style/applies.css
Labels: bug, size:XS, lgtm

#3800 fix: remove log from csvAgent component
  src/backend/base/langflow/components/agents/CSVAgent.py
Labels: bug, python, size:S, lgtm

#3784 docs: custom components
  docs/docs/Components/components-custom-components.md
  docs/docs/Components/custom-component-chat.png
  docs/docs/Components/custom-component-inputs-chat.png
Labels: documentation, size:L, lgtm

#3802 fix: json dark mode colors and dict component button view
  src/frontend/src/App.css
  src/frontend/src/CustomNodes/GenericNode/components/NodeInputField/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputfield/index.tsx
  src/frontend/src/components/dictComponent/index.tsx
  src/frontend/src/components/parameterRenderComponent/component/refreshParameterComponent/index.tsx
  src/frontend/src/modals/dictAreaModal/index.tsx
  src/frontend/src/style/classes.css
Labels: bug, javascript, size:L, lgtm

#3803 refactor: add custom banner and refactor pagelayout to include it
  src/frontend/src/components/pageLayout/index.tsx
  src/frontend/src/customization/components/custom-banner.tsx
Labels: size:M, lgtm, refactor

#3805 feat: Update tracking
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/index.tsx
  src/frontend/src/components/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/index.tsx
  src/frontend/src/modals/exportModal/index.tsx
  src/frontend/src/modals/newFlowModal/components/NewFlowCardComponent/index.tsx
  src/frontend/src/modals/newFlowModal/components/undrawCards/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
Labels: javascript, size:S, lgtm

#3512 refactor: handle rendering and filtering functionality
  src/frontend/src/App.css
  src/frontend/src/CustomEdges/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/HandleTooltipComponent/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeInputField/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputfield/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/handleRenderComponent/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/tooltipRenderComponent/index.tsx
  src/frontend/src/components/shadTooltipComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/ParentDisclosureComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/sidebarFilterComponent/index.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/style/applies.css
  src/frontend/src/style/classes.css
  src/frontend/src/style/index.css
  src/frontend/src/types/components/index.ts
  src/frontend/src/types/zustand/flow/index.ts
  src/frontend/src/utils/reactflowUtils.ts
  src/frontend/src/utils/styleUtils.ts
  src/frontend/tailwind.config.mjs
  src/frontend/tests/core/features/filterEdge-shard-0.spec.ts
  src/frontend/tests/core/features/filterSidebar.spec.ts
  src/frontend/tests/core/regression/generalBugs-shard-4.spec.ts
  src/frontend/tests/core/regression/generalBugs-shard-5.spec.ts
Labels: javascript, size:XXL, lgtm, refactor

#3824 fix: vite config and routes to support no slashes, and api interceptor for fetch
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/controllers/API/api.tsx
  src/frontend/src/routes.tsx
  src/frontend/vite.config.mts
Labels: bug, size:S, lgtm

#3825 refactor: Move to LoadEnv in vite config
  src/frontend/vite.config.mts
Labels: size:S, lgtm

#3806 feat: Add New Link Parameter Type for External Links in Node UI
  src/backend/base/langflow/inputs/__init__.py
  src/backend/base/langflow/inputs/input_mixin.py
  src/backend/base/langflow/inputs/inputs.py
  src/backend/base/langflow/io/__init__.py
  src/frontend/src/components/linkComponent/index.tsx
  src/frontend/src/components/parameterRenderComponent/index.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/types/api/index.ts
  src/frontend/src/types/components/index.ts
  src/frontend/tests/core/unit/linkComponent.spec.ts
  src/frontend/tests/templates/unit-test-components.spec.ts
Labels: enhancement, size:L, lgtm

#3834 feat: Add run_id parameter to run_flow function
  src/backend/base/langflow/base/tools/flow_tool.py
  src/backend/base/langflow/custom/custom_component/custom_component.py
  src/backend/base/langflow/helpers/flow.py
Labels: enhancement, size:XS, lgtm

#3798 feat: add duckduckgo search component
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/components/tools/DuckDuckGoSearchRun.py
  src/frontend/src/icons/DuckDuckGo/DuckDuckGo.jsx
  src/frontend/src/icons/DuckDuckGo/duckduckgo-icon.svg
  src/frontend/src/icons/DuckDuckGo/index.tsx
  src/frontend/src/utils/styleUtils.ts
  src/frontend/tests/core/unit/linkComponent.spec.ts
  src/frontend/tests/extended/integrations/duckduckgo.spec.ts
Labels: enhancement, size:L, lgtm

#3783 fix: Fix Text Splitters
  src/backend/base/langflow/base/textsplitters/model.py
Labels: bug, size:XS, lgtm

#3838 ci: tag fixes and robustness to workflow failures
  .github/workflows/docker-build.yml
  .github/workflows/nightly_build.yml
  .github/workflows/python_test.yml
  .github/workflows/release_nightly.yml
  .github/workflows/typescript_test.yml
  poetry.lock
  scripts/ci/pypi_nightly_tag.py
  scripts/ci/update_lf_base_dependency.py
  scripts/ci/update_pyproject_version.py
  scripts/update_dependencies.py
Labels: size:L, lgtm

#3835 fix: update project description, update alerts animation, fix delete and duplicate loading
  src/frontend/src/alerts/alertDropDown/components/singleAlertComponent/index.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/hooks/flows/use-add-flow.ts
  src/frontend/src/hooks/flows/use-delete-flow.ts
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/sideBarDraggableComponent/index.tsx
  src/frontend/src/pages/MainPage/components/componentsComponent/index.tsx
  src/frontend/src/pages/MainPage/components/myCollectionComponent/index.tsx
Labels: bug, size:L, lgtm

#3822 fix: xml component working properly
  src/backend/base/langflow/components/agents/XMLAgent.py
Labels: bug, python, size:S, lgtm

#3841 chore: bump astra-assistants to v2.1.2
  poetry.lock
  pyproject.toml
Labels: size:XS, lgtm, ignore-for-release

#3847 ci: remove unnecessary ref checkout for nightly tests
  .github/workflows/nightly_build.yml
Labels: size:XS, lgtm

#3848 fix: Add Cascade Delete Function for Transactions and Builds Associated with Flows
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/folders.py
  src/backend/base/langflow/services/database/models/flow/utils.py
  src/backend/tests/unit/test_database.py
Labels: bug, size:L, lgtm

#3844 fix: fix building loop when renaming a folder and opening a new flow and running It
  src/frontend/src/components/dropdownButtonComponent/index.tsx
  src/frontend/src/components/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/pages/MainPage/pages/mainPage/index.tsx
  src/frontend/src/types/components/index.ts
Labels: bug, size:L, lgtm

#3766 feat: Move vectorize to Astra DB Component
  src/backend/base/langflow/components/embeddings/AstraVectorize.py
  src/backend/base/langflow/components/vectorstores/AstraDB.py
  src/backend/base/langflow/components/vectorstores/__init__.py
  src/backend/tests/integration/components/astra/test_astra_component.py
Labels: enhancement, size:L, lgtm

#3857 fix: duckduckgo-search
  poetry.lock
  pyproject.toml
Labels: bug, size:XS, lgtm

#3845 fix: refactor FlowTool to use run_until_complete for async flow execution
  src/backend/base/langflow/base/tools/flow_tool.py
Labels: bug, size:S, lgtm

#3855 fix: add run_id parameter to set run ID in graph and handle exceptions in FlowTool
  src/backend/base/langflow/base/tools/flow_tool.py
  src/backend/base/langflow/components/prototypes/FlowTool.py
Labels: bug, size:S, lgtm

#3762 feat: Add format option with raw HTML to URL component
  src/backend/base/langflow/components/data/URL.py
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
Labels: enhancement, size:M, lgtm

#3850 docs: tools components
  docs/docs/Components/components-tools.md
Labels: documentation, size:L, lgtm

#3868 fix: add check for variable value before calling method
  src/backend/base/langflow/graph/graph/base.py
Labels: bug, size:XS, lgtm

#3870 fix: limit file upload size to 10mb to prevent LF crashing due data render component limitations
  src/frontend/src/components/inputFileComponent/index.tsx
  src/frontend/src/constants/alerts_constants.tsx
  src/frontend/src/constants/constants.ts
Labels: bug, size:S, lgtm

#3846 feat: Enhance HuggingFaceEndpointsComponent with additional parameters
  src/backend/base/langflow/components/embeddings/HuggingFaceInferenceAPIEmbeddings.py
  src/backend/base/langflow/components/models/HuggingFaceModel.py
Labels: enhancement, size:L, lgtm

#3715 feat: Enhance Data Components and Add SelectData Functionality
  src/backend/base/langflow/components/prototypes/CreateData.py
  src/backend/base/langflow/components/prototypes/SelectData.py
  src/backend/base/langflow/components/prototypes/UpdateData.py
  src/backend/tests/unit/components/prototypes/test_create_data_component.py
  src/backend/tests/unit/components/prototypes/test_update_data_component.py
Labels: bug, size:L, lgtm

#3884 docs: fix link in vector store rag description
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: documentation, size:XS, lgtm

#3842 fix: Update class name in PageComponent
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
Labels: bug, javascript, size:XS, lgtm

#3885 docs: Add AssemblyAI integration docs
  docs/docs/Integrations/AssemblyAI_Flow.json
  docs/docs/Integrations/assemblyai-components.png
  docs/docs/Integrations/integrations-assemblyai.md
Labels: documentation, size:L, lgtm

#3888 ci: make nightly run all fe tests
  .github/workflows/nightly_build.yml
Labels: size:XS, lgtm

#3893 Add undo/redo check
  src/frontend/playwright.config.ts
  src/frontend/tests/extended/features/langflowShortcuts.spec.ts
  src/frontend/tests/globalTeardown.ts
Labels: size:M, lgtm

#3886 fix: outputs_map parameter namings
  src/backend/base/langflow/custom/attributes.py
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/template/frontend_node/base.py
Labels: bug, size:M, lgtm

#3887 fix: update assistants components and add integrations tests
  src/backend/base/langflow/components/astra_assistants/__init__.py
  src/backend/base/langflow/components/astra_assistants/create_assistant.py
  src/backend/base/langflow/components/astra_assistants/create_thread.py
  src/backend/base/langflow/components/astra_assistants/get_assistant.py
  src/backend/base/langflow/components/astra_assistants/list_assistants.py
  src/backend/base/langflow/components/astra_assistants/run.py
  src/backend/base/langflow/template/template/base.py
  src/backend/tests/integration/components/assistants/test_assistants_components.py
Labels: bug, size:M, lgtm

#3895 fix: Server is busy (#3878)
  src/backend/base/langflow/api/v1/chat.py
Labels: bug, python, size:XS, lgtm

#3892 bugfix: Handle prompts with no Chat messsages
  src/backend/base/langflow/components/prompts/LangChainHubPrompt.py
Labels: bug, size:S, lgtm

#3903 Docs: update components to v1.0.18
  docs/docs/Components/components-embedding-models.md
  docs/docs/Components/components-helpers.md
  docs/docs/Components/components-vector-stores.md
Labels: documentation, size:L, lgtm

#3902 feat: add tracking and custom param label
  src/frontend/src/CustomNodes/GenericNode/components/NodeInputField/index.tsx
  src/frontend/src/CustomNodes/hooks/use-handle-new-value.tsx
  src/frontend/src/customization/components/custom-parameter.tsx
  src/frontend/src/modals/newFlowModal/components/NewFlowCardComponent/index.tsx
  src/frontend/src/modals/newFlowModal/components/undrawCards/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/stores/flowStore.ts
Labels: enhancement, size:M, lgtm

#3905 ci: explicitly pass secrets for fe test
  .github/workflows/nightly_build.yml
Labels: size:XS, lgtm

#3901 FIX: proper parameters in Astra DB Vectorize options
  src/backend/base/langflow/components/vectorstores/AstraDB.py
  src/backend/tests/integration/components/astra/test_astra_component.py
Labels: bug, size:M, lgtm

#3829 feat: add AssemblyAI components
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/components/documentloaders/AssemblyAIFormatTranscript.py
  src/backend/base/langflow/components/documentloaders/AssemblyAIGetSubtitles.py
  src/backend/base/langflow/components/documentloaders/AssemblyAILeMUR.py
  src/backend/base/langflow/components/documentloaders/AssemblyAIListTranscripts.py
  src/backend/base/langflow/components/documentloaders/AssemblyAIPollTranscript.py
  src/backend/base/langflow/components/documentloaders/AssemblyAIStartTranscript.py
  src/backend/base/langflow/components/prompts/LangChainHubPrompt.py
  src/frontend/package-lock.json
  src/frontend/src/icons/AssemblyAI/AssemblyAI.jsx
  src/frontend/src/icons/AssemblyAI/AssemblyAI.svg
  src/frontend/src/icons/AssemblyAI/index.tsx
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, size:XL, lgtm

#3851 bugfix: Properly output a Tool from Glean Search
  src/backend/base/langflow/components/documentloaders/AssemblyAIFormatTranscript.py
  src/backend/base/langflow/components/documentloaders/AssemblyAIListTranscripts.py
  src/backend/base/langflow/components/prompts/LangChainHubPrompt.py
  src/backend/base/langflow/components/tools/GleanSearchAPI.py
Labels: bug, size:L, lgtm

#3910 fix: "Start Here" button not working as expected + fe tests
  src/frontend/src/pages/MainPage/components/componentsComponent/index.tsx
  src/frontend/src/pages/MainPage/components/emptyComponent/index.tsx
  src/frontend/tests/extended/regression/general-bugs-shard-3909.spec.ts
Labels: bug, size:L, lgtm

#3917 fix: unnecessary re-renders in PageComponent and update edgeTypes
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
Labels: bug, size:XS, lgtm

#3882 feat: adds model selection to Azure OpenAI Embeddings component
  docs/docs/Components/components-embedding-models.md
  src/backend/base/langflow/components/embeddings/AzureOpenAIEmbeddings.py
Labels: enhancement, size:S, lgtm

#3924 fix: remove bson import
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/components/vectorstores/MongoDBAtlasVector.py
  uv.lock
Labels: bug, python, size:XS, lgtm

#3730 chore: drop duckdb usage and migrations
  poetry.lock
  src/backend/base/langflow/api/v1/monitor.py
  src/backend/base/langflow/schema/message.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/database/utils.py
  src/backend/base/langflow/services/deps.py
  src/backend/base/langflow/services/monitor/__init__.py
  src/backend/base/langflow/services/monitor/factory.py
  src/backend/base/langflow/services/monitor/schema.py
  src/backend/base/langflow/services/monitor/service.py
  src/backend/base/langflow/services/monitor/utils.py
  src/backend/base/langflow/services/schema.py
  src/backend/base/langflow/services/tracing/factory.py
  src/backend/base/langflow/services/tracing/service.py
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
  src/backend/tests/unit/test_database.py
Labels: size:XL, lgtm, ignore-for-release

#3928 fix: update pyproject.toml to use workspace configuration for langflow-base
  pyproject.toml
  uv.lock
Labels: bug, size:XS, lgtm

#3920 refactor: Update parameter order and hide token for DS users
  src/backend/base/langflow/components/memories/AstraDBChatMemory.py
  src/backend/base/langflow/components/vectorstores/AstraDB.py
Labels: size:M, lgtm, refactor

#3935 fix: Add 'langflow' to workspace configuration
  pyproject.toml
Labels: bug, size:XS, lgtm

#3939 refactor: update dependency versions and streamline backend installation commands
  Makefile
  pyproject.toml
  src/backend/base/langflow/initial_setup/starter_projects/Agent Flow.json
  src/backend/base/langflow/initial_setup/starter_projects/Complex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Hierarchical Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/pyproject.toml
  uv.lock
Labels: size:M, lgtm, refactor

#3940 fix: search for the parent category on sidebar
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/index.tsx
Labels: bug, javascript, size:M, lgtm

#3941 fix: truncate text on filter to x icon fits the parent div
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/sidebarFilterComponent/index.tsx
Labels: bug, size:XS, lgtm

#3942 fix: use init_subclass instead of metaclass to enforce decorator
  src/backend/base/langflow/base/vectorstores/model.py
  src/backend/base/langflow/components/retrievers/CohereRerank.py
  src/backend/base/langflow/components/retrievers/NvidiaRerank.py
  src/frontend/.dspy_cache/cache.db
Labels: python, size:M, lgtm

#3937 fix: animation of building edges on build stop
  src/frontend/src/stores/flowStore.ts
Labels: bug, size:XS, lgtm

#3915 fix: usePatchUpdateFlow to conditionally refetch queries based on the browser URL
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/MainPage/pages/mainPage/index.tsx
Labels: bug, size:S, lgtm

#3945 feat: add dynamic metadata to components + search on sidebar
  src/backend/base/langflow/base/constants.py
  src/backend/base/langflow/custom/attributes.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/initial_setup/starter_projects/Agent Flow.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, World).json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Complex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Hierarchical Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/template/frontend_node/base.py
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/index.tsx
Labels: enhancement, size:L, lgtm

#3929 fix: Handle group nodes in graph sorting
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/utils.py
  src/backend/tests/unit/graph/graph/test_utils.py
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/CustomNodes/hooks/use-icons-status.tsx
Labels: bug, size:M, lgtm

#3914 feat: truncate parsed uploads to prevent database and frontend blocking caused by excessively large files
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/api/v1/files.py
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/langflow/services/database/models/transactions/model.py
  src/backend/base/langflow/services/database/models/vertex_builds/model.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/langflow/utils/constants.py
  src/backend/base/langflow/utils/util.py
  src/backend/base/langflow/utils/util_strings.py
  src/backend/tests/unit/utils/test_truncate_long_strings_on_objects.py
  src/frontend/src/CustomNodes/GenericNode/components/outputModal/components/switchOutputView/index.tsx
  src/frontend/src/components/inputFileComponent/index.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/controllers/API/queries/config/use-get-config.ts
  src/frontend/src/modals/IOModal/components/IOFieldView/components/FileInput/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/index.tsx
  src/frontend/src/stores/utilityStore.ts
  src/frontend/src/types/zustand/utility/index.ts
  src/frontend/tests/extended/features/limit-file-size-upload.spec.ts
  src/frontend/vite.config.mts
Labels: enhancement, size:L, lgtm

#3919 ci: update release workflows to use uv
  .github/workflows/nightly_build.yml
  .github/workflows/release.yml
  .github/workflows/release_nightly.yml
  Makefile
  uv.lock
Labels: size:L, lgtm

#3483 feat: add csv output parser
  src/backend/base/langflow/base/models/model.py
  src/backend/base/langflow/base/prompts/api_utils.py
  src/backend/base/langflow/components/__init__.py
  src/backend/base/langflow/components/models/AIMLModel.py
  src/backend/base/langflow/components/models/AmazonBedrockModel.py
  src/backend/base/langflow/components/models/AnthropicModel.py
  src/backend/base/langflow/components/models/AzureOpenAIModel.py
  src/backend/base/langflow/components/models/BaiduQianfanChatModel.py
  src/backend/base/langflow/components/models/CohereModel.py
  src/backend/base/langflow/components/models/GoogleGenerativeAIModel.py
  src/backend/base/langflow/components/models/GroqModel.py
  src/backend/base/langflow/components/models/HuggingFaceModel.py
  src/backend/base/langflow/components/models/Maritalk.py
  src/backend/base/langflow/components/models/MistralModel.py
  src/backend/base/langflow/components/models/NvidiaModel.py
  src/backend/base/langflow/components/models/OllamaModel.py
  src/backend/base/langflow/components/models/OpenAIModel.py
  src/backend/base/langflow/components/models/PerplexityModel.py
  src/backend/base/langflow/components/models/VertexAiModel.py
  src/backend/base/langflow/components/output_parsers/CSVOutputParser.py
  src/backend/base/langflow/components/output_parsers/__init__.py
  src/backend/base/langflow/field_typing/constants.py
  src/backend/base/langflow/initial_setup/starter_projects/Agent Flow.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, World).json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Complex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Hierarchical Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/schema/message.py
  src/backend/base/langflow/template/template/base.py
  src/backend/tests/integration/components/output_parsers/__init__.py
  src/backend/tests/integration/components/output_parsers/test_csv_output_parser.py
Labels: enhancement, size:XL, lgtm

#3949 tests: improve tests of store
  src/frontend/tests/extended/features/store-shard-1.spec.ts
  src/frontend/tests/extended/features/store-shard-3.spec.ts
Labels: enhancement, size:M, lgtm

#3933 refactor: update flaky tests in test_schema.py
  src/backend/tests/unit/test_database.py
  src/backend/tests/unit/test_schema.py
Labels: python, size:S, lgtm, refactor

#3948 FIX: do not use cached vector store on inserts
  src/backend/base/langflow/components/vectorstores/AstraDB.py
Labels: bug, size:XS, lgtm

#3950 fix: update storeMessageComponent input types
  src/backend/base/langflow/components/helpers/StoreMessage.py
Labels: python, size:XS, lgtm

#3952 feat: improve file uploader size validation - custom hook
  src/frontend/src/components/inputFileComponent/index.tsx
  src/frontend/src/modals/IOModal/components/IOFieldView/components/FileInput/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/index.tsx
  src/frontend/src/shared/hooks/use-file-size-validator.tsx
Labels: enhancement, size:M, lgtm

#3932 feat: Add `components_only` parameter to filter flows by components in API endpoint
  src/backend/base/langflow/api/v1/flows.py
  src/backend/tests/conftest.py
  src/backend/tests/unit/test_database.py
Labels: enhancement, size:M, lgtm

#3953 fix: force floatInputComponent to send Number
  src/frontend/src/components/floatComponent/index.tsx
Labels: bug, javascript, size:XS, lgtm

#3908 feat: add env support for Astra Db components
  src/backend/base/langflow/components/memories/AstraDBChatMemory.py
  src/backend/base/langflow/components/vectorstores/AstraDB.py
  src/frontend/package-lock.json
Labels: enhancement, size:XS, lgtm

#3954 fix: vectorize authentication params
  src/backend/base/langflow/components/vectorstores/AstraDB.py
Labels: bug, size:XS, lgtm

#3923 fix: security file upload
  .gitignore
  src/backend/base/langflow/api/v1/files.py
  src/backend/base/langflow/main.py
  src/frontend/tests/core/unit/tableInputComponent.spec.ts
Labels: bug, size:M, lgtm

#3965 docs: Update CONTRIBUTING.md to mention uv
  CONTRIBUTING.md
  Makefile
Labels: documentation, size:M, lgtm

#3962 fix: Fix Astra API Endpoint Display Name
  src/backend/base/langflow/components/vectorstores/AstraDB.py
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: bug, size:S, lgtm

#3791 feat(Weaviate): Enforce capitalized index name
  src/backend/base/langflow/components/vectorstores/Weaviate.py
Labels: enhancement, size:S, lgtm

#3958 feat: Add ruff rules for comprehensions (C4)
  src/backend/base/langflow/base/io/chat.py
  src/backend/base/langflow/components/deactivated/ShouldRunNext.py
  src/backend/base/langflow/components/prompts/LangChainHubPrompt.py
  src/backend/base/langflow/components/toolkits/ComposioAPI.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/logging/logger.py
  src/backend/base/langflow/schema/schema.py
  src/backend/base/langflow/services/database/models/folder/model.py
  src/backend/base/langflow/services/database/models/transactions/crud.py
  src/backend/base/langflow/services/database/models/vertex_builds/crud.py
  src/backend/base/langflow/services/store/schema.py
  src/backend/base/langflow/services/telemetry/opentelemetry.py
  src/backend/base/langflow/template/frontend_node/base.py
  src/backend/base/langflow/type_extraction/type_extraction.py
  src/backend/base/pyproject.toml
Labels: enhancement, size:M, lgtm

#3964 FIX: Use multiline input to allow chaining for query
  src/backend/base/langflow/components/tools/GleanSearchAPI.py
Labels: enhancement, size:XS, lgtm
