Repository langflow-ai/langflow, pull requests merged in 2024-08, with the labels that each got.

#3117 refactor: update schema.py to include Edge related types
  src/backend/base/langflow/graph/edge/schema.py
  src/backend/base/langflow/helpers/base_model.py
Labels: python, size:M, lgtm, refactor

#3136 feat: set sqlite pragma by env variable
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/tests/unit/test_database.py
Labels: enhancement, size:M, lgtm

#3094 feat: improve LangWatch integration by introducing langchain callbacks on the tracing service, and component and workflow span types
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/base/models/model.py
  src/backend/base/langflow/components/chains/ConversationChain.py
  src/backend/base/langflow/components/chains/LLMCheckerChain.py
  src/backend/base/langflow/components/chains/LLMMathChain.py
  src/backend/base/langflow/components/chains/RetrievalQA.py
  src/backend/base/langflow/components/chains/SQLGenerator.py
  src/backend/base/langflow/components/deactivated/ShouldRunNext.py
  src/backend/base/langflow/components/retrievers/CohereRerank.py
  src/backend/base/langflow/components/retrievers/NvidiaRerank.py
  src/backend/base/langflow/components/retrievers/SelfQueryRetriever.py
  src/backend/base/langflow/components/vectorstores/vectara_rag.py
  src/backend/base/langflow/custom/custom_component/custom_component.py
  src/backend/base/langflow/schema/data.py
  src/backend/base/langflow/schema/message.py
  src/backend/base/langflow/services/tracing/base.py
  src/backend/base/langflow/services/tracing/langsmith.py
  src/backend/base/langflow/services/tracing/langwatch.py
  src/backend/base/langflow/services/tracing/service.py
Labels: enhancement, python, size:L, lgtm

#3118 refactor: input field handling and serialization
  src/backend/base/langflow/inputs/input_mixin.py
  src/backend/base/langflow/inputs/inputs.py
  src/backend/base/langflow/schema/data.py
  src/backend/base/langflow/schema/message.py
  src/backend/tests/unit/inputs/test_inputs.py
Labels: size:L, lgtm, refactor

#3145 ci(workflows): implement retry logic in python_test workflow for unit tests
  .github/workflows/python_test.yml
Labels: enhancement, size:S, lgtm

#3148 bugfix: automatically refresh user's session
  src/frontend/src/App.tsx
  src/frontend/src/components/authAdminGuard/index.tsx
  src/frontend/src/components/authGuard/index.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/contexts/authContext.tsx
  src/frontend/src/controllers/API/api.tsx
  src/frontend/src/controllers/API/queries/auth/use-post-logout.ts
  src/frontend/src/pages/AdminPage/LoginPage/index.tsx
  src/frontend/src/pages/LoginPage/index.tsx
  src/frontend/src/stores/authStore.ts
  src/frontend/src/types/contexts/auth.ts
  src/frontend/vite.config.mts
Labels: bug, enhancement, javascript, size:L, lgtm

#3119 refactor: add getters and setters for inputs and outputs
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/graph/vertex/types.py
Labels: size:M, lgtm, refactor

#3144 refactor: global variables logic
  src/frontend/src/App.tsx
  src/frontend/src/components/addNewVariableButtonComponent/addNewVariableButton.tsx
  src/frontend/src/components/inputGlobalComponent/index.tsx
  src/frontend/src/controllers/API/index.ts
  src/frontend/src/controllers/API/queries/variables/use-delete-global-variables.ts
  src/frontend/src/controllers/API/queries/variables/use-get-global-variables.ts
  src/frontend/src/controllers/API/queries/variables/use-patch-global-variables.ts
  src/frontend/src/controllers/API/queries/variables/use-post-global-variables.ts
  src/frontend/src/controllers/API/services/request-processor.ts
  src/frontend/src/pages/AdminPage/LoginPage/index.tsx
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/pages/LoginPage/index.tsx
  src/frontend/src/pages/SettingsPage/pages/GlobalVariablesPage/index.tsx
  src/frontend/src/stores/authStore.ts
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/stores/flowsManagerStore.ts
  src/frontend/src/stores/globalVariablesStore/globalVariables.ts
  src/frontend/src/stores/globalVariablesStore/utils/get-unavailable-fields.tsx
  src/frontend/src/types/global_variables/index.ts
  src/frontend/src/types/zustand/globalVariables/index.ts
  src/frontend/tests/end-to-end/userSettings.spec.ts
Labels: javascript, size:L, lgtm, refactor

#3127 refactor: add useQuery to request getUsers endpoint
  src/frontend/src/controllers/API/queries/auth/use-get-users-page.ts
  src/frontend/src/pages/AdminPage/index.tsx
Labels: javascript, size:M, lgtm, refactor

#3125 refactor: add useQuery on whoami endpoint request
  src/frontend/src/contexts/authContext.tsx
  src/frontend/src/controllers/API/queries/auth/use-get-user.ts
Labels: javascript, size:M, lgtm, refactor

#3120 feat: add run_until_complete and run_in_thread functions for handling asyncio tasks
  src/backend/base/langflow/utils/async_helpers.py
Labels: enhancement, python, size:M, lgtm

#3122 feat: add to_frontend_node to Component
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/inputs/inputs.py
  src/backend/base/langflow/template/frontend_node/base.py
  src/backend/base/langflow/template/template/base.py
  src/frontend/tests/end-to-end/userSettings.spec.ts
Labels: enhancement, size:L, lgtm

#3020 feat: ui build in one single http request
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/services/telemetry/service.py
  src/backend/tests/conftest.py
  src/backend/tests/data/MemoryChatbotNoLLM.json
  src/backend/tests/unit/test_chat_endpoint.py
  src/frontend/src/controllers/API/api.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/index.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/types/zustand/flow/index.ts
  src/frontend/src/utils/buildUtils.ts
Labels: enhancement, size:XL, lgtm

#3170 fix: external memory messages history is reversed
  src/backend/base/langflow/components/helpers/Memory.py
Labels: bug, size:XS, lgtm

#3158 fix: frozen status is lost after run
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/types/zustand/flow/index.ts
  src/frontend/tests/end-to-end/generalBugs-shard-10.spec.ts
Labels: bug, size:L, lgtm

#3175 fix: add chat_service to build_vertex method call so freeze works
  src/backend/base/langflow/api/v1/chat.py
Labels: bug, size:XS, lgtm

#3124 refactor(graph): add prepare method in Graph
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/components/retrievers/SelfQueryRetriever.py
  src/backend/base/langflow/graph/edge/base.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/inputs/input_mixin.py
  src/backend/base/langflow/processing/process.py
  src/backend/base/langflow/services/cache/service.py
  src/backend/base/langflow/services/database/models/api_key/model.py
  src/backend/base/langflow/services/database/models/flow/model.py
  src/backend/base/langflow/services/database/models/folder/model.py
  src/backend/base/langflow/services/database/models/message/model.py
  src/backend/base/langflow/services/database/models/transactions/model.py
  src/backend/base/langflow/services/database/models/user/model.py
  src/backend/base/langflow/services/database/models/variable/model.py
  src/backend/base/langflow/services/database/models/vertex_builds/model.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/plugins/langfuse_plugin.py
  src/backend/base/pyproject.toml
Labels: size:L, lgtm, refactor

#3126 refactor: update build_vertex types
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/schema.py
  src/backend/base/langflow/services/chat/schema.py
Labels: python, size:M, lgtm, refactor

#3191 fix: update curl code generation
  src/frontend/src/modals/apiModal/utils/get-curl-code.tsx
Labels: bug, size:S, lgtm

#3134 feat: add possibility to initialize the Graph with components
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/graph/edge/base.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/constants.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/inputs/input_mixin.py
  src/backend/base/langflow/inputs/inputs.py
  src/backend/base/langflow/interface/initialize/loading.py
  src/backend/base/langflow/schema/message.py
  src/backend/base/langflow/template/field/base.py
  src/backend/tests/unit/custom/custom_component/test_component.py
  src/backend/tests/unit/graph/graph/test_base.py
  src/backend/tests/unit/initial_setup/starter_projects/test_memory_chatbot.py
  src/backend/tests/unit/initial_setup/starter_projects/test_vector_store_rag.py
  src/backend/tests/unit/inputs/test_inputs.py
Labels: enhancement, size:XL, lgtm

#3201 refactor: enhance CustomComponent class and updates tests
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/components/prototypes/FlowTool.py
  src/backend/base/langflow/custom/custom_component/base_component.py
  src/backend/base/langflow/custom/custom_component/custom_component.py
  src/backend/base/langflow/custom/directory_reader/directory_reader.py
  src/backend/base/langflow/custom/utils.py
  src/backend/base/langflow/schema/message.py
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
  src/backend/tests/unit/components/prompts/test_prompt_component.py
  src/backend/tests/unit/test_custom_component.py
  src/backend/tests/unit/test_data_components.py
Labels: size:L, lgtm, refactor

#3206 ci: update nick-fields/retry dependency to v3
  .github/workflows/python_test.yml
Labels: size:XS, lgtm

#3202 feat: add dump and dumps methods to Graph
  .github/workflows/python_test.yml
  Makefile
  src/backend/base/langflow/base/prompts/api_utils.py
  src/backend/base/langflow/graph/edge/base.py
  src/backend/base/langflow/graph/edge/schema.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/schema.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/graph/vertex/schema.py
  src/backend/base/langflow/graph/vertex/types.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/inputs/input_mixin.py
  src/backend/base/langflow/schema/data.py
  src/backend/base/langflow/template/field/base.py
  src/backend/base/langflow/template/field/prompt.py
  src/backend/base/langflow/utils/util.py
  src/backend/tests/.test_durations
  src/backend/tests/unit/initial_setup/starter_projects/test_memory_chatbot.py
  src/backend/tests/unit/initial_setup/starter_projects/test_vector_store_rag.py
Labels: enhancement, size:XL, lgtm

#3182 fix: unnecessary split method in vertex_id that breaks playground
  src/backend/base/langflow/api/v1/chat.py
  src/frontend/src/controllers/API/queries/_builds/use-delete-builds.ts
Labels: bug, size:XS, lgtm

#3169 feat: Add Branding and Social Links to the UI Feature flags
  src/frontend/feature-config.json
  src/frontend/src/components/headerComponent/index.tsx
  src/frontend/src/pages/FlowPage/index.tsx
Labels: enhancement, size:M, lgtm

#3200 refactor: add flow and upload flow functionality
  src/frontend/src/App.tsx
  src/frontend/src/components/cardComponent/hooks/use-handle-install.tsx
  src/frontend/src/components/exampleComponent/index.tsx
  src/frontend/src/components/headerComponent/components/menuBar/index.tsx
  src/frontend/src/components/inputFileComponent/index.tsx
  src/frontend/src/components/sidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/controllers/API/index.ts
  src/frontend/src/controllers/API/queries/_builds/use-delete-builds.ts
  src/frontend/src/controllers/API/queries/_builds/use-get-builds.ts
  src/frontend/src/controllers/API/queries/flows/use-patch-update-flow.ts
  src/frontend/src/controllers/API/queries/flows/use-post-add-flow.ts
  src/frontend/src/controllers/API/queries/flows/use-post-download-multiple-flows.ts
  src/frontend/src/controllers/API/queries/folders/use-post-upload-folders.ts
  src/frontend/src/helpers/create-file-upload.ts
  src/frontend/src/helpers/get-objects-from-filelist.ts
  src/frontend/src/hooks/flows/use-add-flow.ts
  src/frontend/src/hooks/flows/use-upload-flow.ts
  src/frontend/src/modals/IOModal/components/IOFieldView/components/FileInput/index.tsx
  src/frontend/src/modals/newFlowModal/components/NewFlowCardComponent/index.tsx
  src/frontend/src/modals/newFlowModal/components/undrawCards/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/pages/MainPage/components/componentsComponent/hooks/use-handle-duplicate.tsx
  src/frontend/src/pages/MainPage/components/componentsComponent/index.tsx
  src/frontend/src/pages/MainPage/components/emptyComponent/index.tsx
  src/frontend/src/pages/MainPage/hooks/use-dropdown-options.tsx
  src/frontend/src/pages/MainPage/hooks/use-on-file-drop.tsx
  src/frontend/src/pages/MainPage/pages/mainPage/index.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/stores/flowsManagerStore.ts
  src/frontend/src/types/zustand/flowsManager/index.ts
  src/frontend/src/utils/reactflowUtils.ts
  src/frontend/tests/end-to-end/dragAndDrop.spec.ts
  src/frontend/tests/end-to-end/folders.spec.ts
Labels: size:XXL, lgtm, refactor

#3208 refactor: delete flow
  src/frontend/src/components/headerComponent/index.tsx
  src/frontend/src/controllers/API/index.ts
  src/frontend/src/controllers/API/queries/flows/use-delete-delete-flows.ts
  src/frontend/src/hooks/flows/use-add-flow.ts
  src/frontend/src/hooks/flows/use-delete-flow.ts
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/sideBarDraggableComponent/index.tsx
  src/frontend/src/pages/MainPage/components/componentsComponent/hooks/use-delete-multiple.tsx
  src/frontend/src/pages/MainPage/components/componentsComponent/index.tsx
  src/frontend/src/stores/flowsManagerStore.ts
  src/frontend/src/types/zustand/flowsManager/index.ts
Labels: size:L, lgtm, refactor

#3218 fix: validate flow_name presence in flow components before retrieving flow data
  src/backend/base/langflow/components/prototypes/FlowTool.py
  src/backend/base/langflow/components/prototypes/RunFlow.py
  src/backend/base/langflow/components/prototypes/SubFlow.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/graph/vertex/types.py
Labels: bug, size:S, lgtm

#3225 fix: select all checkbox not changing when changing folders
  src/frontend/src/pages/MainPage/components/componentsComponent/index.tsx
Labels: bug, size:XS, lgtm

#3203 feat: import Graph without position information
  .vscode/launch.json
  poetry.lock
  src/backend/base/langflow/components/helpers/Memory.py
  src/backend/base/langflow/custom/__init__.py
  src/backend/base/langflow/custom/code_parser/code_parser.py
  src/backend/base/langflow/custom/custom_component/__init__.py
  src/backend/base/langflow/custom/custom_component/base_component.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/custom/utils.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/constants.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/graph/vertex/types.py
  src/backend/base/langflow/inputs/__init__.py
  src/backend/base/langflow/interface/initialize/__init__.py
  src/backend/base/langflow/template/template/base.py
  src/backend/base/poetry.lock
  src/backend/tests/unit/graph/graph/test_base.py
  src/backend/tests/unit/initial_setup/starter_projects/test_memory_chatbot.py
  src/backend/tests/unit/initial_setup/starter_projects/test_vector_store_rag.py
  src/backend/tests/unit/test_custom_component.py
  src/backend/tests/unit/test_custom_component_with_client.py
  src/backend/tests/unit/test_database.py
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/CustomNodes/utils/get-handle-id.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/hooks/flows/use-add-flow.ts
  src/frontend/src/types/utils/reactflowUtils.ts
  src/frontend/src/utils/layoutUtils.ts
  src/frontend/src/utils/reactflowUtils.ts
Labels: enhancement, size:L, lgtm

#3149 feat: Add suggestion message to API exception response
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/exceptions/api.py
  src/backend/base/langflow/services/database/models/flow/utils.py
  src/backend/tests/unit/api/test_api_utils.py
  src/backend/tests/unit/exceptions/test_api.py
  src/frontend/tests/end-to-end/deleteFlows.spec.ts
Labels: enhancement, size:L, lgtm

#3229 refactor: update imports in starter projects
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, World).json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Complex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Hierarchical Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: size:S, lgtm, refactor

#3220 refactor: parameterComponent in GenericNode
  src/frontend/src/CustomNodes/GenericNode/components/NodeInputField/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputfield/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/handleRenderComponent/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/parameterComponent/constants.ts
  src/frontend/src/CustomNodes/GenericNode/components/parameterComponent/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/components/parameterRenderComponent/index.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/types/components/index.ts
  src/frontend/src/types/zustand/flow/index.ts
Labels: javascript, size:XL, lgtm, refactor

#3224 feat: Implement graph combination method
  src/backend/base/langflow/graph/edge/base.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/tests/unit/initial_setup/starter_projects/test_vector_store_rag.py
  src/frontend/package-lock.json
Labels: enhancement, size:L, lgtm

#3227 fix: flow export endpoint exporting folder
  src/backend/base/langflow/api/v1/flows.py
Labels: bug, size:XS, lgtm

#3228 fix: replace Input with Textarea in TextAreaComponent for improved user experience and aesthetics
  src/frontend/src/components/textAreaComponent/index.tsx
  src/frontend/src/components/ui/textarea.tsx
Labels: bug, size:S, lgtm

#3031 feat: flag to disable transaction and vertex_builds writes
  src/backend/base/langflow/graph/utils.py
  src/backend/base/langflow/services/settings/base.py
Labels: enhancement, size:S, lgtm

#3219 refactor: update graph visualization and add ASCII representation
  poetry.lock
  src/backend/base/langflow/graph/graph/ascii.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
Labels: size:L, lgtm, refactor

#3231 feat: improve layout options and make sure nodes and flow have position data
  src/frontend/src/constants/constants.ts
  src/frontend/src/hooks/flows/use-upload-flow.ts
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/utils/layoutUtils.ts
  src/frontend/src/utils/reactflowUtils.ts
Labels: enhancement, size:S, lgtm

#3230 feat: add LLM output for the AI ML component to use ChatOpenAI base model
  src/backend/base/langflow/components/models/AIMLModel.py
Labels: enhancement, size:L, lgtm

#3233 chore: bump version to 1.0.15 and update langflow-base version to 0.0.93
  poetry.lock
  pyproject.toml
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
Labels: size:XS, lgtm, ignore-for-release

#2439 feat: add Spider Web Scraper & Crawler
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/base/langchain_utilities/spider_constants.py
  src/backend/base/langflow/components/embeddings/AstraVectorize.py
  src/backend/base/langflow/components/langchain_utilities/SpiderTool.py
  src/backend/base/langflow/main.py
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
  src/frontend/src/icons/Spider/SpiderIcon.jsx
  src/frontend/src/icons/Spider/index.tsx
  src/frontend/src/icons/Spider/spider_logo.svg
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, javascript, python, size:L, lgtm

#3244 ci: add version check in workflow to skip jobs for unreleased versions of langflow-base
  .github/workflows/python_test.yml
Labels: size:S, lgtm

#3245 ci: refactor release workflow and Docker build process
  .github/workflows/docker-build.yml
  .github/workflows/pre-release-base.yml
  .github/workflows/pre-release-langflow.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Labels: size:L, lgtm

#3199 fix: update PYTHON_REQUIRED extraction to correctly capture Python version
  Makefile
Labels: bug, python, size:XS, lgtm

#3129 feat: create google drive ingest component
  src/backend/base/langflow/components/data/GoogleDrive.py
Labels: enhancement, size:M, lgtm

#3249 fix: change ValueError into Warning to allow disconnected flows to run and other small fixes
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/tests/unit/graph/graph/test_base.py
  src/backend/tests/unit/initial_setup/starter_projects/test_vector_store_rag.py
  src/backend/tests/unit/test_database.py
Labels: bug, size:S, lgtm

#3236 feat: add huggingface endpoint retry
  src/backend/base/langflow/components/models/HuggingFaceModel.py
Labels: enhancement, size:S, lgtm

#3250 fix: change sync_get_file_content_dicts to use get_file_content_dicts
  src/backend/base/langflow/schema/message.py
Labels: bug, size:XS, lgtm

#3246 feat: Improve caching logic and add disk caching option
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/schema.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/services/cache/disk.py
  src/backend/base/langflow/services/cache/factory.py
  src/backend/base/langflow/services/cache/service.py
  src/backend/base/langflow/services/cache/utils.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
Labels: enhancement, size:L, lgtm

#3260 feat: start using dev mode flag and add exception filter in logger
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/api/log_router.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/field_typing/constants.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/load/load.py
  src/backend/base/langflow/logging/__init__.py
  src/backend/base/langflow/logging/logger.py
  src/backend/base/langflow/logging/setup.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/server.py
  src/backend/base/langflow/services/cache/factory.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/langflow/settings.py
  src/backend/base/langflow/utils/util.py
  src/backend/tests/unit/test_custom_component_with_client.py
  src/backend/tests/unit/test_logger.py
Labels: enhancement, size:L, lgtm

#3259 fix: enhance error handling in build_flow and add error handling for Flow build
  src/backend/base/langflow/api/v1/chat.py
  src/frontend/src/utils/buildUtils.ts
Labels: bug, size:S, lgtm

#3262 feat: add log_builds parameter to build_flow for optional vertex build logging
  src/backend/base/langflow/api/v1/chat.py
Labels: enhancement, size:XS, lgtm

#3239 Refactored and improved PythonCodeStructuredTool, SearXNGTool, and RunnableExecutor
  src/backend/base/langflow/components/prototypes/RunnableExecutor.py
  src/backend/base/langflow/components/tools/PythonCodeStructuredTool.py
  src/backend/base/langflow/components/tools/SearXNGTool.py
  src/backend/base/langflow/components/tools/__init__.py
Labels: enhancement, python, size:XL, lgtm

#3204 Update README.md
  README.md
  docs/static/img/hero.png
Labels: documentation, size:L, lgtm

#3265 fix: update type to silence warning and memory chatbot json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/inputs/inputs.py
  src/backend/base/langflow/template/template/base.py
  src/backend/tests/.test_durations
  src/backend/tests/unit/inputs/test_inputs.py
Labels: bug, size:XL, lgtm

#3267 ci: integrate retry mechanism in Playwright tests to improve stability and handle potential failures
  .github/workflows/typescript_test.yml
Labels: bug, size:S, lgtm

#3270 docs: minor changes on readme text
  README.md
Labels: documentation, size:M, lgtm

#2815 fix(get-python-api-code):fixing errors in a file uploading flow, as in issue #2799
  src/backend/base/langflow/load/utils.py
  src/frontend/src/modals/apiModal/utils/get-python-api-code.tsx
Labels: bug, javascript, python, size:XS, lgtm

#3279 fix: correct issue with The "No suitable component" error is appearing on the OpenAI component and other components due to a missing check
  src/frontend/src/CustomNodes/GenericNode/components/NodeInputField/index.tsx
Labels: bug, size:XS, lgtm

#3282 Update README.md
  README.md
Labels: documentation, size:M

#3285 docs: variable global precautions
  docs/docs/Settings/settings-global-variables.md
Labels: documentation, size:M, lgtm

#3241 feat: Gmail Loader component created
  src/backend/base/langflow/components/data/Gmail.py
Labels: enhancement, python, size:L, lgtm

#3289 fix: correct vertex build delete function
  src/backend/base/langflow/services/database/models/vertex_builds/crud.py
Labels: bug, size:XS, lgtm

#3280 fix: update parameters in spider components
  poetry.lock
  src/backend/base/langflow/components/langchain_utilities/SpiderTool.py
Labels: bug, size:S, lgtm

#3293 fix: message sorting in playground
  src/backend/base/langflow/services/database/models/vertex_builds/model.py
Labels: bug, size:XS, lgtm

#3291 fix: Corrected URI handling in SQLDatabaseComponent
  src/backend/base/langflow/components/langchain_utilities/SQLDatabase.py
Labels: bug, size:S, lgtm

#3296 build: Set up Python 3.12 and Poetry caching in docker workflow.
  .github/workflows/docker-build.yml
Labels: size:XS

#3297 ci: add checkout before setting up python
  .github/workflows/docker-build.yml
Labels: size:XS

#3294 refactor: Update Ollama Model + Links
  src/backend/base/langflow/components/embeddings/OllamaEmbeddings.py
  src/backend/base/langflow/components/models/OllamaModel.py
Labels: python, size:XS, lgtm, refactor

#3271 feat: add dynamic state model creation and update
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/state_model.py
  src/backend/base/langflow/graph/state/__init__.py
  src/backend/base/langflow/graph/state/model.py
  src/backend/tests/unit/graph/graph/state/test_state_model.py
  src/backend/tests/unit/graph/graph/test_graph_state_model.py
Labels: enhancement, size:XL, lgtm

#3299 chore: Add step to diff poetry.lock in py_autofix workflow.
  .github/workflows/py_autofix.yml
Labels: size:XS

#3298 ci: Add condition to execute CI workflow for release package.
  .github/workflows/release.yml
Labels: size:XS, lgtm

#3300 chore: update lock files with new versions
  poetry.lock
  src/backend/base/poetry.lock
Labels: size:XS, lgtm, ignore-for-release

#3232 enhancement: prevent esc on codeAreaModal
  src/frontend/src/modals/baseModal/index.tsx
  src/frontend/src/modals/codeAreaModal/index.tsx
  src/frontend/src/modals/confirmationModal/index.tsx
  src/frontend/src/types/components/index.ts
Labels: enhancement, javascript, size:M, lgtm

#3284 feat: centralize global variable management
  src/backend/base/langflow/api/v1/variable.py
  src/backend/base/langflow/services/variable/base.py
  src/backend/base/langflow/services/variable/kubernetes.py
  src/backend/base/langflow/services/variable/service.py
  src/backend/tests/unit/api/v1/test_variable.py
  src/backend/tests/unit/services/variable/test_service.py
Labels: enhancement, size:XL, lgtm

#3248 refactor: add components for node name, description, and status
  src/frontend/src/CustomNodes/GenericNode/components/NodeDescription/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeName/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/utils/reactflowUtils.ts
Labels: javascript, size:XL, lgtm, refactor

#3306 test: adds new tests for new variable service
  src/backend/tests/unit/services/variable/test_service.py
Labels: size:M, lgtm, test

#3235 refactor: improve NodeOutputField and NodeInputField components
  src/frontend/src/CustomNodes/GenericNode/components/NodeInputField/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeInputInfo/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputfield/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/outputModal/index.tsx
  src/frontend/src/modals/baseModal/index.tsx
Labels: javascript, size:L, lgtm, refactor

#3314 Update Astra link in README.md
  README.KR.md
  README.ja.md
  README.md
  docs/docs/Getting-Started/getting-started-installation.md
Labels: documentation, size:S, lgtm

#3315 fix: dark mode and header text display issues
  src/frontend/src/App.tsx
  src/frontend/src/components/headerComponent/components/menuBar/index.tsx
  src/frontend/src/components/headerComponent/index.tsx
  src/frontend/src/index.tsx
  src/frontend/src/pages/AppWrapperPage/index.tsx
  src/frontend/src/routes.tsx
Labels: bug, size:L, lgtm

#3309 docs: fix render deployment and docs
  docs/docs/Deployment/1861599636.png
  docs/docs/Deployment/1929176153.png
  docs/docs/Deployment/deployment-render.md
  docs/docs/Deployment/render-deploy-plan.png
  docs/docs/Deployment/render-deployed-overview.png
  render.yaml
Labels: documentation, size:S, lgtm

#3319 feat: Google Drive Search Component
  src/backend/base/langflow/components/data/GoogleDriveSearch.py
Labels: enhancement, python, size:L, lgtm

#3254 feat: Add support for metadata filtering and namespaces for the Upstash Vector component
  docs/docs/Components/components-vector-stores.md
  src/backend/base/langflow/components/vectorstores/Upstash.py
Labels: enhancement, size:M, lgtm

#3337 fix: add double quotes to curl command generation
  src/frontend/src/modals/apiModal/utils/get-curl-code.tsx
Labels: bug, javascript, size:XS, lgtm

#3311 refactor: improve node toolbar code
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/components/renderIconComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/hooks/use-shortcuts.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/shortcutDisplay/index.tsx
  src/frontend/src/types/components/index.ts
  src/frontend/src/utils/utils.ts
Labels: javascript, size:L, lgtm, refactor

#3316 refactor: update keyboard shortcuts display
  src/frontend/src/components/renderIconComponent/components/renderKey/index.tsx
  src/frontend/src/components/renderIconComponent/index.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/shortcutDisplay/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/toolbarSelectItem/index.tsx
  src/frontend/src/pages/SettingsPage/pages/ShortcutsPage/CellRenderWrapper/index.tsx
  src/frontend/src/pages/SettingsPage/pages/ShortcutsPage/EditShortcutButton/index.tsx
  src/frontend/src/pages/SettingsPage/pages/ShortcutsPage/index.tsx
  src/frontend/src/utils/styleUtils.ts
  src/frontend/src/utils/utils.ts
Labels: javascript, size:L, lgtm, refactor

#3327 feat: add functions to detect cycles in Graph
  src/backend/base/langflow/graph/graph/utils.py
  src/backend/tests/unit/graph/graph/test_utils.py
  src/backend/tests/unit/services/variable/test_service.py
Labels: enhancement, python, size:L, lgtm

#3333 refactor: Simplify __repr__ method in Edge and ContractEdge classes.
  src/backend/base/langflow/graph/edge/base.py
Labels: python, size:S, lgtm, refactor

#3332 refactor: Prevent infinite loop in get_successors function.
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/utils.py
Labels: python, size:M, lgtm, refactor

#3328 feat: Add method to set specific parameters on output object.
  src/backend/base/langflow/custom/custom_component/component.py
Labels: enhancement, python, size:XS, lgtm

#3334 refactor: rename ContractEdge to CycleEdge
  src/backend/base/langflow/graph/edge/base.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/graph/vertex/types.py
Labels: python, size:M, lgtm, refactor

#3344 refactor: folder fetching, folder sidebar and fix various issues
  src/frontend/src/components/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/components/folderSidebarComponent/components/sidebarFolderSkeleton/index.tsx
  src/frontend/src/components/folderSidebarComponent/hooks/use-on-file-drop.tsx
  src/frontend/src/components/folderSidebarComponent/index.tsx
  src/frontend/src/components/headerComponent/components/menuBar/index.tsx
  src/frontend/src/components/headerComponent/index.tsx
  src/frontend/src/components/sidebarComponent/index.tsx
  src/frontend/src/contexts/authContext.tsx
  src/frontend/src/controllers/API/queries/flows/use-delete-delete-flows.ts
  src/frontend/src/controllers/API/queries/flows/use-patch-update-flow.ts
  src/frontend/src/controllers/API/queries/flows/use-post-add-flow.ts
  src/frontend/src/controllers/API/queries/folders/use-delete-folders.ts
  src/frontend/src/controllers/API/queries/folders/use-get-folder.ts
  src/frontend/src/controllers/API/queries/folders/use-get-folders.ts
  src/frontend/src/controllers/API/queries/folders/use-patch-folders.ts
  src/frontend/src/controllers/API/queries/folders/use-post-folders.ts
  src/frontend/src/controllers/API/queries/folders/use-post-upload-folders.ts
  src/frontend/src/controllers/API/queries/folders/use-post-upload-to-folder.ts
  src/frontend/src/hooks/flows/use-add-flow.ts
  src/frontend/src/hooks/flows/use-delete-flow.ts
  src/frontend/src/modals/newFlowModal/components/NewFlowCardComponent/index.tsx
  src/frontend/src/modals/newFlowModal/components/undrawCards/index.tsx
  src/frontend/src/pages/AdminPage/LoginPage/index.tsx
  src/frontend/src/pages/AppWrapperPage/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/pages/LoginPage/index.tsx
  src/frontend/src/pages/MainPage/components/componentsComponent/components/collectionCard/index.tsx
  src/frontend/src/pages/MainPage/components/componentsComponent/hooks/use-handle-duplicate.tsx
  src/frontend/src/pages/MainPage/components/componentsComponent/index.tsx
  src/frontend/src/pages/MainPage/components/headerComponent/index.tsx
  src/frontend/src/pages/MainPage/components/myCollectionComponent/components/inputSearchComponent/index.tsx
  src/frontend/src/pages/MainPage/components/myCollectionComponent/components/tabsComponent/index.tsx
  src/frontend/src/pages/MainPage/hooks/use-on-file-drop.tsx
  src/frontend/src/pages/MainPage/pages/mainPage/index.tsx
  src/frontend/src/pages/MainPage/services/index.ts
  src/frontend/src/pages/ViewPage/index.tsx
  src/frontend/src/routes.tsx
  src/frontend/src/stores/authStore.ts
  src/frontend/src/stores/flowsManagerStore.ts
  src/frontend/src/stores/foldersStore.tsx
  src/frontend/src/stores/typesStore.ts
  src/frontend/src/types/zustand/flowsManager/index.ts
  src/frontend/src/types/zustand/folders/index.ts
Labels: javascript, size:XL, lgtm, refactor

#3336 feat: Add maximum iterations limit in Graph start method.
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/schema.py
Labels: enhancement, python, size:M, lgtm

#3346 refactor: Add ComponentTextModal and Prompt modal for displaying and editing text areas and components
  src/frontend/src/components/promptComponent/index.tsx
  src/frontend/src/components/textAreaComponent/index.tsx
  src/frontend/src/modals/promptModal/index.tsx
  src/frontend/src/modals/promptModal/utils/var-highlight-html.tsx
  src/frontend/src/modals/textAreaModal/index.tsx
  src/frontend/src/style/applies.css
  src/frontend/src/types/components/index.ts
Labels: javascript, size:L, lgtm, refactor

#3335 fix: do not mark self.stop caller
  src/backend/base/langflow/graph/graph/base.py
Labels: bug, python, size:S, lgtm

#3348 build: lock langchain-core to version 0.2.30.
  poetry.lock
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
Labels: size:XS

#3347 enhancement: update widget code to use latest version of langflow-embedded-chat
  src/frontend/src/modals/apiModal/utils/get-widget-code.tsx
Labels: enhancement, size:XS, lgtm

#3350 refactor: improve store and collection card components
  src/frontend/src/components/cardComponent/components/dragCardComponent/index.tsx
  src/frontend/src/components/cardComponent/hooks/use-on-drag-start.tsx
  src/frontend/src/components/cardComponent/index.tsx
  src/frontend/src/components/exampleComponent/index.tsx
  src/frontend/src/components/storeCardComponent/hooks/use-data-effect.tsx
  src/frontend/src/components/storeCardComponent/hooks/use-handle-install.tsx
  src/frontend/src/components/storeCardComponent/index.tsx
  src/frontend/src/components/storeCardComponent/utils/convert-test-name.tsx
  src/frontend/src/pages/MainPage/components/componentsComponent/components/collectionCard/index.tsx
  src/frontend/src/pages/StorePage/index.tsx
Labels: javascript, size:XL, lgtm, refactor

#3343 chore: remove unused script and log
  Makefile
  scripts/setup/setup_env.sh
  scripts/setup/update_poetry.sh
Labels: size:M, lgtm, ignore-for-release

#3349 fix: handle case where tweak values are nested dicts
  src/backend/base/langflow/processing/process.py
Labels: bug, size:XS, lgtm

#3329 feat: update output attribute handling
  poetry.lock
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/poetry.lock
  src/backend/tests/unit/initial_setup/starter_projects/test_vector_store_rag.py
Labels: enhancement, python, size:M, lgtm

#3362 feat: Add timeout parameter to HTTP request in StoreService.
  src/backend/base/langflow/services/store/service.py
Labels: enhancement, size:S

#3361 ci: Refactor report merge step to only run if necessary.
  .github/workflows/typescript_test.yml
Labels: size:S, lgtm

#3338 feat: get result from output if possible
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/graph/vertex/exceptions.py
  src/backend/base/langflow/graph/vertex/types.py
  src/backend/tests/unit/initial_setup/starter_projects/test_vector_store_rag.py
Labels: enhancement, python, size:L, lgtm

#3363 fix: Corrected Changed the data type of number field from string to number
  src/frontend/src/components/intComponent/index.tsx
  src/frontend/src/components/parameterRenderComponent/index.tsx
  src/frontend/src/types/components/index.ts
  src/frontend/src/utils/reactflowUtils.ts
Labels: bug, size:S, lgtm

#3372 build(langchain-core): Update langchain-core to version 0.2.32.
  poetry.lock
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
Labels: size:XS, lgtm

#3382 fix: Add TableNodeComponent and set default formatter type
  src/frontend/src/components/objectRender/index.tsx
  src/frontend/src/components/parameterRenderComponent/index.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/types/api/index.ts
  src/frontend/src/utils/utils.ts
Labels: bug, javascript, size:M, lgtm

#3371 feat: add description on graph
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/vertex/schema.py
Labels: enhancement, size:S, lgtm

#3368 fix(edge): Handle invalid input types when creating TargetHandle
  src/backend/base/langflow/graph/edge/base.py
  src/backend/tests/unit/graph/edge/test_edge_base.py
Labels: bug, size:M, lgtm

#3389 docs: auto saving
  docs/docs/Configuration/configuration-auto-saving.md
  docs/docs/Configuration/configuration-cli.md
  docs/docs/Configuration/flow-saved.png
  docs/docs/Configuration/flow-saving.png
  docs/docs/Configuration/flow-unsaved.png
  docs/docs/Configuration/manual-save-button.png
  docs/docs/Configuration/saving-header.png
  docs/yarn.lock
Labels: documentation, size:L, lgtm

#3387 test: Fix assertion in test_get_vertices function.
  src/backend/tests/test_endpoints.py
Labels: size:XS, lgtm, test

#3384 fix: auto save ui and env var
  src/frontend/src/components/headerComponent/components/menuBar/index.tsx
  src/frontend/src/components/headerComponent/index.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/hooks/flows/use-add-flow.ts
  src/frontend/src/hooks/flows/use-autosave-flow.ts
  src/frontend/src/modals/confirmationModal/index.tsx
  src/frontend/src/modals/flowSettingsModal/index.tsx
  src/frontend/src/modals/saveChangesModal/index.tsx
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/style/applies.css
  src/frontend/src/types/components/index.ts
  src/frontend/vite.config.mts
Labels: bug, size:L, lgtm

#3388 ci: allow specifying python versions and limit ci to 3.10 only
  .github/workflows/ci.yml
  .github/workflows/python_test.yml
Labels: size:S, lgtm

#3386 feat: add auto_save option to Settings and CLI
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/langflow/utils/util.py
Labels: enhancement, size:S, lgtm

#3392 fix: makes outputs be correctly retrieved from edge
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/graph/vertex/types.py
Labels: bug, size:S, lgtm

#3366 fix: Handle KeyError in template parameter mapping and suggest closest match if not found
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/utils/util.py
Labels: bug, size:S, lgtm

#3369 feat: add starter project graphs
  src/backend/base/langflow/initial_setup/load.py
  src/backend/base/langflow/initial_setup/starter_projects/__init__.py
  src/backend/base/langflow/initial_setup/starter_projects/basic_prompting.py
  src/backend/base/langflow/initial_setup/starter_projects/blog_writer.py
  src/backend/base/langflow/initial_setup/starter_projects/complex_agent.py
  src/backend/base/langflow/initial_setup/starter_projects/document_qa.py
  src/backend/base/langflow/initial_setup/starter_projects/hierarchical_tasks_agent.py
  src/backend/base/langflow/initial_setup/starter_projects/memory_chatbot.py
  src/backend/base/langflow/initial_setup/starter_projects/sequential_tasks_agent.py
  src/backend/base/langflow/initial_setup/starter_projects/vector_store_rag.py
  src/backend/tests/unit/test_data_components.py
Labels: enhancement, size:XL, lgtm

#3396 fix: adds credentials fields in Vectara RAG component
  src/backend/base/langflow/components/vectorstores/vectara_rag.py
Labels: bug, size:M, lgtm

#3395 fix: auto saving config
  src/frontend/src/App.tsx
  src/frontend/src/components/headerComponent/components/menuBar/index.tsx
  src/frontend/src/controllers/API/helpers/constants.ts
  src/frontend/src/controllers/API/queries/config/use-get-config.ts
  src/frontend/src/hooks/flows/use-autosave-flow.ts
  src/frontend/src/hooks/use-save-config.ts
  src/frontend/src/modals/flowSettingsModal/index.tsx
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/stores/flowsManagerStore.ts
  src/frontend/src/types/zustand/flowsManager/index.ts
  src/frontend/vite.config.mts
Labels: bug, size:L, lgtm

#3391 tests: Categorize Tests into CI and Scheduled Groups
  .github/workflows/ci.yml
  .github/workflows/typescript_test.yml
  src/frontend/tests/end-to-end/filterEdge-shard-0.spec.ts
  src/frontend/tests/end-to-end/filterSidebar.spec.ts
  src/frontend/tests/end-to-end/globalVariables.spec.ts
  src/frontend/tests/scheduled-end-to-end/actionsMainPage-shard-0.spec.ts
  src/frontend/tests/scheduled-end-to-end/autoLogin.spec.ts
  src/frontend/tests/scheduled-end-to-end/chatInputOutput.spec.ts
  src/frontend/tests/scheduled-end-to-end/chatInputOutputUser-shard-1.spec.ts
  src/frontend/tests/scheduled-end-to-end/chatInputOutputUser-shard-2.spec.ts
  src/frontend/tests/scheduled-end-to-end/codeAreaModalComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/curlApiGeneration.spec.ts
  src/frontend/tests/scheduled-end-to-end/deleteComponents.spec.ts
  src/frontend/tests/scheduled-end-to-end/deleteFlows.spec.ts
  src/frontend/tests/scheduled-end-to-end/dragAndDrop.spec.ts
  src/frontend/tests/scheduled-end-to-end/dropdownComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/fileUploadComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/filterEdge-shard-1.spec.ts
  src/frontend/tests/scheduled-end-to-end/floatComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/flowPage.spec.ts
  src/frontend/tests/scheduled-end-to-end/flowSettings.spec.ts
  src/frontend/tests/scheduled-end-to-end/generalBugs-shard-0.spec.ts
  src/frontend/tests/scheduled-end-to-end/generalBugs-shard-1.spec.ts
  src/frontend/tests/scheduled-end-to-end/generalBugs-shard-10.spec.ts
  src/frontend/tests/scheduled-end-to-end/generalBugs-shard-2.spec.ts
  src/frontend/tests/scheduled-end-to-end/generalBugs-shard-3.spec.ts
  src/frontend/tests/scheduled-end-to-end/generalBugs-shard-6.spec.ts
  src/frontend/tests/scheduled-end-to-end/generalBugs-shard-7.spec.ts
  src/frontend/tests/scheduled-end-to-end/generalBugs-shard-8.spec.ts
  src/frontend/tests/scheduled-end-to-end/inputComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/intComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/langflowShortcuts.spec.ts
  src/frontend/tests/scheduled-end-to-end/promptModalComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/pythonApiGeneration.spec.ts
  src/frontend/tests/scheduled-end-to-end/store-shard-0.spec.ts
  src/frontend/tests/scheduled-end-to-end/store-shard-1.spec.ts
  src/frontend/tests/scheduled-end-to-end/store-shard-3.spec.ts
  src/frontend/tests/scheduled-end-to-end/textAreaModalComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/toggleComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/twoEdges.spec.ts
  src/frontend/tests/scheduled-end-to-end/userSettings.spec.ts
  src/frontend/tsconfig.json
Labels: size:M, lgtm

#3364 tests: add test to stop building feature
  src/frontend/src/CustomNodes/hooks/use-icons-status.tsx
  src/frontend/src/components/headerComponent/components/menuBar/index.tsx
  src/frontend/tests/end-to-end/stop-building.spec.ts
Labels: enhancement, size:L, lgtm

#3353 refactor: Update lazy loading imports in routes.tsx
  src/frontend/src/routes.tsx
Labels: javascript, size:M, lgtm, refactor

#3399 refactor: add use-download-files hook for downloading files on chat
  src/frontend/src/controllers/API/queries/files/index.ts
  src/frontend/src/controllers/API/queries/files/use-download-files.ts
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/components/fileCardWrapper/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/fileComponent/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/fileComponent/utils/handle-download.tsx
  src/frontend/src/modals/IOModal/components/chatView/index.tsx
  src/frontend/src/types/components/index.ts
Labels: size:L, lgtm, refactor

#3365 tests: add freeze component feature test
  src/frontend/tests/end-to-end/freeze.spec.ts
Labels: enhancement, size:L, lgtm

#3411 feat: add function to create input schema from component inputs
  src/backend/base/langflow/io/schema.py
  src/backend/tests/unit/io/test_io_schema.py
Labels: enhancement, size:L, lgtm

#3412 feat: add ComponentTool to support converting Component to Tool
  src/backend/base/langflow/base/tools/component_tool.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/tests/unit/base/tools/test_component_tool.py
  src/backend/tests/unit/custom/component/test_component_to_tool.py
Labels: enhancement, python, size:L, lgtm

#3428 tests: Add Tests for New Auto-Saving Feature
  src/frontend/src/components/headerComponent/components/menuBar/index.tsx
  src/frontend/tests/scheduled-end-to-end/auto-save-off.spec.ts
Labels: javascript, size:L, lgtm

#3433 fix: Remove unnecessary error return when all components are erased from a flow
  src/frontend/src/hooks/flows/use-save-flow.ts
Labels: bug, size:XS, lgtm

#3432 fix: Fix api_key missing error when adding a flow in ComposIO + tests
  src/backend/base/langflow/components/toolkits/ComposioAPI.py
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/tests/scheduled-end-to-end/generalBugs-shard-11.spec.ts
Labels: bug, size:L, lgtm

#3429 tests: Reduce Timeout on Tests for Basic Examples Modal
  src/frontend/tests/end-to-end/Basic Prompting.spec.ts
  src/frontend/tests/end-to-end/Blog Writer.spec.ts
  src/frontend/tests/end-to-end/Complex Agent.spec.ts
  src/frontend/tests/end-to-end/Document QA.spec.ts
  src/frontend/tests/end-to-end/Hierarchical Tasks Agent.spec.ts
  src/frontend/tests/end-to-end/Memory Chatbot.spec.ts
  src/frontend/tests/end-to-end/Sequential Tasks Agent.spec.ts
  src/frontend/tests/end-to-end/Vector Store.spec.ts
  src/frontend/tests/end-to-end/actionsMainPage-shard-1.spec.ts
  src/frontend/tests/end-to-end/chatInputOutputUser-shard-0.spec.ts
  src/frontend/tests/end-to-end/decisionFlow.spec.ts
  src/frontend/tests/end-to-end/filterEdge-shard-0.spec.ts
  src/frontend/tests/end-to-end/filterSidebar.spec.ts
  src/frontend/tests/end-to-end/folders.spec.ts
  src/frontend/tests/end-to-end/freeze-path.spec.ts
  src/frontend/tests/end-to-end/freeze.spec.ts
  src/frontend/tests/end-to-end/generalBugs-shard-4.spec.ts
  src/frontend/tests/end-to-end/generalBugs-shard-5.spec.ts
  src/frontend/tests/end-to-end/generalBugs-shard-9.spec.ts
  src/frontend/tests/end-to-end/globalVariables.spec.ts
  src/frontend/tests/end-to-end/inputListComponent.spec.ts
  src/frontend/tests/end-to-end/keyPairListComponent.spec.ts
  src/frontend/tests/end-to-end/logs.spec.ts
  src/frontend/tests/end-to-end/nestedComponent.spec.ts
  src/frontend/tests/end-to-end/saveComponents.spec.ts
  src/frontend/tests/end-to-end/stop-building.spec.ts
  src/frontend/tests/end-to-end/store-shard-2.spec.ts
  src/frontend/tests/end-to-end/textInputOutput.spec.ts
  src/frontend/tests/end-to-end/tweaksTest.spec.ts
  src/frontend/tests/scheduled-end-to-end/actionsMainPage-shard-0.spec.ts
  src/frontend/tests/scheduled-end-to-end/chatInputOutput.spec.ts
  src/frontend/tests/scheduled-end-to-end/chatInputOutputUser-shard-1.spec.ts
  src/frontend/tests/scheduled-end-to-end/chatInputOutputUser-shard-2.spec.ts
  src/frontend/tests/scheduled-end-to-end/codeAreaModalComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/curlApiGeneration.spec.ts
  src/frontend/tests/scheduled-end-to-end/dragAndDrop.spec.ts
  src/frontend/tests/scheduled-end-to-end/dropdownComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/fileUploadComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/filterEdge-shard-1.spec.ts
  src/frontend/tests/scheduled-end-to-end/floatComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/flowPage.spec.ts
  src/frontend/tests/scheduled-end-to-end/flowSettings.spec.ts
  src/frontend/tests/scheduled-end-to-end/generalBugs-shard-0.spec.ts
  src/frontend/tests/scheduled-end-to-end/generalBugs-shard-1.spec.ts
  src/frontend/tests/scheduled-end-to-end/generalBugs-shard-10.spec.ts
  src/frontend/tests/scheduled-end-to-end/generalBugs-shard-2.spec.ts
  src/frontend/tests/scheduled-end-to-end/generalBugs-shard-3.spec.ts
  src/frontend/tests/scheduled-end-to-end/generalBugs-shard-6.spec.ts
  src/frontend/tests/scheduled-end-to-end/generalBugs-shard-7.spec.ts
  src/frontend/tests/scheduled-end-to-end/generalBugs-shard-8.spec.ts
  src/frontend/tests/scheduled-end-to-end/inputComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/intComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/langflowShortcuts.spec.ts
  src/frontend/tests/scheduled-end-to-end/promptModalComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/pythonApiGeneration.spec.ts
  src/frontend/tests/scheduled-end-to-end/textAreaModalComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/toggleComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/twoEdges.spec.ts
  src/frontend/tests/scheduled-end-to-end/userSettings.spec.ts
Labels: size:M, lgtm

#3385 fix: remove json_mode and output_schema
  src/backend/base/langflow/components/models/AIMLModel.py
Labels: bug, size:S, lgtm

#3351 feat: Add Perplexity Models Component
  src/backend/base/langflow/components/models/PerplexityModel.py
  src/backend/base/langflow/components/models/__init__.py
  src/frontend/package-lock.json
  src/frontend/src/icons/Perplexity/Perplexity.jsx
  src/frontend/src/icons/Perplexity/index.tsx
  src/frontend/src/icons/Perplexity/perplexity.svg
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, size:L, lgtm

#3437 tests: improve tests removing unnecessary timeouts and decreasing some
  src/frontend/src/components/pageLayout/index.tsx
  src/frontend/tests/end-to-end/Basic Prompting.spec.ts
  src/frontend/tests/end-to-end/Blog Writer.spec.ts
  src/frontend/tests/end-to-end/Complex Agent.spec.ts
  src/frontend/tests/end-to-end/Document QA.spec.ts
  src/frontend/tests/end-to-end/Hierarchical Tasks Agent.spec.ts
  src/frontend/tests/end-to-end/Memory Chatbot.spec.ts
  src/frontend/tests/end-to-end/Sequential Tasks Agent.spec.ts
  src/frontend/tests/end-to-end/Vector Store.spec.ts
  src/frontend/tests/end-to-end/actionsMainPage-shard-1.spec.ts
  src/frontend/tests/end-to-end/decisionFlow.spec.ts
  src/frontend/tests/end-to-end/filterEdge-shard-0.spec.ts
  src/frontend/tests/end-to-end/filterSidebar.spec.ts
  src/frontend/tests/end-to-end/folders.spec.ts
  src/frontend/tests/end-to-end/freeze-path.spec.ts
  src/frontend/tests/end-to-end/freeze.spec.ts
  src/frontend/tests/end-to-end/generalBugs-shard-4.spec.ts
  src/frontend/tests/end-to-end/globalVariables.spec.ts
  src/frontend/tests/end-to-end/group.spec.ts
  src/frontend/tests/end-to-end/keyPairListComponent.spec.ts
  src/frontend/tests/end-to-end/logs.spec.ts
  src/frontend/tests/end-to-end/nestedComponent.spec.ts
  src/frontend/tests/end-to-end/saveComponents.spec.ts
  src/frontend/tests/end-to-end/store-shard-2.spec.ts
  src/frontend/tests/end-to-end/textInputOutput.spec.ts
  src/frontend/tests/end-to-end/tweaksTest.spec.ts
  src/frontend/tests/scheduled-end-to-end/actionsMainPage-shard-0.spec.ts
  src/frontend/tests/scheduled-end-to-end/auto-save-off.spec.ts
  src/frontend/tests/scheduled-end-to-end/chatInputOutput.spec.ts
  src/frontend/tests/scheduled-end-to-end/chatInputOutputUser-shard-1.spec.ts
  src/frontend/tests/scheduled-end-to-end/chatInputOutputUser-shard-2.spec.ts
  src/frontend/tests/scheduled-end-to-end/codeAreaModalComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/curlApiGeneration.spec.ts
  src/frontend/tests/scheduled-end-to-end/deleteComponents.spec.ts
  src/frontend/tests/scheduled-end-to-end/deleteFlows.spec.ts
  src/frontend/tests/scheduled-end-to-end/dropdownComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/fileUploadComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/filterEdge-shard-1.spec.ts
  src/frontend/tests/scheduled-end-to-end/floatComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/flowPage.spec.ts
  src/frontend/tests/scheduled-end-to-end/flowSettings.spec.ts
  src/frontend/tests/scheduled-end-to-end/generalBugs-shard-0.spec.ts
  src/frontend/tests/scheduled-end-to-end/generalBugs-shard-1.spec.ts
  src/frontend/tests/scheduled-end-to-end/generalBugs-shard-11.spec.ts
  src/frontend/tests/scheduled-end-to-end/generalBugs-shard-2.spec.ts
  src/frontend/tests/scheduled-end-to-end/generalBugs-shard-3.spec.ts
  src/frontend/tests/scheduled-end-to-end/generalBugs-shard-8.spec.ts
  src/frontend/tests/scheduled-end-to-end/inputComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/intComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/promptModalComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/pythonApiGeneration.spec.ts
  src/frontend/tests/scheduled-end-to-end/store-shard-0.spec.ts
  src/frontend/tests/scheduled-end-to-end/store-shard-1.spec.ts
  src/frontend/tests/scheduled-end-to-end/store-shard-3.spec.ts
  src/frontend/tests/scheduled-end-to-end/toggleComponent.spec.ts
  src/frontend/tests/scheduled-end-to-end/twoEdges.spec.ts
  src/frontend/tests/scheduled-end-to-end/userSettings.spec.ts
Labels: size:L, lgtm

#3436 fix: remove autosize on textArea inside nodes
  src/frontend/src/components/textAreaComponent/index.tsx
Labels: bug, size:XS, lgtm

#3308 feat: Add Unstructured Component to Document Loaders
  src/backend/base/langflow/components/documentloaders/Unstructured.py
  src/backend/base/langflow/components/documentloaders/__init__.py
Labels: enhancement, size:M, lgtm

#3370 feat: add endpoint to get starter projects
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/v1/__init__.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/starter_projects.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/tests/test_endpoints.py
Labels: enhancement, size:M, lgtm

#3430 test: Add client fixture override for runnable vertices manager unit test.
  src/backend/tests/unit/graph/graph/test_runnable_vertices_manager.py
Labels: python, size:XS, lgtm, test

#3323 fix: correct indentation issue in PythonCodeStructuredTool and correct type for int and float inputs when updating custom component
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/components/prototypes/CreateData.py
  src/backend/base/langflow/components/tools/PythonCodeStructuredTool.py
  src/backend/base/langflow/components/tools/SearXNGTool.py
Labels: bug, python, size:M, lgtm

#3446 fix: update type extraction to extract inner types correctly
  src/backend/base/langflow/custom/custom_component/custom_component.py
  src/backend/base/langflow/initial_setup/starter_projects/Complex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Hierarchical Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Agent.json
  src/backend/base/langflow/type_extraction/type_extraction.py
  src/backend/tests/test_schema.py
Labels: bug, size:M, lgtm

#3448 chore: lock boto3 version and update langchain versions
  poetry.lock
  pyproject.toml
Labels: size:XS, lgtm, ignore-for-release

#3450 Fix node size in nodeComponent
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
Labels: bug, size:S, lgtm

#3451 docs: Added Spanish README
  README.ES.md
  README.KR.md
  README.PT.md
  README.ja.md
  README.md
  README.zh_CN.md
Labels: documentation, size:L, lgtm

#3403 feat: nltk text splitter support
  src/backend/base/langflow/components/textsplitters/NaturalLanguageTextSplitter.py
  src/backend/base/langflow/components/textsplitters/__init__.py
Labels: enhancement, size:M, lgtm

#3413 test(astra): Refactor AstraDB imports in test_astra_component
  src/backend/tests/integration/astra/test_astra_component.py
Labels: size:S, lgtm, test

#3457 fix: move css class for improve of the UI/UX
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
Labels: bug, javascript, size:XS, lgtm

#3449 feat: update sequential tasks agent starter project
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/sequential_tasks_agent.py
Labels: enhancement, size:M, lgtm

#3367 refactor: improve attribute compatibility and error messages
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/tests/unit/custom/custom_component/test_component.py
Labels: size:M, lgtm, refactor

#3469 refactor: add code validation functionality on tanstack mutation
  src/frontend/src/controllers/API/helpers/constants.ts
  src/frontend/src/controllers/API/index.ts
  src/frontend/src/controllers/API/queries/nodes/use-post-validate-code.ts
  src/frontend/src/modals/codeAreaModal/index.tsx
  src/frontend/src/types/api/index.ts
Labels: size:L, lgtm, refactor

#3470 refactor: component code validation
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/controllers/API/index.ts
  src/frontend/src/controllers/API/queries/nodes/use-post-validate-component-code.ts
  src/frontend/src/modals/codeAreaModal/index.tsx
  src/frontend/src/utils/parameterUtils.ts
Labels: size:L, lgtm, refactor
