Repository langflow-ai/langflow, pull requests merged in 2024-05, with the labels that each got.

#1817 Refactor store_message function and add StoreMessageComponent
  src/backend/base/langflow/base/io/chat.py
  src/backend/base/langflow/components/experimental/StoreMessage.py
  src/backend/base/langflow/memory.py
Labels: python, size:L

#1825 Feature/UI table
  src/backend/base/langflow/alembic/versions/1f4d6df60295_add_default_fields_column.py
  src/backend/base/langflow/alembic/versions/c153816fd85f_set_name_and_value_to_not_nullable.py
  src/backend/base/langflow/api/v1/variable.py
  src/backend/base/langflow/components/models/AzureOpenAIModel.py
  src/backend/base/langflow/components/models/ChatLiteLLMModel.py
  src/backend/base/langflow/schema/schema.py
  src/backend/base/langflow/services/database/models/variable/model.py
  src/backend/base/langflow/services/variable/service.py
  src/frontend/.prettierignore
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/App.tsx
  src/frontend/src/components/addNewVariableButtonComponent/addNewVariableButton.tsx
  src/frontend/src/components/dropdownComponent/index.tsx
  src/frontend/src/components/gradientChooserComponent/index.tsx
  src/frontend/src/components/headerComponent/index.tsx
  src/frontend/src/components/inputComponent/index.tsx
  src/frontend/src/components/inputGlobalComponent/index.tsx
  src/frontend/src/components/tableComponent/index.tsx
  src/frontend/src/controllers/API/index.ts
  src/frontend/src/pages/SettingsPage/index.tsx
  src/frontend/src/pages/SettingsPage/pages/GeneralPage/index.tsx
  src/frontend/src/pages/SettingsPage/pages/GlobalVariablesPage/index.tsx
  src/frontend/src/pages/SettingsPage/pages/ShortcutsPage/index.tsx
  src/frontend/src/routes.tsx
  src/frontend/src/stores/flowsManagerStore.ts
  src/frontend/src/stores/globalVariables.ts
  src/frontend/src/stores/typesStore.ts
  src/frontend/src/style/ag-theme-shadcn.css
  src/frontend/src/types/components/index.ts
  src/frontend/src/types/zustand/globalVariables/index.ts
  src/frontend/src/types/zustand/types/index.ts
  src/frontend/src/utils/reactflowUtils.ts
  src/frontend/src/utils/styleUtils.ts
  src/frontend/src/utils/utils.ts
Labels: size:XXL

#1826 Feature/UI settings
  src/frontend/src/pages/SettingsPage/pages/GeneralPage/index.tsx
Labels: size:XS

#1828 Fix custom_repr assignment in instantiate_custom_component function
  src/backend/base/langflow/interface/initialize/loading.py
Labels: bug, size:XS

#1827 Refactor store_message function and add Simple Git Hooks
  .pre-commit-config.yaml
  Makefile
  poetry.lock
  pyproject.toml
  scripts/setup/update_poetry.sh
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: size:L

#1832 Add headers to API Request component
  src/backend/base/langflow/components/data/APIRequest.py
Labels: python, size:XS

#1833 Fix mark_branch function and refactor build_and_cache_graph_from_db function
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/components/data/APIRequest.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/services/store/service.py
  src/frontend/src/utils/buildUtils.ts
  tests/test_endpoints.py
Labels: bug, python, size:M, lgtm

#1839 Bugs - Global Variables
  src/frontend/src/components/addNewVariableButtonComponent/addNewVariableButton.tsx
  src/frontend/src/components/inputComponent/index.tsx
  src/frontend/src/components/tableComponent/index.tsx
  src/frontend/src/pages/SettingsPage/pages/GlobalVariablesPage/index.tsx
  src/frontend/src/pages/SettingsPage/pages/ShortcutsPage/index.tsx
Labels: bug, size:L, lgtm

#1816 [Docs] - Install issues, spaces, and feedback
  docs/docs/getting-started/huggingface-spaces.mdx
  docs/docs/getting-started/install-langflow.mdx
  docs/docs/getting-started/quickstart.mdx
  docs/docs/index.mdx
  docs/docs/migration/possible-installation-issues.mdx
  docs/docs/starter-projects/basic-prompting.mdx
  docs/docs/starter-projects/blog-writer.mdx
  docs/docs/starter-projects/document-qa.mdx
  docs/docs/starter-projects/memory-chatbot.mdx
  docs/sidebars.js
Labels: documentation, size:L, lgtm

#1834 Update VertexAIEmbeddings.py
  src/backend/base/langflow/components/embeddings/VertexAIEmbeddings.py
Labels: python, size:XS, lgtm

#1842 Refactor: Disable AgGridReact table resize option
  src/frontend/src/pages/SettingsPage/pages/ShortcutsPage/index.tsx
Labels: javascript, size:S

#1843 Refactor: change action key based on user OS
  src/frontend/src/pages/SettingsPage/pages/ShortcutsPage/index.tsx
Labels: javascript, size:S

#1845 "Refactor: Add playground check before opening"
  src/frontend/src/components/cardComponent/index.tsx
Labels: javascript, size:M, lgtm

#1854 Update langchain-pinecone dependency and add Pinecone API key
  docs/docs/migration/global-variables.mdx
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/components/vectorsearch/PineconeSearch.py
  src/backend/base/langflow/components/vectorstores/Pinecone.py
  src/backend/base/langflow/services/settings/constants.py
  src/frontend/src/components/codeTabsComponent/index.tsx
  src/frontend/src/customNodes/genericNode/components/parameterComponent/index.tsx
  src/frontend/src/modals/editNodeModal/index.tsx
Labels: python, size:L

#1856 Fixes Pinecone implementation
  poetry.lock
  pyproject.toml
  src/backend/langflow/components/vectorstores/Pinecone.py
Labels: Release, python, size:L

#1853 Add GroqLogo and GroqIcon components
  docs/docs/migration/global-variables.mdx
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/alembic/versions/6e7b581b5648_fix_nullable.py
  src/backend/base/langflow/base/models/groq_constants.py
  src/backend/base/langflow/components/model_specs/GroqModelSpecs.py
  src/backend/base/langflow/components/models/GroqModel.py
  src/backend/base/langflow/services/settings/constants.py
  src/backend/base/poetry.lock
  src/frontend/package.json
  src/frontend/src/icons/Groq/GroqLogo.jsx
  src/frontend/src/icons/Groq/GroqLogo.svg
  src/frontend/src/icons/Groq/index.tsx
  src/frontend/src/utils/styleUtils.ts
Labels: javascript, python, size:L

#1850 [Docs] - Vector Store RAG Starter Flow
  docs/docs/starter-projects/vector-store-rag.mdx
  docs/sidebars.js
  docs/static/data/AstraDB-RAG-Flows.json
  docs/static/img/vector-store-rag.png
  src/backend/base/langflow/initial_setup/starter_projects/VectorStore-RAG-Flows.json
Labels: documentation, size:L, lgtm

#1852 [Docs] - Cleanup Components Folder
  docs/docs/components/agents.mdx
  docs/docs/components/chains.mdx
  docs/docs/components/custom.mdx
  docs/docs/components/data.mdx
  docs/docs/components/embeddings.mdx
  docs/docs/components/experimental.mdx
  docs/docs/components/helpers.mdx
  docs/docs/components/inputs.mdx
  docs/docs/components/memories.mdx
  docs/docs/components/model_specs.mdx
  docs/docs/components/outputs.mdx
  docs/docs/components/prompts.mdx
  docs/docs/components/retrievers.mdx
  docs/docs/components/text-splitters.mdx
  docs/docs/components/tools.mdx
  docs/docs/components/utilities.mdx
  docs/docs/components/vector-stores.mdx
Labels: documentation, size:XXL, lgtm

#1858 ✨ (openai_constants.py): add a new file to define constant MODEL_NAMES for OpenAI models
  src/backend/base/langflow/base/models/openai_constants.py
  src/backend/base/langflow/components/helpers/IDGenerator.py
  src/backend/base/langflow/components/model_specs/ChatOpenAISpecs.py
  src/backend/base/langflow/components/models/OpenAIModel.py
Labels: enhancement, python, size:M

#1829 Refactor TextOperatorComponent to include true_output parameter
  src/backend/base/langflow/components/experimental/Pass.py
  src/backend/base/langflow/components/experimental/TextOperator.py
Labels: enhancement, python, size:M, lgtm

#1836 Refactor SplitText
  src/backend/base/langflow/base/models/model.py
  src/backend/base/langflow/components/experimental/SplitText.py
  src/backend/base/langflow/components/helpers/SplitText.py
Labels: python, size:L

#1844 Update ZepMessageReader and ZepMessageWriter to avoid 404 error
  src/backend/base/langflow/components/memories/ZepMessageReader.py
  src/backend/base/langflow/components/memories/ZepMessageWriter.py
Labels: python, size:M

#1848 fix state error when is debouncing changes on integers inputs
  src/frontend/src/customNodes/genericNode/components/parameterComponent/index.tsx
  src/frontend/src/utils/parameterUtils.ts
  src/frontend/tests/end-to-end/chatInputOutput.spec.ts
  src/frontend/tests/end-to-end/dragAndDrop.spec.ts
Labels: bug, documentation, enhancement, size:M, lgtm

#1838 [Docs] How to contribute components
  docs/docs/contributing/contribute-component.md
  docs/sidebars.js
  docs/static/img/add-component-to-store.png
Labels: documentation, size:M

#1865 Added MistralAI LLM and Embedding
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/components/embeddings/MistalAIEmbeddings.py
  src/backend/base/langflow/components/model_specs/ChatMistralSpecs.py
  src/backend/base/langflow/components/models/MistralModel.py
Labels: python, size:L, lgtm

#1873 Add support for Python 3.12
  .github/workflows/lint.yml
  .github/workflows/python_test.yml
  .github/workflows/typescript_test.yml
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/langflow/base/data/utils.py
  src/backend/base/langflow/components/agents/SQLAgent.py
  src/backend/base/langflow/components/experimental/SQLExecutor.py
  src/backend/base/langflow/components/model_specs/BaiduQianfanLLMEndpointsSpecs.py
  src/backend/base/langflow/components/model_specs/ChatMistralSpecs.py
  src/backend/base/langflow/components/model_specs/HuggingFaceEndpointsSpecs.py
  src/backend/base/langflow/components/models/MistralModel.py
  src/backend/base/langflow/config.yaml
  src/backend/base/langflow/graph/graph/constants.py
  src/backend/base/langflow/graph/vertex/types.py
  src/backend/base/langflow/interface/agents/custom.py
  src/backend/base/langflow/interface/custom_lists.py
  src/backend/base/langflow/interface/importing/utils.py
  src/backend/base/langflow/interface/initialize/loading.py
  src/backend/base/langflow/interface/output_parsers/__init__.py
  src/backend/base/langflow/interface/output_parsers/base.py
  src/backend/base/langflow/interface/types.py
  src/backend/base/langflow/interface/utils.py
  src/backend/base/langflow/services/auth/utils.py
  src/backend/base/langflow/services/database/models/flow/model.py
  src/backend/base/langflow/services/database/models/user/model.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/langflow/settings.py
  src/backend/base/langflow/template/field/prompt.py
  src/backend/base/langflow/template/frontend_node/custom_components.py
  src/backend/base/langflow/template/frontend_node/output_parsers.py
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
Labels: enhancement, python, size:L

#1847 Migrate Tweaks Module to Zustand Library and Add All Flows
  src/frontend/src/components/accordionComponent/index.tsx
  src/frontend/src/components/chatComponent/index.tsx
  src/frontend/src/components/codeTabsComponent/index.tsx
  src/frontend/src/modals/apiModal/index.tsx
  src/frontend/src/modals/apiModal/utils/build-content.tsx
  src/frontend/src/modals/apiModal/utils/build-tweaks.ts
  src/frontend/src/modals/apiModal/utils/check-can-build-tweak-object.ts
  src/frontend/src/modals/apiModal/utils/get-changes-types.ts
  src/frontend/src/modals/apiModal/utils/get-nodes-with-default-value.ts
  src/frontend/src/modals/apiModal/utils/get-value.ts
  src/frontend/src/modals/apiModal/views/index.tsx
  src/frontend/src/stores/tweaksStore.ts
  src/frontend/src/types/components/index.ts
  src/frontend/src/types/zustand/tweaks/index.ts
  src/frontend/src/utils/reactflowUtils.ts
  src/frontend/src/utils/utils.ts
  src/frontend/tests/end-to-end/tweaks_test.spec.ts
Labels: enhancement, javascript, size:XXL, lgtm

#1875 refactor: Improve variable creation logic in VariableService
  src/backend/base/langflow/services/variable/service.py
Labels: size:S

#1884 Add gpt-4o model
  src/backend/base/langflow/base/models/openai_constants.py
  src/backend/base/langflow/components/model_specs/ChatOpenAISpecs.py
  src/backend/base/langflow/components/models/OpenAIModel.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, world!).json
  src/backend/base/langflow/initial_setup/starter_projects/Langflow Blog Writter.json
  src/backend/base/langflow/initial_setup/starter_projects/Langflow Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Langflow Memory Conversation.json
  src/backend/base/langflow/initial_setup/starter_projects/Langflow Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/VectorStore-RAG-Flows.json
  src/backend/base/langflow/utils/constants.py
Labels: size:M

#1859 Fix duplicate group bug
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/utils/reactflowUtils.ts
Labels: bug, javascript, size:L

#1896 add export flow on API modal and fix .env bug
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/services/variable/service.py
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
  src/frontend/src/components/codeTabsComponent/index.tsx
Labels: bug, pre-release, size:S, lgtm

#1900 Fixed Undo bug when adding edge to input with text
  src/frontend/src/components/codeAreaComponent/index.tsx
  src/frontend/src/components/floatComponent/index.tsx
  src/frontend/src/components/inputComponent/index.tsx
  src/frontend/src/components/inputFileComponent/index.tsx
  src/frontend/src/components/inputGlobalComponent/index.tsx
  src/frontend/src/components/intComponent/index.tsx
  src/frontend/src/components/promptComponent/index.tsx
  src/frontend/src/components/textAreaComponent/index.tsx
  src/frontend/src/customNodes/genericNode/components/parameterComponent/index.tsx
  src/frontend/src/types/components/index.ts
Labels: bug, javascript, size:M, lgtm

#1878 Refactor: Disable group button when its not possible to group
  src/frontend/src/icons/GradientSparkles/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/SelectionMenuComponent/index.tsx
Labels: javascript, size:M, lgtm

#1907 Changes default location for the database and adds the option to use the previous behavior
  .env.example
  src/backend/.gitignore
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/langflow/services/settings/service.py
  tests/test_template.py
Labels: enhancement, python, size:L, lgtm

#1908 Upgrade Python base image to 3.12 and add gcc as dependency
  build_and_push.Dockerfile
  build_and_push_base.Dockerfile
Labels: enhancement, size:M

#1912 feat: Add get_final_results_only parameter to build_records_from_result_data method
  src/backend/base/langflow/components/experimental/SubFlow.py
Labels: size:S

#1885 [Docs] - Global environment variables
  docs/docs/administration/global-env.mdx
  docs/sidebars.js
  docs/static/img/global-env.png
Labels: documentation, size:M

#1891 [Docs] - Playground
  docs/docs/administration/global-env.mdx
  docs/docs/administration/playground.mdx
  docs/sidebars.js
  docs/static/img/playground-chat.png
Labels: documentation, size:M

#1917 Fix visited set bug in Graph class and refactor GenericNode component
  src/backend/base/langflow/graph/graph/base.py
  src/frontend/src/customNodes/genericNode/index.tsx
  src/frontend/src/stores/flowStore.ts
Labels: bug, enhancement, javascript, python, size:M

#1921 Fix fallback to environment variables in loading.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/interface/initialize/loading.py
  src/backend/base/langflow/processing/load.py
  src/backend/base/langflow/processing/process.py
  src/backend/base/langflow/services/settings/base.py
Labels: bug, documentation, size:M

#1918 "Fix allowExport prop in CodeTabsComponent and ApiModal"
  src/frontend/src/components/codeTabsComponent/index.tsx
  src/frontend/src/modals/apiModal/views/index.tsx
  src/frontend/src/types/components/index.ts
  src/frontend/src/utils/reactflowUtils.ts
Labels: bug, javascript, size:M, lgtm

#1893 Fix AWS deployment
  scripts/aws/lib/construct/db.ts
  scripts/aws/package-lock.json
  scripts/aws/package.json
Labels: size:M, lgtm

#1922 Format code and update langflow version
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/base/io/chat.py
  src/backend/base/langflow/base/memory/memory.py
  src/backend/base/langflow/components/embeddings/MistalAIEmbeddings.py
  src/backend/base/langflow/components/experimental/Pass.py
  src/backend/base/langflow/components/experimental/StoreMessage.py
  src/backend/base/langflow/components/experimental/TextOperator.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/interface/initialize/vector_store.py
  src/backend/base/langflow/memory.py
  src/backend/base/langflow/processing/load.py
  src/backend/base/langflow/schema/schema.py
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
  src/frontend/package-lock.json
  src/frontend/src/components/ImageViewer/index.tsx
  src/frontend/src/components/accordionComponent/index.tsx
  src/frontend/src/components/addNewVariableButtonComponent/addNewVariableButton.tsx
  src/frontend/src/components/cardComponent/index.tsx
  src/frontend/src/components/chatComponent/index.tsx
  src/frontend/src/components/codeAreaComponent/index.tsx
  src/frontend/src/components/codeTabsComponent/index.tsx
  src/frontend/src/components/csvOutputComponent/helpers/convert-data-function.ts
  src/frontend/src/components/csvOutputComponent/index.tsx
  src/frontend/src/components/dropdownComponent/index.tsx
  src/frontend/src/components/inputComponent/index.tsx
  src/frontend/src/components/inputFileComponent/index.tsx
  src/frontend/src/components/inputGlobalComponent/index.tsx
  src/frontend/src/components/pdfViewer/Error/index.tsx
  src/frontend/src/components/tableComponent/index.tsx
  src/frontend/src/controllers/API/index.ts
  src/frontend/src/customNodes/genericNode/components/parameterComponent/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/index.tsx
  src/frontend/src/modals/IOModal/index.tsx
  src/frontend/src/modals/apiModal/utils/check-can-build-tweak-object.ts
  src/frontend/src/modals/apiModal/utils/get-changes-types.ts
  src/frontend/src/modals/apiModal/utils/get-nodes-with-default-value.ts
  src/frontend/src/modals/apiModal/utils/get-value.ts
  src/frontend/src/modals/baseModal/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/SelectionMenuComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/pages/Playground/index.tsx
  src/frontend/src/pages/SettingsPage/pages/GeneralPage/index.tsx
  src/frontend/src/pages/SettingsPage/pages/GlobalVariablesPage/index.tsx
  src/frontend/src/stores/flowsManagerStore.ts
  src/frontend/src/types/components/index.ts
  src/frontend/src/types/zustand/flow/index.ts
  src/frontend/src/types/zustand/globalVariables/index.ts
  src/frontend/src/utils/parameterUtils.ts
  src/frontend/src/utils/reactflowUtils.ts
  src/frontend/src/utils/storeUtils.ts
  tests/conftest.py
  tests/test_graph.py
Labels: javascript, python, size:L

#1916 refactor parametersComponent, editNodeModal and codeTabsComponent
  docs/docs/administration/global-env.mdx
  docs/docs/administration/playground.mdx
  docs/sidebars.js
  src/frontend/src/components/codeTabsComponent/index.tsx
  src/frontend/src/customNodes/genericNode/components/parameterComponent/index.tsx
  src/frontend/src/customNodes/genericNode/components/tooltipRenderComponent/index.tsx
  src/frontend/src/customNodes/hooks/use-fetch-data-on-mount.tsx
  src/frontend/src/customNodes/hooks/use-handle-new-value.tsx
  src/frontend/src/customNodes/hooks/use-handle-node-class.tsx
  src/frontend/src/customNodes/hooks/use-handle-refresh-buttons.tsx
  src/frontend/src/modals/editNodeModal/index.tsx
  src/frontend/src/shared/components/caseComponent/index.tsx
  src/frontend/src/types/components/index.ts
  src/frontend/src/utils/reactflowUtils.ts
  src/frontend/tests/end-to-end/deleteComponentFlows.spec.ts
  src/frontend/tests/end-to-end/nestedComponent.spec.ts
  src/frontend/tests/end-to-end/saveComponents.spec.ts
  src/frontend/tests/end-to-end/store.spec.ts
  src/frontend/tests/end-to-end/tweaks_test.spec.ts
Labels: javascript, size:XXL, lgtm

#1929 fix tweaks been displayed as an array
  src/frontend/src/modals/apiModal/views/index.tsx
  src/frontend/src/utils/utils.ts
Labels: bug, size:M, lgtm

#1937 fix gcp deployment script
  scripts/gcp/deploy_langflow_gcp.sh
Labels: bug, size:XS, lgtm

#1947 fix tweaks problem in curl
  pyproject.toml
  src/backend/base/pyproject.toml
  src/frontend/src/utils/utils.ts
Labels: bug, size:XS

#1949 Refactor import statements for OpenAI conversational agent
  src/backend/base/langflow/components/agents/OpenAIConversationalAgent.py
  src/backend/base/langflow/components/model_specs/ChatOpenAISpecs.py
Labels: python, size:XS

#1932 deps: remove unused dependency html2text (GPL3-0)
  poetry.lock
  pyproject.toml
Labels: size:XS

#1930 deps: remove pysrt dependency (GPL3.0)
  poetry.lock
  pyproject.toml
Labels: python, size:XS

#1931 deps: remove unused dependency msg-extract (GPL3.0)
  poetry.lock
  pyproject.toml
Labels: size:XS

#1928 backend: remove unsecure and unused endpoint /custom_component/reload
  src/backend/base/langflow/api/v1/endpoints.py
Labels: size:S

#1927 backend: validate flow_id on api
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/files.py
Labels: enhancement, size:M, lgtm

#1926 fix uncontrolled data used in path expression from /custom_component
  src/backend/base/langflow/api/utils.py
Labels: bug, size:XS, lgtm

#1954 Fixed global variables disappearing after refresh
  src/frontend/src/components/inputGlobalComponent/index.tsx
  src/frontend/src/pages/SettingsPage/pages/GlobalVariablesPage/index.tsx
  src/frontend/src/stores/globalVariables.ts
  src/frontend/src/types/zustand/globalVariables/index.ts
Labels: bug, size:S, lgtm

#1948 Minor documentation update
  docs/docs/tutorials/rag-with-astradb.mdx
  docs/static/img/astra-rag-flow-run.png
Labels: documentation, size:XS, lgtm

#1901 Add support for Couchbase vector store
  docs/docs/components/vector-stores.mdx
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/components/vectorsearch/CouchbaseSearch.py
  src/backend/base/langflow/components/vectorsearch/__init__.py
  src/backend/base/langflow/components/vectorstores/Couchbase.py
  src/backend/base/langflow/components/vectorstores/__init__.py
  src/frontend/src/icons/Couchbase/Couchbase.jsx
  src/frontend/src/icons/Couchbase/couchbase.svg
  src/frontend/src/icons/Couchbase/index.tsx
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, javascript, python, size:L

#1895 Feature: Updated Chat History for Astra DB
  src/backend/base/langflow/components/memories/AstraDBMessageReader.py
  src/backend/base/langflow/components/memories/AstraDBMessageWriter.py
Labels: enhancement, size:L, lgtm

#1952 Refactor: Make My Collection search input use the same component as Store input
  src/frontend/src/pages/MainPage/components/myCollectionComponent/components/headerTabsSearchComponent/index.tsx
  src/frontend/src/pages/MainPage/components/myCollectionComponent/components/inputSearchComponent/index.tsx
  src/frontend/src/pages/StorePage/index.tsx
Labels: javascript, size:L

#1959 Fix lint and tests
  poetry.lock
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/files.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/folders.py
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/langflow/components/agents/OpenAIConversationalAgent.py
  src/backend/base/langflow/components/model_specs/ChatOpenAISpecs.py
  src/backend/base/langflow/components/outputs/RecordsOutput.py
  src/backend/base/langflow/graph/edge/base.py
  src/backend/base/langflow/services/database/models/folder/model.py
  src/backend/base/langflow/services/database/models/folder/utils.py
  src/backend/base/langflow/services/monitor/service.py
  src/backend/base/poetry.lock
  tests/conftest.py
  tests/test_endpoints.py
  tests/test_initial_setup.py
Labels: python, size:L

#1961 Add fallback to environment variables in loading test
  docs/static/data/AstraDB-RAG-Flows.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, world!).json
  src/backend/base/langflow/initial_setup/starter_projects/Langflow Blog Writter.json
  src/backend/base/langflow/initial_setup/starter_projects/Langflow Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Langflow Memory Conversation.json
  src/backend/base/langflow/initial_setup/starter_projects/Langflow Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/VectorStore-RAG-Flows.json
  tests/test_loading.py
Labels: python, size:XXL

#1970 Update CLI command in docs
  docs/docs/administration/custom-component.mdx
  docs/docs/administration/langfuse_integration.mdx
Labels: documentation, size:XS, lgtm

#1960 Update deprecated pydantic validator
  src/backend/base/langflow/services/database/models/api_key/model.py
  src/backend/base/langflow/services/settings/auth.py
  src/backend/base/langflow/services/store/schema.py
Labels: enhancement, python, size:M, lgtm

#1975 Update settings attributes and remove config.yaml references
  README.md
  docs/docs/administration/cli.mdx
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/interface/listing.py
  src/backend/base/langflow/interface/utils.py
  src/backend/base/langflow/services/cache/factory.py
  src/backend/base/langflow/services/database/factory.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/plugins/langfuse_plugin.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/langflow/services/settings/manager.py
  src/backend/base/langflow/services/settings/service.py
  src/backend/base/langflow/services/storage/factory.py
  src/backend/base/langflow/services/storage/local.py
  src/backend/base/langflow/services/store/service.py
  src/backend/base/langflow/services/task/service.py
  src/backend/base/langflow/utils/util.py
  tests/test_cli.py
  tests/test_endpoints.py
Labels: python, size:L

#1969 [Docs] - Administration folder
  docs/docs/administration/api.mdx
  docs/docs/administration/cli.mdx
  docs/docs/administration/global-env.mdx
  docs/docs/administration/langfuse_integration.mdx
  docs/docs/administration/playground.mdx
  docs/docs/getting-started/canvas.mdx
  docs/docs/getting-started/flows-components-collections.mdx
  docs/docs/migration/possible-installation-issues.mdx
  docs/sidebars.js
  docs/static/img/api-window.png
  docs/static/img/chat-input-with-menu.png
  docs/static/img/features.png
  docs/static/img/project-options-menu.png
  docs/static/img/single-component.png
  docs/static/logos/botmessage.svg
  docs/static/logos/greencheck.svg
  docs/static/logos/playbutton.svg
  docs/static/videos/langflow_global_variables.mp4
  docs/static/videos/langflow_playground.mp4
Labels: documentation, size:L

#1971 Reorganize repo
  .github/workflows/pre-release-base.yml
  .github/workflows/pre-release-langflow.yml
  .github/workflows/release.yml
  .github/workflows/typescript_test.yml
  .readthedocs.yaml
  base.Dockerfile
  docker-compose.debug.yml
  docker/.dockerignore
  docker/build_and_push.Dockerfile
  docker/build_and_push_base.Dockerfile
  docker/cdk-docker-compose.yml
  docker/cdk.Dockerfile
  docker/container-cmd-cdk.sh
  docker/dev.Dockerfile
  docker/render.Dockerfile
  package-lock.json
  package.json
  render.yaml
  scripts/gcp/GCP_DEPLOYMENT.md
  src/frontend/harFiles/example.har
  test-results/.last-run.json
Labels: size:L

#1981 Change namespace advanced attribute to False in PineconeSearch
  src/backend/base/langflow/components/vectorsearch/PineconeSearch.py
Labels: python, size:XS

#1982 Update max_tokens attribute to allow unlimited tokens
  src/backend/base/langflow/components/model_specs/AnthropicLLMSpecs.py
  src/backend/base/langflow/components/model_specs/AzureChatOpenAISpecs.py
  src/backend/base/langflow/components/model_specs/ChatAnthropicSpecs.py
  src/backend/base/langflow/components/model_specs/ChatLiteLLMSpecs.py
  src/backend/base/langflow/components/model_specs/ChatMistralSpecs.py
  src/backend/base/langflow/components/model_specs/ChatOpenAISpecs.py
  src/backend/base/langflow/components/model_specs/CohereSpecs.py
  src/backend/base/langflow/components/models/AnthropicModel.py
  src/backend/base/langflow/components/models/AzureOpenAIModel.py
  src/backend/base/langflow/components/models/ChatLiteLLMModel.py
  src/backend/base/langflow/components/models/CohereModel.py
  src/backend/base/langflow/components/models/MistralModel.py
  src/backend/base/langflow/components/models/OpenAIModel.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Hello, world!).json
  src/backend/base/langflow/initial_setup/starter_projects/Langflow Blog Writter.json
  src/backend/base/langflow/initial_setup/starter_projects/Langflow Document QA.json
  src/backend/base/langflow/initial_setup/starter_projects/Langflow Memory Conversation.json
  src/backend/base/langflow/initial_setup/starter_projects/Langflow Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/VectorStore-RAG-Flows.json
Labels: python, size:L

#1984 Update chromadb import in ChromaSearch.py and Chroma.py
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/components/vectorsearch/ChromaSearch.py
  src/backend/base/langflow/components/vectorstores/Chroma.py
Labels: python, size:M

#1985 Update pyproject.toml versions and add Docker Build and Push workflow
  .github/workflows/docker-build.yml
  .github/workflows/pre-release.yml
  poetry.lock
  pyproject.toml
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
Labels: enhancement, python, size:L

#1986 Fixed Sub Flow, Run Flow and Flow as Tool components
  src/backend/base/langflow/base/flow_processing/__init__.py
  src/backend/base/langflow/base/flow_processing/utils.py
  src/backend/base/langflow/base/tools/flow_tool.py
  src/backend/base/langflow/components/experimental/FlowTool.py
  src/backend/base/langflow/components/experimental/RunFlow.py
  src/backend/base/langflow/components/experimental/SubFlow.py
  src/backend/base/langflow/helpers/flow.py
Labels: enhancement, size:L

#1992 feat: Update ChromaSearch and ChromaComponent to use chromadb library
  src/backend/base/langflow/components/vectorsearch/ChromaSearch.py
  src/backend/base/langflow/components/vectorstores/Chroma.py
Labels: enhancement, python, size:S

#1993 [Docs] - Leftnav and syntax items
  docs/docs/administration/global-env.mdx
  docs/docs/administration/login.mdx
  docs/docs/contributing/contribute-component.md
  docs/docs/getting-started/canvas.mdx
  docs/docs/getting-started/flows-components-collections.mdx
  docs/docs/getting-started/huggingface-spaces.mdx
  docs/docs/getting-started/install-langflow.mdx
  docs/docs/getting-started/quickstart.mdx
  docs/docs/index.mdx
  docs/docs/starter-projects/basic-prompting.mdx
  docs/docs/starter-projects/blog-writer.mdx
  docs/docs/starter-projects/document-qa.mdx
  docs/docs/starter-projects/memory-chatbot.mdx
  docs/docs/starter-projects/vector-store-rag.mdx
  docs/docs/tutorials/chatprompttemplate_guide.mdx
  docs/docs/tutorials/loading_document.mdx
  docs/sidebars.js
Labels: documentation, size:L

#1996 Update Dockerfiles to create langflow directory and grant write permissions
  docker/build_and_push.Dockerfile
  docker/build_and_push_base.Dockerfile
Labels: size:S

#1994 Added API key access to AUTO_LOGIN=True and fixed SecretKeyModal
  docs/docs/administration/api.mdx
  docs/docs/administration/cli.mdx
  src/frontend/src/components/headerComponent/index.tsx
  src/frontend/src/modals/apiModal/utils/get-curl-code.tsx
  src/frontend/src/modals/secretKeyModal/index.tsx
Labels: javascript, size:M, lgtm

#1999 Fix column name check in folder_id column
  src/backend/base/langflow/alembic/versions/012fb73ac359_add_folder_table.py
Labels: size:XS

#1998 Refactor SplitTextComponent to store parent and text data in Record object
  src/backend/base/langflow/components/experimental/SplitText.py
Labels: python, size:XS

#1987 Update parent disclosure title in ExtraSidebar component
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/index.tsx
Labels: javascript, size:XS

#1983 Fixed freeze implementation
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/schema.py
  src/backend/base/langflow/services/cache/service.py
  src/backend/base/langflow/services/cache/utils.py
  src/backend/base/langflow/services/chat/service.py
  src/frontend/src/customNodes/genericNode/components/parameterComponent/index.tsx
  src/frontend/src/customNodes/genericNode/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/style/applies.css
  src/frontend/tailwind.config.js
Labels: python, size:L

#2002 Refactor base.py and Dockerfile, and folder column migration
  docker/.dockerignore
  docker/build_and_push.Dockerfile
  docker/build_and_push_base.Dockerfile
  src/backend/base/langflow/alembic/versions/012fb73ac359_add_folder_table.py
  src/backend/base/langflow/alembic/versions/7d2162acc8b2_adds_updated_at_and_folder_cols.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/settings/base.py
Labels: bug, python, size:M

#2003 chore: Add domain attribute to cookies in login.py and auth.py
  src/backend/base/langflow/api/v1/login.py
  src/backend/base/langflow/services/settings/auth.py
Labels: size:XS

#2007 Fixed Ollama base url handling and Qdrant component
  src/backend/base/langflow/components/models/OllamaModel.py
  src/backend/base/langflow/components/vectorstores/Qdrant.py
Labels: size:M

#2008 (frontend): Remove NATIVE_CATEGORIES constant and simplify logic for checking template code value in GenericNode component
  src/frontend/src/customNodes/genericNode/index.tsx
Labels: javascript, size:XS

#2011 Fix Application Crash with Multiple Nested Dict Components in Flow
  src/frontend/src/components/codeTabsComponent/index.tsx
  src/frontend/src/components/dictComponent/index.tsx
  src/frontend/src/customNodes/genericNode/components/parameterComponent/index.tsx
  src/frontend/src/modals/editNodeModal/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
Labels: size:L, lgtm

#2013 Added curl parse to API Request component and fixed dict issues
  poetry.lock
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/base/curl/__init__.py
  src/backend/base/langflow/base/curl/parse.py
  src/backend/base/langflow/components/data/APIRequest.py
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
  src/frontend/src/App.tsx
  src/frontend/src/components/dictComponent/index.tsx
  src/frontend/src/components/inputFileComponent/index.tsx
  src/frontend/src/components/sidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/customNodes/genericNode/index.tsx
  src/frontend/src/modals/IOModal/components/IOFieldView/components/FileInput/index.tsx
  src/frontend/src/modals/dictAreaModal/index.tsx
  src/frontend/src/modals/editNodeModal/index.tsx
  src/frontend/src/modals/genericModal/index.tsx
  src/frontend/src/pages/Playground/index.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/stores/flowsManagerStore.ts
  tests/test_data_components.py
Labels: javascript, python, size:L

#2020 Update README.md
  README.md
Labels: documentation, size:XS

#2012 Add support for running flows by endpoint name
  .github/actions/poetry_caching/action.yml
  src/backend/base/langflow/alembic/script.py.mako
  src/backend/base/langflow/alembic/versions/1c79524817ed_add_unique_constraints_per_user_in_.py
  src/backend/base/langflow/alembic/versions/3bb0ddf32dfb_add_unique_constraints_per_user_in_flow_.py
  src/backend/base/langflow/alembic/versions/a72f5cf9c2f9_add_endpoint_name_col.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/services/database/models/flow/model.py
  src/backend/base/langflow/services/database/models/folder/model.py
  src/backend/base/langflow/utils/migration.py
  src/frontend/src/components/editFlowSettingsComponent/index.tsx
  src/frontend/src/components/sidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/controllers/API/index.ts
  src/frontend/src/modals/apiModal/utils/get-curl-code.tsx
  src/frontend/src/modals/apiModal/views/index.tsx
  src/frontend/src/modals/flowLogsModal/index.tsx
  src/frontend/src/modals/flowSettingsModal/index.tsx
  src/frontend/src/stores/flowsManagerStore.ts
  src/frontend/src/types/components/index.ts
  src/frontend/src/types/flow/index.ts
  tests/test_database.py
  tests/test_endpoints.py
Labels: enhancement, size:XL

#2019 fix: create superuser at startup to avoid concurrency issues
  src/backend/base/langflow/api/v1/login.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/auth/utils.py
Labels: bug, size:M, lgtm

#1989 feat: read flows from local directory at startup
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/langflow/services/settings/service.py
  tests/conftest.py
  tests/test_database.py
Labels: enhancement, size:M, lgtm

#2024 feat: Add Docker Hub propagation wait and HuggingFace Spaces build restart
  .github/workflows/docker-build.yml
  scripts/factory_restart_space.py
Labels: enhancement, size:S

#2005 Update utils.py to handle SecretStr field type as str with password and load_from_db attributes
  src/backend/base/langflow/custom/utils.py
  src/frontend/src/customNodes/genericNode/components/parameterComponent/constants.ts
  src/frontend/src/customNodes/genericNode/components/parameterComponent/index.tsx
  src/frontend/src/customNodes/hooks/use-handle-new-value.tsx
Labels: python, size:S

#2026 Fix endpoint URL interpolation issue in getCurlCode
  src/frontend/src/modals/apiModal/utils/get-curl-code.tsx
Labels: size:XS

#2036 Update README.md
  README.md
Labels: size:XS

#1766 Add webhook endpoint, and other fixes
  src/backend/base/langflow/alembic/versions/631faacf5da2_add_webhook_columns.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/folders.py
  src/backend/base/langflow/components/data/Webhook.py
  src/backend/base/langflow/components/data/__init__.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/helpers/flow.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/database/models/flow/model.py
  src/backend/base/langflow/services/database/models/flow/utils.py
  src/backend/base/langflow/services/monitor/utils.py
  src/frontend/src/components/accordionComponent/composite/folderAccordionComponent/index.tsx
  src/frontend/src/components/cardComponent/components/dragCardComponent/index.tsx
  src/frontend/src/components/codeAreaComponent/index.tsx
  src/frontend/src/components/dropdownComponent/index.tsx
  src/frontend/src/components/genericIconComponent/index.tsx
  src/frontend/src/components/headerComponent/components/menuBar/index.tsx
  src/frontend/src/components/horizontalScrollFadeComponent/index.tsx
  src/frontend/src/components/inputFileComponent/index.tsx
  src/frontend/src/components/inputGlobalComponent/index.tsx
  src/frontend/src/components/recordsOutputComponent/index.tsx
  src/frontend/src/components/sidebarComponent/components/sideBarButtons/index.tsx
  src/frontend/src/components/tableAutoCellRender/index.tsx
  src/frontend/src/components/tagsSelectorComponent/index.tsx
  src/frontend/src/components/ui/alert.tsx
  src/frontend/src/components/ui/checkbox.tsx
  src/frontend/src/components/ui/custom-accordion.tsx
  src/frontend/src/components/ui/form.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/customNodes/genericNode/components/parameterComponent/index.tsx
  src/frontend/src/customNodes/genericNode/components/tooltipRenderComponent/index.tsx
  src/frontend/src/customNodes/hooks/use-fetch-data-on-mount.tsx
  src/frontend/src/customNodes/hooks/use-handle-node-class.tsx
  src/frontend/src/modals/apiModal/utils/get-curl-code.tsx
  src/frontend/src/modals/apiModal/utils/tabs-array.tsx
  src/frontend/src/modals/apiModal/views/index.tsx
  src/frontend/src/types/flow/index.ts
  src/frontend/src/utils/utils.ts
  tests/test_endpoints.py
Labels: enhancement, size:XL
