Repository langflow-ai/langflow, pull requests merged in 2024-04, with the labels that each got.

#1595 Added Google Analytics tags on Docs
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  pyproject.toml
Labels: documentation, Release, javascript, size:XS, lgtm

#1597 README Improvements
  LICENSE
  README.md
Labels: documentation, size:M, lgtm

#1600 Update package versions and remove unused sections
  docs/sidebars.js
  poetry.lock
  pyproject.toml
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
Labels: pre-release

#1601 Update langflow-base dependency version
  pyproject.toml
  scripts/update_dependencies.py
Labels: enhancement, python, size:XS

#1604 Update Logspace link and package versions
  pyproject.toml
  src/backend/base/pyproject.toml
  src/frontend/src/pages/FlowPage/index.tsx
Labels: enhancement, javascript, python, pre-release, size:S

#1606 Add docs and discord links to the top of the readme
  README.md
Labels: documentation, size:S

#1608 Test release workflow
  .github/workflows/pre-release-base.yml
  .github/workflows/pre-release-langflow.yml
  pyproject.toml
Labels: enhancement, javascript, size:XS

#1615 issue 1614: fix os path separator dependency
  src/backend/base/langflow/graph/vertex/base.py
Labels: bug, size:XS, lgtm

#1609 Update readme hero image
  README.md
  docs/static/img/hero.png
Labels: documentation, size:XS, lgtm

#1618 Update Langflow documentation
  docs/docs/index.mdx
Labels: documentation, python, size:M

#1619 Update Langflow documentation and add duplicate-space.png image
  docs/static/img/duplicate-space.png
Labels: documentation, size:XS

#1620 Update Dockerfile, docker-compose.yml, and add langflow 1.0-alpha tag
  .github/workflows/pre-release-langflow.yml
  docker_example/Dockerfile
  docker_example/docker-compose.yml
Labels: enhancement, size:M

#1622 Improve getting started instructions
  README.md
Labels: documentation, size:XS, lgtm

#1623 Update installation instructions for Langflow
  docs/docs/index.mdx
Labels: documentation, python, size:XS

#1616 Add version check and new version notice
  .vscode/launch.json
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/server.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/utils/logger.py
Labels: enhancement, python, size:L

#1621 Fix yaml link in docs
  docs/docs/guidelines/custom-component.mdx
Labels: documentation, size:XS, lgtm

#1624 Add version check before publishing to PyPI
  .github/workflows/pre-release-base.yml
  .github/workflows/pre-release-langflow.yml
Labels: enhancement, python, size:M

#1625 Update package versions in pyproject.toml
  poetry.lock
  pyproject.toml
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
Labels: enhancement, python, pre-release, size:S

#1626 Update package versions and refactor build project for distribution
  .github/workflows/pre-release-base.yml
  .github/workflows/pre-release-langflow.yml
Labels: enhancement, size:XS

#1627 Add possible installation issues page
  docs/docs/getting-started/cli.mdx
  docs/docs/index.mdx
  docs/docs/migration/possible-installation-issues.mdx
  docs/sidebars.js
Labels: documentation, size:M

#1628 Fix formatting in issues page
  docs/docs/migration/possible-installation-issues.mdx
Labels: documentation, size:XS

#1638 Update package versions and add new dependencies
  poetry.lock
  pyproject.toml
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
Labels: enhancement, python, size:S

#1585 Enhanced Component Testing & General Test Fixes
  README.md
  docs/docs/components/embeddings.mdx
  docs/docs/components/models.mdx
  docs/docs/getting-started/basic-prompting.mdx
  docs/docs/getting-started/blog-writer.mdx
  docs/docs/getting-started/document-qa.mdx
  docs/docs/getting-started/memory-chatbot.mdx
  docs/docs/getting-started/rag-with-astradb.mdx
  docs/docs/index.mdx
  docs/sidebars.js
  poetry.lock
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting (Ahoy World!).json
  src/backend/base/langflow/services/database/service.py
  src/frontend/playwright.config.ts
  src/frontend/src/CustomNodes/GenericNode/components/parameterComponent/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/components/cardComponent/index.tsx
  src/frontend/src/components/codeTabsComponent/index.tsx
  src/frontend/src/components/dropdownComponent/index.tsx
  src/frontend/src/components/headerComponent/index.tsx
  src/frontend/src/components/inputListComponent/index.tsx
  src/frontend/src/components/sidebarComponent/index.tsx
  src/frontend/src/components/tagsSelectorComponent/index.tsx
  src/frontend/src/components/textAreaComponent/index.tsx
  src/frontend/src/components/ui/input.tsx
  src/frontend/src/modals/EditNodeModal/index.tsx
  src/frontend/src/modals/StoreApiKeyModal/index.tsx
  src/frontend/src/pages/FlowPage/components/DisclosureComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/ParentDisclosureComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/extraSidebarComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/pages/StorePage/index.tsx
  src/frontend/src/types/components/index.ts
  src/frontend/tests/end-to-end/auto_login.spec.ts
  src/frontend/tests/end-to-end/chat_io.spec.ts
  src/frontend/tests/end-to-end/codeAreaModalComponent.spec.ts
  src/frontend/tests/end-to-end/curl_api_generation.spec.ts
  src/frontend/tests/end-to-end/dragAndDrop.spec.ts
  src/frontend/tests/end-to-end/dropdownComponent.spec.ts
  src/frontend/tests/end-to-end/filterEdge.spec.ts
  src/frontend/tests/end-to-end/floatComponent.spec.ts
  src/frontend/tests/end-to-end/flowPage.spec.ts
  src/frontend/tests/end-to-end/group.spec.ts
  src/frontend/tests/end-to-end/inputComponent.spec.ts
  src/frontend/tests/end-to-end/inputListComponent.spec.ts
  src/frontend/tests/end-to-end/intComponent.spec.ts
  src/frontend/tests/end-to-end/keyPairListComponent.spec.ts
  src/frontend/tests/end-to-end/langflowShortcuts.spec.ts
  src/frontend/tests/end-to-end/nestedComponent.spec.ts
  src/frontend/tests/end-to-end/promptModalComponent.spec.ts
  src/frontend/tests/end-to-end/python_api_generation.spec.ts
  src/frontend/tests/end-to-end/saveComponents.spec.ts
  src/frontend/tests/end-to-end/store.spec.ts
  src/frontend/tests/end-to-end/textAreaModalComponent.spec.ts
  src/frontend/tests/end-to-end/toggleComponent.spec.ts
  src/frontend/tests/end-to-end/tweaks_test.spec.ts
  tests/conftest.py
Labels: enhancement, javascript, size:XXL

#1641 Bugfix: Fix loop when auto_login = true
  src/frontend/src/stores/typesStore.ts
Labels: bug, javascript, size:XS

#1639 Add PythonREPLToolComponent to tools/__init__.py and create PythonREPLTool.py
  docs/docs/components/custom.mdx
  docs/docs/guidelines/custom-component.mdx
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/base/tools/__init__.py
  src/backend/base/langflow/base/tools/base.py
  src/backend/base/langflow/components/agents/XMLAgent.py
  src/backend/base/langflow/components/model_specs/AmazonBedrockSpecs.py
  src/backend/base/langflow/components/model_specs/AnthropicLLMSpecs.py
  src/backend/base/langflow/components/model_specs/AnthropicSpecs.py
  src/backend/base/langflow/components/model_specs/BaiduQianfanChatEndpointsSpecs.py
  src/backend/base/langflow/components/model_specs/BaiduQianfanLLMEndpointsSpecs.py
  src/backend/base/langflow/components/model_specs/ChatAnthropicSpecs.py
  src/backend/base/langflow/components/model_specs/ChatLiteLLMSpecs.py
  src/backend/base/langflow/components/model_specs/ChatOpenAISpecs.py
  src/backend/base/langflow/components/model_specs/ChatVertexAISpecs.py
  src/backend/base/langflow/components/model_specs/HuggingFaceEndpointsSpecs.py
  src/backend/base/langflow/components/model_specs/OllamaLLMSpecs.py
  src/backend/base/langflow/components/model_specs/VertexAISpecs.py
  src/backend/base/langflow/components/model_specs/__init__.py
  src/backend/base/langflow/components/retrievers/MultiQueryRetriever.py
  src/backend/base/langflow/components/toolkits/VectorStoreInfo.py
  src/backend/base/langflow/components/tools/PythonREPLTool.py
  src/backend/base/langflow/components/tools/__init__.py
  src/backend/base/langflow/server.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/template/frontend_node/llms.py
  src/backend/base/langflow/utils/logger.py
  src/frontend/tests/custom_component_full.ts
  src/frontend/tests/end-to-end/dropdownComponent.spec.ts
  tests/conftest.py
  tests/test_custom_component.py
Labels: enhancement, python, size:L

#1643 Update package versions in pyproject.toml and fix dependencies
  .github/workflows/pre-release-base.yml
  .github/workflows/pre-release-langflow.yml
  .github/workflows/release.yml
  README.md
  docker_example/docker-compose.yml
  poetry.lock
  pyproject.toml
  src/backend/base/poetry.lock
  src/backend/base/pyproject.toml
Labels: pre-release

#1644 Refactor run_on_mac_or_linux function and update Docker image tags
  .github/workflows/pre-release-base.yml
  .github/workflows/pre-release-langflow.yml
  .github/workflows/release.yml
  docker_example/docker-compose.yml
  poetry.lock
  pyproject.toml
  src/backend/base/langflow/__main__.py
  src/backend/base/pyproject.toml
Labels: pre-release

#1650 Add logger import and fix error handling during upgrade in alembic scripts
  poetry.lock
  pyproject.toml
  src/backend/langflow/alembic/script.py.mako
  src/backend/langflow/alembic/versions/1ef9c4f3765d_.py
  src/backend/langflow/alembic/versions/7843803a87b5_store_updates.py
  src/backend/langflow/alembic/versions/b2fa308044b5_add_unique_constraints.py
Labels: Release

#1764 Fix unique constraints for id column and update API key creation
  .gitignore
  poetry.lock
  pyproject.toml
  src/backend/langflow/alembic/versions/bc804d8e7a18_fix_types.py
Labels: Release

#1794 Fix bugs and make improvements
  poetry.lock
  pyproject.toml
  src/backend/langflow/interface/custom/directory_reader/utils.py
  src/frontend/src/components/codeTabsComponent/index.tsx
Labels: Release
