Repository langflow-ai/langflow, pull requests merged in 2025-05, with the labels that each got.

#7875 fix: Icons on dropdown are inconsistent when search/selecting
  src/frontend/src/components/core/dropdownComponent/index.tsx
Labels: bug, size:M, lgtm

#7871 fix: Streaming for anthropic models in Agents
  src/backend/base/langflow/base/agents/events.py
Labels: bug, size:M, lgtm

#7873 fix: run flow multiple execution in tool mode
  src/backend/base/langflow/base/tools/run_flow.py
Labels: bug, size:S, lgtm

#7867 chore: Bump version numbers for langflow and langflow-base to 1.4.0 and 0.4.0 respectively
  pyproject.toml
  src/backend/base/pyproject.toml
  src/frontend/package-lock.json
  src/frontend/package.json
  uv.lock
Labels: size:S, lgtm, ignore-for-release

#7877 fix: playground page allowing image upload even if feature flag is disabled
  src/frontend/src/modals/IOModal/components/chatView/chatInput/chat-input.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/input-wrapper.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/hooks/use-drag-and-drop.ts
  src/frontend/src/modals/IOModal/components/chatView/components/chat-view.tsx
Labels: bug, size:S, lgtm

#7878 fix: get backend url dynamically for mcp
  src/frontend/src/pages/MainPage/pages/homePage/components/McpServerTab.tsx
Labels: bug, javascript, size:XS, lgtm

#7881 fix: disable images on playground
  src/frontend/src/customization/feature-flags.ts
  src/frontend/src/modals/IOModal/components/chatView/components/chat-view.tsx
Labels: bug, size:XS, lgtm

#7851 feat: Change default event delivery method to streaming
  src/backend/base/langflow/services/settings/base.py
Labels: enhancement, size:XS, lgtm

#7886 fix: correct typo in pretty-logs property
  src/backend/base/langflow/logging/logger.py
Labels: bug, size:XS, lgtm

#7764 docs: astra json tool example
  docs/docs/Components/components-helpers.md
  docs/docs/Components/components-tools.md
  docs/static/img/component-astra-db-json-tool.png
Labels: documentation, size:M, lgtm

#7889 feat: Enhance main interface by ensuring persistent navbar visibility
  src/frontend/src/assets/github-bg.png
  src/frontend/src/components/core/appHeaderComponent/index.tsx
  src/frontend/src/pages/MainPage/pages/empty-page.tsx
Labels: enhancement, size:S, lgtm

#7903 chore: Update codspeed workflow with timeout parameter
  .github/workflows/codspeed.yml
Labels: size:XS

#7902 docs: adds Discord server reference in README
  README.md
Labels: documentation, size:XS, lgtm

#7872 fix: anthropic Model component base url empty issue
  src/backend/base/langflow/base/models/anthropic_constants.py
  src/backend/base/langflow/components/models/anthropic.py
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/LoopTemplate.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
Labels: bug, size:M, lgtm

#7905 chore: Update CI workflow to conditionally run tests based on the presence of a label
  .github/workflows/ci.yml
Labels: size:S, lgtm, ignore-for-release

#7892 fix: flow_runner better run_id and support stream
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/processing/process.py
  src/backend/base/langflow/services/flow/flow_runner.py
Labels: bug, size:S, lgtm, fast-track

#7843 docs: fix Hugging Face embeddings inference inputs
  docs/docs/Components/components-embedding-models.md
Labels: documentation, size:XS, lgtm

#7752 chore: Upgrade codeflash to v0.12.0
  uv.lock
Labels: size:XS, lgtm, ignore-for-release

#7901 fix: re-add name and description editing on tool mode except for Composio, fix MCP server code
  src/backend/base/langflow/base/composio/composio_base.py
  src/backend/base/langflow/base/tools/component_tool.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/get-started-progress.tsx
  src/frontend/src/modals/toolsModal/components/toolsTable/index.tsx
  src/frontend/src/pages/MainPage/pages/homePage/components/McpServerTab.tsx
  src/frontend/tests/core/features/user-progress-track.spec.ts
  src/frontend/tests/extended/features/edit-tools.spec.ts
Labels: bug, size:L, lgtm, fast-track

#7311 docs: Adding Best practices for Deploying and Running Langflow in production
  docs/docs/Deployment/deployment-docker.md
  docs/docs/Deployment/deployment-kubernetes-dev.md
  docs/docs/Deployment/deployment-kubernetes-prod.md
  docs/docs/Deployment/deployment-overview.md
  docs/docs/Deployment/deployment-prod-best-practices.md
  docs/docs/Develop/develop-application.md
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/static/img/langflow-env.png
  docs/static/img/langflow-reference-architecture.png
Labels: documentation, size:L, lgtm

#7858 feat: event polling can process more than one event at a time
  src/backend/base/langflow/api/build.py
  src/backend/tests/unit/build_utils.py
  src/backend/tests/unit/test_chat_endpoint.py
  src/frontend/src/constants/constants.ts
  src/frontend/src/utils/buildUtils.ts
Labels: enhancement, size:L, lgtm, fast-track

#7908 fix: wait on loguru to flush async logs from services
  src/backend/base/langflow/main.py
Labels: bug, size:XS, lgtm

#7911 build: add event-delivery polling for cloud image
  docker/build_and_push_ep.Dockerfile
Labels: size:XS

#7105 feat: Adds additional azure openai api versions
  src/backend/base/langflow/components/models/azure_openai.py
Labels: enhancement, size:XS, lgtm

#7831 docs: improve hybrid search documentation for Astra DB component
  docs/docs/Components/components-vector-stores.md
Labels: documentation, size:XS, lgtm

#7699 refactor: Reduce Sidebar Rerenders
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/components/ui/sidebar.tsx
  src/frontend/src/hooks/flows/use-delete-flow.ts
  src/frontend/src/hooks/flows/use-save-flow.ts
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/bundleItems/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/categoryDisclouse/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/categoryGroup/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarBundles/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarItemsList/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/types/index.ts
Labels: javascript, size:L, lgtm, refactor

#7778 docs: v1.4 features
  docs/docs/API-Reference/api-reference-api-examples.md
  docs/docs/Components/components-embedding-models.md
  docs/docs/Components/components-io.md
  docs/docs/Components/components-tools.md
  docs/docs/Concepts/concepts-components.md
  docs/docs/Concepts/concepts-overview.md
  docs/docs/Concepts/concepts-publish.md
  docs/docs/Concepts/mcp-server.md
  docs/docs/Develop/develop-overview.md
  docs/docs/Develop/webhook.md
  docs/docs/Integrations/MCP/integrations-mcp.md
  docs/docs/Integrations/MCP/mcp-component-astra.md
  docs/docs/Integrations/mcp-component-astra.md
  docs/docs/Support/luna-for-langflow.md
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/static/img/component-mcp-astra-db.png
  docs/static/img/component-mcp-sse-mode.png
  docs/static/img/component-mcp-stdio.png
  docs/static/img/mcp-server-actions.png
  docs/static/img/mcp-server-api-key.png
  docs/static/img/mcp-server-component-sse.png
  docs/static/img/mcp-server-component.png
  docs/static/img/mcp-server.png
  docs/static/img/my-projects.png
  docs/static/img/workspace-basic-prompting.png
  docs/static/img/workspace.png
Labels: documentation, size:XL, lgtm

#7921 docs: bump openapi.json to 1.4.0
  docs/openapi.json
Labels: documentation, size:XL, lgtm

#7920 fix: suppress migration warnings on flow table
  src/backend/base/langflow/services/database/models/flow/model.py
Labels: bug, size:XS, lgtm

#7644 feat: Add Tavily search API parameters and Tavily Extract API component
  src/backend/base/langflow/components/tools/__init__.py
  src/backend/base/langflow/components/tools/tavily.py
  src/backend/base/langflow/components/tools/tavily_extract.py
  src/backend/base/langflow/components/tools/tavily_search.py
  src/backend/base/langflow/components/tools/tavily_search_tool.py
  src/backend/base/langflow/initial_setup/starter_projects/Diet Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Gmail Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Labels: enhancement, size:XXL, lgtm

#7929 fix: removed gradient from icon when component is tool mode
  src/frontend/src/CustomNodes/GenericNode/components/nodeIcon/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
Labels: bug, size:S, lgtm

#7931 fix: make tool mode updates possible
  src/backend/base/langflow/base/constants.py
  src/backend/base/langflow/initial_setup/setup.py
Labels: bug, size:S, lgtm

#7930 refactor: performance improvements for canvas controls/toolbar
  src/frontend/src/components/core/canvasControlsComponent/index.tsx
  src/frontend/src/components/core/flowToolbarComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/MemoizedComponents.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
Labels: javascript, size:L, lgtm, refactor

#7934 chore: bump langchain and langsmith dependencies
  pyproject.toml
  src/backend/base/pyproject.toml
  uv.lock
Labels: size:S, lgtm, ignore-for-release

#7941 fix: mcp anyOf support
  src/backend/base/langflow/base/mcp/util.py
Labels: bug, size:M, lgtm

#7943 test: improve test reliability with updated selectors and utility functions
  src/frontend/tests/core/features/auto-login-off.spec.ts
  src/frontend/tests/core/features/user-flow-state-cleanup.spec.ts
  src/frontend/tests/extended/features/autoLogin.spec.ts
Labels: size:S, lgtm, test

#7909 feat: Update mcp_component add advanced True for env and headers
  src/backend/base/langflow/components/tools/mcp_component.py
Labels: enhancement, size:XS, lgtm

#7944 fix: MCP Tool mode issue
  src/backend/base/langflow/components/tools/mcp_component.py
  src/backend/base/langflow/custom/custom_component/component.py
Labels: bug, size:M, lgtm

#7917 fix: update hide outputs behavior to show current state, update disabled button UI
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputfield/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/RenderInputParameters/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
Labels: bug, size:M, lgtm

#7938 fix: voice mode progress response queue
  src/backend/base/langflow/api/v1/voice_mode.py
Labels: bug, size:XL, lgtm

#7838 docs: Revise and restructure docs for the Custom Component
  docs/docs/Components/components-custom-components.md
Labels: documentation, size:XL, lgtm

#7945 docs: add troubleshooting steps for installation failures on Linux
  docs/docs/Get-Started/get-started-installation.md
Labels: documentation, size:S, lgtm

#7946 docs: add hardware requirements to installation prerequisites
  docs/docs/Get-Started/get-started-installation.md
Labels: documentation, size:XS, lgtm

#7956 fix: remove whitespace in version check of release workflow
  .github/workflows/release.yml
Labels: size:XS, lgtm, fast-track

#7954 chore: Bump version to 1.4.1 for langflow and langflow-base
  pyproject.toml
  src/backend/base/pyproject.toml
  src/frontend/package-lock.json
  src/frontend/package.json
  uv.lock
Labels: size:XS, lgtm, ignore-for-release, fast-track

#7937 fix: make project id as a required field in watsonx components
  src/backend/base/langflow/components/embeddings/watsonx.py
  src/backend/base/langflow/components/models/watsonx.py
Labels: bug, size:XS, lgtm

#7928 fix: reorder playground messages, fix scroll behavior
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/services/database/models/message/model.py
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/chat-message.tsx
  src/frontend/src/modals/IOModal/components/chatView/components/chat-scroll-anchor.tsx
  src/frontend/src/modals/IOModal/components/chatView/components/chat-view.tsx
  src/frontend/src/vite-env.d.ts
Labels: bug, size:L, lgtm

#7961 chore: Implement Python version-specific fastavro dependencies and remove project metadata
  pyproject.toml
  uv.lock
Labels: size:XS, lgtm, ignore-for-release

#7959 fix: make icon color follow dark mode, make name render correctly when passing flow from folder to another, add cache to icon
  src/frontend/src/CustomNodes/GenericNode/components/nodeIcon/index.tsx
  src/frontend/src/components/common/genericIconComponent/index.tsx
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/components/core/appHeaderComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/components/popover/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/utils/styleUtils.ts
Labels: bug, size:M, lgtm

#7882 feat: add breaking change update modal, refactor dismissed updates
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeUpdateComponent/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/CustomNodes/helpers/check-code-validity.ts
  src/frontend/src/CustomNodes/hooks/use-check-code-validity.ts
  src/frontend/src/CustomNodes/hooks/use-update-node-code.ts
  src/frontend/src/components/core/appHeaderComponent/index.tsx
  src/frontend/src/hooks/flows/use-add-flow.ts
  src/frontend/src/hooks/use-reset-dismiss-update-all.ts
  src/frontend/src/modals/baseModal/helpers/switch-case-size.ts
  src/frontend/src/modals/baseModal/index.tsx
  src/frontend/src/modals/updateComponentModal/index.tsx
  src/frontend/src/pages/FlowPage/components/UpdateAllComponents/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/pages/MainPage/components/dropdown/index.tsx
  src/frontend/src/pages/MainPage/components/grid/index.tsx
  src/frontend/src/pages/MainPage/components/list/index.tsx
  src/frontend/src/pages/MainPage/hooks/use-handle-duplicate.ts
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/stores/flowsManagerStore.ts
  src/frontend/src/stores/utilityStore.ts
  src/frontend/src/style/ag-theme-shadcn.css
  src/frontend/src/types/api/index.ts
  src/frontend/src/types/components/index.ts
  src/frontend/src/types/zustand/flow/index.ts
  src/frontend/src/types/zustand/flowsManager/index.ts
  src/frontend/src/types/zustand/utility/index.ts
  src/frontend/tests/assets/outdated_flow.json
  src/frontend/tests/extended/features/outdated-actions.spec.ts
Labels: enhancement, size:XXL, lgtm

#7966 docs: base64 images in playground
  docs/docs/Concepts/concepts-playground.md
Labels: documentation, size:M, lgtm

#7968 refactor: move caching logic to styleUtils
  src/frontend/src/components/common/genericIconComponent/index.tsx
  src/frontend/src/utils/styleUtils.ts
Labels: javascript, size:L, lgtm, refactor

#6942 fix: Runflow component output error
  src/backend/base/langflow/base/tools/run_flow.py
Labels: bug, size:S, lgtm

#7922 feat: New custom component to execute google BigQuery(BQ) SQLs
  src/backend/base/langflow/components/google/__init__.py
  src/backend/base/langflow/components/google/google_bq_sql_executor.py
  src/backend/tests/unit/components/bundles/google/__init__.py
  src/backend/tests/unit/components/bundles/google/test_google_bq_sql_executor_component.py
Labels: enhancement, size:XL, lgtm

#7952 docs: add quickstart dockerfile with default sqlite database
  docs/docs/Deployment/deployment-docker.md
Labels: documentation, size:S, lgtm

#7712 feat: Add multiline input to python REPL component
  src/backend/base/langflow/components/tools/python_repl_core.py
Labels: enhancement, python, size:XS, lgtm

#7809 docs: use details tabs in component pages
  docs/docs/Components/components-agents.md
  docs/docs/Components/components-data.md
  docs/docs/Components/components-embedding-models.md
  docs/docs/Components/components-helpers.md
  docs/docs/Components/components-io.md
  docs/docs/Components/components-loaders.md
  docs/docs/Components/components-logic.md
  docs/docs/Components/components-memories.md
  docs/docs/Components/components-models.md
  docs/docs/Components/components-processing.md
  docs/docs/Components/components-prompts.md
  docs/docs/Components/components-vector-stores.md
  docs/docs/Concepts/concepts-components.md
Labels: documentation, size:XXL, lgtm

#7925 templates: update gmail template to use Gmail component instead of Composio
  src/backend/base/langflow/initial_setup/starter_projects/Gmail Agent.json
Labels: size:XS, lgtm

#7970 feat: enhance flow settings with minimum length validation and default naming
  src/backend/base/langflow/api/v1/flows.py
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/components/core/editFlowSettingsComponent/index.tsx
  src/frontend/src/modals/flowSettingsModal/index.tsx
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/types/components/index.ts
Labels: enhancement, size:M, lgtm

#7590 feat: add user agents to URL Component header
  src/backend/base/langflow/components/data/url.py
Labels: enhancement, size:M, lgtm

#7947 fix: add endpoint name support in API code generation
  src/frontend/src/modals/apiModal/codeTabs/code-tabs.tsx
  src/frontend/src/modals/apiModal/utils/get-curl-code.tsx
  src/frontend/src/modals/apiModal/utils/get-js-api-code.tsx
  src/frontend/src/modals/apiModal/utils/get-python-api-code.tsx
  src/frontend/src/modals/flowSettingsModal/index.tsx
Labels: bug, javascript, python, size:S, lgtm

#7999 fix: File manager rerenders
  src/frontend/src/modals/fileManagerModal/components/recentFilesComponent/index.tsx
Labels: bug, size:M, lgtm

#7124 feat: endpoint basic examples add cache Increase interface speed
  src/backend/base/langflow/api/v1/flows.py
Labels: enhancement, size:S, lgtm

#8012 fix: Use async file operations for error log management in MCPStdioClient
  src/backend/base/langflow/base/mcp/util.py
Labels: size:XS

#8025 chore: update CI workflow to check PyPI package version updates
  .github/workflows/ci.yml
Labels: size:M, lgtm, ignore-for-release

#8020 fix: edit flow name settings not to be empty
  src/backend/base/langflow/api/v1/flows.py
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/components/core/editFlowSettingsComponent/index.tsx
  src/frontend/src/modals/flowSettingsModal/index.tsx
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/types/components/index.ts
  src/frontend/tests/extended/features/edit-flow-name.spec.ts
Labels: bug, javascript, size:M, lgtm

#7631 feat: add default user agent in api request component
  src/backend/base/langflow/components/data/api_request.py
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
Labels: enhancement, size:S, lgtm

#7837 feat: Twelve Labs Bundle
  pyproject.toml
  src/backend/base/langflow/components/twelvelabs/__init__.py
  src/backend/base/langflow/components/twelvelabs/convert_astra_results.py
  src/backend/base/langflow/components/twelvelabs/pegasus_index.py
  src/backend/base/langflow/components/twelvelabs/split_video.py
  src/backend/base/langflow/components/twelvelabs/text_embeddings.py
  src/backend/base/langflow/components/twelvelabs/twelvelabs_pegasus.py
  src/backend/base/langflow/components/twelvelabs/video_embeddings.py
  src/backend/base/langflow/components/twelvelabs/video_file.py
  src/frontend/package-lock.json
  src/frontend/src/icons/TwelveLabs/TL-Symbol.svg
  src/frontend/src/icons/TwelveLabs/TwelveLabsLogo.jsx
  src/frontend/src/icons/TwelveLabs/index.tsx
  src/frontend/src/icons/eagerIconImports.ts
  src/frontend/src/icons/lazyIconImports.ts
  src/frontend/src/utils/styleUtils.ts
  uv.lock
Labels: enhancement, size:XXL, lgtm

#7849 feat: add bulk download and delete flows
  src/frontend/src/components/core/parameterRenderComponent/components/ToolsComponent/index.tsx
  src/frontend/src/components/ui/checkbox.tsx
  src/frontend/src/components/ui/input.tsx
  src/frontend/src/controllers/API/queries/flows/use-get-download-flows.ts
  src/frontend/src/modals/deleteConfirmationModal/index.tsx
  src/frontend/src/pages/MainPage/components/grid/index.tsx
  src/frontend/src/pages/MainPage/components/gridSkeleton/index.tsx
  src/frontend/src/pages/MainPage/components/header/index.tsx
  src/frontend/src/pages/MainPage/components/list/index.tsx
  src/frontend/src/pages/MainPage/components/listSkeleton/index.tsx
  src/frontend/src/pages/MainPage/components/modalsComponent/index.tsx
  src/frontend/src/pages/MainPage/pages/homePage/components/McpServerTab.tsx
  src/frontend/src/pages/MainPage/pages/homePage/index.tsx
  src/frontend/src/utils/reactflowUtils.ts
  src/frontend/tailwind.config.mjs
  src/frontend/tests/core/features/actionsMainPage-shard-1.spec.ts
  src/frontend/tests/extended/features/bulk-actions.spec.ts
Labels: enhancement, javascript, size:XL, lgtm

#8015 docs: add webhook auth note
  docs/docs/Develop/memory.md
  docs/docs/Develop/webhook.md
Labels: documentation, size:M, lgtm

#8017 fix: added check to upload .md files correctly
  src/frontend/src/hooks/files/use-upload-file.ts
Labels: bug, javascript, size:XS, lgtm

#8014 fix: voice_mode break fix
  src/backend/base/langflow/api/v1/voice_mode.py
  src/frontend/src/controllers/API/queries/messages/use-get-messages-polling.ts
  src/frontend/src/controllers/API/queries/transactions/use-get-transactions.ts
  src/frontend/src/controllers/API/queries/variables/use-get-global-variables.ts
  src/frontend/src/controllers/API/queries/voice/use-get-voice-list.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/components/audio-settings/audio-settings-dialog.tsx
  src/frontend/src/modals/flowLogsModal/index.tsx
  src/frontend/src/stores/globalVariablesStore/globalVariables.ts
  src/frontend/src/types/zustand/globalVariables/index.ts
Labels: bug, size:L, lgtm, fast-track

#8028 fix: json selection not visible
  src/frontend/src/components/core/jsonOutputComponent/json-output-view.tsx
  src/frontend/src/style/classes.css
  src/frontend/src/style/index.css
Labels: bug, size:S, lgtm

#8027 fix: add overflow to table dropdown selection, removed Multiple selector from Structured Output
  src/backend/base/langflow/components/helpers/structured_output.py
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/components/tableDropdownCellEditor/index.tsx
  src/frontend/src/utils/utils.ts
Labels: bug, size:M, lgtm

#7827 feat: add bulk file actions
  src/backend/base/langflow/api/v2/files.py
  src/frontend/src/controllers/API/queries/file-management/use-delete-files.ts
  src/frontend/src/controllers/API/queries/file-management/use-get-download-files.ts
  src/frontend/src/modals/fileManagerModal/components/filesRendererComponent/components/fileRendererComponent/index.tsx
  src/frontend/src/modals/fileManagerModal/components/filesRendererComponent/index.tsx
  src/frontend/src/modals/fileManagerModal/components/recentFilesComponent/index.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/index.tsx
  src/frontend/src/style/ag-theme-shadcn.css
  src/frontend/src/types/file_management/index.ts
  src/frontend/tests/core/unit/fileUploadComponent.spec.ts
  src/frontend/tests/extended/features/files-page.spec.ts
Labels: enhancement, size:XXL, lgtm

#8040 fix: Enhance DB queries with async pagination and improve test reliability
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/api/v2/files.py
  src/frontend/tests/extended/features/files-page.spec.ts
Labels: bug, size:M, lgtm, fast-track

#8024 docs: add bigquery integration
  docs/docs/Integrations/Google/integrations-google-big-query.md
  docs/docs/Integrations/Google/integrations-setup-google-cloud-vertex-ai-langflow.md
  docs/docs/Integrations/Google/integrations-setup-google-oauth-langflow.md
  docs/sidebars.js
  docs/static/img/google/integrations-bigquery.png
Labels: documentation, size:M, lgtm

#7992 fix: remove double await in ChatOllamaComponent
  src/backend/base/langflow/components/models/ollama.py
Labels: bug, size:M, lgtm

#8013 docs: mcp component name update
  docs/docs/Components/components-tools.md
  docs/docs/Concepts/mcp-server.md
  docs/docs/Integrations/mcp-component-astra.md
  docs/static/img/component-mcp-astra-db.png
  docs/static/img/component-mcp-sse-mode.png
  docs/static/img/component-mcp-stdio.png
Labels: documentation, size:M, lgtm

#7800 fix: agent support not use memory message (n_messages==0)
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/components/helpers/memory.py
Labels: bug, size:S, lgtm

#8021 fix: Hybrid search enabled as long as reranker is enabled
  src/backend/base/langflow/components/vectorstores/astradb.py
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: bug, size:XS, lgtm

#8045 fix: add scroll and max height on chosen files on File Component, fixed font weight on start page
  src/frontend/package-lock.json
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/get-started-progress.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/header-buttons.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputFileComponent/index.tsx
Labels: bug, size:XS, lgtm

#8002 fix: api docs build failures caused by variables in descriptions
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/endpoints.py
Labels: bug, size:XS, lgtm

#8026 docs: breaking changes in components feature
  docs/docs/Concepts/concepts-components.md
  docs/docs/Concepts/concepts-overview.md
Labels: documentation, size:S, lgtm

#8046 fix: mcp enum fix
  src/backend/base/langflow/base/mcp/util.py
Labels: bug, size:XS, lgtm

#8047 fix: remove connected edges when enabling tool mode for them to not reconnect later
  src/frontend/src/utils/reactflowUtils.ts
Labels: bug, javascript, size:XS, lgtm

#8051 fix: made ctrl and shift state reset when switching windows to solve bulk editing issues
  src/frontend/src/modals/fileManagerModal/components/recentFilesComponent/index.tsx
  src/frontend/src/pages/MainPage/pages/homePage/index.tsx
Labels: bug, javascript, size:M, lgtm

#8023 fix: filter flow JSON from component JSON in MCP Servers
  src/backend/base/langflow/api/v1/mcp_projects.py
Labels: bug, size:XS, lgtm

#8054 fix: Properly escape new line characters in webhook
  src/backend/base/langflow/components/data/webhook.py
Labels: bug, size:XS, lgtm

#8064 feat: centralize browser tab opening with customOpenNewTab utility
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/index.tsx
  src/frontend/src/CustomNodes/NoteNode/NoteToolbarComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/connectionComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/linkComponent/index.tsx
  src/frontend/src/customization/utils/custom-open-new-tab.ts
  src/frontend/src/modals/IOModal/new-modal.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
Labels: enhancement, javascript, size:M, lgtm

#8032 docs: langflow docs review
  docs/docs/Agents/agent-tool-calling-agent-component.md
  docs/docs/Components/components-data.md
  docs/docs/Components/components-helpers.md
  docs/docs/Components/components-logic.md
  docs/docs/Components/components-memories.md
  docs/docs/Components/components-models.md
  docs/docs/Concepts/concepts-components.md
  docs/docs/Get-Started/get-started-quickstart.md
  docs/docs/Integrations/integrations-langsmith.md
  docs/docs/Sample-Flows/memory-chatbot.md
Labels: documentation, size:L, lgtm

#8065 docs: remove duplicate entries from api examples page
  docs/docs/API-Reference/api-reference-api-examples.md
Labels: documentation, size:M, lgtm

#8066 docs: remove the loaders page and redirect to bundles
  docs/docs/Components/components-loaders.md
  docs/docusaurus.config.js
  docs/sidebars.js
Labels: documentation, size:L, lgtm

#8022 fix: update docker build workflow to include 'nightly-main-all' release type for versioning
  .github/workflows/docker-build.yml
Labels: bug, size:XS, lgtm

#8037 chore: Consistent use of apaginate and update fastapi-pagination version
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/api/v1/monitor.py
  src/backend/base/pyproject.toml
  uv.lock
Labels: size:S, lgtm, ignore-for-release

#8075 fix: financial report parser
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/frontend/tests/core/integrations/Financial Report Parser.spec.ts
Labels: bug, size:XS, lgtm

#7988 feat: improve SQL component UX and Tool mode function names
  src/backend/base/langflow/components/data/sql_executor.py
  src/backend/tests/unit/components/data/test_sql_executor.py
Labels: enhancement, size:M, lgtm

#8086 chore: update to component utils logic
  src/backend/base/langflow/components/processing/data_operations.py
  src/backend/base/langflow/utils/component_utils.py
Labels: size:M, lgtm, ignore-for-release

#8072 docs: add loop component template suggestion
  docs/docs/Components/components-logic.md
Labels: documentation, size:XS, lgtm

#7548 feat: nvidia g-assist
  pyproject.toml
  src/backend/base/langflow/components/nvidia/__init__.py
  src/backend/base/langflow/components/nvidia/system_assist.py
  uv.lock
Labels: enhancement, size:M, lgtm

#8084 feat: modularize folder download functionality with reusable utilities
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/controllers/API/queries/folders/use-get-download-folders.ts
  src/frontend/src/customization/utils/custom-get-download-folders.ts
Labels: enhancement, javascript, size:M, lgtm

#8092 fix: g-assist import bug
  src/backend/base/langflow/components/nvidia/system_assist.py
Labels: bug, size:XS, lgtm, fast-track

#8113 chore: Update version to 1.4.2 for langflow and langflow-base
  pyproject.toml
  src/backend/base/pyproject.toml
  src/frontend/package-lock.json
  src/frontend/package.json
  uv.lock
Labels: size:S, lgtm, ignore-for-release, fast-track

#8094 fix: changed mistral icon to new
  src/frontend/src/icons/mistral/mistralIcon.jsx
Labels: bug, javascript, size:L, lgtm

#8069 fix: update mutate template to preserve minimized outputs
  src/frontend/src/CustomNodes/helpers/mutate-template.ts
Labels: bug, size:XS, lgtm, fast-track

#8071 fix: made disabled output button not appear as clickable
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputfield/index.tsx
Labels: bug, size:XS, lgtm

#8073 fix: add error handling in url component
  src/backend/base/langflow/components/data/url.py
Labels: bug, size:M, lgtm, fast-track

#8095 fix: add Export modal instead of Download in start page, change Download button size
  src/frontend/src/modals/exportModal/index.tsx
  src/frontend/src/pages/MainPage/components/dropdown/index.tsx
  src/frontend/src/pages/MainPage/components/header/index.tsx
  src/frontend/src/pages/MainPage/components/list/index.tsx
  src/frontend/src/pages/MainPage/hooks/use-select-options-change.ts
  src/frontend/tests/extended/features/actionsMainPage-shard-0.spec.ts
  src/frontend/tests/extended/features/bulk-actions.spec.ts
Labels: bug, size:M, lgtm

#8125 fix: Improve performance by removing unnecessary client flush in LangFuseTracer
  src/backend/base/langflow/services/tracing/langfuse.py
Labels: bug, size:XS, lgtm

#8126 fix: Refactor run_link access to avoid unnecessary external call
  src/backend/base/langflow/services/tracing/langsmith.py
Labels: bug, size:XS, lgtm

#8139 docs: combine text component is legacy
  docs/docs/Components/components-processing.md
Labels: documentation, size:M, lgtm

#7254 feat: deprecate processing components
  src/backend/base/langflow/components/processing/filter_data.py
  src/backend/base/langflow/components/processing/filter_data_values.py
  src/backend/base/langflow/components/processing/merge_data.py
Labels: enhancement, size:XS, lgtm

#8134 feat: add rss component
  src/backend/base/langflow/components/data/__init__.py
  src/backend/base/langflow/components/data/rss.py
  src/backend/tests/unit/components/data/test_rss.py
Labels: enhancement, size:L, lgtm

#8055 docs: contribute bundles
  docs/docs/Contributing/contributing-bundles.md
  docs/sidebars.js
Labels: documentation, size:L, lgtm

#8074 docs: add financial report parser to example flows
  docs/docs/Sample-Flows/financial-report-parser.md
  docs/sidebars.js
  docs/static/img/starter-flow-financial-report-parser.png
Labels: documentation, size:M, lgtm

#8137 docs: fix develop sidebar titles
  docs/sidebars.js
Labels: documentation, size:M, lgtm

#8052 docs: bulk file feature
  docs/docs/Concepts/concepts-file-management.md
  docs/docs/Concepts/concepts-overview.md
  docs/docs/Configuration/configuration-api-keys.md
  docs/docs/Configuration/configuration-global-variables.md
  docs/static/img/my-projects.png
Labels: documentation, size:S, lgtm

#8029 docs: add auth warning for exposing ports
  docs/docs/Configuration/configuration-authentication.md
Labels: documentation, size:S, lgtm

#7971 docs: contribute custom components refresh
  docs/docs/Contributing/contributing-component-tests.md
  docs/docs/Contributing/contributing-components.md
Labels: documentation, size:L, lgtm

#8135 feat: New Web search component
  src/backend/base/langflow/components/data/__init__.py
  src/backend/base/langflow/components/data/web_search.py
  src/backend/tests/unit/components/data/test_web_search.py
Labels: enhancement, size:L, lgtm

#8141 fix: updated flow pages to just set the flow if types are fetched
  src/frontend/src/pages/FlowPage/index.tsx
Labels: bug, size:XS, lgtm

#8133 fix: Temperature limit in Google Gen AI model
  src/backend/base/langflow/components/models/google_generative_ai.py
Labels: bug, size:XS, lgtm

#7973 feat: Adds our first Cursor rules
  .cursor/rules/components/basic_component.mdc
  .cursor/rules/icons.mdc
Labels: enhancement, size:L, lgtm

#8056 fix: improve tool calling filter in ollama model component
  src/backend/base/langflow/components/models/ollama.py
  src/backend/tests/unit/components/models/test_chatollama_component.py
Labels: bug, size:L, lgtm

#8130 refactor: Improve Reactflow wrapping around toolbars, canvas controls, etc
  src/frontend/src/components/core/canvasControlsComponent/index.tsx
  src/frontend/src/components/core/flowToolbarComponent/index.tsx
  src/frontend/src/modals/IOModal/new-modal.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/MemoizedComponents.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/tests/core/features/chatInputOutputUser-shard-0.spec.ts
  src/frontend/tests/core/features/playground.spec.ts
  src/frontend/tests/core/features/saveComponents.spec.ts
  src/frontend/tests/core/integrations/Basic Prompting.spec.ts
  src/frontend/tests/core/integrations/Blog Writer.spec.ts
  src/frontend/tests/core/integrations/Document QA.spec.ts
  src/frontend/tests/core/integrations/Dynamic Agent.spec.ts
  src/frontend/tests/core/integrations/Hierarchical Agent.spec.ts
  src/frontend/tests/core/integrations/Image Sentiment Analysis.spec.ts
  src/frontend/tests/core/integrations/Instagram Copywriter.spec.ts
  src/frontend/tests/core/integrations/Invoice Summarizer.spec.ts
  src/frontend/tests/core/integrations/Market Research.spec.ts
  src/frontend/tests/core/integrations/Memory Chatbot.spec.ts
  src/frontend/tests/core/integrations/Prompt Chaining.spec.ts
  src/frontend/tests/core/integrations/SEO Keyword Generator.spec.ts
  src/frontend/tests/core/integrations/SaaS Pricing.spec.ts
  src/frontend/tests/core/integrations/Sequential Task Agent.spec.ts
  src/frontend/tests/core/integrations/Text Sentiment Analysis.spec.ts
  src/frontend/tests/core/integrations/Travel Planning Agent.spec.ts
  src/frontend/tests/core/integrations/Twitter Thread Generator.spec.ts
  src/frontend/tests/core/integrations/Vector Store.spec.ts
  src/frontend/tests/core/integrations/decisionFlow.spec.ts
  src/frontend/tests/core/integrations/textInputOutput.spec.ts
  src/frontend/tests/core/regression/generalBugs-shard-9.spec.ts
  src/frontend/tests/core/unit/fileUploadComponent.spec.ts
  src/frontend/tests/extended/features/langflowShortcuts.spec.ts
  src/frontend/tests/extended/features/limit-file-size-upload.spec.ts
  src/frontend/tests/extended/features/stop-button-playground.spec.ts
  src/frontend/tests/extended/integrations/chatInputOutputUser-shard-2.spec.ts
  src/frontend/tests/extended/regression/general-bugs-shard-3836.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-3.spec.ts
Labels: javascript, size:L, lgtm, refactor

#8090 fix: make old file input show in old flows instead of new File Manager
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/frontend/src/components/core/parameterRenderComponent/components/inputFileComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarItemsList/index.tsx
  src/frontend/tests/core/features/keyboardComponentSearch.spec.ts
Labels: bug, size:XXL, lgtm, fast-track

#8179 docs: cookie-banner-link
  docs/docusaurus.config.js
Labels: documentation, size:XS, lgtm

#8178 fix: removed fit view that caused duck duck go test to fail
  src/frontend/tests/extended/integrations/duckduckgo.spec.ts
Labels: bug, size:XS, lgtm

#8070 feat: Enhance API request component
  src/backend/base/langflow/components/data/api_request.py
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/tests/unit/components/data/test_api_request_component.py
  src/frontend/tests/core/features/filterSidebar.spec.ts
  src/frontend/tests/extended/features/edit-tools.spec.ts
Labels: enhancement, size:XL, lgtm

#8089 docs: system assist component
  docs/docs/Integrations/Nvidia/integrations-nvidia-system-assist.md
  docs/sidebars.js
Labels: documentation, size:M, lgtm

#8120 docs: deploy langflow with caddyfile and docker compose
  docs/docs/Deployment/deployment-caddyfile.md
  docs/sidebars.js
Labels: documentation, size:L, lgtm

#8183 fix: simplify GetStartedProgress percentage calculation logic
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/get-started-progress.tsx
Labels: bug, size:S, lgtm

#8173 fix: set cursor to text in text fields
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/components/popover/index.tsx
Labels: bug, size:XS, lgtm

#8085 feat: updated components header styling
  src/frontend/src/CustomNodes/GenericNode/components/NodeDescription/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeName/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputfield/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/components/build-status-display.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/nodeIcon/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/CustomNodes/hooks/use-icons-status.tsx
  src/frontend/src/components/core/chatComponents/ContentBlockDisplay.tsx
  src/frontend/src/components/core/chatComponents/DurationDisplay.tsx
  src/frontend/src/style/applies.css
  src/frontend/src/style/index.css
  src/frontend/tailwind.config.mjs
  src/frontend/tests/extended/features/loop-component.spec.ts
  src/frontend/tests/extended/features/mcp-server-tab.spec.ts
  src/frontend/tests/extended/regression/general-bugs-minimize-state-error.spec.ts
Labels: enhancement, size:L, lgtm

#8185 ref: SQL component
  src/backend/base/langflow/components/data/sql_executor.py
  src/backend/tests/unit/components/data/test_sql_executor.py
Labels: enhancement, size:S, lgtm

#8177 feat: Loop uplift dataframe input and output
  src/backend/base/langflow/components/logic/loop.py
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/tests/unit/components/logic/test_loop.py
  src/frontend/tests/extended/features/loop-component.spec.ts
Labels: enhancement, size:XL, lgtm

#8194 fix: fixes nightly tests
  src/frontend/tests/extended/features/mcp-server-tab.spec.ts
  src/frontend/tests/extended/features/notifications.spec.ts
  src/frontend/tests/extended/regression/general-bugs-shard-3909.spec.ts
Labels: bug, size:S

#8197 fix: mcp test when there are a lot of flows
  src/frontend/tests/extended/features/mcp-server-tab.spec.ts
Labels: size:M

#8188 tests: increase benchmark timeouts from 10 to 30s
  src/backend/tests/unit/build_utils.py
Labels: size:XS, lgtm

#8190 feat: News Search Component
  src/backend/base/langflow/components/data/__init__.py
  src/backend/base/langflow/components/data/news_search.py
  src/backend/tests/unit/components/data/test_news_search.py
Labels: enhancement, size:L, lgtm

#8115 feat: add llm keywords to language model base
  src/backend/base/langflow/base/models/model.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Diet Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/tests/unit/components/models/test_chatollama_component.py
Labels: enhancement, size:L, lgtm

#8191 ref: Deprecate regex and update data components
  src/backend/base/langflow/components/processing/regex.py
  src/backend/base/langflow/components/processing/update_data.py
Labels: size:XS, lgtm

#8199 fix: import bug
  src/backend/base/langflow/components/nvidia/system_assist.py
Labels: bug, size:XS, lgtm

#8146 feat: New Search Bundle
  docs/package-lock.json
  docs/yarn.lock
  src/backend/base/langflow/base/langchain_utilities/model.py
  src/backend/base/langflow/components/search/__init__.py
  src/backend/base/langflow/components/search/arxiv.py
  src/backend/base/langflow/components/search/bing_search_api.py
  src/backend/base/langflow/components/search/duck_duck_go_search_run.py
  src/backend/base/langflow/components/search/exa_search.py
  src/backend/base/langflow/components/search/glean_search_api.py
  src/backend/base/langflow/components/search/google_search_api_core.py
  src/backend/base/langflow/components/search/google_serper_api_core.py
  src/backend/base/langflow/components/search/search.py
  src/backend/base/langflow/components/search/serp.py
  src/backend/base/langflow/components/search/wikidata.py
  src/backend/base/langflow/components/search/wikipedia.py
  src/backend/base/langflow/components/search/wolfram_alpha_api.py
  src/backend/base/langflow/components/search/yahoo.py
  src/backend/base/langflow/components/tools/__init__.py
  src/backend/base/langflow/helpers/data.py
  src/backend/base/langflow/initial_setup/starter_projects/Financial Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/tests/unit/components/data/test_news_search.py
  src/backend/tests/unit/components/search/__init__.py
  src/backend/tests/unit/components/search/test_arxiv_component.py
  src/backend/tests/unit/components/search/test_google_search_api.py
  src/backend/tests/unit/components/search/test_google_serper_api_core.py
  src/backend/tests/unit/components/search/test_wikidata_api.py
  src/backend/tests/unit/components/search/test_wikipedia_api.py
  src/backend/tests/unit/components/search/test_yfinance_tool.py
  src/backend/tests/unit/components/tools/test_serp_api.py
  src/backend/tests/unit/test_chat_endpoint.py
  src/frontend/src/utils/styleUtils.ts
  src/frontend/tests/core/features/filterSidebar.spec.ts
  src/frontend/tests/extended/integrations/duckduckgo.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-11.spec.ts
Labels: enhancement, size:L, lgtm

#8200 fix: handle empty JSON String in Template loading
  src/backend/base/langflow/initial_setup/setup.py
Labels: bug, size:XS, lgtm

#8223 fix: Update elevenlabs Dependency for Python 3.12 Compatibility
  pyproject.toml
  src/backend/base/pyproject.toml
  uv.lock
Labels: bug, python, size:XS, lgtm

#8163 Feat: create new tavily bundle
  src/backend/base/langflow/components/tavily/__init__.py
  src/backend/base/langflow/components/tavily/tavily_extract.py
  src/backend/base/langflow/components/tavily/tavily_search.py
  src/backend/base/langflow/components/tools/__init__.py
  src/backend/base/langflow/initial_setup/starter_projects/Financial Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/frontend/src/utils/styleUtils.ts
  uv.lock
Labels: size:M, lgtm

#8144 docs: make filtering components legacy
  docs/docs/Components/components-processing.md
Labels: documentation, size:L, lgtm

#8131 feat: Outputs UX improvements
  src/frontend/playwright.config.ts
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputParameter/NodeOutputs.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputParameter/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputfield/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/OutputComponent/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/components/ui/dropdown-menu.tsx
  src/frontend/src/types/components/index.ts
  src/frontend/tests/core/features/componentHoverAdd.spec.ts
  src/frontend/tests/core/features/group.spec.ts
  src/frontend/tests/core/features/saveComponents.spec.ts
  src/frontend/tests/core/features/toolModeGroup.spec.ts
  src/frontend/tests/core/integrations/decisionFlow.spec.ts
  src/frontend/tests/core/integrations/starter-projects.spec.ts
  src/frontend/tests/extended/features/loop-component.spec.ts
  src/frontend/tests/extended/integrations/chatInputOutputUser-shard-1.spec.ts
Labels: enhancement, size:L, lgtm

#8230 fix: ollama icon out of place
  src/frontend/src/icons/Ollama/Ollama.jsx
Labels: bug, size:S, lgtm
