Repository langflow-ai/langflow, pull requests merged in 2025-02, with the labels that each got.

#6064 fix: refactor DuckDuckGo search component to use new Component base class (nightly fix)
  src/backend/base/langflow/components/tools/duck_duck_go_search_run.py
Labels: bug, size:L

#6080 tests: update DuckDuckGo test selectors
  src/frontend/package-lock.json
  src/frontend/tests/extended/integrations/duckduckgo.spec.ts
Labels: size:S

#6044 refactor: Implement unified serialization function
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/langflow/components/vectorstores/pinecone.py
  src/backend/base/langflow/graph/schema.py
  src/backend/base/langflow/graph/utils.py
  src/backend/base/langflow/graph/vertex/vertex_types.py
  src/backend/base/langflow/schema/artifact.py
  src/backend/base/langflow/schema/schema.py
  src/backend/base/langflow/schema/serialize.py
  src/backend/base/langflow/serialization/__init__.py
  src/backend/base/langflow/serialization/constants.py
  src/backend/base/langflow/serialization/serialization.py
  src/backend/base/langflow/services/database/utils.py
  src/backend/base/langflow/services/tracing/schema.py
  src/backend/base/langflow/utils/constants.py
  src/backend/base/langflow/utils/util_strings.py
  src/backend/tests/unit/api/v1/test_api_schemas.py
  src/backend/tests/unit/serialization/__init__.py
  src/backend/tests/unit/serialization/test_serialization.py
  src/backend/tests/unit/utils/test_truncate_long_strings.py
  src/backend/tests/unit/utils/test_truncate_long_strings_on_objects.py
Labels: size:XL, lgtm, refactor

#6052 fix: elevate edges on select
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
Labels: bug, size:XS, lgtm

#6048 fix: Better handle other non-prod environments
  src/backend/base/langflow/components/vectorstores/astradb.py
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: bug, size:M, lgtm

#6050 fix: abort connection on error preventing infinite build
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/schema/message.py
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/utils/buildUtils.ts
  src/frontend/tests/extended/regression/generalBugs-shard-10.spec.ts
  uv.lock
Labels: bug, size:M, lgtm

#6083 refactor: Enhance profile picture copying with optimized I/O and error handling
  src/backend/base/langflow/initial_setup/setup.py
Labels: size:M, lgtm, refactor

#6091 docs: add guide for rotating LANGFLOW_SECRET_KEY
  docs/docs/Configuration/configuration-authentication.md
Labels: documentation, size:S, lgtm

#6090 fix: Implement get_or_create_default_folder for user folder management
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/api/v1/login.py
  src/backend/base/langflow/api/v1/users.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/services/database/models/folder/utils.py
  src/backend/tests/unit/initial_setup/test_setup_functions.py
  src/frontend/tests/extended/regression/generalBugs-shard-10.spec.ts
Labels: bug, size:L, lgtm

#6119 chore: Bump version to 1.1.4 for langflow and 0.1.4 for langflow-base
  pyproject.toml
  src/backend/base/pyproject.toml
Labels: size:XS, lgtm, ignore-for-release

#6120 chore(deps): upgrade Docusaurus and related dependencies
  docs/package-lock.json
  docs/yarn.lock
Labels: size:XS, lgtm, ignore-for-release

#5920 feat: Update node name and description UX editing
  src/frontend/src/CustomNodes/GenericNode/components/NodeDescription/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeName/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputfield/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/CustomNodes/NoteNode/index.tsx
  src/frontend/src/CustomNodes/helpers/get-class-toolbar-transform.ts
  src/frontend/src/shared/hooks/use-alternate.tsx
  src/frontend/src/shared/hooks/use-change-on-unfocus.tsx
  src/frontend/src/style/index.css
  src/frontend/tailwind.config.mjs
  src/frontend/tests/core/features/group.spec.ts
  src/frontend/tests/extended/features/edit-name-description-node.spec.ts
  src/frontend/tests/extended/regression/general-bugs-save-changes-on-node.spec.ts
Labels: enhancement, size:XL, lgtm

#6053 docs: webhook component playground test
  docs/docs/Components/components-data.md
  docs/docs/Concepts/concepts-api.md
Labels: documentation, size:M, lgtm

#6093 docs: API for v113
  docs/docs/API-Reference/api-reference-api-examples.md
  docs/docs/Components/components-data.md
  docs/openapi.json
Labels: documentation, size:XXL, lgtm

#6133 docs: Add usage guide for MCP stdio and SSE components
  docs/docs/Components/components-tools.md
  docs/static/img/mcp-stdio-component.png
Labels: documentation, size:S, lgtm

#5933 feat: Restructure Rerankers so both NVIDIA and Cohere work properly
  src/backend/base/langflow/base/compressors/__init__.py
  src/backend/base/langflow/base/compressors/model.py
  src/backend/base/langflow/components/cohere/cohere_rerank.py
  src/backend/base/langflow/components/nvidia/nvidia_rerank.py
  src/backend/base/langflow/field_typing/__init__.py
  src/backend/base/langflow/field_typing/constants.py
  uv.lock
Labels: enhancement, size:L, lgtm

#6025 fix: Notes nodes width resets to default on page reload
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Graph Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/frontend/src/CustomNodes/NoteNode/index.tsx
  src/frontend/src/components/core/appHeaderComponent/index.tsx
  src/frontend/tests/extended/regression/general-bugs-save-changes-on-node.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-10.spec.ts
Labels: bug, size:XXL, lgtm

#6095 fix: adjust LANGFLOW_CONFIG_DIR to prevent permission error
  docker_example/docker-compose.yml
Labels: bug, size:S, lgtm

#6118 feat: add max retry and request timeout to open ai component, fixes remote protocol error caused by OpenAI LLM in Agents
  src/backend/base/langflow/components/models/openai.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Graph Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents .json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: enhancement, size:XXL, lgtm

#6034 feat: update Cohere embedding model to use langchain_cohere, added support to dynamically load latest embedding models, improved error handling
  pyproject.toml
  src/backend/base/langflow/components/embeddings/cohere.py
Labels: enhancement, size:M, lgtm

#6141 chore: use yarn only
  .github/workflows/docs_test.yml
  .github/workflows/fetch_docs_notion.yml
  docs/.gitignore
  docs/.yarnrc.yml
  docs/README.md
  docs/docs/Components/components-tools.md
  docs/docs/Contributing/contributing-how-to-contribute.md
  docs/package-lock.json
  docs/package.json
  docs/yarn.lock
Labels: size:M, lgtm, ignore-for-release

#6100 feat: Unified File Management API
  scripts/aws/lib/construct/frontend.ts
  src/backend/base/langflow/alembic/versions/dd9e0804ebd1_add_v2_file_table.py
  src/backend/base/langflow/api/__init__.py
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/schemas.py
  src/backend/base/langflow/api/v2/__init__.py
  src/backend/base/langflow/api/v2/files.py
  src/backend/base/langflow/base/data/base_file.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/inputs/input_mixin.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/database/models/file/__init__.py
  src/backend/base/langflow/services/database/models/file/crud.py
  src/backend/base/langflow/services/database/models/file/model.py
  src/backend/base/langflow/services/storage/local.py
  src/backend/tests/unit/api/v2/__init__.py
  src/backend/tests/unit/api/v2/test_files.py
  src/frontend/src/customization/config-constants.ts
Labels: enhancement, size:XL, lgtm

#6155 Refactor: Simplify Vertex Queue Initialization by Removing is_input_vertex Dependency
  src/backend/base/langflow/graph/graph/utils.py
Labels: size:XS, lgtm, refactor

#6132 refactor: prevent disconnected handles from executing when input template edge is hidden
  src/frontend/src/utils/reactflowUtils.ts
Labels: size:S, lgtm, refactor

#6173 Fix: properly handle duplicate files on delete
  src/backend/base/langflow/api/v2/files.py
Labels: bug, size:M, lgtm

#6175 fix: ensure file path is list before iterating over it
  src/backend/base/langflow/graph/vertex/base.py
Labels: bug, size:XS, lgtm

#6187 feat: composio-core & composio-langchain version bump
  pyproject.toml
  uv.lock
Labels: enhancement, size:XS, lgtm

#5923 feat: add sambanova-langchain package
  pyproject.toml
  src/backend/base/langflow/base/models/model_input_constants.py
  src/backend/base/langflow/base/models/sambanova_constants.py
  src/backend/base/langflow/components/models/sambanova.py
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents .json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  uv.lock
Labels: enhancement, size:M, lgtm

#6167 feat: rename MergeData to CombineData component
  src/backend/base/langflow/components/processing/merge_data.py
Labels: enhancement, size:XS, lgtm

#6097 feat: improve error handling of Agent component, solves Empty ExceptionWithMessageError
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/base/agents/errors.py
  src/backend/base/langflow/base/agents/events.py
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/components/models/openai.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Graph Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents .json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: enhancement, size:XXL, lgtm

#6047 chore: Add CustomLoader component and integrate with loading states in Admin, Flow, and Main pages
  src/frontend/src/customization/components/custom-loader.tsx
  src/frontend/src/modals/apiModal/utils/get-curl-code.tsx
  src/frontend/src/pages/AdminPage/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/MainPage/pages/index.tsx
Labels: size:M, lgtm, ignore-for-release

#6199 fix: Improve variable decryption error handling
  pyproject.toml
  src/backend/base/langflow/services/variable/service.py
  src/backend/base/pyproject.toml
  uv.lock
Labels: bug, size:S, lgtm

#6241 chore: Bump version to 1.1.5 for langflow and 0.1.5 for langflow-base
  pyproject.toml
  src/backend/base/pyproject.toml
  uv.lock
Labels: size:XS

#5388 refactor: (codeflash) ⚡️ Speed up function `update_target_handle` by 27% in `src/backend/base/langflow/graph/graph/utils.py`
  src/backend/base/langflow/graph/graph/utils.py
Labels: size:S, lgtm, refactor

#5389 refactor: (codelash) ⚡️ Speed up function `find_all_cycle_edges` by 17%
  src/backend/base/langflow/graph/graph/utils.py
Labels: size:S, lgtm, refactor

#6256 fix: make extension check case-insensitive in BaseFileComponent
  src/backend/base/langflow/base/data/base_file.py
Labels: bug, size:XS, lgtm

#6222 feat: option to hide a column in frontend when defining a Table Input, hides Tool identifier from table display
  src/backend/base/langflow/base/tools/constants.py
  src/backend/base/langflow/schema/table.py
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/index.tsx
  src/frontend/src/types/utils/functions.ts
  src/frontend/src/utils/utils.ts
Labels: enhancement, size:L, lgtm

#6121 fix: run flow component tool mode issues, causing tool result to be empty
  src/backend/base/langflow/base/tools/run_flow.py
  src/backend/base/langflow/components/logic/run_flow.py
  src/backend/base/langflow/custom/custom_component/component.py
Labels: bug, size:S, lgtm

#6258 feat: Use Alembic with async driver
  pyproject.toml
  src/backend/base/langflow/alembic/env.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/tests/conftest.py
  uv.lock
Labels: enhancement, size:L, lgtm

#6046 docs: more information on run flow component
  docs/docs/Agents/agent-tool-calling-agent-component.md
  docs/docs/Agents/agents-overview.md
  docs/docs/Components/components-agents.md
  docs/docs/Components/components-logic.md
  docs/static/img/component-run-flow.png
Labels: documentation, size:M, lgtm

#6131 fix: add config options and error handling to MistralAI component
  src/backend/base/langflow/components/models/mistral.py
Labels: bug, size:M, lgtm

#6292 fix: improved the huggingface emdeddings component, to handle local inference and serverless inference
  src/backend/base/langflow/components/embeddings/huggingface_inference_api.py
Labels: bug, size:S, lgtm

#6278 feat: set advanced to false on If-Else component `message` field
  src/backend/base/langflow/components/logic/conditional_router.py
Labels: enhancement, size:XS, lgtm

#6233 feat: Structured Output component Template: Portfolio Website Code Generator
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
Labels: enhancement, size:XS, lgtm

#6113 feat: enhance YouTubeTranscripts component with Data output support
  src/backend/base/langflow/components/youtube/youtube_transcripts.py
  src/backend/tests/unit/components/bundles/__init__.py
  src/backend/tests/unit/components/bundles/youtube/__init__.py
  src/backend/tests/unit/components/bundles/youtube/test_youtube_transcript_component.py
Labels: enhancement, size:L, lgtm

#6081 fix: Improve path handling and type annotations in FaissVectorStoreComponent
  src/backend/base/langflow/components/vectorstores/faiss.py
Labels: bug, size:M, lgtm

#6237 fix: made tool_mode components minimizable
  src/frontend/src/CustomNodes/helpers/count-handles.ts
Labels: bug, javascript, size:XS, lgtm

#6238 fix: changed naming for download button on sidebar nav context menu
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/select-options.tsx
Labels: bug, size:XS, lgtm

#6316 fix: remove unnecessary lockChat condition in ChatMessage loading state
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/chat-message.tsx
Labels: bug, size:XS, lgtm

#6339 refactor: move API key input into Cohere and NVIDIA rerank components
  src/backend/base/langflow/base/compressors/model.py
  src/backend/base/langflow/components/cohere/cohere_rerank.py
  src/backend/base/langflow/components/nvidia/nvidia_rerank.py
Labels: size:S, lgtm, refactor

#6309 fix: Enhance vertex runnability logic with loop detection
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/constants.py
  src/backend/base/langflow/graph/graph/runnable_vertices_manager.py
  src/backend/base/langflow/graph/graph/utils.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/graph/vertex/vertex_types.py
  src/backend/tests/unit/graph/graph/test_runnable_vertices_manager.py
Labels: bug, size:L, lgtm

#6030 feat: Update dependencies to add smolagents package
  pyproject.toml
  src/backend/base/langflow/base/huggingface/__init__.py
  src/backend/base/langflow/base/huggingface/model_bridge.py
  src/backend/base/pyproject.toml
  uv.lock
Labels: enhancement, size:L, lgtm

#6314 feat: use new deterministic flow id for public flow calls
  src/backend/base/langflow/alembic/versions/f3b2d1f1002d_add_column_access_type_to_flow.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/memory.py
  src/frontend/package-lock.json
  src/frontend/src/modals/IOModal/components/chatView/chat-view.tsx
  src/frontend/src/modals/IOModal/new-modal.tsx
Labels: enhancement, size:M

#6317 docs: ui improvements
  DEVELOPMENT.md
  docs/css/custom.css
  docs/docs/Components/components-data.md
  docs/docs/Components/components-processing.md
  docs/docs/Get-Started/get-started-quickstart.md
  docs/docusaurus.config.js
  docs/sidebars.js
Labels: documentation, size:M, lgtm

#6319 fix: inconsistent text table result for Message Type output, setting message.text as default status instead of Table as self.status
  src/backend/base/langflow/custom/custom_component/component.py
Labels: bug, size:S, lgtm

#6260 feat: add template for loop component: ArXiv search result Translator
  src/backend/base/langflow/initial_setup/starter_projects/LoopTemplate.json
Labels: enhancement, size:XXL, lgtm

#6492 feat: Add new tracking events for flow and data load executions
  src/frontend/src/customization/utils/analytics.ts
  src/frontend/src/stores/flowStore.ts
Labels: enhancement, size:M, lgtm

#6613 fix: Update path filters, test tags and backend processing (nightly-fix)
  .github/changes-filter.yaml
  .github/workflows/ci.yml
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/runnable_vertices_manager.py
  src/backend/base/langflow/graph/graph/utils.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/graph/vertex/vertex_types.py
  src/frontend/tests/core/features/group.spec.ts
  src/frontend/tests/core/integrations/Basic Prompting.spec.ts
  src/frontend/tests/core/integrations/Blog Writer.spec.ts
  src/frontend/tests/core/integrations/Custom Component Generator.spec.ts
  src/frontend/tests/core/integrations/Document QA.spec.ts
  src/frontend/tests/core/integrations/Dynamic Agent.spec.ts
  src/frontend/tests/core/integrations/Hierarchical Agent.spec.ts
  src/frontend/tests/core/integrations/Image Sentiment Analysis.spec.ts
  src/frontend/tests/core/integrations/Instagram Copywriter.spec.ts
  src/frontend/tests/core/integrations/Market Research.spec.ts
  src/frontend/tests/core/integrations/Memory Chatbot.spec.ts
  src/frontend/tests/core/integrations/Prompt Chaining.spec.ts
  src/frontend/tests/core/integrations/SEO Keyword Generator.spec.ts
  src/frontend/tests/core/integrations/SaaS Pricing.spec.ts
  src/frontend/tests/core/integrations/Sequential Task Agent.spec.ts
  src/frontend/tests/core/integrations/Simple Agent.spec.ts
  src/frontend/tests/core/integrations/Travel Planning Agent.spec.ts
  src/frontend/tests/core/integrations/Twitter Thread Generator.spec.ts
  src/frontend/tests/core/integrations/Vector Store.spec.ts
  src/frontend/tests/core/integrations/starter-projects.spec.ts
  src/frontend/tests/core/regression/generalBugs-prompt.spec.ts
  src/frontend/tests/extended/features/starter-projects.spec.ts
Labels: bug, size:L

#6270 fix: adds edge filtering only to parameters not hidden
  src/frontend/src/utils/utils.ts
Labels: bug, javascript, size:XS, lgtm

#6632 tests: Improve Error Handling and Update Element Test IDs in filterEdge-shard-1.spec.ts
  src/frontend/tests/extended/features/filterEdge-shard-1.spec.ts
Labels: size:S, lgtm

#6315 fix: updates color of inactive buttons on table component
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/components/TableOptions/index.tsx
Labels: bug, size:S, lgtm

#6318 feat: adds metadata and batch_index to batch_run
  src/backend/base/langflow/components/helpers/batch_run.py
  src/backend/tests/unit/components/helpers/test_batch_run_component.py
Labels: enhancement, size:L, lgtm

#6340 chore: Update codeflash config to ignore components
  src/backend/base/pyproject.toml
Labels: size:XS, lgtm, ignore-for-release

#6637 fix: Update default URL in URL component test
  src/backend/tests/unit/components/data/test_url_component.py
Labels: bug, size:XS, lgtm

#6236 feat: Generic Callback Dialog Input for Custom Component
  src/backend/base/langflow/components/vectorstores/astradb.py
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/frontend/src/CustomNodes/GenericNode/components/NodeDialogComponent/index.tsx
  src/frontend/src/components/common/fetchIconComponent/index.tsx
  src/frontend/src/components/common/loadingTextComponent/index.tsx
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/types.ts
  src/frontend/src/style/index.css
  src/frontend/src/utils/stringManipulation.ts
  src/frontend/src/utils/utils.ts
  src/frontend/tailwind.config.mjs
Labels: enhancement, size:XXL, lgtm, DO NOT MERGE

#6634 test: Add validation for error handling in custom components and utility function
  src/frontend/tests/extended/features/validate-raise-errors-components.spec.ts
  src/frontend/tests/utils/add-custom-component.ts
Labels: size:L, lgtm, test

#6303 docs: Added a Proper Russian README Translation Create README.RU.md
  README.RU.md
Labels: documentation, size:M, lgtm

#6306 docs: Added a link to the Russian README.
  README.ES.md
  README.KR.md
  README.PT.md
  README.ja.md
  README.md
  README.zh_CN.md
Labels: documentation, size:XS, lgtm

#6114 feat: add SaveToFile component for DataFrame, Data and Message exports
  src/backend/base/langflow/components/processing/save_to_file.py
  src/backend/tests/unit/components/processing/test_save_to_file_component.py
Labels: enhancement, size:L, lgtm

#6235 feat: tool mode to firecrawl components
  src/backend/base/langflow/components/firecrawl/firecrawl_crawl_api.py
  src/backend/base/langflow/components/firecrawl/firecrawl_scrape_api.py
Labels: enhancement, size:XS, lgtm

#6498 feat: Add Meeting Summary Template using Assembly AI and OpenAI
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
Labels: enhancement, size:XS, lgtm

#6638 fix: improve output check
  src/frontend/src/components/core/chatComponents/ContentDisplay.tsx
Labels: bug, size:XS, lgtm

#6112 feat: add DataToDataFrame component for converting Data objects
  src/backend/base/langflow/components/processing/data_to_dataframe.py
  src/backend/tests/unit/components/processing/test_data_to_dataframe_component.py
Labels: enhancement, size:L, lgtm

#6493 feat: Add Template Financial Report Parser for demo of Structured Output Component
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
Labels: enhancement, size:XXL, lgtm

#6658 ci: Update Codeflash workflow to continue on error
  .github/workflows/codeflash.yml
Labels: size:XS, lgtm

#6240 fix: address weird column displacement when resizing columns
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/index.tsx
Labels: bug, size:M, lgtm

#6615 test: add database-loaded API keys and outdated component detection for starter templates
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Graph Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/LoopTemplate.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents .json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/frontend/src/modals/templatesModal/components/TemplateCardComponent/index.tsx
  src/frontend/tests/core/integrations/Custom Component Generator.spec.ts
  src/frontend/tests/core/integrations/starter-projects.spec.ts
Labels: size:XXL, lgtm, test

#6265 chore: Enhance Locust load testing and optimize database settings
  Makefile
  pyproject.toml
  src/backend/base/langflow/graph/utils.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/tests/locust/locustfile.py
  uv.lock
Labels: size:L, lgtm, ignore-for-release

#6346 fix: Fixing API endpoint in HF Component
  src/backend/base/langflow/components/embeddings/huggingface_inference_api.py
Labels: bug, size:XS, lgtm

#6625 fix: Fix some swallowed CancelledError
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/mcp.py
Labels: bug, size:S, lgtm

#5820 feat: Add session ID support to tracing service
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/services/tracing/arize_phoenix.py
  src/backend/base/langflow/services/tracing/service.py
Labels: enhancement, size:S, lgtm

#6248 feat: Add templates with AgentQL Component
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, size:XXL, lgtm

#6666 fix: adjust edge position to not overlay handles on select
  src/frontend/src/CustomEdges/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/handleRenderComponent/index.tsx
Labels: bug, javascript, size:S, lgtm

#6633 fix: inconsistent text table result for Message Type output
  src/backend/base/langflow/custom/custom_component/component.py
  src/frontend/tests/core/features/freeze-path.spec.ts
  src/frontend/tests/core/features/freeze.spec.ts
  src/frontend/tests/extended/features/loop-component.spec.ts
Labels: bug, size:S, lgtm

#6673 fix: changed serializations to use serialize function to not compromise json structure
  src/backend/base/langflow/services/database/models/transactions/model.py
  src/backend/base/langflow/services/database/models/vertex_builds/model.py
  src/backend/base/langflow/services/database/utils.py
  src/backend/tests/unit/services/database/test_utils.py
Labels: bug, size:L, lgtm

#6503 feat: add gmail agent template using composio
  src/backend/base/langflow/initial_setup/starter_projects/Gmail Agent.json
Labels: enhancement, size:XXL, lgtm

#6674 fix: removed default max length for serialize function
  src/backend/base/langflow/serialization/serialization.py
Labels: bug, size:XS, lgtm

#6136 fix: add TableInput validation for single dict and Data instances
  src/backend/base/langflow/inputs/inputs.py
Labels: bug, size:M, lgtm

#6117 fix: update store_message to avoid crash
  src/backend/base/langflow/components/helpers/store_message.py
Labels: bug, size:XS, lgtm

#6667 fix: Adjust flow cascade deletion and improve flow delete message UI
  src/backend/base/langflow/api/utils.py
  src/frontend/src/pages/MainPage/components/grid/index.tsx
  src/frontend/src/pages/MainPage/components/list/index.tsx
Labels: bug, size:S, lgtm

#6636 fix: add old Data to Message name to metadata to improve search
  src/backend/base/langflow/components/processing/parse_data.py
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Graph Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/LoopTemplate.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: bug, size:M, lgtm

#6664 fix: fixed scroll to outer layer on json viewer
  src/frontend/src/App.css
  src/frontend/src/style/classes.css
Labels: bug, size:XS, lgtm

#5917 feat: add Olivya's 'Place Call' component
  src/backend/base/langflow/components/olivya/__init__.py
  src/backend/base/langflow/components/olivya/olivya.py
  src/frontend/src/icons/Olivya/index.tsx
  src/frontend/src/icons/Olivya/olivya.jsx
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, size:XL, lgtm

#5940 feat: add functionality to stream or poll events from the build process
  .github/changes-filter.yaml
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/api/disconnect.py
  src/backend/base/langflow/api/limited_background_tasks.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/monitor.py
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/events/event_manager.py
  src/backend/base/langflow/graph/utils.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/database/models/transactions/crud.py
  src/backend/base/langflow/services/database/models/vertex_builds/crud.py
  src/backend/base/langflow/services/deps.py
  src/backend/base/langflow/services/job_queue/__init__.py
  src/backend/base/langflow/services/job_queue/factory.py
  src/backend/base/langflow/services/job_queue/service.py
  src/backend/base/langflow/services/schema.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/langflow/services/task/backends/anyio.py
  src/backend/base/langflow/services/task/service.py
  src/backend/tests/conftest.py
  src/backend/tests/unit/base/tools/test_component_toolkit.py
  src/backend/tests/unit/build_utils.py
  src/backend/tests/unit/components/agents/test_agent_component.py
  src/backend/tests/unit/components/logic/test_loop.py
  src/backend/tests/unit/test_chat_endpoint.py
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/index.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/constants/enums.ts
  src/frontend/src/controllers/API/queries/config/use-get-config.ts
  src/frontend/src/modals/IOModal/new-modal.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/types/zustand/flow/index.ts
  src/frontend/src/utils/buildUtils.ts
  src/frontend/tests/core/integrations/Basic Prompting.spec.ts
  src/frontend/tests/core/integrations/Blog Writer.spec.ts
  src/frontend/tests/core/integrations/Custom Component Generator.spec.ts
  src/frontend/tests/core/integrations/Document QA.spec.ts
  src/frontend/tests/core/integrations/Image Sentiment Analysis.spec.ts
  src/frontend/tests/core/integrations/Market Research.spec.ts
  src/frontend/tests/core/integrations/Memory Chatbot.spec.ts
  src/frontend/tests/core/integrations/Prompt Chaining.spec.ts
  src/frontend/tests/core/integrations/SEO Keyword Generator.spec.ts
  src/frontend/tests/core/integrations/SaaS Pricing.spec.ts
  src/frontend/tests/core/integrations/Simple Agent.spec.ts
  src/frontend/tests/core/integrations/Travel Planning Agent.spec.ts
  src/frontend/tests/core/integrations/Twitter Thread Generator.spec.ts
  src/frontend/tests/core/integrations/Vector Store.spec.ts
  src/frontend/tests/utils/withEventDeliveryModes.ts
Labels: enhancement, size:XXL, lgtm

#6245 feat: Add YouTube Video Analysis Template
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Labels: enhancement, size:XS, lgtm

#6687 chore: fix capitalization of "Open Playground" in default shortcuts
  src/frontend/src/constants/constants.ts
Labels: size:XS, lgtm, ignore-for-release

#6193 refactor: Improve API key decryption error logging
  src/backend/base/langflow/services/auth/utils.py
Labels: size:M, lgtm, refactor

#5967 feat: add db driver env variable
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/settings/base.py
Labels: enhancement, size:M, lgtm

#6663 fix: added save button to table component to improve consistency
  src/frontend/src/components/core/parameterRenderComponent/components/TableNodeComponent/index.tsx
  src/frontend/src/modals/tableModal/index.tsx
  src/frontend/tests/core/unit/tableInputComponent.spec.ts
Labels: bug, javascript, size:M, lgtm

#6698 fix: Creation of collections in dev Astra DB
  src/backend/base/langflow/components/vectorstores/astradb.py
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: bug, size:S, lgtm

#6694 docs: replace mendable with algolia
  docs/docusaurus.config.js
  docs/src/theme/Footer.js
  docs/src/theme/SearchBar.js
  docs/yarn.lock
Labels: documentation, size:L, lgtm

#6699 docs: add log file location and configuration instructions
  docs/docs/Concepts/concepts-overview.md
Labels: documentation, size:S, lgtm

#6700 ci: change docs build to use yarn
  .github/workflows/deploy_gh-pages.yml
  docs/package.json
  docs/yarn.lock
Labels: documentation, size:S, lgtm

#6706 fix: aws docker file is now in different place
  scripts/aws/lib/construct/ecr.ts
  scripts/aws/package-lock.json
  scripts/aws/package.json
Labels: bug, size:XS, lgtm

#6012 feat: add xAI integration
  src/backend/base/langflow/components/models/__init__.py
  src/backend/base/langflow/components/models/xai.py
  src/backend/tests/unit/components/models/test_xai.py
  src/frontend/src/icons/xAI/index.tsx
  src/frontend/src/icons/xAI/xAIIcon.jsx
  src/frontend/src/icons/xAI/xai.svg
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, size:L, lgtm

#6714 docs: add-xai-component
  docs/docs/Components/components-models.md
Labels: documentation, size:S, lgtm

#6643 feat: updated ChatOutput component that can accept Data, Dataframe and Message
  src/backend/base/langflow/components/outputs/chat.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Gmail Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Graph Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/LoopTemplate.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents .json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/tests/unit/components/outputs/test_chat_output_component.py
  src/backend/tests/unit/components/outputs/test_output_components.py
Labels: enhancement, size:XXL, lgtm

#5862 feat: add apify actors integration
  docs/docs/Integrations/Apify/apify_agent_flow.png
  docs/docs/Integrations/Apify/apify_agent_flow_simple.png
  docs/docs/Integrations/Apify/apify_flow_wcc.png
  docs/docs/Integrations/Apify/integrations-apify.md
  docs/sidebars.js
  pyproject.toml
  src/backend/base/langflow/components/apify/__init__.py
  src/backend/base/langflow/components/apify/apify_actor.py
  src/backend/tests/integration/components/apify/apify_actor.md
  src/frontend/src/icons/Apify/Apify.jsx
  src/frontend/src/icons/Apify/apify.svg
  src/frontend/src/icons/Apify/index.tsx
  src/frontend/src/utils/styleUtils.ts
  uv.lock
Labels: enhancement, size:L, lgtm

#6302 feat: add support to accept Dataframe as input to split text, and added relevant tests
  src/backend/base/langflow/components/processing/split_text.py
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/schema/dataframe.py
  src/backend/tests/unit/components/processing/test_split_text_component.py
  src/backend/tests/unit/schema/test_schema_dataframe.py
  src/frontend/package-lock.json
  src/frontend/tests/core/features/freeze.spec.ts
  src/frontend/tests/core/features/logs.spec.ts
  src/frontend/tests/core/features/stop-building.spec.ts
  src/frontend/tests/extended/features/starter-projects.spec.ts
  src/frontend/tests/extended/features/stop-button-playground.spec.ts
Labels: enhancement, size:XL, lgtm

#6721 fix: restore default Vector Store RAG key variables
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: bug, size:S, lgtm

#6716 feat: Enhance component update system with edge validation alerts
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/UpdateAllComponents/index.tsx
Labels: enhancement, javascript, size:M, lgtm

#6696 fix: Simplify loop stopping condition to prevent off-by-one errors
  src/backend/base/langflow/components/logic/loop.py
  src/backend/base/langflow/initial_setup/starter_projects/LoopTemplate.json
  src/frontend/tests/extended/features/loop-component.spec.ts
Labels: bug, size:XS, lgtm

#6642 feat: update Structured output to handle Dataframe and inbuilt Prompt
  src/backend/base/langflow/components/helpers/structured_output.py
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/tests/unit/components/helpers/test_structured_output_component.py
Labels: enhancement, size:L, lgtm

#6731 fix: templates with broken connection
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
Labels: bug, size:XL, lgtm

#6685 feat: Add support for Python 3.13
  .github/actions/setup-uv/action.yml
  .github/workflows/codeflash.yml
  .github/workflows/docker-build.yml
  .github/workflows/integration_tests.yml
  .github/workflows/lint-py.yml
  .github/workflows/nightly_build.yml
  .github/workflows/python_test.yml
  .github/workflows/release.yml
  .github/workflows/release_nightly.yml
  .github/workflows/style-check-py.yml
  .github/workflows/typescript_test.yml
  Makefile
  pyproject.toml
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/services/storage/local.py
  src/backend/base/langflow/utils/validate.py
  src/backend/base/pyproject.toml
  uv.lock
Labels: enhancement, python, size:M, lgtm

#6333 feat: add nvidia ingest component
  .github/workflows/py_autofix.yml
  .github/workflows/style-check-py.yml
  Makefile
  docker/build_and_push_ep.Dockerfile
  pyproject.toml
  src/backend/base/langflow/components/nvidia/__init__.py
  src/backend/base/langflow/components/nvidia/nvidia_ingest.py
  uv.lock
Labels: enhancement, size:L, lgtm

#6689 feat: Use pyproject standardized dependency-groups
  .github/workflows/lint-py.yml
  .github/workflows/nightly_build.yml
  .github/workflows/py_autofix.yml
  .github/workflows/python_test.yml
  .github/workflows/release.yml
  .github/workflows/release_nightly.yml
  .github/workflows/store_pytest_durations.yml
  .github/workflows/typescript_test.yml
  DEVELOPMENT.md
  pyproject.toml
  src/backend/base/pyproject.toml
  uv.lock
Labels: enhancement, size:L, lgtm

#6753 fix: Enhance tests and update NVIDIA Ingest installation instructions
  src/backend/base/langflow/components/nvidia/nvidia_ingest.py
  src/backend/base/langflow/services/storage/local.py
  src/backend/tests/conftest.py
  src/backend/tests/unit/api/v1/test_files.py
  src/backend/tests/unit/graph/graph/test_cycles.py
Labels: size:S

#6754 fix: use async thread in list files
  src/backend/base/langflow/services/storage/local.py
Labels: size:XS

#6758 fix: Add `log_package_version_task` attribute to TelemetryService
  src/backend/base/langflow/services/telemetry/service.py
Labels: size:XS

#6760 chore: Update Docker build workflow for reliability improvements
  .github/workflows/docker-build.yml
Labels: size:M, lgtm, ignore-for-release

#6738 feat: Add loading state and skeleton UI for FlowPage sidebar
  src/frontend/src/components/ui/skeletonGroup.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarFooterButtons/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
  src/frontend/src/pages/FlowPage/index.tsx
Labels: enhancement, size:L, lgtm

#6749 fix: don't init langwatch if not configure
  src/backend/base/langflow/services/tracing/langfuse.py
  src/backend/base/langflow/services/tracing/langwatch.py
Labels: bug, size:XS, lgtm

#6747 fix: updated ChatOutput component not working with streaming enabled
  src/backend/base/langflow/components/outputs/chat.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Gmail Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Graph Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/LoopTemplate.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/tests/unit/components/outputs/test_chat_output_component.py
Labels: bug, size:L, lgtm

#6763 fix: Improve table column styling in edit node modal
  src/frontend/src/modals/editNodeModal/hooks/use-column-defs.ts
Labels: bug, javascript, size:XS, lgtm

#6717 fix: formatted dataframe output in chatoutput
  src/backend/base/langflow/components/outputs/chat.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Gmail Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Graph Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/LoopTemplate.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/components/edit-message.tsx
  src/frontend/src/style/classes.css
Labels: bug, size:M, lgtm

#6735 docs: nvidia ingest integration
  docs/docs/Integrations/Nvidia/integrations-nvidia-ingest.md
  docs/docs/Integrations/Nvidia/nvidia-component-ingest-astra.png
  docs/sidebars.js
Labels: documentation, size:L, lgtm

#6718 fix: disable resizing in TextModal
  src/frontend/src/modals/textModal/components/textEditorArea/index.tsx
  src/frontend/src/modals/textModal/index.tsx
Labels: bug, size:XS, lgtm

#6720 docs: astra component update
  docs/docs/Components/components-vector-stores.md
  docs/docs/Get-Started/get-started-quickstart.md
  docs/docs/Starter-Projects/starter-projects-simple-agent.md
  docs/docs/Starter-Projects/starter-projects-vector-store-rag.md
Labels: documentation, size:L, lgtm

#6686 fix: broken links
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/modals/saveChangesModal/index.tsx
Labels: bug, size:XS, lgtm

#6713 feat: Add option to disable vector store caching
  src/backend/base/langflow/base/vectorstores/model.py
  src/backend/base/langflow/initial_setup/starter_projects/Graph Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: enhancement, size:XXL, lgtm

#6771 feat: Improve data handling and text formatting (loop fix)
  src/backend/base/langflow/components/logic/loop.py
  src/backend/base/langflow/helpers/data.py
  src/backend/base/langflow/initial_setup/starter_projects/LoopTemplate.json
  src/backend/tests/unit/helpers/test_data.py
  src/backend/tests/unit/helpers/test_data_to_text_list.py
  src/frontend/tests/core/integrations/Memory Chatbot.spec.ts
  src/frontend/tests/extended/features/loop-component.spec.ts
Labels: enhancement, size:L, lgtm

#6759 chore: Update langflow and langflow-base package versions to 1.2.0 and 0.2.0
  pyproject.toml
  src/backend/base/pyproject.toml
  uv.lock
Labels: size:XS, lgtm, ignore-for-release

#6740 fix: Update Vector Store RAG template dialog order
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: bug, size:XL, lgtm

#6785 feat: add setter to dataframe to handle missing text_keys
  src/backend/base/langflow/schema/dataframe.py
Labels: enhancement, size:XS, lgtm

#6772 test: add FE tests for new starter project templates
  src/backend/base/langflow/initial_setup/starter_projects/Graph Vector Store RAG.json
  src/frontend/tests/assets/test_audio_file.wav
  src/frontend/tests/core/integrations/Financial Report Parser.spec.ts
  src/frontend/tests/core/integrations/Gmail Agent.spec.ts
  src/frontend/tests/core/integrations/Graph Rag.spec.ts
  src/frontend/tests/core/integrations/Meeting Summary.spec.ts
  src/frontend/tests/core/integrations/News Aggregator.spec.ts
  src/frontend/tests/core/integrations/Portfolio Website Code Generator.spec.ts
  src/frontend/tests/core/integrations/Price Deal Finder.spec.ts
  src/frontend/tests/core/integrations/Research Translation Loop.spec.ts
  src/frontend/tests/core/integrations/Youtube Analysis.spec.ts
Labels: size:XXL, lgtm, test

#6722 fix: handle null and boolean correctly on table parameter
  src/backend/base/langflow/schema/table.py
  src/frontend/src/components/core/parameterRenderComponent/components/TableNodeComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/components/tableAutoCellRender/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/components/tableToggleCellEditor/index.tsx
  src/frontend/src/types/utils/functions.ts
  src/frontend/src/utils/utils.ts
  src/frontend/tests/core/unit/tableInputComponent.spec.ts
Labels: bug, size:L, lgtm

#6797 Fix: Reset Edge Update Tracking Before Success Message in UpdateAllComponents
  .gitattributes
  src/frontend/src/pages/FlowPage/components/UpdateAllComponents/index.tsx
Labels: lgtm

#6807 Fix: error handling in data_to_text_list function
  src/backend/base/langflow/helpers/data.py
Labels: bug, size:XS, lgtm

#6806 fix: Fix URL for alembic migrations
  src/backend/base/langflow/alembic.ini
Labels: bug, size:XS, lgtm

#6808 fix: Enhance edge update logic and refactor edge data handling
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/initial_setup/starter_projects/Graph Vector Store RAG.json
Labels: bug, size:XL, lgtm

#6811 feat: Change default event delivery method to polling
  src/backend/base/langflow/services/settings/base.py
Labels: enhancement, size:XS, lgtm

#6805 fix: add entity_id to the ComposioToolSet
  src/backend/base/langflow/components/composio/composio_api.py
  src/backend/base/langflow/initial_setup/starter_projects/Gmail Agent.json
  src/backend/base/langflow/services/settings/constants.py
Labels: bug, size:L, lgtm

#6793 fix: Update pywin32 dependency to version 307
  pyproject.toml
  uv.lock
Labels: bug, size:XS, lgtm

#6813 feat: Add flow build cancellation endpoint and functionality
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/schemas.py
  uv.lock
Labels: enhancement, size:M, lgtm

#6343 docs: api pane updates
  docs/docs/Concepts/concepts-api.md
Labels: documentation, size:M, lgtm

#6788 fix: markdown note in research template
  src/backend/base/langflow/initial_setup/starter_projects/LoopTemplate.json
Labels: bug, size:XS, lgtm

#6830 fix: Improve dropdown component with null option filtering
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/src/utils/utils.ts
Labels: bug, javascript, size:S, lgtm

#6815 fix: implemented build stop functionality on polling, call cancel endpoint on build cancel
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/services/database/service.py
  src/backend/tests/unit/test_chat_endpoint.py
  src/frontend/src/controllers/API/api.tsx
  src/frontend/src/utils/buildUtils.ts
Labels: bug, size:L, lgtm

#6762 docs: updates for release
  docs/docs/Components/components-helpers.md
  docs/docs/Components/components-io.md
  docs/docs/Components/components-processing.md
  docs/docs/Components/components-tools.md
  docs/docs/Concepts/concepts-overview.md
  docs/docs/Get-Started/get-started-installation.md
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/static/img/component-structured-output.png
Labels: documentation, size:L, lgtm
