Repository langflow-ai/langflow, pull requests merged in 2025-07, with the labels that each got.

#8802 test: add pyleak for task and event loop block detections
  .github/workflows/python_test.yml
  pyproject.toml
  src/backend/tests/integration/components/helpers/test_parse_json_data.py
  src/backend/tests/integration/components/inputs/test_chat_input.py
  src/backend/tests/integration/components/inputs/test_text_input.py
  src/backend/tests/integration/components/prompts/test_prompt.py
  src/backend/tests/integration/conftest.py
  src/backend/tests/integration/flows/test_basic_prompting.py
  src/backend/tests/integration/utils.py
  uv.lock
Labels: size:M, lgtm, test

#8815 ci: add frontend test execution, reporting, and coverage in workflow
  .github/changes-filter.yaml
  .github/workflows/ci.yml
  .github/workflows/jest_test.yml
  .github/workflows/typescript_test.yml
  Makefile.frontend
  src/frontend/jest.config.js
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: size:L, lgtm

#8756 feat: update if-else component
  src/backend/base/langflow/components/logic/conditional_router.py
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/tests/unit/graph/graph/test_cycles.py
Labels: enhancement, size:L, lgtm

#8860 fix: make MCP naming changes, change actions to tools
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/mcp-server-notice.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/mcpComponent/index.tsx
  src/frontend/src/modals/addMcpServerModal/index.tsx
  src/frontend/src/modals/toolsModal/components/toolsTable/index.tsx
  src/frontend/src/pages/MainPage/pages/homePage/components/McpServerTab.tsx
  src/frontend/src/pages/SettingsPage/index.tsx
  src/frontend/src/pages/SettingsPage/pages/MCPServersPage/index.tsx
  src/frontend/tests/extended/features/edit-tools.spec.ts
  src/frontend/tests/extended/features/mcp-server-tab.spec.ts
  src/frontend/tests/extended/features/mcp-server.spec.ts
Labels: bug, size:M, lgtm

#8863 fix: correct icon casing for MariTalk
  src/frontend/src/utils/styleUtils.ts
Labels: bug, size:XS, lgtm

#8865 fix: enable tool mode only if a server is selected
  src/backend/base/langflow/components/agents/mcp_component.py
Labels: bug, size:XS, lgtm

#8850 docs: link components to docs pages
  src/backend/base/langflow/components/agents/mcp_component.py
  src/backend/base/langflow/components/data/api_request.py
  src/backend/base/langflow/components/data/directory.py
  src/backend/base/langflow/components/data/file.py
  src/backend/base/langflow/components/data/news_search.py
  src/backend/base/langflow/components/data/rss.py
  src/backend/base/langflow/components/data/sql_executor.py
  src/backend/base/langflow/components/data/url.py
  src/backend/base/langflow/components/data/web_search.py
  src/backend/base/langflow/components/data/webhook.py
  src/backend/base/langflow/components/helpers/calculator_core.py
  src/backend/base/langflow/components/helpers/current_date.py
  src/backend/base/langflow/components/helpers/memory.py
  src/backend/base/langflow/components/input_output/chat.py
  src/backend/base/langflow/components/input_output/chat_output.py
  src/backend/base/langflow/components/input_output/text.py
  src/backend/base/langflow/components/input_output/text_output.py
  src/backend/base/langflow/components/logic/conditional_router.py
  src/backend/base/langflow/components/logic/loop.py
  src/backend/base/langflow/components/logic/run_flow.py
  src/backend/base/langflow/components/models/embedding_model.py
  src/backend/base/langflow/components/models/language_model.py
  src/backend/base/langflow/components/processing/batch_run.py
  src/backend/base/langflow/components/processing/converter.py
  src/backend/base/langflow/components/processing/data_operations.py
  src/backend/base/langflow/components/processing/dataframe_operations.py
  src/backend/base/langflow/components/processing/lambda_filter.py
  src/backend/base/langflow/components/processing/llm_router.py
  src/backend/base/langflow/components/processing/parser.py
  src/backend/base/langflow/components/processing/prompt.py
  src/backend/base/langflow/components/processing/python_repl_core.py
  src/backend/base/langflow/components/processing/save_file.py
  src/backend/base/langflow/components/processing/split_text.py
  src/backend/base/langflow/components/processing/structured_output.py
Labels: documentation, size:M, lgtm

#8712 docs: quick guide for public deployment
  docs/docs/Concepts/mcp-server.md
  docs/docs/Deployment/deployment-public-server.md
  docs/sidebars.js
Labels: documentation, size:L, lgtm

#8877 chore: add required API key secrets for CI workflows
  .github/workflows/nightly_build.yml
Labels: size:XS

#8803 feat: Add menu customization with copy functionality
  .gitignore
  src/frontend/src/components/core/jsonEditor/index.tsx
  src/frontend/src/components/core/jsonEditor/menuUtils.ts
  src/frontend/src/components/core/jsonEditor/useMenuCustomization.ts
  src/frontend/tests/extended/features/copy-button-in-output.spec.ts
Labels: enhancement, size:L, lgtm

#8847 feat(api): add special handling for _mcp_servers file uploads and improve tests
  .github/workflows/ci.yml
  .github/workflows/python_test.yml
  src/backend/base/langflow/api/v2/files.py
  src/backend/base/langflow/api/v2/mcp.py
  src/backend/tests/unit/api/v2/test_files.py
  src/backend/tests/unit/api/v2/test_mcp_servers_file.py
Labels: enhancement, size:L, lgtm

#8827 fix: Exclude text selections from flow actions in PageComponent
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
Labels: bug, size:XS, lgtm

#8835 refactor: Improve async handling and file clearing logic
  src/frontend/src/modals/IOModal/components/chatView/chatInput/chat-input.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/no-input.tsx
  src/frontend/src/modals/IOModal/playground-modal.tsx
  src/frontend/tests/core/unit/fileUploadComponent.spec.ts
Labels: javascript, size:M, lgtm, refactor, fast-track

#8884 fix: add launcher script to wrap langflow startup
  pyproject.toml
  src/backend/base/langflow/langflow_launcher.py
  uv.lock
Labels: bug, size:M, lgtm

#8906 fix: updates Youtube Analysis template error message
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Labels: bug, size:XS, lgtm

#8905 chore(deps): update pyleak version and activate pyleak_marker in tests
  pyproject.toml
  src/backend/tests/integration/components/helpers/test_parse_json_data.py
  src/backend/tests/integration/flows/test_basic_prompting.py
  uv.lock
Labels: size:S, lgtm, ignore-for-release

#8907 fix: Improve AppHeader layout responsiveness glitch
  src/frontend/src/components/core/appHeaderComponent/index.tsx
Labels: bug, size:XS, lgtm

#8900 docs: add agent docs link from component
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/components/datastax/astradb_tool.py
Labels: documentation, size:XS, lgtm

#8908 fix: health check for mcp server
  src/backend/base/langflow/base/mcp/util.py
Labels: bug, size:M, lgtm

#8915 refactor: Update useIsLocalConnection to useCustomIsLocalConnection
  src/frontend/src/customization/hooks/use-custom-is-local-connection.ts
  src/frontend/src/pages/MainPage/pages/homePage/components/McpServerTab.tsx
Labels: javascript, size:XS, lgtm, refactor

#8918 fix: prevent message duplication in ProjectMCPServer and handle_call_tool
  src/backend/base/langflow/api/v1/mcp.py
  src/backend/base/langflow/api/v1/mcp_projects.py
Labels: bug, size:M, lgtm

#8911 fix: reset files count after deletion, enable files filtering by column
  src/frontend/src/customization/hooks/custom-handle-bulk-files-download.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/index.tsx
Labels: bug, size:S, lgtm

#8912 fix: add description to API Access dialog and link it to API Keys on settings
  src/frontend/src/components/common/pageLayout/index.tsx
  src/frontend/src/modals/apiModal/index.tsx
  src/frontend/src/pages/SettingsPage/index.tsx
Labels: bug, size:M, lgtm

#8909 fix: don't send duplicate messages to Agent
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/base/agents/events.py
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/components/datastax/astradb_tool.py
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/base/langflow/schema/data.py
  src/backend/base/langflow/schema/image.py
  src/backend/base/langflow/schema/message.py
  src/backend/base/langflow/utils/image.py
  src/backend/tests/unit/schema/test_schema_data.py
  src/backend/tests/unit/schema/test_schema_message.py
  src/backend/tests/unit/utils/test_image_utils.py
  src/frontend/tests/extended/regression/general-bugs-agent-sum-duplicate-message-playground.spec.ts
Labels: bug, size:L, lgtm, fast-track

#8935 feat: Add dynamic theming support to WatsonxAI icon
  src/frontend/src/icons/IBMWatsonx/WatsonxAI.jsx
  src/frontend/src/icons/IBMWatsonx/index.tsx
Labels: enhancement, javascript, size:S, lgtm

#8944 refactor: Extract single file download logic to custom hook
  src/frontend/src/customization/hooks/use-custom-handle-bulk-files-download.ts
  src/frontend/src/customization/hooks/use-custom-handle-single-file-download.ts
  src/frontend/src/modals/fileManagerModal/components/filesContextMenuComponent/index.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/index.tsx
Labels: size:M, lgtm, refactor

#8950 docs: update nv-ingest component
  docs/docs/Integrations/Nvidia/integrations-nvidia-ingest.md
Labels: documentation, size:M, lgtm

#8954 fix: Ensure flow_id is not None before logging vertex build details
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/utils.py
Labels: bug, size:S, lgtm

#8832 feat: jigsawstack bundle integration
  pyproject.toml
  src/backend/base/langflow/components/jigsawstack/__init__.py
  src/backend/base/langflow/components/jigsawstack/ai_scrape.py
  src/backend/base/langflow/components/jigsawstack/ai_web_search.py
  src/backend/base/langflow/components/jigsawstack/file_read.py
  src/backend/base/langflow/components/jigsawstack/file_upload.py
  src/backend/base/langflow/components/jigsawstack/image_generation.py
  src/backend/base/langflow/components/jigsawstack/nsfw.py
  src/backend/base/langflow/components/jigsawstack/object_detection.py
  src/backend/base/langflow/components/jigsawstack/sentiment.py
  src/backend/base/langflow/components/jigsawstack/text_to_sql.py
  src/backend/base/langflow/components/jigsawstack/text_translate.py
  src/backend/base/langflow/components/jigsawstack/vocr.py
  src/frontend/src/icons/JigsawStack/JigsawStackIcon.jsx
  src/frontend/src/icons/JigsawStack/index.tsx
  src/frontend/src/icons/JigsawStack/jigsawstack-icon.svg
  src/frontend/src/icons/eagerIconImports.ts
  src/frontend/src/icons/lazyIconImports.ts
  src/frontend/src/utils/styleUtils.ts
  uv.lock
Labels: enhancement, size:XXL, lgtm, fast-track

#8959 fix: clean edges of same type but different name when switching outputs, update color when deleting edges
  src/frontend/src/CustomNodes/GenericNode/components/handleRenderComponent/index.tsx
  src/frontend/src/utils/reactflowUtils.ts
Labels: bug, javascript, size:S, lgtm

#8838 feat: enhance DataFrame Operations component with contains filter and modern UI
  src/backend/base/langflow/components/processing/dataframe_operations.py
  src/backend/tests/unit/components/processing/test_dataframe_operations.py
Labels: enhancement, size:XL, lgtm

#8975 refactor: update cache service type hints in MCPToolsComponent
  src/backend/base/langflow/components/agents/mcp_component.py
Labels: size:XS

#8983 fix: add scroll to update components review dialog
  src/frontend/src/modals/updateComponentModal/index.tsx
Labels: bug, size:M, lgtm

#8866 docs: add windows desktop back for 1.5 release
  docs/docs/Get-Started/get-started-installation.md
  docs/docs/Support/troubleshooting.md
Labels: documentation, size:M, lgtm

#8977 templates: Update Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: size:XS, lgtm

#8951 docs: add unix note to api pane
  docs/docs/Concepts/concepts-publish.md
Labels: documentation, size:XS, lgtm

#8813 docs: chatbot with files tutorial
  docs/docs/Tutorials/chat-with-files.md
  docs/sidebars.js
  docs/static/files/fake-resume.txt
  docs/static/img/tutorial-chat-file-loader.png
Labels: documentation, size:L, lgtm

#8982 fix: improved better health check and stream URL check on MCP, improved JSON recognition
  src/backend/base/langflow/base/mcp/util.py
  src/frontend/src/utils/mcpUtils.ts
  src/frontend/tests/extended/features/mcp-server-tab.spec.ts
Labels: bug, size:XL, lgtm

#8929 docs: rag chatbot tutorial
  docs/docs/Tutorials/chat-with-rag.md
  docs/sidebars.js
  docs/static/img/tutorial-chatbot-chat-flow.png
  docs/static/img/tutorial-chatbot-embed-files.png
Labels: documentation, size:L, lgtm

#8933 feat: add utility to insert code field into build config dictionary
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/custom/utils.py
Labels: enhancement, size:S, lgtm

#8992 docs: skip auth note
  docs/docs/Configuration/configuration-authentication.md
Labels: documentation, size:XS, lgtm

#8994 bug: re-add NVIDIA Remix starter template
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
Labels: bug, size:XS, lgtm

#8845 docs: Repurpose Concepts section to focus on the visual editor and flows
  docs/docs/API-Reference/api-build.md
  docs/docs/API-Reference/api-files.md
  docs/docs/API-Reference/api-flows-run.md
  docs/docs/API-Reference/api-flows.md
  docs/docs/API-Reference/api-projects.md
  docs/docs/API-Reference/api-reference-api-examples.md
  docs/docs/Agents/agents-tools.md
  docs/docs/Agents/agents.md
  docs/docs/Components/components-agents.md
  docs/docs/Components/components-io.md
  docs/docs/Components/mcp-client.md
  docs/docs/Concepts/concepts-components.md
  docs/docs/Concepts/concepts-file-management.md
  docs/docs/Concepts/concepts-flows-import.md
  docs/docs/Concepts/concepts-flows.md
  docs/docs/Concepts/concepts-overview.md
  docs/docs/Concepts/concepts-playground.md
  docs/docs/Concepts/concepts-publish.md
  docs/docs/Concepts/concepts-voice-mode.md
  docs/docs/Concepts/embedded-chat-widget.md
  docs/docs/Concepts/mcp-server.md
  docs/docs/Configuration/configuration-api-keys.md
  docs/docs/Configuration/configuration-authentication.md
  docs/docs/Configuration/configuration-custom-database.md
  docs/docs/Configuration/configuration-global-variables.md
  docs/docs/Configuration/environment-variables.md
  docs/docs/Contributing/contributing-bundles.md
  docs/docs/Contributing/contributing-community.md
  docs/docs/Contributing/contributing-github-issues.md
  docs/docs/Contributing/contributing-telemetry.md
  docs/docs/Deployment/deployment-docker.md
  docs/docs/Deployment/deployment-public-server.md
  docs/docs/Develop/Clients/typescript-client.md
  docs/docs/Develop/develop-application.md
  docs/docs/Develop/develop-overview.md
  docs/docs/Develop/install-custom-dependencies.md
  docs/docs/Develop/memory.md
  docs/docs/Get-Started/about-langflow.md
  docs/docs/Get-Started/get-started-installation.md
  docs/docs/Get-Started/get-started-quickstart.md
  docs/docs/Get-Started/welcome-to-langflow.md
  docs/docs/Support/release-notes.md
  docs/docs/Support/troubleshooting.md
  docs/docs/Tutorials/chat-with-files.md
  docs/docs/Tutorials/chat-with-rag.md
  docs/docusaurus.config.js
  docs/sidebars.js
Labels: documentation, size:XXL, lgtm

#8961 docs: agents tutorial
  docs/docs/Components/mcp-client.md
  docs/docs/Tutorials/agent.md
  docs/sidebars.js
  docs/static/files/customer_orders/customer_orders.csv
  docs/static/img/tutorial-agent-with-directory.png
Labels: documentation, size:L, lgtm

#8989 refactor: Improve HomePage state management and tab switching
  src/frontend/src/pages/MainPage/pages/homePage/index.tsx
Labels: javascript, size:S, lgtm, refactor

#8988 refactor: Improve HeaderButtons state sync with userData
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/header-buttons.tsx
Labels: javascript, size:S, lgtm, refactor

#9040 test: Add 500ms timeout to starter-projects spec for timing reliability
  src/frontend/tests/core/integrations/starter-projects.spec.ts
Labels: size:XS, test

#9048 chore: update pre-commit configuration to use local ruff hooks
  .pre-commit-config.yaml
Labels: size:XS, ignore-for-release

#9054 feat(database): add noop mode with config flag and update related tests
  docs/docs/Configuration/environment-variables.mdx
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/services/database/service.py
  src/backend/base/langflow/services/database/session.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/langflow/services/utils.py
  src/backend/tests/conftest.py
  src/backend/tests/unit/components/agents/test_agent_component.py
  src/backend/tests/unit/custom/custom_component/test_component.py
Labels: enhancement, size:L, lgtm

#9061 fix: Prevent Authorization header on external URLs
  src/frontend/src/controllers/API/api.tsx
Labels: bug, size:XS, lgtm

#9073 docs: remove unused template
  docs/static/files/Google_Drive_Docs_Translation_Example.json
Labels: documentation, size:XXL, lgtm

#9079 docs: add deepwiki badge to readme
  README.md
Labels: documentation, size:XS, lgtm, fast-track

#9080 docs: endquote in code alias
  docs/docs/Concepts/concepts-publish.mdx
Labels: documentation, size:XS, lgtm

#9022 docs: add mcp tutorial
  docs/docs/Tutorials/chat-with-files.mdx
  docs/docs/Tutorials/mcp-tutorial.mdx
  docs/sidebars.js
  docs/static/img/tutorial-mcp-geolocation.png
  docs/static/img/tutorial-mcp-weather.png
Labels: documentation, size:L, lgtm

#9074 docs: data types
  docs/docs/Components/components-data.mdx
  docs/docs/Components/components-io.mdx
  docs/docs/Components/components-logic.mdx
  docs/docs/Components/components-memories.mdx
  docs/docs/Components/components-processing.mdx
  docs/docs/Components/components-tools.mdx
  docs/docs/Components/components-vector-stores.mdx
  docs/docs/Concepts/concepts-components.mdx
  docs/docs/Concepts/concepts-objects.mdx
  docs/docs/Concepts/data-types.mdx
  docs/docs/Develop/memory.mdx
  docs/docs/Integrations/Docling/integrations-docling.mdx
  docs/docs/Integrations/Nvidia/integrations-nvidia-g-assist.mdx
  docs/docs/Integrations/Nvidia/integrations-nvidia-ingest.mdx
  docs/docs/Templates/financial-report-parser.mdx
  docs/docs/Templates/simple-agent.mdx
  docs/docs/Tutorials/agent.mdx
  docs/docusaurus.config.js
  docs/sidebars.js
Labels: documentation, size:XL, lgtm

#9097 PoV: Add Parquet data retrieval to KBRetrievalComponent
  pyproject.toml
  src/backend/base/langflow/components/data/kb_retrieval.py
  uv.lock
Labels: lgtm

#9042 feat: Add CustomMarkdownField wrapper component
  src/frontend/src/customization/components/custom-markdown-field.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/chat-message.tsx
Labels: enhancement, size:M, lgtm

#8836 feat: Add dual output support to Agent component with structured JSON parsing
  src/backend/base/langflow/base/models/openai_constants.py
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/tests/unit/components/agents/test_agent_component.py
Labels: enhancement, size:L, lgtm, DO NOT MERGE, community

#9122 docs: user feedback items
  docs/docs/Agents/agents.mdx
  docs/docs/Components/components-helpers.mdx
  docs/docs/Concepts/concepts-flows.mdx
  docs/docs/Concepts/mcp-server.mdx
  docs/docs/Configuration/environment-variables.mdx
  docs/docs/Develop/logging.mdx
  docs/docs/Develop/memory.mdx
Labels: documentation, lgtm

#9135 docs: Move small edits to reduce scope of PR 9115
  docs/docs/Develop/webhook.mdx
  docs/docs/Integrations/Notion/notion-agent-conversational.mdx
  docs/docs/Support/luna-for-langflow.mdx
  docs/docs/Support/release-notes.mdx
  docs/docs/Support/troubleshooting.mdx
Labels: documentation, lgtm

#9147 fix: update text truncation limits to allow better visibility
  src/backend/base/langflow/serialization/constants.py
Labels: bug, lgtm

#9057 docs: langflow 1.5 auto-login security doc
  SECURITY.md
  docs/docs/Configuration/configuration-api-keys.mdx
  docs/docs/Configuration/configuration-authentication.mdx
  docs/docs/Configuration/environment-variables.mdx
Labels: documentation, size:XS, lgtm

#9075 docs: expand multiple outputs section to include group_outputs behavior
  docs/docs/Components/components-custom-components.mdx
Labels: documentation, size:M, lgtm

#9146 fix: updated design of info button on files component
  src/frontend/src/modals/fileManagerModal/components/dragFilesComponent/index.tsx
Labels: bug, lgtm

#9019 ref: make superuser creation more multi-user friendly
  src/backend/base/langflow/components/agents/mcp_component.py
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/services/auth/utils.py
  src/backend/base/langflow/services/utils.py
  src/backend/tests/unit/test_setup_superuser.py
Labels: enhancement, size:L, lgtm, community

#9149 fix: make cleanlab evaluator outputs not be grouped
  src/backend/base/langflow/components/cleanlab/cleanlab_evaluator.py
  src/frontend/src/utils/styleUtils.ts
Labels: bug, lgtm

#9154 fix: Relax redis dependency version constraint
  pyproject.toml
  uv.lock
Labels: bug, lgtm

#9160 docs: fix typo in left nav
  docs/docs/Components/bundles-nvidia.mdx
  docs/sidebars.js
Labels: documentation, lgtm

#9158 refactor: Update mcp composer json
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/services/settings/feature_flags.py
  src/frontend/src/pages/MainPage/pages/homePage/components/McpServerTab.tsx
Labels: lgtm, refactor, fast-track

#9140 fix: refactor bundle and component names
  .cursor/rules/icons.mdc
  src/backend/base/langflow/base/huggingface/model_bridge.py
  src/backend/base/langflow/base/models/aiml_constants.py
  src/backend/base/langflow/base/models/groq_constants.py
  src/backend/base/langflow/components/aiml/aiml.py
  src/backend/base/langflow/components/aiml/aiml_embeddings.py
  src/backend/base/langflow/components/anthropic/anthropic.py
  src/backend/base/langflow/components/datastax/astra_vectorize.py
  src/backend/base/langflow/components/datastax/astradb_cql.py
  src/backend/base/langflow/components/datastax/astradb_tool.py
  src/backend/base/langflow/components/datastax/cassandra.py
  src/backend/base/langflow/components/datastax/getenvvar.py
  src/backend/base/langflow/components/firecrawl/firecrawl_crawl_api.py
  src/backend/base/langflow/components/firecrawl/firecrawl_extract_api.py
  src/backend/base/langflow/components/firecrawl/firecrawl_map_api.py
  src/backend/base/langflow/components/firecrawl/firecrawl_scrape_api.py
  src/backend/base/langflow/components/google/google_generative_ai_embeddings.py
  src/backend/base/langflow/components/homeassistant/list_home_assistant_states.py
  src/backend/base/langflow/components/huggingface/huggingface.py
  src/backend/base/langflow/components/huggingface/huggingface_inference_api.py
  src/backend/base/langflow/components/langchain_utilities/character.py
  src/backend/base/langflow/components/langchain_utilities/csv_agent.py
  src/backend/base/langflow/components/maritalk/maritalk.py
  src/backend/base/langflow/components/scrapegraph/scrapegraph_markdownify_api.py
  src/backend/base/langflow/components/scrapegraph/scrapegraph_search_api.py
  src/backend/base/langflow/components/scrapegraph/scrapegraph_smart_scraper_api.py
  src/backend/base/langflow/components/searchapi/search.py
  src/backend/base/langflow/components/serper/__init__.py
  src/backend/base/langflow/components/serper/google_serper_api_core.py
  src/backend/base/langflow/components/tools/yahoo_finance.py
  src/backend/base/langflow/components/twelvelabs/convert_astra_results.py
  src/backend/base/langflow/components/twelvelabs/pegasus_index.py
  src/backend/base/langflow/components/twelvelabs/text_embeddings.py
  src/backend/base/langflow/components/twelvelabs/twelvelabs_pegasus.py
  src/backend/base/langflow/components/twelvelabs/video_embeddings.py
  src/backend/base/langflow/components/vectorstores/cassandra.py
  src/backend/base/langflow/components/vectorstores/cassandra_graph.py
  src/backend/base/langflow/components/vertexai/vertexai_embeddings.py
  src/backend/base/langflow/components/wolframalpha/wolfram_alpha_api.py
  src/backend/base/langflow/components/yahoosearch/yahoo.py
  src/backend/base/langflow/components/youtube/playlist.py
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/tests/unit/components/search/test_yfinance_tool.py
  src/frontend/src/constants/constants.ts
  src/frontend/src/icons/eagerIconImports.ts
  src/frontend/src/icons/lazyIconImports.ts
  src/frontend/src/utils/styleUtils.ts
  src/frontend/tests/core/features/filterSidebar.spec.ts
  src/frontend/tests/core/integrations/Youtube Analysis.spec.ts
  src/frontend/tests/extended/features/filterEdge-shard-1.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-11.spec.ts
Labels: bug, lgtm

#9180 fix: refactor auth modal design for mcp composer
  .cursor/settings.json
  src/frontend/src/modals/authModal/index.tsx
  src/frontend/src/modals/baseModal/helpers/switch-case-size.ts
  src/frontend/src/modals/baseModal/index.tsx
Labels: bug, lgtm, fast-track

#9105 refactor: remove AsyncFileSink logger, add rotation support, and update docs
  .env.example
  docs/docs/Develop/logging.mdx
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/load/load.py
  src/backend/base/langflow/logging/logger.py
  src/backend/base/langflow/services/flow/flow_runner.py
Labels: lgtm, refactor, fast-track

#9148 fix: store mcp sse headers and use them on connection
  src/backend/base/langflow/base/mcp/util.py
  src/backend/tests/unit/components/data/test_mcp_component.py
  src/frontend/src/controllers/API/queries/mcp/use-add-mcp-server.ts
  src/frontend/src/controllers/API/queries/mcp/use-patch-mcp-server.ts
  src/frontend/src/modals/IOModal/components/IOFieldView/components/key-pair-input.tsx
  src/frontend/src/modals/addMcpServerModal/index.tsx
  src/frontend/src/utils/mcpUtils.ts
  src/frontend/tests/extended/features/mcp-server.spec.ts
Labels: bug, lgtm

#9089 refactor: Update Blank Flow Name
  src/frontend/src/utils/__tests__/createNewFlow.test.ts
  src/frontend/src/utils/reactflowUtils.ts
  src/frontend/tests/core/features/actionsMainPage-shard-1.spec.ts
  src/frontend/tests/core/features/user-flow-state-cleanup.spec.ts
  src/frontend/tests/extended/features/auto-save-off.spec.ts
  src/frontend/tests/extended/features/autoLogin.spec.ts
  src/frontend/tests/extended/features/bulk-actions.spec.ts
  src/frontend/tests/extended/features/mcp-server.spec.ts
  src/frontend/tests/extended/regression/general-bugs-shard-3909.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-13.spec.ts
  src/frontend/tests/utils/await-bootstrap-test.ts
Labels: lgtm, refactor

#9196 docs: Audit use of tabs and details
  docs/docs/API-Reference/api-build.mdx
  docs/docs/API-Reference/api-files.mdx
  docs/docs/API-Reference/api-flows-run.mdx
  docs/docs/API-Reference/api-flows.mdx
  docs/docs/API-Reference/api-logs.mdx
  docs/docs/API-Reference/api-monitor.mdx
  docs/docs/API-Reference/api-projects.mdx
  docs/docs/API-Reference/api-reference-api-examples.mdx
  docs/docs/API-Reference/api-users.mdx
  docs/docs/Agents/agents-tools.mdx
  docs/docs/Components/components-data.mdx
  docs/docs/Components/components-vector-stores.mdx
  docs/docs/Concepts/concepts-file-management.mdx
  docs/docs/Concepts/concepts-overview.mdx
  docs/docs/Concepts/concepts-playground.mdx
  docs/docs/Concepts/concepts-publish.mdx
  docs/docs/Concepts/data-types.mdx
  docs/docs/Concepts/mcp-server.mdx
  docs/docs/Configuration/configuration-api-keys.mdx
  docs/docs/Configuration/configuration-authentication.mdx
  docs/docs/Configuration/configuration-global-variables.mdx
  docs/docs/Configuration/environment-variables.mdx
  docs/docs/Contributing/contributing-how-to-contribute.mdx
  docs/docs/Deployment/deployment-kubernetes-prod.mdx
  docs/docs/Develop/Clients/typescript-client.mdx
  docs/docs/Develop/develop-application.mdx
  docs/docs/Get-Started/get-started-installation.mdx
  docs/docs/Get-Started/get-started-quickstart.mdx
  docs/docs/Integrations/Arize/integrations-arize.mdx
  docs/docs/Integrations/Docling/integrations-docling.mdx
  docs/docs/Integrations/Google/integrations-google-big-query.mdx
  docs/docs/Tutorials/agent.mdx
  docs/docs/Tutorials/chat-with-files.mdx
  docs/docs/Tutorials/chat-with-rag.mdx
Labels: documentation, lgtm

#9125 feat: Add smoke tests workflow for PR validation
  .github/workflows/smoke-tests.yml
  src/backend/tests/unit/test_initial_setup.py
Labels: enhancement, lgtm, smoke-test

#9189 docs: refresh remote server page
  docs/docs/Deployment/deployment-caddyfile.mdx
Labels: documentation, lgtm

#9233 feat: add InputFile customization
  src/frontend/src/components/core/parameterRenderComponent/index.tsx
  src/frontend/src/customization/components/custom-input-file.tsx
Labels: enhancement, lgtm

#9224 refactor(tests): parameterize template tests and update timeout use
  .github/workflows/ci.yml
  .github/workflows/template-tests.yml
  Makefile
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/base/langflow/utils/template_validation.py
  src/backend/tests/conftest.py
  src/backend/tests/integration/components/astra/test_astra_component.py
  src/backend/tests/locust/locustfile.py
  src/backend/tests/unit/components/agents/test_agent_component.py
  src/backend/tests/unit/template/test_starter_projects.py
  src/backend/tests/unit/utils/test_template_validation.py
Labels: lgtm, refactor

#9231 docs: fixed broken links in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, lgtm

#9191 fix: remove duplicated Makefile target `format_frontend`
  Makefile
Labels: bug, lgtm

#9241 docs: Touchup cloud provider deployment pages
  docs/docs/Components/components-custom-components.mdx
  docs/docs/Components/components-data.mdx
  docs/docs/Concepts/concepts-file-management.mdx
  docs/docs/Configuration/environment-variables.mdx
  docs/docs/Deployment/deployment-gcp.mdx
  docs/docs/Deployment/deployment-hugging-face-spaces.mdx
  docs/docs/Deployment/deployment-prod-best-practices.mdx
  docs/docs/Deployment/deployment-railway.mdx
  docs/docs/Deployment/deployment-render.mdx
  docs/docs/Develop/memory.mdx
  docs/sidebars.js
Labels: documentation, lgtm

#9223 docs: LANGFLOW_ENABLE_SUPERUSER_CLI environment variable
  docs/docs/Configuration/api-keys-and-authentication.mdx
  docs/docs/Configuration/configuration-cli.mdx
  docs/docs/Configuration/environment-variables.mdx
Labels: documentation, lgtm

#9235 docs: Remove template pages because templates already include explanatory notes within Langflow
  docs/docs/API-Reference/api-files.mdx
  docs/docs/API-Reference/api-flows-run.mdx
  docs/docs/Agents/agents-tools.mdx
  docs/docs/Agents/agents.mdx
  docs/docs/Components/bundles-huggingface.mdx
  docs/docs/Components/components-agents.mdx
  docs/docs/Components/components-data.mdx
  docs/docs/Components/components-helpers.mdx
  docs/docs/Components/components-io.mdx
  docs/docs/Components/components-models.mdx
  docs/docs/Components/components-processing.mdx
  docs/docs/Components/components-prompts.mdx
  docs/docs/Components/components-vector-stores.mdx
  docs/docs/Concepts/concepts-file-management.mdx
  docs/docs/Concepts/concepts-flows.mdx
  docs/docs/Concepts/concepts-overview.mdx
  docs/docs/Concepts/concepts-playground.mdx
  docs/docs/Concepts/concepts-publish.mdx
  docs/docs/Concepts/concepts-voice-mode.mdx
  docs/docs/Concepts/mcp-server.mdx
  docs/docs/Develop/develop-application.mdx
  docs/docs/Get-Started/about-langflow.mdx
  docs/docs/Integrations/Arize/integrations-arize.mdx
  docs/docs/Integrations/Cleanlab/integrations-cleanlab.mdx
  docs/docs/Integrations/mcp-component-astra.mdx
  docs/docs/Templates/basic-prompting.mdx
  docs/docs/Templates/blog-writer.mdx
  docs/docs/Templates/document-qa.mdx
  docs/docs/Templates/financial-report-parser.mdx
  docs/docs/Templates/memory-chatbot.mdx
  docs/docs/Templates/sequential-agent.mdx
  docs/docs/Templates/simple-agent.mdx
  docs/docs/Templates/travel-planning-agent.mdx
  docs/docs/Templates/vector-store-rag.mdx
  docs/docs/Tutorials/agent.mdx
  docs/docs/Tutorials/chat-with-files.mdx
  docs/docs/Tutorials/mcp-tutorial.mdx
  docs/docusaurus.config.js
  docs/sidebars.js
Labels: documentation, lgtm

#9245 docs: reference exported key
  docs/docs/Get-Started/get-started-quickstart.mdx
Labels: documentation, lgtm

#9134 feat: Add unified model and embedding components
  src/backend/base/langflow/components/models/model_input_example.py
  src/backend/base/langflow/components/models/unified_embedding_model.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/inputs/__init__.py
  src/backend/base/langflow/inputs/inputs.py
Labels: enhancement
