Repository langflow-ai/langflow, pull requests merged in 2025-04, with the labels that each got.

#7271 docs: update API and authentication pages
  docs/docs/Configuration/configuration-api-keys.md
  docs/docs/Configuration/configuration-authentication.md
Labels: documentation, size:L, lgtm

#7381 fix: make sure public flow endpoint is correctly identified
  src/frontend/src/controllers/API/helpers/constants.ts
Labels: bug, size:XS, lgtm

#7368 fix: made global variables apply to fields not overwrite fields on refresh
  src/frontend/src/components/core/parameterRenderComponent/components/inputGlobalComponent/index.tsx
Labels: bug, size:XS, lgtm

#7264 docs: update global variable page
  docs/docs/Configuration/configuration-global-variables.md
Labels: documentation, size:M, lgtm

#7385 tests: add tests for streaming calls on api/v1/run
  src/backend/base/langflow/services/database/models/api_key/crud.py
  src/backend/tests/conftest.py
  src/backend/tests/unit/test_endpoints.py
Labels: size:L, lgtm

#7391 docs: fix localhost address for NIM docs
  docs/docs/Integrations/Nvidia/integrations-nvidia-nim-wsl2.md
Labels: documentation, size:XS, lgtm

#7390 fix: centralize OpenAI voice definitions and fix voice array state loading in voice assistant
  src/frontend/src/constants/constants.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/components/audio-settings/audio-settings-dialog.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/components/audio-settings/components/voice-select.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/helpers/check-provider.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/voice-assistant.tsx
  src/frontend/src/stores/voiceStore.ts
Labels: bug, size:M, lgtm

#7389 docs: move mcp up in integrations sidebar
  docs/sidebars.js
Labels: documentation, size:S, lgtm

#7380 fix: typo in Alembic enum type declaration
  src/backend/base/langflow/alembic/versions/f3b2d1f1002d_add_column_access_type_to_flow.py
Labels: bug, size:XS, lgtm

#7392 chore: bump langflow for 1.3.1
  pyproject.toml
  src/backend/base/pyproject.toml
  src/frontend/package-lock.json
  src/frontend/package.json
  uv.lock
Labels: size:S, lgtm, ignore-for-release

#7413 fix: add correct amber colors and button design
  src/frontend/src/components/ui/button.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/voice-assistant.tsx
  src/frontend/src/style/index.css
Labels: bug, size:S, lgtm

#7249 feat: Enhance StructuredOutputComponent and add trustcall dependency
  .github/workflows/typescript_test.yml
  src/backend/base/langflow/components/helpers/structured_output.py
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/pyproject.toml
  src/backend/tests/unit/components/helpers/test_structured_output_component.py
  src/backend/tests/unit/mock_language_model.py
  src/frontend/tests/assets/resume.txt
  src/frontend/tests/core/integrations/Portfolio Website Code Generator.spec.ts
  uv.lock
Labels: enhancement, size:L, lgtm

#7395 fix: fixes dropdown refreshList not working properly
  src/frontend/package-lock.json
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/dropdownComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/strRenderComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/types.ts
  src/frontend/src/types/components/index.ts
Labels: bug, javascript, size:M, lgtm

#7393 fix: removed dependency from useEffect that causes chat input to be cleared
  src/frontend/src/modals/IOModal/components/chatView/components/chat-view.tsx
Labels: bug, javascript, size:XS, lgtm

#7383 docs: update arize phoenix variable
  docs/docs/Integrations/Arize/integrations-arize.md
Labels: documentation, size:M, lgtm

#7404 fix: removed handle from sortableinput and connectinput
  src/frontend/src/constants/constants.ts
Labels: bug, size:XS, lgtm

#7423 fix: Fixed typo in mcp host setup
  src/backend/base/langflow/api/v1/mcp.py
Labels: bug, size:XS, lgtm

#7409 docs: mcp integration claude path
  docs/docs/Integrations/MCP/integrations-mcp.md
Labels: documentation, size:S, lgtm

#7430 fix: move home assistants to bundle
  src/frontend/src/utils/styleUtils.ts
Labels: bug, size:XS, lgtm

#7419 feat: add customization components
  src/frontend/src/components/core/parameterRenderComponent/components/webhookFieldComponent/index.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/controllers/API/queries/config/use-get-config.ts
  src/frontend/src/customization/components/custom-secret-key-modal-button.tsx
  src/frontend/src/customization/hooks/use-generate-token.ts
  src/frontend/src/modals/secretKeyModal/index.tsx
Labels: enhancement, javascript, size:L, lgtm

#7394 Fix: add insert mode MongoDB
  docs/docs/Components/components-vector-stores.md
  src/backend/base/langflow/components/vectorstores/mongodb_atlas.py
  src/backend/tests/unit/components/vectorstores/test_mongodb_atlas.py
Labels: enhancement, size:L, lgtm

#7364 feat: Composio Gmail component and AuthInput feature
  src/backend/base/langflow/base/composio/__init__.py
  src/backend/base/langflow/base/composio/composio_base.py
  src/backend/base/langflow/components/composio/__init__.py
  src/backend/base/langflow/components/composio/gmail_composio.py
  src/backend/base/langflow/inputs/__init__.py
  src/backend/base/langflow/inputs/input_mixin.py
  src/backend/base/langflow/inputs/inputs.py
  src/backend/base/langflow/utils/constants.py
  src/backend/tests/unit/components/bundles/composio/test_base.py
  src/backend/tests/unit/components/bundles/composio/test_gmail.py
  src/frontend/src/CustomNodes/GenericNode/components/ListSelectionComponent/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/searchBarComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/sortableListComponent/index.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/utils/styleUtils.ts
  src/frontend/src/utils/utils.ts
  src/frontend/tests/core/features/composio.spec.ts
Labels: enhancement, size:XXL, lgtm

#7435 fix: add direct event delivery option but keep polling as default
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/langflow/services/settings/base.py
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/index.tsx
  src/frontend/src/constants/enums.ts
  src/frontend/src/modals/IOModal/new-modal.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/types/zustand/flow/index.ts
  src/frontend/src/utils/buildUtils.ts
Labels: bug, size:L, lgtm

#7434 chore: bump langflow and langflow-base for 1.3.2 release
  pyproject.toml
  src/backend/base/pyproject.toml
  src/frontend/package-lock.json
  src/frontend/package.json
  uv.lock
Labels: size:XS, ignore-for-release

#7454 fix: add ENV to Dockerfile when packing flows to image
  docs/docs/Deployment/deployment-docker.md
Labels: bug, size:M, lgtm

#7439 fix: publish button not redirecting to right path
  src/frontend/src/components/core/flowToolbarComponent/components/deploy-dropdown.tsx
Labels: bug, size:M, lgtm

#7065 feat: Add configurable polling interval for syncing flows from FS
  src/backend/base/langflow/alembic/env.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/tests/unit/api/v1/test_flows.py
  src/backend/tests/unit/test_initial_setup.py
Labels: enhancement, size:M, lgtm

#7477 feat: Display flow logs timestamps in local time zone
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/modals/flowLogsModal/index.tsx
  src/frontend/src/utils/utils.ts
Labels: enhancement, size:S, lgtm

#7482 feat: put Shareable Playground under ENABLE_PUBLISH feature flag and removed old publish
  src/frontend/src/components/core/flowToolbarComponent/components/deploy-dropdown.tsx
  src/frontend/src/components/core/flowToolbarComponent/components/playground-button.tsx
  src/frontend/src/components/core/flowToolbarComponent/index.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/chat-message.tsx
  src/frontend/src/modals/IOModal/new-modal.tsx
Labels: enhancement, size:L, lgtm

#7484 fix: Improve error handling for NVIDIA model component
  src/backend/base/langflow/components/models/nvidia.py
Labels: bug, size:S, lgtm

#7410 feat: adds pan and pinch nav mode like figma
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/tests/core/features/group.spec.ts
  src/frontend/tests/core/features/saveComponents.spec.ts
  src/frontend/tests/core/features/toolModeGroup.spec.ts
  src/frontend/tests/core/regression/generalBugs-shard-5.spec.ts
Labels: enhancement, size:M, lgtm, DO NOT MERGE

#7441 fix: removed file uploaded successfully message when no file is picked, fixed nvidia ingest message
  src/backend/base/langflow/components/nvidia/nvidia_ingest.py
  src/frontend/src/constants/constants.ts
  src/frontend/src/helpers/create-file-upload.ts
  src/frontend/src/modals/fileManagerModal/components/dragFilesComponent/index.tsx
Labels: bug, size:S, lgtm

#7436 tests: add "direct" event delivery method in tests
  src/frontend/tests/utils/withEventDeliveryModes.ts
Labels: size:XS, lgtm

#7491 docs: gtag management
  docs/docs/Deployment/deployment-overview.md
  docs/docusaurus.config.js
Labels: documentation, size:XS, lgtm

#7508 update script to remove link if in default jurisdiction and handle GA…
  docs/docusaurus.config.js
Labels: size:M

#7509 Fix ketch script issue
  docs/docusaurus.config.js
Labels: size:L

#7502 Update custom.css for desktop ad
  docs/css/custom.css
Labels: size:XS, lgtm

#7513 Fix Ketch script again
  docs/css/custom.css
  docs/docusaurus.config.js
Labels: size:M

#7535 fix: bump Astra Assistants version to support AstraPy 2.0
  pyproject.toml
Labels: size:XS

#7514 fix: Resolve event delivery configuration header passing between frontend and backend
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/api/v1/chat.py
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/index.tsx
  src/frontend/src/controllers/API/api.tsx
  src/frontend/src/controllers/API/queries/config/use-get-config.ts
  src/frontend/src/modals/IOModal/new-modal.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/stores/utilityStore.ts
  src/frontend/src/types/zustand/flow/index.ts
  src/frontend/src/types/zustand/utility/index.ts
  src/frontend/src/utils/buildUtils.ts
Labels: bug, size:L, lgtm

#7540 fix: job id should be returned only if event_delivery is not direct
  src/backend/base/langflow/api/v1/chat.py
  src/backend/tests/unit/test_chat_endpoint.py
Labels: size:XS

#7455 Fix: Prevent Error Popups When Session Expires During Logout
  src/frontend/src/controllers/API/queries/flows/use-get-refresh-flows-query.ts
  src/frontend/src/controllers/API/queries/flows/use-get-refresh-flows.ts
Labels: bug, javascript, size:S, lgtm

#7490 Fix: Add ENABLE_IMAGE_ON_PLAYGROUND feature flag to control image upload functionality in playground environment
  src/frontend/src/customization/feature-flags.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/input-wrapper.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/hooks/use-drag-and-drop.ts
  src/frontend/src/modals/IOModal/components/chatView/components/chat-view.tsx
Labels: enhancement, size:S, lgtm

#7528 feat: Disable inspect button for empty node outputs
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputfield/index.tsx
Labels: enhancement, size:S, lgtm

#7532 docs: decrease leftnav spacing
  docs/css/custom.css
Labels: documentation, size:S, lgtm

#7539 fix: update Google Analytics tracking ID in docusaurus configuration
  docs/docs/Components/components-helpers.md
  docs/docusaurus.config.js
Labels: bug, size:XS, lgtm

#7485 fix: removing redundant initialisations in composio components
  src/backend/base/langflow/base/composio/composio_base.py
  src/backend/base/langflow/components/composio/gmail_composio.py
Labels: bug, size:S, lgtm

#7486 fix: Improve Dropdown component handling of custom values and add regression test
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/dropdownComponent/index.tsx
  src/frontend/src/style/applies.css
  src/frontend/tests/extended/regression/general-bugs-dropdown-select-not-in-list.spec.ts
Labels: bug, javascript, size:L, lgtm

#7458 feat: adds new queryInput with separator and dialog
  src/backend/base/langflow/inputs/__init__.py
  src/backend/base/langflow/inputs/input_mixin.py
  src/backend/base/langflow/inputs/inputs.py
  src/backend/base/langflow/io/__init__.py
  src/frontend/src/components/core/parameterRenderComponent/components/queryComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/types.ts
  src/frontend/src/constants/constants.ts
  src/frontend/src/modals/baseModal/helpers/switch-case-size.ts
  src/frontend/src/modals/baseModal/index.tsx
  src/frontend/src/modals/queryModal/index.tsx
  src/frontend/src/types/api/index.ts
  src/frontend/src/types/components/index.ts
  src/frontend/tests/core/unit/queryInputComponent.spec.ts
Labels: enhancement, size:L, lgtm

#7318 refactor: update BatchRunComponent to enhance functionality and usability
  src/backend/base/langflow/components/helpers/batch_run.py
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/tests/unit/components/helpers/test_batch_run_component.py
Labels: size:L, lgtm, refactor

#7557 chore: Composio version bump
  pyproject.toml
  uv.lock
Labels: size:XS, lgtm, ignore-for-release

#7560 fix: published flows now can add rows to the database
  src/backend/base/langflow/alembic/versions/1b8b740a6fa3_remove_fk_constraint_in_message_.py
  src/backend/base/langflow/services/database/models/__init__.py
  src/backend/base/langflow/services/database/models/flow/model.py
  src/backend/base/langflow/services/database/models/message/model.py
  src/backend/base/langflow/services/database/models/transactions/model.py
  src/backend/base/langflow/services/database/models/vertex_builds/model.py
Labels: bug, size:L, lgtm

#7563 fix: remove unecessary comment from build_flow
  src/backend/base/langflow/api/v1/chat.py
Labels: bug, size:XS, lgtm

#7495 feat: add multi-file support and rename NVIDIA Ingest to NeMo Retriever Extraction
  src/backend/base/langflow/components/nvidia/nvidia_ingest.py
Labels: enhancement, size:M, lgtm

#7561 chore: Update Makefile to include PostgreSQL in backend installation
  Makefile
Labels: size:XS, lgtm, ignore-for-release

#7567 fix: Update type hints in BatchRunComponent to avoid lint errors
  src/backend/base/langflow/components/helpers/batch_run.py
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Labels: bug, size:M, lgtm

#7125 feat: frontend docker nginx configuration add brower cache accelerated pages access
  docker/frontend/default.conf.template
  docker/frontend/nginx.conf
Labels: enhancement, size:S, lgtm

#7060 feat: Enable SSL flags for local development
  docs/docs/Configuration/configuration-cli.md
  docs/docs/Configuration/environment-variables.md
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/services/settings/base.py
Labels: enhancement, size:M, lgtm

#7361 feat: QoL MCP
  src/backend/base/langflow/components/tools/mcp_component.py
  src/backend/tests/unit/components/tools/test_mcp_component.py
  src/frontend/src/pages/Playground/index.tsx
  src/frontend/tests/extended/features/mcp-server.spec.ts
Labels: enhancement, size:M, lgtm

#7571 Revert "fix: published flows now can add rows to the database"
  src/backend/base/langflow/alembic/versions/1b8b740a6fa3_remove_fk_constraint_in_message_.py
  src/backend/base/langflow/services/database/models/__init__.py
  src/backend/base/langflow/services/database/models/flow/model.py
  src/backend/base/langflow/services/database/models/message/model.py
  src/backend/base/langflow/services/database/models/transactions/model.py
  src/backend/base/langflow/services/database/models/vertex_builds/model.py
Labels: size:L, lgtm

#7411 fix: removed handle on secret input
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Diet Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/LoopTemplate.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/base/langflow/inputs/inputs.py
Labels: bug, size:XXL, lgtm

#7588 feat: Update CLI message and style
  .devcontainer/README.md
  DEVELOPMENT.md
  src/backend/base/langflow/__main__.py
Labels: enhancement, size:M, lgtm

#7545 docs: parser component example
  docs/docs/Components/components-processing.md
  docs/static/img/component-parser.png
Labels: documentation, size:M, lgtm

#7565 docs: add webhook example
  docs/docs/Components/components-data.md
  docs/docs/Develop/develop-application.md
  docs/docs/Develop/webhook.md
  docs/sidebars.js
  docs/static/img/component-webhook-in-basic-prompting.png
Labels: documentation, size:M, lgtm

#7358 feat: Add Hybrid Search functionality to AstraDB + AstraPy / LangChain Updates
  pyproject.toml
  src/backend/base/langflow/base/vectorstores/model.py
  src/backend/base/langflow/components/embeddings/astra_vectorize.py
  src/backend/base/langflow/components/tools/astradb.py
  src/backend/base/langflow/components/vectorstores/astradb.py
  src/backend/base/langflow/components/vectorstores/hcd.py
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/inputs/input_mixin.py
  src/backend/base/langflow/inputs/inputs.py
  src/backend/base/langflow/io/schema.py
  src/backend/base/langflow/utils/constants.py
  src/backend/tests/integration/components/astra/test_astra_component.py
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/dropdownComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/strRenderComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/types.ts
  src/frontend/src/icons/SearchHybrid/SearchHybridIcon.jsx
  src/frontend/src/icons/SearchHybrid/index.tsx
  src/frontend/src/icons/SearchLexical/SearchLexicalIcon.jsx
  src/frontend/src/icons/SearchLexical/index.tsx
  src/frontend/src/icons/SearchVector/SearchVectorIcon.jsx
  src/frontend/src/icons/SearchVector/index.tsx
  src/frontend/src/modals/queryModal/index.tsx
  src/frontend/src/types/components/index.ts
  src/frontend/src/utils/styleUtils.ts
  src/frontend/tests/extended/features/actionsMainPage-shard-0.spec.ts
  src/frontend/tests/extended/features/filterEdge-shard-1.spec.ts
  src/frontend/tests/utils/await-bootstrap-test.ts
  uv.lock
Labels: enhancement, size:XL, lgtm

#7415 docs: rewrite installation guide
  docs/docs/Get-Started/get-started-installation.md
Labels: documentation, size:L, lgtm

#7569 fix: Enhance foreign key constraint management and naming conventions in migrations
  src/backend/base/langflow/alembic/env.py
  src/backend/base/langflow/alembic/versions/1b8b740a6fa3_remove_fk_constraint_in_message_.py
  src/backend/base/langflow/services/database/models/__init__.py
  src/backend/base/langflow/services/database/models/flow/model.py
  src/backend/base/langflow/services/database/models/message/model.py
  src/backend/base/langflow/services/database/models/transactions/model.py
  src/backend/base/langflow/services/database/models/vertex_builds/model.py
Labels: bug, size:L, lgtm

#7595 fix: Standardize endpoint paths in files v2 API
  src/backend/base/langflow/api/v2/files.py
Labels: bug, size:XS, lgtm

#7601 Fix: CLI Social Links
  .devcontainer/README.md
  DEVELOPMENT.md
  src/backend/base/langflow/__main__.py
Labels: size:M, lgtm

#7603 fix: revert "feat: adds pan and pinch nav mode like figma"
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/tests/core/features/group.spec.ts
  src/frontend/tests/core/features/saveComponents.spec.ts
  src/frontend/tests/core/features/toolModeGroup.spec.ts
  src/frontend/tests/core/regression/generalBugs-shard-5.spec.ts
Labels: bug, size:M, lgtm

#7593 fix: add file format validation to component save-to-file
  src/backend/base/langflow/components/processing/save_to_file.py
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/tests/unit/components/processing/test_save_to_file_component.py
Labels: bug, size:M, lgtm

#7107 feat: enhance openai model component with o1 support
  src/backend/base/langflow/base/models/openai_constants.py
  src/backend/base/langflow/components/models/openai_chat_model.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/tests/unit/components/agents/test_agent_component.py
Labels: enhancement, size:L, lgtm

#7620 fix: remove lexical search from astra db hybrid search
  src/backend/base/langflow/base/vectorstores/model.py
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: bug, size:XS, lgtm

#7573 docs: hybrid search feature
  docs/docs/Components/components-vector-stores.md
Labels: documentation, size:M, lgtm

#7619 feat: Add new OpenAI model options
  src/backend/base/langflow/base/models/openai_constants.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Labels: enhancement, size:L, lgtm

#7616 fix: update build_flow_and_stream with event delivery info
  src/backend/base/langflow/api/v1/chat.py
Labels: bug, size:XS, lgtm

#7625 chore: Update langflow and langflow-base package versions to 1.3.3 and 0.3.3
  pyproject.toml
  src/backend/base/pyproject.toml
  src/frontend/package-lock.json
  src/frontend/package.json
  uv.lock
Labels: size:S, lgtm, ignore-for-release

#7591 fix: update Gmail icon to Google and improve ListSelectionComponent styles
  src/backend/base/langflow/base/composio/composio_base.py
  src/backend/base/langflow/components/composio/gmail_composio.py
  src/frontend/src/CustomNodes/GenericNode/components/ListSelectionComponent/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeInputField/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/RenderInputParameters/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/connectionComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/searchBarComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/sortableListComponent/index.tsx
  src/frontend/src/components/ui/dialog-with-no-close.tsx
  src/frontend/tests/core/unit/intComponent.spec.ts
Labels: bug, size:L, lgtm

#7497 feat: add tool mode unsupported list for groq Models
  src/backend/base/langflow/base/models/groq_constants.py
  src/backend/base/langflow/components/models/groq.py
Labels: enhancement, size:S, lgtm

#7614 docs: group install tabs by package manager
  docs/docs/Get-Started/get-started-installation.md
Labels: documentation, size:S, lgtm

#7589 refactor: reduce menu bar rerenders
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/hooks/useUnsavedChanges.ts
  src/frontend/src/modals/flowSettingsModal/index.tsx
Labels: size:L, lgtm, refactor

#7615 docs: add video link for triggering flows
  docs/docs/Develop/webhook.md
Labels: documentation, size:XS, lgtm

#7405 docs: bump supported version
  docs/docs/Support/luna-for-langflow.md
Labels: documentation, size:XS, lgtm

#7503 docs: add ketch management banner
  docs/css/custom.css
  docs/docusaurus.config.js
Labels: documentation, size:L, lgtm

#7668 fix: detect unsaved changes in FlowPage Component to enable save button when auto-save is off (nightly fix)
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/dropdownComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/strRenderComponent/index.tsx
  src/frontend/src/hooks/use-add-component.ts
  src/frontend/src/hooks/use-unsaved-changes.ts
  src/frontend/src/modals/saveChangesModal/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarDraggableComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
Labels: bug, size:S, lgtm

#7489 fix: Fix template bug causing empty output in AgentQL component
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
Labels: bug, size:L, lgtm

#7649 fix: composio Base, enabling tools without action selection
  src/backend/base/langflow/base/composio/composio_base.py
Labels: bug, size:XS, lgtm

#7677 chore: Bump version numbers for langflow and langflow-base to 1.3.4 and 0.3.4 respectively
  pyproject.toml
  src/backend/base/pyproject.toml
  src/frontend/package.json
  uv.lock
Labels: size:XS, lgtm, ignore-for-release

#6971 Fix: add missing curl to dockerfile langflow-ai/langflow-helm-charts#40
  docker/build_and_push.Dockerfile
  docker/build_and_push_base.Dockerfile
Labels: bug, size:XS, lgtm

#7384 docs: edit Langfuse integration page
  docs/docs/Integrations/integrations-langfuse.md
Labels: documentation, size:L, lgtm

#7665 docs: vector store ingest screenshot
  docs/static/img/vector-store-retrieval.png
Labels: documentation, size:XS, lgtm

#7651 docs: add save to file component example
  docs/docs/Components/components-processing.md
  docs/static/img/component-save-to-file.png
Labels: documentation, size:M, lgtm

#7643 docs: groq model example
  docs/docs/Components/components-models.md
  docs/static/img/component-groq.png
Labels: documentation, size:S, lgtm

#7686 fix: Implement primary key renaming in Alembic migration for message, transaction, and vertex_build tables
  src/backend/base/langflow/alembic/versions/1b8b740a6fa3_remove_fk_constraint_in_message_.py
Labels: bug, size:M, lgtm

#7621 docs: watsonx embeddings component
  docs/docs/Components/components-embedding-models.md
  docs/static/img/component-watsonx-embeddings-chroma.png
Labels: documentation, size:M, lgtm

#7630 feat: update Anthropic Tool calling model list and filters
  src/backend/base/langflow/base/models/anthropic_constants.py
  src/backend/base/langflow/components/models/anthropic.py
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/LoopTemplate.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
Labels: enhancement, size:M, lgtm

#7594 feat: Adds MCP_SSE to be filled from frontend
  src/backend/base/langflow/components/tools/mcp_component.py
  src/frontend/src/components/core/parameterRenderComponent/components/copyFieldAreaComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/textAreaComponent/index.tsx
  src/frontend/tests/extended/features/mcp-server.spec.ts
Labels: enhancement, size:M, lgtm

#7204 feat: add EmbeddingModelComponent for generating embeddings
  src/backend/base/langflow/components/embeddings/__init__.py
  src/backend/base/langflow/components/embeddings/embedding_model.py
  src/backend/tests/unit/components/embeddings/__init__.py
  src/backend/tests/unit/components/embeddings/test_embedding_model_component.py
Labels: enhancement, size:L, lgtm

#7369 docs: v2 files api examples
  docs/docs/API-Reference/api-reference-api-examples.md
Labels: documentation, size:L, lgtm

#7691 feat: add deprecation warning for AUTO_LOGIN
  src/backend/base/langflow/services/auth/utils.py
Labels: enhancement, size:S, lgtm

#7730 docs: modify the langflow docker image
  docs/docs/Deployment/deployment-docker.md
Labels: documentation, size:M, lgtm

#7673 fix: improve composio gmail component stability
  src/backend/base/langflow/base/composio/composio_base.py
  src/backend/base/langflow/components/composio/gmail_composio.py
  src/backend/tests/unit/components/bundles/composio/test_gmail.py
Labels: bug, size:S, lgtm

#7733 fix: Embedding model component format issues
  src/backend/base/langflow/components/embeddings/embedding_model.py
Labels: bug, size:XS, lgtm

#7726 fix: make pydantic-settings less strict to avoid deps conflicts
  pyproject.toml
  uv.lock
Labels: bug, size:XS, lgtm

#7697 docs: message history and message store example
  docs/docs/Components/components-helpers.md
  docs/docs/Develop/memory.md
  docs/static/img/component-message-history-message-store.png
Labels: documentation, size:L, lgtm

#7734 docs: add chat io component examples
  docs/docs/Components/components-io.md
  docs/static/img/component-chat-io.png
Labels: documentation, size:L, lgtm

#7738 docs: second loop component example
  docs/docs/Components/components-logic.md
  docs/static/img/component-loop-csv.png
Labels: documentation, size:S, lgtm

#7748 feat: add component utils functions for dynamic input actions
  src/backend/base/langflow/utils/component_utils.py
Labels: enhancement, size:L, lgtm

#7654 docs: dataframe operations example
  docs/docs/Components/components-processing.md
  docs/static/img/component-data-to-dataframe.png
  docs/static/img/component-dataframe-operations.png
Labels: documentation, size:L, lgtm

#7599 docs: if-else component example
  docs/docs/Components/components-logic.md
  docs/static/img/component-conditional-router.png
Labels: documentation, size:L, lgtm

#7680 Docs: api url and regex component examples
  docs/docs/Components/components-data.md
  docs/docs/Components/components-processing.md
  docs/static/img/component-api-request-chat-output.png
  docs/static/img/component-url-regex.png
  docs/static/img/component-url.png
Labels: documentation, size:L, lgtm

#7672 docs: ollama model and embeddings examples
  docs/docs/Components/components-embedding-models.md
  docs/docs/Components/components-models.md
  docs/static/img/component-ollama-embeddings-chromadb.png
  docs/static/img/component-ollama-model.png
Labels: documentation, size:M, lgtm

#7735 fix: Adding Node to Dockerfile
  docker/build_and_push.Dockerfile
  docker/build_and_push_base.Dockerfile
  docker/build_and_push_ep.Dockerfile
Labels: bug, size:S, lgtm

#7698 fix: make composio icon color black in white mode
  src/frontend/src/icons/Composio/composio.jsx
  src/frontend/src/icons/Composio/index.tsx
Labels: bug, size:XS, lgtm

#7562 fix: Enhance error handling with new constants in flow management components (devx)
  src/frontend/src/constants/constants.ts
  src/frontend/src/hooks/flows/use-add-flow.ts
Labels: bug, size:M, lgtm

#7512 feat: add observable UX for community interaction tracking
  .cursor/rules/tasks.mdc
  src/backend/base/langflow/alembic/versions/e56d87f8994a_add_optins_column_to_user.py
  src/backend/base/langflow/services/database/models/user/model.py
  src/frontend/src/CustomNodes/GenericNode/components/RenderInputParameters/index.tsx
  src/frontend/src/alerts/alertDropDown/index.tsx
  src/frontend/src/assets/github-bg.png
  src/frontend/src/assets/logo_dark.png
  src/frontend/src/assets/logo_light.png
  src/frontend/src/components/core/appHeaderComponent/components/AccountMenu/index.tsx
  src/frontend/src/components/core/appHeaderComponent/components/GithubStarButton/index.tsx
  src/frontend/src/components/core/appHeaderComponent/components/HeaderMenu/index.tsx
  src/frontend/src/components/core/appHeaderComponent/components/ThemeButtons/index.tsx
  src/frontend/src/components/core/appHeaderComponent/components/langflow-counts.tsx
  src/frontend/src/components/core/appHeaderComponent/index.tsx
  src/frontend/src/components/core/cardsWrapComponent/index.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/get-started-progress.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/header-buttons.tsx
  src/frontend/src/components/ui/background-gradient.tsx
  src/frontend/src/components/ui/dot-background.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/controllers/API/index.ts
  src/frontend/src/controllers/API/queries/auth/use-get-user.ts
  src/frontend/src/controllers/API/queries/version/use-get-version.ts
  src/frontend/src/icons/Twitter X/TwitterX.jsx
  src/frontend/src/icons/Twitter X/iconX.svg
  src/frontend/src/icons/Twitter X/icons8-x.svg
  src/frontend/src/icons/Twitter X/index.tsx
  src/frontend/src/icons/lucideIcons.ts
  src/frontend/src/modals/deleteConfirmationModal/index.tsx
  src/frontend/src/pages/AppInitPage/index.tsx
  src/frontend/src/pages/MainPage/components/dropdown/index.tsx
  src/frontend/src/pages/MainPage/pages/empty-page.tsx
  src/frontend/src/pages/MainPage/pages/enchanced-beam-effect.tsx
  src/frontend/src/pages/MainPage/pages/main-page.tsx
  src/frontend/src/routes.tsx
  src/frontend/src/stores/darkStore.ts
  src/frontend/src/style/index.css
  src/frontend/src/types/api/index.ts
  src/frontend/src/types/zustand/dark/index.ts
  src/frontend/src/utils/styleUtils.ts
  src/frontend/src/utils/utils.ts
  src/frontend/tailwind.config.mjs
  src/frontend/tests/core/features/user-progress-track.spec.ts
  src/frontend/tests/utils/add-new-user-and-loggin.ts
  tasks/20240610_165500_background_gradient_border_styling.md
Labels: enhancement, size:XXL, lgtm

#7641 feat: Allow dropdown to add new values when they don't exist in options list
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/src/constants/constants.ts
Labels: enhancement, size:M, lgtm

#7768 fix: Enhance Growth UI Layout and Consistency
  .cursor/rules/tasks.mdc
  src/frontend/src/alerts/alertDropDown/index.tsx
  src/frontend/src/components/common/pageLayout/index.tsx
  src/frontend/src/components/common/renderIconComponent/index.tsx
  src/frontend/src/components/common/shadTooltipComponent/index.tsx
  src/frontend/src/components/common/storeCardComponent/index.tsx
  src/frontend/src/components/core/appHeaderComponent/components/AccountMenu/index.tsx
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/components/core/appHeaderComponent/components/HeaderMenu/index.tsx
  src/frontend/src/components/core/appHeaderComponent/components/ProfileIcon/index.tsx
  src/frontend/src/components/core/appHeaderComponent/components/langflow-counts.tsx
  src/frontend/src/components/core/appHeaderComponent/index.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/get-started-progress.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/header-buttons.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/button-send-wrapper.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/no-input.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/shortcutDisplay/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/toolbarSelectItem/index.tsx
  src/frontend/src/pages/MainPage/components/grid/index.tsx
  src/frontend/src/pages/MainPage/components/header/index.tsx
  src/frontend/src/pages/MainPage/pages/empty-page.tsx
  src/frontend/src/pages/StorePage/index.tsx
  src/frontend/src/style/applies.css
  src/frontend/tests/core/integrations/Travel Planning Agent.spec.ts
  src/frontend/tests/core/integrations/Vector Store.spec.ts
  src/frontend/tests/extended/features/edit-flow-name.spec.ts
  src/frontend/tests/extended/features/store-shard-0.spec.ts
  src/frontend/tests/extended/features/store-shard-1.spec.ts
  src/frontend/tests/extended/features/store-shard-3.spec.ts
  tasks/20240610_165500_background_gradient_border_styling.md
Labels: bug, size:XL, lgtm

#7772 fix: support mcp env vars and nested inputs
  src/backend/base/langflow/base/mcp/util.py
  src/backend/base/langflow/components/tools/mcp_component.py
  src/backend/base/langflow/io/schema.py
  src/backend/tests/unit/components/tools/test_mcp_component.py
Labels: bug, size:XL, lgtm

#7779 fix: make dropdown not repeat values on update, update mcp component
  src/backend/base/langflow/components/tools/mcp_component.py
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/tests/core/features/toolModeGroup.spec.ts
  src/frontend/tests/extended/features/edit-flow-name.spec.ts
  src/frontend/tests/extended/features/edit-tools.spec.ts
  src/frontend/tests/extended/features/mcp-server.spec.ts
  src/frontend/tests/extended/features/tool-mode.spec.ts
Labels: bug, size:S, lgtm

#7770 fix: Standardize font sizes using Tailwind classes across frontend components
  src/frontend/src/CustomNodes/GenericNode/components/ListSelectionComponent/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeDescription/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeName/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeStatus/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/OutputComponent/index.tsx
  src/frontend/src/components/common/paginatorComponent/index.tsx
  src/frontend/src/components/core/chatComponents/ContentBlockDisplay.tsx
  src/frontend/src/components/core/chatComponents/ContentDisplay.tsx
  src/frontend/src/components/core/chatComponents/DurationDisplay.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/customization/components/custom-parameter.tsx
  src/frontend/src/modals/EmbedModal/embed-modal.tsx
  src/frontend/src/modals/IOModal/components/IOFieldView/components/session-selector.tsx
  src/frontend/src/modals/IOModal/components/chat-view-wrapper.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/button-send-wrapper.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/no-input.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/components/audio-settings/components/header.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/chat-message.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/components/content-view.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/components/edit-message-field.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/components/edit-message.tsx
  src/frontend/src/modals/IOModal/components/sidebar-open-view.tsx
  src/frontend/src/modals/apiModal/codeTabs/code-tabs.tsx
  src/frontend/src/modals/apiModal/new-api-modal.tsx
  src/frontend/src/modals/fileManagerModal/components/filesRendererComponent/components/fileRendererComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/components/toolbar-button.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/pages/MainPage/pages/empty-page.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/index.tsx
  src/frontend/src/style/applies.css
  src/frontend/tailwind.config.mjs
Labels: bug, size:L, lgtm

#7783 fix: Reduce spacing in EmptyPageCommunity component from gap-12 to gap-7
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/components/core/appHeaderComponent/components/langflow-counts.tsx
  src/frontend/src/components/core/appHeaderComponent/index.tsx
  src/frontend/src/pages/MainPage/components/header/index.tsx
  src/frontend/src/pages/MainPage/pages/empty-page.tsx
Labels: bug, size:M, lgtm

#7763 fix: remove incorrect use of logging that caused log spam
  src/backend/base/langflow/api/v1/mcp.py
  src/backend/base/langflow/components/data/url.py
  src/backend/base/langflow/components/embeddings/watsonx.py
  src/backend/base/langflow/components/langwatch/langwatch.py
  src/backend/base/langflow/components/memories/mem0_chat_memory.py
  src/backend/base/langflow/components/models/watsonx.py
  src/backend/base/langflow/services/tracing/schema.py
Labels: bug, size:M, lgtm

#7572 fix: display errors when webhook background tasks fail
  src/backend/base/langflow/components/embeddings/embedding_model.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/utils.py
  src/frontend/src/components/common/storeCardComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/copyFieldAreaComponent/index.tsx
  src/frontend/src/controllers/API/queries/_builds/use-get-builds-polling-mutation.ts
  src/frontend/src/pages/FlowPage/index.tsx
Labels: bug, size:L, lgtm

#7807 test: Enhance MCP server test reliability with retry logic and improved interactions (nightly fix)
  src/frontend/tests/extended/features/mcp-server.spec.ts
Labels: size:M

#7598 chore: Increase timeout for codspeed workflow and fix typo in configuration
  .github/workflows/codspeed.yml
  pyproject.toml
  src/backend/tests/unit/components/vectorstores/test_graph_rag_component.py
Labels: size:XS, lgtm, ignore-for-release

#7693 fix: Traces Export & Logs Type Casting For Arize & Phoenix Integration
  src/backend/base/langflow/services/tracing/arize_phoenix.py
Labels: bug, size:M, lgtm

#7700 fix: sql query component
  src/backend/base/langflow/components/data/sql_executor.py
Labels: bug, size:M, lgtm

#7626 docs: combine and split text component examples
  docs/docs/Components/components-processing.md
  docs/static/img/component-combine-text.png
  docs/static/img/component-split-text.png
Labels: documentation, size:L, lgtm

#7695 docs: chroma and local db example
  docs/docs/Components/components-vector-stores.md
  docs/static/img/component-chroma-db.png
  docs/static/img/component-local-db.png
Labels: documentation, size:M, lgtm

#7744 docs: make zep memory component legacy
  docs/docs/Components/components-memories.md
Labels: documentation, size:S, lgtm

#7792 fix: Improve spacing, alignment and consistency across components with icon enhancement
  src/frontend/src/components/core/appHeaderComponent/components/AccountMenu/index.tsx
  src/frontend/src/components/core/appHeaderComponent/components/ThemeButtons/index.tsx
  src/frontend/src/components/core/appHeaderComponent/index.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/get-started-progress.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/input-edit-folder-name.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/select-options.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/pages/MainPage/pages/empty-page.tsx
Labels: bug, size:M, lgtm

#7798 fix: text access in file component
  src/backend/base/langflow/base/data/base_file.py
Labels: bug, size:XS, lgtm

#7826 fix: cleanup worker test stability
  src/backend/tests/unit/services/tasks/test_temp_flow_cleanup.py
Labels: bug, size:S, lgtm

#7833 fix: streaming now works on Agent and ChatOutput
  src/backend/base/langflow/base/agents/events.py
  src/backend/base/langflow/services/tracing/langfuse.py
  src/backend/base/langflow/services/tracing/langsmith.py
  src/backend/base/langflow/services/tracing/service.py
Labels: bug, size:S, lgtm

#7647 feat: new tool mode dialog and UI
  src/backend/base/langflow/base/composio/composio_base.py
  src/backend/base/langflow/base/tools/component_tool.py
  src/backend/base/langflow/components/composio/gmail_composio.py
  src/backend/base/langflow/components/composio/slack_composio.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/graph/vertex/param_handler.py
  src/backend/base/langflow/inputs/__init__.py
  src/backend/base/langflow/inputs/input_mixin.py
  src/backend/base/langflow/inputs/inputs.py
  src/backend/base/langflow/io/__init__.py
  src/backend/base/langflow/utils/constants.py
  src/backend/tests/unit/base/tools/test_component_toolkit.py
  src/backend/tests/unit/base/tools/test_toolmodemixin.py
  src/frontend/package-lock.json
  src/frontend/src/CustomNodes/GenericNode/components/ListSelectionComponent/ComboBoxItem.tsx
  src/frontend/src/CustomNodes/GenericNode/components/ListSelectionComponent/ListItem.tsx
  src/frontend/src/CustomNodes/GenericNode/components/ListSelectionComponent/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/RenderInputParameters/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/ToolsComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/sortableListComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/types.ts
  src/frontend/src/constants/constants.ts
  src/frontend/src/modals/toolsModal/components/toolsTable/index.tsx
  src/frontend/src/modals/toolsModal/index.tsx
  src/frontend/src/style/ag-theme-shadcn.css
  src/frontend/src/types/api/index.ts
  src/frontend/src/types/components/index.ts
  src/frontend/src/utils/stringManipulation.ts
  src/frontend/tests/extended/features/edit-tools.spec.ts
Labels: enhancement, size:XXL, lgtm

#7825 revert: Traces Export Headers For Arize & Phoenix Integration
  src/backend/base/langflow/services/tracing/arize_phoenix.py
Labels: size:S, lgtm

#7662 feat: Add Composio Google Calendar component
  src/backend/base/langflow/components/composio/__init__.py
  src/backend/base/langflow/components/composio/googlecalendar_composio.py
  src/backend/tests/unit/components/bundles/composio/test_googlecalendar.py
  src/frontend/src/icons/eagerIconImports.ts
  src/frontend/src/icons/googlecalendar/googlecalendar.jsx
  src/frontend/src/icons/googlecalendar/googlecalendar.svg
  src/frontend/src/icons/googlecalendar/index.tsx
  src/frontend/src/icons/lazyIconImports.ts
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, size:XXL, lgtm

#7754 fix: Dict Input Validation issue in Dynamic Components
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/inputs/inputs.py
Labels: bug, size:S, lgtm

#7795 feat: NV-ingest image extraction and authentication support
  pyproject.toml
  src/backend/base/langflow/components/nvidia/nvidia_ingest.py
  uv.lock
Labels: enhancement, python, size:L, lgtm

#7507 feat: ability to run flow without langflow server
  src/backend/base/langflow/services/flow/__init__.py
  src/backend/base/langflow/services/flow/flow_runner.py
  src/backend/tests/unit/services/flow/__init__.py
  src/backend/tests/unit/services/flow/test_flow_runner.py
Labels: enhancement, size:L, lgtm

#7586 feat: add new models to OLLAMA_EMBEDDING_MODELS and OLLAMA_TOOL_MODELS_BASE
  src/backend/base/langflow/base/models/ollama_constants.py
Labels: enhancement, size:XS, lgtm

#7828 fix: remove quick flash with already rendered icons
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/common/genericIconComponent/index.tsx
  src/frontend/src/icons/Share/Share.jsx
  src/frontend/src/icons/eagerIconImports.ts
  src/frontend/src/icons/lazyIconImports.ts
  src/frontend/src/icons/lucideIcons.ts
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/pages/MainPage/utils/get-template-style.ts
  src/frontend/src/utils/styleUtils.ts
Labels: bug, javascript, size:XL, lgtm

#7847 fix: change note toolbar wrong import that causes wrong padding
  src/frontend/src/CustomNodes/NoteNode/components/select-items.tsx
Labels: bug, size:XS, lgtm

#7842 feat: Sql toolkit tests
  src/backend/base/langflow/components/data/__init__.py
  src/backend/tests/unit/components/data/test_sql_executor.py
Labels: size:L, lgtm

#7708 fix: make icons display correctly in composio dialog
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/CustomNodes/GenericNode/components/ListSelectionComponent/ListItem.tsx
  src/frontend/src/CustomNodes/helpers/check-lucide-icons.ts
  src/frontend/src/components/common/genericIconComponent/index.tsx
  src/frontend/src/icons/fontAwesomeIcons.ts
  src/frontend/src/utils/styleUtils.ts
Labels: bug, size:M, lgtm

#7844 feat: deprecate Gmail Loader Component
  src/backend/base/langflow/components/google/gmail.py
Labels: enhancement, size:XS, lgtm

#7848 fix: make code button flash, fix mcp icon color
  src/frontend/src/components/core/flowToolbarComponent/components/deploy-dropdown.tsx
  src/frontend/src/icons/MCP/McpIcon.jsx
  src/frontend/src/icons/MCP/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/style/index.css
  src/frontend/tailwind.config.mjs
  src/frontend/tests/core/features/customComponentAdd.spec.ts
Labels: bug, size:M, lgtm

#7850 fix: update texts on mcp component and tab, fix icons not updating
  src/backend/base/langflow/components/tools/mcp_component.py
  src/frontend/src/components/common/genericIconComponent/index.tsx
  src/frontend/src/pages/MainPage/pages/homePage/components/McpServerTab.tsx
  src/frontend/src/shared/components/delete-confirmation-modal.tsx
  src/frontend/tests/extended/features/mcp-server-tab.spec.ts
  src/frontend/tests/extended/features/mcp-server.spec.ts
Labels: bug, size:M, lgtm

#7854 fix: Update EmptyPageCommunity button dimensions and simplify icon positioning
  src/frontend/src/pages/MainPage/pages/empty-page.tsx
Labels: size:XS
