Repository langflow-ai/langflow, pull requests merged in 2025-03, with the labels that each got.

#6908 fix: Increase timeouts in Portfolio Website Code Generator test for improved reliability (nightly fix)
  src/frontend/tests/core/integrations/Portfolio Website Code Generator.spec.ts
Labels: size:XS

#6844 fix: langfuse trace get the right parent span
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/services/tracing/langfuse.py
Labels: bug, size:M, lgtm

#6884 fix: Delete old logo and old dashboard
  src/frontend/src/components/core/appHeaderComponent/index.tsx
  src/frontend/src/customization/feature-flags.ts
  src/frontend/src/modals/IOModal/components/chatView/chat-view.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/components/chat-logo-icon.tsx
  src/frontend/src/pages/AdminPage/LoginPage/index.tsx
  src/frontend/src/pages/DeleteAccountPage/index.tsx
  src/frontend/src/pages/LoginPage/index.tsx
  src/frontend/src/pages/MainPage/components/inputSearchComponent/index.tsx
  src/frontend/src/pages/MainPage/oldComponents/componentsComponent/components/collectionCard/index.tsx
  src/frontend/src/pages/MainPage/oldComponents/componentsComponent/index.tsx
  src/frontend/src/pages/MainPage/oldComponents/emptyComponent/index.tsx
  src/frontend/src/pages/MainPage/oldComponents/headerComponent/index.tsx
  src/frontend/src/pages/MainPage/oldComponents/modalsComponent/index.tsx
  src/frontend/src/pages/MainPage/oldComponents/myCollectionComponent/components/headerTabsSearchComponent/index.tsx
  src/frontend/src/pages/MainPage/oldComponents/myCollectionComponent/components/tabsComponent/index.tsx
  src/frontend/src/pages/MainPage/oldComponents/myCollectionComponent/index.tsx
  src/frontend/src/pages/MainPage/oldPages/mainPage/index.tsx
  src/frontend/src/pages/MainPage/pages/emptyPage/index.tsx
  src/frontend/src/pages/MainPage/pages/homePage/index.tsx
  src/frontend/src/pages/MainPage/pages/index.tsx
  src/frontend/src/pages/SignUpPage/index.tsx
  src/frontend/src/pages/StorePage/index.tsx
  src/frontend/src/routes.tsx
Labels: bug, size:XXL, lgtm

#6849 refactor: sort json before exporting and add tags to flows
  src/backend/base/langflow/services/database/models/flow/model.py
  src/frontend/src/controllers/API/queries/flows/use-post-add-flow.ts
  src/frontend/src/modals/exportModal/index.tsx
  src/frontend/src/pages/MainPage/components/list/index.tsx
  src/frontend/src/utils/reactflowUtils.ts
Labels: size:M, lgtm, refactor

#6146 feat: implement S3 bucket uploader component and unit test
  pyproject.toml
  src/backend/base/langflow/components/data/__init__.py
  src/backend/base/langflow/components/data/s3_bucket_uploader.py
  src/backend/tests/unit/components/data/test_s3_uploader_component.py
  uv.lock
Labels: enhancement, size:L, lgtm

#6789 fix: update data validation in Data model
  src/backend/base/langflow/schema/data.py
  src/backend/tests/unit/test_data_class.py
Labels: bug, size:S, lgtm

#6833 fix: Send request origin in AgentQL request Headers
  src/backend/base/langflow/components/agentql/agentql_api.py
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
Labels: bug, size:L, lgtm

#6810 refactor: use `DataFrame.map` instead of `DataFrame.applymap`
  src/backend/base/langflow/components/outputs/chat.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Gmail Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Graph Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/LoopTemplate.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Labels: size:M, lgtm, refactor

#6918 feat: Add more icons and QOL improvements to Astra DB component
  src/backend/base/langflow/components/vectorstores/astradb.py
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: enhancement, size:L, lgtm

#6911 fix: auth current user on code validation
  src/backend/base/langflow/api/v1/validate.py
  src/backend/tests/unit/api/v1/test_validate.py
  src/backend/tests/unit/test_endpoints.py
Labels: bug, size:M, lgtm

#6912 fix: set prepared threshold to none for migrations
  src/backend/base/langflow/alembic/env.py
Labels: bug, size:XS, lgtm

#6938 chore: make codeflash config ignore-paths relative in langflow-base
  src/backend/base/pyproject.toml
Labels: size:XS, lgtm, ignore-for-release

#6886 feat: add GPT4.5 to OpenAI model constants
  src/backend/base/langflow/base/models/openai_constants.py
  src/backend/base/langflow/components/models/openai.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Gmail Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Graph Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Labels: enhancement, size:XL, lgtm

#6876 docs: Add Arize integration documentation to Langflow
  docs/docs/Integrations/Arize/integrations-arize.md
  docs/sidebars.js
Labels: documentation, size:M, lgtm

#6853 docs: configure environment variables
  docs/docs/Configuration/environment-variables.md
Labels: documentation, size:L, lgtm

#6954 fix: remove empty space for hidden column
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/index.tsx
Labels: bug, javascript, size:S, lgtm

#6956 fix: changed badge to toggle on editable boolean fields on table component
  src/frontend/src/components/core/parameterRenderComponent/components/TableNodeComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/components/tableAutoCellRender/index.tsx
  src/frontend/src/utils/utils.ts
Labels: bug, javascript, size:S, lgtm

#6964 build: add postgresql client library libpq5
  docker/build_and_push_ep.Dockerfile
Labels: size:XS, lgtm, build

#6313 feat: Enhance Webhook component
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/langflow/base/constants.py
  src/backend/base/langflow/components/data/webhook.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/inputs/inputs.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/langflow/template/field/base.py
  src/backend/base/langflow/utils/util.py
  src/frontend/src/CustomNodes/GenericNode/components/NodeDescription/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeInputField/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputfield/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/copyFieldAreaComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/strRenderComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/components/tableNodeCellRender/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/textAreaComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/webhookFieldComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/types.ts
  src/frontend/src/constants/constants.ts
  src/frontend/src/controllers/API/helpers/validate-webhook.ts
  src/frontend/src/controllers/API/queries/_builds/use-get-builds-polling-mutation.ts
  src/frontend/src/controllers/API/queries/api-keys/use-get-api-keys.ts
  src/frontend/src/controllers/API/queries/config/use-get-config.ts
  src/frontend/src/customization/components/custom-parameter.tsx
  src/frontend/src/customization/components/custom-secret-key-modal-button.tsx
  src/frontend/src/customization/utils/get-modal-props.tsx
  src/frontend/src/modals/apiModal/utils/get-curl-code.tsx
  src/frontend/src/modals/baseModal/index.tsx
  src/frontend/src/modals/secretKeyModal/components/content-render.tsx
  src/frontend/src/modals/secretKeyModal/components/form-key-render.tsx
  src/frontend/src/modals/secretKeyModal/components/header-render.tsx
  src/frontend/src/modals/secretKeyModal/index.tsx
  src/frontend/src/modals/textAreaModal/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/bundleItems/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/categoryDisclouse/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/categoryGroup/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarBundles/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarDraggableComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarItemsList/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/helpers/disable-item.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/helpers/get-disabled-tooltip.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/types/index.ts
  src/frontend/src/pages/SettingsPage/pages/ApiKeysPage/components/ApiKeyHeader/index.tsx
  src/frontend/src/pages/SettingsPage/pages/ApiKeysPage/helpers/get-modal-props.tsx
  src/frontend/src/pages/SettingsPage/pages/ApiKeysPage/index.tsx
  src/frontend/src/stores/utilityStore.ts
  src/frontend/src/style/applies.css
  src/frontend/src/types/api/index.ts
  src/frontend/src/types/components/index.ts
  src/frontend/src/types/tweaks/index.ts
  src/frontend/src/types/zustand/utility/index.ts
  src/frontend/src/utils/reactflowUtils.ts
  src/frontend/tests/core/unit/webhookComponent.spec.ts
  src/frontend/tests/extended/features/userSettings.spec.ts
Labels: enhancement, size:XL, lgtm

#6935 feat: improving tool mode metadata updates and tables refresh
  src/backend/base/langflow/base/tools/constants.py
  src/backend/base/langflow/base/tools/run_flow.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/frontend/src/components/core/parameterRenderComponent/components/TableNodeComponent/index.tsx
Labels: enhancement, size:L, lgtm

#6963 feat: Add feature flag customization and astra tracking
  src/frontend/src/CustomNodes/GenericNode/components/NodeDialogComponent/index.tsx
  src/frontend/src/CustomNodes/hooks/use-handle-new-value.ts
  src/frontend/src/components/core/appHeaderComponent/components/AccountMenu/index.tsx
  src/frontend/src/controllers/API/api.tsx
  src/frontend/src/customization/components/custom-feature-flag-dialog.tsx
  src/frontend/src/customization/components/custom-feature-flag-menu-items.tsx
Labels: enhancement, size:M, lgtm

#6989 fix: improve ref naming causing fallback error on icons + regression test
  src/frontend/src/alerts/alertDropDown/index.tsx
  src/frontend/src/components/ui/loading.tsx
  src/frontend/tests/extended/regression/general-bugs-icons-fallback.spec.ts
Labels: bug, size:M, lgtm

#6991 fix: ensure end_all_traces is called at the end of all flow build events
  src/backend/base/langflow/api/build.py
Labels: bug, size:XS, lgtm

#6821 feat: deprecate freeze and rename freeze path button
  src/frontend/src/constants/constants.ts
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/hooks/use-shortcuts.ts
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/stores/shortcuts.ts
  src/frontend/src/types/store/index.ts
  src/frontend/tests/core/features/freeze.spec.ts
Labels: enhancement, size:M, lgtm

#6999 refactor: remove async queue from tracing service
  src/backend/base/langflow/services/tracing/service.py
Labels: size:S, lgtm, refactor

#6848 fix: Add robust auto-login system with exponential backoff to fix authentication redirects in make command environments
  src/frontend/src/components/authorization/authGuard/index.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/controllers/API/api.tsx
  src/frontend/src/controllers/API/queries/auth/use-get-autologin.ts
  src/frontend/src/controllers/API/queries/auth/use-post-refresh-access.ts
  src/frontend/src/controllers/API/services/request-processor.ts
  src/frontend/tests/core/features/auto-login-off.spec.ts
  src/frontend/vite.config.mts
Labels: bug, javascript, size:L, lgtm

#7013 fix: Update LoopComponent to use `data` instead of `item`
  src/backend/base/langflow/components/logic/loop.py
  src/backend/base/langflow/initial_setup/starter_projects/LoopTemplate.json
  src/frontend/tests/extended/features/loop-component.spec.ts
Labels: bug, size:XS, lgtm

#6841 feat: Add possibility to save flow to FS
  src/backend/base/langflow/alembic/versions/93e2705fa8d6_add_column_save_path_to_flow.py
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/services/database/models/flow/model.py
  src/backend/tests/unit/api/v1/test_flows.py
Labels: enhancement, size:L, lgtm

#6962 docs: add support page
  docs/docs/Support/luna-for-langflow.md
  docs/sidebars.js
Labels: documentation, size:M, lgtm

#7016 fix: make header flow title occupy remaining space
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/components/core/appHeaderComponent/index.tsx
Labels: bug, size:M, lgtm

#7014 fix: make chat input handle overflow
  src/frontend/src/CustomNodes/GenericNode/index.tsx
Labels: bug, size:XS, lgtm

#6288 doc: add guide document for writing component tests
  docs/docs/Contributing/contributing-component-tests.md
  docs/sidebars.js
Labels: documentation, size:L, lgtm

#6980 feat: display the color itself instead of gray if there's only one color in the handle
  src/frontend/src/CustomNodes/GenericNode/components/handleRenderComponent/index.tsx
Labels: enhancement, size:S, lgtm

#7012 fix: make edit sticky notes mode occupy whole note
  src/frontend/src/CustomNodes/GenericNode/components/NodeDescription/index.tsx
  src/frontend/src/CustomNodes/NoteNode/index.tsx
Labels: bug, size:XS, lgtm

#5808 refactor: improve maintainability and testability of `Vertex.build_params`
  src/backend/base/langflow/base/models/model_input_constants.py
  src/backend/base/langflow/components/models/__init__.py
  src/backend/base/langflow/components/models/openai_chat_model.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/graph/vertex/param_handler.py
  src/backend/tests/__init__.py
  src/backend/tests/unit/__init__.py
  src/backend/tests/unit/components/agents/test_tool_calling_agent.py
  src/backend/tests/unit/graph/__init__.py
  src/backend/tests/unit/graph/vertex/__init__.py
  src/backend/tests/unit/graph/vertex/test_vertex_base.py
Labels: size:XL, lgtm, refactor

#6948 fix: bump frontend version to current version and add command to bump frontend version in Makefile
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: bug, size:XS, lgtm

#6907 docs: concepts-flows page
  docs/docs/Concepts/concepts-flows.md
Labels: documentation, size:L, lgtm

#6968 feat: Change Anthropic SVG icon
  src/frontend/src/icons/Anthropic/Anthropic icon - Ivory.svg
  src/frontend/src/icons/Anthropic/Anthropic icon - Slate.svg
  src/frontend/src/icons/Anthropic/Anthropic.jsx
  src/frontend/src/icons/Anthropic/AnthropicBox.jsx
  src/frontend/src/icons/Anthropic/anthropic.svg
  src/frontend/src/icons/Anthropic/anthropic_box.svg
  src/frontend/src/icons/Anthropic/index.tsx
Labels: enhancement, size:M, lgtm

#6958 fix: allow Components with no Inputs to have tool mode
  src/frontend/src/utils/reactflowUtils.ts
Labels: bug, size:S, lgtm

#6951 feat: add tool filter
  src/backend/base/langflow/base/tools/component_tool.py
  src/backend/base/langflow/base/tools/constants.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/frontend/src/components/core/parameterRenderComponent/components/TableNodeComponent/index.tsx
Labels: enhancement, size:L, lgtm

#6812 fix: readded output inspection shortcut
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputfield/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/outputModal/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/utils/utils.ts
  src/frontend/tests/core/features/chatInputOutputUser-shard-0.spec.ts
  src/frontend/tests/core/integrations/decisionFlow.spec.ts
  src/frontend/tests/core/integrations/similarity.spec.ts
  src/frontend/tests/core/regression/generalBugs-shard-5.spec.ts
  src/frontend/tests/extended/features/loop-component.spec.ts
  src/frontend/tests/extended/integrations/chatInputOutputUser-shard-1.spec.ts
Labels: bug, size:L, lgtm

#6998 Feat: add a support for OpenSearch and AstraDB components to yield the langchain vector_store connection object
  src/backend/base/langflow/base/vectorstores/vector_store_connection_decorator.py
  src/backend/base/langflow/components/vectorstores/astradb.py
  src/backend/base/langflow/components/vectorstores/opensearch.py
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/tests/unit/base/tools/test_vector_store_decorator.py
  src/backend/tests/unit/initial_setup/starter_projects/test_vector_store_rag.py
Labels: enhancement, size:M, lgtm

#7049 chore: Bump frontend package version and enhance test reliability
  src/frontend/package-lock.json
  src/frontend/tests/extended/regression/generalBugs-shard-6.spec.ts
Labels: size:S

#7044 fix: Disable retries in usePostValidateComponentCode mutation
  src/frontend/src/controllers/API/queries/nodes/use-post-validate-component-code.ts
Labels: bug, size:S, lgtm

#6932 feat: Add updateHiddenOutputs helper function to manage output visibility
  src/frontend/src/CustomNodes/helpers/update-hidden-outputs.ts
  src/frontend/src/CustomNodes/hooks/use-update-all-nodes.ts
  src/frontend/src/CustomNodes/hooks/use-update-node-code.ts
  src/frontend/src/types/flow/index.ts
Labels: enhancement, javascript, size:M, lgtm

#7047 docs: fix syntax errors at build
  docs/docs/API-Reference/api-reference-api-examples.md
  docs/docs/Deployment/deployment-docker.md
  docs/docs/Deployment/deployment-kubernetes.md
  docs/package.json
  docs/tailwind.config.js
Labels: documentation, size:L, lgtm

#6743 fix: docker test trigger for poetry is wrong now is uv
  .github/actions/poetry_caching/action.yml
  .github/workflows/docker_test.yml
Labels: bug, size:L, lgtm

#7019 test: Parameterize DeepSeek model component test correctly
  src/backend/tests/unit/components/models/test_deepseek.py
Labels: size:S, lgtm, test

#7046 docs: Pull request draft workflow
  .github/workflows/deploy-docs-draft.yml
Labels: documentation, size:L, lgtm

#6868 ci: fix false positive on ci sucess status
  .github/workflows/ci.yml
Labels: size:XS, lgtm

#7043 feat: Sync flows from FS to DB if flow has fs_path
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/main.py
Labels: enhancement, size:M, lgtm

#6904 docs: api build and run examples update
  docs/docs/API-Reference/api-reference-api-examples.md
Labels: documentation, size:L, lgtm

#6994 feat: add a unified language model component.
  src/backend/base/langflow/components/models/__init__.py
  src/backend/base/langflow/components/models/language_model.py
  src/backend/tests/unit/components/models/test_language_model_component.py
Labels: enhancement, size:L, lgtm

#6834 fix: Rename AgentQL components and add prompt parameter
  src/backend/base/langflow/components/agentql/agentql_api.py
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
Labels: bug, size:L, lgtm

#7011 ref: Refactor tracing service
  src/backend/base/langflow/services/tracing/service.py
Labels: size:M, lgtm

#7057 fix: pass props to SvgAnthropicBox component
  src/frontend/src/icons/Anthropic/Anthropic.jsx
Labels: bug, javascript, size:XS, lgtm

#7042 fix: check if component is in tool mode as well to display Tool Mode switch
  src/frontend/src/utils/reactflowUtils.ts
Labels: bug, size:S, lgtm

#6993 Fix: Text split issues related to separator
  src/backend/base/langflow/components/processing/split_text.py
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/frontend/tests/core/features/freeze.spec.ts
  src/frontend/tests/core/features/stop-building.spec.ts
  src/frontend/tests/extended/features/stop-button-playground.spec.ts
Labels: size:M, lgtm

#6986 docs: mcp integration
  docs/docs/Integrations/integrations-mcp.md
  docs/sidebars.js
Labels: documentation, size:M, lgtm

#6015 feat: add regex pattern extractor component
  src/backend/base/langflow/components/processing/__init__.py
  src/backend/base/langflow/components/processing/regex.py
  src/backend/tests/unit/components/processing/test_regex_component.py
Labels: enhancement, size:L, lgtm

#6949 docs: test and update google oauth integration
  docs/docs/Integrations/Google/integrations-setup-google-oauth-langflow.md
  docs/static/files/Google_Drive_Docs_Translation_Example.json
  docs/static/files/Google_Drive_Docs_Translations_Example.json
Labels: documentation, size:XXL, lgtm

#6885 feat: add pokedex agent template
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
Labels: enhancement, size:XS, lgtm

#6784 feat: apify starter template
  src/backend/base/langflow/components/apify/apify_actor.py
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/frontend/src/icons/Apify/apify_white.png
  src/frontend/src/icons/Apify/index.tsx
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, size:S, lgtm

#6648 feat: Needle Search Tool With Template
  src/backend/base/langflow/components/needle/needle.py
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/tests/unit/api/v1/test_api_schemas.py
  src/backend/tests/unit/base/tools/test_component_toolkit.py
  src/backend/tests/unit/base/tools/test_toolmodemixin.py
  src/backend/tests/unit/components/helpers/test_structured_output_component.py
  src/backend/tests/unit/graph/graph/state/test_state_model.py
  src/backend/tests/unit/helpers/test_base_model_from_schema.py
  src/backend/tests/unit/inputs/test_inputs.py
  src/backend/tests/unit/mock_language_model.py
  src/backend/tests/unit/serialization/test_serialization.py
  src/backend/tests/unit/test_schema.py
  src/backend/tests/unit/test_template.py
  src/frontend/src/icons/Needle/NeedleIcon.jsx
  src/frontend/src/icons/Needle/index.tsx
  src/frontend/src/icons/Needle/needle-icon.svg
  src/frontend/tests/core/integrations/Invoice Summarizer.spec.ts
Labels: enhancement, size:L, lgtm

#6652 feat: New parser component with multiple input types and stringify add on
  src/backend/base/langflow/components/processing/__init__.py
  src/backend/base/langflow/components/processing/parser.py
  src/backend/tests/unit/components/processing/test_parser_component.py
Labels: enhancement, size:L, lgtm

#5638 fix: component MCP Tools (SSE): 'Timeout'
  src/backend/base/langflow/components/tools/mcp_sse.py
  src/backend/tests/unit/api/v1/test_api_schemas.py
  src/backend/tests/unit/base/tools/test_component_toolkit.py
  src/backend/tests/unit/base/tools/test_toolmodemixin.py
  src/backend/tests/unit/components/helpers/test_structured_output_component.py
  src/backend/tests/unit/graph/graph/state/test_state_model.py
  src/backend/tests/unit/helpers/test_base_model_from_schema.py
  src/backend/tests/unit/inputs/test_inputs.py
  src/backend/tests/unit/mock_language_model.py
  src/backend/tests/unit/serialization/test_serialization.py
  src/backend/tests/unit/test_schema.py
  src/backend/tests/unit/test_template.py
Labels: bug, python, size:M, lgtm

#7087 test: add pokedex agent and social media agent integration tests
  src/frontend/tests/core/integrations/Pokedex Agent.spec.ts
  src/frontend/tests/core/integrations/Social Media Agent.spec.ts
Labels: size:L, lgtm, test

#7089 feat: Update AgentQL integration with new features
  src/backend/base/langflow/components/agentql/agentql_api.py
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
Labels: enhancement, size:L, lgtm

#7015 fix: refactor tracing service
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/components/langwatch/langwatch.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/services/tracing/base.py
  src/backend/base/langflow/services/tracing/langfuse.py
  src/backend/base/langflow/services/tracing/service.py
  src/backend/tests/unit/services/tracing/__init__.py
  src/backend/tests/unit/services/tracing/test_tracing_service.py
Labels: bug, size:XXL, lgtm

#7077 feat: add agent component to skip update in template loading.
  src/backend/base/langflow/initial_setup/setup.py
Labels: enhancement, size:XS, lgtm

#7036 feat: add detailed view for prompt component
  src/frontend/src/components/core/parameterRenderComponent/components/promptComponent/index.tsx
  src/frontend/tests/extended/regression/generalBugs-shard-10.spec.ts
Labels: enhancement, size:L, lgtm

#6953 feat: Quality of Life improvements for Astra Component
  src/backend/base/langflow/components/vectorstores/astradb.py
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/inputs/input_mixin.py
  src/frontend/package-lock.json
  src/frontend/src/CustomNodes/GenericNode/components/NodeDialogComponent/index.tsx
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/intComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/types.ts
  src/frontend/src/customization/components/custom-parameter.tsx
  src/frontend/src/utils/stringManipulation.ts
  src/frontend/tests/core/features/playground.spec.ts
  src/frontend/tests/core/regression/generalBugs-prompt.spec.ts
  src/frontend/tests/core/unit/chatInputOutput.spec.ts
  src/frontend/tests/extended/integrations/chatInputOutputUser-shard-1.spec.ts
Labels: enhancement, size:XL, lgtm

#6660 feat: create "Diet Analysis" tempalate
  src/backend/base/langflow/initial_setup/starter_projects/Diet Analysis.json
  src/frontend/tests/core/integrations/Diet Analysis.spec.ts
Labels: enhancement, size:XXL, lgtm

#7088 fix: In the api_request component, resolve UnboundLocalError 'redirection_history' when the request is abnormal
  src/backend/base/langflow/components/data/api_request.py
Labels: bug, size:XS, lgtm

#7099 tests: update node/edge IDs and properties in starter project (nightly fix)
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/frontend/tests/core/integrations/starter-projects.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-3.spec.ts
Labels: size:L, lgtm

#7100 tests: update selector to match new data-testid format in chat integration test (nightly fix)
  src/frontend/tests/extended/integrations/chatInputOutputUser-shard-1.spec.ts
Labels: size:XS, lgtm

#5407 feat: adds new JSON viewer
  docs/css/custom.css
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/schema/data.py
  src/backend/base/langflow/template/field/base.py
  src/backend/base/langflow/template/utils.py
  src/backend/base/pyproject.toml
  src/backend/tests/unit/template/utils/__init__.py
  src/backend/tests/unit/template/utils/test_apply_json_filter.py
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/App.css
  src/frontend/src/CustomNodes/GenericNode/components/outputModal/components/switchOutputView/index.tsx
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/src/components/core/jsonEditor/index.tsx
  src/frontend/src/components/core/jsonOutputComponent/json-output-view.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/dictComponent/index.tsx
  src/frontend/src/modals/IOModal/components/IOFieldView/components/json-input.tsx
  src/frontend/src/modals/baseModal/index.tsx
  src/frontend/src/modals/dictAreaModal/index.tsx
  src/frontend/src/modals/textModal/index.tsx
  src/frontend/src/style/classes.css
  src/frontend/src/style/index.css
  src/frontend/src/types/api/index.ts
  src/frontend/tests/core/unit/nestedComponent.spec.ts
  uv.lock
Labels: enhancement, size:XXL

#7102 test: enhance chat integration tests with additional assertions and validations
  src/frontend/tests/extended/integrations/chatInputOutputUser-shard-1.spec.ts
Labels: size:S

#7093 fix: bump assistants version to fix module not found error
  pyproject.toml
  uv.lock
Labels: bug, size:XS, lgtm

#6992 feat: change params for models
  src/backend/base/langflow/base/models/model.py
  src/backend/base/langflow/components/models/anthropic.py
  src/backend/base/langflow/components/models/azure_openai.py
  src/backend/base/langflow/components/models/cohere.py
  src/backend/base/langflow/components/models/deepseek.py
  src/backend/base/langflow/components/models/groq.py
  src/backend/base/langflow/components/models/lmstudiomodel.py
  src/backend/base/langflow/components/models/mistral.py
  src/backend/base/langflow/components/models/nvidia.py
  src/backend/base/langflow/components/models/ollama.py
  src/backend/base/langflow/components/models/openai_chat_model.py
  src/backend/base/langflow/components/models/openrouter.py
  src/backend/base/langflow/components/models/sambanova.py
  src/backend/base/langflow/components/models/xai.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Graph Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/LoopTemplate.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/frontend/tests/core/features/freeze-path.spec.ts
  src/frontend/tests/core/unit/intComponent.spec.ts
  src/frontend/tests/core/unit/sliderComponent.spec.ts
Labels: enhancement, size:L, lgtm

#6990 feat: add dataframe support for vector stores
  src/backend/base/langflow/base/vectorstores/model.py
  src/backend/base/langflow/components/vectorstores/astradb.py
  src/backend/base/langflow/components/vectorstores/astradb_graph.py
  src/backend/base/langflow/components/vectorstores/cassandra.py
  src/backend/base/langflow/components/vectorstores/cassandra_graph.py
  src/backend/base/langflow/components/vectorstores/chroma.py
  src/backend/base/langflow/components/vectorstores/clickhouse.py
  src/backend/base/langflow/components/vectorstores/couchbase.py
  src/backend/base/langflow/components/vectorstores/elasticsearch.py
  src/backend/base/langflow/components/vectorstores/faiss.py
  src/backend/base/langflow/components/vectorstores/hcd.py
  src/backend/base/langflow/components/vectorstores/milvus.py
  src/backend/base/langflow/components/vectorstores/mongodb_atlas.py
  src/backend/base/langflow/components/vectorstores/opensearch.py
  src/backend/base/langflow/components/vectorstores/pgvector.py
  src/backend/base/langflow/components/vectorstores/pinecone.py
  src/backend/base/langflow/components/vectorstores/qdrant.py
  src/backend/base/langflow/components/vectorstores/redis.py
  src/backend/base/langflow/components/vectorstores/supabase.py
  src/backend/base/langflow/components/vectorstores/upstash.py
  src/backend/base/langflow/components/vectorstores/vectara.py
  src/backend/base/langflow/components/vectorstores/weaviate.py
  src/backend/base/langflow/initial_setup/starter_projects/Diet Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Graph Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/schema/dataframe.py
Labels: enhancement, size:L, lgtm

#6010 fix: typo, update description for url.py
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
Labels: bug, size:XS, lgtm

#6915 feat: gmail component
  src/backend/base/langflow/components/composio/__init__.py
  src/backend/base/langflow/components/composio/gmail_api.py
  src/backend/tests/unit/components/bundles/composio/__init__.py
  src/backend/tests/unit/components/bundles/composio/test_gmail_api.py
  src/frontend/src/icons/gmail/gmail.jsx
  src/frontend/src/icons/gmail/gmail.svg
  src/frontend/src/icons/gmail/index.tsx
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, size:XL, lgtm

#7110 fix: Enhance JSON filtering with special cases, update CI workflows, and improve frontend components and tests (nightly fix)
  .github/workflows/ci.yml
  src/backend/base/langflow/template/utils.py
  src/backend/tests/unit/template/utils/test_apply_json_filter.py
  src/frontend/package-lock.json
  src/frontend/src/components/core/jsonEditor/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/components/popover/index.tsx
  src/frontend/src/controllers/API/queries/_builds/use-get-builds-polling-mutation.ts
  src/frontend/src/controllers/API/queries/_builds/use-get-builds.ts
  src/frontend/src/controllers/API/queries/vertex/use-post-retrieve-vertex-order.tsx
  src/frontend/src/modals/apiModal/new-api-modal.tsx
  src/frontend/src/modals/dictAreaModal/index.tsx
  src/frontend/tests/core/features/publish-flow.spec.ts
  src/frontend/tests/core/features/tweaksTest.spec.ts
  src/frontend/tests/core/unit/nestedComponent.spec.ts
  src/frontend/tests/extended/regression/general-bugs-shard-3909.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-2.spec.ts
Labels: bug, size:L

#7112 test: update workflow configuration and Financial Agent JSON structure (nightly fix)
  .github/workflows/typescript_test.yml
  src/backend/base/langflow/initial_setup/starter_projects/Financial Agent.json
  src/backend/tests/unit/template/utils/test_apply_json_filter.py
  src/frontend/tests/core/features/publish-flow.spec.ts
  src/frontend/tests/core/integrations/Simple Agent.spec.ts
  src/frontend/tests/core/regression/generalBugs-shard-9.spec.ts
Labels: size:L

#7115 fix: Performance and Error Handling Improvements in JSON Filtering
  src/backend/base/langflow/template/utils.py
  src/backend/tests/unit/template/utils/test_apply_json_filter.py
Labels: bug, size:M

#7111 fix: reposition and disable shareable playground toggle on empty flow
  src/frontend/package-lock.json
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/src/components/core/flowToolbarComponent/components/deploy-dropdown.tsx
Labels: bug, javascript, size:S, lgtm

#7121 fix: remove redundant modal descriptions
  src/frontend/src/constants/constants.ts
  src/frontend/src/modals/textAreaModal/index.tsx
Labels: bug, size:S, lgtm

#7130 chore: mark zep componente as deprecated
  src/backend/base/langflow/components/memories/zep.py
Labels: size:XS, lgtm, ignore-for-release

#7134 fix: Return empty list when not ingesting data
  src/backend/base/langflow/base/vectorstores/model.py
Labels: bug, size:XS, lgtm

#7136 fix: Add libpq-dev and gcc dependencies to backend Dockerfile
  docker/build_and_push.Dockerfile
  docker/build_and_push_base.Dockerfile
  src/backend/Dockerfile
  src/backend/base/langflow/alembic/versions/f3b2d1f1002d_add_column_access_type_to_flow.py
  src/backend/base/langflow/services/database/models/flow/model.py
Labels: bug, size:S, lgtm

#7056 Feat: introducing Graph RAG component
  pyproject.toml
  src/backend/base/langflow/components/vectorstores/__init__.py
  src/backend/base/langflow/components/vectorstores/graph_rag.py
  src/backend/tests/unit/components/vectorstores/test_graph_rag_component.py
  uv.lock
Labels: enhancement, size:L, lgtm

#7095 feat: Add LambdaFilter for enhanced data filtering
  src/backend/base/langflow/components/processing/__init__.py
  src/backend/base/langflow/components/processing/lambda_filter.py
  src/backend/base/langflow/utils/data_structure.py
  src/backend/tests/unit/components/processing/test_lambda_filter.py
Labels: enhancement, size:XL, lgtm

#7145 fix: change access_type to fit new ENUM
  src/frontend/src/components/core/flowToolbarComponent/components/deploy-dropdown.tsx
  src/frontend/src/controllers/API/queries/flows/use-patch-update-flow.ts
  src/frontend/src/pages/Playground/index.tsx
  src/frontend/src/types/flow/index.ts
  src/frontend/tests/core/features/publish-flow.spec.ts
  src/frontend/tests/core/unit/floatComponent.spec.ts
Labels: size:S

#7142 feat: add legacy tag deprecated components
  src/backend/base/langflow/components/processing/alter_metadata.py
  src/backend/base/langflow/components/processing/json_cleaner.py
Labels: enhancement, size:XS, lgtm

#7144 fix: Icon not ordering after searching for Dropdown
  src/frontend/src/components/core/dropdownComponent/index.tsx
Labels: bug, size:M, lgtm

#6851 fix: Update Custom Component Maker
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/frontend/tests/core/integrations/Custom Component Generator.spec.ts
Labels: bug, size:M, lgtm

#7156 fix: Improve test accuracy with component generation steps and robust assertions (nightly fix)
  src/frontend/tests/core/integrations/Custom Component Generator.spec.ts
  src/frontend/tests/core/unit/nestedComponent.spec.ts
Labels: bug, size:S

#7158 fix: Improve token refresh logic and API interceptor handling
  src/frontend/src/controllers/API/api.tsx
  src/frontend/src/controllers/API/queries/auth/use-get-autologin.ts
  src/frontend/src/controllers/API/queries/auth/use-post-refresh-access.ts
Labels: bug, size:M, lgtm

#7081 fix: update simple agent template
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
Labels: size:XS, lgtm

#7082 feat: update search agent template agent component
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
Labels: enhancement, size:XS

#7116 refactor: pull types call out of the main page
  src/frontend/src/pages/AppInitPage/index.tsx
  src/frontend/src/pages/FlowPage/index.tsx
Labels: size:S, lgtm, refactor

#7164 fix: Glean icon missing
  src/backend/base/langflow/components/tools/glean_search_api.py
  src/backend/base/langflow/initial_setup/starter_projects/Diet Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Gmail Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/LoopTemplate.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Labels: bug, size:XL, lgtm

#7114 docs: add prerelease flag to nvidia ingest instructions
  docs/docs/Integrations/Nvidia/integrations-nvidia-ingest.md
Labels: documentation, size:XS, lgtm

#7170 fix: Optimize test shard counts, clean up JSON configs, and add frontend test IDs
  .github/workflows/typescript_test.yml
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/frontend/src/components/core/chatComponents/ContentBlockDisplay.tsx
  src/frontend/src/components/core/chatComponents/DurationDisplay.tsx
  src/frontend/tests/core/features/publish-flow.spec.ts
  src/frontend/tests/core/integrations/Portfolio Website Code Generator.spec.ts
  src/frontend/tests/core/integrations/Research Translation Loop.spec.ts
  src/frontend/tests/core/integrations/Simple Agent.spec.ts
  src/frontend/tests/core/integrations/Social Media Agent.spec.ts
  src/frontend/tests/core/integrations/Vector Store.spec.ts
  src/frontend/tests/core/integrations/Youtube Analysis.spec.ts
  src/frontend/tests/core/regression/generalBugs-shard-9.spec.ts
  src/frontend/tests/core/unit/chatInputOutput.spec.ts
  src/frontend/tests/extended/features/files-page.spec.ts
  src/frontend/tests/extended/features/userSettings.spec.ts
  src/frontend/tests/extended/integrations/chatInputOutputUser-shard-1.spec.ts
Labels: bug, size:L

#7139 fix: remove redundant description from Prompt modal
  src/frontend/src/modals/promptModal/index.tsx
Labels: bug, javascript, size:S, lgtm

#7163 fix: check if file management is on before getting files
  src/frontend/src/components/core/parameterRenderComponent/components/inputFileComponent/index.tsx
Labels: bug, size:XS, lgtm

#7171 fix: logout redirection on auto-login off
  src/frontend/src/components/authorization/authGuard/index.tsx
Labels: size:XS

#7177 tests: Skip tests that are failing during nightly build
  src/frontend/tests/extended/features/files-page.spec.ts
Labels: size:XS

#7180 fix: Add webrtcvad dependency to backend base requirements
  src/backend/base/pyproject.toml
  uv.lock
Labels: bug, size:XS

#7182 fix: add scify package to pypoetry
  src/backend/base/pyproject.toml
  uv.lock
Labels: size:XS

#7184 fix: rollback package-lock.json file
  src/frontend/package-lock.json
Labels: size:XS

#7166 fix: MongoDB Atlas search documents
  src/backend/base/langflow/components/vectorstores/mongodb_atlas.py
  src/backend/tests/unit/components/vectorstores/test_mongodb_atlas.py
Labels: bug, size:L, lgtm

#7189 fix: updated version of lanchain-astradb to 0.5.3
  pyproject.toml
  uv.lock
Labels: bug, size:XS, lgtm

#7143 Docs: Create styled link to DataStax Langflow in the sidebar
  docs/css/custom.css
  docs/docusaurus.config.js
  docs/sidebars.js
Labels: documentation, size:M, lgtm

#6945 feat: add text sentiment analysis template
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/frontend/tests/core/integrations/Text Sentiment Analysis.spec.ts
Labels: enhancement, size:M, lgtm

#7113 fix: Update min/max zoom value and fit view values
  src/frontend/.gitignore
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/tests/core/features/filterEdge-shard-0.spec.ts
  src/frontend/tests/core/features/saveComponents.spec.ts
  src/frontend/tests/core/integrations/decisionFlow.spec.ts
  src/frontend/tests/core/integrations/starter-projects.spec.ts
  src/frontend/tests/core/unit/promptModalComponent.spec.ts
  src/frontend/tests/extended/features/minimize.spec.ts
  src/frontend/tests/extended/features/sticky-notes.spec.ts
  src/frontend/tests/extended/features/twoEdges.spec.ts
  src/frontend/tests/utils/adjust-screen-view.ts
  src/frontend/tests/utils/zoom-out.ts
Labels: bug, size:M, lgtm

#7196 fix: add tab to supported types to not show input handles
  src/frontend/src/constants/constants.ts
Labels: bug, size:XS, lgtm

#7195 fix: apply field name automatically to Apply to Fields in global variable
  src/frontend/src/components/core/GlobalVariableModal/GlobalVariableModal.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputGlobalComponent/index.tsx
Labels: bug, size:S, lgtm

#7148 feat: enhance APIRequestComponent with new output methods
  .github/workflows/typescript_test.yml
  src/backend/base/langflow/components/data/api_request.py
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/tests/unit/components/data/test_api_request_component.py
  src/frontend/src/components/core/GlobalVariableModal/GlobalVariableModal.tsx
  src/frontend/src/components/core/flowToolbarComponent/components/deploy-dropdown.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/components/popover/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputFileComponent/index.tsx
  src/frontend/src/controllers/API/queries/flows/use-get-types.ts
  src/frontend/src/pages/AppInitPage/index.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/src/pages/MainPage/pages/emptyPage/index.tsx
  src/frontend/src/types/api/index.ts
  src/frontend/tests/core/features/publish-flow.spec.ts
  src/frontend/tests/core/integrations/Simple Agent.spec.ts
  src/frontend/tests/core/integrations/Social Media Agent.spec.ts
  src/frontend/tests/core/integrations/Text Sentiment Analysis.spec.ts
  src/frontend/tests/core/integrations/Vector Store.spec.ts
  src/frontend/tests/core/unit/chatInputOutput.spec.ts
  src/frontend/tests/core/unit/dropdownComponent.spec.ts
  src/frontend/tests/core/unit/floatComponent.spec.ts
  src/frontend/tests/extended/features/files-page.spec.ts
  src/frontend/tests/extended/features/userSettings.spec.ts
  src/frontend/tests/utils/add-flow-to-test-on-empty-langflow.ts
  src/frontend/tests/utils/add-new-api-keys.ts
  src/frontend/tests/utils/remove-old-api-keys.ts
  src/frontend/tests/utils/upload-file.ts
  src/frontend/tests/utils/withEventDeliveryModes.ts
Labels: enhancement, size:XXL, lgtm

#7203 fix: nvidia model component refresh behavior
  src/backend/base/langflow/components/models/nvidia.py
Labels: size:XS

#7192 docs: integrate nvidia NIM on WSL2
  docs/docs/Integrations/Nvidia/integrations-nvidia-ingest.md
  docs/docs/Integrations/Nvidia/integrations-nvidia-nim-wsl2.md
  docs/sidebars.js
Labels: documentation, size:M, lgtm, DO NOT MERGE

#7207 fix: Test Stability Enhancements (nightly fix)
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/tests/core/features/filterEdge-shard-0.spec.ts
  src/frontend/tests/core/features/globalVariables.spec.ts
  src/frontend/tests/core/features/publish-flow.spec.ts
Labels: size:M

#7026 feat: Add cURL command unescaping for API request parsing
  src/backend/base/langflow/components/data/api_request.py
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
Labels: enhancement, size:XL, lgtm

#7208 fix: refetch endpoints on backend startup (improvement for devs)
  src/frontend/src/pages/AppInitPage/index.tsx
Labels: bug, size:S, lgtm

#7209 fix: prevent logout when auto-login is true
  src/frontend/src/controllers/API/queries/auth/use-post-logout.ts
Labels: size:S

#7206 docs: remove dupe reference to wsl install
  docs/docs/Integrations/Nvidia/integrations-nvidia-nim-wsl2.md
Labels: documentation, size:S, lgtm

#7198 fix: updated icons with same svg id that caused conflicts
  src/frontend/src/icons/Cohere/cohere.svg
  src/frontend/src/icons/Olivya/olivya.jsx
  src/frontend/src/icons/PowerPoint/PowerPoint.svg
  src/frontend/src/icons/Wikipedia/Wikipedia.jsx
  src/frontend/src/icons/Word/word.svg
Labels: bug, size:L, lgtm

#7200 refactor: Add compression to the 2 largest LF calls
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/utils/compression.py
Labels: size:M, lgtm, refactor

#7213 fix: Improve disabled state handling in CustomInputPopover and InputGlobalComponent
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/components/popover/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputGlobalComponent/index.tsx
Labels: bug, javascript, size:S, lgtm

#7212 feat: Add truncation notification for large outputs
  src/frontend/src/shared/components/textOutputView/index.tsx
Labels: enhancement, size:S, lgtm

#6928 feat: add new Opik Tracer
  docs/docs/Integrations/integrations-langfuse.md
  docs/docs/Integrations/integrations-opik.md
  docs/sidebars.js
  pyproject.toml
  src/backend/base/langflow/services/tracing/opik.py
  src/backend/base/langflow/services/tracing/service.py
  src/backend/tests/unit/services/tracing/test_tracing_service.py
  uv.lock
Labels: enhancement, size:L, lgtm

#6887 feat: Enhance AstraDB tool component with vector search and metadata filter
  src/backend/base/langflow/components/tools/astradb.py
  src/backend/base/langflow/components/tools/astradb_cql.py
Labels: enhancement, size:L, lgtm

#7167 chore: merge mcp components
  src/backend/base/langflow/api/v1/mcp.py
  src/backend/base/langflow/base/astra_assistants/util.py
  src/backend/base/langflow/base/mcp/util.py
  src/backend/base/langflow/components/deactivated/mcp_sse.py
  src/backend/base/langflow/components/deactivated/mcp_stdio.py
  src/backend/base/langflow/components/tools/__init__.py
  src/backend/base/langflow/components/tools/mcp_component.py
  src/backend/base/langflow/components/tools/mcp_sse.py
  src/backend/base/langflow/io/schema.py
  src/backend/tests/integration/components/mcp/__init__.py
  src/backend/tests/integration/components/mcp/test_mcp_component.py
  src/backend/tests/unit/components/tools/test_mcp_component.py
  src/backend/tests/unit/test_schema.py
  src/frontend/package-lock.json
  src/frontend/src/components/common/genericIconComponent/index.tsx
  src/frontend/src/components/common/renderIconComponent/components/renderKey/index.tsx
  src/frontend/src/components/ui/button.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/components/audio-settings/audio-settings-dialog.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/components/audio-settings/components/language-select.tsx
  src/frontend/src/utils/utils.ts
  src/frontend/tests/core/features/auto-login-off.spec.ts
  src/frontend/tests/core/features/filterEdge-shard-0.spec.ts
  src/frontend/tests/core/features/playground.spec.ts
  src/frontend/tests/extended/features/edit-tools.spec.ts
Labels: size:XXL, lgtm, ignore-for-release

#7219 fix: add full width on Select files button
  src/frontend/src/components/core/parameterRenderComponent/components/inputFileComponent/index.tsx
Labels: size:XS

#7215 fix: made truncate gradient appear just in the end of the truncated component
  src/frontend/tailwind.config.mjs
Labels: bug, size:XS, lgtm

#7220 tests: change handle testid on URL Component
  src/frontend/tests/extended/features/tool-mode.spec.ts
  src/frontend/tests/extended/integrations/chatInputOutputUser-shard-1.spec.ts
Labels: size:XS

#7221 tests: change freeze test folder
  src/frontend/tests/extended/features/freeze.spec.ts
Labels: size:XS

#7227 test: add timeout on freeze test to prevent errors on ci
  src/backend/base/langflow/components/data/api_request.py
  src/frontend/tests/core/features/freeze.spec.ts
  src/frontend/tests/core/integrations/Vector Store.spec.ts
Labels: size:M

#7229 test: fix api_request test (nightly fix)
  src/backend/tests/unit/components/data/test_api_request_component.py
Labels: size:XS, test

#7230 test: fix outdated components (nightly fix)
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/tests/unit/components/data/test_api_request_component.py
Labels: size:M

#7231 test: update api-request tests
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/tests/unit/components/data/test_api_request_component.py
Labels: size:S

#7234 fix: Enhance state management with reset methods and logout functionality improvements
  src/frontend/package-lock.json
  src/frontend/src/controllers/API/queries/auth/use-post-logout.ts
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/stores/flowsManagerStore.ts
  src/frontend/src/stores/foldersStore.tsx
  src/frontend/src/types/zustand/flow/index.ts
  src/frontend/src/types/zustand/flowsManager/index.ts
  src/frontend/src/types/zustand/folders/index.ts
  src/frontend/tests/core/features/user-flow-state-cleanup.spec.ts
Labels: bug, size:L, lgtm

#7242 fix: Standardize flow name handling with snake_case conversion in MCP API
  src/backend/base/langflow/api/v1/mcp.py
  src/backend/base/langflow/base/mcp/util.py
  src/backend/tests/unit/components/data/test_api_request_component.py
Labels: bug, size:S, lgtm

#7244 fix: update handle display logic and improve popover layout in node components
  src/frontend/src/CustomNodes/GenericNode/components/NodeInputField/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/components/popover/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputGlobalComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/strRenderComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/types.ts
  src/frontend/src/types/components/index.ts
Labels: bug, javascript, size:S, lgtm

#7216 fix: add tool_mode to query input on gleanSearchComponent
  src/backend/base/langflow/components/tools/glean_search_api.py
Labels: bug, size:XS, lgtm

#7258 refactor: update logging to use logger.debug for consistency
  src/backend/base/langflow/main.py
Labels: size:M, lgtm, refactor

#7265 chore: Remove mention of anovazzi1 from bug report template
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: size:S, lgtm, ignore-for-release

#7275 fix: allow float to be typed in float input
  src/frontend/src/components/core/parameterRenderComponent/components/floatComponent/index.tsx
Labels: bug, size:S, lgtm

#7250 fix: Implement cleanup grace period for job queue tasks
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/services/job_queue/service.py
Labels: bug, size:M, lgtm
