Repository langflow-ai/langflow, pull requests merged in 2025-09, with the labels that each got.

#9641 fix: Add comprehensive message sorting + tests
  src/frontend/src/modals/IOModal/components/chatView/__tests__/message-ordering-regression.test.ts
  src/frontend/src/modals/IOModal/components/chatView/__tests__/message-sorting-integration.test.ts
  src/frontend/src/modals/IOModal/components/chatView/__tests__/sort-sender-messages.test.ts
  src/frontend/src/modals/IOModal/components/chatView/components/chat-view.tsx
  src/frontend/src/modals/IOModal/components/chatView/helpers/sort-sender-messages.ts
Labels: bug, Release

#9638 fix: Remove formatting from agent input text content
  src/backend/base/langflow/base/agents/events.py
Labels: bug, Release, lgtm

#9532 fix(logger): add optional cache to configure; update caching behavior
  src/backend/base/langflow/logging/logger.py
Labels: bug, lgtm, fix-for-release

#9625 fix: Update sidebar border styles
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/featureTogglesComponent.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarHeader.tsx
Labels: bug, lgtm

#9661 chore: Bump `lfx` version to 0.1.11
  src/lfx/pyproject.toml
  uv.lock
Labels: ignore-for-release

#9636 fix: Remove top padding from sidebar groups
  src/frontend/jest.config.js
  src/frontend/src/__mocks__/@jsonquerylang/jsonquery.js
  src/frontend/src/__mocks__/vanilla-jsoneditor.js
  src/frontend/src/components/core/parameterRenderComponent/components/copyFieldAreaComponent/__tests__/CopyFieldAreaComponent.test.tsx
  src/frontend/src/modals/IOModal/components/chatView/__tests__/message-sorting-integration.test.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/McpSidebarGroup.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarHeader.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/categoryGroup.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarBundles.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarHeader.tsx
  src/frontend/tests/extended/features/mcp-server-tab.spec.ts
Labels: bug, Release, lgtm

#9615 fix: Segmented Sidebar switch to search on value change
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarSegmentedNav.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarSegmentedNav.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
  src/frontend/tests/extended/features/loop-component.spec.ts
Labels: bug, lgtm, fix for release, fix-for-release

#9622 fix: deprecate claude 3 sonnet model
  src/backend/base/langflow/base/models/anthropic_constants.py
Labels: bug, lgtm, fix for release, fix-for-release

#9675 fix: Properly import Langchain ToolMessage for Message options
  src/backend/base/langflow/components/processing/structured_output.py
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/logging/logger.py
  src/backend/base/langflow/schema/message.py
Labels: bug, lgtm, fast-track

#9687 docs: fix sidebar behavior of last element
  docs/css/custom.css
Labels: documentation, lgtm

#9536 fix: Remove warning log for unset TRACELOOP_API_KEY in configuration validation
  src/backend/base/langflow/services/tracing/traceloop.py
Labels: bug, lgtm, fix-for-release

#9660 fix: remove python code component, fix placeholder not appearing
  src/backend/base/langflow/components/__init__.py
  src/backend/base/langflow/components/prototypes/__init__.py
  src/backend/base/langflow/components/prototypes/python_function.py
  src/backend/tests/unit/test_experimental_components.py
  src/frontend/src/components/core/parameterRenderComponent/helpers/get-placeholder-disabled.ts
  src/frontend/tests/core/features/filterSidebar.spec.ts
  src/frontend/tests/core/unit/codeAreaModalComponent.spec.ts
Labels: bug, lgtm

#9656 fix: add margins to <p> tag in markdown
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/components/edit-message.tsx
Labels: bug, lgtm

#9702 fix: switch to docling-serve v1 API
  src/lfx/src/lfx/components/docling/docling_remote.py
Labels: bug

#9706 feat: Add frontend build cleaning and CLI run options
  DEVELOPMENT.md
  Makefile
  docs/docs/Contributing/contributing-how-to-contribute.mdx
Labels: enhancement, lgtm

#9506 feat: mcp composer integration
  .env.example
  .gitignore
  src/backend/base/langflow/api/v1/auth_helpers.py
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/api/v1/projects.py
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/auth/mcp_encryption.py
  src/backend/base/langflow/services/mcp_composer/__init__.py
  src/backend/base/langflow/services/mcp_composer/factory.py
  src/backend/base/langflow/services/mcp_composer/service.py
  src/backend/base/langflow/services/schema.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/langflow/services/settings/feature_flags.py
  src/backend/tests/unit/api/v1/test_mcp_projects.py
  src/frontend/src/controllers/API/queries/mcp/use-get-composer-url.ts
  src/frontend/src/controllers/API/queries/mcp/use-patch-flows-mcp.ts
  src/frontend/src/customization/feature-flags.ts
  src/frontend/src/customization/utils/custom-mcp-url.ts
  src/frontend/src/pages/MainPage/pages/homePage/components/McpServerTab.tsx
  src/frontend/vite.config.mts
  uv.lock
Labels: enhancement, lgtm

#9726 fix: disable keys when flow is locked
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/stores/flowStore.ts
Labels: bug, lgtm

#9750 fix: Preserve flows and components during project updates
  src/backend/base/langflow/api/v1/projects.py
  src/backend/tests/unit/api/v1/test_projects.py
Labels: bug, lgtm

#9720 fix(langwatch): prevent trace errors with proper API key validation
  src/backend/base/langflow/services/tracing/langwatch.py
Labels: bug

#9596 fix(URLComponent): filter out `None` in headers to avoid silent serialization errors
  src/backend/base/langflow/components/data/url.py
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Ingestion.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
Labels: bug, lgtm, fix for release, fix-for-release

#9763 fix: docling OCR selector with None option
  src/frontend/package-lock.json
  src/lfx/src/lfx/base/data/docling_utils.py
Labels: bug

#9772 fix: Updated Agent Starter Projects with new Templates
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Labels: bug, lgtm

#9785 fix: remove agents from skipped components list in setup
  docs/docs/Integrations/Cleanlab/eval_and_remediate_cleanlab.json
  docs/docs/Integrations/Notion/Conversational_Notion_Agent.json
  docs/docs/Integrations/Notion/Meeting_Notes_Agent.json
  src/backend/base/langflow/base/constants.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Labels: bug, fix for release, fix-for-release

#9730 feat: double clicking a component will add it to the canvas
  src/frontend/src/pages/FlowPage/components/PageComponent/MemoizedComponents.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/searchConfigTrigger.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarFooterButtons.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarHeader.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarItemsList.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarSegmentedNav.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarDraggableComponent.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarFooterButtons.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarSegmentedNav.tsx
  src/frontend/tests/core/features/flow-lock.spec.ts
  src/frontend/tests/extended/features/mcp-server.spec.ts
  src/frontend/tests/extended/features/sticky-notes.spec.ts
Labels: enhancement, lgtm

#9784 docs: remove knowledge base content from 1.6
  docs/docs/Agents/agents-tools.mdx
  docs/docs/Components/components-kb.mdx
  docs/docs/Concepts/knowledge.mdx
  docs/docs/Configuration/environment-variables.mdx
  docs/docs/Develop/memory.mdx
  docs/docs/Support/release-notes.mdx
  docs/docs/_partial-kb-summary.mdx
  docs/sidebars.js
Labels: documentation, lgtm

#9442 docs: update composio bundle page
  docs/docs/Agents/agents-tools.mdx
  docs/docs/Integrations/Composio/integrations-composio.mdx
  docs/static/img/composio/composio-create-flow.png
Labels: documentation, lgtm

#9710 docs: replace ampersands in windows command
  docs/docs/Contributing/contributing-how-to-contribute.mdx
Labels: documentation, lgtm

#9864 fix: make input clickable on chat
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/input-wrapper.tsx
Labels: bug, lgtm

#9865 feat: add dependencies, improves error handling in global scope and adds tests
  src/backend/tests/unit/utils/test_validate.py
  src/lfx/pyproject.toml
  src/lfx/src/lfx/custom/validate.py
  src/lfx/tests/unit/cli/test_run_real_flows.py
  src/lfx/tests/unit/cli/test_run_starter_projects.py
  src/lfx/tests/unit/custom/component/test_dynamic_imports.py
  uv.lock
Labels: enhancement, lgtm

#9874 refactor: update skip_auth_auto_login behavior and update messaging timelines for removal
  src/backend/base/langflow/services/auth/utils.py
  src/backend/base/langflow/services/settings/auth.py
  src/backend/tests/unit/api/v1/test_mcp_projects.py
  src/backend/tests/unit/test_load_components.py
Labels: lgtm

#9560 feat: add composio components
  src/frontend/src/icons/airtable/airtable.jsx
  src/frontend/src/icons/airtable/airtable.svg
  src/frontend/src/icons/airtable/index.tsx
  src/frontend/src/icons/asana/asana.jsx
  src/frontend/src/icons/asana/asana.svg
  src/frontend/src/icons/asana/index.tsx
  src/frontend/src/icons/attio/attio.jsx
  src/frontend/src/icons/attio/attio.svg
  src/frontend/src/icons/attio/index.tsx
  src/frontend/src/icons/calendly/calendly.jsx
  src/frontend/src/icons/calendly/calendly.svg
  src/frontend/src/icons/calendly/index.tsx
  src/frontend/src/icons/contentful/contentful.jsx
  src/frontend/src/icons/contentful/contentful.svg
  src/frontend/src/icons/contentful/index.tsx
  src/frontend/src/icons/discord/discord.jsx
  src/frontend/src/icons/discord/discord.svg
  src/frontend/src/icons/discord/index.tsx
  src/frontend/src/icons/figma/figma.jsx
  src/frontend/src/icons/figma/figma.svg
  src/frontend/src/icons/figma/index.tsx
  src/frontend/src/icons/googledocs/googledocs.jsx
  src/frontend/src/icons/googledocs/googledocs.svg
  src/frontend/src/icons/googledocs/index.tsx
  src/frontend/src/icons/klaviyo/index.tsx
  src/frontend/src/icons/klaviyo/klaviyo.jsx
  src/frontend/src/icons/klaviyo/klaviyo.svg
  src/frontend/src/icons/lazyIconImports.ts
  src/frontend/src/icons/miro/index.tsx
  src/frontend/src/icons/miro/miro.jsx
  src/frontend/src/icons/miro/miro.svg
  src/frontend/src/icons/one_drive/index.tsx
  src/frontend/src/icons/one_drive/one_drive.jsx
  src/frontend/src/icons/one_drive/one_drive.svg
  src/frontend/src/icons/wrike/index.tsx
  src/frontend/src/icons/wrike/wrike.jsx
  src/frontend/src/icons/wrike/wrike.svg
  src/lfx/src/lfx/components/composio/__init__.py
  src/lfx/src/lfx/components/composio/airtable_composio.py
  src/lfx/src/lfx/components/composio/asana_composio.py
  src/lfx/src/lfx/components/composio/attio_composio.py
  src/lfx/src/lfx/components/composio/calendly_composio.py
  src/lfx/src/lfx/components/composio/contentful_composio.py
  src/lfx/src/lfx/components/composio/discord_composio.py
  src/lfx/src/lfx/components/composio/figma_composio.py
  src/lfx/src/lfx/components/composio/googledocs_composio.py
  src/lfx/src/lfx/components/composio/googlesheets_composio.py
  src/lfx/src/lfx/components/composio/klaviyo_composio.py
  src/lfx/src/lfx/components/composio/miro_composio.py
  src/lfx/src/lfx/components/composio/notion_composio.py
  src/lfx/src/lfx/components/composio/onedrive_composio.py
  src/lfx/src/lfx/components/composio/wrike_composio.py
Labels: enhancement, fast-track

#9887 refactor: async methods in components
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Ingestion.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/tests/data/simple_agent.py
  src/backend/tests/unit/test_simple_agent_in_lfx_run.py
  src/lfx/src/lfx/base/agents/agent.py
  src/lfx/src/lfx/base/composio/composio_base.py
  src/lfx/src/lfx/components/agents/agent.py
  src/lfx/src/lfx/custom/custom_component/component.py
Labels: lgtm, refactor

#9890 feat: Global variable passthrough in MCP Projects SSE
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/api/v1/mcp_utils.py
Labels: enhancement, lgtm

#9626 docs: add oauth for mcp
  docs/docs/Concepts/mcp-server.mdx
Labels: documentation, lgtm

#9871 docs: include guidance for openai client dummy key
  docs/docs/API-Reference/api-openai-responses.mdx
Labels: documentation, lgtm

#9905 docs: fix broken component links
  src/lfx/src/lfx/components/clickhouse/clickhouse.py
  src/lfx/src/lfx/components/cohere/cohere_models.py
  src/lfx/src/lfx/components/nvidia/system_assist.py
  src/lfx/src/lfx/components/vectorstores/clickhouse.py
Labels: documentation, lgtm

#9704 feat: Enhance OpenSearch component with additional input fields and improved document handling
  src/lfx/src/lfx/components/elastic/opensearch.py
Labels: enhancement, lgtm

#9731 docs: auth changes
  docs/docs/Configuration/api-keys-and-authentication.mdx
  docs/docs/Configuration/environment-variables.mdx
  docs/docs/Support/release-notes.mdx
  docs/docs/_partial-autologin-changes.mdx
Labels: documentation, lgtm, DO NOT MERGE

#9908 fix: Make sure strings can be parsed in the python interpreter
  src/backend/base/langflow/components/processing/python_repl_core.py
  src/backend/tests/unit/components/tools/test_python_repl_tool.py
Labels: bug, lgtm

#9927 fix(core): add guard for provider metadata; revise exception messages
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/lfx/src/lfx/components/agents/agent.py
  src/lfx/src/lfx/custom/validate.py
Labels: bug, lgtm

#9929 feat(logging): add logger module for backwards compatibility
  src/backend/base/langflow/logging/logger.py
  src/backend/tests/unit/test_langflow_logging_compatibility.py
Labels: enhancement, lgtm

#9944 fix: Disable Docling by default with macOS Intel
  pyproject.toml
  uv.lock
Labels: bug, lgtm

#9957 refactor: Improve modal management and UI consistency
  src/frontend/src/components/core/flowToolbarComponent/index.tsx
  src/frontend/src/customization/components/custom-chatView.tsx
  src/frontend/src/customization/constants.ts
  src/frontend/src/modals/apiModal/codeTabs/code-tabs.tsx
Labels: lgtm, refactor

#9953 feat: add customization layer for duplicate file functionality
  src/frontend/src/customization/hooks/use-custom-duplicate-file.ts
  src/frontend/src/modals/fileManagerModal/components/filesContextMenuComponent/index.tsx
Labels: enhancement, lgtm, fast-track

#9965 fix: type handling in file component
  src/backend/base/langflow/base/data/base_file.py
  src/backend/base/langflow/components/input_output/chat.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/base/langflow/schema/image.py
  src/backend/base/langflow/schema/message.py
  src/backend/tests/unit/base/data/test_base_file.py
Labels: bug, lgtm

#9948 fix: No Data Columns for Api Response on body table
  src/frontend/src/components/core/parameterRenderComponent/index.tsx
Labels: bug, lgtm

#9966 fix: For every component that uses an LLM input, replace with the new LLM selector
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/frontend/package-lock.json
  src/lfx/src/lfx/components/agents/agent.py
Labels: bug, lgtm

#9999 build: update langflow base dependency
  pyproject.toml
  uv.lock
Labels: lgtm, build

#9991 fix: Improve docs_metadata handling in OpenSearch component
  src/lfx/src/lfx/components/elastic/opensearch.py
Labels: bug, lgtm

#10008 fix: Restore Agent memory functionality by fixing inheritance and type compatibility
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/lfx/src/lfx/base/agents/agent.py
  src/lfx/src/lfx/base/agents/utils.py
  src/lfx/src/lfx/components/agents/agent.py
Labels: bug, lgtm

#9902 feat: implement global variables on table input
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Ingestion.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/schema/table.py
  src/backend/tests/unit/components/data/table_schema_demo_component.py
  src/backend/tests/unit/components/data/test_table_loader_component.py
  src/backend/tests/unit/components/data/test_table_schema_demo_component.py
  src/backend/tests/unit/interface/initialize/test_loading.py
  src/backend/tests/unit/io/test_table_schema.py
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/components/popover/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputGlobalComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/components/tableAutoCellRender/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/types.ts
  src/frontend/src/shared/components/delete-confirmation-modal.tsx
  src/frontend/src/types/components/index.ts
  src/frontend/src/types/utils/functions.ts
  src/frontend/src/utils/utils.ts
  src/frontend/tests/core/integrations/Market Research.spec.ts
  src/frontend/tests/core/integrations/starter-projects.spec.ts
  src/lfx/src/lfx/graph/vertex/param_handler.py
  src/lfx/src/lfx/interface/initialize/loading.py
  src/lfx/src/lfx/schema/table.py
  src/lfx/tests/unit/graph/vertex/test_param_handler.py
  src/lfx/tests/unit/graph/vertex/test_vertex_base.py
Labels: enhancement, lgtm

#9868 feat: Changing location, name and functions of SaveToFileComponent.
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/tests/unit/components/processing/test_save_file_component.py
  src/frontend/tests/core/unit/fileUploadComponent.spec.ts
  src/frontend/tests/extended/features/loop-component.spec.ts
  src/lfx/src/lfx/components/data/__init__.py
  src/lfx/src/lfx/components/data/file.py
  src/lfx/src/lfx/components/data/save_file.py
  src/lfx/src/lfx/components/processing/__init__.py
  src/lfx/src/lfx/components/processing/save_file.py
Labels: enhancement

#10021 feat: Improve sender name resolution with ChatOutput utility
  src/backend/tests/unit/components/agents/test_agent_utils.py
  src/lfx/src/lfx/base/agents/agent.py
  src/lfx/src/lfx/base/agents/utils.py
Labels: enhancement, lgtm

#10044 feat: Add container detection utilities for localhost URL transformation
  src/lfx/src/lfx/components/docling/docling_remote.py
  src/lfx/src/lfx/utils/util.py
  src/lfx/tests/unit/utils/__init__.py
  src/lfx/tests/unit/utils/test_container_utils.py
Labels: enhancement, lgtm

#9900 fix: set prepared threshold to none for migrations
  src/backend/base/langflow/alembic/env.py
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
Labels: bug, lgtm

#8655 chore: add detect-secrets pre-commit hook and baseline file
  .pre-commit-config.yaml
  .secrets.baseline
Labels: size:XXL, lgtm, ignore-for-release

#10009 fix: Extract text content from Message objects for agent input
  src/lfx/src/lfx/base/agents/agent.py
Labels: bug, lgtm

#10032 fix: Ensure `log_level` is set correctly
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/base/data/base_file.py
Labels: bug, lgtm

#10043 fix: broadly catch exceptions when building components
  src/backend/base/langflow/components/nvidia/nvidia.py
  src/backend/base/langflow/interface/components.py
  src/backend/tests/unit/test_load_components.py
Labels: bug, lgtm

#9962 feat: Add DataFrame to Toolset component and improve Mock Data naming
  src/backend/tests/unit/components/processing/test_dataframe_toolset.py
  src/lfx/src/lfx/components/data/mock_data.py
  src/lfx/src/lfx/components/processing/__init__.py
  src/lfx/src/lfx/components/processing/dataframe_to_toolset.py
Labels: enhancement, lgtm
