Repository langflow-ai/langflow, pull requests merged in 2025-06, with the labels that each got.

#8308 ref: Prompt Category Icon Update
  src/frontend/src/utils/styleUtils.ts
Labels: size:XS, lgtm

#8293 fix: makes action title follow the flow name after editing to old title
  src/frontend/src/modals/toolsModal/components/toolsTable/index.tsx
  src/frontend/src/utils/stringManipulation.ts
Labels: bug, size:M, lgtm

#8281 ref: move memories category to bundles
  src/frontend/src/utils/styleUtils.ts
  src/frontend/tests/extended/features/filterEdge-shard-1.spec.ts
Labels: size:XS, lgtm

#8220 Ref: LLMRouterComponent with Advanced OpenRouter Integration
  src/backend/base/langflow/components/processing/llm_router.py
Labels: enhancement, size:XL, lgtm

#8271 feat: add one click install to mcp servers on specific clients
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/tests/unit/api/v1/test_mcp_projects.py
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/controllers/API/queries/mcp/use-get-installed-mcp.ts
  src/frontend/src/controllers/API/queries/mcp/use-patch-install-mcp.ts
  src/frontend/src/hooks/useIsLocalConnection.ts
  src/frontend/src/icons/fontAwesomeIcons.ts
  src/frontend/src/icons/lazyIconImports.ts
  src/frontend/src/pages/MainPage/pages/homePage/components/McpServerTab.tsx
  src/frontend/src/pages/MainPage/pages/homePage/index.tsx
  src/frontend/src/utils/utils.ts
  src/frontend/tests/extended/features/mcp-server-tab.spec.ts
Labels: enhancement, size:XXL, lgtm

#8298 fix: Refactor MCP API to fix value truncation
  src/backend/base/langflow/api/v1/mcp.py
  src/backend/base/langflow/api/v1/mcp_projects.py
Labels: bug, size:L, lgtm

#8321 fix: added truncation length as constant and reduced it to 100
  docs/openapi.json
  src/backend/base/langflow/api/v1/schemas.py
  src/frontend/src/components/core/dataOutputComponent/index.tsx
  src/frontend/src/controllers/API/queries/config/use-get-config.ts
  src/frontend/src/stores/utilityStore.ts
  src/frontend/src/types/zustand/utility/index.ts
  src/frontend/tests/extended/regression/general-bugs-truncate-results.spec.ts
Labels: bug, javascript, size:XL, lgtm

#6745 fix: wrong command in Makefile since drop poetry
  Makefile
Labels: bug, size:S, lgtm

#7664 fix: Allow upload limit increase in kubernetes deployment
  docker/frontend/default.conf.template
  docker/frontend/start-nginx.sh
Labels: bug, size:XS, lgtm

#8335 fix: changed host to be localhost on exhibition if host is 0.0.0.0
  src/backend/base/langflow/__main__.py
Labels: bug, size:XS, lgtm

#8283 fix: Fix Anthropic output processing and update dependency
  pyproject.toml
  src/backend/base/langflow/base/agents/events.py
  src/backend/base/langflow/base/data/utils.py
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/components/embeddings/similarity.py
  src/backend/base/langflow/components/languagemodels/anthropic.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/graph/vertex/vertex_types.py
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Gmail Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/tests/conftest.py
  src/backend/tests/unit/components/agents/test_agent_component.py
  src/frontend/tests/core/integrations/Portfolio Website Code Generator.spec.ts
  uv.lock
Labels: bug, size:L, lgtm, fast-track

#8320 ci(docker): update Buildx setup to use BuildKit container backend
  .github/workflows/docker-build.yml
Labels: enhancement, size:S

#8284 feat: Update components input/output display name and descriptions
  .github/workflows/typescript_test.yml
  src/backend/base/langflow/base/embeddings/model.py
  src/backend/base/langflow/base/models/model.py
  src/backend/base/langflow/components/input_output/chat.py
  src/backend/base/langflow/components/input_output/chat_output.py
  src/backend/base/langflow/components/input_output/text.py
  src/backend/base/langflow/components/input_output/text_output.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Diet Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Gmail Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/frontend/tests/core/features/freeze-path.spec.ts
  src/frontend/tests/core/features/freeze.spec.ts
  src/frontend/tests/core/features/playground.spec.ts
  src/frontend/tests/core/features/stop-building.spec.ts
  src/frontend/tests/core/integrations/decisionFlow.spec.ts
  src/frontend/tests/core/integrations/similarity.spec.ts
  src/frontend/tests/core/integrations/textInputOutput.spec.ts
  src/frontend/tests/core/regression/generalBugs-shard-5.spec.ts
  src/frontend/tests/core/unit/chatInputOutput.spec.ts
  src/frontend/tests/core/unit/fileUploadComponent.spec.ts
  src/frontend/tests/extended/features/loop-component.spec.ts
  src/frontend/tests/extended/features/stop-button-playground.spec.ts
  src/frontend/tests/extended/integrations/chatInputOutputUser-shard-1.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-10.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-3.spec.ts
Labels: enhancement, size:L, lgtm

#8356 fix: only allow custom vals and options to be in the options list
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/tests/extended/regression/general-bugs-dropdown-select-not-in-list.spec.ts
Labels: bug, size:M, lgtm

#8360 fix: lfoss-1284
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/tests/extended/regression/general-bugs-dropdown-select-not-in-list.spec.ts
Labels: bug, size:M

#8351 ref: Deprecate pass message component
  src/backend/base/langflow/components/logic/pass_message.py
Labels: size:XS, lgtm, fast-track

#8358 feat: Add Google as an option for genai
  src/backend/base/langflow/components/models/language_model.py
Labels: enhancement, size:S, lgtm

#8359 fix: Revert Typescript Shards
  .github/workflows/typescript_test.yml
Labels: bug, size:XS, lgtm

#8324 fix: Refactor a few more components to proper folders
  src/backend/base/langflow/base/data/base_file.py
  src/backend/base/langflow/components/helpers/__init__.py
  src/backend/base/langflow/components/processing/__init__.py
  src/backend/base/langflow/components/processing/batch_run.py
  src/backend/base/langflow/components/processing/save_file.py
  src/backend/base/langflow/components/processing/structured_output.py
  src/backend/base/langflow/components/twelvelabs/video_file.py
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/document_qa.py
  src/backend/base/langflow/initial_setup/starter_projects/vector_store_rag.py
  src/backend/tests/unit/components/helpers/__init__.py
  src/backend/tests/unit/components/processing/test_batch_run_component.py
  src/backend/tests/unit/components/processing/test_structured_output_component.py
  src/backend/tests/unit/initial_setup/starter_projects/test_vector_store_rag.py
Labels: bug, size:M, lgtm

#8195 docs: add typescript client
  docs/css/custom.css
  docs/docs/Develop/Clients/typescript-client.md
  docs/sidebars.js
Labels: documentation, size:L, lgtm

#8373 fix: Update Pokédex Agent template
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
Labels: bug, size:XS, lgtm, fix for release

#8361 fix: apikey lock issue and add option to disable tracking
  docs/docs/Configuration/environment-variables.md
  src/backend/base/langflow/services/database/models/api_key/crud.py
  src/backend/base/langflow/services/settings/base.py
Labels: bug, size:S, lgtm

#8049 feat: Add Cleanlab's AI Reliability Bundle to Langflow
  docs/docs/Integrations/Cleanlab/cleanlab_remediator_example.png
  docs/docs/Integrations/Cleanlab/cleanlab_remediator_example_fallback.png
  docs/docs/Integrations/Cleanlab/eval_and_remediate_cleanlab.json
  docs/docs/Integrations/Cleanlab/eval_rag.png
  docs/docs/Integrations/Cleanlab/eval_response.png
  docs/docs/Integrations/Cleanlab/eval_summary_rag.png
  docs/docs/Integrations/Cleanlab/integrations-cleanlab.md
  docs/sidebars.js
  pyproject.toml
  src/backend/base/langflow/components/cleanlab/__init__.py
  src/backend/base/langflow/components/cleanlab/cleanlab_evaluator.py
  src/backend/base/langflow/components/cleanlab/cleanlab_rag_evaluator.py
  src/backend/base/langflow/components/cleanlab/cleanlab_remediator.py
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/frontend/package-lock.json
  src/frontend/src/icons/Cleanlab/Cleanlab.jsx
  src/frontend/src/icons/Cleanlab/index.tsx
  src/frontend/src/icons/lazyIconImports.ts
  src/frontend/src/utils/styleUtils.ts
  uv.lock
Labels: enhancement, size:XXL, lgtm

#8354 refactor: remove references to the langflow store
  docs/css/custom.css
  docs/docs/Configuration/environment-variables.md
  docs/docs/Contributing/contributing-how-to-contribute.md
  src/backend/base/langflow/services/database/models/api_key/crud.py
  src/backend/base/langflow/services/settings/base.py
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/customization/components/custom-store-sidebar.tsx
  src/frontend/src/customization/feature-flags.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarFooterButtons/index.tsx
  src/frontend/src/pages/SettingsPage/index.tsx
Labels: size:M, lgtm, refactor

#8357 docs: new logos
  docs/docusaurus.config.js
  docs/static/img/lf-docs-dark.svg
  docs/static/img/lf-docs-light.svg
  docs/static/img/lf-docs-mini.svg
Labels: documentation, size:XS, lgtm

#8317 Docs: rename and redirect system assist component to g-assist component
  docs/docs/Integrations/Nvidia/integrations-nvidia-g-assist.md
  docs/docs/Integrations/Nvidia/integrations-nvidia-system-assist.md
  docs/docusaurus.config.js
  docs/sidebars.js
Labels: documentation, size:L, lgtm

#8431 test: enhance node connection tests in chatMemory component
  src/frontend/tests/core/regression/generalBugs-shard-9.spec.ts
Labels: size:M, test

#8315 feat: NV-ingest high resolution extraction and infographics content extraction
  src/backend/base/langflow/components/nvidia/nvidia_ingest.py
Labels: enhancement, size:M, lgtm

#8457 fix: update import statement in astradb_cql.py to silence warning
  src/backend/base/langflow/components/datastax/astradb_cql.py
Labels: bug, size:XS, lgtm

#8458 feat: enhance OutputComponent dropdown functionality and styling
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputParameter/NodeOutputs.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputfield/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/OutputComponent/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
Labels: enhancement, size:L, lgtm

#8435 fix: fix file toggle in the playground chat
  src/frontend/src/customization/components/custom-file-card.tsx
Labels: bug, size:S, lgtm

#8233 fix: Remove the dataframe output from structured
  src/backend/base/langflow/components/processing/structured_output.py
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/frontend/tests/core/features/freeze-path.spec.ts
  src/frontend/tests/core/features/freeze.spec.ts
  src/frontend/tests/core/integrations/Financial Report Parser.spec.ts
  src/frontend/tests/core/integrations/Image Sentiment Analysis.spec.ts
  src/frontend/tests/core/integrations/Market Research.spec.ts
Labels: bug, size:XL, lgtm

#8400 fix: make starter projects auto refactor not remove selected output
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/custom/utils.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/template/field/base.py
  src/backend/tests/unit/test_schema.py
Labels: bug, size:S, lgtm

#8339 fix: made button disabled state more congruent, made edit flow details submit on enter
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/components/core/editFlowSettingsComponent/index.tsx
  src/frontend/src/components/core/flowSettingsComponent/index.tsx
  src/frontend/src/components/ui/button.tsx
  src/frontend/src/modals/flowSettingsModal/index.tsx
  src/frontend/src/style/applies.css
Labels: bug, size:L, lgtm, fix for release

#8463 Fix: chat memory store issue and fix output types
  src/backend/base/langflow/components/helpers/memory.py
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Gmail Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
Labels: enhancement, size:XL, lgtm

#8491 chore(ci): replace local uv setup action with astral-sh/setup-uv@v6
  .github/actions/setup-uv/action.yml
  .github/workflows/codeflash.yml
  .github/workflows/docker-build.yml
  .github/workflows/integration_tests.yml
  .github/workflows/lint-py.yml
  .github/workflows/nightly_build.yml
  .github/workflows/py_autofix.yml
  .github/workflows/python_test.yml
  .github/workflows/release.yml
  .github/workflows/release_nightly.yml
  .github/workflows/store_pytest_durations.yml
  .github/workflows/style-check-py.yml
  .github/workflows/typescript_test.yml
Labels: size:L, lgtm, ignore-for-release

#8448 refactor(urlcomponent): rename output display names and method references
  src/backend/base/langflow/components/data/url.py
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/frontend/tests/core/features/freeze.spec.ts
  src/frontend/tests/core/features/stop-building.spec.ts
  src/frontend/tests/extended/features/loop-component.spec.ts
  src/frontend/tests/extended/integrations/chatInputOutputUser-shard-1.spec.ts
  src/frontend/tests/extended/regression/general-bugs-truncate-results.spec.ts
Labels: size:M, lgtm, refactor, DO NOT MERGE

#8502 test: remove RetrieverTool connection regression test
  src/frontend/tests/extended/regression/generalBugs-shard-12.spec.ts
Labels: size:M

#8508 chore(ci): update workflow to use astral-sh/setup-uv@v6 with Python version
  .github/workflows/py_autofix.yml
Labels: size:S

#8512 docs: v2/files does not work for images
  docs/docs/API-Reference/api-reference-api-examples.md
Labels: documentation, size:XS, lgtm

#8494 fix: changed truncation length for MCP tools and projects
  src/backend/base/langflow/api/v1/mcp.py
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/base/mcp/constants.py
  src/backend/base/langflow/base/mcp/util.py
  src/backend/base/langflow/services/database/models/folder/constants.py
  src/frontend/src/constants/constants.ts
  src/frontend/src/modals/addMcpServerModal/index.tsx
  src/frontend/src/pages/MainPage/pages/homePage/components/McpServerTab.tsx
  src/frontend/src/utils/mcpUtils.ts
Labels: bug, size:M, lgtm

#8517 fix: Allow input connections to data components
  src/backend/base/langflow/components/data/news_search.py
  src/backend/base/langflow/components/data/rss.py
  src/backend/base/langflow/components/data/web_search.py
  src/backend/base/langflow/components/processing/lambda_filter.py
Labels: bug, size:XS, lgtm

#8528 fix:template reset
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: bug, size:XL

#8515 feat: Add raw content output for File component
  src/backend/base/langflow/base/data/base_file.py
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  uv.lock
Labels: enhancement, size:M, lgtm

#8529 fix(setup): preserve advanced attribute and generalize starter project JSON
  src/backend/base/langflow/base/constants.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
Labels: bug, size:L, lgtm

#8534 fix: update input of Language model component to support images
  .github/changes-filter.yaml
  src/backend/base/langflow/components/models/language_model.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
Labels: bug, size:XS, lgtm, fast-track

#8483 fix: 500 error when downloading projects with non-ASCII characters (ex. Cyrillic) names
  src/backend/base/langflow/api/v1/projects.py
Labels: bug, size:XS, lgtm

#8462 fix: Cleanup favicon and old logo assets to fix flash of old favicon
  src/frontend/favicon-new.ico
  src/frontend/index.html
  src/frontend/public/favicon.ico
  src/frontend/src/assets/logo.svg
  src/frontend/src/logo.svg
Labels: bug, size:XS, lgtm

#8467 refactor: update build_structured_output to return only last output element
  src/backend/base/langflow/components/processing/structured_output.py
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/tests/unit/components/processing/test_structured_output_component.py
Labels: size:XL, lgtm, refactor, fast-track

#8536 fix: replace instances of 127.0.0.1 to localhost
  .devcontainer/README.md
  .env.example
  .github/workflows/python_test.yml
  .github/workflows/release.yml
  .github/workflows/release_nightly.yml
  DEVELOPMENT.md
  docs/docs/API-Reference/api-reference-api-examples.md
  docs/docs/Components/components-data.md
  docs/docs/Components/components-embedding-models.md
  docs/docs/Components/components-io.md
  docs/docs/Components/components-models.md
  docs/docs/Components/components-processing.md
  docs/docs/Components/components-tools.md
  docs/docs/Concepts/concepts-file-management.md
  docs/docs/Concepts/concepts-playground.md
  docs/docs/Concepts/mcp-server.md
  docs/docs/Configuration/configuration-api-keys.md
  docs/docs/Configuration/configuration-cli.md
  docs/docs/Configuration/environment-variables.md
  docs/docs/Develop/Clients/typescript-client.md
  docs/docs/Develop/develop-application.md
  docs/docs/Develop/session-id.md
  docs/docs/Develop/webhook.md
  docs/docs/Get-Started/get-started-installation.md
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/tests/unit/utils/test_util_strings.py
  src/frontend/package.json
  src/frontend/playwright.config.ts
  src/frontend/src/customization/config-constants.ts
  src/frontend/vite.config.mts
  uv.lock
Labels: bug, size:L, lgtm

#8561 feat: conditionally render voice button based on voice mode state
  .github/workflows/typescript_test.yml
  .vscode/tasks.json
  pyproject.toml
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/api/v1/__init__.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/pyproject.toml
  src/backend/tests/unit/test_voice_mode.py
  src/frontend/src/controllers/API/queries/config/use-get-config.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/components/voice-button.tsx
  src/frontend/src/stores/flowsManagerStore.ts
  src/frontend/src/types/zustand/flowsManager/index.ts
  uv.lock
Labels: enhancement, size:M, lgtm

#8273 docs: add examples for users endpoints
  docs/docs/API-Reference/api-reference-api-examples.md
Labels: documentation, size:L, lgtm

#8598 docs: create initial security policy
  SECURITY.md
Labels: documentation, size:M, lgtm

#8525 fix: Have markdown playground content take up the full width
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/components/edit-message.tsx
  src/frontend/tests/core/features/freeze.spec.ts
  src/frontend/tests/utils/run-chat-output.ts
Labels: bug, size:S, lgtm

#8594 feat: use getaddrinfo to handle ipv4 and ipv6 loopback addresses on startup #8548
  src/backend/base/langflow/__main__.py
Labels: enhancement, size:M, lgtm

#8599 fix: Set status properly for Type Convert
  src/backend/base/langflow/components/processing/converter.py
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/frontend/tests/core/features/freeze.spec.ts
Labels: bug, size:M, lgtm

#8597 refactor: remove conditional voice mode support from backend and frontend
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/utils.py
  src/backend/base/langflow/api/v1/__init__.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/langflow/api/v1/voice_mode.py
  src/frontend/src/controllers/API/queries/config/use-get-config.ts
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/components/voice-button.tsx
  src/frontend/src/stores/flowsManagerStore.ts
  src/frontend/src/types/zustand/flowsManager/index.ts
Labels: size:M, lgtm, refactor

#8600 docs: added CVE alert
  README.md
Labels: documentation, size:XS, lgtm

#8522 fix: Match front and backend prompt variable behavior
  src/backend/base/langflow/interface/utils.py
  src/backend/tests/unit/utils/test_interface_utils.py
  src/frontend/src/components/core/parameterRenderComponent/components/promptComponent/index.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/modals/promptModal/index.tsx
  src/frontend/tests/core/unit/promptModalComponent.spec.ts
Labels: bug, size:L, lgtm

#8564 fix: code snippet allows horizontal scroll
  src/frontend/src/modals/codeAreaModal/index.tsx
Labels: bug, size:XS, lgtm

#8616 refactor: replace hardcoded serialization constants with getter functions
  docs/docs/Configuration/environment-variables.md
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/langflow/graph/utils.py
  src/backend/base/langflow/serialization/serialization.py
  src/backend/base/langflow/services/database/models/transactions/model.py
  src/backend/base/langflow/services/database/models/vertex_builds/model.py
  src/backend/base/langflow/services/settings/base.py
Labels: size:L, lgtm, refactor

#8620 refactor: Remove Flow description from project view
  src/frontend/src/pages/MainPage/components/list/index.tsx
Labels: size:XS, lgtm, refactor

#8521 fix: remove placeholder duplicate on inputs
  src/frontend/src/components/ui/input.tsx
Labels: bug, size:XS, lgtm

#8567 docs: Promote MCP content in the left nav and revise the MCP connection component docs
  docs/docs/Components/components-tools.md
  docs/docs/Components/mcp-client.md
  docs/docs/Concepts/concepts-components.md
  docs/docs/Concepts/mcp-server.md
  docs/docs/Get-Started/welcome-to-langflow.md
  docs/docs/Integrations/mcp-component-astra.md
  docs/sidebars.js
Labels: documentation, size:L, lgtm

#8644 docs: add tip about icon usage with Lucide in custom components doc
  docs/docs/Components/components-custom-components.md
Labels: documentation, size:XS, lgtm

#8651 docs: Change paragraph text alignment from justified to start
  docs/css/custom.css
Labels: documentation, size:XS, lgtm

#8652 docs: merge starter projects and sample flows into templates
  docs/docs/API-Reference/api-reference-api-examples.md
  docs/docs/Components/components-agents.md
  docs/docs/Components/components-embedding-models.md
  docs/docs/Components/components-logic.md
  docs/docs/Components/components-models.md
  docs/docs/Components/components-tools.md
  docs/docs/Components/components-vector-stores.md
  docs/docs/Concepts/concepts-voice-mode.md
  docs/docs/Concepts/embedded-chat-widget.md
  docs/docs/Get-Started/welcome-to-langflow.md
  docs/docs/Integrations/Arize/integrations-arize.md
  docs/docs/Integrations/mcp-component-astra.md
  docs/docs/Templates/basic-prompting.md
  docs/docs/Templates/blog-writer.md
  docs/docs/Templates/document-qa.md
  docs/docs/Templates/financial-report-parser.md
  docs/docs/Templates/memory-chatbot.md
  docs/docs/Templates/sequential-agent.md
  docs/docs/Templates/simple-agent.md
  docs/docs/Templates/travel-planning-agent.md
  docs/docs/Templates/vector-store-rag.md
  docs/docusaurus.config.js
  docs/sidebars.js
Labels: documentation, size:M, lgtm

#8653 docs: hide breadcrumbs from landing page
  docs/docs/Get-Started/welcome-to-langflow.md
Labels: documentation, size:XS, lgtm

#8558 fix: change lambda filter to smart function
  docs/docs/Components/components-processing.md
  src/backend/base/langflow/components/processing/lambda_filter.py
Labels: bug, size:S, lgtm, fast-track

#8622 fix: Restore Prompt Component functionality by disallowing use of {code} template variable
  src/backend/base/langflow/base/prompts/api_utils.py
Labels: bug, size:XS, lgtm

#8583 feat: update input_value field to use MultilineInput
  src/backend/base/langflow/components/processing/structured_output.py
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
Labels: enhancement, size:L, lgtm

#8258 refactor: remove state manager from Graph class
  src/backend/base/langflow/components/deactivated/listen.py
  src/backend/base/langflow/components/deactivated/notify.py
  src/backend/base/langflow/custom/custom_component/custom_component.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/state_manager.py
  src/backend/base/langflow/graph/vertex/base.py
  uv.lock
Labels: size:L, lgtm, refactor

#8565 fix: Show 1000 rows of DataFrame and properly display number truncated
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/langflow/serialization/constants.py
Labels: bug, size:XS, lgtm, DO NOT MERGE

#8487 docs: refactor installation page
  README.md
  docs/docs/Get-Started/get-started-installation.md
Labels: documentation, size:L, lgtm

#8582 docs: refresh quickstart
  docs/docs/Components/components-prompts.md
  docs/docs/Get-Started/get-started-quickstart.md
  docs/static/img/quickstart-simple-agent-flow.png
  docs/static/img/quickstart-simple-agent-playground.png
  docs/static/img/starter-flow-simple-agent.png
Labels: documentation, size:XL, lgtm

#8524 docs: agent refactor
  docs/docs/Agents/agent-tool-calling-agent-component.md
  docs/docs/Agents/agents-overview.md
  docs/docs/Agents/agents-tools.md
  docs/docs/Agents/agents.md
  docs/docs/Components/components-agents.md
  docs/docs/Components/components-bundles.md
  docs/docs/Components/components-tools.md
  docs/docs/Components/mcp-client.md
  docs/docs/Get-Started/get-started-quickstart.md
  docs/docs/Get-Started/welcome-to-langflow.md
  docs/docs/Templates/sequential-agent.md
  docs/docs/Templates/simple-agent.md
  docs/sidebars.js
  docs/static/img/agent-component.png
  docs/static/img/agent-example-add-chat.png
  docs/static/img/agent-example-add-tools.png
  docs/static/img/agent-example-agent-as-tool.png
  docs/static/img/agent-example-run-flow-as-tool.png
  docs/static/img/tool-calling-agent-add-chat.png
  docs/static/img/tool-calling-agent-as-tool.png
  docs/static/img/tool-calling-agent-component.png
Labels: documentation, size:XXL, lgtm

#8661 docs: Fix two anchored links on the Install page
  docs/docs/Get-Started/get-started-installation.md
Labels: documentation, size:XS, lgtm

#8623 fix: Allow non-verified SSL connections in Elastic
  src/backend/base/langflow/components/vectorstores/elasticsearch.py
Labels: bug, size:S, lgtm

#8649 fix: added props to all icons and added width and height defs to node icon
  src/frontend/src/CustomNodes/GenericNode/components/nodeIcon/index.tsx
  src/frontend/src/icons/AWS/AWS.jsx
  src/frontend/src/icons/AWSInverted/AWS.jsx
  src/frontend/src/icons/AstraDB/AstraDB.jsx
  src/frontend/src/icons/DuckDuckGo/DuckDuckGo.jsx
  src/frontend/src/icons/ElasticsearchStore/ElasticsearchLogo.jsx
  src/frontend/src/icons/Exa/Exa.jsx
  src/frontend/src/icons/Firecrawl/FirecrawlLogo.jsx
  src/frontend/src/icons/GitLoader/GitLoader.jsx
  src/frontend/src/icons/GridHorizontal/GridHorizontalIcon.jsx
  src/frontend/src/icons/Groq/GroqLogo.jsx
  src/frontend/src/icons/HCD/HCD.jsx
  src/frontend/src/icons/Icosa/Icosa.jsx
  src/frontend/src/icons/JSicon/JSIcon.jsx
  src/frontend/src/icons/LMStudio/LMStudioIcon.jsx
  src/frontend/src/icons/LangChain/LangChainIcon.jsx
  src/frontend/src/icons/Langwatch/langwatch.jsx
  src/frontend/src/icons/MCP/McpIcon.jsx
  src/frontend/src/icons/Maritalk/MaritalkIcon.jsx
  src/frontend/src/icons/Mem0/SvgMem.jsx
  src/frontend/src/icons/Milvus/Milvus.jsx
  src/frontend/src/icons/NotDiamond/NotDiamondIcon.jsx
  src/frontend/src/icons/Notion/NotionLogo.jsx
  src/frontend/src/icons/Novita/novita.jsx
  src/frontend/src/icons/Nvidia/nvidia.jsx
  src/frontend/src/icons/Ollama/Ollama.jsx
  src/frontend/src/icons/OpenRouter/OpenRouterIcon.jsx
  src/frontend/src/icons/Postgres/Postgres.jsx
  src/frontend/src/icons/Python/Python.jsx
  src/frontend/src/icons/QianFanChat/QianFanChat.jsx
  src/frontend/src/icons/Redis/Redis.jsx
  src/frontend/src/icons/SambaNova/SambaNovaLogo.jsx
  src/frontend/src/icons/ScrapeGraphAI/ScrapeGraphAI.jsx
  src/frontend/src/icons/SearchHybrid/SearchHybridIcon.jsx
  src/frontend/src/icons/SearchLexical/SearchLexicalIcon.jsx
  src/frontend/src/icons/SearchVector/SearchVectorIcon.jsx
  src/frontend/src/icons/Spider/SpiderIcon.jsx
  src/frontend/src/icons/Streamlit/SvgStreamlit.jsx
  src/frontend/src/icons/TwelveLabs/TwelveLabsLogo.jsx
  src/frontend/src/icons/Twitter X/TwitterX.jsx
  src/frontend/src/icons/Upstash/UpstashIcon.jsx
  src/frontend/src/icons/VectaraIcon/Vectara.jsx
  src/frontend/src/icons/Wikipedia/Wikipedia.jsx
  src/frontend/src/icons/Youtube/youtube.jsx
  src/frontend/src/icons/athena/athena.jsx
  src/frontend/src/icons/github/github.jsx
  src/frontend/src/icons/globe-ok/globe-ok.jsx
  src/frontend/src/icons/gmail/gmail.jsx
  src/frontend/src/icons/googlecalendar/googlecalendar.jsx
  src/frontend/src/icons/mistral/mistralIcon.jsx
  src/frontend/src/icons/outlook/outlook.jsx
  src/frontend/src/icons/xAI/xAIIcon.jsx
Labels: bug, javascript, size:M, lgtm

#8682 docs: move smart filter to be alphabetical
  docs/docs/Components/components-processing.md
Labels: documentation, size:M, lgtm

#8676 fix: make playground scroll not scroll down when not needed
  src/frontend/src/modals/IOModal/components/chatView/components/chat-scroll-anchor.tsx
  src/frontend/src/modals/IOModal/components/chatView/components/chat-view.tsx
Labels: bug, size:S, lgtm

#8680 fix: make json edit modal have fixed height and be readOnly if its on View mode
  src/frontend/src/modals/dictAreaModal/index.tsx
Labels: bug, size:XS, lgtm

#8436 docs: cleanlab style followon
  docs/docs/Integrations/Cleanlab/integrations-cleanlab.md
  docs/sidebars.js
Labels: documentation, size:L, lgtm

#8569 fix: update several other templates
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/frontend/tests/core/integrations/Custom Component Generator.spec.ts
Labels: bug, size:L, lgtm

#8679 fix: make notes size consistent when editing, add char limit to description, fix design of search bar on templates modal
  src/frontend/src/CustomNodes/GenericNode/components/NodeDescription/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/CustomNodes/NoteNode/index.tsx
  src/frontend/src/modals/templatesModal/components/TemplateContentComponent/index.tsx
Labels: bug, javascript, size:M, lgtm

#8690 fix: Some minor template adjustments for icons in model dropdown
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
Labels: bug, size:L, lgtm

#8430 docs: voice mode websockets endpoints
  docs/docs/Concepts/concepts-voice-mode.md
Labels: documentation, size:S, lgtm

#8693 fix: Remove gmail template
  src/backend/base/langflow/initial_setup/starter_projects/Gmail Agent.json
Labels: bug, size:XS, lgtm

#8588 feat: add is_active flag to model providers and update provider filtering
  src/backend/base/langflow/base/models/model_input_constants.py
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/initial_setup/starter_projects/Financial Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/tests/unit/components/agents/test_agent_component.py
Labels: enhancement, size:L, lgtm

#8697 fix: templated did not auto update the model and api key fields
  src/backend/base/langflow/base/constants.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/initial_setup/starter_projects/Financial Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
Labels: bug, size:M, lgtm

#8557 refactor: return tool description directly instead of using f-string
  src/backend/base/langflow/base/tools/component_tool.py
Labels: size:XS, lgtm, refactor, fast-track

#8695 chore: move goodbye message to main process
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/cli/progress.py
  src/backend/base/langflow/main.py
  uv.lock
Labels: size:M, lgtm, ignore-for-release

#8654 fix: include folder name in default download filename
  src/frontend/src/customization/utils/custom-get-download-folders.ts
Labels: bug, javascript, size:XS, lgtm

#8694 fix: Set api keys to not required for Agent component to properly expose errors to the playground
  src/backend/base/langflow/base/models/model_input_constants.py
Labels: bug, size:XS, lgtm

#8665 feat: add drop duplicates operation to DataFrameOperationsComponent
  src/backend/base/langflow/components/processing/dataframe_operations.py
Labels: enhancement, size:M, lgtm

#8718 Fix: Update display time for very short operations and fix outputs and titles for tool calling executions
  src/backend/base/langflow/base/agents/events.py
  src/frontend/src/components/core/chatComponents/DurationDisplay.tsx
Labels: bug, size:M, lgtm

#8719 feat(makefile): add patch target for automated version management
  Makefile
Labels: enhancement, size:M, lgtm

#8434 feat(message): support sequencing of multiple streamable models
  src/backend/base/langflow/api/build.py
  src/backend/base/langflow/base/models/model.py
  src/backend/base/langflow/components/languagemodels/openai_chat_model.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/memory.py
  src/backend/base/langflow/schema/message.py
  src/backend/tests/unit/components/languagemodels/test_openai_model.py
  src/backend/tests/unit/components/models/test_language_model_component.py
Labels: enhancement, size:XL, lgtm

#8731 docs: fix spacing for the quickstart curl command
  docs/docs/Get-Started/get-started-quickstart.md
Labels: documentation, size:S, lgtm, fast-track

#8688 fix: update Textarea component to prevent resizing in textOutputView
  src/frontend/src/shared/components/textOutputView/index.tsx
Labels: bug, size:XS, lgtm, fast-track

#8732 style: Add line breaks before banner display
  src/backend/base/langflow/__main__.py
Labels: size:XS, lgtm, style

#8735 fix(components): exclude base path from component loading and refine caching
  src/backend/base/langflow/interface/components.py
Labels: bug, size:S, lgtm, fast-track

#8736 fix: Add JSON sanitization to handle NaN values in streaming requests
  src/frontend/src/controllers/API/api.tsx
Labels: size:S, lgtm

#8722 fix(converter): add explicit Message type check in convert_to_data function
  src/backend/base/langflow/components/processing/converter.py
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
Labels: bug, size:XXL, lgtm

#8740 docs: bump-docusaurus-to-3.8.1
  docs/package-lock.json
  docs/package.json
  docs/yarn.lock
Labels: documentation, size:S, lgtm

#8741 docs: update deploy_gh-pages.yml
  .github/workflows/deploy_gh-pages.yml
Labels: documentation, size:XS, lgtm

#8714 fix: update docling dependency to use docling_core instead
  pyproject.toml
  src/backend/base/langflow/components/docling/docling_inline.py
  uv.lock
Labels: bug, size:M, lgtm, fast-track

#8678 fix: make not connected edges be cleared when entering flow
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/utils/reactflowUtils.ts
Labels: bug, size:S, lgtm, fast-track

#8747 fix: updated timeout for blog writer
  src/frontend/tests/core/integrations/Blog Writer.spec.ts
Labels: bug, size:XS, lgtm, fast-track

#8746 docs: missing period in docker command
  docs/docs/Deployment/deployment-docker.md
Labels: documentation, size:XS, lgtm

#8720 fix: changed design of Input Schema to improve usability
  src/frontend/src/components/core/codeTabsComponent/components/tweaksComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/sortableListComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/components/tableNodeCellRender/index.tsx
  src/frontend/src/modals/apiModal/index.tsx
  src/frontend/src/modals/editNodeModal/hooks/use-column-defs.ts
Labels: bug, size:M, lgtm

#8749 feat: add Windsurf to MCP one-click install
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/frontend/src/icons/Windsurf/Windsurf.jsx
  src/frontend/src/icons/Windsurf/index.tsx
  src/frontend/src/icons/Windsurf/windsurf.svg
  src/frontend/src/icons/eagerIconImports.ts
  src/frontend/src/icons/lazyIconImports.ts
  src/frontend/src/pages/MainPage/pages/homePage/components/McpServerTab.tsx
Labels: enhancement, size:M, lgtm

#8717 fix: add error handling and message on mcp servers, fixed tool mode on mcp
  pyproject.toml
  src/backend/base/langflow/api/v2/mcp.py
  src/backend/base/langflow/base/mcp/util.py
  src/backend/base/langflow/components/data/mcp_component.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/base/pyproject.toml
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/mcpComponent/index.tsx
  src/frontend/src/controllers/API/queries/mcp/use-get-mcp-servers.ts
  src/frontend/src/customization/feature-flags.ts
  src/frontend/src/pages/MainPage/pages/homePage/index.tsx
  src/frontend/src/pages/SettingsPage/pages/MCPServersPage/index.tsx
  src/frontend/src/types/mcp/index.ts
  uv.lock
Labels: bug, size:L, lgtm

#8762 test: Update regression test to use data-testid for input fields
  src/frontend/tests/extended/regression/generalBugs-shard-7.spec.ts
Labels: size:M

#8755 chore(docs): remove pull script and cross-var from package.json
  docs/package.json
  docs/yarn.lock
Labels: size:XS, lgtm, ignore-for-release

#8767 feat: Enhance ChatView scroll behavior and LLM response tracking
  src/frontend/src/modals/IOModal/components/chatView/components/chat-view.tsx
Labels: enhancement, size:M, lgtm

#8752 fix: update templates api keys
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/frontend/tests/core/integrations/Custom Component Generator.spec.ts
Labels: bug, size:L, lgtm, fast-track

#8783 test: Update notification test selectors for clarity
  src/frontend/tests/extended/features/notifications.spec.ts
Labels: test

#8785 fix: Template updates to fix broken edges
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
Labels: bug, size:XL, lgtm

#8768 templates: add note to hybrid search rag
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
Labels: size:L, lgtm

#8787 ref: Delete Diet analysis template
  src/backend/base/langflow/initial_setup/starter_projects/Diet Analysis.json
  src/frontend/tests/core/integrations/Diet Analysis.spec.ts
Labels: size:XXL, lgtm

#8788 templates: memory chatbot and vector rag notes
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: size:L, lgtm

#8369 docs: install from source
  CONTRIBUTING.md
  docs/docs/Contributing/contributing-how-to-contribute.md
  docs/docs/Get-Started/get-started-installation.md
Labels: documentation, size:L, lgtm

#8743 fix: improves table formatting in the playground and adds Jest tests
  Makefile
  Makefile.frontend
  src/frontend/jest.config.js
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/chat-message.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/components/edit-message.tsx
  src/frontend/src/setupTests.ts
  src/frontend/src/utils/__tests__/markdownUtils.test.ts
  src/frontend/src/utils/markdownUtils.ts
Labels: bug, javascript, size:XL, lgtm

#8734 Docs: Revise component overview page
  docs/docs/Agents/agents.md
  docs/docs/Components/components-custom-components.md
  docs/docs/Components/components-tools.md
  docs/docs/Components/mcp-client.md
  docs/docs/Concepts/concepts-components.md
  docs/docs/Concepts/concepts-overview.md
  docs/docs/Integrations/Google/integrations-google-big-query.md
  docs/docs/Integrations/Google/integrations-setup-google-cloud-vertex-ai-langflow.md
  docs/docs/Support/troubleshooting.md
  docs/sidebars.js
Labels: documentation, size:L, lgtm
