Repository langflow-ai/langflow, pull requests merged in 2025-08, with the labels that each got.

#9230 docs: Add more detail to some template notes
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: documentation, lgtm

#9272 docs: refresh telemetry page
  docs/docs/Contributing/contributing-telemetry.mdx
Labels: documentation, lgtm

#9137 fix: Add metadata filtering for Chroma components
  src/backend/base/langflow/components/vectorstores/chroma.py
  src/backend/tests/unit/components/vectorstores/test_chroma_vector_store_component.py
Labels: bug, lgtm

#9173 fix: Add outputs support to SQLAgentComponent
  src/backend/base/langflow/components/langchain_utilities/sql.py
Labels: bug, lgtm

#9226 docs: kubernetes best practices and postgresql dba guide
  docs/docs/Components/bundles-ibm.mdx
  docs/docs/Concepts/concepts-flows-import.mdx
  docs/docs/Configuration/configuration-custom-database.mdx
  docs/docs/Deployment/deployment-architecture.mdx
  docs/docs/Deployment/deployment-kubernetes-dev.mdx
  docs/docs/Deployment/deployment-kubernetes-prod.mdx
  docs/docs/Deployment/deployment-prod-best-practices.mdx
  docs/docs/Develop/develop-application.mdx
  docs/docs/Develop/enterprise-database-guide.mdx
  docs/docs/Develop/memory.mdx
  docs/sidebars.js
Labels: documentation, lgtm

#9274 docs: refresh cli page
  docs/docs/API-Reference/api-build.mdx
  docs/docs/API-Reference/api-flows-run.mdx
  docs/docs/API-Reference/api-logs.mdx
  docs/docs/API-Reference/api-users.mdx
  docs/docs/Agents/agents.mdx
  docs/docs/Components/bundles-azure.mdx
  docs/docs/Components/bundles-cohere.mdx
  docs/docs/Components/bundles-datastax.mdx
  docs/docs/Components/bundles-deepseek.mdx
  docs/docs/Components/bundles-ibm.mdx
  docs/docs/Components/bundles-lmstudio.mdx
  docs/docs/Components/bundles-openai.mdx
  docs/docs/Components/bundles-vertexai.mdx
  docs/docs/Components/bundles-xai.mdx
  docs/docs/Components/components-agents.mdx
  docs/docs/Components/components-custom-components.mdx
  docs/docs/Components/components-data.mdx
  docs/docs/Components/components-logic.mdx
  docs/docs/Components/components-models.mdx
  docs/docs/Components/components-processing.mdx
  docs/docs/Components/components-vector-stores.mdx
  docs/docs/Concepts/concepts-flows.mdx
  docs/docs/Configuration/api-keys-and-authentication.mdx
  docs/docs/Configuration/configuration-cli.mdx
  docs/docs/Configuration/configuration-global-variables.mdx
  docs/docs/Configuration/environment-variables.mdx
  docs/docs/Contributing/contributing-telemetry.mdx
  docs/docs/Deployment/deployment-kubernetes-prod.mdx
  docs/docs/Develop/Clients/typescript-client.mdx
  docs/docs/Develop/develop-application.mdx
  docs/docs/Develop/enterprise-database-guide.mdx
  docs/docs/Integrations/Nvidia/integrations-nvidia-ingest.mdx
  docs/docs/Integrations/integrations-langsmith.mdx
  docs/docs/Support/troubleshooting.mdx
Labels: documentation, lgtm

#9291 docs: refresh custom dependencies page
  docs/docs/Develop/install-custom-dependencies.mdx
Labels: documentation, lgtm

#8932 refactor(core): implement centralized dynamic lazy import system for components
  src/backend/base/langflow/components/__init__.py
  src/backend/base/langflow/components/_importing.py
  src/backend/base/langflow/components/aiml/__init__.py
  src/backend/base/langflow/components/amazon/__init__.py
  src/backend/base/langflow/components/anthropic/__init__.py
  src/backend/base/langflow/components/assemblyai/__init__.py
  src/backend/base/langflow/components/azure/__init__.py
  src/backend/base/langflow/components/baidu/__init__.py
  src/backend/base/langflow/components/cleanlab/__init__.py
  src/backend/base/langflow/components/cloudflare/__init__.py
  src/backend/base/langflow/components/cohere/__init__.py
  src/backend/base/langflow/components/composio/__init__.py
  src/backend/base/langflow/components/crewai/__init__.py
  src/backend/base/langflow/components/custom_component/__init__.py
  src/backend/base/langflow/components/datastax/__init__.py
  src/backend/base/langflow/components/deepseek/__init__.py
  src/backend/base/langflow/components/docling/__init__.py
  src/backend/base/langflow/components/embeddings/__init__.py
  src/backend/base/langflow/components/firecrawl/__init__.py
  src/backend/base/langflow/components/groq/__init__.py
  src/backend/base/langflow/components/helpers/__init__.py
  src/backend/base/langflow/components/huggingface/__init__.py
  src/backend/base/langflow/components/ibm/__init__.py
  src/backend/base/langflow/components/input_output/__init__.py
  src/backend/base/langflow/components/langchain_utilities/__init__.py
  src/backend/base/langflow/components/langchain_utilities/conversation.py
  src/backend/base/langflow/components/langchain_utilities/llm_checker.py
  src/backend/base/langflow/components/langchain_utilities/llm_math.py
  src/backend/base/langflow/components/langchain_utilities/retrieval_qa.py
  src/backend/base/langflow/components/langchain_utilities/sql_generator.py
  src/backend/base/langflow/components/lmstudio/__init__.py
  src/backend/base/langflow/components/logic/__init__.py
  src/backend/base/langflow/components/maritalk/__init__.py
  src/backend/base/langflow/components/mistral/__init__.py
  src/backend/base/langflow/components/models/__init__.py
  src/backend/base/langflow/components/notdiamond/__init__.py
  src/backend/base/langflow/components/novita/__init__.py
  src/backend/base/langflow/components/nvidia/__init__.py
  src/backend/base/langflow/components/ollama/__init__.py
  src/backend/base/langflow/components/openai/__init__.py
  src/backend/base/langflow/components/openrouter/__init__.py
  src/backend/base/langflow/components/perplexity/__init__.py
  src/backend/base/langflow/components/processing/__init__.py
  src/backend/base/langflow/components/prototypes/__init__.py
  src/backend/base/langflow/components/sambanova/__init__.py
  src/backend/base/langflow/components/scrapegraph/__init__.py
  src/backend/base/langflow/components/searchapi/__init__.py
  src/backend/base/langflow/components/tools/__init__.py
  src/backend/base/langflow/components/twelvelabs/__init__.py
  src/backend/base/langflow/components/vectara/__init__.py
  src/backend/base/langflow/components/vectorstores/__init__.py
  src/backend/base/langflow/components/vertexai/__init__.py
  src/backend/base/langflow/components/xai/__init__.py
  src/backend/base/langflow/components/youtube/__init__.py
  src/backend/tests/integration/test_dynamic_import_integration.py
  src/backend/tests/unit/components/test_all_modules_importable.py
  src/backend/tests/unit/components/test_dynamic_imports.py
  src/backend/tests/unit/test_import_utils.py
Labels: python, size:XXL, lgtm, refactor

#9077 refactor(session): migrate to server-based session management and add tests
  src/backend/base/langflow/base/mcp/util.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/tests/integration/components/mcp/test_mcp_memory_leak.py
  src/backend/tests/unit/base/mcp/__init__.py
  src/backend/tests/unit/base/mcp/test_mcp_util.py
  src/backend/tests/unit/components/data/test_mcp_component.py
Labels: size:XXL, lgtm, refactor

#9349 ref: MCP Tests
  src/backend/base/langflow/base/mcp/util.py
  src/backend/tests/integration/components/mcp/test_mcp_memory_leak.py
Labels: lgtm

#9352 fix: Improve session fixture cleanup and engine handling
  src/backend/tests/conftest.py
Labels: bug, lgtm

#9362 fix: pin uv to 0.5.6 to restore CI compatibility
  pyproject.toml
  uv.lock
Labels: bug, lgtm

#9366 chore: skip mcp everything server test
  src/backend/tests/unit/base/mcp/test_mcp_util.py
Labels: lgtm, ignore-for-release

#9369 refactor: remove Anthropic provider test
  src/frontend/package-lock.json
  src/frontend/tests/core/integrations/Research Translation Loop.spec.ts
Labels: lgtm, refactor, DO NOT MERGE

#9336 feat: Add GPT-5 series models to OpenAI metadata
  src/backend/base/langflow/base/models/openai_constants.py
Labels: enhancement, lgtm

#9375 fix: add cursor state to not skip to end on input components
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/components/popover/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/components/popoverObject/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/textAreaComponent/index.tsx
  src/frontend/tests/core/unit/inputComponent.spec.ts
  src/frontend/tests/core/unit/textAreaModalComponent.spec.ts
Labels: bug, lgtm

#9088 feat: Add support for Ingestion and Retrieval of Knowledge Bases
  pyproject.toml
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/v1/__init__.py
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/base/langflow/base/data/kb_utils.py
  src/backend/base/langflow/components/data/__init__.py
  src/backend/base/langflow/components/data/kb_ingest.py
  src/backend/base/langflow/components/data/kb_retrieval.py
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Ingestion.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/services/settings/base.py
  src/backend/tests/unit/base/data/__init__.py
  src/backend/tests/unit/base/data/test_kb_utils.py
  src/backend/tests/unit/components/data/test_kb_ingest.py
  src/backend/tests/unit/components/data/test_kb_retrieval.py
  src/frontend/jest.config.js
  src/frontend/jest.setup.js
  src/frontend/src/CustomNodes/GenericNode/components/NodeDialogComponent/index.tsx
  src/frontend/src/components/core/dropdownComponent/index.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputGlobalComponent/hooks.ts
  src/frontend/src/components/core/parameterRenderComponent/components/inputGlobalComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputGlobalComponent/types.ts
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/components/tableAutoCellRender/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/index.tsx
  src/frontend/src/controllers/API/helpers/constants.ts
  src/frontend/src/controllers/API/queries/knowledge-bases/use-delete-knowledge-base.ts
  src/frontend/src/controllers/API/queries/knowledge-bases/use-delete-knowledge-bases.ts
  src/frontend/src/controllers/API/queries/knowledge-bases/use-get-knowledge-bases.ts
  src/frontend/src/customization/feature-flags.ts
  src/frontend/src/modals/deleteConfirmationModal/index.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/FilesTab.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/KnowledgeBaseDrawer.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/KnowledgeBaseEmptyState.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/KnowledgeBaseSelectionOverlay.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/KnowledgeBasesTab.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/__tests__/KnowledgeBaseDrawer.test.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/__tests__/KnowledgeBaseEmptyState.test.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/__tests__/KnowledgeBaseSelectionOverlay.test.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/__tests__/KnowledgeBasesTab.test.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/__tests__/test-utils.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/config/knowledgeBaseColumns.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/index.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/utils/__tests__/knowledgeBaseUtils.test.ts
  src/frontend/src/pages/MainPage/pages/filesPage/utils/knowledgeBaseUtils.ts
  src/frontend/src/pages/MainPage/pages/knowledgePage/__tests__/KnowledgePage.test.tsx
  src/frontend/src/pages/MainPage/pages/knowledgePage/index.tsx
  src/frontend/src/pages/MainPage/pages/main-page.tsx
  src/frontend/src/routes.tsx
  src/frontend/src/style/ag-theme-shadcn.css
  src/frontend/tests/core/unit/fileUploadComponent.spec.ts
  src/frontend/tests/extended/features/files-page.spec.ts
  uv.lock
Labels: enhancement, size:XL, lgtm, feature

#9382 docs: clarify available API endpoints and their use cases
  docs/docs/API-Reference/api-files.mdx
  docs/docs/API-Reference/api-monitor.mdx
  docs/docs/API-Reference/api-reference-api-examples.mdx
  docs/docs/Concepts/concepts-playground.mdx
Labels: documentation, lgtm

#9397 docs: update file size limit to 1024 mb
  docs/docs/API-Reference/api-files.mdx
  docs/docs/API-Reference/api-monitor.mdx
  docs/docs/API-Reference/api-reference-api-examples.mdx
  docs/docs/Components/components-data.mdx
  docs/docs/Concepts/concepts-file-management.mdx
  docs/docs/Concepts/concepts-playground.mdx
Labels: documentation, lgtm

#9384 docs: clarify file upload with API snippet
  docs/docs/Concepts/concepts-file-management.mdx
Labels: documentation, lgtm

#9152 fix: enforce authentication for superuser cli command
  .env.example
  SECURITY.md
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/services/database/models/user/crud.py
  src/backend/base/langflow/services/settings/auth.py
  src/backend/base/langflow/services/utils.py
  src/backend/tests/unit/test_cli.py
  uv.lock
Labels: bug, lgtm

#9386 fix: Allow connections to save file output
  src/backend/base/langflow/components/processing/save_file.py
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
Labels: bug, lgtm

#9405 fix: Use the identifier column as hash if available
  src/backend/base/langflow/components/data/kb_ingest.py
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Ingestion.json
Labels: bug, lgtm

#9393 refactor(docling): extract processing logic to separate worker process
  src/backend/base/langflow/components/docling/__init__.py
  src/backend/base/langflow/components/docling/docling_inline.py
Labels: lgtm, refactor

#9447 docs: custom component directory requires an init.py file
  docs/docs/Components/components-custom-components.mdx
  docs/docs/Support/troubleshooting.mdx
Labels: documentation, lgtm

#9450 docs: clarify adding custom packages to REPL component
  docs/docs/Components/components-processing.mdx
Labels: documentation, lgtm

#9466 fix: Use Runnable's asynchronous methods to prevent blocking the main…
  src/backend/base/langflow/base/models/model.py
Labels: bug, lgtm

#9456 refactor: Update KnowledgeBaseEmptyState component text and structure
  src/frontend/jest.setup.js
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/bundleItems.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarBundles.test.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/KnowledgeBaseEmptyState.tsx
Labels: lgtm, refactor

#9398 feat: Add support for advanced parsing with docling in the File Component
  src/backend/base/langflow/components/data/file.py
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: enhancement, lgtm

#9317 feat: Added Traceloop SDK for collecting traces and metrics from Langflow
  pyproject.toml
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/services/tracing/service.py
  src/backend/base/langflow/services/tracing/traceloop.py
  src/backend/tests/unit/services/tracing/test_tracing_service.py
  uv.lock
Labels: enhancement

#9502 fix: file upload test
  src/frontend/tests/core/unit/fileUploadComponent.spec.ts
  src/frontend/tests/extended/features/filterEdge-shard-1.spec.ts
Labels: bug, lgtm, fast-track

#9489 fix: change template test to run every time
  .github/workflows/ci.yml
Labels: bug, lgtm

#9516 build: add structlog dep to base package
  .github/workflows/cross-platform-test.yml
  src/backend/base/pyproject.toml
  uv.lock
Labels: build

#9278 fix: incorrect Perplexity API parameter names
  docs/docs/Components/bundles-perplexity.mdx
  src/backend/base/langflow/components/perplexity/perplexity.py
Labels: bug, lgtm

#9500 Initial document describing the Langflow release process.
  RELEASE.md
Labels: lgtm

#9520 refactor: Add create knowledge button
  src/frontend/src/pages/MainPage/pages/filesPage/components/KnowledgeBaseEmptyState.tsx
  src/frontend/src/pages/MainPage/pages/filesPage/components/KnowledgeBasesTab.tsx
Labels: lgtm, refactor

#9490 feat: encrypt oauth auth settings at rest
  src/backend/base/langflow/alembic/versions/0882f9657f22_encrypt_existing_mcp_auth_settings_.py
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/langflow/services/auth/mcp_encryption.py
  src/backend/tests/unit/api/v1/test_mcp_projects.py
  src/backend/tests/unit/services/auth/__init__.py
  src/backend/tests/unit/services/auth/test_mcp_encryption.py
Labels: enhancement

#9522 fix: set mcp_composer feature as true by default
  .env.example
  src/backend/base/langflow/services/settings/feature_flags.py
  src/frontend/vite.config.mts
Labels: bug, lgtm

#9192 feat: add static dependency analysis module and update metadata handling
  src/backend/base/langflow/custom/dependency_analyzer.py
  src/backend/base/langflow/custom/utils.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Ingestion.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/tests/unit/custom/test_utils_metadata.py
Labels: enhancement, lgtm

#9530 fix: specify type for tool_calls in openai_responses
  src/backend/base/langflow/api/v1/openai_responses.py
Labels: bug, lgtm

#9355 feat: add new segmented sidebar
  src/frontend/src/App.css
  src/frontend/src/components/core/canvasControlsComponent/CanvasControlButton.tsx
  src/frontend/src/components/ui/sidebar.tsx
  src/frontend/src/customization/feature-flags.ts
  src/frontend/src/icons/MCP/McpIcon.jsx
  src/frontend/src/pages/FlowPage/components/PageComponent/MemoizedComponents.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/__tests__/MemoizedComponents.spec.tsx
  src/frontend/src/pages/FlowPage/components/PageComponent/__tests__/MemoizedComponents.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/McpSidebarGroup.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/McpSidebarGroup.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/categoryGroup.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/emptySearchComponent.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/searchConfigTrigger.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarBundles.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarFooterButtons.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarHeader.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarSegmentedNav.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/categoryGroup.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/emptySearchComponent.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/searchConfigTrigger.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarBundles.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarFooterButtons.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarHeader.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarSegmentedNav.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/types/index.ts
  src/frontend/src/pages/FlowPage/index.tsx
  src/frontend/tests/core/features/keyboardComponentSearch.spec.ts
  src/frontend/tests/core/features/stop-building.spec.ts
  src/frontend/tests/core/integrations/similarity.spec.ts
  src/frontend/tests/extended/features/filterEdge-shard-1.spec.ts
  src/frontend/tests/extended/features/integration-side-bar.spec.ts
  src/frontend/tests/extended/features/mcp-server-tab.spec.ts
  src/frontend/tests/extended/features/mcp-server.spec.ts
  src/frontend/tests/extended/features/tool-mode.spec.ts
Labels: enhancement, lgtm

#9552 fix: increase timeout on saas pricing test
  src/frontend/tests/core/integrations/SaaS Pricing.spec.ts
Labels: bug, lgtm

#9554 fix: change chatOutput drop coordinates on general bugs test
  src/frontend/tests/extended/regression/generalBugs-shard-3.spec.ts
Labels: bug, lgtm

#9156 build: add additional OCR dependencies for docling
  pyproject.toml
  src/backend/base/langflow/components/docling/docling_inline.py
  uv.lock
Labels: lgtm, build

#9478 build: update nv-ingest
  pyproject.toml
  src/backend/base/langflow/components/nvidia/nvidia_ingest.py
  src/backend/base/langflow/components/youtube/channel.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Ingestion.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  uv.lock
Labels: lgtm, build

#9414 fix: Fix env file handling in Windows build scripts
  scripts/windows/build_and_run.bat
  scripts/windows/build_and_run.ps1
Labels: bug, lgtm

#9571 fix: Use the newest file component in Vector Store RAG Template
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: bug, lgtm

#9538 docs: update support documentation to reflect support rebranding
  docs/docs/Support/luna-for-langflow.mdx
  docs/sidebars.js
Labels: documentation, lgtm

#9553 fix: AI/ML icon is missing
  src/backend/base/langflow/components/aiml/aiml.py
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
  src/frontend/src/utils/styleUtils.ts
Labels: bug, lgtm

#9588 test: Relax component loading test timeouts
  src/backend/tests/unit/test_load_components.py
Labels: lgtm, test

#9474 docs: troubleshooting backlog items
  docs/docs/Components/bundles-nvidia.mdx
  docs/docs/Components/components-processing.mdx
  docs/docs/Configuration/environment-variables.mdx
  docs/docs/Develop/logging.mdx
  docs/docs/Get-Started/get-started-installation.mdx
  docs/docs/Integrations/Nvidia/integrations-nvidia-ingest.mdx
  docs/docs/Support/release-notes.mdx
  docs/docs/Support/troubleshooting.mdx
Labels: documentation, lgtm

#9584 docs: CVE advisory and patch release 1.5.1
  README.md
  SECURITY.md
Labels: documentation, lgtm

#9589 fix: changed name on tool mode to slug, added close button to sidebar
  src/frontend/src/modals/toolsModal/components/toolsTable/index.tsx
  src/frontend/tests/extended/features/edit-tools.spec.ts
Labels: bug, lgtm

#9586 fix: enhance scroll behavior on playground
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/modals/IOModal/components/chat-view-wrapper.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/chat-input.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatInput/components/voice-assistant/voice-assistant.tsx
  src/frontend/src/modals/IOModal/components/chatView/chatMessage/chat-message.tsx
  src/frontend/src/modals/IOModal/components/chatView/components/chat-scroll-anchor.tsx
  src/frontend/src/modals/IOModal/components/chatView/components/chat-view.tsx
Labels: bug, lgtm

#9481 docs: docling integration into file component
  docs/docs/Components/components-data.mdx
  docs/docs/Integrations/Docling/integrations-docling.mdx
  docs/docs/Support/release-notes.mdx
Labels: documentation, lgtm

#9597 fix: Add localStorage persistence for feature toggles
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/__tests__/sidebar-localStorage.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
  src/frontend/src/utils/__tests__/getBooleanFromStorage.test.ts
  src/frontend/src/utils/utils.ts
Labels: bug, lgtm

#9611 fix: Add comprehensive tests and improve minimal condition logic
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/__tests__/minimal-condition.test.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/__tests__/nodeToolbar-focused.test.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
Labels: bug, lgtm

#9594 fix: change icon color for mcp, remove color setting of icons
  src/frontend/src/CustomNodes/GenericNode/components/nodeIcon/index.tsx
  src/frontend/src/CustomNodes/helpers/check-lucide-icons.ts
  src/frontend/tests/extended/features/mcp-server.spec.ts
Labels: bug

#9139 feat: Add webhook user authentication under WEBHOOK_AUTH_ENABLE variable
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/langflow/services/auth/utils.py
  src/backend/base/langflow/services/settings/auth.py
  src/backend/tests/unit/base/mcp/test_mcp_util.py
  src/backend/tests/unit/test_webhook.py
  src/frontend/src/components/core/parameterRenderComponent/components/textAreaComponent/index.tsx
  src/frontend/src/controllers/API/queries/config/use-get-config.ts
  src/frontend/src/modals/apiModal/utils/get-curl-code.tsx
  src/frontend/src/stores/utilityStore.ts
  src/frontend/src/types/tweaks/index.ts
  src/frontend/src/types/zustand/utility/index.ts
Labels: enhancement, lgtm, fast-track

#9482 feat: Move comprehensive coverage check workflow before approved
  .github/changes-filter.yaml
  .github/workflows/ci.yml
Labels: enhancement, lgtm

#9599 fix: disable mcp auto install for not installed applications, refactor mcp-projects logic
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/tests/unit/base/mcp/test_mcp_util.py
  src/backend/tests/unit/components/inputs/test_input_components.py
  src/frontend/src/controllers/API/queries/mcp/use-get-installed-mcp.ts
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/McpSidebarGroup.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/McpSidebarGroup.test.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/src/pages/MainPage/pages/homePage/components/McpServerTab.tsx
  src/frontend/tests/extended/features/mcp-server.spec.ts
  src/frontend/tests/extended/regression/generalBugs-shard-10.spec.ts
Labels: bug, lgtm
