Repository langflow-ai/langflow, pull requests merged in 2025-10, with the labels that each got.

#10041 docs: windows desktop update issue
  README.md
  docs/docs/Get-Started/get-started-installation.mdx
  docs/docs/Support/release-notes.mdx
Labels: documentation, lgtm

#10076 fix: Correct read_project pagination logic and improve test stability (nightly fix)
  src/backend/base/langflow/api/v1/projects.py
  src/backend/tests/unit/api/v1/test_projects.py
  src/frontend/playwright.config.ts
  src/frontend/tests/core/integrations/starter-projects-shard1.spec.ts
  src/frontend/tests/core/integrations/starter-projects-shard2.spec.ts
  src/frontend/tests/core/integrations/starter-projects-shard3.spec.ts
  src/frontend/tests/core/integrations/starter-projects-shard4.spec.ts
Labels: bug

#9886 fix: add fixed space for scrollbar on flow sidebar
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/McpSidebarGroup.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/McpSidebarGroup.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/__tests__/sidebarBundles.test.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/categoryGroup.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/sidebarBundles.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
  src/frontend/tailwind.config.mjs
Labels: bug

#10050 chore: update langchain links in docs
  docs/docs/Components/bundles-amazon.mdx
  docs/docs/Components/bundles-anthropic.mdx
  docs/docs/Components/bundles-azure.mdx
  docs/docs/Components/bundles-elastic.mdx
  docs/docs/Components/bundles-groq.mdx
  docs/docs/Components/bundles-huggingface.mdx
  docs/docs/Components/bundles-ibm.mdx
  docs/docs/Components/bundles-langchain.mdx
  docs/docs/Components/bundles-mongodb.mdx
  docs/docs/Components/bundles-pgvector.mdx
  docs/docs/Develop/data-types.mdx
  docs/docs/_partial-vector-store-instance.mdx
Labels: lgtm, ignore-for-release

#9919 fix: Clear React Query cache on auth events
  src/frontend/src/controllers/API/queries/auth/__tests__/use-post-logout.test.ts
  src/frontend/src/controllers/API/queries/auth/use-get-autologin.ts
  src/frontend/src/controllers/API/queries/auth/use-post-login-user.ts
  src/frontend/src/controllers/API/queries/auth/use-post-logout.ts
  src/frontend/src/hooks/use-sanitize-redirect-url.ts
  src/frontend/src/pages/AdminPage/LoginPage/index.tsx
  src/frontend/src/pages/AppInitPage/index.tsx
  src/frontend/src/pages/LoginPage/index.tsx
Labels: bug, lgtm

#10068 feat: Add Openrag feature flag changing starter project name
  .secrets.baseline
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/services/database/models/folder/constants.py
  src/backend/tests/unit/api/utils/test_config_utils.py
  src/backend/tests/unit/initial_setup/test_setup_functions.py
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/header-buttons.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/components/select-options.tsx
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/controllers/API/queries/config/use-get-config.ts
  src/frontend/src/controllers/API/queries/folders/use-get-folders.ts
  src/frontend/src/stores/__tests__/utilityStore.test.ts
  src/frontend/src/stores/utilityStore.ts
  src/frontend/src/types/zustand/utility/index.ts
Labels: enhancement, lgtm

#10099 fix: Backport macOS specific ver reqs
  pyproject.toml
  uv.lock
Labels: bug, lgtm

#10109 fix: Update Bedrock component replacement class name
  src/lfx/src/lfx/components/amazon/amazon_bedrock_model.py
Labels: bug, lgtm

#10135 fix: Properly specify MLX pins for full platform compatibility
  pyproject.toml
Labels: bug, lgtm

#10141 chore: revert smart function name change in docs
  docs/docs/Components/bundles-aiml.mdx
  docs/docs/Components/bundles-amazon.mdx
  docs/docs/Components/bundles-anthropic.mdx
  docs/docs/Components/bundles-azure.mdx
  docs/docs/Components/bundles-baidu.mdx
  docs/docs/Components/bundles-cohere.mdx
  docs/docs/Components/bundles-deepseek.mdx
  docs/docs/Components/bundles-groq.mdx
  docs/docs/Components/bundles-huggingface.mdx
  docs/docs/Components/bundles-ibm.mdx
  docs/docs/Components/bundles-lmstudio.mdx
  docs/docs/Components/bundles-maritalk.mdx
  docs/docs/Components/bundles-mistralai.mdx
  docs/docs/Components/bundles-novita.mdx
  docs/docs/Components/bundles-ollama.mdx
  docs/docs/Components/bundles-openai.mdx
  docs/docs/Components/bundles-openrouter.mdx
  docs/docs/Components/bundles-perplexity.mdx
  docs/docs/Components/bundles-sambanova.mdx
  docs/docs/Components/bundles-vertexai.mdx
  docs/docs/Components/bundles-xai.mdx
  docs/docs/Components/components-models.mdx
  docs/docs/Components/components-processing.mdx
  docs/docs/Develop/data-types.mdx
Labels: lgtm, ignore-for-release

#10112 fix: Strip /v1 suffix from base URL and improve error handling in OllamaComponent
  src/backend/tests/unit/components/languagemodels/test_chatollama_component.py
  src/lfx/src/lfx/components/ollama/ollama.py
Labels: bug, lgtm

#10142 fix: lazy load settings service; fix env init order
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/api/v1/knowledge_bases.py
  src/backend/base/langflow/api/v1/mcp_projects.py
  src/backend/base/langflow/base/mcp/util.py
  src/backend/base/langflow/components/input_output/chat_output.py
  src/backend/base/langflow/components/knowledge_bases/ingestion.py
  src/backend/base/langflow/components/knowledge_bases/retrieval.py
  src/backend/base/langflow/graph/edge/base.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Financial Report Parser.json
  src/backend/base/langflow/initial_setup/starter_projects/Hybrid Search RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Invoice Summarizer.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Ingestion.json
  src/backend/base/langflow/initial_setup/starter_projects/Knowledge Retrieval.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Meeting Summary.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/News Aggregator.json
  src/backend/base/langflow/initial_setup/starter_projects/Nvidia Remix.json
  src/backend/base/langflow/initial_setup/starter_projects/Pokédex Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Portfolio Website Code Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Price Deal Finder.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Translation Loop.json
  src/backend/base/langflow/initial_setup/starter_projects/SEO Keyword Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Search agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Social Media Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Text Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Youtube Analysis.json
  src/backend/base/langflow/schema/dataframe.py
  src/backend/base/langflow/services/deps.py
  src/backend/tests/integration/test_exception_telemetry.py
  src/backend/tests/unit/base/mcp/test_mcp_util.py
  src/backend/tests/unit/components/bundles/google/test_google_bq_sql_executor_component.py
  src/backend/tests/unit/components/data/test_directory_component.py
  src/backend/tests/unit/components/knowledge_bases/test_ingestion.py
  src/backend/tests/unit/components/knowledge_bases/test_retrieval.py
  src/backend/tests/unit/components/languagemodels/test_chatollama_component.py
  src/backend/tests/unit/components/languagemodels/test_openai_model.py
  src/backend/tests/unit/components/processing/test_parser_component.py
  src/backend/tests/unit/custom/test_utils_metadata.py
  src/backend/tests/unit/test_exception_telemetry.py
  src/backend/tests/unit/test_import_utils.py
  src/backend/tests/unit/test_messages_endpoints.py
  src/backend/tests/unit/test_settings_initialization_order.py
  src/backend/tests/unit/utils/test_validate.py
Labels: bug, lgtm

#10037 fix: broadly catch exceptions when building components
  src/backend/tests/unit/test_load_components.py
  src/lfx/src/lfx/components/nvidia/nvidia.py
  src/lfx/src/lfx/interface/components.py
Labels: bug, lgtm

#10140 docs: exclude docs directory from pre-commit hook
  .pre-commit-config.yaml
Labels: documentation, lgtm

#10159 docs: fix warning syntax
  docs/docs/Support/release-notes.mdx
Labels: documentation, lgtm

#10125 feat: Knowledge Ingestion template behind a feature flag
  src/frontend/src/modals/templatesModal/components/GetStartedComponent/index.tsx
  src/frontend/src/modals/templatesModal/components/TemplateContentComponent/index.tsx
Labels: enhancement, lgtm

#10123 fix: environment variable text focus
  src/frontend/src/modals/IOModal/components/IOFieldView/components/key-pair-input.tsx
Labels: bug, lgtm

#9812 refactor: improve logging in `run` and `serve` commands in `lfx`
  src/lfx/src/lfx/cli/commands.py
  src/lfx/src/lfx/cli/run.py
  src/lfx/src/lfx/graph/vertex/param_handler.py
  src/lfx/src/lfx/log/logger.py
  src/lfx/tests/unit/cli/test_run_command.py
  src/lfx/tests/unit/cli/test_run_real_flows.py
Labels: lgtm, refactor
