Repository langflow-ai/langflow, pull requests merged in 2025-01, with the labels that each got.

#5488 Refactor: Remove unused API functions
  src/frontend/src/controllers/API/index.ts
  src/frontend/src/types/api/index.ts
Labels: size:L, lgtm

#5509 chore: Add manual trigger for Docker test workflow
  .github/workflows/docker_test.yml
Labels: size:XS, lgtm, ignore-for-release

#5508 refactor: run upgrade in dockerfiles to update dependencies
  docker/build_and_push.Dockerfile
  docker/build_and_push_base.Dockerfile
  docker/build_and_push_ep.Dockerfile
  docker/cdk.Dockerfile
  docker/dev.Dockerfile
Labels: size:M, lgtm, refactor

#5351 feat: improve gitloader component
  src/backend/base/langflow/components/git/git.py
  src/backend/tests/unit/components/git/__init__.py
  src/backend/tests/unit/components/git/test_git_component.py
Labels: enhancement, size:L, lgtm

#5526 docs: add components-processing link to sidebar and update documentation link in component
  docs/sidebars.js
  src/backend/base/langflow/components/langchain_utilities/recursive_character.py
Labels: documentation, size:XS, lgtm

#5148 feat: add anthropic mcp endpoint
  pyproject.toml
  src/backend/base/langflow/api/router.py
  src/backend/base/langflow/api/v1/__init__.py
  src/backend/base/langflow/api/v1/mcp.py
  src/backend/base/langflow/base/mcp/__init__.py
  src/backend/base/langflow/base/mcp/util.py
  src/backend/base/langflow/components/tools/__init__.py
  src/backend/base/langflow/components/tools/mcp_sse.py
  src/backend/base/langflow/components/tools/mcp_stdio.py
  src/backend/base/langflow/helpers/flow.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/tests/performance/test_server_init.py
  src/frontend/tests/extended/regression/generalBugs-shard-3.spec.ts
  uv.lock
Labels: enhancement, size:XL, lgtm

#5460 feat: Implement streaming support and EventManager integration in flow execution
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/events/event_manager.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/processing/process.py
Labels: enhancement, size:L, lgtm

#5532 feat(model): replace MessageTextInput with MultilineInput for system_message
  src/backend/base/langflow/base/models/model.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
Labels: enhancement, size:XL, lgtm

#4881 docs: remove Guides, add pages on other categories, add Types
  docs/docs/Components/components-helpers.md
  docs/docs/Components/components-io.md
  docs/docs/Components/components-loaders.md
  docs/docs/Components/components-memories.md
  docs/docs/Components/components-models.md
  docs/docs/Components/components-processing.md
  docs/docs/Components/components-vector-stores.md
  docs/docs/Configuration/configuration-objects.md
  docs/docs/Guides/guides-chat-memory.md
  docs/docs/Guides/guides-data-message.md
  docs/docs/Guides/guides-new-to-llms.md
  docs/docs/Tutorials/tutorials-memory-chatbot.md
  docs/docs/Workspace/workspace-playground.md
  docs/docusaurus.config.js
  docs/sidebars.js
Labels: documentation, size:XL, lgtm

#5533 fix: remove duplicate Components section from sidebar
  docs/docs/Configuration/configuration-objects.md
  docs/sidebars.js
Labels: bug, size:S, lgtm

#5535 fix: uv lock fixes issues from crosshair-tool versions
  uv.lock
Labels: bug, size:XS, lgtm

#5557 fix(nightly): refactor freeze-path feature test
  src/frontend/src/components/core/parameterRenderComponent/components/sliderComponent/index.tsx
  src/frontend/tests/core/features/freeze-path.spec.ts
  src/frontend/tests/utils/evaluate-input-react-state-changes.ts
Labels: bug, size:M

#5522 refactor: prevent tool mode on group component
  src/frontend/package-lock.json
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
  src/frontend/tests/core/features/toolModeGroup.spec.ts
Labels: size:M, lgtm, refactor

#5521 feat: make Agents not send message if not connected to an output component
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/graph/schema.py
  src/backend/base/langflow/graph/utils.py
Labels: enhancement, size:S, lgtm

#5512 feat: Revamp GlobalVariableModal
  src/frontend/src/components/core/GlobalVariableModal/GlobalVariableModal.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/components/popover/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputGlobalComponent/index.tsx
  src/frontend/src/components/ui/tabs-button.tsx
  src/frontend/src/types/components/index.ts
  src/frontend/tests/core/features/globalVariables.spec.ts
  src/frontend/tests/extended/features/userSettings.spec.ts
Labels: enhancement, size:XL, lgtm

#5562 tests: allow tests to skip version tests if `file_names_mapping` is empty
  src/backend/tests/base.py
Labels: size:XS, lgtm

#5079 Refactor: update selectors in outdated message test
  src/frontend/tests/extended/features/outdated-message.spec.ts
Labels: size:S, lgtm

#5560 Fix: update viewBox dimensions in Langwatch component
  src/frontend/src/icons/Langwatch/langwatch-icon.svg
  src/frontend/src/icons/Langwatch/langwatch.jsx
Labels: size:XS, lgtm

#5431 refactor: Update WikidataAPI component to standard output pattern
  src/backend/base/langflow/components/tools/wikidata_api.py
  src/backend/tests/unit/components/tools/test_wikidata_api.py
Labels: size:L, lgtm, refactor

#5571 fix: add tests and adjustments to Chroma component
  src/backend/base/langflow/base/vectorstores/model.py
  src/backend/base/langflow/components/tools/mcp_sse.py
  src/backend/base/langflow/components/vectorstores/chroma.py
  src/backend/base/langflow/utils/async_helpers.py
  src/backend/tests/unit/components/vectorstores/__init__.py
  src/backend/tests/unit/components/vectorstores/test_chroma_vector_store_component.py
  src/frontend/src/modals/editNodeModal/components/editNodeComponent/index.tsx
Labels: bug, size:L, lgtm

#5573 tests: fix tests by clearing service_manager services
  src/backend/tests/conftest.py
  src/backend/tests/unit/api/v1/test_files.py
Labels: bug, size:L, lgtm

#5020 feat: Add support for loading flows and components from URLs
  src/backend/base/langflow/initial_setup/setup.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/tests/unit/test_initial_setup.py
Labels: enhancement, size:L, lgtm

#5536 feat: add ctrl+shift+z alternative shortcut for redoing actions
  src/frontend/src/constants/constants.ts
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/stores/shortcuts.ts
  src/frontend/src/types/store/index.ts
Labels: enhancement, size:S, lgtm

#5592 chore: Use expose instead of ports in docker compose example
  docker_example/docker-compose.yml
Labels: size:XS, lgtm, ignore-for-release

#5449 Fix: Fixed agent not found in SequentialCrewComponent.
  src/backend/base/langflow/components/crewai/sequential_crew.py
Labels: bug, size:S, lgtm

#5502 fix: Google Embeddings model dimension mismatch.
  src/backend/base/langflow/components/embeddings/google_generative_ai.py
Labels: bug, size:XS, lgtm

#5537 feat: astra db chunks deletion based on metadata field
  src/backend/base/langflow/components/vectorstores/astradb.py
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: enhancement, size:S, lgtm

#5489 feat: add batch run beta component
  src/backend/base/langflow/components/helpers/__init__.py
  src/backend/base/langflow/components/helpers/batch_run.py
  src/backend/tests/unit/components/helpers/test_batch_run_component.py
  src/backend/tests/unit/components/helpers/test_structured_output_component.py
  src/backend/tests/unit/mock_language_model.py
Labels: enhancement, size:L, lgtm

#5596 feat: add Store API Key management functionality
  src/frontend/src/constants/constants.ts
  src/frontend/src/pages/SettingsPage/index.tsx
  src/frontend/src/pages/SettingsPage/pages/ApiKeysPage/components/ApiKeyHeader/index.tsx
  src/frontend/src/pages/SettingsPage/pages/GeneralPage/index.tsx
  src/frontend/src/pages/SettingsPage/pages/StoreApiKeyPage/components/StoreApiKeyForm.tsx
  src/frontend/src/pages/SettingsPage/pages/StoreApiKeyPage/index.tsx
  src/frontend/src/pages/SettingsPage/pages/StorePage/index.tsx
  src/frontend/src/routes.tsx
Labels: enhancement, size:L, lgtm

#5426 fix: Add factor to prevent overlap
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/stores/flowStore.ts
  src/frontend/src/types/zustand/flow/index.ts
  src/frontend/src/utils/reactflowUtils.ts
Labels: bug, size:M, lgtm

#5609 feat: Update Simple Agent example with latest Calculator version
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
Labels: enhancement, size:L, lgtm

#5425 fix: remove upper size limit for Notes
  src/frontend/src/CustomNodes/NoteNode/index.tsx
Labels: bug, size:XS, lgtm

#5131 feat(component): enhance chat input component
  src/backend/base/langflow/components/inputs/chat.py
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompt Chaining.json
  src/backend/base/langflow/initial_setup/starter_projects/Basic Prompting.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Document Q&A.json
  src/backend/base/langflow/initial_setup/starter_projects/Image Sentiment Analysis.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Memory Chatbot.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents .json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/initial_setup/starter_projects/Twitter Thread Generator.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/tests/unit/graph/graph/test_cycles.py
Labels: enhancement, size:L, lgtm

#5604 feat: add Graph Rag template Renamed template file name
  src/backend/base/langflow/initial_setup/starter_projects/Graph Vector Store RAG.json
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, size:XS, lgtm

#5538 refactor: add graph utility tests and refactor sorting methods
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/utils.py
  src/backend/base/langflow/services/socket/utils.py
  src/backend/tests/data/WebhookTest.json
  src/backend/tests/unit/graph/graph/test_utils.py
  src/backend/tests/unit/test_chat_endpoint.py
  src/backend/tests/unit/test_endpoints.py
  src/backend/tests/unit/test_webhook.py
Labels: size:XXL, lgtm, refactor

#5492 fix: the database url is missing ":\\" when sqlite or postgresql is not used
  src/backend/base/langflow/initial_setup/starter_projects/Graph Vector Store RAG.json
  src/backend/base/langflow/services/database/service.py
Labels: bug, size:S, lgtm

#5343 feature: add command feature column to toolset table and other minor table improvements
  src/backend/base/langflow/base/tools/component_tool.py
  src/backend/base/langflow/base/tools/constants.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/inputs/input_mixin.py
  src/backend/base/langflow/schema/table.py
  src/frontend/src/App.css
  src/frontend/src/components/core/parameterRenderComponent/components/TableNodeComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/types.ts
  src/frontend/src/modals/tableModal/index.tsx
  src/frontend/src/types/api/index.ts
  src/frontend/src/types/utils/functions.ts
  src/frontend/src/utils/stringManipulation.ts
  src/frontend/src/utils/utils.ts
Labels: size:L, lgtm

#5589 feat(dataframe): add support for DataFrame outputs across multiple components
  src/backend/base/langflow/base/data/utils.py
  src/backend/base/langflow/base/vectorstores/model.py
  src/backend/base/langflow/components/data/directory.py
  src/backend/base/langflow/components/data/url.py
  src/backend/base/langflow/components/processing/split_text.py
  src/backend/base/langflow/custom/custom_component/base_component.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Graph Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
  src/backend/base/langflow/schema/dataframe.py
  src/backend/tests/unit/components/data/__init__.py
  src/backend/tests/unit/components/data/test_directory_component.py
  src/backend/tests/unit/components/data/test_url_component.py
  src/backend/tests/unit/components/processing/test_split_text_component.py
  src/backend/tests/unit/initial_setup/starter_projects/test_vector_store_rag.py
  src/backend/tests/unit/test_data_components.py
Labels: enhancement, size:XXL, lgtm

#5613 refactor: update DataFrame color to pink
  src/frontend/src/style/index.css
  src/frontend/src/utils/styleUtils.ts
Labels: size:S, lgtm, refactor

#5525 feat: allow flow name to be edited from the main page or by clicking header
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/components/core/editFlowSettingsComponent/index.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/modals/flowSettingsModal/index.tsx
  src/frontend/src/pages/MainPage/components/dropdown/index.tsx
  src/frontend/src/pages/MainPage/components/grid/index.tsx
  src/frontend/src/pages/MainPage/components/list/index.tsx
  src/frontend/src/pages/MainPage/hooks/use-select-options-change.tsx
  src/frontend/src/types/components/index.ts
  src/frontend/tests/core/features/auto-login-off.spec.ts
  src/frontend/tests/core/features/store-shard-2.spec.ts
  src/frontend/tests/core/regression/generalBugs-shard-4.spec.ts
  src/frontend/tests/extended/features/edit-flow-name.spec.ts
  src/frontend/tests/extended/features/flowSettings.spec.ts
Labels: enhancement, javascript, size:XL, lgtm

#5627 fix: problem with saving files from APIRequestComponent
  src/backend/base/langflow/components/data/api_request.py
  src/backend/tests/unit/components/data/test_api_request_component.py
  src/backend/tests/unit/test_data_components.py
Labels: bug, size:L, lgtm

#5600 feat: standardize node output icons with TextSearch and Chevrons
  src/frontend/src/CustomNodes/GenericNode/components/NodeInputField/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/NodeOutputfield/index.tsx
  src/frontend/src/CustomNodes/GenericNode/components/RenderInputParameters/index.tsx
  src/frontend/src/CustomNodes/GenericNode/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/sliderComponent/index.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/tests/core/features/chatInputOutputUser-shard-0.spec.ts
  src/frontend/tests/extended/integrations/chatInputOutputUser-shard-1.spec.ts
Labels: enhancement, size:M, lgtm

#5623 feat: enhance URL component with improved description and render parameters
  src/backend/base/langflow/components/data/url.py
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Graph Vector Store RAG.json
  src/backend/base/langflow/inputs/input_mixin.py
  src/frontend/src/CustomNodes/GenericNode/components/NodeInputField/index.tsx
  src/frontend/src/CustomNodes/NoteNode/components/select-items.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputListComponent/components/button-input-list.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputListComponent/components/dropdown-menu.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputListComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/types.ts
  src/frontend/src/hooks/use-overlap-shortcuts.tsx
  src/frontend/src/style/applies.css
  src/frontend/src/utils/styleUtils.ts
  src/frontend/tests/core/features/stop-building.spec.ts
  src/frontend/tests/core/regression/generalBugs-shard-5.spec.ts
  src/frontend/tests/core/unit/chatInputOutput.spec.ts
  src/frontend/tests/core/unit/inputListComponent.spec.ts
Labels: enhancement, size:XL, lgtm

#5626 docs: update custom components documentation (Fixes #5595)
  docs/docs/Components/components-custom-components.md
Labels: documentation, size:M, lgtm

#5643 fix: address api_request issues on Python 3.11+
  src/backend/base/langflow/components/data/api_request.py
  src/backend/tests/unit/components/data/test_api_request_component.py
Labels: bug, size:M

#5646 test: improve element interactions in generalBugs shard 7 tests (nightly fix)
  src/frontend/tests/extended/regression/generalBugs-shard-7.spec.ts
Labels: size:S

#5644 feat: add UI/UX improvements on InputListComponent
  src/backend/base/langflow/components/data/url.py
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Graph Vector Store RAG.json
  src/frontend/src/components/core/parameterRenderComponent/components/inputListComponent/components/button-input-list.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputListComponent/components/dropdown-menu.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputListComponent/index.tsx
  src/frontend/src/style/applies.css
  src/frontend/tests/core/unit/inputListComponent.spec.ts
Labels: enhancement, size:L, lgtm

#5616 refactor: Comment out deprecated playground page
  src/frontend/src/routes.tsx
Labels: size:XS, lgtm, refactor

#5611 docs: use fernet for secret key generation
  docs/docs/Configuration/configuration-authentication.md
  docs/docs/Deployment/deployment-docker.md
Labels: documentation, size:M, lgtm

#5654 ci: Stop using uv to catch dependency timeouts in nightly workflow
  .github/workflows/release_nightly.yml
Labels: size:XS, lgtm

#5516 fix: Improve `update_flow` data consistency, refine error handling, and add folder-moving tests
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/flows.py
  src/backend/base/langflow/services/database/models/flow/utils.py
  src/backend/base/langflow/services/database/service.py
  src/frontend/src/components/core/folderSidebarComponent/components/sideBarFolderButtons/index.tsx
  src/frontend/tests/extended/regression/general-bugs-move-flow-from-folder.spec.ts
Labels: bug, size:L, lgtm

#5668 fix: replace hasattr with dictionary key check for flow_data nodes (nightly fix)
  src/backend/base/langflow/services/database/models/flow/utils.py
Labels: bug, size:XS

#5670 fix: default flow locked property to false instead of null (nightly fix)
  src/frontend/src/controllers/API/queries/flows/use-patch-update-flow.ts
  uv.lock
Labels: bug, size:XS

#5615 feat: adds test cases for loop component compatibility with the APIs, Loop component updates to support API
  src/backend/base/langflow/components/logic/loop.py
  src/backend/base/langflow/custom/custom_component/custom_component.py
  src/backend/tests/conftest.py
  src/backend/tests/data/LoopTest.json
  src/backend/tests/unit/components/logic/__init__.py
  src/backend/tests/unit/components/logic/test_loop.py
Labels: enhancement, size:XXL, lgtm

#5666 feat: Bump ruff version to 0.9
  pyproject.toml
  scripts/ci/update_starter_projects.py
  src/backend/base/langflow/api/v1/chat.py
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/components/langchain_utilities/__init__.py
  src/backend/base/langflow/components/langchain_utilities/csv_agent.py
  src/backend/base/langflow/components/langchain_utilities/json_agent.py
  src/backend/base/langflow/components/langchain_utilities/xml_agent.py
  src/backend/base/langflow/graph/__init__.py
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/constants.py
  src/backend/base/langflow/graph/vertex/vertex_types.py
  src/backend/base/langflow/interface/components.py
  src/backend/base/langflow/interface/listing.py
  src/backend/base/langflow/main.py
  src/backend/base/langflow/utils/async_helpers.py
  src/backend/tests/performance/test_server_init.py
  src/backend/tests/unit/base/tools/test_toolmodemixin.py
  src/backend/tests/unit/components/data/test_api_request_component.py
  src/backend/tests/unit/components/data/test_directory_component.py
  src/backend/tests/unit/components/data/test_url_component.py
  src/backend/tests/unit/components/models/test_huggingface.py
  src/backend/tests/unit/components/processing/test_split_text_component.py
  src/backend/tests/unit/graph/graph/test_utils.py
  src/backend/tests/unit/graph/test_graph.py
  src/backend/tests/unit/initial_setup/starter_projects/test_vector_store_rag.py
  src/backend/tests/unit/test_endpoints.py
  src/backend/tests/unit/test_initial_setup.py
  uv.lock
Labels: enhancement, size:L, lgtm

#5694 ci: Update nightly build workflow to delete existing main tags before generating new ones
  .github/workflows/nightly_build.yml
Labels: size:S, lgtm

#5692 fix: simplify InputFileComponent to use native file picker
  src/frontend/src/components/core/parameterRenderComponent/components/inputFileComponent/index.tsx
Labels: bug, javascript, size:L, lgtm

#5499 docs: API examples
  docs/docs/API-Reference/api-reference-api-examples.md
  docs/docs/Workspace/workspace-api.md
  docs/openapi.json
  docs/sidebars.js
Labels: documentation, size:XXL, lgtm

#5697 refactor: Improve createFileUpload reliability and performance
  src/frontend/src/components/core/parameterRenderComponent/components/inputFileComponent/index.tsx
  src/frontend/src/helpers/create-file-upload.ts
Labels: javascript, size:L, lgtm, refactor

#5689 fix: add missing Needle component icon
  src/backend/base/langflow/components/needle/needle.py
Labels: bug, size:XS, lgtm

#5656 Fix: update tweaks processing to allow input_type without input_value
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/tests/unit/test_endpoints.py
Labels: bug, size:M, lgtm

#5705 ci: Add GitHub Actions workflow for LGTM label management
  .github/workflows/add-labels.yml
Labels: size:M

#5703 feat: Add Support for validating Tool Mode Models in NVIDIA LLM Component
  src/backend/base/langflow/components/models/nvidia.py
Labels: enhancement, size:S, lgtm

#5648 refactor: add tooltips to UI global variables components
  src/frontend/src/components/core/GlobalVariableModal/GlobalVariableModal.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputComponent/components/popover/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputGlobalComponent/index.tsx
Labels: size:M, lgtm, refactor

#5722 docs: add Working with Flows page
  docs/docs/Concepts/concepts-flows.md
  docs/sidebars.js
  docs/static/img/flows/import.gif
Labels: documentation, size:S

#5576 docs: concepts folder
  docs/docs/API-Reference/api-reference-api-examples.md
  docs/docs/Components/components-embedding-models.md
  docs/docs/Components/components-io.md
  docs/docs/Components/components-loaders.md
  docs/docs/Components/components-overview.md
  docs/docs/Components/components-tools.md
  docs/docs/Concepts/concepts-api.md
  docs/docs/Concepts/concepts-components.md
  docs/docs/Concepts/concepts-flows.md
  docs/docs/Concepts/concepts-overview.md
  docs/docs/Concepts/concepts-playground.md
  docs/docs/Get-Started/get-started-quickstart.md
  docs/docs/Workspace/workspace-logs.md
  docs/docs/Workspace/workspace-overview.md
  docs/docs/Workspace/workspace-playground.md
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/static/img/flows/import.gif
  docs/static/img/logs.png
  docs/static/img/messages-logs.png
  docs/static/img/workspace-basic-prompting.png
  docs/static/img/workspace.png
Labels: documentation, size:XXL, lgtm

#5724 feat: Add data-testid and id attributes to app header components for testing
  src/frontend/src/components/core/appHeaderComponent/components/AccountMenu/index.tsx
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/components/core/appHeaderComponent/components/HeaderMenu/index.tsx
  src/frontend/src/components/core/appHeaderComponent/components/ThemeButtons/index.tsx
  src/frontend/src/components/core/appHeaderComponent/index.tsx
  src/frontend/src/components/core/flowToolbarComponent/index.tsx
Labels: enhancement, javascript, size:L, lgtm

#5730 ci: limit test duration update to unit tests and allow to continue on error
  .github/workflows/store_pytest_durations.yml
  src/backend/tests/.test_durations
Labels: size:XS, lgtm

#5702 feat: enhance AIML model input validation and UX
  src/backend/base/langflow/components/models/aiml.py
Labels: enhancement, size:S, lgtm

#5676 fix: Handle the special case Azure Deployment params
  src/backend/base/langflow/base/agents/crewai/crew.py
Labels: bug, size:S, lgtm

#5727 fix: remove subscribe call and add unsubscribe method in StateService
  src/backend/base/langflow/graph/graph/base.py
  src/backend/base/langflow/graph/graph/state_manager.py
  src/backend/base/langflow/services/state/service.py
Labels: bug, size:S, lgtm

#5712 feat: improve model input fields for Cohere component
  src/backend/base/langflow/components/models/cohere.py
Labels: enhancement, size:S, lgtm

#5432 refactor: Refactor Wikipedia API component
  src/backend/base/langflow/components/tools/wikipedia_api.py
  src/backend/tests/unit/components/tools/test_wikipedia_api.py
Labels: size:L, lgtm, refactor

#5471 refactor: improve naming consistency in DataCombiner component
  src/backend/base/langflow/components/processing/merge_data.py
Labels: size:M, lgtm, refactor

#5704 feat: add truncation to ResultDataResponse
  pyproject.toml
  src/backend/base/langflow/api/v1/schemas.py
  src/backend/base/langflow/utils/constants.py
  src/backend/tests/unit/api/v1/test_api_schemas.py
  uv.lock
Labels: enhancement, size:L, lgtm

#5735 fix: pass slider input values correctly, add test
  src/backend/base/langflow/graph/vertex/base.py
  src/backend/base/langflow/utils/constants.py
  src/backend/tests/unit/inputs/test_inputs.py
Labels: bug, enhancement, size:S, lgtm

#5710 feat: make AWS credentials required in bedrock component
  src/backend/base/langflow/components/models/amazon_bedrock.py
Labels: enhancement, size:XS, lgtm

#5720 feat: Add function to validate models with tool calling function and related fixes in agent component
  src/backend/base/langflow/base/models/model.py
  src/backend/base/langflow/base/models/model_input_constants.py
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/components/models/anthropic.py
  src/backend/base/langflow/components/models/groq.py
  src/backend/base/langflow/components/models/nvidia.py
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents .json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
Labels: enhancement, size:L, lgtm

#5581 feat: assistants agent improvements
  pyproject.toml
  src/backend/base/langflow/alembic/__init__.py
  src/backend/base/langflow/alembic/env.py
  src/backend/base/langflow/base/astra_assistants/util.py
  src/backend/base/langflow/components/astra_assistants/astra_assistant_manager.py
  uv.lock
Labels: enhancement, size:L, lgtm

#5669 refactor: enhance flow type safety and clean up unused code
  src/frontend/src/components/core/cardComponent/index.tsx
  src/frontend/src/hooks/flows/use-save-flow.ts
  src/frontend/src/pages/FlowPage/components/PageComponent/index.tsx
  src/frontend/src/pages/SettingsPage/pages/GeneralPage/index.tsx
Labels: size:S, lgtm, refactor

#5739 feat: Add `required=True` to essential inputs across Langflow components
  src/backend/base/langflow/components/assemblyai/assemblyai_get_subtitles.py
  src/backend/base/langflow/components/assemblyai/assemblyai_lemur.py
  src/backend/base/langflow/components/assemblyai/assemblyai_list_transcripts.py
  src/backend/base/langflow/components/assemblyai/assemblyai_poll_transcript.py
  src/backend/base/langflow/components/assemblyai/assemblyai_start_transcript.py
  src/backend/base/langflow/components/embeddings/amazon_bedrock.py
  src/backend/base/langflow/components/embeddings/google_generative_ai.py
  src/backend/base/langflow/components/embeddings/huggingface_inference_api.py
  src/backend/base/langflow/components/embeddings/lmstudioembeddings.py
  src/backend/base/langflow/components/embeddings/mistral.py
  src/backend/base/langflow/components/embeddings/nvidia.py
  src/backend/base/langflow/components/embeddings/ollama.py
  src/backend/base/langflow/components/embeddings/openai.py
  src/backend/base/langflow/components/embeddings/similarity.py
  src/backend/base/langflow/components/embeddings/text_embedder.py
  src/backend/base/langflow/components/embeddings/vertexai.py
  src/backend/base/langflow/components/helpers/structured_output.py
  src/backend/base/langflow/components/icosacomputing/combinatorial_reasoner.py
  src/backend/base/langflow/components/langchain_utilities/character.py
  src/backend/base/langflow/components/langchain_utilities/csv_agent.py
  src/backend/base/langflow/components/langchain_utilities/html_link_extractor.py
  src/backend/base/langflow/components/langchain_utilities/language_recursive.py
  src/backend/base/langflow/components/langchain_utilities/language_semantic.py
  src/backend/base/langflow/components/langchain_utilities/natural_language.py
  src/backend/base/langflow/components/langchain_utilities/recursive_character.py
  src/backend/base/langflow/components/logic/conditional_router.py
  src/backend/base/langflow/components/logic/pass_message.py
  src/backend/base/langflow/components/notdiamond/notdiamond.py
  src/backend/base/langflow/initial_setup/starter_projects/Graph Vector Store RAG.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: enhancement, size:M, lgtm

#5686 feat: make YouTube Transcripts URL field required
  src/backend/base/langflow/components/tools/youtube_transcripts.py
Labels: enhancement, size:XS, lgtm

#5733 fix: Fix memory leak when creating components
  src/backend/base/langflow/utils/validate.py
Labels: bug, size:XS, lgtm

#5752 test: Update API key requirements and test configurations for frontend tests (fix nightly)
  src/frontend/tests/core/integrations/Custom Component Generator.spec.ts
  src/frontend/tests/core/unit/sliderComponent.spec.ts
Labels: size:M, test

#5708 feat: improve model input fields for sambanova component
  src/backend/base/langflow/components/models/sambanova.py
Labels: enhancement, size:XS, lgtm

#5443 feat: Add DeepSeek Model component
  src/backend/base/langflow/components/models/__init__.py
  src/backend/base/langflow/components/models/deepseek.py
  src/backend/tests/unit/components/models/test_deepseek.py
  src/frontend/src/icons/DeepSeek/DeepSeekIcon.jsx
  src/frontend/src/icons/DeepSeek/deepseek.svg
  src/frontend/src/icons/DeepSeek/index.tsx
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, size:L, lgtm

#5715 feat: improve model input fields for OpenRouter component
  src/backend/base/langflow/components/models/openrouter.py
Labels: enhancement, size:XS, lgtm

#5459 feat: add GitExtractor component
  src/backend/base/langflow/components/git/__init__.py
  src/backend/base/langflow/components/git/gitextractor.py
Labels: enhancement, size:L, lgtm

#5765 fix: don't raise error if bundle loading fails
  src/backend/base/langflow/main.py
Labels: bug, size:S, lgtm

#5680 fix: remove duplicate embedding input from PGVector component
  src/backend/base/langflow/components/vectorstores/pgvector.py
Labels: bug, size:XS, lgtm

#5709 feat: improve model input fields for perplexity component
  src/backend/base/langflow/components/models/perplexity.py
Labels: enhancement, size:XS, lgtm

#5682 feat(cohere): update settings configuration
  src/backend/base/langflow/components/embeddings/cohere.py
Labels: enhancement, size:XS, lgtm

#5517 refactor: decompose complex function into smaller ones for readability
  src/backend/base/langflow/custom/custom_component/component.py
Labels: size:L, lgtm, refactor

#5768 fix: adjust GenericNode width to fit component wrapper
  src/frontend/src/App.css
Labels: bug, size:XS, lgtm

#5475 feat: add LLM Router component using OpenRouter specs
  src/backend/base/langflow/components/processing/__init__.py
  src/backend/base/langflow/components/processing/llm_router.py
Labels: enhancement, size:L, lgtm

#5442 refactor: Calculator Component updating tool implementation and fix deprecation warnings
  src/backend/base/langflow/components/tools/__init__.py
  src/backend/base/langflow/components/tools/calculator.py
  src/backend/base/langflow/components/tools/calculator_core.py
  src/backend/tests/unit/components/tools/test_calculator.py
Labels: size:L, lgtm, refactor

#5430 refactor(component): Convert Tavily Search to standard component pattern
  src/backend/base/langflow/components/tools/__init__.py
  src/backend/base/langflow/components/tools/tavily.py
  src/backend/base/langflow/components/tools/tavily_search.py
Labels: size:L, lgtm, refactor

#5740 feat: make NvidiaRerankComponent work with search_results
  src/backend/base/langflow/components/nvidia/nvidia_rerank.py
Labels: enhancement, size:M, lgtm

#5690 feat: enhance Anthropic component UI and validation
  src/backend/base/langflow/components/models/anthropic.py
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
Labels: enhancement, size:XS, lgtm

#5518 feat: run flow component with tool mode option to run a flow as a tool
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/base/agents/agent.py
  src/backend/base/langflow/base/tools/component_tool.py
  src/backend/base/langflow/base/tools/run_flow.py
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/components/logic/run_flow.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents .json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/inputs/inputs.py
  src/backend/base/langflow/io/schema.py
  src/backend/base/langflow/services/tracing/schema.py
  src/backend/tests/unit/base/tools/test_create_schema.py
  src/backend/tests/unit/custom/component/test_component_to_tool.py
  src/backend/tests/unit/custom/custom_component/test_update_outputs.py
Labels: enhancement, size:XL, lgtm

#5678 refactor: Deprecate Subflow and Flow as Tool component in favor of RunFlow
  src/backend/base/langflow/components/logic/flow_tool.py
  src/backend/base/langflow/components/logic/sub_flow.py
  src/frontend/tests/core/features/filterSidebar.spec.ts
Labels: size:S, lgtm, refactor

#5594 feat: Add ParseDataFrameComponent for DataFrame-to-text conversion with tests
  src/backend/base/langflow/components/processing/__init__.py
  src/backend/base/langflow/components/processing/parse_dataframe.py
  src/backend/tests/unit/components/processing/test_parse_dataframe_component.py
Labels: enhancement, size:L, lgtm

#5444 refactor(google_search): migrate to new tool mode implementation
  src/backend/base/langflow/components/tools/__init__.py
  src/backend/base/langflow/components/tools/google_search_api.py
  src/backend/base/langflow/components/tools/google_search_api_core.py
  src/backend/tests/unit/components/tools/test_google_search_api.py
Labels: size:L, lgtm, refactor

#5711 refactor: Model input fields of Azure OpenAI component
  src/backend/base/langflow/components/models/azure_openai.py
Labels: size:S, lgtm, refactor

#5714 refactor: Model input fields of Google Generative AI component
  src/backend/base/langflow/components/models/google_generative_ai.py
Labels: size:S, lgtm, refactor

#5446 refactor(google_serper_api): migrate to new tool mode implementation
  src/backend/base/langflow/components/tools/__init__.py
  src/backend/base/langflow/components/tools/google_serper_api.py
  src/backend/base/langflow/components/tools/google_serper_api_core.py
  src/backend/tests/unit/components/tools/test_google_serper_api_core.py
  src/frontend/src/icons/Serper/Serper.jsx
  src/frontend/src/icons/Serper/serper.svg
  src/frontend/src/utils/styleUtils.ts
Labels: size:L, lgtm, refactor

#5780 feat: update starter projects with latest component versions (nightly fix)
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
Labels: enhancement, size:XXL

#5788 chore: Update starter projects
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
Labels: size:XXL

#5781 fix: tool mode reset for connected components when reloading the flow
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
Labels: bug, size:L, lgtm

#5789 fix: update Tavily component in Instagram Copywriter and Market Research projects and tests
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/frontend/tests/core/integrations/Instagram Copywriter.spec.ts
  src/frontend/tests/core/integrations/Market Research.spec.ts
Labels: bug, size:XXL

#5791 fix: restore template tags and correct names (nightly fix)
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Vector Store RAG.json
Labels: bug, size:M

#5658 feat: limit transaction and vertex build logging with retention policies
  src/backend/base/langflow/services/database/models/transactions/crud.py
  src/backend/base/langflow/services/database/models/vertex_builds/crud.py
  src/backend/base/langflow/services/settings/base.py
  src/backend/tests/unit/services/database/__init__.py
  src/backend/tests/unit/services/database/test_vertex_builds.py
  src/backend/tests/unit/test_chat_endpoint.py
Labels: enhancement, size:XL, lgtm

#5775 ci: adds verbosity to the backend unit tests output
  .github/workflows/python_test.yml
Labels: size:XS, lgtm

#5766 feat: enhance environment variable support and update settings configuration
  src/backend/base/langflow/__main__.py
  src/backend/base/langflow/services/settings/auth.py
Labels: enhancement, size:S, lgtm

#5797 feat: use all available time zone names in CurrentDateComponent
  src/backend/base/langflow/components/helpers/current_date.py
Labels: enhancement, size:M, lgtm

#5482 feat: preserve manual component data if code unchanged
  src/backend/base/langflow/template/utils.py
  src/frontend/src/CustomNodes/helpers/mutate-template.ts
  src/frontend/src/components/core/parameterRenderComponent/components/refreshParameterComponent/index.tsx
  src/frontend/src/modals/codeAreaModal/index.tsx
  src/frontend/src/pages/FlowPage/components/nodeToolbarComponent/index.tsx
Labels: enhancement, size:M, lgtm

#5795 fix: update datetime serialization to include timezone information
  src/backend/base/langflow/schema/data.py
Labels: bug, size:XS, lgtm

#5463 refactor(tools): overhaul Python REPL component with modern tool mode
  src/backend/base/langflow/components/tools/__init__.py
  src/backend/base/langflow/components/tools/python_repl.py
  src/backend/base/langflow/components/tools/python_repl_core.py
  src/backend/base/langflow/io/schema.py
  src/backend/tests/unit/components/tools/test_python_repl_tool.py
Labels: python, size:L, lgtm, refactor

#5716 fix: correct issue with change api key to be of type str
  src/backend/base/langflow/components/embeddings/huggingface_inference_api.py
Labels: bug, size:XS, lgtm

#5804 fix: change telemetry logging level from exception to error
  src/backend/base/langflow/services/telemetry/service.py
Labels: bug, size:XS, lgtm

#5761 fix: tool name in component toolkit if the name of the component is None
  src/backend/base/langflow/base/tools/component_tool.py
Labels: bug, size:XS, lgtm

#5758 feat: Add output dimensionality validation for Google AI embeddings
  src/backend/base/langflow/components/embeddings/google_generative_ai.py
Labels: enhancement, size:S, lgtm

#5763 fix: Adjust size of LMStudioIcon component
  src/frontend/src/icons/LMStudio/LMStudioIcon.jsx
Labels: bug, size:XS, lgtm

#5558 fix: fix typo Update DEVELOPMENT.md
  DEVELOPMENT.md
Labels: bug, size:XS, lgtm

#5380 feat: add new model provider Novita AI
  docs/docs/Components/components-models.md
  src/backend/base/langflow/base/models/novita_constants.py
  src/backend/base/langflow/components/models/__init__.py
  src/backend/base/langflow/components/models/novita.py
  src/backend/base/langflow/services/settings/constants.py
  src/frontend/src/icons/Novita/index.tsx
  src/frontend/src/icons/Novita/novita.jsx
  src/frontend/src/icons/Novita/novita.svg
  src/frontend/src/utils/styleUtils.ts
Labels: enhancement, size:L, lgtm

#5653 refactor: add utility methods for getting display name and improve error messages
  src/backend/base/langflow/custom/custom_component/component.py
Labels: size:L, lgtm, refactor

#5556 fix: fix typo in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: bug, size:XS, lgtm

#5497 feat(groq): added llama 3.3 models
  README.md
  src/backend/base/langflow/base/models/groq_constants.py
Labels: enhancement, size:XS, lgtm

#5726 refactor: Enhance InputList Component UI/UX
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Graph Vector Store RAG.json
  src/frontend/src/components/core/parameterRenderComponent/components/inputListComponent/components/delete-button-input-list.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/inputListComponent/index.tsx
  src/frontend/src/constants/constants.ts
  src/frontend/src/style/applies.css
  src/frontend/src/style/index.css
  src/frontend/tests/core/unit/inputListComponent.spec.ts
Labels: size:L, lgtm, refactor

#5695 docs: corrected typo `flowis` to `flow is`
  docs/docs/Starter-Projects/starter-projects-vector-store-rag.md
Labels: documentation, size:XS, lgtm

#5760 fix: make chat input sorting logic exclude other components
  src/backend/base/langflow/graph/graph/utils.py
  src/backend/tests/unit/graph/graph/test_utils.py
  src/backend/tests/unit/test_chat_endpoint.py
  src/backend/tests/unit/test_endpoints.py
Labels: bug, size:S, lgtm

#4944 feat: add more search parameters to google_serper_api component
  src/backend/base/langflow/components/tools/google_serper_api.py
  src/backend/base/langflow/initial_setup/starter_projects/Blog Writer.json
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Graph Vector Store RAG.json
Labels: enhancement, size:L, lgtm

#5805 fix: Add optional chaining for getSelectedRows in TableComponent
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/index.tsx
Labels: bug, size:XS, lgtm

#5806 tests: Remove unnecessary benchmark markers from server init tests
  src/backend/tests/performance/test_server_init.py
Labels: size:XS, lgtm

#5748 feat: Add model filtering support for Ollama Component, improving stability
  src/backend/base/langflow/base/models/ollama_constants.py
  src/backend/base/langflow/components/embeddings/ollama.py
  src/backend/base/langflow/components/models/ollama.py
  src/backend/tests/unit/components/models/test_chatollama_component.py
Labels: enhancement, size:L, lgtm

#5809 refactor: Remove "commands" field from TOOL_TABLE_SCHEMA
  src/backend/base/langflow/base/tools/constants.py
Labels: size:S, lgtm, refactor

#5415 feat: Introduced YouTube bundle with essential components
  src/backend/base/langflow/components/tools/__init__.py
  src/backend/base/langflow/components/tools/youtube_transcripts.py
  src/backend/base/langflow/components/youtube/__init__.py
  src/backend/base/langflow/components/youtube/channel.py
  src/backend/base/langflow/components/youtube/comments.py
  src/backend/base/langflow/components/youtube/playlist.py
  src/backend/base/langflow/components/youtube/search.py
  src/backend/base/langflow/components/youtube/trending.py
  src/backend/base/langflow/components/youtube/video_details.py
  src/backend/base/langflow/components/youtube/youtube_transcripts.py
  src/frontend/src/constants/constants.ts
  src/frontend/src/utils/styleUtils.ts
  src/frontend/tests/extended/integrations/youtube-transcripts.spec.ts
Labels: enhancement, size:XXL, lgtm

#5729 feat: Enhance FlowMenu name editing experience
  src/frontend/src/components/core/appHeaderComponent/components/FlowMenu/index.tsx
  src/frontend/src/components/core/parameterRenderComponent/components/sliderComponent/index.tsx
  src/frontend/tests/core/features/store-shard-2.spec.ts
  src/frontend/tests/core/unit/floatComponent.spec.ts
  src/frontend/tests/core/unit/sliderComponent.spec.ts
  src/frontend/tests/extended/features/edit-flow-name.spec.ts
  src/frontend/tests/extended/features/flowSettings.spec.ts
  src/frontend/tests/extended/integrations/youtube-transcripts.spec.ts
  src/frontend/tests/extended/regression/general-bugs-move-flow-from-folder.spec.ts
Labels: enhancement, size:L, lgtm

#5810 fix: solves agents auto refresh models setting real_time_refresh False
  src/backend/base/langflow/base/models/model_input_constants.py
  src/backend/base/langflow/components/models/anthropic.py
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents .json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
Labels: bug, size:M, lgtm

#5813 fix: removed refresh table when pagination is off
  src/frontend/src/components/core/parameterRenderComponent/components/tableComponent/index.tsx
Labels: bug, size:XS, lgtm

#5818 feat: update duckduckgo search component version
  pyproject.toml
  src/backend/base/langflow/components/tools/duck_duck_go_search_run.py
  uv.lock
Labels: enhancement, size:XS, lgtm

#5814 fix: change border color on chat input when active
  src/frontend/src/modals/IOModal/components/chatView/chatInput/chat-input.tsx
Labels: bug, javascript, size:XS, lgtm

#5819 feat: update starter projects templates
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents .json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
Labels: enhancement, size:XXL, lgtm

#5811 feat: implement function to truncate json
  src/backend/base/langflow/services/database/models/transactions/model.py
  src/backend/base/langflow/services/database/models/vertex_builds/model.py
  src/backend/base/langflow/services/database/utils.py
  src/backend/tests/unit/services/database/test_utils.py
Labels: enhancement, size:L, lgtm

#5821 fix: preserve template values in custom component updates
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents .json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
Labels: bug, size:XXL, lgtm

#5700 fix: update LANGFLOW_COMPONENTS_PATH env variable behavior
  src/backend/base/langflow/custom/directory_reader/directory_reader.py
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/components/categoryGroup/index.tsx
  src/frontend/src/pages/FlowPage/components/flowSidebarComponent/index.tsx
Labels: bug, size:L, lgtm

#5774 chore(deps): Upgrade codeflash - fix CI time crash
  uv.lock
Labels: size:XS, lgtm, ignore-for-release

#5660 fix: allow multipart/form-data boundary to end with a newline
  src/backend/base/langflow/main.py
Labels: bug, size:XS, lgtm

#5839 fix: add default models to Anthropic and make sure template is updated
  src/backend/base/langflow/api/v1/endpoints.py
  src/backend/base/langflow/base/models/model_input_constants.py
  src/backend/base/langflow/components/agents/agent.py
  src/backend/base/langflow/components/models/anthropic.py
  src/backend/base/langflow/components/models/groq.py
  src/backend/base/langflow/custom/custom_component/component.py
  src/backend/base/langflow/initial_setup/starter_projects/Custom Component Maker.json
  src/backend/base/langflow/initial_setup/starter_projects/Instagram Copywriter.json
  src/backend/base/langflow/initial_setup/starter_projects/Market Research.json
  src/backend/base/langflow/initial_setup/starter_projects/Research Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/SaaS Pricing.json
  src/backend/base/langflow/initial_setup/starter_projects/Sequential Tasks Agents .json
  src/backend/base/langflow/initial_setup/starter_projects/Simple Agent.json
  src/backend/base/langflow/initial_setup/starter_projects/Travel Planning Agents.json
  src/backend/base/langflow/memory.py
  src/backend/tests/base.py
  src/backend/tests/unit/api/v1/test_endpoints.py
  src/backend/tests/unit/components/agents/test_agent_component.py
  src/backend/tests/unit/mock_language_model.py
Labels: bug, size:L

#5841 refactor: update component test method and Agent component test for be asynchronous
  src/backend/tests/base.py
  src/backend/tests/unit/components/agents/test_agent_component.py
Labels: size:S
